.GqzDEK5Rwbwzv8qq1o_kV {
  height: 44px;
}
.GqzDEK5Rwbwzv8qq1o_kV ._1UDrm5TP1qs60-MjI4n2YH {
  align-self: flex-start;
  font-family: Roboto, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, 'PingFang SC', 'Hiragina Sans GB', 'WenQuanYi Micro Hei', 'microsoft yahei ui', 'microsoft yahei', sans-serif;
  color: #666;
  font-size: 12px;
  line-height: 14px;
}
.GqzDEK5Rwbwzv8qq1o_kV .dmDIOXCTYM_q6bGGd_fov {
  max-width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
}
