<div class="ruleTest AdvConAp_advCon_1WJb common_shrink-0_-99K" style="width: 100%; padding-right: 0px; padding-left: 0px;">
	<div class="AdvConAp_bar_10iI">
		<div class="AdvConAp_box_pChZ">
			<div class="AdvConAp_collapse_2Csb primary-text-in-light">
				<i class="AdvConAp_hide_1ImS"></i>
				<span class="AdvConAp_title_m5kd AdvConAp_cur_1IvL" title=""><%= inputconditionparam %></span>
			</div>
		</div>
		<div class="AdvConAp_toolbar_1mZx">
			<div class="AdvConToolbar_advTollBar_1Oo_">
				<div class="AdvConToolbar_toolbarItemSingle_1iKS link-color AdvConToolbar_textType_Cvzt" id="addCondition"><span class="AdvConToolbar_textspan_3nMe AdvConToolbar_toolbarItemSingle_cursor_nVC2"><%= addrow %></span></div>
				<div class="AdvConToolbar_toolbarItemSingle_1iKS link-color AdvConToolbar_textType_Cvzt" id="delCondition"><span class="AdvConToolbar_textspan_3nMe AdvConToolbar_toolbarItemSingle_cursor_nVC2"><%= deleterow %></span></div>
			</div>
		</div>
	</div>
	<div class="AdvConAp_panel_27Bc" style="position: relative; margin-left: 0px;">
		<div id="advconchildpanelap" data-page-id="1128814068795196416root221d6f1831e8467da42d71dfd82058ca_brm_scene_1266626533578125312_advconchildpanelap" class="FlexPanel_flex-panel_2Zkz common_overflow-auto_gyvG common_wrap_2Vpu common_grow-1_6Rq1">
			<div class="GridStyles_gridContainer_3L3Q ag-theme-material-kd GridStyles_billEdit_1qv6 billEdit-theme common_grow-1_6Rq1" id="sceneinputparams" style="width: 100%; min-height: 86px; height: 86px; max-height:446px;">
				<div class="GridStyles_absoluteContainer_3VMa">
					<div class="GridStyles_gridContainerI_3nhG" style="height: 84px; max-height:444px;width: 1740px; position: relative;">
						<div style="height: 100%;">
							<div class="ag-root-wrapper ag-layout-normal ag-ltr">
								<div>
									<div class="ag-column-drop ag-unselectable ag-column-drop-horizontal ag-column-drop-row-group ag-hidden">
										<div><span class="ag-icon ag-icon-group ag-column-drop-icon ag-faded" unselectable="on"></span></div>
										<span class="ag-column-drop-empty-message">la please drag cols to group</span>
										<div class="ag-column-drop-list"></div>
									</div>
									<div class="ag-column-drop ag-unselectable ag-column-drop-horizontal ag-column-drop-pivot ag-hidden">
										<div><span class="ag-icon ag-icon-pivot ag-column-drop-icon" unselectable="on"></span></div>
										<div class="ag-column-drop-list">
											<span class="ag-column-drop-cell">
											  <span ref="eDragHandle" class="ag-column-drag"><span class="ag-icon ag-icon-grip" unselectable="on"></span></span>
											  <span ref="eText" class="ag-column-drop-cell-text"></span>
											  <span ref="btRemove" class="ag-column-drop-cell-button"><span class="ag-icon ag-icon-cancel" unselectable="on"></span></span>
											</span>
										</div>
									</div>
								</div>
								<div ref="rootWrapperBody" class="ag-root-wrapper-body ag-layout-normal">
									<div class="ag-root ag-unselectable ag-layout-normal" role="grid" unselectable="on" ref="gridPanel" aria-rowcount="2">
										<div class="ag-header ag-pivot-off" role="presentation" ref="headerRoot" unselectable="on" style="height: 34px; min-height: 34px;">
											<div class="ag-pinned-left-header" ref="ePinnedLeftHeader" role="presentation" style="width: 64px; max-width: 64px; min-width: 64px;">
												<div class="ag-header-row" role="row" aria-rowindex="1" style="top: 0px; height: 34px; width: 64px;">
													<div class="ag-header-cell" role="presentation" unselectable="on" col-id="XXfieldXX" style="width: 32px; left: 0px;">
														<div class="ag-header-select-all ag-labeled ag-label-align-right ag-checkbox ag-hidden" role="presentation" ref="cbSelectAll">
															<label ref="eLabel" class="ag-hidden"></label>
															<div ref="eWrapper" class="ag-wrapper ag-input-wrapper" role="presentation">
																<input ref="eInput" type="checkbox" class="ag-hidden">
																<div><span class="ag-icon ag-icon-checkbox-unchecked" unselectable="on"></span></div>
															</div>
														</div>
														<div class="ag-react-container" style="height: 33px; bottom: 0px; position: absolute;">
															<div class="CellClass_header-all-selection-space_3KVF row-selection-icon">
																<span class="checkBoxAll kdfont hover-theme-hover-fc active-theme-active-fc kdfont-fuxuankuangweixuanzhong_fang"></span>
															</div>
														</div>
													</div>
													<div class="ag-header-cell _180Ngwds" role="presentation" unselectable="on" col-id="seq" style="width: 32px; left: 32px;">
														<div ref="eResize" class="ag-header-cell-resize" role="presentation"></div><!--AG-CHECKBOX-->
														<div class="ag-header-select-all ag-labeled ag-label-align-right ag-checkbox ag-hidden" role="presentation" ref="cbSelectAll">
															<label ref="eLabel" class="ag-hidden"></label>
															<div ref="eWrapper" class="ag-wrapper ag-input-wrapper" role="presentation">
																<input ref="eInput" type="checkbox" class="ag-hidden">
																<div><span class="ag-icon ag-icon-checkbox-unchecked" unselectable="on"></span></div>
															</div>
														</div>
														<div class="ag-react-container">
															<div class="HeaderClass_header-root_3oOb ag-cell-label-container ag-header-cell-sorted-none">
																<div class="HeaderClass_header-label_18zI ag-header-cell-label"><span class="ag-header-cell-text"><span>#</span></span></div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="ag-header-viewport" ref="eHeaderViewport" role="presentation">
												<div class="ag-header-container" ref="eHeaderContainer" role="rowgroup" style="width: 400px;">
													<div class="ag-header-row" role="row" aria-rowindex="1" style="top: 0px; height: 34px; width: 400px;">
														<div class="ag-header-cell ag-header-cell-sortable CellClass_headerClass1_2qcm" role="presentation" unselectable="on" col-id="textfield" style="width: 300px; left: 0px;">
															<div ref="eResize" class="ag-header-cell-resize" role="presentation"></div>
															<!--AG-CHECKBOX-->
															<div class="ag-header-select-all ag-labeled ag-label-align-right ag-checkbox ag-hidden" role="presentation" ref="cbSelectAll">
																<label ref="eLabel" class="ag-hidden"></label>
																<div ref="eWrapper" class="ag-wrapper ag-input-wrapper" role="presentation">
																	<input ref="eInput" type="checkbox" class="ag-hidden">
																	<div><span class="ag-icon ag-icon-checkbox-unchecked" unselectable="on"></span></div>
																</div>
															</div>
															<div class="ag-react-container">
																<div class="HeaderClass_header-root_3oOb ag-cell-label-container ag-header-cell-sorted-none">
																	<div class="HeaderClass_header-label_18zI ag-header-cell-label">
																		<span class="ag-header-cell-text"><span style="color: red; padding-right: 1px;">*</span><span><%= paramname %></span></span>
																		<!--<span class="ag-header-icon kdfont kdfont-guolv_mian HeaderClass_header-filtered-icon_32l7 HeaderClass_hover-show-icon_3ciA"></span> 筛选过滤-->
																	</div>
																</div>
															</div>
														</div>
														<div class="ag-header-cell ag-header-cell-sortable CellClass_headerClass1_2qcm" role="presentation" unselectable="on" col-id="textfield1" style="width: 300px; left: 300px;">
															<div ref="eResize" class="ag-header-cell-resize" role="presentation"></div>
															<!--AG-CHECKBOX-->
															<div class="ag-header-select-all ag-labeled ag-label-align-right ag-checkbox ag-hidden" role="presentation" ref="cbSelectAll">
																<label ref="eLabel" class="ag-hidden"></label>
																<div ref="eWrapper" class="ag-wrapper ag-input-wrapper" role="presentation">
																	<input ref="eInput" type="checkbox" class="ag-hidden">
																	<div><span class="ag-icon ag-icon-checkbox-unchecked" unselectable="on"></span></div>
																</div>
															</div>
															<div class="ag-react-container">
																<div class="HeaderClass_header-root_3oOb ag-cell-label-container ag-header-cell-sorted-none">
																	<div class="HeaderClass_header-label_18zI ag-header-cell-label">
																		<span class="ag-header-cell-text"><span style="color: red; padding-right: 1px;">*</span><span><%= paramvalue %></span></span>
																		<!--<span class="ag-header-icon kdfont kdfont-guolv_mian HeaderClass_header-filtered-icon_32l7 HeaderClass_hover-show-icon_3ciA"></span>筛选过滤-->
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="ag-pinned-right-header ag-hidden" ref="ePinnedRightHeader" role="presentation" style="width: 0px; max-width: 0px; min-width: 0px;">
												<div class="ag-header-row" role="row" aria-rowindex="1" style="top: 0px; height: 34px; width: 0px;"></div>
											</div>
										</div>
										<div class="ag-floating-top" ref="eTop" role="presentation" unselectable="on" style="min-height: 0px; height: 0px; display: none; overflow-y: hidden;">
											<div class="ag-pinned-left-floating-top" ref="eLeftTop" role="presentation" unselectable="on" style="width: 64px; max-width: 64px; min-width: 64px;"></div>
											<div class="ag-floating-top-viewport" ref="eTopViewport" role="presentation" unselectable="on">
												<div class="ag-floating-top-container" ref="eTopContainer" role="presentation" unselectable="on" style="width: 312px;"></div>
											</div>
											<div class="ag-pinned-right-floating-top ag-hidden" ref="eRightTop" role="presentation" unselectable="on"></div>
											<div class="ag-floating-top-full-width-container ag-hidden" ref="eTopFullWidthContainer" role="presentation" unselectable="on"></div>
										</div>
		
										<div class="ag-body-viewport ag-layout-normal ag-row-no-animation" ref="eBodyViewport" role="presentation" unselectable="on">			
											<div class="ag-pinned-left-cols-container" ref="eLeftContainer" role="presentation" unselectable="on" style="height: 40px; width: 64px; max-width: 64px; min-width: 64px;">
												<!--多选框和序号-->
											</div>
											<div class="ag-center-cols-clipper" ref="eCenterColsClipper" role="presentation" unselectable="on" style="height: 40px;">
												<div class="ag-center-cols-viewport" ref="eCenterViewport" role="presentation" unselectable="on" style="height: calc(100% + 0px);">
													<div class="ag-center-cols-container" ref="eCenterContainer" role="rowgroup" unselectable="on" style="height: 40px;">
														<!--参数名称，参数值-->
													</div>
												</div>
											</div>
											<div class="ag-pinned-right-cols-container ag-hidden" ref="eRightContainer" role="presentation" unselectable="on" style="height: 40px;">
												<div role="row" row-index="0" aria-rowindex="2" row-id="0" comp-id="609" class="ag-row ag-row-no-focus ag-row-even ag-row-level-0 ag-row-position-absolute ag-row-first ag-row-last" style="height: 40px; "></div>
											</div>
											<div class="ag-full-width-container" ref="eFullWidthContainer" role="presentation" unselectable="on" style="height: 40px;"></div>
										</div>
		
										<!---->
										<div class="ag-floating-bottom" ref="eBottom" role="presentation" unselectable="on" style="min-height: 0px; height: 0px; display: none; overflow-y: hidden;">
											<div class="ag-pinned-left-floating-bottom" ref="eLeftBottom" role="presentation" unselectable="on" style="width: 64px; max-width: 64px; min-width: 64px;"></div>
											<div class="ag-floating-bottom-viewport" ref="eBottomViewport" role="presentation" unselectable="on">
												<div class="ag-floating-bottom-container" ref="eBottomContainer" role="presentation" unselectable="on" style="width: 312px;"></div>
											</div>
											<div class="ag-pinned-right-floating-bottom ag-hidden" ref="eRightBottom" role="presentation" unselectable="on"></div>
											<div class="ag-floating-bottom-full-width-container ag-hidden" ref="eBottomFullWidthContainer" role="presentation" unselectable="on"></div>
										</div>
										<div class="ag-body-horizontal-scroll" ref="eHorizontalScrollBody" aria-hidden="true" style="height: 0px; max-height: 0px; min-height: 0px;">
											<div class="ag-horizontal-left-spacer" ref="eHorizontalLeftSpacer" style="width: 64px; max-width: 64px; min-width: 64px;"></div>
											<div class="ag-body-horizontal-scroll-viewport" ref="eBodyHorizontalScrollViewport" style="height: 0px; max-height: 0px; min-height: 0px;">
												<div class="ag-body-horizontal-scroll-container" ref="eBodyHorizontalScrollContainer" style="width: 312px; height: 0px; max-height: 0px; min-height: 0px;"></div>
											</div>
											<div class="ag-horizontal-right-spacer ag-scroller-corner" ref="eHorizontalRightSpacer" style="width: 0px; max-width: 0px; min-width: 0px;"></div>
										</div>
										<!--AG-OVERLAY-WRAPPER-->
										<div class="ag-overlay" aria-hidden="true" ref="overlayWrapper">
											<div class="ag-overlay-panel">
												<div class="ag-overlay-wrapper ag-layout-normal ag-overlay-no-rows-wrapper" ref="eOverlayWrapper">
													<!--无数据时显示-->
													<div class="emptyContent CellClass_nodata_overlay_117L" style="">
														<div style="width:100%;height:44px" class="CellClass_maskP_2epF"></div>
														<div class="CellClass_imgP_3wTI CellClass_entryImgBox_1NpD">															
															<div class="CellClass_textItem_3k_g"><%= nodata %></div>
														</div>
														<div style="width:100%;height:10px" class="CellClass_maskP_2epF"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!--AG-SIDE-BAR-->
									<div class="ag-side-bar ag-unselectable ag-hidden" ref="sideBar">
									<!--AG-SIDE-BAR-BUTTONS-->
									<div class="ag-side-buttons" ref="sideBarButtons"></div></div>
								</div>
								<!--AG-STATUS-BAR-->
								<div class="ag-status-bar" ref="statusBar">
									<div ref="eStatusBarLeft" class="ag-status-bar-left"></div>
									<div ref="eStatusBarCenter" class="ag-status-bar-center"></div>
									<div ref="eStatusBarRight" class="ag-status-bar-right"></div>
								</div>
								<!--AG-PAGINATION-->
								<div class="ag-paging-panel ag-unselectable ag-hidden">
									<span ref="eSummaryPanel" class="ag-paging-row-summary-panel">
										<span ref="lbFirstRowOnPage"></span> daTo <span ref="lbLastRowOnPage"></span> daOf <span ref="lbRecordCount"></span>
									</span>
									<span class="ag-paging-page-summary-panel">
										<div ref="btFirst" class="ag-paging-button"><span class="ag-icon ag-icon-first" unselectable="on"></span>
											<button type="button"><%= first %></button>
										</div>
										<div ref="btPrevious" class="ag-paging-button"><span class="ag-icon ag-icon-previous" unselectable="on"></span>
											<button type="button">daPreviousen</button>
										</div>
										<%= page %> <span ref="lbCurrent"></span> daOf <span ref="lbTotal"></span>
										<div ref="btNext" class="ag-paging-button"><span class="ag-icon ag-icon-next" unselectable="on"></span>
											<button type="button">daNexten</button>
										</div>
										<div ref="btLast" class="ag-paging-button"><span class="ag-icon ag-icon-last" unselectable="on"></span>
											<button type="button"><%= last %></button>
										</div>
									</span>
								</div>
								<!--AG-WATERMARK-->
								<div class="ag-watermark ag-hidden">
									<div ref="eLicenseTextRef" class="ag-watermark-text"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!--多选框和序号-->
<div id='seqTemplete' role="row" row-index="0" aria-rowindex="2" row-id="0" comp-id="82" class="ag-row ag-row-no-focus ag-row-even ag-row-level-0 ag-row-selected" style="height: 40px;border-bottom: 1px solid #d9d9d9;display:none;">
	<div tabindex="-1" unselectable="on" role="gridcell" comp-id="85" col-id="XXfieldXX" class="ag-cell ag-cell-not-inline-editing ag-cell-with-height select-col-cell ag-cell-value ag-cell-range-left" style="width: 32px; left: 0px;  height:40px;">
		<div class="ag-react-container"><div class="row-selection-icon kdfont theme-fc kdfont-fuxuankuangxuanzhong_fang"></div></div>
	</div>
	<div tabindex="-1" unselectable="on" role="gridcell" comp-id="86" col-id="seq" class="ag-cell ag-cell-not-inline-editing ag-cell-with-height ag-cell-last-left-pinned CellClass_field_3HjG seq-col-cell CellClass_alphaFactory_Render_2c7b CellClass_flexstart_Render_3DeV CellClass_seq_Render_2_na lightCell ag-cell-value" style="width: 32px; left: 32px; border-radius: 0px; height:40px;" title="1">
		<div class="CellClass_lightRender_293x" style="">1</div>
	</div>
</div>
<!--参数名称，参数值-->
<div id='paramTemplete' role="row" row-index="0" aria-rowindex="2" row-id="0" comp-id="609" class="ag-row ag-row-no-focus ag-row-even ag-row-level-0 ag-row-selected" style="height: 40px; border-bottom: 1px solid #d9d9d9;display:none;">
	<div tabindex="-1" unselectable="on" role="gridcell" comp-id="610" col-id="paramname" class="ag-cell ag-cell-not-inline-editing ag-cell-with-height CellClass_field_3HjG editHover ag-cell-value ag-cell=focus" style="width: 300px; left: 0px; border-radius: 0px; height:40px;">
		<div class="ag-react-container">
			<div class='conditionParamDiv'>			
				<div class='conditionParam'></div>
			</div>
		</div>
	</div>
	<div tabindex="-1" unselectable="on" role="gridcell" comp-id="612" col-id="paramvalue" class="ag-cell ag-cell-not-inline-editing ag-cell-with-height CellClass_field_3HjG editHover ag-cell-value" style="width: 300px; left: 300px; border-radius: 0px;height:40px;">
		<div class="ag-react-container">
			<div class='valueDiv'>
				<div class='valueBooleanSelectDiv' style='display:none;'>
					<div class='valueBoolean'></div>
				</div>
				<div class='valueEnumSelectDiv' style='display:none;'>
					<div data-base-ctrl="true" style="display:flex;height:26px;">
						<input class='valueEnum' readonly="readonly" type="text"/>
						<div class="Select_iconBox_1WJ3"><div class="xialajiantou kdfont kdfont-xiala Select_select-icon-default_3JG_" style="float: right;padding: 5px 0;"></div></div>
					</div>
				</div>
				<div class="valueDateDiv" style='display:none;position: relative;'>
					<div class="DatePicker_input_R8CT common_grow-1_6Rq1" data-base-ctrl="true" style="padding-left:6px;">
						<div class="DatePicker_icon_Vdy- kdfont kdfont-riqixuanze undefined"></div>
						<input placeholder="" tabindex="0" enableddates="" disableddates="" calendarlocale="zh_CN" today="2021-11-08 09:33:14" firstdayofweek="NaN" class="valueDate baseComponent_input_2ULV baseComponent_input-default_49SY DatePicker_input-default_1kxb" value="" readonly="readonly">
					</div>
				</div>			
				<div class="valueNumberDiv" style='display:none;'>
					<div class="baseComponent_input-number-div_2cds" data-base-ctrl="true">
						<input type="text" code="" tabindex="0" class="valueNumber baseComponent_input_2ULV baseComponent_input-default_49SY primary-text-in-light" title="" value="" style="margin-top: 2.5px;">
					</div>
				</div>
				<div class="valueTextDiv" style='position: relative;'>
					<div data-base-ctrl="true" class="BaseData_base-data_16rF BaseData_flat-flex-align-items_2SEu CellClass_base-data_35bk" style='height: 26px;'>
						<div class="BaseData_base-data-contentArea_1Fc8 BaseData_no-wrap_2Tn-">
							<input class="valueText BaseData_text-input-margin-right_26jS baseComponent_input_2ULV primary-text-in-light baseComponent_input-default_49SY common_grow-1_6Rq1" type="text" tabindex="0" title="" value="">
						</div>
						<div class="BaseData_base-data-iconArea_h_gc">
							<span class="BaseData_icon_2ri7 kdfont kdfont-f kdfont-f"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id='multiDropDownControl' class='multiDropDownControl' tabindex="-1" style="position: fixed; transform: translateZ(0px); visibility: visible; z-index: 1050;"></div>