._394V0L7Wrzoo1Ti0gX_dzq {
  position: relative;
  height: 100%;
  flex: 1;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
}
._2fJK9BHyqunK86FkNSlokp {
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 14px;
  color: #333;
}
._3UKEUqYY489pcZyHvfiMzP {
  position: relative;
  height: 100%;
}
.hnb883mKnbdzzQkkYJSDm {
  position: absolute;
  display: none;
  width: 60px;
  height: 57px;
  transform: scale(1.5);
}
.gQ_Tdq75j5_QF3RHZa15 {
  position: absolute;
  width: 330px;
  z-index: 1;
  font-size: 12px;
  color: #333;
  padding: 10px 20px 2px 30px;
  background: #fff;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.3);
}
._1Hg5oM7nba-ukyy-t3Dvdj {
  position: relative;
  margin-bottom: 10px;
  font-size: 14px;
}
._1Hg5oM7nba-ukyy-t3Dvdj::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #26b175;
  left: -12px;
  top: 50%;
  transform: translateY(-50%);
}
._3-cyIoSCfZlNEJV98pETn3 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  color: #43506C;
  word-break: break-all;
}
._1Bjy8wV2N6m1Y_DhY0gT7G {
  width: 90px;
  color: #999;
  flex-shrink: 0;
}
.bDXOSAiq9ouysCf3g1vVf {
  display: flex;
  align-items: center;
}
._1GifmDnq35r5fH3TBa1FyA {
  width: 8px;
  height: 8px;
  margin-right: 2px;
}
._1LZ6yuRwXJpgJKuoh7MWje {
  width: 350px;
  height: 100%;
  padding: 15px 80px 15px 20px;
  background: #fff;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
  margin-right: 10px;
}
._3DsfYR20silLxaqS0rVZnW {
  font-size: 14px;
  color: #333;
}
._2zLFKKOfo-1y1AMgcFJW-6 {
  margin: 15px 0 22px;
}
._3MSthjdMCHDhd9oDymM0qi {
  font-size: 12px;
  color: #666;
  margin-bottom: 3px;
}
._2ol4g7kl2hPqNgvglh8pUa {
  font-size: 14px;
  color: #333;
  line-height: 22px;
  border-bottom: 1px solid #999;
}
.FGsOZlNqzumirulHy4rfU {
  display: flex;
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}
._2X4d9BXFYMzViVIS_TBWe0 {
  color: #5582f3;
  margin-left: auto;
  margin-right: 12px;
}
._1xexJrnXqOMHsQdSD2YEys {
  position: relative;
  width: 100%;
  outline: none;
}
._3HRIw9eY8WISqfZ2rrPDlO {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-bottom: 1px solid #999;
  height: 23px;
  overflow: hidden;
}
._3HRIw9eY8WISqfZ2rrPDlO:hover,
._3HRIw9eY8WISqfZ2rrPDlO.RkPoy_eJiwhwNNAzFfSnX,
._3HRIw9eY8WISqfZ2rrPDlO:active {
  border-color: #5582F3;
  cursor: pointer;
}
._1mygoyFf-K3BWNWCkxV6xJ {
  flex: 1;
  color: #333;
  font-size: 14px;
}
._2EIrqsz8PQ6z35nHod97AI {
  color: #ccc;
  font-size: 12px;
  transition: transform 0.2s ease;
}
._1B19JFm3qdJ9NSKkANLh27 {
  transform: rotate(180deg);
}
._3NDiV30fleTToxFQVqXY1h {
  width: 100%;
  max-height: 110px;
  overflow-y: auto;
  position: absolute;
  top: 24px;
  left: 0;
  z-index: 9;
  background: #fff;
  box-shadow: 0 2px 9px 0 rgba(175, 175, 175, 0.5);
  padding: 5px 10px 20px;
}
.uMcD4oyc2PGTt3SdCTxDX {
  line-height: 30px;
  cursor: pointer;
}
.KFZaUovDtszcZwu_ME79t {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.GLdTtynAlricsK-SG2axB {
  font-size: 12px;
  color: #999;
  text-align: center;
}
._1Jli5eVrOOrbv8ic7y-RpP {
  margin-bottom: 8px;
  font-size: 12px;
}
._34-UMw-T3xDb2zd_c8CP0 {
  margin: 0;
}
._2QqYwInAkNQIYePjHYkLzP {
  position: absolute;
  bottom: 10px;
  left: 80px;
  font-size: 12px;
  color: #CCC;
}
._2QqYwInAkNQIYePjHYkLzP .Yk8jPyFRZvw47J4wGaiIH {
  color: #5582F3;
}
._3FmtHYJnSSv9sqOEURJqXV {
  height: 100%;
  display: flex;
  align-items: center;
}

/*# sourceMappingURL=index.css.map*/