<div class="dataWrap">
    <div class="headWrap">
        <div class="headCondition">输入条件:</div>
        <div class="conditions">
            <%  for(var i=0; i< condition.length; i++){ %>
                <div class="conditionItem" style="position: relative;">
                    <div style="position: relative; border-bottom: 1px solid #c0c0c0;">
                    <div class="itemHead"><%= condition[i].name %><span style="color: red;"></span></div>
                    <% if (condition[i].propsName == 'base') {%>
                        <input title="" style="width: calc(100% - 16px); overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" type='text' disabled  baseDataId='<%= condition[i].basedatafield %>' name="" id="" conditionID='<%= condition[i].id %>'>
                        <span class="baseSearch LrDOMvLr kdfont kdfont-f kdfont-f" conditionID='<%= condition[i].id %>' baseDataId='<%= condition[i].basedatafield %>'></span>
                    <% } else if (condition[i].propsName == 'date') { %>
                        <input style="width: 100%;" type='date'   name="" id="" conditionID='<%= condition[i].id %>'>
                        <!-- <span class="calendarIcon  kdfont kdfont-riqixuanze " @click="iconclick"></span> -->
                    <% } else if (condition[i].propsName == 'text') { %>
                        <input style="width: 100%;" type='text'   name="" id="" conditionID='<%= condition[i].id %>'>
                    <% } else { %>
                        <input style="width:100%" type='number' class="enterNumber" precisionID='<%= condition[i].precision %>' name="" id="" conditionID='<%= condition[i].id %>'>
                    <% } %>
                    </div>
                </div>
            <% } %>
        <!-- <div class="customDatepicker">自定义</div> -->

        </div>
        <div class="calculateBtn _28zC8W5F theme-bg hover-theme-bg1 active-theme-bg1">
            模拟运算
        </div>


    </div>


    <div class="breakLine"></div>
    <div class="footerWrap">
        <div class="partOne">
            <div class="footerResult">返回结果:</div>
            <div class="results">
                <%  for(var i=0; i< result.length; i++){ %>
                    <div class="resultItem" style="border-bottom: 1px solid #c0c0c0;">
                        <div class="itemHead"><%= result[i].name %></div>
                        <input type="text" disabled name="" resultSign="<%= result[i].name %>" id="<%= result[i].name %>">
                    </div>
        
                <% } %>
            </div>
        </div>
        <div class="partTwo">
            <div>输入条件后点击模拟运算，将返回模拟运算的结果!</div>
        </div>
    </div>
    

</div>

