.loadModal{position:absolute;width:100%;top:0;bottom:0;display:flex;flex-direction:row;align-items:center;justify-content:center; z-index: 99999; background:rgba(0, 0, 0, 0.1)}
.loadModal .dialog{background-color:#fff;border-radius:5px;padding:7px 46px;max-width:200px;box-shadow:0 0 10px 1px #eee}
.loadModal .loading{width:50px;height:50px;margin:0 auto;font-size:0}
.loadModal .loading>div{width:25px;height:25px;text-align:center;line-height:25px;display:inline-block;font-size:16px}
.loadModal .loading>div .cirle{width:16px;height:16px;border-radius:50%;display:inline-block}
.loadModal .cirle.col1{background-color:#2386ee}
.loadModal .cirle.col2{background-color:#00ccfe}
.loadModal .cirle.col3{background-color:#05c8c8}
.loadModal .cirle.col4{background-color:#a06eff}
.loadModal .contentTxt{color:#666;font-size:12px;text-align:center}@keyframes mymove{0%{transform:scale(0.6)}50%{transform:scale(1)}100%{transform:scale(0.6)}}
.loading .round0{animation:mymove 1s infinite;animation-direction:alternate;animation-timing-function:ease-in-out}
.loading .round1{animation:mymove 1.2s infinite;animation-direction:alternate;animation-timing-function:ease-in-out}
.loading .round2{animation:mymove 1.4s infinite;animation-direction:alternate;animation-timing-function:ease-in-out}
.loading .round3{animation:mymove 1.6s infinite;animation-direction:alternate;animation-timing-function:ease-in-out}