.qing-assistant-bubble
{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    box-shadow: 0 5px 15px 0 rgba(17,34,92,0.4);
    background-size: contain;
    cursor: pointer;
    z-index: 1000;
}

.qing-assistant-tooltips
{
    display: none;
    position: absolute;
    padding: 0 8px;
    width: max-content;
    height: 22px;
    line-height: 22px;
    color: white;
    font-size: 12px;
    background: rgba(0,0,0,0.60);
    border-radius: 4px;
    z-index: 10;
}

.qing-assistant-untyped
{
    display: none !important;
}

.qing-assistant-typing::after
{
    content: "|";
    font-weight: bold;
    margin-left: 3px;
    animation: blink 0.7s infinite;
    -webkit-animation: blink 0.7s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.qing-assistant-panel
{
    height: 100%;
    max-width: 100%;
    min-width: 420px;
    background: #EEF5FF;
    z-index: 1000;
    overflow: hidden;
    background-size: cover;
}

.qing-assistant-panel-float
{
    position: absolute;
    top: 0;
    right: 0;
    width: 420px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.12);
}

.qing-assistant-panel-pinned
{
    position: relative;
    width: 420px !important;
}

.qing-assistant-panel-fullscreen
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
}

.qing-assistant-panel-resize
{
    display: none;
    width: 8px;
    height: 100%;
    cursor: ew-resize;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.qing-assistant-panel-drop-mask
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    transition: background 0.4s;
}

.qing-assistant-panel-drop-mask-highlight
{
    background: rgba(39, 111, 245, 0.1);
}

.qing-assistant-panel-drop-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border: 1px dashed #276FF5;
    box-sizing: border-box;
}

.qing-assistant-panel-drop-logo
{
    margin-bottom: 30px;
    width: 155px;
    height: 105px;
    background-size: contain;
}

.qing-assistant-panel-drop-text
{
    font-size: 16px;
}

.qing-assistant-panel-float .qing-assistant-panel-resize
{
    display: block;
}

.qing-assistant-panel-content
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.qing-assistant-panel-content-blur
{
    -webkit-filter: blur(12px);
    -moz-filter: blur(12px);
    -ms-filter: blur(12px);
    filter: blur(12px);
    opacity: 0.6;
    background: rgba(255,255,255,0.53);
}

.qing-assistant-panel-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding: 0 15px;
    z-index: 10;
}

.qing-assistant-panel-header-active
{
    border-bottom: 1px solid #E5E5E5;
}

.qing-assistant-panel-header-icon
{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-size: contain;
}

.qing-assistant-panel-header-text
{
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    line-height: 42px;
    color: #212121;
    font-size: 14px;
}

.qing-assistant-panel-header-button-group
{
    width: 100px;
}

.qing-assistant-panel-header-button-group:first-child
{
    text-align: left;
}

.qing-assistant-panel-header-button-group:last-child
{
    text-align: right;
}

.qing-assistant-panel-header-button
{
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0 3px;
    border-radius: 4px;
    background-size: 264px 72px;
}

.qing-assistant-panel-header-button:first-child
{
    margin-left: 0;
}

.qing-assistant-panel-header-button:last-child
{
    margin-right: 0;
}

.qing-assistant-panel-header-button:hover
{
    background-color: rgba(102, 102, 102, 0.1);
}

.qing-assistant-panel-header-button-active
{
    background-color: rgba(39, 111, 245, 0.1);
}

.qing-assistant-panel-header-button-active:hover
{
    background-color: rgba(39, 111, 245, 0.3);
}

.qing-assistant-panel-body
{
    flex: 1;
    overflow-y: scroll;
    scrollbar-width: none;
}

.qing-assistant-panel-body::-webkit-scrollbar
{
    display: none;
}

.qing-assistant-panel-dialog
{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-width: 776px;
    padding: 0 16px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 24px;
}

.qing-assistant-panel-placeholder
{
    flex: 1;
}

.qing-assistant-panel-record
{
    padding: 14px 0;
}

.qing-assistant-panel-avatar
{
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin: 0 8px 4px 0;
    border-radius: 50%;
    background-size: contain;
}

.qing-assistant-panel-username
{
    color: #000000;
    line-height: 24px;
}

.qing-assistant-panel-question,
.qing-assistant-panel-answer
{
    display: inline-block;
    padding: 12px 16px;
    margin-left: 32px;
    border-radius: 2px 8px 8px 8px;
    word-break: break-all;
    position: relative;
}

.qing-assistant-panel-question
{
    color: white;
    background: #276FF5;
}

.qing-assistant-panel-answer
{
    color: #212121;
    background: white;
}

.qing-assistant-panel-card-list
{
    width: 100%;
    height: 100%;
}

.qing-assistant-panel-card-list-line
{
    padding-bottom: 12px;
    border-bottom: 1px dashed rgba(224,224,224,1);
}

.qing-assistant-panel-card-list-turn-page
{
    width: 100%;
    height: 100%;
    margin-top: 12px;
    line-height: 18px;
}

.qing-assistant-panel-card-list-turn-page-icon
{
    position: absolute;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-top: 1px;
    margin-left: 12px;
}

.qing-assistant-panel-card-list-turn-page-content
{
    font-family: MicrosoftYaHei;
    font-size: 12px;
    letter-spacing: 0;
    font-weight: 400;
    display: inline-block;
    text-align: center;
    margin-left: 36px;
    margin-right: 10px;
    color: #0269FE;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

.qing-assistant-panel-card-list-title
{
    margin-bottom: 4px;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #212121;
    letter-spacing: 0;
    line-height: 24px;
    font-weight: 400;
}

.qing-assistant-panel-card
{
    position: relative;
    border-radius: 4px;
    height: 40px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 8px;
    background-color: #F5F9FF;
    color: #212121;
}

.qing-assistant-panel-card:hover
{
    background-color: #E0EFFF;
    color: #276FF5;
}

.qing-assistant-panel-card-icon
{
    position: absolute;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-top: 12px;
    margin-left: 12px;
}

.qing-assistant-panel-card-content
{
    font-family: MicrosoftYaHei;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 24px;
    font-weight: 400;
    margin-left: 36px;
    margin-right: 10px;
    margin-top: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.qing-assistant-panel-send-email-button
{
    height: 24px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 4px;
    color: #212121;
    width: 80px;
    display: inline-block;
    margin-bottom: -12px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

.qing-assistant-panel-send-email-button:hover
{
    background: #F5F5F5;
}

.qing-assistant-panel-send-email-button-icon
{
    position: absolute;
    width: 72px;
    height: 72px;
    display: inline-block;
    zoom: 0.33;
}

.qing-assistant-panel-send-email-button-content
{
    font-family: MicrosoftYaHei;
    font-size: 12px;
    color: #666666;
    letter-spacing: 0;
    font-weight: 400;
    display: inline-block;
    margin-left: 24px;
    margin-right: 10px;
    margin-bottom: 4px;
}

.qing-assistant-panel-send-email-pane
{
    background-image: linear-gradient(180deg, #F3FCFF 0%, #FBFCFF 100%);
    border: 1px solid rgba(221,240,253,1);
    border-radius: 4px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    margin-top: 12px;
}

.qing-assistant-panel-send-email-info
{
    min-height: 24px;
    padding-top: 8px;
    padding-bottom: 8px
}

.qing-assistant-panel-send-email-info-title
{
    position: absolute;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
    line-height: 24px;
    font-weight: 400;
    display: inline-block;
    margin-right: 4px;
}

.qing-assistant-panel-send-email-info-content
{
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #212121;
    letter-spacing: 0;
    line-height: 24px;
    font-weight: 400;
    display: inline-block;
}

.qing-assistant-panel-email-button
{
    width: 24px;
    height: 24px;
    right: 0px;
    display: inline-block;
    margin-top: 8px;
    cursor: pointer;
    float: right;
    border-radius: 4px;
    background-position: center !important;
}

.qing-assistant-panel-email-button:hover
{
    background: rgba(102,102,102,0.10);
}

.qing-assistant-panel-edit-email-main
{
    background-image: linear-gradient(180deg, #F3FCFF 0%, #FBFCFF 100%);
    border: 1px solid rgba(221,240,253,1);
    border-radius: 2px;
    margin: 39px 4px 14px;
    width: 960px;
    padding-top: 4px;
}

.qing-assistant-panel-edit-email-info
{
    margin-top: 8px;
    margin-bottom: 8px;
}

.qing-assistant-panel-edit-email-info-title
{
    position: absolute;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
    line-height: 24px;
    font-weight: 400;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 4px;
}

.qing-assistant-panel-edit-email-info-content
{
    background-image: linear-gradient(180deg, #FFFFFF 0%, #FBFCFF 100%);
    border: 1px solid rgba(221,240,253,1);
    box-shadow: inset 0px 1px 3px 0px rgb(0 0 0 / 15%);
    border-radius: 2px;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #212121;
    letter-spacing: 0;
    line-height: 30px;
    font-weight: 400;
    margin-left: 76px;
    margin-right: 20px;
    height: 30px;
    padding-left: 6px;
    outline: none;
    width: 854px;
    padding-top: 0;
    padding-bottom: 0;
}

.qing-assistant-panel-edit-email-add-attachment
{
    margin-top: 12px;
    line-height: 24px;
    margin-left: 76px;
}

.qing-assistant-panel-edit-email-add-attachment-icon
{
    position: absolute;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-top: 5px;
}

.qing-assistant-panel-edit-email-add-attachment-content
{
    font-family: MicrosoftYaHei;
    font-size: 12px;
    letter-spacing: 0;
    font-weight: 400;
    display: inline-block;
    text-align: center;
    margin-left: 22px;
    margin-right: 10px;
    color: #0269FE;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

.qing-assistant-panel-edit-email-content
{
    margin-top: 12px;
}

.qing-assistant-panel-edit-email-content-main
{
    background-image: linear-gradient(180deg, #FFFFFF 0%, #FBFCFF 100%);
    border: 1px solid rgba(221,240,253,1);
    box-shadow: inset 0px 1px 3px 0px rgb(0 0 0 / 15%);
    border-radius: 2px;
    margin-left: 76px;
    margin-right: 20px;
}

.qing-assistant-panel-edit-email-content-text
{
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #212121;
    letter-spacing: 0;
    line-height: 24px;
    font-weight: 400;
    margin-top: 34px;
    padding-right: 24px;
    margin-bottom: 15px;
    margin-left: 12px;
    white-space: pre-line;
    overflow-y: auto;
    height: 363px;
    outline: none;
}

.qing-assistant-panel-edit-email-content-text-tool-bar
{
    position: absolute;
    width: 400px;
    height: 22px;
    left: 98px;
    top: 221px;
}

.qing-assistant-panel-question-operate
{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 100%;
    background: #276FF5;
    border-radius: 0 8px 8px 0;
}

.qing-assistant-panel-question:hover .qing-assistant-panel-question-operate
{
    display: flex;
}

.qing-assistant-panel-question-edit
{
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-size: 16px 32px;
}

.qing-assistant-panel-footer
{
    padding: 16px;
    margin: 0 auto;
    width: calc(100% - 32px);
    max-width: 776px;
}

.qing-assistant-panel-input-box
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    background: white;
    border-radius: 4px;
    border: 1px solid white;
    box-sizing: border-box;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.08);
    margin-bottom: 16px;
}

.qing-assistant-panel-input-box:hover,
.qing-assistant-panel-input-box-highlight
{
    border-color: #276FF5;
}

.qing-assistant-panel-input-field
{
    flex: 1;
    height: 100%;
    margin: 0 5px;
    box-shadow: none !important;
}

.qing-assistant-panel-input-button
{
    display: none;
    width: 24px;
    height: 24px;
    margin: 0 8px;
    cursor: pointer;
    border-radius: 4px;
    background-size: 264px 72px;
}

.qing-assistant-panel-input-button:hover
{
    background-color: rgba(102, 102, 102, 0.1);
}

.qing-assistant-panel-footer-tips
{
    width: 100%;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
}

.qing-assistant-panel-footer-text
{
    color: #999999;
}

.qing-assistant-panel-footer-text-highlight
{
    color: #0E5FD8;
    cursor: pointer;
}

.qing-assistant-panel-footer-divider
{
    margin: 0 8px;
}

.qing-assistant-panel-footer-divider::after
{
    content: '|';
    color: #CBCBCB;
}

.qing-assistant-panel-banner
{
    text-align: center;
}

.qing-assistant-panel-banner-logo
{
    margin: 80px auto 8px;
    background-size: contain;
}
.qing-assistant-panel-banner-logo-1
{
    width: 146px;
    height: 56px;
}
.qing-assistant-panel-banner-logo-2
{
    width: 212px;
    height: 56px;
}
.qing-assistant-panel-banner-text
{
    font-size: 14px;
    color: #212121;
    margin-bottom: 40px;
}
.qing-assistant-panel-banner-text-1
{
    font-size: 14px;
    color: #212121;
    margin-bottom: 40px;
    letter-spacing: 7px;
}
.qing-assistant-panel-banner-text-2
{
    font-size: 14px;
    color: #212121;
    margin-bottom: 40px;
}

.qing-assistant-panel-guide
{
    width: 100%;
    background: #FFFFFF;
    box-shadow: inset 0px 0px 14px 0px rgba(255,255,255,0.6);
    border-radius: 8px;
}

.qing-assistant-panel-guide-title
{
    position: relative;
    height: 44px;
    background-image: linear-gradient(93deg, #ECF7FF 9%, #EAF6FF 73%);
    border: 1px solid rgba(255,255,255,1);
    border-radius: 8px 8px 0px 0px;
}

.qing-assistant-panel-guide-title-icon
{
    margin-top: 12px;
    margin-left: 16px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.qing-assistant-panel-guide-title-text
{
    position: absolute;
    text-align: center;
    padding-top: 10px;
    padding-left: 8px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-family: MicrosoftYaHeiSemibold;
    font-size: 16px;
    color: #212121;
    letter-spacing: 1px;
    line-height: 24px;
    font-weight: 600;
}

.qing-assistant-panel-guide-content
{
    position: relative;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
}

.qing-assistant-panel-guide-content-tips
{
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
    background: -webkit-linear-gradient(top,  #EFF8FF, #F3F7FF);
    border: 1px solid rgba(221,240,253,1);
    border-radius: 4px;
}

.qing-assistant-panel-guide-recommended-question
{
    max-height: 500px;
    width: 100%;
}

.qing-assistant-panel-guide-recommended-question-tips
{
    position: relative;
    min-height: 36px;
    margin-top: 12px;
    margin-left: 16px;
    margin-right: 16px;
    background: rgba(224,242,255,0.4);
    border-radius: 4px;
}

.qing-assistant-panel-guide-recommended-question-tips-symbol
{
    position: absolute;
    background-color: #3C6DED;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    margin-left: 8px;
    margin-top: 15px;
    display: inline-block;
}

.qing-assistant-panel-guide-recommended-question-tips-text
{
    margin: 8px 8px 8px 22px;
    font-family: MicrosoftYaHei;
    font-size: 12px;
    color: #212121;
    letter-spacing: 0;
    line-height: 20px;
    font-weight: 400;
    display: inline-block;
}

.qing-assistant-panel-guide-no-license-tips
{
    position: relative;
    min-height: 36px;
    margin-top: 12px;
    margin-left: 16px;
    margin-right: 16px;
    background: #fcecdB;
    border-radius: 4px;
}

.qing-assistant-panel-guide-no-license-tips-symbol
{
    position: absolute;
    background-color: #fb981b;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    margin-left: 8px;
    margin-top: 15px;
    display: inline-block;
}

.qing-assistant-panel-guide-no-license-tips-text
{
    margin: 8px 8px 8px 22px;
    font-family: MicrosoftYaHei;
    font-size: 12px;
    color: #212121;
    letter-spacing: 0;
    line-height: 20px;
    font-weight: 400;
    display: inline-block;
}

.qing-assistant-panel-guide-recommended-question-wait
{
    position: relative;
    height: 36px;
    /*width: 130px;*/
    margin-left: 12px;
    width: 100%;
}

.qing-assistant-panel-guide-recommended-question-wait-gif
{
    position: absolute;
    height: 26px;
    width: 26px;
    margin-top: 12px;
}

.qing-assistant-panel-guide-recommended-question-wait-text
{
    position: absolute;
    height: 20px;
    width: 100px;
    margin-top: 13px;
    margin-left: 30px;
    font-weight: 900;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    width: calc(100% - 30px);
}

.qing-assistant-panel-recommended-question-content-item
{
    position: relative;
    background: #FFFFFF;
    border: 1px solid rgba(231,234,239,1);
    border-radius: 4px;
    height: 28px;
    width: 354px;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 12px 16px -6.5px;
}

.qing-assistant-panel-recommended-question-content-item-icon
{
    position: absolute;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-top: 6px;
    margin-left: 8px;
}

.qing-assistant-panel-recommended-question-content-item-text
{
    font-family: MicrosoftYaHei;
    font-size: 12px;
    color: #404151;
    letter-spacing: 0;
    line-height: 20px;
    font-weight: 400;
    cursor: pointer;
    display: inline-block;
    margin-left: 32px;
    margin-right: 10px;
    margin-top: 4px;
    max-width: 288px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.qing-assistant-panel-recommended-question-content-item-edit
{
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 8px;
    margin-top: 6px;
    cursor: pointer;
    float: right;
}

.qing-assistant-panel-guide-content-icon
{
    width: 356px;
    height: 99px;
}

.qing-assistant-panel-guide-content-icon-image
{
    width: 316px;
    height: 87px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 12px;
}

.qing-assistant-chart-pane
{
    position: relative;
    width: calc(100% - 64px);
}
.qing-assistant-chart-droppable
{
    cursor: move;
}
.qing-assistant-panel-guide-content-text
{
    margin-right: 20px;
    text-align: left;
    margin-top: 12px;
    margin-left: 20px;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
    line-height: 20px;
    font-weight: 400;
}

.qing-assistant-chart-pane-desc
{
    position: relative;
    color: #212121;
    line-height: 20px;
    width: 100%;
}

.qing-assistant-chart-pane-chart-container
{
    position: relative;
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    margin-top: 10px;
    /*border: 1px solid #d9d9d9;*/
    box-shadow: 0 1px 7px 0 rgba(0,0,0,0.15);
    border-radius: 2px;
    line-height: 16px;
    font-size: 12px;
}

.qing-assistant-chart-pane-operation
{
    position: absolute;
    right: 0;
    width: 85px;
    height: 16px;
    top: 8px;
    box-sizing: border-box;
}

.qing-assistant-chart-pane-operation-left
{
    border-right: 1px solid #CCCCCC;
    width: 25px;
    height: 100%;
    position: absolute;
    left: 0;
}

.qing-assistant-chart-pane-operation-right
{
    width: 50px;
    height: 100%;
    position: absolute;
    right: 0;
    box-sizing: border-box;
}

.qing-assistant-chart-pane-operation-button
{
    position: relative;
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    cursor: pointer;
}

.qing-assistant-chart-pane-charttype
{
    box-shadow: 0px 4px 10px 2px rgba(0,0,0,0.12);
    z-index: 129;
    background: #ffffff;
}

.qing-assistant-chart-pane-insight
{
    position: relative;
    width: 100%;
}

.qing-assistant-chart-pane-insight-loading
{
    position: relative;
    padding-left: 6px;
    padding-right: 9px;
    margin-top: 2px;
    color: #212121;
    border-radius: 4px;
    letter-spacing: 0;
    line-height: 36px;
    height: 36px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.qing-assistant-chart-pane-question
{
    position: relative;
    min-height: 30px;
    margin-top: 10px;
}

.qing-assistant-chart-pane-question-item
{
    position: relative;
    padding-left: 9px;
    padding-right: 9px;
    margin-top: 12px;
    background: #F5F9FF;
    color: #212121;
    border-radius: 4px;
    letter-spacing: 0;
    line-height: 36px;
    height: 36px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.qing-assistant-chart-pane-question-item:hover
{
    background: #E0EFFF;
    color: #276FF5;
}
.qing-assistant-chart-pane-question-error-cicle
{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #f93;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
    left: 6px;
    top: 10px;
}

.qing-assistant-chart-pane-question-error-cicle::before
{
    content: "!";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.qing-assistant-chart-pane-add-workbench
{
    position: relative;
    display: inline-block;
    padding-right: 9px;
    margin-top: -8px;
    color: #276FF5;
    border-radius: 4px;
    letter-spacing: 0;
    line-height: 32px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
}

.qing-assistant-chart-pane-add-workbench-circle
{
    display: inline-block;
    width: 13px;
    height: 13px;
    top: 3px;
    margin-right: 6px;
    border-radius: 50%;
    border: 1px solid #276FF5;
    position: relative;
    background: #276FF5;
}

.qing-assistant-chart-pane-add-workbench-plus
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.qing-assistant-chart-pane-add-workbench-plus:before, .qing-assistant-chart-pane-add-workbench-plus:after
{
    content: '';
    position: absolute;
    /*background-color: #276FF5;*/
    background: #FFFFFF;
}

.qing-assistant-chart-pane-add-workbench-plus:before
{
    width: 9px;
    height: 1px;
    top: -1px;
    left: -5px;
}

.qing-assistant-chart-pane-add-workbench-plus:after
{
    width: 1px;
    height: 9px;
    top: -5px;
    left: -1px;
}

.qing-assistant-chart-pane-question-title
{
    position: relative;
    font-weight: 600;
}

.qing-assistant-chart-pane-error
{
    position: relative;
    height: 100%;
    width: 100%;
}