.hr-searchbox {
  min-width: 500px;
  display: inline-flex;
  padding-top: 8px;
  font-size: 12px;
  border-bottom: 1px solid #CCCCCC;
}

.hr-selectbox:hover {
  border-bottom: 1px solid #5582F3;
}

.dropdown-list {
  width: 65px;
  position: relative;
  z-index: 1;
}

.dropdown-list-value {
  outline: none;
  border: none;
  width: 50px;
  margin-right: 10px;
  margin-left: 5px;
  font-size: 12px;
  background-color: transparent;
  cursor: pointer;
}

.down-icon {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 5px;
  transition: all 0.3s ease-out;
  transform: rotate(0deg);
  z-index: -1;
}
.down-icon::before,
.down-icon::after{
  content: "";
  width: 9px;
  height: 1px;
  position: absolute;
  background: #838383;
  top: 50%;
}
.down-icon::before{
  left: 0;
  transform: rotate(45deg);
}
.down-icon::after{
  right: 1px;
  transform: rotate(-45deg);
}
.rotate {
  transform: rotate(180deg);
}

.dropdown-menu {
  position: absolute;
  top: 30px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.20);
  z-index: 1;
}

.dropdown-menu p {
  margin: 0;
  padding: 5px 10px;
}

.dropdown-menu p.active {
  cursor: pointer;
  background: rgba(85, 130, 243, 0.20);
}

.split-line {
  width: 1px;
  height: 18px;
  background-color: #CCCCCC;
}

.search-input {
  display: inline-flex;
  flex-grow: 1;
  padding-left: 10px;
  align-items: center;
  position: relative;
}

.search-input-content {
  margin-right: 18px;
  flex-grow: 1;
  display: inline-flex;
  flex-direction: column;
}

.hr-delLabel {
  display: flex;
  height: 20px;
  box-sizing: border-box;
  flex-direction: row;
  align-items: stretch;
  margin-bottom: 7px;
  margin-right: 13px;
  font-size: 0px;
  border: 1px solid #CCCCCC;
  border-radius: 2px;
  overflow: hidden;
}

.hr-delLabel.active {
  border-color: #5582F3;
}

.hr-delLabel-text {
  margin: 0 6px;
  background-color: transparent;
  font-size: 12px;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.hr-delLabel-icon {
  position: relative;
  width: 20px;
  background-color: transparent;
  flex-grow: 0;
  cursor: pointer;
}
.hr-delLabel-icon.active {
  background-color: #5582F3;
}
.hr-delLabel-icon.active::before,
.hr-delLabel-icon.active::after{
  background-color: #ffffff;
}
.hr-delLabel-icon::before,
.hr-delLabel-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 3px;
  height: 1px;
  width: 14px;
  background: #838383;
}
.hr-delLabel-icon::before {
  transform: rotate(45deg);
}
.hr-delLabel-icon::after {
  transform: rotate(-45deg);
}

.search-value {
  outline: none;
  border: none;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  margin-bottom: 10px;
  margin-right: 18px;
}

.search-icon {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 2px;
  right: 0;
  cursor: pointer;
}
.search-icon::before{
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  border: 1px solid #c0c0c0;
  border-radius: 50%;
}
.search-icon::after{
  content: "";
  width: 7px;
  height: 1px;
  background: #c0c0c0;
  position: absolute;
  top: 12px;
  left: 12px;
  transform-origin: left top;
  transform: rotate(45deg);
}
.search-icon:hover::before{
  border: 1px solid #5582F3;
}
.search-icon:hover::after{
  background: #5582F3;
}

.search-menu {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.20);
  z-index: 1;
}

.search-menu p {
  margin: 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.search-menu p.active {
  cursor: pointer;
  background: rgba(85, 130, 243, 0.20);
}

.search-menu p .searchFast {
  display: none;
  color: #5582F3;
  cursor: pointer;
}

.search-menu p .keyItem {
  cursor: pointer;
}

.search-menu p .searchFast.active {
  display: inline;
  z-index: 2;
}

.search-menu .clearHistory {
  margin: 0;
  padding: 5px 10px;
  text-align: center;
  color: #5582F3;
  cursor: pointer;
}