*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 96rem;
    height: 54rem;
    font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    background: #1B213A;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
/*.container::-webkit-scrollbar{
    display: none;
}*/

.hr_5{
    width: 96rem;
    height: 0.25rem;
    background: #188DF0;
}
h4{
    font-size: 1.125rem;
    color: #00A9FF;
    padding-top: 1.35rem;
    padding-left: 2.5rem;
    font-weight: lighter;
}
/*header*/
.header{
    line-height: 3.75rem;
    color: #ffffff;
    overflow: hidden;
}
.header_left{
    height: 3.75rem;
    margin-left: 2rem;
    float: left;
    display: flex;
    align-items: center;
}
.header_left .logo{
    width: 6.05rem;
    height: 2.55rem; 
    margin-right: 3.3rem;
    display: inline-block;
}
.header_left h3{
    line-height: 3.75rem;
    font-size: 1.5rem;
    font-weight: normal;
}
.header_right{
    float: right;
    padding-right: 0.5rem;
}
.header_right span{
    display: inline-block;
    margin-right: 0.25rem;
}

/*content*/
.content {
    width: 96rem;
    overflow: hidden;
}
/* top */
.top{
    background: #27314A;
    border-radius: 10px 0 0 10px;
    margin-bottom: 0.75rem;
    overflow: hidden;
}
.top>div{
    height: 15rem;
    width: 47.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-left{
    padding: 0 3rem;
    float: left;
}
.car{
    width: 10rem;
    height: 15rem;
}
.top-right{
    padding: 1.55rem;
    float: right;
    color: #09BBB0;
    font-size: 1.2rem;
    font-weight: lighter;
    text-align: center;
}
.sum{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 0.5rem;
}
.tr-item:nth-child(2){
    position: relative;
}
.tr-item:nth-child(2):before{
    content: "";
    width: 0.1rem;
    height: 4.125rem;
    background: #3F485D;
    display: block;
    position: absolute;
    top: 0.8rem;
    left: -2rem;
}
.tr-item:nth-child(2):after{
    content: "";
    width: 0.1rem;
    height: 4.125rem;
    background: #3F485D;
    display: block;
    position: absolute;
    top: 0.8rem;
    right: -2.9rem;
}
/* bottom */
.bottom{
    overflow: hidden;
}
.bottom>div{
    height: 34.25rem;
    background: #27314A;
    overflow: hidden;
}
.bottom-left{
    width: 48rem;
    float: left;
    border-radius: 0 10px 0 0; 
}
.task{
    width: 47rem;
    height: 27rem;
}
.bottom-right{
    width: 47.25rem;
    float: right;
    border-radius: 10px 0 0 0;
    position: relative;
}
.summary{
    position: absolute;
    font-size: 1rem;
    color: #09BBB0;
    top: 1.4rem;
    right: 2.625rem;
    font-weight: lighter;
    display: flex;
    align-items: center;
}
.summary>span{
    height: 1.6rem;
    background: #333D54;
    border-radius: 0.2rem;
    padding: 0 0.55rem;
    display: flex;
    align-items: center;
}
.summary>span:first-child{
    margin-right: 3.3rem;
}
#unscroll-cont{
    margin-top: 1.5rem;
}
#scroll-cont{
    margin-top: 1rem;
    height: 19rem;
    overflow: hidden;
}
.rank{
    padding-left: 4.5rem;
}
.rank li{
    height: 2.45rem;
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    color: #FFFFFF;
}
.sequence{
    width: 2.225rem;
    height: 2.225rem;
    border-radius: 50%;
    font-size: 1.125rem;
    color: #D3D5DA;
    margin-right: 7.5rem;
    background: url(../images/background.png) center center no-repeat;
    background-size: cover; 
    text-align: center;
    line-height: 2.3rem;
}
#unscroll-cont>li:nth-child(1){
    color: #FF9400;
}
#unscroll-cont>li:nth-child(2){
    color: #96BFFF;
}
#unscroll-cont>li:nth-child(3){
    color: #FFBD92;
}
#unscroll-cont>li:nth-child(1) .sequence{
    background: url(../images/first.png) center center no-repeat;
    background-size: cover;
}
#unscroll-cont>li:nth-child(2) .sequence{
    background: url(../images/second.png) center center no-repeat;
    background-size: cover;
}
#unscroll-cont>li:nth-child(3) .sequence{
    background: url(../images/third.png) center center no-repeat;
    background-size: cover;
}
.name{
    width: 11.4rem;
}
.num{
    width: 10.75rem;
}




















