
.confirm_content .kd-modal-body .confirm_content_title{
  font-size: 14px;
  line-height: 30px;
  font-weight: 600;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.confirm_content_detail .confirm_content_detail_info{
  height: 50px;
  overflow-y: scroll;
  word-wrap: break-word;
  margin-bottom: 5px;
}

.confirm_content .kd-modal-body .confirm_content_link{
  line-height: 30px;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#hripHomePage .kd-tooltip{
  max-width: max-content;
}

#hripHomePage .kd-popper.hidden {
  opacity: 0;
  visibility: hidden;
}

.hripHomePage-carousel-slidebar-dot{
  width: 8px!important;
  height: 8px!important;
  border-radius: 100%;
  opacity: 0.5;
  background: #FFFFFF;
}
.hripHomePage-carousel-slidebar-dot>button{
  display: none;
}
.hripHomePage-carousel-slidebar-dot-active{
  width: 8px!important;
  height: 8px!important;
  border-radius: 100%;
  opacity: 1!important;
  background: #FFFFFF;
}
.hripHomePage-carousel-slidebar-dot-active>button{
  display: none;
}


#hripHomePage .kd-carousel-root{
  height: 100%;
}

#hripHomePage .kd-carousel-root{
  
}

