.tips{
	word-wrap:break-word;
	text-indent:2em;
	line-height:24px;
	font-size:16px;
}
.linkButton
{
	cursor: pointer;
	word-wrap:break-word;
	height:24px;
	line-height:24px;
	font-size:16px;
	margin-left: 5px;
}