._1E_O-7qAER_sMlFJbgFJHt {
  font-size: 12px;
  width: 100%;
}
._1E_O-7qAER_sMlFJbgFJHt ._2ZQmzHwabO-C53Fn7ODBwW {
  width: 100%;
  padding: 0px 21px;
  height: 42px;
  line-height: 42px;
  background: #F2F9FF;
  border: 1px solid #e0efff;
  border-radius: 2px;
  font-family: MicrosoftYaHei;
  font-size: 12px;
  color: #212121;
  letter-spacing: 0;
  font-weight: 400;
}
._1E_O-7qAER_sMlFJbgFJHt ._2ZQmzHwabO-C53Fn7ODBwW ._3I3_1CfTq5LkiyZmv518eu {
  color: var(--theme-color);
  margin-right: 9px;
  font-size: 14px;
}
._1E_O-7qAER_sMlFJbgFJHt ._3Zcq1A7qD1_OzB2WwIr9Ta {
  padding: 0px 54px 0px 44px;
  font-family: MicrosoftYaHei;
  font-size: 12px;
  color: #212121;
  letter-spacing: 0;
  line-height: 18px;
  font-weight: 400;
  margin-top: 28px;
}
._1E_O-7qAER_sMlFJbgFJHt ._2aErH3ZoqvyJ47MGiO3hQG {
  margin-top: 20px;
  padding: 0px 90px;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
}
._1E_O-7qAER_sMlFJbgFJHt ._2aErH3ZoqvyJ47MGiO3hQG ._2UzzG_eGipWvtFRIfAozkR {
  width: 70px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-right: 50px;
}
._1E_O-7qAER_sMlFJbgFJHt ._2aErH3ZoqvyJ47MGiO3hQG ._2UzzG_eGipWvtFRIfAozkR ._2qYrl8C1_fF49zXtBTBDi5 {
  width: 60px;
  height: 60px;
  margin-bottom: 12px;
  border: 1px solid #979797;
  border-radius: 100%;
}
._1E_O-7qAER_sMlFJbgFJHt ._2aErH3ZoqvyJ47MGiO3hQG ._2UzzG_eGipWvtFRIfAozkR ._2qYrl8C1_fF49zXtBTBDi5 ._3Um_MCgibSFftj4e85o6y7 {
  width: 100%;
  height: 100%;
}
._1E_O-7qAER_sMlFJbgFJHt ._2aErH3ZoqvyJ47MGiO3hQG ._2UzzG_eGipWvtFRIfAozkR ._1m6MShtHh5tymvsZ4rvFxI {
  font-family: MicrosoftYaHeiSemibold;
  font-size: 14px;
  color: #212121;
  letter-spacing: 0;
  font-weight: 600;
  width: inherit;
}
._1E_O-7qAER_sMlFJbgFJHt ._2aErH3ZoqvyJ47MGiO3hQG .E4VhlZuediw6YjUAW8cNc ._2qYrl8C1_fF49zXtBTBDi5 {
  position: relative;
  border: 1px solid var(--theme-color);
}
._1E_O-7qAER_sMlFJbgFJHt ._2aErH3ZoqvyJ47MGiO3hQG .E4VhlZuediw6YjUAW8cNc ._1m6MShtHh5tymvsZ4rvFxI {
  color: var(--theme-color);
}
._1E_O-7qAER_sMlFJbgFJHt ._2aErH3ZoqvyJ47MGiO3hQG .E4VhlZuediw6YjUAW8cNc ._2MRj6GeAiZZw_7T0JCphSJ {
  border-radius: 100%;
  color: var(--theme-color);
  text-align: center;
  justify-items: center;
  position: absolute;
  top: 0px;
  right: 0px;
  line-height: 14px;
  background-color: #fff;
}
._1E_O-7qAER_sMlFJbgFJHt ._2aErH3ZoqvyJ47MGiO3hQG ._2UzzG_eGipWvtFRIfAozkR:hover {
  color: var(--theme-color);
}
._1E_O-7qAER_sMlFJbgFJHt ._2aErH3ZoqvyJ47MGiO3hQG ._2UzzG_eGipWvtFRIfAozkR:hover ._2qYrl8C1_fF49zXtBTBDi5 {
  border: 1px solid var(--theme-color);
}
._1E_O-7qAER_sMlFJbgFJHt ._2aErH3ZoqvyJ47MGiO3hQG ._2UzzG_eGipWvtFRIfAozkR:hover ._1m6MShtHh5tymvsZ4rvFxI {
  color: var(--theme-color);
}
