/* 去除默认的margin,padding,outline */
.noMarginOrPadding,
.noMarginOrPaddingIncludeChildren * {
  margin: 0;
  padding: 0;
  outline: 0 none;
}

#analyse_text_formula {
  width: 575px;
  height: 80px;
  padding: 10px;
  border: 1px solid rgb(229, 229, 229);
  /*background-color: aliceblue;*/
  font-size: 16px;
  color: rgb(190, 190, 190);
  word-wrap: break-word;
  overflow-y: auto;
}

#analyse_text_formula .analyse_text_formula_dimGroup {
  color: rgb(14, 95, 216);
}

#analyse_text_formula .analyse_text_formula_function {
  color: rgb(155, 194, 230);
}

#analyse_text_formula:empty::before {
  content: attr(placeholder);
}

#analyse_text_formula:empty {
  content: attr(placeholder);
}