._2Z0xAPAe2jYB_YU0Jlz-4h {
  flex-grow: 1;
  font-family: "MicrosoftYaHei";
}
._2Z0xAPAe2jYB_YU0Jlz-4h ._1vep7J46KlYqu_C-5Yxjvi {
  height: 100%;
  display: flex;
}
._2Z0xAPAe2jYB_YU0Jlz-4h ._1vep7J46KlYqu_C-5Yxjvi ._13B5jN8ECQ7CN7VKyegP4 {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-left: 1px solid #d9d9d9;
}
._2Z0xAPAe2jYB_YU0Jlz-4h ._1vep7J46KlYqu_C-5Yxjvi ._13B5jN8ECQ7CN7VKyegP4 > div {
  height: 68px;
  width: 60px;
  background: var(--theme-color);
  border-radius: 2px;
  font-family: "MicrosoftYaHei";
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
  display: flex;
  font-weight: 400;
  align-items: center;
  text-align: center;
  cursor: pointer;
  padding: 0 16px;
  justify-content: center;
  flex-direction: column;
}
._2Z0xAPAe2jYB_YU0Jlz-4h ._1vep7J46KlYqu_C-5Yxjvi ._2QCG2kSX_-6uMvGeQT90tw {
  width: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  padding: 12px 0 12px 20px;
}
._2Z0xAPAe2jYB_YU0Jlz-4h ._1vep7J46KlYqu_C-5Yxjvi ._2QCG2kSX_-6uMvGeQT90tw ._36zJVN7EedPVhphFgoU-QM {
  display: flex;
  width: 100%;
}
._2Z0xAPAe2jYB_YU0Jlz-4h ._1vep7J46KlYqu_C-5Yxjvi ._2QCG2kSX_-6uMvGeQT90tw ._36zJVN7EedPVhphFgoU-QM .icApkXf_tlWkAvnlrHMUX {
  display: flex;
  flex-direction: column;
  width: 230px;
}
._2Z0xAPAe2jYB_YU0Jlz-4h ._1vep7J46KlYqu_C-5Yxjvi ._2QCG2kSX_-6uMvGeQT90tw ._36zJVN7EedPVhphFgoU-QM .icApkXf_tlWkAvnlrHMUX ._2uKsqpqQMoZTzBv1kASP4- {
  display: flex;
  margin-bottom: 2px;
}
._2Z0xAPAe2jYB_YU0Jlz-4h ._1vep7J46KlYqu_C-5Yxjvi ._2QCG2kSX_-6uMvGeQT90tw ._36zJVN7EedPVhphFgoU-QM .icApkXf_tlWkAvnlrHMUX ._2uKsqpqQMoZTzBv1kASP4- > span {
  color: #666666;
}
._2Z0xAPAe2jYB_YU0Jlz-4h ._1vep7J46KlYqu_C-5Yxjvi ._2QCG2kSX_-6uMvGeQT90tw ._1sPoX3SbphATfbE80H-V0e {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}
._2Z0xAPAe2jYB_YU0Jlz-4h ._1vep7J46KlYqu_C-5Yxjvi ._2QCG2kSX_-6uMvGeQT90tw ._1sPoX3SbphATfbE80H-V0e .KzPt-4u5hEU4l4vL5nctZ {
  display: flex;
  cursor: text;
  color: #666666;
  font-size: 12px;
  align-items: center;
  margin-bottom: 8px;
}
._2Z0xAPAe2jYB_YU0Jlz-4h ._1vep7J46KlYqu_C-5Yxjvi ._2QCG2kSX_-6uMvGeQT90tw ._1sPoX3SbphATfbE80H-V0e .KzPt-4u5hEU4l4vL5nctZ ._1x5QAblbmS5UmxtoKW5kOa {
  color: red;
}
._2Z0xAPAe2jYB_YU0Jlz-4h ._1vep7J46KlYqu_C-5Yxjvi ._2QCG2kSX_-6uMvGeQT90tw ._1sPoX3SbphATfbE80H-V0e ._2f3RzTltQLVlBm99ygjkfk {
  height: calc(100% - 32px);
}
._2Z0xAPAe2jYB_YU0Jlz-4h ._1vep7J46KlYqu_C-5Yxjvi ._2QCG2kSX_-6uMvGeQT90tw ._1sPoX3SbphATfbE80H-V0e ._2f3RzTltQLVlBm99ygjkfk ._26CwvYhp8WrDO2CQwWT87X {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}
._2Z0xAPAe2jYB_YU0Jlz-4h ._1vep7J46KlYqu_C-5Yxjvi ._2QCG2kSX_-6uMvGeQT90tw ._1sPoX3SbphATfbE80H-V0e ._2f3RzTltQLVlBm99ygjkfk ._26CwvYhp8WrDO2CQwWT87X ._2XPOKPful0uoqCwjTdMb2V {
  height: 20px;
  border-right: 1px solid #d9d9d9;
  margin: 0 20px 0 19px;
}
._2Z0xAPAe2jYB_YU0Jlz-4h ._1vep7J46KlYqu_C-5Yxjvi ._2QCG2kSX_-6uMvGeQT90tw ._1sPoX3SbphATfbE80H-V0e ._2f3RzTltQLVlBm99ygjkfk ._26CwvYhp8WrDO2CQwWT87X ._2jo5soGbtaYuTi3TBo6i3N {
  position: relative;
  height: 28px;
  line-height: 28px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  width: 230px;
}
._2Z0xAPAe2jYB_YU0Jlz-4h ._1vep7J46KlYqu_C-5Yxjvi ._2QCG2kSX_-6uMvGeQT90tw ._1sPoX3SbphATfbE80H-V0e ._2f3RzTltQLVlBm99ygjkfk ._26CwvYhp8WrDO2CQwWT87X ._2jo5soGbtaYuTi3TBo6i3N input {
  border: none;
  padding-left: 8px;
}
._2Z0xAPAe2jYB_YU0Jlz-4h ._1vep7J46KlYqu_C-5Yxjvi ._2QCG2kSX_-6uMvGeQT90tw ._1sPoX3SbphATfbE80H-V0e ._2f3RzTltQLVlBm99ygjkfk ._26CwvYhp8WrDO2CQwWT87X ._2jo5soGbtaYuTi3TBo6i3N .zbn1oAjacsVbpX66X3O0D {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
._2Z0xAPAe2jYB_YU0Jlz-4h ._1vep7J46KlYqu_C-5Yxjvi ._2QCG2kSX_-6uMvGeQT90tw ._1sPoX3SbphATfbE80H-V0e ._2f3RzTltQLVlBm99ygjkfk ._26CwvYhp8WrDO2CQwWT87X ._2jo5soGbtaYuTi3TBo6i3N ._3gpC3gE5LTsBrnA9l4hJe0 {
  cursor: pointer;
  right: 8px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  width: 16px;
  height: 16px;
  position: absolute;
  font-size: 16px;
}
._2Z0xAPAe2jYB_YU0Jlz-4h ._1vep7J46KlYqu_C-5Yxjvi ._2QCG2kSX_-6uMvGeQT90tw ._1sPoX3SbphATfbE80H-V0e ._2f3RzTltQLVlBm99ygjkfk ._26CwvYhp8WrDO2CQwWT87X ._1jQfE3RbOmtngw-P_xiyC- {
  cursor: pointer;
  margin-left: 16px;
}
._2Z0xAPAe2jYB_YU0Jlz-4h ._1vep7J46KlYqu_C-5Yxjvi ._2QCG2kSX_-6uMvGeQT90tw ._1sPoX3SbphATfbE80H-V0e ._2f3RzTltQLVlBm99ygjkfk ._26CwvYhp8WrDO2CQwWT87X ._1jQfE3RbOmtngw-P_xiyC- > i {
  font-size: 24px;
  color: #999;
}
._2Z0xAPAe2jYB_YU0Jlz-4h ._1vep7J46KlYqu_C-5Yxjvi ._2QCG2kSX_-6uMvGeQT90tw ._1sPoX3SbphATfbE80H-V0e ._2f3RzTltQLVlBm99ygjkfk ._26CwvYhp8WrDO2CQwWT87X ._1jQfE3RbOmtngw-P_xiyC- > i:hover {
  color: red;
}
._2Z0xAPAe2jYB_YU0Jlz-4h ._1vep7J46KlYqu_C-5Yxjvi ._2QCG2kSX_-6uMvGeQT90tw ._1sPoX3SbphATfbE80H-V0e ._2f3RzTltQLVlBm99ygjkfk ._26CwvYhp8WrDO2CQwWT87X ._3ztK26ovi8tNEWPmCZIA5B {
  display: flex;
  align-items: center;
}
._2Z0xAPAe2jYB_YU0Jlz-4h ._1vep7J46KlYqu_C-5Yxjvi ._2QCG2kSX_-6uMvGeQT90tw ._1sPoX3SbphATfbE80H-V0e ._2f3RzTltQLVlBm99ygjkfk ._1s65FkyRL5e-vuvOjSF90C {
  display: inline-flex;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid var(--theme-color);
  border-radius: 2px;
  font-size: 12px;
  color: var(--theme-color);
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  font-weight: 400;
  padding: 5px 8px;
  height: 28px;
  min-width: 90px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  flex-shrink: 0;
}
._2Z0xAPAe2jYB_YU0Jlz-4h ._1vep7J46KlYqu_C-5Yxjvi ._2QCG2kSX_-6uMvGeQT90tw ._1ftxhYzguKvQYNgrE-_WZZ {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
._2Z0xAPAe2jYB_YU0Jlz-4h ._1d9fXd6snuaap5zIS3Ilgs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  border-top: 1px solid #d9d9d9;
}
._2Z0xAPAe2jYB_YU0Jlz-4h ._1d9fXd6snuaap5zIS3Ilgs ._1yh4U-ZqD0fd4OlYqQyvy3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
._2Z0xAPAe2jYB_YU0Jlz-4h ._1d9fXd6snuaap5zIS3Ilgs ._1yh4U-ZqD0fd4OlYqQyvy3 > span {
  font-size: 14px;
  color: #999999;
  letter-spacing: 0;
  text-align: center;
  line-height: 21px;
  font-weight: 400;
}
._1lIPkr8zFvCh7bqChv6gLO {
  overflow: auto;
  max-height: 346px;
  padding: 12px;
  min-width: 230px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  z-index: 99999!important;
  background: #fff;
  -webkit-animation: _1hAt2nGgbi9GnykQygLzTs 1s steps(1) 0s 1 normal none;
  animation: _2q0Ac2XwktAnP6kpvUx1_X 1s steps(1) 0s 1 normal none;
  transform-origin: 50% 0;
}
._1lIPkr8zFvCh7bqChv6gLO ._1azq4PXIba5slEHF0p9ygT {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 8px;
}
._1lIPkr8zFvCh7bqChv6gLO ._1azq4PXIba5slEHF0p9ygT:first-child {
  margin-top: 0;
}
._1lIPkr8zFvCh7bqChv6gLO ._1azq4PXIba5slEHF0p9ygT .fguwrL2YSzKv0X6OfyInV {
  flex-shrink: 0;
  margin-right: 12px;
  color: #666;
  line-height: 1.5;
  font-size: var(--kd-cq-dropdown-select-font-size, var(--kd-cq-font-size, 12px));
}
._1lIPkr8zFvCh7bqChv6gLO ._1azq4PXIba5slEHF0p9ygT ._1Y-1naCcVznwmGrqQONuJF {
  width: 230px;
  min-width: 230px;
  color: #212121;
  line-height: 1.5;
  padding: 1px 8px;
  background: #fff;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  height: 25px;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}
@keyframes _2q0Ac2XwktAnP6kpvUx1_X {
  0.00% {
    transform: translate3D(0px, 0px, 0px) rotate(0deg) scale(0.98, 0.98);
    opacity: 0;
  }
  3.33% {
    transform: translate3D(0px, 0px, 0px) rotate(0deg) scale(0.98101852, 0.98101852);
    opacity: 0.17;
  }
  6.67% {
    transform: translate3D(0px, 0px, 0px) rotate(0deg) scale(0.9837037, 0.9837037);
    opacity: 0.33;
  }
  10.00% {
    transform: translate3D(0px, 0px, 0px) rotate(0deg) scale(0.9875, 0.9875);
    opacity: 0.5;
  }
  13.33% {
    transform: translate3D(0px, 0px, 0px) rotate(0deg) scale(0.99185185, 0.99185185);
    opacity: 0.67;
  }
  16.67% {
    transform: translate3D(0px, 0px, 0px) rotate(0deg) scale(0.9962037, 0.9962037);
    opacity: 0.83;
  }
  20.00% {
    transform: translate3D(0px, 0px, 0px) rotate(0deg) scale(1, 1);
    opacity: 1;
  }
  100.00% {
    transform: translate3D(0px, 0px, 0px) rotate(0deg) scale(1, 1);
    opacity: 1;
  }
}
._2Zf2jkGPOutaZELzSsaswY {
  width: 230px;
  display: flex;
  flex-direction: column;
  height: 28px;
}
._2Zf2jkGPOutaZELzSsaswY ._12-T3AcHnuTKfgJQv9bCl- {
  display: flex;
  cursor: text;
  color: #666;
  font-size: 12px;
  align-items: center;
  margin-bottom: 2px;
  flex-shrink: 0;
}
._2Zf2jkGPOutaZELzSsaswY ._12-T3AcHnuTKfgJQv9bCl- ._3i-LFwnkVj7H4fbHx9QIN3 {
  color: red;
}
._2Zf2jkGPOutaZELzSsaswY ._1L_vhuMxRrx1B3kgvWFs_l {
  position: relative;
  height: 28px;
  line-height: 28px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}
._2Zf2jkGPOutaZELzSsaswY ._1L_vhuMxRrx1B3kgvWFs_l input {
  border: none;
  height: 21px;
  line-height: 21px;
  padding: 0 8px;
  width: 100%;
}
._2Zf2jkGPOutaZELzSsaswY ._1L_vhuMxRrx1B3kgvWFs_l ._1_p8xJWxlBToncEAebVzsP {
  cursor: pointer;
  right: 8px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  width: 16px;
  height: 16px;
  position: absolute;
  font-size: 16px;
}
._2Zf2jkGPOutaZELzSsaswY:hover ._1_p8xJWxlBToncEAebVzsP {
  color: var(--theme-color);
}
