.popover[data-v-673c72e6] {
  z-index: 2001;
  position: absolute;
  -webkit-transition: opacity 0.15s, -webkit-transform 0.15s;
  transition: opacity 0.15s, -webkit-transform 0.15s;
  transition: opacity 0.15s, transform 0.15s;
  transition: opacity 0.15s, transform 0.15s, -webkit-transform 0.15s;
}
.popover__wrapper[data-v-673c72e6] {
  display: inline-block;
}
.popover__content[data-v-673c72e6] {
  background-color: #4a4a4a;
  color: #fff;
  border-radius: 4px;
  overflow: hidden;
}
.popover__arrow[data-v-673c72e6] {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 4px;
  color: #4a4a4a;
}
.popover[data-popper-placement^="top"] .popover__arrow[data-v-673c72e6] {
  bottom: 0;
  border-top-color: currentColor;
  border-bottom-width: 0;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
}
.popover[data-popper-placement="top"][data-v-673c72e6] {
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}
.popover[data-popper-placement="top"] .popover__arrow[data-v-673c72e6] {
  left: 50%;
}
.popover[data-popper-placement="top-start"][data-v-673c72e6] {
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
}
.popover[data-popper-placement="top-start"] .popover__arrow[data-v-673c72e6] {
  left: 0;
}
.popover[data-popper-placement="top-end"][data-v-673c72e6] {
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.popover[data-popper-placement="top-end"] .popover__arrow[data-v-673c72e6] {
  right: 0;
}
.popover[data-popper-placement^="left"] .popover__arrow[data-v-673c72e6] {
  right: 0;
  border-right-width: 0;
  border-left-color: currentColor;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}
.popover[data-popper-placement="left"][data-v-673c72e6] {
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}
.popover[data-popper-placement="left"] .popover__arrow[data-v-673c72e6] {
  top: 50%;
}
.popover[data-popper-placement="left-start"][data-v-673c72e6] {
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}
.popover[data-popper-placement="left-start"] .popover__arrow[data-v-673c72e6] {
  top: 8px;
}
.popover[data-popper-placement="left-end"][data-v-673c72e6] {
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.popover[data-popper-placement="left-end"] .popover__arrow[data-v-673c72e6] {
  bottom: 8px;
}
.popover[data-popper-placement^="right"] .popover__arrow[data-v-673c72e6] {
  left: 0;
  border-right-color: currentColor;
  border-left-width: 0;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}
.popover[data-popper-placement="right"][data-v-673c72e6] {
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
}
.popover[data-popper-placement="right"] .popover__arrow[data-v-673c72e6] {
  top: 50%;
}
.popover[data-popper-placement="right-start"][data-v-673c72e6] {
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}
.popover[data-popper-placement="right-start"] .popover__arrow[data-v-673c72e6] {
  top: 8px;
}
.popover[data-popper-placement="right-end"][data-v-673c72e6] {
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
}
.popover[data-popper-placement="right-end"] .popover__arrow[data-v-673c72e6] {
  bottom: 8px;
}
.popover[data-popper-placement^="bottom"] .popover__arrow[data-v-673c72e6] {
  top: 0;
  border-top-width: 0;
  border-bottom-color: currentColor;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}
.popover[data-popper-placement="bottom"][data-v-673c72e6] {
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
}
.popover[data-popper-placement="bottom"] .popover__arrow[data-v-673c72e6] {
  left: 50%;
}
.popover[data-popper-placement="bottom-start"][data-v-673c72e6] {
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}
.popover[data-popper-placement="bottom-start"] .popover__arrow[data-v-673c72e6] {
  left: 0;
}
.popover[data-popper-placement="bottom-end"][data-v-673c72e6] {
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}
.popover[data-popper-placement="bottom-end"] .popover__arrow[data-v-673c72e6] {
  right: 0;
}
.popover-zoom-enter[data-v-673c72e6],
.popover-zoom-leave-active[data-v-673c72e6] {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0;
}
.popover-zoom-enter-active[data-v-673c72e6] {
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}
.popover-zoom-leave-active[data-v-673c72e6] {
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

.m-icon-popover[data-v-371c6604] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.m-icon-popover-menus[data-v-371c6604] {
  padding: 4px;
  white-space: nowrap;
}
.m-icon-popover-menu-item[data-v-371c6604] {
  font-size: 12px;
  line-height: 18px;
  display: inline-block;
  padding: 0 8px;
}
.m-icon-popover-menu-item[data-v-371c6604]:not(:last-of-type) {
  border-right: 1px solid #efefef;
}
.m-icon-popover.vertical .m-icon-popover-menus[data-v-371c6604] {
  padding: 0 4px;
}
.m-icon-popover.vertical .m-icon-popover-menu-item[data-v-371c6604] {
  padding: 8px;
  text-align: center;
  display: block;
}
.m-icon-popover.vertical .m-icon-popover-menu-item[data-v-371c6604]:not(:last-of-type) {
  border-bottom: 1px solid #efefef;
  border-right: none;
}

