<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- 业务规则测试页面 -->
  <title>rule_manage</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="lib/prod/element_ui/2.15.5/index.css">
  <link rel="stylesheet" href="lib/dev/tailwindcss/2.2.8/tailwind.css">
  <link rel="stylesheet" href="lib/dev/common/1.0.0/common.css">
  <link rel="stylesheet" href="lib/dev/kd/1.0.0/kd.css">
  <style>
    .noMarginOrPadding {
      margin: 0;
      padding: 0;
      outline: 0 none;
    }

    .noMarginOrPaddingIncludeChildren * {
      margin: 0;
      padding: 0;
      outline: 0 none;
    }
  </style>
</head>

<!-- https://cn.vuejs.org/v2/guide/installation.html -->
<!-- https://element.eleme.cn/#/zh-CN/component/quickstart -->
<!-- https://www.tailwindcss.cn/docs -->

<body>
  <div id="vue">
    <el-input type="textarea" :autosize="{ minRows: 4, maxRows: 8}" placeholder="请输入内容" v-model="jsonString"></el-input>
    <el-button type="primary" @click.stop="frontMethodProxy('updateData', 'event', $event)">更新数据</el-button>
    <div>{{message}}</div>
    <div style="height: 300px;" @click.stop="frontMethodProxy('showMenu', 'event', $event)"></div>
    <template>
      <el-select v-model="value" filterable placeholder="请选择">
        <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"></el-option>
      </el-select>
    </template>
    <template v-if="searchData && searchData.showBoolean">
      <div style="width: 360px;height: 360px;display: block;transform-origin: center top;z-index: 2004;position: absolute;top: 600px;left: 5px;box-shadow: rgba(0, 0, 0, 0.2) 0 1px 8px 0;background-color: white;" :style="style">
        <div style="width: 360px;height: 360px;">
          <div class="background_color_rgb_245_245_245" style="padding: 0 0 0 20px;height: 36px;">
            <div class="inline-block color_rgb_51_51_51" style="font-size: 14px;line-height: 36px;width: 160px;">编码</div>
            <div class="inline-block color_rgb_51_51_51" style="font-size: 14px;line-height: 36px;">名称</div>
          </div>
          <div style="overflow: auto;height: 288px;" class="w-full">
            <template v-for="data of searchData.dataArray">
              <div :class="[data.onmousemove ? 'background_color_rgb_245_245_245':'']" style="padding: 0 0 0 20px;height: 30px;" @mousemove.stop="frontMethodProxy('onmousemove', 'event', $event, 'data', data)" @mouseout.stop="frontMethodProxy('onmouseout', 'event', $event, 'data', data)" @click.stop="frontMethodProxy('selectMember', 'event', $event, 'data', data)">
                <div class="inline-block color_rgb_102_102_102" style="font-size: 12px;height: 30px;line-height: 30px;;width: 160px">{{data.number}}</div>
                <div class="inline-block color_rgb_102_102_102" style="font-size: 12px;height: 30px;line-height: 30px;">{{data.name}}</div>
              </div>
            </template>
          </div>
          <div style="height: 36px;">
            <div style="line-height: 36px;text-align: center;font-size: 14px;" class="color_0E5FD8" @click.stop="frontMethodProxy('close', 'event', $event, 'searchData', searchData)">关闭</div>
          </div>
        </div>
      </div>
    </template>
  </div>
</body>

<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="lib/dev/vue/2.6.14/vue.js"></script>
<!-- 引入组件库 -->
<script src="lib/prod/element_ui/2.15.5/index.js"></script>
<!-- 工具类 -->
<script src="lib/dev/common/1.0.0/common_utils.js"></script>
<!-- art-template -->
<script src="lib/prod/art-template/4.13.2/template-web.js"></script>

<script>
  console.log("getFunctionNameString", CommonUtils.getFunctionNameString(CommonUtils.getFunctionNameString));

  function test1(arg) {
    console.log("this", this, "arguments", arguments);
    console.log("getFunctionNameString", CommonUtils.getFunctionNameString(arguments.callee));
  }
  console.log("getFunctionNameString", test1(123));
  var searchData = {};
  searchData.showBoolean = false;
  var dataArray = [];
  for (var i = 0; i < 30; i++) {
    var data = {}
    data.number = 'number' + i;
    data.name = 'name' + i;
    dataArray.push(data);
  }
  searchData.dataArray = dataArray;

  var constant = {};
  var vm = new Vue({
    el: '#vue',
    data: {
      message: "HELLO_WORLD",
      jsonString: '',
      searchData: searchData,
      options: [{
        value: '选项1',
        label: '黄金糕'
      }, {
        value: '选项2',
        label: '双皮奶'
      }, {
        value: '选项3',
        label: '蚵仔煎'
      }, {
        value: '选项4',
        label: '龙须面'
      }, {
        value: '选项5',
        label: '北京烤鸭'
      }],
      value: '',
      style: {}
    },
    methods: {
      handleChange(val) {
        console.log(val);
      },
      eventPreventDefault(event) {
        //现在我们可以访问原生事件对象
        if (event && event.preventDefault) {
          //阻止默认事件
          event.preventDefault()
        }
      },
      frontMethodProxy(frontMethodNameString, ...arguments) {
        console.log(frontMethodNameString, arguments);
        //js中有个变量arguments,可以访问所有传入的值
        if (arguments == null || arguments.length === 0) {
          //如果有前端方法名称操作则调用前端方法
          if (frontMethodNameString) {
            //调用前端方法
            vm.$options.methods[frontMethodNameString](null);
          }
          return;
        }
        if (arguments.length === 1) {
          //如果有前端方法名称操作则调用前端方法
          if (frontMethodNameString) {
            //调用前端方法
            vm.$options.methods[frontMethodNameString](arguments[0]);
            return;
          }
        }
        //传入的参数是奇数,去除第一个方法名,剩下的是偶数对,作为KEY和VALUE
        var argsMap = new Map();
        if (arguments.length % 2 === 0) {
          for (var i = 0; i < arguments.length; i = i + 2) {
            argsMap.set(arguments[i], arguments[i + 1]);
          }
        }
        //如果有前端方法名称操作则调用前端方法
        if (frontMethodNameString) {
          //调用前端方法
          //注意:这里传的是argsMap,之所以传Map是为了以后的拓展性
          console.log(frontMethodNameString, argsMap);
          vm.$options.methods[frontMethodNameString](argsMap);
        }
      },
      updateData(argMap) {
        var event = argMap.get('event');
        console.log("event", event);
        const { pageX, pageY, clientX, clientY } = event;
        console.log("pageX", pageX);
        console.log("jsonString", vm.$data.jsonString);
      },
      showMenu(argMap) {
        var event = argMap.get('event');
        console.log("event", event);
        const { clientWidth, clientHeight, scrollWidth, scrollHeight } = document.body || document.documentElement;
        const { pageX, pageY, clientX, clientY } = event;
        console.log("clientWidth", clientWidth, "clientHeight", clientHeight, "scrollWidth", scrollWidth, "scrollHeight", scrollHeight);
        console.log("pageX", pageX, "pageY", pageY, "clientX", clientX, "clientY", clientY);
        var style = {};
        if (clientX > (clientWidth * 2) / 3) {
          style.right = scrollWidth - pageX + 10 + 'px';
          style.left = null;
        } else {
          style.left = pageX + 10 + 'px'
          style.right = null;
        }
        style.top = pageY + 10 + "px"
        style.bottom = null;
        console.log("style", style, 'style.top', style.top, 'style.bottom', style.bottom, 'style.left', style.left, 'style.right', style.right);
        vm.$set(vm.$data, 'style', style);
        vm.$set(searchData, 'showBoolean', true);
      },
      onmousemove(argMap) {
        var data = argMap.get('data');
        vm.$set(data, 'onmousemove', true);
      },
      onmouseout(argMap) {
        var data = argMap.get('data');
        vm.$set(data, 'onmousemove', false);
      },
      selectMember(argMap) {
        console.log('selectMember', 'argMap', argMap);
      },
      close(argMap) {
        var searchData = argMap.get('searchData');
        vm.$set(searchData, 'showBoolean', false);
      }
    }
  })
</script>
<script src="lib/dev/debug/1.0.0/debug_utils.js"></script>
<script>
  // DebugUtils.setRandomColor(document.querySelectorAll('div, span'))
</script>

</html>