#splittips .hide{
	display: none !important;
}
#splittips .table {
	display: flex;
	justify-content: center;
}
#splittips p {
	margin-bottom: 2px;
}
#splittips .indent {
	text-indent:2em;
}
#splittips table {
	width: 95%;
	border-collapse: collapse;
	padding: 1px;
}
#splittips table,#splittips tr, #splittips th, #splittips td {
	padding: 2px 2px;
	min-width: 70px;
	min-height: 20px;
	border: 1px solid #ccc;
}