/*!*************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/postcss-loader/dist/cjs.js!../../node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[3].use[3]!./src/style/index.less ***!
  \*************************************************************************************************************************************************************************************************************************/
:root {
  --kdesigner-g-radius-border: 4px;
  --kdesigner-c-dropdown-font-size: 14px;
  --kdesigner-c-button-radius-border: 4px;
}
.kdesigner-dropdown {
  -webkit-box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
}
.nocode-flow-controls-end-node {
  width: 80px;
  height: 40px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 10px 2px rgba(0, 31, 122, 0.04);
          box-shadow: 0px 4px 10px 2px rgba(0, 31, 122, 0.04);
  border-radius: 21px;
  font-size: 16px;
  color: #666666;
  line-height: 40px;
  font-weight: 600;
  text-align: center;
}
.nocode-flow-controls-action {
  background-color: #16B8B1 !important;
}
.nocode-flow-controls-node-branch-start {
  position: relative;
  padding: 2px;
  -webkit-transform: perspective(400px);
          transform: perspective(400px);
}
.nocode-flow-controls-node-branch-start .diamond {
  width: 32px;
  height: 32px;
  -webkit-box-shadow: 0px 4px 10px 2px rgba(0, 31, 122, 0.04);
          box-shadow: 0px 4px 10px 2px rgba(0, 31, 122, 0.04);
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--kd-nc-primary-6, #276FF5);
  cursor: pointer;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.nocode-flow-controls-node-branch-start .diamond p {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 3px solid #fff;
}
.nocode-flow-controls-node-branch-start .diamond:hover {
  background-color: var(--kd-nc-primary-5, #5797FF);
}
.nocode-flow-controls-node-branch-start .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 24px;
  background-color: #fff;
  color: var(--kd-nc-primary-6, #276FF5);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 10px 2px rgba(0, 31, 122, 0.04);
          box-shadow: 0px 4px 10px 2px rgba(0, 31, 122, 0.04);
}
.nocode-flow-controls-node-branch-start .btn:hover {
  background-color: var(--kd-nc-primary-6, #276FF5);
  color: #FFF;
}
.nocode-flow-controls-node-branch-start .change,
.nocode-flow-controls-node-branch-start .change_readonly {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 24px;
  background-color: #fff;
  color: var(--kd-nc-primary-6, #276FF5);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 10px 2px rgba(0, 31, 122, 0.04);
          box-shadow: 0px 4px 10px 2px rgba(0, 31, 122, 0.04);
  position: absolute;
  top: 5px;
  width: 56px;
  left: -82px;
}
.nocode-flow-controls-node-branch-start .change:hover,
.nocode-flow-controls-node-branch-start .change_readonly:hover {
  background-color: var(--kd-nc-primary-6, #276FF5);
  color: #FFF;
}
.nocode-flow-controls-node-branch-start .change i,
.nocode-flow-controls-node-branch-start .change_readonly i {
  margin-right: 4px;
}
.nocode-flow-controls-node-branch-start .change span,
.nocode-flow-controls-node-branch-start .change_readonly span {
  font-size: 14px;
  line-height: 20px;
}
.nocode-flow-controls-node-branch-start .change_readonly:hover {
  background-color: #fff;
  color: var(--kd-nc-primary-6, #276FF5);
}
.nocode-flow-controls-node-branch-start .add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 24px;
  background-color: #fff;
  color: var(--kd-nc-primary-6, #276FF5);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 10px 2px rgba(0, 31, 122, 0.04);
          box-shadow: 0px 4px 10px 2px rgba(0, 31, 122, 0.04);
  position: absolute;
  top: 5px;
  left: 60px;
}
.nocode-flow-controls-node-branch-start .add:hover {
  background-color: var(--kd-nc-primary-6, #276FF5);
  color: #FFF;
}
.nocode-flow-controls-node-branch-start .delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 24px;
  background-color: #fff;
  color: var(--kd-nc-primary-6, #276FF5);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 10px 2px rgba(0, 31, 122, 0.04);
          box-shadow: 0px 4px 10px 2px rgba(0, 31, 122, 0.04);
  position: absolute;
  top: 5px;
  left: 100px;
}
.nocode-flow-controls-node-branch-start .delete:hover {
  background-color: var(--kd-nc-primary-6, #276FF5);
  color: #FFF;
}
.nocode-flow-top-view-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
}
.nocode-flow-node-nav-tool {
  height: 40px;
  background: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 16px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}
.nocode-flow-node-nav-tool-buttonbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #d9d9d9;
  padding-left: 16px;
  padding-right: 16px;
}
.nocode-flow-node-nav-tool-buttonbox:last-child {
  border-right: none;
}
.nocode-flow-node-nav-tool-buttonbox-operation-btn {
  margin-right: 20px;
  cursor: pointer;
  height: 24px;
  width: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
}
.nocode-flow-node-nav-tool-buttonbox-operation-btn:hover {
  background-color: #d9d9d9;
}
.nocode-flow-node-nav-tool-buttonbox-operation-btn-icon {
  font-size: 16px;
  color: #212121;
}
.nocode-flow-node-nav-tool-buttonbox-operation-disable {
  cursor: not-allowed;
  margin-right: 20px;
  height: 24px;
  width: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
}
.nocode-flow-node-nav-tool-buttonbox-operation-disable-icon {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.3);
}
.nocode-flow-node-nav-tool-buttonbox-last-operation {
  margin-right: 0px;
}
.nocode-flow-node-nav-tool-rightbutton {
  position: absolute;
  right: 0;
  top: 8px;
  width: 103px;
  height: 24px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #666;
  cursor: pointer;
}
.nocode-flow-node-nav-tool-rightbutton i {
  margin-right: 8px;
}
.nocode-flow-node-nav-tool-rightbutton span {
  font-size: 12px;
  line-height: 17px;
}
.node-selection {
  outline: 2px solid var(--kd-nc-primary-6, #276ff5) !important;
}
.node-error {
  position: relative;
}
.node-error-tips {
  position: absolute;
  right: -7px;
  top: -7px;
  z-index: 1;
}
.node-error-tips:hover .node-error-tips-panel {
  opacity: 1;
  visibility: visible;
}
.node-error-tips:hover .node-error-tips-panel::after {
  width: 100%;
  height: 22px;
}
.node-error-tips-icon {
  cursor: default;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--kd-nc-danger-6, #FB2323);
  color: #ffffff;
  text-align: center;
  line-height: 14px;
  font-size: 12px;
}
.node-error-tips-panel {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, calc(-100% - var(--arrow-padding, 10px)));
          transform: translate(-50%, calc(-100% - var(--arrow-padding, 10px)));
}
.node-error-tips-panel-hot {
  cursor: default;
  width: 100%;
  height: 20px;
}
.node-error-tips-panel-content {
  position: relative;
  min-width: 220px;
  max-width: var(--kd-c-tooltip-sizing-max-width, 360px);
  padding: var(--kd-c-tooltip-spacing-padding-vertical, 8px) var(--kd-c-tooltip-spacing-padding-horizontal, 12px);
  color: var(--kd-c-tooltip-color-text, var(--kd-g-color-text-primary, #212121));
  border-radius: var(--kd-c-tooltip-radius-border, var(--kd-g-radius-border, 2px));
  font-size: var(--kd-c-tooltip-color-text, var(--kd-g-font-size-small, 12px));
  line-height: 1.5;
  background-color: var(--kd-c-tooltip-color-background, var(--kd-g-color-background, #fff));
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  z-index: var(--kd-g-z-index-popper, 1050);
  cursor: default;
}
.node-error-tips-panel-content::before {
  position: absolute;
  bottom: -7px;
  left: 50%;
  z-index: -2;
  border: 4px solid #ffffff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg) translateX(-50%);
  content: '';
}
.node-error-tips-panel span {
  display: block;
  overflow: auto;
}
.node-error .nocode-flow-controls {
  outline: 1px dashed var(--kd-nc-danger-6, #FB2323);
}
.react-flow__handle {
  border: none !important;
  width: 1px !important;
  height: 1px !important;
  background-color: transparent !important;
}
.react-flow__edge-path {
  stroke-width: 2 !important;
}
.nocode-flow-controls {
  width: 280px;
  -webkit-box-shadow: 0px 4px 10px 2px rgba(0, 31, 122, 0.04);
          box-shadow: 0px 4px 10px 2px rgba(0, 31, 122, 0.04);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
}
.nocode-flow-controls_header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  line-height: 24px;
  background-color: #3987ED;
  padding: 0 16px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 8px 8px 0 0;
}
.nocode-flow-controls_header_title {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.nocode-flow-controls_header_title_icon {
  margin-right: 8px;
}
.nocode-flow-controls_header_title_icon i {
  font-size: 20px;
  color: #ffffff;
}
.nocode-flow-controls_header_title .name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.nocode-flow-controls_header_more {
  cursor: pointer;
  width: 16px;
  height: 16px;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nocode-flow-controls_header_more_icon {
  color: #ffffff;
}
.nocode-flow-controls_header_more-list {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 4px 0;
  font-size: 14px;
  color: #212121;
  line-height: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 136px;
  max-height: 360px;
  overflow: auto;
  top: 20px;
}
.nocode-flow-controls_header_more-list-item {
  width: 100%;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 12px;
  cursor: pointer;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nocode-flow-controls_header_more-list-item:hover {
  background: #f5f5f5;
}
.nocode-flow-controls_content {
  font-size: 14px;
  line-height: 20px;
  background-color: #fff;
  border-radius: 0 0 8px 8px;
  padding: 12px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.nocode-flow-controls_content div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 8px;
}
.nocode-flow-controls_content div:first-child {
  margin-top: 0px;
}
.nocode-flow-controls_content div:empty {
  margin-top: 1px;
}
.nocode-flow-controls_content span {
  color: #666;
}
.nocode-flow-controls_content_des {
  color: #999;
  display: -webkit-box;
  word-break: break-all;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  white-space: break-spaces !important;
}
.nocode-flow-controls_done .nocode-flow-controls_header,
.nocode-flow-controls_terminate .nocode-flow-controls_header {
  opacity: 0.5;
}
.nocode-flow-controls_todo .nocode-flow-controls_header {
  background-color: #cccccc !important;
  color: #ffffff;
}
.nocode-flow-rightpanel {
  --kd-c-drawer-dividing-sizing-width: 0px;
  --kd-c-drawer-header-sizing-padding-horizontal: 0;
  --kd-c-drawer-header-sizing-padding-vertical: 0;
  --kd-c-drawer-title-font-size: 16px;
  --kd-c-drawer-body-sizing-padding: 0 16px;
  z-index: 1049 !important;
}
.nocode-flow-rightpanel_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 7px 16px;
  background-color: #276ff5;
  color: #ffffff;
}
.nocode-flow-rightpanel_header_add {
  -webkit-box-shadow: inset 0px -1px 0px 0px #d9d9d9;
          box-shadow: inset 0px -1px 0px 0px #d9d9d9;
}
.nocode-flow-rightpanel_header_add .close {
  cursor: pointer;
  color: #666666;
}
.nocode-flow-rightpanel_header_title .designericon {
  font-size: 20px;
  margin-right: 8px;
}
.nocode-flow-rightpanel_header_title .addname {
  line-height: 26px;
  color: #212121;
  font-weight: 600;
}
.nocode-flow-rightpanel_header .close {
  cursor: pointer;
}
.nocode-flow-rightpanel .kd-drawer-title {
  line-height: 24px !important;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.nocode-flow-rightpanel .kdesigner-right-view-editor-control {
  margin-top: 24px;
  margin-bottom: 0;
}
.nocode-flow-rightpanel .kd-drawer-body {
  height: 100%;
  overflow-y: scroll;
  overflow-y: overlay;
}
.nocode-flow-rightpanel .kd-input-textarea {
  line-height: 22px;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
.nocode-flow-control-view {
  padding-top: 16px;
}
.nocode-flow-control-view-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.nocode-flow-control-view-container:not(:last-child) {
  margin-bottom: 32px;
}
.nocode-flow-control-view-container-header {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #212121;
}
.nocode-flow-control-view-container-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.nocode-flow-control-view-container-content-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(50% - 8px);
  height: 72px;
  cursor: pointer;
  margin-top: 16px;
}
.nocode-flow-control-view-container-content-control:hover {
  background: #F5F5F5;
  border-radius: 8px;
}
.nocode-flow-control-view-container-content-control:not(:nth-child(2n)) {
  margin-right: 16px;
}
.nocode-flow-control-view-container-content-control-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 16px;
  width: 100%;
  height: 100%;
}
.nocode-flow-control-view-container-content-control-main .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.nocode-flow-control-view-container-content-control-main .icon i {
  font-size: 24px;
  color: #ffffff;
}
.nocode-flow-control-view-container-content-control-main .title {
  margin-left: 12px;
  font-size: 16px;
  color: #212121;
}
.nocode-flow-property-view {
  --kdesigner-c-date-picker-input-radius-border: 4px;
  --kdesigner-c-date-picker-middle-sizing-height: 36px;
  --kdesigner-c-radio-font-size: 14px;
  --kdesigner-c-radio-square-sizing-width-height: 16px;
}
.nocode-flow-property-view-display .kdesigner-right-view-title {
  color: #666666 !important;
}
.nocode-flow-property-view-group:not(:last-child) {
  border-bottom: 1px solid #D9D9D9;
}
.nocode-flow-property-view-group-title {
  margin: 24px 0;
  font-size: 16px;
  color: #212121;
  font-weight: 600;
}
.nocode-flow-property-view .kdesigner-right-view-title {
  font-size: 14px !important;
  color: #212121;
  letter-spacing: 0;
  line-height: 20px;
  height: 20px;
  font-weight: 400;
}
.nocode-flow-property-view .kdesigner-right-view-editor-control {
  margin-bottom: 24px;
}
.nocode-flow-property-view .kdesigner-right-view-editor-control .kdesigner-radio {
  width: 50%;
  margin-right: 0;
  margin-bottom: 12px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nocode-flow-property-view .kdesigner-right-view-editor-control .kdesigner-radio > span {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nocode-flow-property-view .kdesigner-right-view-editor-control .kdesigner-radio:nth-last-child(-n+2) {
  margin-bottom: 0;
}
.nocode-flow-property-view .kdesigner-right-view-editor-control .kdesigner-input-wrapper {
  height: 36px;
  min-height: 36px;
  line-height: 36px;
}
.nocode-flow-property-view .kdesigner-right-view-editor-control .kdesigner-input-wrapper > .kdesigner-input-size-middle {
  padding: 0px 12px;
  height: 36px;
  min-height: 36px;
  line-height: 36px;
}
.nocode-flow-property-view .kdesigner-right-view-editor-control .kdesigner-input-size-middle {
  font-size: 14px;
  padding: 0px 12px !important;
  height: 36px;
  min-height: 36px;
  line-height: 36px;
  border-radius: 4px;
}
.nocode-flow-property-view .kdesigner-right-view-editor-control .kdesigner-select-size-middle,
.nocode-flow-property-view .kdesigner-right-view-editor-control .kdesigner-date-picker-middle {
  height: 36px;
  min-height: 36px;
  padding: 0px 12px !important;
}
.nocode-flow-property-view .kdesigner-right-view-editor-control .kdesigner-date-picker-input input {
  font-size: 14px;
}
.nocode-flow-property-view .kdesigner-right-view-editor-control .kdesigner-right-view-title:first-child {
  margin-bottom: 8px !important;
}
.nocode-flow-property-view .kdesigner-right-view-editor-control .kdesigner-right-view-switch .kdesigner-right-view-title {
  margin-bottom: 0 !important;
}
.nocode-flow-property-view .kdesigner-right-view-editor-control .kdesigner-right-view-tab-editor {
  padding: 0 2px;
  height: 36px;
  background: #f5f5f5;
  border-radius: 6px;
  border: none;
}
.nocode-flow-property-view .kdesigner-right-view-editor-control .kdesigner-right-view-tab-editor .kdesigner-right-view-tab-editor-item {
  border: none;
}
.nocode-flow-property-view .kdesigner-right-view-editor-control .kdesigner-right-view-tab-editor .kdesigner-right-view-tab-editor-item:hover {
  height: 32px;
  color: #212121;
  background: #E5E5E5;
  border-radius: 4px;
}
.nocode-flow-property-view .kdesigner-right-view-editor-control .kdesigner-right-view-tab-editor .kdesigner-right-view-tab-editor-item + .nocode-flow-property-view .kdesigner-right-view-editor-control .kdesigner-right-view-tab-editor .kdesigner-right-view-tab-editor-item {
  border-left: none;
}
.nocode-flow-property-view .kdesigner-right-view-editor-control .kdesigner-right-view-tab-editor .kdesigner-right-view-tab-editor-item.is-active {
  border-left: none;
  height: 32px;
  color: #212121;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}
.nocode-flow-property-view .kdesigner-right-view-editor-control .kdesigner-right-view-radio-editor-vertical .kd-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0;
}
.nocode-flow-property-view .kdesigner-right-view-editor-control .kdesigner-right-view-radio-editor-vertical .kd-radio:not(:last-child) {
  margin-bottom: 4px;
}
.nocode-flow-property-view .kdesigner-right-view-editor-control .kdesigner-right-view-stepper-editor .kd-inputNumber-embedStep {
  display: none;
}
.nocode-flow-property-view .kdesigner-right-view-editor-control .kdesigner-right-view-stepper-editor .kd-inputNumber-embedStep span {
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.nocode-flow-property-view .kdesigner-right-view-editor-control .kdesigner-right-view-stepper-editor .kd-inputNumber-embedStep span .kdesigner-inputNumber-icon {
  line-height: 14px;
}
.nocode-flow-property-view .kdesigner-right-view-editor-control .kdesigner-right-view-stepper-editor .kd-input-wrapper {
  width: 100%;
}
.nocode-flow-property-view .kdesigner-right-view-editor-control .kdesigner-right-view-stepper-editor .kd-input-wrapper input {
  text-align: unset;
}
.nocode-flow-property-view .kdesigner-right-view-editor-control .kdesigner-right-view-stepper-editor .kd-input-wrapper:hover .kd-inputNumber-embedStep,
.nocode-flow-property-view .kdesigner-right-view-editor-control .kdesigner-right-view-stepper-editor .kd-input-wrapper-focused .kd-inputNumber-embedStep {
  display: block;
}
.nocode-flow-property-view .kdesigner-right-view-editor-control .kdesigner-right-view-datepicker-editor {
  height: 36px;
  min-height: 36px;
  padding: 0px 12px !important;
}
.nocode-flow-property-view .kdesigner-right-view-display-viewitem:not(.custom-title) {
  margin-bottom: 24px;
}
.nocode-flow-property-view .kdesigner-right-view-display-viewitem:first-child:not(.custom-title) {
  margin-top: 24px;
}
.nocode-flow-property-view .kdesigner-right-view-display-viewitem .title {
  display: block;
  line-height: 20px;
  color: #666666;
}
.nocode-flow-property-view .kdesigner-right-view-display-viewitem .title .subTitle {
  color: #999999;
}
.nocode-flow-property-view .kdesigner-right-view-display-viewitem .content {
  display: block;
  color: #212121;
  line-height: 20px;
}
.nocode-flow-property-view .kdesigner-right-view-display-viewitem .content {
  margin-top: 4px;
}
.kdesigner-right-view-orderby {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  --kdesigner-c-radio-font-size: 14px;
  --kdesigner-c-radio-square-sizing-width-height: 16px;
}
.kdesigner-right-view-orderby-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.kdesigner-right-view-orderby-item:not(:first-child) {
  margin-top: 8px;
}
.kdesigner-right-view-orderby-item-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #FFFFFF;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 7px 12px;
}
.kdesigner-right-view-orderby-item-main-name {
  max-width: 362px;
  font-size: 14px;
  color: #212121;
  line-height: 20px;
}
.kdesigner-right-view-orderby-item-main-handle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 20px;
}
.kdesigner-right-view-orderby-item-main-handle-drag {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.kdesigner-right-view-orderby-item-delete {
  cursor: pointer;
  margin-left: 16px;
  color: var(--kd-nc-danger-6, #FB2323);
}
.kdesigner-right-view-orderby-footer {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.kdesigner-right-view-orderby-footer-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.kdesigner-right-view-orderby-footer-add-text {
  margin-left: 4px;
}
.kdesigner-right-view-orderby-list {
  padding: 0;
}
.kdesigner-right-view-orderby-list-item {
  border-radius: 4px;
}
.kdesigner-right-view-display-orderby {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.kdesigner-right-view-bill-type {
  --kd-c-cascader-color-active: var(--kd-nc-primary-6, #276FF5);
}
.kdesigner-right-view-bill-type-title {
  margin-bottom: 8px;
}
.kdesigner-right-view-bill-type-select {
  width: 100%;
}
.kdesigner-right-view-bill-type-select-box-list {
  height: 276px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.kdesigner-right-view-bill-type-select-box-list .kd-cascader-menu {
  -webkit-box-flex: 2 !important;
      -ms-flex: 2 !important;
          flex: 2 !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto !important;
  overflow: auto;
}
.kdesigner-right-view-bill-type-select-box-list .kd-cascader-menu-item-label {
  width: 100% !important;
}
.kdesigner-right-view-bill-type-select-box-tab {
  margin: 8px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #d9d9d9;
  cursor: pointer;
}
.kdesigner-right-view-bill-type-select-box-tab-line {
  width: 1px;
  background-color: #d9d9d9;
}
.kdesigner-right-view-bill-type-select-box-tab-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  height: 28px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.kdesigner-right-view-bill-type-select-box-tab-item-cur {
  background-color: var(--kd-nc-primary-1, #F2F9FF);
  color: var(--kd-nc-primary-6, #276FF5);
}
.nocode-flow-tree-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  width: 100%;
}
.nocode-flow-combineselector-display {
  word-break: break-all;
}
.nocode-flow-combineselector-textarea .kd-input-textarea {
  padding-bottom: 6px !important;
  padding-top: 6px !important;
}
.nocode-flow-combineselector-textarea .kd-input-textarea-clear-icon {
  top: 8px;
}
.nocode-flow-combineselector-clear-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nocode-flow-right-view-customcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4px 0;
  border-bottom: 1px solid #e5e5e5;
}
.nocode-flow-right-view-customcontent-item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 12px;
  height: 36px;
  color: #212121;
  font-size: 14px;
  line-height: 1;
}
.nocode-flow-right-view-customcontent-item-icon {
  font-size: 16px;
  margin-right: 8px;
}
.nocode-flow-right-view-customcontent-item:hover {
  background: #F5F5F5;
}
.nocode-flow-right-view-customcontent-item:active {
  background: #E0EFFF;
}
.nocode-flow-right-view-customcontent-item.is-active {
  background: #E0EFFF;
}
.nocode-flow-condition-modal .kd-modal-container-box {
  border-radius: 8px;
  overflow: hidden;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.kdesigner-right-view-condition {
  min-height: 76px;
  background: #FFFFFF;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  position: relative;
}
.kdesigner-right-view-condition:hover {
  border-color: var(--kd-nc-primary-6);
}
.kdesigner-right-view-condition-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.kdesigner-right-view-condition .code-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 76px;
}
.kdesigner-right-view-condition .code-box .CodeMirror-sizer {
  margin-right: 30px !important;
  margin-left: 12px !important;
  padding-right: 0 !important;
}
.kdesigner-right-view-condition .fx {
  position: absolute;
  right: 12px;
  top: 10px;
  font-size: 14px;
  color: #999;
  line-height: 1;
  cursor: pointer;
}
.kdesigner-right-view-nohover {
  cursor: not-allowed !important;
}
.kdesigner-right-view-nohover:hover {
  border-color: #d9d9d9;
}
.kdesigner-right-view-nohover .CodeMirror-lines,
.kdesigner-right-view-nohover .kd-nc-code-edit,
.kdesigner-right-view-nohover .fx,
.kdesigner-right-view-nohover .code-box {
  cursor: not-allowed !important;
}
.kdesigner-right-view-filter-novar {
  margin-left: 12px;
}
.kdesigner-right-view-filter .connect-char {
  font-size: 14px;
  color: #666666;
}
.kdesigner-right-view-filter_value {
  max-width: 208px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-height: 36px;
  height: 36px !important;
  overflow: hidden;
}
.kdesigner-right-view-filter_value.kd-nc-refbill .kd-select-wrapper {
  overflow-y: hidden;
}
.kdesigner-right-view-filter_value .kd-select-bordered {
  height: 100%;
}
.kdesigner-right-view-filter_value .kd-select-selector {
  display: block;
  overflow-y: auto;
  height: 100%;
}
.kdesigner-right-view-filter_value .kd-select {
  height: 100%;
  overflow-y: hidden;
}
.kdesigner-right-view-filter_value .kd-select .kd-select-suffix {
  height: 36px;
  top: calc(50% - 16px);
}
.kdesigner-right-view-filter_value .kd-select .kd-tag-ellipsis .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.kdesigner-right-view-filter .value {
  width: 164px !important;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 0;
}
.kdesigner-right-view-filter .value,
.kdesigner-right-view-filter-value {
  height: 100%;
  border-color: var(--kd-c-input-color-border-disabled, #d9d9d9) !important;
}
.kdesigner-right-view-filter .value:hover,
.kdesigner-right-view-filter-value:hover {
  border-color: var(--kd-c-input-color-border-focused, var(--kd-g-color-theme, #276ff5)) !important;
}
.kdesigner-right-view-filter .value .kd-input-wrapper .kd-input,
.kdesigner-right-view-filter-value .kd-input-wrapper .kd-input {
  height: 34px;
  border-color: var(--kd-c-input-color-border-disabled, #d9d9d9);
}
.kdesigner-right-view-filter .value .kd-input-wrapper .kd-input:hover,
.kdesigner-right-view-filter-value .kd-input-wrapper .kd-input:hover {
  border-color: var(--kd-c-input-color-border-focused, var(--kd-g-color-theme, #276ff5));
}
.kdesigner-right-view-filter .input .input-icon {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.2 ease-in;
  transition: -webkit-transform 0.2 ease-in;
  transition: transform 0.2 ease-in;
  transition: transform 0.2 ease-in, -webkit-transform 0.2 ease-in;
  cursor: pointer;
}
.kdesigner-right-view-filter .input .input-down {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.kdesigner-right-view-filter .input input {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.kdesigner-right-view-filter .filter {
  height: 100%;
  width: 200px;
  margin: 0 0 0 16px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.kdesigner-right-view-filter .filter :global .kd-select-bordered {
  min-height: 28px;
  border-radius: 4px;
}
.kdesigner-right-view-filter .compare-type {
  height: 100%;
  width: 114px;
  margin: 0 0 0 12px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.kdesigner-right-view-filter .compare-type :global .kd-select-bordered {
  min-height: 28px;
  border-radius: 4px;
}
.kdesigner-right-view-filter .item-middle {
  height: 36px;
}
.kdesigner-right-view-filter .item-middle .kd-select .kd-select-size-middle {
  min-height: 36px;
  max-height: 36px;
}
.kdesigner-right-view-filter-readonly {
  margin-top: 4px;
}
.kdesigner-right-view-filter-dropdown {
  width: 400px;
  -webkit-animation: none;
          animation: none;
  max-height: 368px;
  overflow: hidden;
}
.kdesigner-right-view-filter-dropdown > div {
  overflow: auto;
}
.kdesigner-right-view-filter-varselect {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 12px;
  max-width: 208px;
}
.kdesigner-right-view-filter-panel .item_content {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 12px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.kdesigner-right-view-filter-panel .item_content .label {
  color: var(--tip-label-color-text-small, #212121);
  font-size: 12px;
  -webkit-line-clamp: 1;
}
.kdesigner-right-view-filter-panel .item_content .count {
  color: var(--light-tip-label-color-text-small, #666);
  font-size: 12px;
}
.kdesigner-right-view-filter-footer {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.kdesigner-right-view-filter-footer-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.kdesigner-right-view-filter-footer-add-text {
  margin-left: 4px;
}
.kdesigner-right-view-filter-tree .kd-tree-root {
  width: 100%;
}
.kdesigner-right-view-filter-tree .kd-tree-root .kd-tree-node-title-wrap {
  width: 100%;
  overflow: hidden;
}
.kdesigner-right-view-filter-tree .kd-tree-root .kd-tree-node-title-wrap .kd-tree-node-title {
  width: 100%;
}
.kdesigner-right-view-filter-tree-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  width: 100%;
}
.kdesigner-right-view-varselect .kd-tree-root .kd-tree-node-title-wrap .kd-tree-node-title {
  width: 100%;
}
.kdesigner-right-view-calcsetting {
  --kd-c-collapse-header-spacing-padding: 24px 0;
  --kd-c-collapse-content-spacing-padding: 0;
}
.kdesigner-right-view-calcsetting .kd-collapse-panel-header {
  font-weight: 600;
}
.kdesigner-right-view-calcsetting .kd-collapse-panel {
  border-top: 1px solid #D9D9D9;
}
.kdesigner-right-view-calcsetting .kd-collapse-panel-assist {
  width: 100%;
}
.kdesigner-right-view-calcsetting-field {
  margin-bottom: 24px;
}
.kdesigner-right-view-calcsetting-panel-item {
  margin-bottom: 24px;
}
.kdesigner-right-view-calcsetting-panel-item .kdesigner-right-view-editor-control {
  margin-bottom: 0;
}
.kdesigner-right-view-calcsetting-panel-item .kdesigner-right-view-editor-control:first-child {
  margin-top: 0;
}
.kdesigner-right-view-calcsetting .assist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #212121;
  line-height: 20px;
}
.kdesigner-right-view-calcsetting .assist_value {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.kdesigner-right-view-newsetting > .kdesigner-right-view-title {
  height: 72px;
  font-size: 16px !important;
  color: #212121;
  font-weight: 600;
  line-height: 24px;
  border-top: 1px solid #D9D9D9;
}
.kdesigner-right-view-newsetting-item {
  margin-bottom: 24px;
}
.kdesigner-right-view-newsetting-item-title {
  margin-bottom: 8px;
}
.kdesigner-right-view-newsetting-value {
  width: calc(100% - 44px) !important;
}
.nocode-flow-editor-trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: var(--kd-c-input-sizing-height-middle, 36px);
  padding: 4px 12px;
  border: var(--kd-c-input-sizing-border, 1px) solid var(--kd-c-input-color-border-disabled, var(--kd-g-color-border-strong, #d9d9d9));
  border-radius: var(--kd-c-input-radius-border, var(--kd-g-radius-border, 2px));
  max-height: 84px;
}
.nocode-flow-editor-trigger:hover {
  border-color: var(--kd-nc-primary-6, #276ff5);
}
.nocode-flow-editor-trigger .nocode-flow-select-tag {
  margin: 2px 8px 2px 0px;
  max-width: 100%;
}
.nocode-flow-editor-trigger .nocode-flow-select-tag-prefix {
  color: #999;
}
.nocode-flow-editor-trigger .trigger-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}
.nocode-flow-editor-trigger .trigger-suffix {
  height: 26px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nocode-flow-editor-trigger .trigger-placeholder {
  line-height: 26px;
  color: #cccccc;
}
.kdesigner-right-view-editor-control-error .nocode-flow-editor-trigger {
  border-color: #FB2323 !important;
}
.nocode-flow-user-f7-modal {
  --kd-c-modal-body-sizing-padding: 0;
}
.nocode-flow-user-f7-modal .kd-modal-container-box {
  -webkit-transform: translate(-50%, -50%) !important;
          transform: translate(-50%, -50%) !important;
}
.nocode-flow-user-f7-modal .kd-modal-body {
  overflow: hidden;
  height: 0;
}
.nocode-flow-user-f7-modal .kd-modal-footer {
  position: relative;
  border-top: none !important;
  border-color: transparent;
}
.nocode-flow-user-f7-modal-footer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 14px;
  background: #f8f8f8;
}
.nocode-flow-user-f7-modal-body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.nocode-flow-user-f7-modal-body .nocode-flow-user-f7_content_split {
  width: 940px;
  border: none;
}
.nocode-flow-user-f7-modal-body .type-list {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.nocode-flow-user-f7-modal-body .type-item {
  width: 100%;
  height: 36px;
  padding: 0 12px;
  cursor: pointer;
  font-size: 14px;
  color: var(--kd-nc-text-1, #212121);
  letter-spacing: 0;
  line-height: 36px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.nocode-flow-user-f7-modal-body .type-item.is-active {
  background: var(--kd-nc-primary-2, #E0EFFF);
  font-weight: 600;
}
.nocode-flow-user-f7-modal-body .type-item:hover {
  background: var(--kd-nc-fill-2, #F5F5F5);
}
.nocode-flow-user-f7-modal-body .right-area {
  width: 240px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-box-shadow: -1px 0px 0px 0px #d9d9d9;
          box-shadow: -1px 0px 0px 0px #d9d9d9;
}
.nocode-flow-user-f7-modal-body .right-area .list-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 14px 0 16px;
  height: 60px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.nocode-flow-user-f7-modal-body .right-area .list-header .select-count {
  font-size: 14px;
  color: var(--kd-nc-text-1, #212121);
  letter-spacing: 0;
  line-height: 20px;
  font-weight: 600;
}
.nocode-flow-user-f7-modal-body .right-area .list-header .clear-btn {
  font-size: 14px;
  color: var(--kd-nc-primary-6, #276ff5);
  letter-spacing: 0;
  text-align: right;
  line-height: 20px;
  cursor: pointer;
}
.nocode-flow-user-f7-modal-body .right-area .select-list {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
}
.nocode-flow-user-f7-modal-body .right-area .select-list .select-item {
  width: 100%;
  height: 36px;
  padding: 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  color: var(--kd-nc-text-1, #212121);
  letter-spacing: 0;
  line-height: 20px;
  font-weight: 400;
}
.nocode-flow-user-f7-modal-body .right-area .select-list .select-item .user-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.nocode-flow-user-f7-modal-body .right-area .select-list .select-item .user-name .name-prefix {
  color: #999;
}
.nocode-flow-user-f7-modal-body .right-area .select-list .select-item .delete-btn {
  padding: 4px;
  display: none;
  cursor: pointer;
}
.nocode-flow-user-f7-modal-body .right-area .select-list .select-item .delete-btn i {
  color: #999;
}
.nocode-flow-user-f7-modal-body .right-area .select-list .select-item:hover {
  background: var(--kd-nc-fill-2, #F5F5F5);
}
.nocode-flow-user-f7-modal-body .right-area .select-list .select-item:hover .delete-btn {
  display: block;
}
.nocode-flow-user-f7-modal-body .main-area {
  padding: 16px 24px;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.nocode-flow-user-f7-modal-body .main-area .table-body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
}
.nocode-flow-user-f7-modal-body .main-area .table-body .table-cell-render {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.nocode-flow-user-f7-modal-body .main-area .table-search {
  width: 216px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-bottom: 16px;
}
.nocode-flow-user-f7-modal-body .main-area .kd-table-body.empty {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.nocode-flow-user-f7-modal-body .main-area .table-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 16px;
}
.kdesigner-right-view-judge-filter-editor .kd-nc-filter-editor {
  margin-top: 0;
}
.kdesigner-right-view-judge-filter-editor .kdesigner-right-view-filter_value {
  max-width: 208px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-height: 36px;
  height: 36px !important;
  overflow: hidden;
}
.kdesigner-right-view-judge-filter-editor .kdesigner-right-view-filter_value.kd-nc-refbill .kd-select-wrapper {
  overflow-y: hidden;
}
.kdesigner-right-view-judge-filter-editor .kdesigner-right-view-filter_value .kd-select-bordered {
  height: 100%;
}
.kdesigner-right-view-judge-filter-editor .kdesigner-right-view-filter_value .kd-select-selector {
  display: block;
  overflow-y: auto;
  height: 100%;
}
.kdesigner-right-view-judge-filter-editor .kdesigner-right-view-filter_value .kd-select {
  height: 100%;
  overflow-y: hidden;
}
.kdesigner-right-view-judge-filter-editor .kdesigner-right-view-filter_value .kd-select .kd-select-suffix {
  height: 36px;
  top: calc(50% - 16px);
}
.kdesigner-right-view-judge-filter-editor .kdesigner-right-view-filter_value .kd-select .kd-tag-ellipsis .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.kdesigner-right-view-judge-field-dropdown {
  min-width: 320px;
}
.kdesigner-right-view-userinputperm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.kdesigner-right-view-userinputperm-active {
  cursor: pointer;
  color: var(--kd-nc-primary-6, #276FF5);
}
.kdesigner-right-view_approvaldecision {
  --kd-c-checkbox-default-input-sizing-height: 16px;
  --kd-c-checkbox-default-input-sizing-width: 16px;
}
.kdesigner-right-view_approvaldecision .kd-form-field {
  margin: 0;
}
.kdesigner-right-view_approvaldecision_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  --kd-c-checkbox-group-spacing-margin-right: 16px;
  margin-bottom: 8px;
}
.kdesigner-right-view_approvaldecision_item_readonly {
  margin-bottom: 4px;
}
.kdesigner-right-view_approvaldecision_item_error .kd-input,
.kdesigner-right-view_approvaldecision_item_error .kdesigner-right-view-condition {
  border-color: #FB2323;
}
.kdesigner-right-view_approvaldecision_item_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.kdesigner-right-view_approvaldecision_item_main_fieldlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.kdesigner-right-view_approvaldecision_item_main_fieldlist .input {
  width: 138px;
  margin-right: 16px;
}
.kdesigner-right-view_approvaldecision_item_main_fieldlist .checkbox:not(:last-child) {
  margin-right: 16px;
}
.kdesigner-right-view_approvaldecision_item_condiction {
  margin-bottom: 8px;
}
.kdesigner-right-view_approvaldecision_item .delete {
  cursor: pointer;
  color: var(--textbutton-color-text-major-alert, #FB2323);
}
.kdesigner-right-view_approvaldecision_add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--textbutton-color-text-major, #276FF5);
}
.kdesigner-right-view-pickwf .kdesigner-right-view-title.kdesigner-right-view-placeholder {
  display: none;
}
.kdesigner-right-view-pickwf > .kdesigner-right-view-title {
  margin-bottom: 8px !important;
}
.kdesigner-right-view-pickwf .kd-select {
  width: 100%;
}
.kdesigner-right-view-pickwf-panel {
  overflow-y: hidden;
}
.kdesigner-right-view-triggertime-date,
.kdesigner-right-view-triggertime-time {
  width: 100%;
}
.kdesigner-right-view-triggertime-date {
  margin-bottom: 8px;
}
.kdesigner-right-view-parameter-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.kdesigner-right-view-parameter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 8px;
}
.kdesigner-right-view-parameter-list .kdesigner-right-view-parameter-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.kdesigner-right-view-parameter-list .kdesigner-right-view-parameter-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
}
.kdesigner-right-view-parameter-list .kdesigner-right-view-parameter-item:not(:last-child) {
  margin-bottom: 8px;
}
.kdesigner-right-view-parameter-list .kdesigner-right-view-parameter-item-property {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
}
.kdesigner-right-view-parameter-list .kdesigner-right-view-parameter-item-property:not(:last-child) {
  margin-right: 8px;
}
.kdesigner-right-view-parameter-list .kdesigner-right-view-parameter-item-property .kdesigner-right-view-title {
  display: none;
}
.kdesigner-right-view-parameter-list .kdesigner-right-view-parameter-item-property .kdesigner-right-view-editor-control {
  margin-bottom: 0;
}
.kdesigner-right-view-parameter-list .kdesigner-right-view-parameter-item-property .kdesigner-right-view-editor-control:first-child {
  margin-top: 0;
}
.kdesigner-right-view-parameter .delete {
  margin-left: 8px;
  cursor: pointer;
  color: var(--textbutton-color-text-major-alert, #FB2323);
}
.kdesigner-right-view-parameter-item-display .title {
  display: none !important;
}
.kdesigner-right-view-parameter-item-display .kdesigner-right-view-display-viewitem,
.kdesigner-right-view-parameter-item-display .kdesigner-right-view-editor-control {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.kdesigner-right-view-parameter-item-display .kdesigner-right-view-title {
  display: none;
}
.kdesigner-right-view-parameter-item-display .formula {
  border: none !important;
  background: none;
}
.kdesigner-right-view-testapi-btn {
  width: 88px;
}
.kdesigner-right-view-testapi-config {
  margin: 24px 0;
  font-size: 14px;
  color: #212121;
}
.kdesigner-right-view-testapi-res {
  font-size: 14px;
  color: #212121;
  margin-bottom: 24px;
}
.kdesigner-right-view-testapi-res-title {
  margin-bottom: 8px;
}
.kdesigner-right-view-requestbody-content .kdesigner-right-view-title,
.kdesigner-right-view-requestbody-content .title {
  display: none !important;
}
.kdesigner-right-view-requestbody-content .kdesigner-right-view-requestbody-parameter-item-property:not(:last-child) {
  margin-bottom: 10px;
}
.kdesigner-right-view-requestbody-content .kdesigner-right-view-requestbody-parameter-item-property .kdesigner-right-view-title,
.kdesigner-right-view-requestbody-content .kdesigner-right-view-requestbody-parameter-item-property .title {
  display: none;
}
.kdesigner-right-view-requestbody-content .kdesigner-right-view-requestbody-parameter-item-property > .kdesigner-right-view-editor-control {
  margin: 0 !important;
}
.kdesigner-right-view-requestbody-content-display .kdesigner-right-view-display-viewitem {
  margin-top: 0 !important;
  margin-bottom: 8px !important;
}
.nocode-flow-multivarselect-readonly {
  --kd-c-tree-select-color-background-disabled: #fff;
  --kd-c-tag-edit-color-text-disabled: #212121;
}
.kdesigner-right-view-var-select-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  --kd-c-button-sizing-min-width-middle: 36px;
}
.kdesigner-right-view-var-select-wrap-btn {
  margin-left: 8px;
}
.kdesigner-right-view-tree-select-popper {
  --kd-c-dropdown-menu-sizing-max-width: 608px;
  width: var(--kd-c-dropdown-menu-sizing-max-width);
}
.kdesigner-right-view-tree-select-panel {
  --kd-c-tree-node-icon-sizing-height: 0;
  --kd-c-tree-node-icon-sizing-width: 0;
  --kd-c-tree-font-size: 14px;
}
.kdesigner-right-view-tree-select-panel .kd-tree-node-item {
  padding: 0 12px;
  height: 36px !important;
}
.kdesigner-right-view-tree-select-panel-search {
  padding: 8px 12px;
}
.kdesigner-right-view-tree-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 36px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  padding: 0 12px;
}
.kdesigner-right-view-tree-select-active {
  border-color: #276FF5;
}
.kdesigner-right-view-tree-select:hover {
  border-color: #276FF5;
}
.kdesigner-right-view-tree-select:hover .kdesigner-right-view-tree-select-hasValue .clearicon {
  display: block;
}
.kdesigner-right-view-tree-select:hover .kdesigner-right-view-tree-select-hasValue .varicon {
  display: none;
}
.kdesigner-right-view-tree-select-value {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.kdesigner-right-view-tree-select-value .placeholder {
  color: #cccccc;
}
.kdesigner-right-view-tree-select-suffix .clearicon {
  display: none;
  color: #cccccc;
  cursor: pointer;
}
.kdesigner-right-view-tree-select-suffix .clearicon:hover,
.kdesigner-right-view-tree-select-suffix .clearicon:active {
  color: #212121;
}
.kdesigner-right-view-tree-select-suffix .varicon {
  display: block;
}
.kdesigner-right-view-error-msg {
  display: inline-block;
  margin-top: 4px;
  color: #FB2323;
}
.kdesigner-right-view-readonly .kdesigner-right-view-title {
  color: #666666;
}
.kd-cascader-menus .kd-cascader-menu {
  width: 100%;
}
.kd-cascader-menus .kd-cascader-menu-item-label {
  width: 100%;
}

/*!****************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/postcss-loader/dist/cjs.js!../../node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[3].use[3]!./src/controls/edge/SequenceFlow.less ***!
  \****************************************************************************************************************************************************************************************************************************************/
.add_node {
  width: 32px;
  height: 32px;
  background: #FFF;
  color: var(--kd-nc-primary-6, #276ff5);
  border: none;
  cursor: pointer;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 4px 10px 2px rgba(0, 31, 122, 0.04);
          box-shadow: 0 4px 10px 2px rgba(0, 31, 122, 0.04);
  font-size: 16px;
}
.add_node:hover,
.add_node.isSelected,
.add_node_active {
  background: var(--kd-nc-primary-6, #276ff5);
  color: #fff;
}
.add_node_foreignobject > div {
  background: transparent;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
}

