._3uxGmxoiI4RY92S1a8ApDk {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 100%;
}
._3uxGmxoiI4RY92S1a8ApDk ._2ogCsOjl_p5KhoyHwrtHpW {
  height: 24px;
  border-left: 1px solid #E5E5E5;
  margin-left: 16px;
}
._3uxGmxoiI4RY92S1a8ApDk ._1B4McjP6Cp5oPWrJOc3WF1 {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
._3uxGmxoiI4RY92S1a8ApDk ._1B4McjP6Cp5oPWrJOc3WF1:hover ._23HuLdru2etxxELznuwuo {
  color: #fff;
  background: var(--theme-color);
}
._3uxGmxoiI4RY92S1a8ApDk ._1B4McjP6Cp5oPWrJOc3WF1:hover ._1FXmvDGNX3bnvRcND9zKOy,
._3uxGmxoiI4RY92S1a8ApDk ._1B4McjP6Cp5oPWrJOc3WF1:hover .MStn138ivVo3y67ur8mZK {
  color: var(--theme-color);
}
._3uxGmxoiI4RY92S1a8ApDk ._1B4McjP6Cp5oPWrJOc3WF1 ._23HuLdru2etxxELznuwuo {
  height: 32px;
  width: 32px;
  border-radius: 100%;
  background: #E5E5E5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}
._3uxGmxoiI4RY92S1a8ApDk ._1B4McjP6Cp5oPWrJOc3WF1 ._1FXmvDGNX3bnvRcND9zKOy {
  font-family: "MicrosoftYaHei";
  font-size: 14px;
  color: #212121;
  letter-spacing: 0;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: calc(100% - 64px);
}
._3uxGmxoiI4RY92S1a8ApDk ._352iUA0HNZKqEcLXpzyE0a {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
._3uxGmxoiI4RY92S1a8ApDk ._352iUA0HNZKqEcLXpzyE0a:hover ._1mbk3kzCri8CDTkY2WGVtU {
  color: #fff;
  background: var(--theme-color);
}
._3uxGmxoiI4RY92S1a8ApDk ._352iUA0HNZKqEcLXpzyE0a:hover ._1Ydoj9oJ0bf6iHLUVwvlr6,
._3uxGmxoiI4RY92S1a8ApDk ._352iUA0HNZKqEcLXpzyE0a:hover .MStn138ivVo3y67ur8mZK {
  color: var(--theme-color);
}
._3uxGmxoiI4RY92S1a8ApDk ._352iUA0HNZKqEcLXpzyE0a ._1mbk3kzCri8CDTkY2WGVtU {
  height: 32px;
  width: 32px;
  border-radius: 100%;
  background: #E5E5E5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}
._3uxGmxoiI4RY92S1a8ApDk ._352iUA0HNZKqEcLXpzyE0a ._1Ydoj9oJ0bf6iHLUVwvlr6 {
  font-family: "MicrosoftYaHei";
  font-size: 14px;
  color: #212121;
  letter-spacing: 0;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: calc(100% - 64px);
}
._3uxGmxoiI4RY92S1a8ApDk .QTkiig7PIV22j2D7UvVej .vytoeO3x3Xgs0QQlP3ddX,
._3uxGmxoiI4RY92S1a8ApDk .QTkiig7PIV22j2D7UvVej ._23HuLdru2etxxELznuwuo,
._3uxGmxoiI4RY92S1a8ApDk .QTkiig7PIV22j2D7UvVej ._1mbk3kzCri8CDTkY2WGVtU {
  color: #fff;
  background-color: var(--theme-color) !important;
}
._3uxGmxoiI4RY92S1a8ApDk .QTkiig7PIV22j2D7UvVej .yM2BuSSjqPGLVk_Im-pat,
._3uxGmxoiI4RY92S1a8ApDk .QTkiig7PIV22j2D7UvVej ._1FXmvDGNX3bnvRcND9zKOy,
._3uxGmxoiI4RY92S1a8ApDk .QTkiig7PIV22j2D7UvVej ._1Ydoj9oJ0bf6iHLUVwvlr6 {
  color: var(--theme-color) !important;
}
._3uxGmxoiI4RY92S1a8ApDk ._njwy5sdofeAxCrn_-qtd {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
._3uxGmxoiI4RY92S1a8ApDk ._njwy5sdofeAxCrn_-qtd:hover .vytoeO3x3Xgs0QQlP3ddX {
  color: #fff;
  background: var(--theme-color);
}
._3uxGmxoiI4RY92S1a8ApDk ._njwy5sdofeAxCrn_-qtd:hover .yM2BuSSjqPGLVk_Im-pat {
  color: var(--theme-color);
}
._3uxGmxoiI4RY92S1a8ApDk ._njwy5sdofeAxCrn_-qtd .vytoeO3x3Xgs0QQlP3ddX {
  height: 32px;
  width: 32px;
  border-radius: 100%;
  background: #E5E5E5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}
._3uxGmxoiI4RY92S1a8ApDk ._njwy5sdofeAxCrn_-qtd .yM2BuSSjqPGLVk_Im-pat {
  font-family: "MicrosoftYaHei";
  font-size: 14px;
  color: #212121;
  letter-spacing: 0;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: calc(100% - 64px);
}
._3uxGmxoiI4RY92S1a8ApDk ._njwy5sdofeAxCrn_-qtd .yM2BuSSjqPGLVk_Im-pat:hover {
  color: var(--theme-color);
}
._3uxGmxoiI4RY92S1a8ApDk ._2Fg4GonlMVrBigXVKoP4Lm {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  width: 32px;
}
._3uxGmxoiI4RY92S1a8ApDk ._2Fg4GonlMVrBigXVKoP4Lm:hover ._31pZ-uflGS-qcGwTE1AwOZ {
  color: #fff;
  background: var(--theme-color);
}
._3uxGmxoiI4RY92S1a8ApDk ._2Fg4GonlMVrBigXVKoP4Lm ._31pZ-uflGS-qcGwTE1AwOZ {
  height: 32px;
  width: 32px;
  border-radius: 100%;
  background: #E5E5E5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  flex-shrink: 0;
}
._3uxGmxoiI4RY92S1a8ApDk ._2Fg4GonlMVrBigXVKoP4Lm .vVZODjjml9HE_f37v6TEb {
  background: #FFFFFF;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  z-index: 1050;
  left: 20px;
  top: 20px;
  width: 110px;
  padding: 14px 0px;
  font-family: "MicrosoftYaHei";
  font-size: 12px;
  color: #212121;
  letter-spacing: 0;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
}
._3uxGmxoiI4RY92S1a8ApDk ._2Fg4GonlMVrBigXVKoP4Lm .vVZODjjml9HE_f37v6TEb > div {
  padding: 0 12px;
  white-space: nowrap;
  height: 32px;
  line-height: 32px;
  word-break: break-word;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
}
._3uxGmxoiI4RY92S1a8ApDk ._2Fg4GonlMVrBigXVKoP4Lm .vVZODjjml9HE_f37v6TEb > div:hover {
  background: #F5F5F5;
}
._3uxGmxoiI4RY92S1a8ApDk .MStn138ivVo3y67ur8mZK {
  position: absolute;
  right: 0;
}
._3uxGmxoiI4RY92S1a8ApDk .MStn138ivVo3y67ur8mZK:hover {
  color: var(--theme-color);
}
