<div>
    <div>
        <label class="${required ? 'required' : ''}">${name}</label>
        {{if id === "issystem"}}
            {{if value === "1"}}
                <input id="${id}" type="checkbox" checked="true"/>
            {{else}}
                <input id="${id}" type="checkbox"/>
            {{/if}}
        {{else}}
            {{if disabled === true}}
                <input id="${id}" type="text" placeholder="${placeholder}" value="${value}" required="${required}" disabled="true"/>
            {{else}}
                <input id="${id}" type="text" placeholder="${placeholder}" value="${value}" required="${required}"/>
            {{/if}}
        {{/if}}
    </div>
</div>