.hr-delLabel {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: stretch;
    font-size: 0px;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
}

.hr-delLabel-text {
    padding: 0 10px;
    background-color: transparent;
    text-align: inherit;
    font-size: inherit;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.hr-delLabel-icon {
    width: 20px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-family: kdfont !important;
    background-color: transparent;
    color: #838383;
    justify-content: center;
    flex-grow: 0;
    cursor: pointer;
}

.hr-delLabel-icon::before {
    content: "\e6b6";
}