/*!**********************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/index.js??ruleSet[1].rules[2].use[1]!../../node_modules/postcss-loader/dist/cjs.js!./node_modules/less-loader/dist/cjs.js!./src/component/web/base/Notification.less ***!
  \**********************************************************************************************************************************************************************************************************/
.Notification_dialog-div-style-success_4eXR,
.Notification_dialog-div-style-error_2I9b,
.Notification_dialog-div-style-warning_36VL {
  width: inherit;
  height: 50px;
  margin-bottom: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  position: relative;
  overflow: hidden;
  z-index: 999999;
}
.Notification_move-up-in_1gZ- {
  -webkit-animation-name: Notification_MessageMoveIn_2Dae;
          animation-name: Notification_MessageMoveIn_2Dae;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
}
@-webkit-keyframes Notification_MessageMoveIn_2Dae {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes Notification_MessageMoveIn_2Dae {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.Notification_move-up-leave_xNa3 {
  -webkit-animation-name: Notification_MessageMoveOut_3HE4;
          animation-name: Notification_MessageMoveOut_3HE4;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  opacity: 0;
}
@-webkit-keyframes Notification_MessageMoveOut_3HE4 {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}
@keyframes Notification_MessageMoveOut_3HE4 {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}
.Notification_dialog-div-style-success_4eXR {
  background-color: #F2FFF5;
  /*border : 1px solid #26B175;*/
}
.Notification_dialog-div-style-error_2I9b {
  background-color: #FFF2F4;
  /*border : 1px solid #FD6C6A;*/
}
.Notification_dialog-div-style-warning_36VL {
  background-color: #F2F9FF;
  /*border : 1px solid #F4984E;*/
}
.Notification_img-style_2lMj {
  margin-left: 32px;
  font-size: 16px;
}
.Notification_tip-div-style-success_hQJl,
.Notification_tip-div-style-error_3FZW,
.Notification_tip-div-style-warning_1GUX {
  margin-left: 8px;
  font-size: 16px;
  letter-spacing: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  line-height: 21px;
}
.Notification_tip-div-style-success_hQJl,
.Notification_desc-div-style-success_3rEx,
.Notification_color-success_12_p {
  color: #26B175;
}
.Notification_tip-div-style-error_3FZW,
.Notification_desc-div-style-error_1V-k,
.Notification_color-error_1Q7O {
  color: #FD6C6A;
}
.Notification_tip-div-style-warning_1GUX,
.Notification_desc-div-style-warning_k1_c,
.Notification_color-warning_2Mlz {
  color: #EE812A;
}
.Notification_desc-div-style-success_3rEx,
.Notification_desc-div-style-error_1V-k,
.Notification_desc-div-style-warning_k1_c {
  margin-right: 58px;
  margin-left: 20px;
  font-size: 14px;
  max-height: 42px;
  line-height: 21px;
  letter-spacing: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}
.Notification_close-div-style_1GZi {
  cursor: pointer;
  position: absolute;
  top: 0px;
  height: 50px;
  line-height: 50px;
  right: 0;
  width: 40px;
  color: #666;
  font-size: 16px;
  text-align: center;
}
.Notification_button-div_2ygj {
  width: 70px;
  height: 26px;
  border: 1px solid #FFC799;
  padding-left: 9px;
  color: #EE812A;
  line-height: 26px;
}
.Notification_link_3c-t {
  padding: 0px 2px;
  color: #5E80EB;
  cursor: pointer;
}
.Notification_switch_sVcP {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 11px;
  width: 84px;
  height: 28px;
  padding: 0 3px;
  opacity: 0.7;
  right: 52px;
}
.Notification_switch_sVcP .Notification_last_1DB7 {
  color: #666666;
  opacity: 0.7;
  cursor: pointer;
  height: 16px;
  width: 16px;
}
.Notification_switch_sVcP .Notification_last_1DB7:hover {
  color: #276FF5;
}
.Notification_switch_sVcP .Notification_next_DpQZ {
  color: #666666;
  opacity: 0.7;
  cursor: pointer;
  height: 16px;
  width: 16px;
}
.Notification_switch_sVcP .Notification_next_DpQZ:hover {
  color: #276FF5;
}
.Notification_switch_sVcP .Notification_number_2fL1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 56px;
  height: 24px;
  font-size: 14px;
  font-weight: 400;
  color: #212121;
  line-height: 24px;
}
.Notification_absolute_hssL {
  position: absolute;
}
.Notification_desc-show-button_1z5C {
  margin-right: 150px;
}

/*!******************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/index.js??ruleSet[1].rules[2].use[1]!../../node_modules/postcss-loader/dist/cjs.js!./node_modules/less-loader/dist/cjs.js!./src/page/Calculator.less ***!
  \******************************************************************************************************************************************************************************************/
.Calculator_calculator_2KAP {
  z-index: 9999;
  position: fixed;
  top: calc(50% - 120px);
  left: calc(50% - 120px);
  width: 240px;
  height: 328px;
  border-radius: 2px;
  background: #fff;
  -webkit-box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.Calculator_calculator_2KAP .Calculator_icon_2zBc {
  color: #999;
  cursor: pointer;
}
.Calculator_calculator_2KAP .Calculator_icon_2zBc:hover {
  color: #2386ee;
}
.Calculator_calculator_2KAP .Calculator_header__MzW {
  height: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e6e6e6;
  padding: 0 4px;
}
.Calculator_calculator_2KAP .Calculator_header__MzW i {
  color: #999;
  cursor: pointer;
}
.Calculator_calculator_2KAP .Calculator_header__MzW i:hover {
  color: #2386ee;
}
.Calculator_calculator_2KAP .Calculator_resultWrap_CRz8 {
  height: 64px;
  background: #fafafa;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  position: relative;
  padding: 0 4px;
}
.Calculator_calculator_2KAP .Calculator_resultWrap_CRz8:hover .Calculator_copy_2Wcc {
  display: block;
}
.Calculator_calculator_2KAP .Calculator_resultWrap_CRz8 .Calculator_copy_2Wcc {
  display: none;
  position: absolute;
  font-size: 12px;
  color: #fff;
  padding: 4px 12px;
  border-radius: 2px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.Calculator_calculator_2KAP .Calculator_resultWrap_CRz8 .Calculator_cal_n8Zg {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.Calculator_calculator_2KAP .Calculator_resultWrap_CRz8 .Calculator_cal_n8Zg i {
  font-size: 12px;
  position: absolute;
  left: 4px;
  top: 3px;
  height: 24px;
  line-height: 24px;
}
.Calculator_calculator_2KAP .Calculator_resultWrap_CRz8 .Calculator_cal_n8Zg .Calculator_font-style_2cAp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #212121;
  -webkit-transition: font-size 0.2s ease;
  transition: font-size 0.2s ease;
  overflow: hidden;
  white-space: nowrap;
}
.Calculator_calculator_2KAP .Calculator_resultWrap_CRz8 .Calculator_cal_n8Zg .Calculator_process_2QSh {
  height: 24px;
  width: 100%;
  font-size: 14px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #212121;
  -webkit-transition: font-size 0.2s ease;
  transition: font-size 0.2s ease;
  overflow: hidden;
  white-space: nowrap;
}
.Calculator_calculator_2KAP .Calculator_resultWrap_CRz8 .Calculator_cal_n8Zg .Calculator_process_2QSh span {
  display: inline-block;
  width: 214px;
  text-align: right;
}
.Calculator_calculator_2KAP .Calculator_resultWrap_CRz8 .Calculator_cal_n8Zg .Calculator_result_3mY1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  font-size: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #212121;
  -webkit-transition: font-size 0.2s ease;
  transition: font-size 0.2s ease;
  overflow: hidden;
  white-space: nowrap;
}
.Calculator_key-buttons_2IAK {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.Calculator_key-buttons_2IAK .Calculator_column_1y48 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.Calculator_key-buttons_2IAK .Calculator_column_1y48:not(:last-child) {
  border-right: 1px solid #e6e6e6;
}
.Calculator_key-buttons_2IAK .Calculator_column_1y48 .Calculator_cell_1zVs {
  height: 48px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #e6e6e6;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.Calculator_key-buttons_2IAK .Calculator_column_1y48 .Calculator_cell_1zVs.Calculator_special-hover-btn_2eb8:hover {
  opacity: 0.8;
}

