/*!***************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/index.js??ruleSet[1].rules[2].use[1]!../../node_modules/postcss-loader/dist/cjs.js!./node_modules/less-loader/dist/cjs.js!./src/page/Preview.less ***!
  \***************************************************************************************************************************************************************************************/
.Preview_preview_1Iwq {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.Preview_preview_1Iwq .Preview_normal_y2w- {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  max-width: 90%;
  max-height: 90%;
}
.Preview_preview_1Iwq .Preview_close_lsl0 {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 31px;
  height: 31px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFF;
  opacity: 0.8;
  font-size: 23px;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border-radius: 15px;
}
.Preview_preview_1Iwq .Preview_button-container_2Ofo {
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -120px;
  width: 240px;
  height: 40px;
  line-height: 40px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.Preview_preview_1Iwq .Preview_button-container_2Ofo .Preview_btn_13jZ {
  display: inline-block;
  cursor: pointer;
  width: 60px;
  height: 34px;
  line-height: 34px;
  font-size: 23px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}
.Preview_preview_1Iwq .Preview_button-container_2Ofo .Preview_btn-disabled_292J,
.Preview_preview_1Iwq .Preview_button-container_2Ofo .Preview_btn-disabled_292J:hover {
  color: #ffffff;
  opacity: 0.3;
}

