/*!******************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/index.js??ruleSet[1].rules[2].use[1]!../../node_modules/postcss-loader/dist/cjs.js!./node_modules/less-loader/dist/cjs.js!./src/page/SystemForm.less ***!
  \******************************************************************************************************************************************************************************************/
.SystemForm_root_2kuw {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 1050;
  background-color: rgba(55, 55, 55, 0.5);
}
.SystemForm_root_2kuw .SystemForm_container_mDY1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  border-radius: 2px;
  overflow: hidden;
  max-height: 100%;
  max-width: 100%;
}
.SystemForm_root_2kuw .SystemForm_container_mDY1 .SystemForm_header_Aq7h {
  padding: 10px 60px 10px 20px;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #d9d9d9;
  height: 50px;
  font-size: 18px;
  color: #333;
  letter-spacing: 0;
  font-weight: 400;
  line-height: 32px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.SystemForm_middle_2uRg {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

