/*!*******************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/index.js??ruleSet[1].rules[2].use[1]!../../node_modules/postcss-loader/dist/cjs.js!./node_modules/less-loader/dist/cjs.js!./src/page/ExpiredInfo.less ***!
  \*******************************************************************************************************************************************************************************************/
.ExpiredInfo_expiredRoot_2hlx {
  position: fixed;
  z-index: 111;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-animation: ExpiredInfo_topMove_1M3_ 0.8s;
          animation: ExpiredInfo_topMove_1M3_ 0.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  border-radius: 5px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 2px 6px 0 rgba(57, 75, 115, 0.15);
          box-shadow: 0 2px 6px 0 rgba(57, 75, 115, 0.15);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 27px;
  overflow: hidden;
  white-space: nowrap;
}
@-webkit-keyframes ExpiredInfo_topMove_1M3_ {
  from {
    top: -20px;
  }
  to {
    top: 2px;
  }
}
@keyframes ExpiredInfo_topMove_1M3_ {
  from {
    top: -20px;
  }
  to {
    top: 2px;
  }
}
.ExpiredInfo_expiredRoot_2hlx .ExpiredInfo_licenseBar__fH1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #666;
  height: 27px;
}
.ExpiredInfo_expiredRoot_2hlx .ExpiredInfo_licenseBar__fH1 img {
  width: 18px;
  height: 18px;
}
.ExpiredInfo_expiredRoot_2hlx .ExpiredInfo_licenseBar__fH1 .ExpiredInfo_expireLable_iDhC {
  font-size: 13px;
  line-height: 17px;
  color: #333333;
  padding: 5px 10px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.ExpiredInfo_expiredRoot_2hlx .ExpiredInfo_licenseBar__fH1 .ExpiredInfo_expiredMsg_1DfS {
  font-size: 12px;
  line-height: 16px;
  color: #666666;
}
.ExpiredInfo_expiredRoot_2hlx .ExpiredInfo_licenseBar__fH1 .ExpiredInfo_expiredMsg_1DfS span {
  color: #FF9845;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 16px;
}
.ExpiredInfo_expiredRoot_2hlx .ExpiredInfo_closeIcon_1nmR {
  position: absolute;
  right: 14px;
  font-size: 20px;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 27px;
  margin-right: -6px;
  color: #ed812b;
}

