/*!******************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/index.js??ruleSet[1].rules[2].use[1]!../../node_modules/postcss-loader/dist/cjs.js!./node_modules/less-loader/dist/cjs.js!./src/component/web/base/AppStart.less ***!
  \******************************************************************************************************************************************************************************************************/
.AppStart_appstart_2LGx {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  overflow: auto;
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}
.AppStart_appstart_2LGx .AppStart_animation_3bJc .react-bodymovin-container {
  width: 80px;
  height: 80px;
  background-color: transparent;
}
.AppStart_appstart_2LGx .AppStart_container_XukL {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}
.AppStart_appstart_2LGx .AppStart_default-img_35qA {
  max-width: 100%;
}
.AppStart_appstart_2LGx .AppStart_loading-default_22Vi {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.AppStart_appstart_2LGx .AppStart_loading-default_22Vi.AppStart_NewFeatures_3d_S {
  color: #8D9CBF;
}
.AppStart_appstart_2LGx .AppStart_loading-default_22Vi.AppStart_AppArticle_2ACj {
  color: #8D9CBF;
}
.AppStart_appstart_2LGx .AppStart_loading-wrap_3u7d {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 20px 0 25px;
}
.AppStart_appstart_2LGx .AppStart_loading-wrap_3u7d .AppStart_OperatingGuide_1zKc {
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, rgba(255, 255, 255, 0.4)), color-stop(37%, rgba(255, 255, 255, 0.15)), color-stop(63%, rgba(255, 255, 255, 0.4)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.4) 25%, rgba(255, 255, 255, 0.15) 37%, rgba(255, 255, 255, 0.4) 63%);
}
.AppStart_appstart_2LGx .AppStart_loading-wrap_3u7d .AppStart_HotIssues_IwDr {
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, rgba(255, 255, 255, 0.5)), color-stop(37%, rgba(255, 255, 255, 0.2)), color-stop(63%, rgba(255, 255, 255, 0.5)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 25%, rgba(255, 255, 255, 0.2) 37%, rgba(255, 255, 255, 0.5) 63%);
}
.AppStart_appstart_2LGx .AppStart_loading-wrap_3u7d .AppStart_AdvancedSkills_1LWo {
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, rgba(255, 255, 255, 0.4)), color-stop(37%, rgba(255, 255, 255, 0.15)), color-stop(63%, rgba(255, 255, 255, 0.4)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.4) 25%, rgba(255, 255, 255, 0.15) 37%, rgba(255, 255, 255, 0.4) 63%);
}
.AppStart_appstart_2LGx .AppStart_loading-wrap_3u7d .AppStart_NewFeatures_3d_S {
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, rgba(141, 156, 191, 0.4)), color-stop(37%, rgba(255, 255, 255, 0.15)), color-stop(63%, rgba(141, 156, 191, 0.4)));
  background: linear-gradient(90deg, rgba(141, 156, 191, 0.4) 25%, rgba(255, 255, 255, 0.15) 37%, rgba(141, 156, 191, 0.4) 63%);
}
.AppStart_appstart_2LGx .AppStart_loading-wrap_3u7d .AppStart_AppArticle_2ACj {
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, rgba(141, 156, 191, 0.4)), color-stop(37%, rgba(255, 255, 255, 0.15)), color-stop(63%, rgba(141, 156, 191, 0.4)));
  background: linear-gradient(90deg, rgba(141, 156, 191, 0.4) 25%, rgba(255, 255, 255, 0.15) 37%, rgba(141, 156, 191, 0.4) 63%);
}
.AppStart_appstart_2LGx .AppStart_loading-wrap_3u7d .AppStart_skeleton-div_3GQr {
  height: 15px;
  margin-top: 20px;
  background-size: 400% 100%;
  -webkit-animation: AppStart_loading_2D7b 1.4s ease infinite;
          animation: AppStart_loading_2D7b 1.4s ease infinite;
}
.AppStart_appstart_2LGx .AppStart_loading-wrap_3u7d img {
  width: 100%;
  height: 100%;
}
.AppStart_appstart_2LGx .AppStart_default-lang_328S {
  color: #666;
  font-size: 14px;
  margin-top: 5px;
}
.AppStart_appstart_2LGx .AppStart_default-error_10z0 {
  margin-top: 8px;
  font-size: 18px;
  color: #333;
}
.AppStart_appstart_2LGx .AppStart_header_24f9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 0px 20px 0px;
  height: 25%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.AppStart_appstart_2LGx .AppStart_header_24f9 .AppStart_header-content_11-q {
  margin-left: 20px;
}
.AppStart_appstart_2LGx .AppStart_header_24f9 .AppStart_header-content_11-q > div {
  font-size: 20px;
  color: #333;
}
.AppStart_appstart_2LGx .AppStart_header_24f9 .AppStart_header-content_11-q > span {
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
  color: #2A2A2A;
}
.AppStart_appstart_2LGx .AppStart_main_1Wfs {
  height: 379px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.AppStart_appstart_2LGx .AppStart_main_1Wfs .AppStart_loadingAni_3-Zf .react-bodymovin-container {
  width: 30px;
  height: 30px;
  background-color: transparent;
}
.AppStart_appstart_2LGx .AppStart_main_1Wfs .AppStart_left_3TZN {
  width: 36%;
  background: rgba(222, 233, 255, 0.45);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.AppStart_appstart_2LGx .AppStart_main_1Wfs .AppStart_left_3TZN .AppStart_video_1_NI {
  width: 100%;
  height: 290px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}
.AppStart_appstart_2LGx .AppStart_main_1Wfs .AppStart_left_3TZN .AppStart_video_1_NI .AppStart_pic_2iNc {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.AppStart_appstart_2LGx .AppStart_main_1Wfs .AppStart_left_3TZN .AppStart_video_1_NI img {
  width: 100%;
  height: 100%;
}
.AppStart_appstart_2LGx .AppStart_main_1Wfs .AppStart_left_3TZN .AppStart_video_1_NI video {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  background-position: center center;
  background-repeat: no-repeat;
}
.AppStart_appstart_2LGx .AppStart_main_1Wfs .AppStart_left_3TZN .AppStart_left-content_3MWY {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  position: relative;
}
.AppStart_appstart_2LGx .AppStart_main_1Wfs .AppStart_left_3TZN .AppStart_left-content_3MWY .AppStart_left-header_IVo0 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  padding: 16px 32px 0px;
}
.AppStart_appstart_2LGx .AppStart_main_1Wfs .AppStart_left_3TZN .AppStart_left-content_3MWY .AppStart_left-header_IVo0 .AppStart_header-title_3gEO {
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.AppStart_appstart_2LGx .AppStart_main_1Wfs .AppStart_left_3TZN .AppStart_left-content_3MWY .AppStart_left-header_IVo0 .AppStart_header-title_3gEO:hover {
  text-decoration: underline;
}
.AppStart_appstart_2LGx .AppStart_main_1Wfs .AppStart_left_3TZN .AppStart_left-content_3MWY .AppStart_left-header_IVo0 .AppStart_more-info_29ok {
  color: #4A90E2;
  font-size: 12px;
  cursor: pointer;
}
.AppStart_appstart_2LGx .AppStart_main_1Wfs .AppStart_left_3TZN .AppStart_left-content_3MWY .AppStart_info_2Boa {
  padding: 0 32px;
  margin-top: 10px;
  font-size: 12px;
  color: #666;
}
.AppStart_appstart_2LGx .AppStart_main_1Wfs .AppStart_center_1DCg {
  width: 22%;
  margin: 0 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  color: #fff;
}
.AppStart_appstart_2LGx .AppStart_main_1Wfs .AppStart_center_1DCg > div + div {
  margin-top: 10px;
}
.AppStart_appstart_2LGx .AppStart_main_1Wfs .AppStart_right_3js1 {
  width: 22%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  color: #fff;
}
.AppStart_appstart_2LGx .AppStart_main_1Wfs .AppStart_right_3js1 > div + div {
  margin-top: 10px;
}
.AppStart_appstart_2LGx .AppStart_main_1Wfs .AppStart_card_2PPX {
  height: 184px;
  width: 100%;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.AppStart_appstart_2LGx .AppStart_main_1Wfs .AppStart_card_2PPX .AppStart_card-header_McKJ {
  font-size: 18px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 20px 0 25px;
}
.AppStart_appstart_2LGx .AppStart_main_1Wfs .AppStart_card_2PPX .AppStart_card-header_McKJ .AppStart_more_1WJX {
  font-size: 12px;
  cursor: pointer;
}
.AppStart_appstart_2LGx .AppStart_main_1Wfs .AppStart_card_2PPX .AppStart_content_3wmd {
  margin-top: 24px;
  padding: 0 20px 0 25px;
}
.AppStart_appstart_2LGx .AppStart_main_1Wfs .AppStart_card_2PPX .AppStart_content_3wmd .AppStart_content-header_bE46 {
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.AppStart_appstart_2LGx .AppStart_main_1Wfs .AppStart_card_2PPX .AppStart_content_3wmd .AppStart_content-header_bE46:hover {
  text-decoration: underline;
}
.AppStart_appstart_2LGx .AppStart_main_1Wfs .AppStart_card_2PPX .AppStart_content_3wmd .AppStart_info_2Boa {
  margin-top: 10px;
  font-size: 12px;
  color: #666;
}
.AppStart_appstart_2LGx .AppStart_main_1Wfs .AppStart_card_2PPX .AppStart_list_2zDE {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px 0 10px;
}
.AppStart_appstart_2LGx .AppStart_main_1Wfs .AppStart_card_2PPX .AppStart_list_2zDE .AppStart_list-item_2MnR {
  font-size: 12px;
  margin-top: 10px;
  cursor: pointer;
  position: relative;
  list-style: inside;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.AppStart_appstart_2LGx .AppStart_main_1Wfs .AppStart_card_2PPX .AppStart_list_2zDE .AppStart_list-item_2MnR:hover {
  text-decoration: underline;
}
.AppStart_ellipsis_26do {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@-webkit-keyframes AppStart_loading_2D7b {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@keyframes AppStart_loading_2D7b {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

