/*!*********************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/index.js??ruleSet[1].rules[2].use[1]!../../node_modules/postcss-loader/dist/cjs.js!./node_modules/less-loader/dist/cjs.js!./src/component/web/base/AppNavigationMenu/index.less ***!
  \*********************************************************************************************************************************************************************************************************************/
.index_text-ellipse_3Yfx {
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}
.index_empty-wrap_Nx4X {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 96px;
  background-size: 112px 64px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKgAAABgBAMAAAB73iReAAAAG1BMVEUAAABuh699jKV0ibF0irJ2irR1irJ2i7NsgahL5ZzmAAAACXRSTlMAM2YNCAUSFhrVKCV+AAAB0ElEQVRYw+3ZTWvCMBjAcaF27Cq7eJ2fINCuXgtNdw6svQ866gcQjMdJD+Zj7+mbpkvS0DVhm+ZPq4+XHxqeg+LC5XKJPa5kPc1DT1J0jWahKzla2UAZsoFWNlCGbKCVDZQhG2hlA2XIBlrZQBmygVY2UIZsoNXP0Q30LMcd6tDbRpsceqfoRtHfQJcRpQUxi3qUHimlyCS6pPQMUUoMolvatTeHevQSMrZS2yu6N4X6vbjb7agp9KHkMoW+TkL9CA4p1qLlFNQ7Hhk7n5HuSL+jgzUadj3/WLP5ZRQUZQTBswblN1pdFgRJwDeO8hutNN9qB97g5dKg/EYrjzMQGkfp4QC73EYUqDcVLbneFejwOJMGFVKhH3LTx2GQ1GFcT3BPQUsV2heG/TQBJfINxQnuNZgSPVpEUdHdZRkrUCENGvDBaaUm0OFOQy9SNMvzPIXHtJ10qJBwsH4uNhVFptGwvuejYZKETRjDBK8kn5/kfgv7EEyEaFDcBWQ/xYuxCPG13/q4xcYhzDKU+HB1dbAGFQJU3++gaZrnWZamcDfTfDQXI3eFEtJSde2z2V8nsIa1OBsFBq6uFr65H2cO/Q/oacxcz/9DRuxz4XK5hL4AW4LJSeteWusAAAAASUVORK5CYII=");
  background-repeat: no-repeat;
  background-position: center center;
  color: #999;
}
.index_nav-menu-wrap_3O9F {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.index_nav-menu-wrap_3O9F .index_left-nav-wrap_-m4K {
  height: 100%;
  border-right: 1px solid #E5E5E5;
  padding-top: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.index_nav-menu-wrap_3O9F .index_left-nav-wrap_-m4K .index_top-search-area_3-gN {
  padding: 0 12px 12px 20px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.index_nav-menu-wrap_3O9F .index_left-nav-wrap_-m4K .index_top-search-area_3-gN .index_search-box-wrap_LBni {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 9px;
  height: 28px;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  width: 204px;
}
.index_nav-menu-wrap_3O9F .index_left-nav-wrap_-m4K .index_top-search-area_3-gN .index_search-box-wrap_LBni:hover {
  border-color: var(--theme-color);
}
.index_nav-menu-wrap_3O9F .index_left-nav-wrap_-m4K .index_top-search-area_3-gN .index_search-box-wrap_LBni:hover .index_magnifier-icon_G8iX {
  color: var(--theme-color);
}
.index_nav-menu-wrap_3O9F .index_left-nav-wrap_-m4K .index_top-search-area_3-gN .index_search-box-wrap_LBni .index_magnifier-icon_G8iX {
  font-size: 14px;
  padding-right: 4px;
  color: #999;
}
.index_nav-menu-wrap_3O9F .index_left-nav-wrap_-m4K .index_top-search-area_3-gN .index_search-box-wrap_LBni .index_clear-icon_2nLJ {
  color: #999;
  font-size: 12px;
  cursor: pointer;
  display: none;
}
.index_nav-menu-wrap_3O9F .index_left-nav-wrap_-m4K .index_top-search-area_3-gN .index_search-box-wrap_LBni .index_clear-icon_2nLJ.index_is-show_37Rh {
  display: block;
}
.index_nav-menu-wrap_3O9F .index_left-nav-wrap_-m4K .index_top-search-area_3-gN .index_search-box-wrap_LBni .index_search-input_2mSz {
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
  height: initial;
  padding: 2px 0;
  color: #212121;
}
.index_nav-menu-wrap_3O9F .index_left-nav-wrap_-m4K .index_nav-content_L21Q {
  width: 244px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 1px;
}
.index_nav-menu-wrap_3O9F .index_left-nav-wrap_-m4K .index_nav-content_L21Q .index_cloud-list_2yTY {
  position: relative;
}
.index_nav-menu-wrap_3O9F .index_left-nav-wrap_-m4K .index_nav-content_L21Q .index_cloud-list_2yTY.index_in-drag_2Vs3 .index_app-list_3u7Q {
  display: none;
}
.index_nav-menu-wrap_3O9F .index_left-nav-wrap_-m4K .index_nav-content_L21Q .index_app-list_3u7Q {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.2s cubic-bezier(0.34, 0.69, 0.1, 1);
  transition: height 0.2s cubic-bezier(0.34, 0.69, 0.1, 1);
}
.index_nav-menu-wrap_3O9F .index_left-nav-wrap_-m4K .index_nav-content_L21Q .index_app-list_3u7Q .index_app-list-item_1xnx:nth-of-type(1)[data-top-drag-style]::after,
.index_nav-menu-wrap_3O9F .index_left-nav-wrap_-m4K .index_nav-content_L21Q .index_app-list_3u7Q .index_app-list-item_1xnx:nth-last-of-type(2)[data-top-drag-style]::after {
  top: 3px;
}
.index_nav-menu-wrap_3O9F .index_left-nav-wrap_-m4K .index_nav-content_L21Q .index_app-list_3u7Q .index_app-list-item_1xnx:nth-of-type(1)[data-top-drag-style]::before,
.index_nav-menu-wrap_3O9F .index_left-nav-wrap_-m4K .index_nav-content_L21Q .index_app-list_3u7Q .index_app-list-item_1xnx:nth-last-of-type(2)[data-top-drag-style]::before {
  top: 0px;
}
.index_nav-menu-wrap_3O9F .index_left-nav-wrap_-m4K .index_nav-content_L21Q .index_app-list_3u7Q .index_app-list-item_1xnx:nth-of-type(1)[data-bottom-drag-style]::after,
.index_nav-menu-wrap_3O9F .index_left-nav-wrap_-m4K .index_nav-content_L21Q .index_app-list_3u7Q .index_app-list-item_1xnx:nth-last-of-type(2)[data-bottom-drag-style]::after {
  top: auto;
  bottom: 3px;
}
.index_nav-menu-wrap_3O9F .index_left-nav-wrap_-m4K .index_nav-content_L21Q .index_app-list_3u7Q .index_app-list-item_1xnx:nth-of-type(1)[data-bottom-drag-style]::before,
.index_nav-menu-wrap_3O9F .index_left-nav-wrap_-m4K .index_nav-content_L21Q .index_app-list_3u7Q .index_app-list-item_1xnx:nth-last-of-type(2)[data-bottom-drag-style]::before {
  top: auto;
  bottom: 0;
}
.index_nav-menu-wrap_3O9F .index_right-menu-wrap_9jXm {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding: 20px 3px 0 16px;
  position: relative;
}
.index_nav-menu-wrap_3O9F .index_right-menu-wrap_9jXm:not(.index_is-chinese_2OIR) .index_menu-list_2Bzi .index_menu-item_2-zs {
  width: 237px;
}
.index_nav-menu-wrap_3O9F .index_right-menu-wrap_9jXm:not(.index_is-chinese_2OIR) .index_menu-list_2Bzi .index_menu-item_2-zs .index_menu-item-text_1Uxc {
  width: 205px;
}
.index_nav-menu-wrap_3O9F .index_right-menu-wrap_9jXm .index_group-menu-item_3EH4 {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.index_nav-menu-wrap_3O9F .index_right-menu-wrap_9jXm .index_group-menu-item_3EH4 .index_group-menu-item-text_12GH {
  font-size: 14px;
  font-weight: 600;
  color: #212121;
  margin-bottom: 8px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}
.index_nav-menu-wrap_3O9F .index_right-menu-wrap_9jXm .index_group-menu-item_3EH4 .index_group-menu-item-text_12GH .kd-cq-grayscale-icon {
  right: -36px;
  top: -12px;
}
.index_nav-menu-wrap_3O9F .index_right-menu-wrap_9jXm .index_group-menu-item_3EH4 .index_group-menu-item-text_12GH .index_line_2ytN {
  width: 2px;
  height: 12px;
  background-color: var(--theme-color);
  margin-right: 6px;
}
.index_nav-menu-wrap_3O9F .index_right-menu-wrap_9jXm .index_menu-list_2Bzi {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.index_nav-menu-wrap_3O9F .index_right-menu-wrap_9jXm .index_menu-list_2Bzi .index_menu-item_2-zs {
  width: 176px;
  min-height: 20px;
  line-height: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4px 8px;
  cursor: pointer;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4px;
  margin-right: 12px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}
.index_nav-menu-wrap_3O9F .index_right-menu-wrap_9jXm .index_menu-list_2Bzi .index_menu-item_2-zs .index_menu-item-wrap_1puo {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.index_nav-menu-wrap_3O9F .index_right-menu-wrap_9jXm .index_menu-list_2Bzi .index_menu-item_2-zs .index_menu-item-wrap_1puo > .index_menu-item-text_1Uxc {
  width: unset;
  max-width: 144px;
}
.index_nav-menu-wrap_3O9F .index_right-menu-wrap_9jXm .index_menu-list_2Bzi .index_menu-item_2-zs .index_menu-item-wrap_1puo .kd-cq-grayscale-icon {
  right: -36px;
  top: -14px;
}
.index_nav-menu-wrap_3O9F .index_right-menu-wrap_9jXm .index_menu-list_2Bzi .index_menu-item_2-zs .index_menu-item-text_1Uxc {
  color: #212121;
  width: 144px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-break: break-word;
  overflow: hidden;
}
.index_nav-menu-wrap_3O9F .index_right-menu-wrap_9jXm .index_menu-list_2Bzi .index_menu-item_2-zs .index_favorite-icon_25Qk {
  display: none;
  color: #666;
  font-size: 16px;
  position: absolute;
  right: 8px;
  top: 4px;
  background-color: var(--hover-color);
  border-radius: 1px;
}
.index_nav-menu-wrap_3O9F .index_right-menu-wrap_9jXm .index_menu-list_2Bzi .index_menu-item_2-zs .index_favorite-icon_25Qk.index_is-favorite_1hHX {
  color: #FF991C;
}
.index_nav-menu-wrap_3O9F .index_right-menu-wrap_9jXm .index_menu-list_2Bzi .index_menu-item_2-zs .index_favorite-icon_25Qk:not(.index_is-favorite_1hHX):hover,
.index_nav-menu-wrap_3O9F .index_right-menu-wrap_9jXm .index_menu-list_2Bzi .index_menu-item_2-zs .index_favorite-icon_25Qk:not(.index_is-favorite_1hHX):active {
  color: #FF991C;
}
.index_nav-menu-wrap_3O9F .index_right-menu-wrap_9jXm .index_menu-list_2Bzi .index_menu-item_2-zs:hover,
.index_nav-menu-wrap_3O9F .index_right-menu-wrap_9jXm .index_menu-list_2Bzi .index_menu-item_2-zs:active {
  background-color: var(--hover-color);
  border-radius: 4px;
}
.index_nav-menu-wrap_3O9F .index_right-menu-wrap_9jXm .index_menu-list_2Bzi .index_menu-item_2-zs:hover .index_favorite-icon_25Qk,
.index_nav-menu-wrap_3O9F .index_right-menu-wrap_9jXm .index_menu-list_2Bzi .index_menu-item_2-zs:active .index_favorite-icon_25Qk {
  display: block;
}
.index_nav-menu-wrap_3O9F .index_right-menu-wrap_9jXm .index_menu-list_2Bzi .index_menu-item_2-zs::after {
  position: absolute;
  background-color: transparent;
  width: calc(100% + 12px);
  height: calc(100% + 4px);
  content: '';
  left: 0;
  top: 0;
  z-index: -1;
}
.index_nav-menu-wrap_3O9F .index_right-menu-wrap_9jXm .index_frequent-empty-wrap_1G63 {
  height: 114px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 96px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKgAAABgBAMAAAB73iReAAAAG1BMVEUAAABuh699jKV0ibF0irJ2irR1irJ2i7NsgahL5ZzmAAAACXRSTlMAM2YNCAUSFhrVKCV+AAAB0ElEQVRYw+3ZTWvCMBjAcaF27Cq7eJ2fINCuXgtNdw6svQ866gcQjMdJD+Zj7+mbpkvS0DVhm+ZPq4+XHxqeg+LC5XKJPa5kPc1DT1J0jWahKzla2UAZsoFWNlCGbKCVDZQhG2hlA2XIBlrZQBmygVY2UIZsoNXP0Q30LMcd6tDbRpsceqfoRtHfQJcRpQUxi3qUHimlyCS6pPQMUUoMolvatTeHevQSMrZS2yu6N4X6vbjb7agp9KHkMoW+TkL9CA4p1qLlFNQ7Hhk7n5HuSL+jgzUadj3/WLP5ZRQUZQTBswblN1pdFgRJwDeO8hutNN9qB97g5dKg/EYrjzMQGkfp4QC73EYUqDcVLbneFejwOJMGFVKhH3LTx2GQ1GFcT3BPQUsV2heG/TQBJfINxQnuNZgSPVpEUdHdZRkrUCENGvDBaaUm0OFOQy9SNMvzPIXHtJ10qJBwsH4uNhVFptGwvuejYZKETRjDBK8kn5/kfgv7EEyEaFDcBWQ/xYuxCPG13/q4xcYhzDKU+HB1dbAGFQJU3++gaZrnWZamcDfTfDQXI3eFEtJSde2z2V8nsIa1OBsFBq6uFr65H2cO/Q/oacxcz/9DRuxz4XK5hL4AW4LJSeteWusAAAAASUVORK5CYII=");
  background-repeat: no-repeat;
  background-position: center 24px;
  background-size: 112px 64px;
  color: #999;
}
.index_nav-menu-wrap_3O9F .index_right-menu-wrap_9jXm .index_loading-gif_zesv {
  position: absolute;
}
.index_nav-menu-wrap_3O9F .index_loading-gif_zesv {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1050;
}
.index_loading_25Bh {
  min-width: 204px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  padding: 12px 0 8px 0;
  max-height: 400px;
}
.index_search-result-wrap_Asss {
  padding-top: 4px;
  min-width: 204px;
  max-width: 600px;
}
.index_search-result-wrap_Asss .index_search-result-content_2wj4 {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  padding: 8px 0;
  max-height: 400px;
  overflow-y: auto;
}
.index_search-result-wrap_Asss .index_search-result-content_2wj4 .index_group-list_1TNg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 600px;
}
.index_search-result-wrap_Asss .index_search-result-content_2wj4 .index_group-list_1TNg.index_is-overflow_BIqQ .index_group-column-item_jEVW.index_menu-list-right_s99P .index_menu-item_2-zs {
  padding-right: 4px;
}
.index_search-result-wrap_Asss .index_search-result-content_2wj4 .index_group-list_1TNg.index_one-group_2BPM .index_group-column-item_jEVW.index_menu-list-left_J3xG .index_menu-item_2-zs {
  padding-left: 12px;
}
.index_search-result-wrap_Asss .index_search-result-content_2wj4 .index_group-list_1TNg .index_group-column-item_jEVW.index_menu-list-left_J3xG .index_menu-item_2-zs {
  padding: 0 12px 0 24px;
}
.index_search-result-wrap_Asss .index_search-result-content_2wj4 .index_group-list_1TNg .index_group-column-item_jEVW.index_menu-list-right_s99P {
  color: #999;
}
.index_search-result-wrap_Asss .index_search-result-content_2wj4 .index_group-list_1TNg .index_group-column-item_jEVW.index_menu-list-right_s99P .index_menu-item_2-zs {
  padding-right: 12px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.index_search-result-wrap_Asss .index_search-result-content_2wj4 .index_group-list_1TNg .index_group-column-item_jEVW.index_menu-list-right_s99P .index_menu-item_2-zs .index_menu-item-text_1Uxc {
  color: #999;
}
.index_search-result-wrap_Asss .index_search-result-content_2wj4 .index_group-list_1TNg .index_group-column-item_jEVW .index_group-column-item-title_uEOR {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 32px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 12px;
  color: #999;
}
.index_search-result-wrap_Asss .index_search-result-content_2wj4 .index_group-list_1TNg .index_group-column-item_jEVW.index_menu-list_2Bzi {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 0;
}
.index_search-result-wrap_Asss .index_search-result-content_2wj4 .index_group-list_1TNg .index_group-column-item_jEVW.index_menu-list_2Bzi .index_menu-item_2-zs {
  height: 32px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #212121;
  white-space: nowrap;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.index_search-result-wrap_Asss .index_search-result-content_2wj4 .index_group-list_1TNg .index_group-column-item_jEVW.index_menu-list_2Bzi .index_menu-item_2-zs.index_hover_1Tg1 {
  background-color: #F5F5F5;
}
.index_search-result-wrap_Asss .index_search-result-content_2wj4 .index_group-list_1TNg .index_group-column-item_jEVW.index_menu-list_2Bzi .index_menu-item_2-zs .index_menu-item-text_1Uxc {
  max-width: 276px;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}
.index_search-result-wrap_Asss .index_search-result-content_2wj4 .index_group-list_1TNg .index_group-column-item_jEVW.index_menu-list_2Bzi .index_menu-item_2-zs.index_is-active_2daT {
  background-color: #F5F5F5;
}
.index_search-result-wrap_Asss .index_search-result-content_2wj4 .index_empty_3_Dg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px;
  color: #999;
}
.index_cloud-item_2GbF {
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0 12px 0 20px;
}
.index_cloud-item_2GbF[data-dragging='true'] {
  color: #B2B2B2 !important;
  background-color: #FFF !important;
}
.index_cloud-item_2GbF[data-dragging='true'] .index_arrow-icon_LyNF {
  color: #B2B2B2 !important;
}
.index_cloud-item_2GbF[data-top-drag-style]::after,
.index_cloud-item_2GbF[data-bottom-drag-style]::after {
  left: 28px;
}
.index_cloud-item_2GbF[data-top-drag-style]::before,
.index_cloud-item_2GbF[data-bottom-drag-style]::before {
  left: 20px;
}
.index_cloud-item_2GbF[data-frequent]:active,
.index_cloud-item_2GbF[data-frequent].index_is-active_2daT {
  color: var(--theme-color);
  background-color: var(--theme-color-level3);
}
.index_cloud-item_2GbF .index_cloud-item-text_3AKw {
  width: 188px;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}
.index_cloud-item_2GbF:hover {
  background-color: var(--hover-color);
}
.index_cloud-item_2GbF:active {
  background-color: var(--hover-color);
  color: var(--theme-color);
}
.index_cloud-item_2GbF:active .index_arrow-icon_LyNF {
  color: var(--theme-color);
}
.index_cloud-item_2GbF.index_is-active_2daT {
  color: var(--theme-color);
}
.index_cloud-item_2GbF.index_is-active_2daT .index_arrow-icon_LyNF {
  color: var(--theme-color);
}
.index_cloud-item_2GbF .index_arrow-icon_LyNF {
  color: #666;
  font-size: 16px;
}
.index_cloud-item_2GbF .index_cloud-item-wrap_1JBK {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.index_cloud-item_2GbF .index_cloud-item-wrap_1JBK .kd-cq-grayscale-icon {
  right: -36px;
  top: -10px;
}
.index_cloud-item_2GbF .index_cloud-item-wrap_1JBK > .index_cloud-item-text_3AKw {
  width: unset;
  max-width: 170px;
}
.index_app-list-item_1xnx {
  height: 36px;
  padding: 0 12px 0 32px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.index_app-list-item_1xnx[data-dragging='true'] {
  color: #B2B2B2 !important;
  background-color: #FFF !important;
}
.index_app-list-item_1xnx[data-top-drag-style]::after,
.index_app-list-item_1xnx[data-bottom-drag-style]::after {
  left: 40px;
}
.index_app-list-item_1xnx[data-top-drag-style]::before,
.index_app-list-item_1xnx[data-bottom-drag-style]::before {
  left: 32px;
}
.index_app-list-item_1xnx.index_is-active_2daT {
  color: var(--theme-color);
  background-color: var(--theme-color-level3);
}
.index_app-list-item_1xnx:hover:not(.index_is-active_2daT) {
  background-color: var(--hover-color);
}
.index_app-list-item_1xnx:hover .index_workbench_1XXb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.index_app-list-item_1xnx:hover .index_app-list-item-wrap_24pu {
  overflow: hidden;
}
.index_app-list-item_1xnx:hover .index_app-list-item-wrap_24pu .kd-cq-grayscale-icon {
  display: none;
}
.index_app-list-item_1xnx .index_app-list-item-wrap_24pu {
  max-width: 162px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.index_app-list-item_1xnx .index_app-list-item-wrap_24pu .kd-cq-grayscale-icon {
  right: -36px;
  top: -8px;
}
.index_app-list-item_1xnx .index_app-list-item-wrap_24pu > .index_app-list-item-text_34qK {
  max-width: 100%;
  width: unset;
}
.index_app-list-item_1xnx .index_app-list-item-text_34qK {
  width: 192px;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}
.index_app-list-item_1xnx .index_workbench_1XXb {
  white-space: nowrap;
  padding: 0 6px;
  line-height: 18px;
  background: #FFFFFF;
  border: 1px solid var(--theme-color);
  border-radius: 2px;
  color: var(--theme-color);
  display: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.index_app-list-item_1xnx .index_workbench_1XXb:hover {
  color: var(--theme-color-level5);
  border-color: var(--theme-color-level5);
}
.index_app-list-item_1xnx .index_workbench_1XXb:active {
  color: var(--theme-color-level7);
  border-color: var(--theme-color-level7);
}
.index_clone-drag-item_X38m {
  color: #212121 !important;
  background: rgba(255, 255, 255, 0.9) !important;
  -webkit-box-shadow: 0px 4px 12px 0px rgba(40, 50, 70, 0.2);
          box-shadow: 0px 4px 12px 0px rgba(40, 50, 70, 0.2);
}
.index_clone-drag-item_X38m.index_disabled_1xRF {
  cursor: not-allowed !important;
}
.index_clone-drag-item_X38m.index_disabled_1xRF span,
.index_clone-drag-item_X38m.index_disabled_1xRF i,
.index_clone-drag-item_X38m.index_disabled_1xRF div {
  cursor: not-allowed !important;
}
.index_clone-drag-item_X38m .index_workbench_1XXb {
  display: none !important;
}
.index_clone-drag-item_X38m .kd-cq-grayscale-icon {
  display: none;
}
.index_clone-drag-item_X38m.index_menu-item_2-zs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4px 8px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.index_clone-drag-item_X38m.index_menu-item_2-zs .index_menu-item-text_1Uxc {
  color: #212121;
  width: 144px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-break: break-word;
  overflow: hidden;
}
.index_in-drag-item_1Ulp {
  color: #B2B2B2 !important;
  background-color: #FFF !important;
  opacity: 1 !important;
}
.index_in-drag-item_1Ulp .index_arrow-icon_LyNF {
  color: #B2B2B2 !important;
}
.index_in-drag-item_1Ulp .index_menu-item-text_1Uxc {
  color: #B2B2B2 !important;
}
[data-top-drag-style],
[data-bottom-drag-style] {
  position: relative;
}
[data-top-drag-style]::after,
[data-bottom-drag-style]::after {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  outline: 0;
  pointer-events: none;
}
[data-top-drag-style]::before,
[data-bottom-drag-style]::before {
  content: ' ';
  position: absolute;
  width: 8px;
  height: 8px;
  border: 2px solid var(--theme-color);
  border-radius: 50%;
}
[data-top-drag-style]::before {
  top: -4px;
}
[data-bottom-drag-style]::before {
  bottom: -4px;
}
[data-top-drag-style]::after {
  border-top: 2px solid var(--theme-color);
}
[data-bottom-drag-style]::after {
  border-bottom: 2px solid var(--theme-color);
}
[data-left-drag-style] {
  position: relative;
}
[data-left-drag-style]::before {
  content: ' ';
  position: absolute;
  left: -7px;
  top: 0;
  border-left: 2px solid var(--theme-color);
  height: 100%;
  outline: 0;
  pointer-events: none;
}
[data-right-drag-style] {
  position: relative;
}
[data-right-drag-style]::before {
  content: ' ';
  position: absolute;
  right: -7px;
  top: 0;
  border-right: 2px solid var(--theme-color);
  height: 100%;
  outline: 0;
  pointer-events: none;
}

/*!************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/index.js??ruleSet[1].rules[2].use[1]!../../node_modules/postcss-loader/dist/cjs.js!./node_modules/less-loader/dist/cjs.js!./src/component/web/KDAppNavigationMenu.less ***!
  \************************************************************************************************************************************************************************************************************/
.KDAppNavigationMenu_menu-icon_2A2A {
  font-size: 24px;
  color: var(--theme-color);
  padding: 4px;
  border-radius: 4px;
  margin: 1px 0;
}
.KDAppNavigationMenu_menu-icon_2A2A:hover {
  background: #f5f5f5;
  cursor: pointer;
}

/*!***********************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/index.js??ruleSet[1].rules[2].use[1]!../../node_modules/postcss-loader/dist/cjs.js!./node_modules/less-loader/dist/cjs.js!./src/devportal/less/MyApp.less ***!
  \***********************************************************************************************************************************************************************************************/
body {
  overflow: hidden;
}
.MyApp_appCenter_1zfR {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.MyApp_cloud-wrapper_3pmr {
  position: relative;
  width: 100%;
}
.MyApp_cloud-wrapper_3pmr + .MyApp_cloud-wrapper_3pmr {
  margin-top: 12px;
}
.MyApp_editCloudDialog_1gTA {
  width: 680px;
  height: 574px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.MyApp_editCloudDialog_1gTA .MyApp_cloudWrapper_3TkF {
  width: 560px;
  height: 40px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  background: #FAFAFA;
  border-radius: 2px;
  border: 1px solid #E5E5E5;
  padding: 0 18px 0 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}
.MyApp_editCloudDialog_1gTA .MyApp_cloudWrapper_3TkF + .MyApp_cloudWrapper_3TkF {
  margin-top: 12px;
}
.MyApp_editCloudDialog_1gTA .MyApp_cloud-left_2eYv {
  font-size: 14px;
  font-weight: bold;
  color: #212121;
  line-height: 19px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.MyApp_editCloudDialog_1gTA .MyApp_cloud-left_2eYv i {
  color: #666;
  cursor: pointer;
  margin-right: 8px;
}
.MyApp_editCloudDialog_1gTA .MyApp_cloud-right_2BTs i {
  color: #666;
  cursor: pointer;
}
.MyApp_editCloudDialog_1gTA .MyApp_cloud-right_2BTs i + i {
  margin-left: 10px;
}
.MyApp_editCloudDialog_1gTA .MyApp_dialogContent_RKGG {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}
.MyApp_editCloudDialog_1gTA .MyApp_dialogFooter_3SeW {
  height: 50px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #d9d9d9;
}
.MyApp_cloud-header_2rN7 {
  position: relative;
}
.MyApp_cloud-header_2rN7 .MyApp_header-left_1jUM {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.MyApp_cloud-header_2rN7 .MyApp_header-left_1jUM .MyApp_cloud-name_2L6x {
  color: #212121;
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
}
.MyApp_cloud-header_2rN7 .MyApp_header-left_1jUM i {
  color: #666;
  margin-left: 10px;
  cursor: pointer;
}
.MyApp_cloud-header_2rN7 .MyApp_header-toolbar_3GRQ {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 32px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.MyApp_cloud-header_2rN7 .MyApp_header-toolbar_3GRQ .MyApp_toolbar-item_328N {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 18px;
  cursor: pointer;
}
.MyApp_cloud-header_2rN7 .MyApp_header-toolbar_3GRQ .MyApp_toolbar-item_328N:not(:hover) i {
  color: #666;
}
.MyApp_cloud-header_2rN7 .MyApp_header-toolbar_3GRQ .MyApp_toolbar-item_328N i {
  margin-right: 4px;
}
.MyApp_cloud-header_2rN7 .MyApp_header-toolbar_3GRQ .MyApp_toolbar-item_328N i.MyApp_sort-icon_3e5n {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.MyApp_cloudName_1KPp {
  height: 20px;
  border-left: 2px solid #FC8555;
  padding-left: 6px;
  line-height: 24px;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: -3px;
  margin-left: 5px;
}
.MyApp_app_2a9Q {
  border: 1px solid #fff;
  width: 284px;
  height: 100px;
  margin-right: 12px;
  margin-bottom: 12px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 16px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 12px 0 rgba(134, 162, 210, 0.2);
          box-shadow: 0 4px 12px 0 rgba(134, 162, 210, 0.2);
  border-radius: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.MyApp_app_2a9Q .kd-cq-grayscale-icon {
  right: 8px;
  top: 8px;
}
.MyApp_app_2a9Q:hover {
  -webkit-box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform: translate3d(0, 1px, -2px);
  transform: translate3d(0, 1px, -2px);
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.MyApp_cloudToobar_3qCF {
  position: absolute;
  top: 12px;
  right: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.MyApp_cloudToobar_3qCF i {
  font-size: 16px;
  color: #BFC4CD;
  cursor: pointer;
}
.MyApp_cloudToobar_3qCF i + i {
  margin-left: 9px;
}
.MyApp_cloudToobar_3qCF .MyApp_kdfont-bianji_2rEy {
  font-size: 14px;
}
.MyApp_appToolbar_Tsjl {
  position: absolute;
  top: 4px;
  right: 9px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.MyApp_appToolbar_Tsjl i {
  font-size: 16px;
  color: #999;
}
.MyApp_appToolbar_Tsjl i + i {
  margin-left: 9px;
}
.MyApp_appMsg_3PoF {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 48px;
  height: auto;
  overflow: hidden;
  margin-left: 8px;
}
.MyApp_appMsgForEn_yY8_ {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 48px;
  height: auto;
  overflow: hidden;
  margin-left: 8px;
}
.MyApp_appName_EE9b {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #333333;
  word-break: break-word;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.MyApp_appNameForOther_34bs {
  font-size: 16px;
  margin-bottom: 8px;
}
.MyApp_appNameForEn_21Pg {
  font-size: 14px;
  -webkit-line-clamp: 2;
  margin-bottom: 5px;
}
.MyApp_appDescription_39rQ {
  width: 100%;
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #999999;
}
.MyApp_editNameAndDescription_2227 {
  width: 30px;
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  left: 230px;
  position: absolute;
  color: #C7D0E3;
}
.MyApp_editCloudName_1ytI {
  cursor: pointer;
  width: 30px;
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  left: 70px;
  margin-top: 10px;
  position: absolute;
  color: #C7D0E3;
}
.MyApp_operation_1YZh {
  cursor: pointer;
  color: #2B87F3;
  height: 20px;
  width: 200px;
  line-height: 20px;
  margin-top: 55px;
  text-align: right;
  padding-right: 5px;
  position: absolute;
  display: none;
}
.MyApp_operation_1YZh span {
  float: right;
}
.MyApp_appImg_2l7S {
  width: 48px;
  height: 48px;
  display: inline-block;
  border-radius: 6px;
}
.MyApp_appImg_2l7S[src=''] {
  visibility: hidden;
}
.MyApp_floatMenu_3KNx {
  position: absolute;
  right: -2px;
  top: 28px;
  width: 40px;
  z-index: 333;
  margin-right: 3px;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px 0 0 4px;
}
.MyApp_floatMenu_3KNx.MyApp_is-admin_LHYc {
  top: 104px;
}
.MyApp_adjustLayout_3biP,
.MyApp_reset_4UWZ {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  overflow: hidden;
  height: 40px;
  width: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: center;
  -webkit-align-items: center;
}
.MyApp_adjustLayout_3biP + .MyApp_adjustLayout_3biP,
.MyApp_reset_4UWZ + .MyApp_adjustLayout_3biP {
  border-top: 1px solid #E6E8EE;
}
.MyApp_adjustLayout_3biP i,
.MyApp_switchschema_32zn i,
.MyApp_saveschema_2f1t i {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #999;
  cursor: pointer;
  display: block;
  font-family: kdfont,serif;
  font-size: 24px;
  font-style: normal;
  height: 26px;
  width: 24px;
  -webkit-font-smoothing: antialiased;
}
.MyApp_feedback_2zS1 {
  background-color: white;
  border-width: 0px;
  border-style: solid;
  border-color: #000000;
  text-align: center;
  height: 48px;
  cursor: pointer;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAaJJREFUSA1jYBjqgBHmgdmzZ0f+//9/IhCLwsSIoNnS09N/w9S1tLTYMDMzP6usrLwHE2OBMYAGTwFiL6CGkzAxUuimpiZDoP4Nf/78iQLqg1vABDMEKClEruHt7e0qQHO2MTIy5tbW1u6CmQmi4RYgC5LCbm1tlQS6ehfQ8Laamprl6HopsqC/v1/g379/O4GGLgG6fDK64SA+2Rb09fVxfvnyZTPQjGNAw+tghgODGsVMFA5MESF6//79LF+/fl0FVPcCGCxZyOpnzZr1F5lPsgVAFzIeOXJkDpDmVFdXjwaG/T9kA9HZ8GSKLoGLD0zr3UDDddjZ2R3DwsJ+4VIHEyfJAqDhZcBI9WVhYbEpLy//DDMEH020BcCMlAR0eR4TE5N1VVXVa3yGIssRHQfAsNYAWuAOjNSHyAYQYhPtA2BSLCNkGDZ5on2ATTMxYjS3AGcQTZ8+/T8xLgSpyczMhBf76HpwWoBPE7oh+Pg0DyK4BcBk+G7mzJnm+FxDSA6kH2QOsjp4EAElcoASm4GKSKkykc1iAJrxGmoOivjQ5gAAstiMgWaZ+b4AAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  background-position: 9px 12px;
}
.MyApp_feedback_2zS1:hover {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAbRJREFUSA3VVT1Iw1AQftemCRUHBTu4d3BwaSuI2KFOgiBOitXNRWir1KVLQbJYQQeRVgdxFBS7CJ10VxCHuLgKLioURHGQ5uedyfBC+mjzo3Rolrvvfr4vdwnvEdLvD7AB9N2lLCAeIpIYi3nZ8MiwCOsnGqvTcqm0IIVe4eDhmcUE5gDFWgjCc1C+uGexIFbdmEggNa50nayYfbaAzaHvLKINAjqYS8Zb+cRbK5fI8q0hPhAUYzE1qgK9ASAV6Vg55/v/JYDFzJCm0WsCcCbWlCpPbuE/C+DWVFTTPhsmx51UU7YZOaLcxtkGWJGXRTkjqOrPJRJ4j8QWcs56o/JkOHFgAUQErfl1CgSiYiy+CrJMnYS8b/+mfKIb1grJfYJkPDI4MANyXe1Wx+KBBEzyEkU6L4YhDXu334zEzfoWUPOJNUrppggwDVWl6UbqzPn+BkhwjEBkFo6UFyeBl+97AunoseRF1inve4JOzX5iPRfouqIgh59QrtvHPj9VVwG3Jp7EDfd8RbaAOeMHVpYn3d7GK2f1WzzOOntFGIICRaNh7t73lekksnxKjKbFw8f7G/8CSd+Ffdy0lPYAAAAASUVORK5CYII=);
  background-color: #fff1e6;
}
.MyApp_operate_3_6I span {
  background-color: #ffffff;
  color: #7e8491;
  font-size: 12px;
  border: 0px solid #000000;
  display: block;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.MyApp_operate_3_6I span.MyApp_addApp_3GAd {
  height: 46px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAK9JREFUSA3tVNsNgCAMBOMqLqN7wEywBw7jMkg/uDQGFDAYPuSHlvb6OJoK8Z8HBmS0W2ud936Neu0tpdyVUlsWZ4zxWWOBIYefCrCvXMZJkKMg1V7wPeJ7rw6W3glifDFDSghXWriutcaIJ6B4uk3Ag1BwriPCg9DrD5B2nAQt9FAb43QAUisFTBFtQz6GlXHI3TVg2iC80O5/AIp4raECWlbYJ9xWKH9HV2FBA7udYagrB8wu224AAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  background-position: 10px 12px;
  background-size: 22px;
}
.MyApp_operate_3_6I span.MyApp_addApp_3GAd:hover {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAALRJREFUSA1jYBgFBEKAESb/py1sK8P//14wPsk0I+M2lqpV3jj1/WkN/Y9TkggJXPqZiNBLkZLBYwGuIMDmvb+tobdg4jTxATAyVWlqAcxwEM2CzEFnowcLMp+lejU8iaPrQ+bjtQDZEJDhyHxkQ/CxaRIHyBYOHgvICR6QTwaPD5DDlRQ2IhUBS0PkZEiKIVC1W8nQQ54WZIfSPA4QQYTkWFBhhVyeIEkRy6RfcBHrosGrDgDuJyxIttjR3QAAAABJRU5ErkJggg==);
  background-color: #fff1e6;
}
.MyApp_operate_3_6I span.MyApp_save_31LN {
  margin-top: 20px;
  color: #666666;
}
.MyApp_operate_3_6I span.MyApp_cancel_15sH {
  color: #666666;
}
.MyApp_operate_3_6I span.MyApp_save_31LN:hover,
.MyApp_operate_3_6I span.MyApp_cancel_15sH:hover {
  color: #ffffff;
  background-color: #fc8555;
}
.MyApp_deleteApp_340m {
  width: 15px;
  height: 15px;
  border: 1px solid red;
  position: absolute;
  top: 5px;
  float: right;
  right: 5px;
  border-radius: 10px;
  text-align: center;
  color: red;
  line-height: 9px;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.MyApp_newDeleteApp_6Xct {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
  margin-top: -1px;
  margin-right: -1px;
  float: right;
}
.MyApp_newDeleteApp_6Xct span {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-family: kdfont,serif;
  font-size: 18px;
  font-style: normal;
  height: 18px;
  line-height: 18px;
  width: 18px;
  -webkit-font-smoothing: antialiased;
}
.MyApp_newDeleteApp_6Xct span:hover {
  color: #FD6C6A;
}
.MyApp_newDeleteApp_6Xct span {
  color: #C7D0E3;
}
.MyApp_appIndustryStyle_16jd {
  background-image: linear-gradient(15deg, #A6B4DF 0%, #8997C3 100%);
  border-radius: 0 0 6px 6px;
  width: auto;
  font-size: 12px;
  color: #FFFFFF;
  height: 19px;
  position: absolute;
  right: 25px;
  top: -2px;
}
.MyApp_content_3E6V {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.MyApp_managerTip_1zYA {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 40px;
  padding: 0 33px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 0;
  height: 40px;
  z-index: 1050;
}
.MyApp_managerTip_1zYA .MyApp_tipMain_4z-v {
  font-size: 12px;
  margin-left: 9px;
  margin-right: 12px;
  color: #212121;
  font-weight: bold;
}
.MyApp_managerTip_1zYA .MyApp_tipDesc_3SkU {
  color: #404040;
  font-size: 12px;
}
.MyApp_leftPart_11F2 {
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 32px;
  padding-right: 40px;
  margin-top: 24px;
}
.MyApp_leftPart_11F2.MyApp_is-admin_LHYc {
  margin-top: 52px;
}
.MyApp_cloudAndAppStyle_172y {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}
.MyApp_cloudStyle_16JW {
  width: 108px;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  margin-bottom: 12px;
  margin-right: 12px;
  color: #FFFFFF;
  font-size: 18px;
  position: relative;
  border-radius: 2px;
  background-color: #2C3E61;
  overflow: hidden;
}
.MyApp_rightCloudStyle_2ioB {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.MyApp_cloudImageStyle_3h-p {
  width: 100%;
  position: absolute;
  max-height: 370px;
  margin: auto;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}
.MyApp_cloudBgImageStyle_3xPu {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0px;
  left: 0px;
}
.MyApp_cloudNameStyle_27OP {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  line-height: 25px;
  color: #BFC4CD;
  text-align: center;
  width: 100px;
  word-break: break-word;
}
.MyApp_cloudNameStyle_27OP .kd-cq-grayscale-icon {
  right: 2px;
  top: -20px;
}
.MyApp_cloudNameStyleForOther_P9z- {
  font-size: 17px;
}
.MyApp_cloudNameStyleForEn_2744 {
  font-size: 15px;
}
.MyApp_cloudIndustryStyle_2hp7 {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 13px;
  line-height: 18px;
  color: #BFC4CD;
  margin-top: 12px;
}
.MyApp_visiable_Wk-J {
  display: inline-block;
}
.MyApp_visiable_block_2HsH {
  display: block;
}
.MyApp_visiable_flex_1fKD {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.MyApp_unvisiable_35ue {
  display: none;
}
.MyApp_bottombarpanel_1Cwx {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: fixed;
  bottom: 0;
  height: 52px;
  right: 0;
  left: 0;
  font-size: 0px;
  z-index: 999;
  background: rgba(23, 26, 41, 0.7);
}
.MyApp_bottombarpanel_1Cwx .MyApp_button_1KXp {
  border: 1px solid rgba(255, 255, 255, 0.47);
  border-radius: 2px;
  font-size: 12px;
  color: #FFFFFF;
  cursor: pointer;
  min-width: 60px;
  padding: 0 8px;
  height: 28px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.1px;
}
.MyApp_bottombarpanel_1Cwx .MyApp_button_1KXp + .MyApp_button_1KXp {
  margin-left: 12px;
}
.MyApp_bottombarpanel_1Cwx .MyApp_newaddcard_2GrC {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 52px;
  color: #FFFFFF;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
  z-index: 1;
  font-size: 14px;
}
.MyApp_bottombarpanel_1Cwx .MyApp_newaddcard_2GrC .MyApp_newaddcard-flag_70DR {
  line-height: 19px;
  padding-top: 2px;
  font-size: 14px;
  margin-right: 8px;
}
.MyApp_bottombarpanel_1Cwx .MyApp_newaddcard_2GrC.MyApp_newaddcard-show_2vw0 {
  color: #535664;
}
.MyApp_bottombarpanel_1Cwx .MyApp_newaddcard_2GrC .MyApp_newaddcard-item_2bNt {
  z-index: 1;
  cursor: pointer;
}
.MyApp_bottombarpanel_1Cwx .MyApp_editcontainer_2oDV {
  position: absolute;
  right: 32px;
  height: 52px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}
.MyApp_bottombarpanel_1Cwx .MyApp_editcontainer_2oDV .MyApp_edit-cancel_3Gem:hover {
  border: 1px solid #ffffff;
}
.MyApp_bottombarpanel_1Cwx .MyApp_editcontainer_2oDV .MyApp_edit-end_1GNZ {
  margin-left: 12px;
  border: none;
  position: relative;
}
.MyApp_bottombarpanel_1Cwx .MyApp_editcontainer_2oDV .MyApp_edit-end_1GNZ:hover::before {
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.35);
  position: absolute;
}
.MyApp_bottombarpanel_1Cwx .MyApp_left-container_3NfL {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 34px;
  width: 252px;
}
.MyApp_bottombarpanel_1Cwx .MyApp_left-container_3NfL span.MyApp_default-text_8zSf {
  font-size: 14px;
  color: #FFFFFF;
  opacity: 0.9;
}
.MyApp_bottombarpanel_1Cwx .MyApp_left-container_3NfL .MyApp_default-wrapper_3CP9 {
  height: 15px;
  width: 25px;
  border-radius: 15px;
  margin-left: 12px;
  border: 1px solid transparent;
  background-color: #CCCCCC;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.MyApp_bottombarpanel_1Cwx .MyApp_left-container_3NfL .MyApp_default-wrapper_3CP9 .MyApp_default-inner_1K7Y {
  border-radius: 11px;
  height: 11px;
  width: 11px;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 1px;
  left: 1px;
}
.MyApp_bottombarpanel_1Cwx .MyApp_left-container_3NfL .MyApp_default-wrapper-open_oxuS {
  background-color: #18BC71;
}
.MyApp_bottombarpanel_1Cwx .MyApp_left-container_3NfL .MyApp_default-wrapper-open_oxuS .MyApp_default-inner_1K7Y {
  -webkit-transform: translate(85%, 0);
      -ms-transform: translate(85%, 0);
          transform: translate(85%, 0);
  margin-left: 1px;
}
.MyApp_bottombarpanel_1Cwx .MyApp_popup-panel_swwO {
  width: 314px;
  height: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0 2px 6px 0 rgba(57, 75, 115, 0.3);
          box-shadow: 0 2px 6px 0 rgba(57, 75, 115, 0.3);
  border-radius: 2px;
  font-size: 16px;
  color: #535664;
  cursor: pointer;
  -webkit-transition: height 150ms ease-in-out;
  transition: height 150ms ease-in-out;
}
.MyApp_bottombarpanel_1Cwx .MyApp_popup-panel_swwO .MyApp_ap-addcard-flag_fr7M {
  font-size: 23px;
  margin-right: 8px;
  opacity: 0.7;
  color: #535664;
}
.MyApp_bottombarpanel_1Cwx .MyApp_popup-panel_swwO.MyApp_ap-show_2e90 {
  height: 79px;
}
.MyApp_left-container_3NfL {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 34px;
  width: 252px;
}
.MyApp_left-container_3NfL span.MyApp_default-text_8zSf {
  font-size: 14px;
  color: #FFFFFF;
  opacity: 0.9;
}
.MyApp_left-container_3NfL .MyApp_default-wrapper_3CP9 {
  height: 15px;
  width: 25px;
  border-radius: 15px;
  margin-left: 12px;
  border: 1px solid transparent;
  background-color: #CCCCCC;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.MyApp_left-container_3NfL .MyApp_default-wrapper_3CP9 .MyApp_default-inner_1K7Y {
  border-radius: 11px;
  height: 11px;
  width: 11px;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 1px;
  left: 1px;
}
.MyApp_left-container_3NfL .MyApp_default-wrapper-open_oxuS {
  background-color: #18BC71;
}
.MyApp_left-container_3NfL .MyApp_default-wrapper-open_oxuS .MyApp_default-inner_1K7Y {
  -webkit-transform: translate(85%, 0);
      -ms-transform: translate(85%, 0);
          transform: translate(85%, 0);
  margin-left: 1px;
}

