/*!**********************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/index.js??ruleSet[1].rules[2].use[1]!../../node_modules/postcss-loader/dist/cjs.js!./node_modules/less-loader/dist/cjs.js!./src/workflow/css/ApprovalProcessing.less ***!
  \**********************************************************************************************************************************************************************************************************/
.ApprovalProcessing_parentDiv_1h8i {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  background-color: white;
}
.ApprovalProcessing_firstChildDiv_1tVZ {
  float: left;
}
.ApprovalProcessing_textAlignRight_9YUF {
  text-align: right;
  vertical-align: top;
  padding: 10px 0 10px 0;
  width: 90px;
}
.ApprovalProcessing_unvisiable_3z5Z {
  display: none;
}
.ApprovalProcessing_visiable_mlFJ {
  display: table-row;
}
.ApprovalProcessing_divButtonStyle_2d97 {
  margin: 10px 10px 0px 0px;
  float: right;
}
.ApprovalProcessing_divLabelStyle_2HJn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.ApprovalProcessing_toolbarStyle_ZhLM span {
  background: white;
}

/*!*******************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/index.js??ruleSet[1].rules[2].use[1]!../../node_modules/postcss-loader/dist/cjs.js!./node_modules/less-loader/dist/cjs.js!./src/workflow/css/WFNavigationBar.less ***!
  \*******************************************************************************************************************************************************************************************************/
@charset "utf-8";
.WFNavigationBar_anvBodyExpand_2_2t {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 180px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--treemenu-first-level-bg-color);
}
.WFNavigationBar_anvBody_3OaA {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 180px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--treemenu-first-level-bg-color);
  width: 0.1px;
}
.WFNavigationBar_splitSignExpand_26Lr {
  width: 20px;
  height: 45px;
  background-color: var(--treemenu-first-level-bg-color);
  position: fixed;
  top: 50%;
  left: 180px;
  z-index: 999;
  border-radius: 0px 80px 80px 0px;
  padding-top: 11px;
}
@supports (-ms-ime-align:auto) {
  /** 仅针对edge **/
  .WFNavigationBar_splitSignExpand_26Lr {
    width: 20px;
    height: 45px;
    background-color: var(--treemenu-first-level-bg-color);
    position: fixed;
    top: 50%;
    left: 164px;
    z-index: 999;
    border-radius: 0px 80px 80px 0px;
    padding-top: 11px;
  }
}
@-moz-document url-prefix() {
  /** 仅针对firefox **/
  .WFNavigationBar_splitSignExpand_26Lr {
    width: 20px;
    height: 45px;
    background-color: var(--treemenu-first-level-bg-color);
    position: fixed;
    top: 50%;
    left: 172px;
    z-index: 999;
    border-radius: 0px 80px 80px 0px;
    padding-top: 11px;
  }
}
.WFNavigationBar_splitSignExpandHiden_3k6d {
  display: none;
  width: 20px;
  height: 45px;
  background-color: var(--treemenu-first-level-bg-color);
  position: fixed;
  top: 50%;
  left: 180px;
  z-index: 999;
  border-radius: 0px 80px 80px 0px;
  padding-top: 11px;
}
.WFNavigationBar_splitSign_28kO {
  width: 20px;
  height: 45px;
  background-color: var(--treemenu-first-level-bg-color);
  position: fixed;
  top: 50%;
  left: 180px;
  z-index: 999;
  border-radius: 0px 80px 80px 0px;
  padding-top: 11px;
  left: 0px;
}
.WFNavigationBar_splitSignArrow_2c6H {
  font-size: 20px;
  color: var(--treemenu-expand-btn-color, var(--treemenu-first-level-color));
  font-family: "kdfont", sans-serif !important;
  font-style: normal;
  cursor: pointer;
  margin-left: -2px;
}
.WFNavigationBar_splitSignArrow_2c6H:hover {
  color: var(--treemenu-expand-btn-hover-color, var(--treemenu-first-level-hover-color));
}
.WFNavigationBar_anvWarp_g4z1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.WFNavigationBar_anvWarpHidden_2rZd {
  display: none;
}
.WFNavigationBar_navHeadTab_2m1q {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  background-color: var(--treemenu-first-level-bg-color);
  border-bottom: 1px solid #22242D;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(var(--kd-cq-treemenu-font-size, var(--kd-cq-font-size, 12px)) + 2px);
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  color: var(--treemenu-first-level-color);
}
.WFNavigationBar_navHeadTab_2m1q > span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 40px;
  cursor: pointer;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.WFNavigationBar_navHeadTabSpanClick_yaF8 {
  border-bottom: 1px solid #C2CADC;
}
.WFNavigationBar_notifySign_m1zB {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #FF3737;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  margin-top: 10px;
}
.WFNavigationBar_naviContainer_3oN4 {
  width: 100%;
  background: var(--treemenu-first-level-bg-color);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 1px 0 0 0 #D9DADA;
          box-shadow: 1px 0 0 0 #D9DADA;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.WFNavigationBar_generalItemsul_PFM4 {
  width: 100%;
  border-bottom: 1px solid #22242D;
}
.WFNavigationBar_naviContainer_3oN4 img {
  cursor: pointer;
}
.WFNavigationBar_generalItemsul_PFM4 li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.WFNavigationBar_itemDiv_bVGa {
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--treemenu-first-level-bg-color);
  color: var(--treemenu-first-level-color);
}
.WFNavigationBar_itemDiv_bVGa:hover {
  color: var(--treemenu-first-level-hover-color);
  background: var(--treemenu-first-level-hover-bg-color);
}
.WFNavigationBar_contentText_rx0M {
  width: 95px;
  font-size: var(--kd-cq-treemenu-font-size, var(--kd-cq-font-size, 12px));
  margin-left: 16px;
  margin-top: 5px;
  color: var(--treemenu-first-level-color);
  cursor: pointer;
}
.WFNavigationBar_contentTextHover_RmfE {
  width: 95px;
  cursor: pointer;
  font-size: var(--kd-cq-treemenu-font-size, var(--kd-cq-font-size, 12px));
  margin-left: 16px;
  margin-top: 5px;
  color: var(--treemenu-first-level-hover-color);
}
.WFNavigationBar_leftImgCss_6usT {
  margin-left: 20px;
  width: 16px;
  height: 16px;
  font-size: 20px;
}
.WFNavigationBar_rightImgCss_17Mv {
  width: 16px;
  height: 16px;
  font-size: 18px;
  margin-top: 5px;
}
.WFNavigationBar_twoContainer_zJNF {
  background: var(--treemenu-second-level-bg-color, var(--treemenu-lower-level-bg-color));
  padding: 0;
}
.WFNavigationBar_twoContainerHide_5EcG {
  background: var(--treemenu-second-level-bg-color, var(--treemenu-lower-level-bg-color));
  padding: 5px 0;
  display: none;
}
.WFNavigationBar_twoContainer_zJNF > ul > li {
  font-size: var(--kd-cq-treemenu-font-size, var(--kd-cq-font-size, 12px));
  height: 35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px 0 30px;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.WFNavigationBar_twoContainer_zJNF > ul > li > span {
  color: var(--treemenu-second-level-color, var(--treemenu-lower-level-color));
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.WFNavigationBar_twoContainer_zJNF > ul > li > span:hover {
  color: var(--treemenu-second-level-hover-color, var(--treemenu-lower-level-hover-color));
}
.WFNavigationBar_addNewFolder_3Dct {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(var(--kd-cq-treemenu-font-size, var(--kd-cq-font-size, 12px)) + 2px);
  color: var(--treemenu-first-level-bg-color);
}
.WFNavigationBar_addNewFolder_3Dct .WFNavigationBar_operate_bpqc {
  font-size: var(--kd-cq-treemenu-font-size, var(--kd-cq-font-size, 12px));
  color: var(--treemenu-first-level-color);
  cursor: pointer;
  margin-right: 5px;
}
.WFNavigationBar_addNewFolder_3Dct .WFNavigationBar_operate_bpqc:hover {
  color: var(--treemenu-first-level-hover-color);
}
.WFNavigationBar_myfolderText_2iTT {
  width: 90px;
  font-size: calc(var(--kd-cq-treemenu-font-size, var(--kd-cq-font-size, 12px)) + 1px);
  margin-left: 18px;
  margin-top: -2px;
  color: var(--treemenu-first-level-color);
}
.WFNavigationBar_updateImag_31wg {
  width: 15px;
  height: 15px;
  background-position: center;
  cursor: pointer;
  color: var(--treemenu-first-level-color);
}
.WFNavigationBar_updateImag_31wg:hover {
  color: var(--treemenu-first-level-hover-color);
}
.WFNavigationBar_deleteImag_3hcp {
  width: 15px;
  height: 15px;
  background-position: center;
  cursor: pointer;
  color: var(--treemenu-first-level-color);
}
.WFNavigationBar_deleteImag_3hcp:hover {
  color: var(--treemenu-first-level-hover-color);
}
.WFNavigationBar_customItemsul_22H4 {
  width: 100%;
}
.WFNavigationBar_customItemsul_22H4 li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.WFNavigationBar_customItemDiv_1Wc5 {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--treemenu-first-level-bg-color);
  color: var(--treemenu-first-level-color);
}
.WFNavigationBar_customItemDiv_1Wc5:hover {
  color: var(--treemenu-first-level-hover-color);
  background: var(--treemenu-first-level-hover-bg-color);
}
.WFNavigationBar_customItemEditDiv_2E3s {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.WFNavigationBar_settingAuto_6Thw {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  margin-top: auto;
  width: 100%;
  height: 46px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #22242D;
  color: var(--treemenu-first-level-color);
}
.WFNavigationBar_settingAuto_6Thw:hover {
  color: var(--treemenu-first-level-hover-color);
}
.WFNavigationBar_settingAuto_6Thw span {
  cursor: pointer;
  font-size: var(--kd-cq-treemenu-font-size, var(--kd-cq-font-size, 12px));
}
.WFNavigationBar_settingAuto_6Thw .WFNavigationBar_settingImg_3HZu {
  cursor: pointer;
  margin: 0px 3px 0px 22px;
  width: 28px;
  height: 19px;
  font-size: 20px;
}
.WFNavigationBar_settingAuto_6Thw .WFNavigationBar_svgHoverColor_1Yxg:hover {
  color: var(--treemenu-first-level-hover-color);
}

/*!***************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/index.js??ruleSet[1].rules[2].use[1]!../../node_modules/postcss-loader/dist/cjs.js!./node_modules/less-loader/dist/cjs.js!./src/workflow/css/WfCondition.less ***!
  \***************************************************************************************************************************************************************************************************/
.WfCondition_commonfilter_3Oke {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.WfCondition_commonfilter_3Oke .WfCondition_bar_1ZaH {
  background: #F3F3F5;
  height: 35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.WfCondition_commonfilter_3Oke .WfCondition_bar_1ZaH .WfCondition_bar_field_135t {
  width: 100px;
  margin-left: 75px;
}
.WfCondition_commonfilter_3Oke .WfCondition_bar_1ZaH .WfCondition_bar_conditon_1UES {
  width: 80px;
  margin-left: 10px;
}
.WfCondition_commonfilter_3Oke .WfCondition_bar_1ZaH .WfCondition_bar_vlue_2QXl {
  width: 200px;
  margin-left: 10px;
}
.WfCondition_commonfilter_3Oke .WfCondition_bar_1ZaH .WfCondition_bar_logic_CP1l {
  width: 65px;
  margin-left: 85px;
}
.WfCondition_commonfilter_3Oke .WfCondition_bar_1ZaH .WfCondition_bar_item_34Zb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: MicrosoftYaHei, sans-serif;
  font-size: var(--kd-cq-font-size, 12px);
  color: #333333;
}
.WfCondition_commonfilter_3Oke .WfCondition_field_275O {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0px 0px 0px 0px;
}
.WfCondition_commonfilter_3Oke .WfCondition_content_3ldp {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.WfCondition_commonfilter_3Oke .WfCondition_content-msgcenter_1x0g {
  width: 774px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.WfCondition_commonfilter_3Oke .WfCondition_operation_3c8v {
  width: 95px;
  height: 26px;
  margin: 0px 10px 0px 0px;
  padding: 0px 0px 0px 5px;
  position: relative;
}
.WfCondition_commonfilter_3Oke .WfCondition_operation-msgcenter_378p {
  width: 220px;
  height: 26px;
  margin: 0px 10px 0px 0px;
  padding: 0px 0px 0px 5px;
  position: relative;
}
.WfCondition_commonfilter_3Oke .WfCondition_option_8UZz {
  width: 200px;
  height: 26px;
  margin: 0px 10px 0px 0px;
  padding: 0px 0px 0px 5px;
  position: relative;
}
.WfCondition_commonfilter_3Oke .WfCondition_option-msgcenter_2FOf {
  width: 220px;
  height: 26px;
  margin: 0px 10px 0px 0px;
  padding: 0px 0px 0px 5px;
  position: relative;
}
.WfCondition_commonfilter_3Oke .WfCondition_option-text_1ucv {
  font-size: var(--kd-cq-font-size, 12px);
  color: #666666;
  letter-spacing: 0;
  border: 1px solid #DBDBDB;
  border-radius: 2px;
}
.WfCondition_commonfilter_3Oke .WfCondition_option-add_1vZg {
  width: 90px;
  height: 22px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 28px 18px 0px;
  font-size: var(--kd-cq-font-size, 12px);
  letter-spacing: 0;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid #5E80EB;
  color: #5E80EB;
}
.WfCondition_commonfilter_3Oke .WfCondition_option-add_1vZg .WfCondition_o-add-flag_2Cwi {
  width: 11px;
  height: 11px;
  margin-right: 5px;
  margin-left: 5px;
}
.WfCondition_commonfilter_3Oke .WfCondition_option-add_1vZg .WfCondition_o-add-text_1Zvr {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.WfCondition_commonfilter_3Oke .WfCondition_option-msgcenter-add_Vnj3 {
  width: 90px;
  height: 22px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 12px 28px 10px 0px;
  font-size: var(--kd-cq-font-size, 12px);
  letter-spacing: 0;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid #5E80EB;
  color: #5E80EB;
}
.WfCondition_commonfilter_3Oke .WfCondition_option-msgcenter-add_Vnj3 .WfCondition_o-add-flag_2Cwi {
  width: 11px;
  height: 11px;
  margin-right: 5px;
  margin-left: 5px;
}
.WfCondition_commonfilter_3Oke .WfCondition_option-msgcenter-add_Vnj3 .WfCondition_o-add-text_1Zvr {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.WfCondition_commonfilter_3Oke .WfCondition_option-insert_1oLb {
  width: 16px;
  height: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4px 4px 4px 12px;
  font-size: var(--kd-cq-font-size, 12px);
  letter-spacing: 0;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid #5E80EB;
  color: #5E80EB;
}
.WfCondition_commonfilter_3Oke .WfCondition_option-insert_1oLb .WfCondition_o-insert-flag_3V5v {
  width: 11px;
  height: 11px;
  margin-left: 1px;
  margin-bottom: 1px;
}
.WfCondition_commonfilter_3Oke select {
  padding: 2px;
  border: 1px solid #d7d7d7;
}
.WfCondition_commonfilter_3Oke .WfCondition_advance-condition_3cfQ {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0px 0px 0px;
}
.WfCondition_commonfilter_3Oke .WfCondition_advance-condition_3cfQ .WfCondition_seq_2vDZ {
  height: 26px;
  margin-right: 5px;
  min-width: 10px;
  line-height: 26px;
}
.WfCondition_commonfilter_3Oke .WfCondition_advance-msgcenter-condition_3K_k {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 12px 0px 0px 0px;
}
.WfCondition_commonfilter_3Oke .WfCondition_advance-msgcenter-condition_3K_k .WfCondition_seq_2vDZ {
  height: 26px;
  margin-right: 5px;
  min-width: 10px;
  line-height: 26px;
}
.WfCondition_commonfilter_3Oke .WfCondition_condition-field_2dxN {
  width: 65px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #DBDBDB;
  border-radius: 2px;
  height: 26px;
  margin: 0px 10px 0px 0px;
  padding: 0px 0px 0px 5px;
  position: relative;
}
.WfCondition_commonfilter_3Oke .WfCondition_condition-field-first_rPtW {
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #DBDBDB;
  border-radius: 2px;
  height: 26px;
  margin: 0px 10px 0px 0px;
  padding: 0px 0px 0px 5px;
  position: relative;
}
.WfCondition_commonfilter_3Oke .WfCondition_condition-msgcenter-field-first_2hiv {
  width: 240px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #DBDBDB;
  border-radius: 2px;
  height: 26px;
  margin: 0px 10px 0px 0px;
  padding: 0px 0px 0px 5px;
  position: relative;
}
.WfCondition_commonfilter_3Oke .WfCondition_condition-f-text_11sV {
  font-size: var(--kd-cq-font-size, 12px);
  color: #666666;
  letter-spacing: 0;
}
.WfCondition_commonfilter_3Oke .WfCondition_sq-conditon-del_3_wG {
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUBAMAAAB/pwA+AAAAIVBMVEUAAAC5xN26xNy6xN27xt67xt3ByuXb2/+5xdy5xNz///+8D9VqAAAACXRSTlMA5sfDingdBxZSq0mtAAAAZ0lEQVQI12NAAWzBksJhYBa750wgcAcxm2aCwKQGoKDmTDBQZ2BgmQkBUxgYMmdCQQJD5MyZK8EogMFy5sxZQDhzpgGDJJBcuRJICDAACbDgzAnIogi1yCYgzEXYhuwGhMsQ7kXxBQDh71L1KnH65QAAAABJRU5ErkJggg==) no-repeat;
}
.WfCondition_commonfilter_3Oke .WfCondition_sq-conditon-del_3_wG:hover {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUBAMAAAB/pwA+AAAAIVBMVEUAAAD+bWr+bWr+bWv9bWv/bGr/cnL/bW3/dHT+bGr///9Tn471AAAACXRSTlMA5sfDingdBxZSq0mtAAAAZ0lEQVQI12NAAWzBksJhYBa750wgcAcxm2aCwKQGoKDmTDBQZ2BgmQkBUxgYMmdCQQJD5MyZK8EogMFy5sxZQDhzpgGDJJBcuRJICDAACbDgzAnIogi1yCYgzEXYhuwGhMsQ7kXxBQDh71L1KnH65QAAAABJRU5ErkJggg==) no-repeat;
}
.WfCondition_commonfilter_3Oke .WfCondition_sq-condition-insert_rn85 {
  display: block;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  cursor: pointer;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUBAMAAAB/pwA+AAAAHlBMVEUAAAC5xN26xNy6xN27xt67xt3ByuXb2/+5xdy5xNzrEInxAAAACXRSTlMA5sfDingdBxZSq0mtAAAAX0lEQVQI12NAAWzBksJhYBa750wgcAcxm2aCwKQGoKDmTDBQZ2BgAVITgHgKA0MmlDkzgSESxgxgsIQxDRgkYUwBhpkzwaZzzpyALIpQi2wCwlyEbchuQLgM4V4UXwAAE4ROiXv6a9kAAAAASUVORK5CYII=) no-repeat;
}
.WfCondition_commonfilter_3Oke .WfCondition_sq-condition-insert_rn85:hover {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUBAMAAAB/pwA+AAAAHlBMVEUAAAAmsnUnsXYmsnYnsnYnsXYms3csuXsuuYAmsXVTIUFoAAAACXRSTlMA+ebHw4p4HRaC1g0QAAAAYElEQVQI12NAAewpiirpEGbgzJkzJwaAWM0zQWByA5BpORMMDBgYWIHUBCCeysBQCGVOLGDIhDJnJjB4wpgODJowpgKD5Eyw4ZwzBZBFEWqRTUCYi7AN2Q0IlyHci+ILAErMTxHj3h6eAAAAAElFTkSuQmCC) no-repeat;
}
.WfCondition_commonfilter_3Oke .WfCondition_sq-conditon-and_3G2T {
  margin-right: 13px;
}
.WfCondition_commonfilter_3Oke.WfCondition_conditionalrule_1EXv .WfCondition_condition-field-first_rPtW,
.WfCondition_commonfilter_3Oke.WfCondition_conditionalrule_1EXv .WfCondition_option_8UZz {
  width: 157px;
}
.WfCondition_commonfilter_3Oke.WfCondition_conditionalrule_1EXv .WfCondition_option_8UZz input {
  max-width: 91px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.WfCondition_commonfilter_3Oke.WfCondition_conditionalrule_1EXv .WfCondition_option-add_1vZg {
  display: none;
}
.WfCondition_commonfilter_3Oke.WfCondition_conditionalrule_1EXv .WfCondition_valueType_3hYu {
  width: 80px;
  height: 26px;
  margin: 0px 10px 0px 0px;
  padding: 0px 0px 0px 5px;
  position: relative;
}
.WfCondition_addOneInput_rULj {
  font-size: var(--kd-cq-font-size, 12px);
  color: "#666666";
}

