/*!***********************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/index.js??ruleSet[1].rules[2].use[1]!../../node_modules/postcss-loader/dist/cjs.js!./node_modules/less-loader/dist/cjs.js!./src/component/mobile/KDSuspendButton.less ***!
  \***********************************************************************************************************************************************************************************************************/
.KDSuspendButton_mask_K-J9 {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 98;
  top: 0px;
  left: 0px;
}
.KDSuspendButton_zIndex1051_1rsx {
  z-index: 1051;
}

/*!**********************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/index.js??ruleSet[1].rules[2].use[1]!../../node_modules/postcss-loader/dist/cjs.js!./node_modules/less-loader/dist/cjs.js!./src/component/mobile/base/FlexField.less ***!
  \**********************************************************************************************************************************************************************************************************/
.FlexField_flex-field-item_1LT- {
  background: #FAFAFA;
}
.FlexField_flex-field-item_1LT-:after {
  content: '';
  position: absolute;
  height: 1px;
  left: 12px;
  bottom: 0;
  right: 0;
  -webkit-transform: scaleY(0.5);
      -ms-transform: scaleY(0.5);
          transform: scaleY(0.5);
  background-color: #E5E5E5;
}

/*!***************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/index.js??ruleSet[1].rules[2].use[1]!../../node_modules/postcss-loader/dist/cjs.js!./node_modules/less-loader/dist/cjs.js!./src/component/mobile/KDField.less ***!
  \***************************************************************************************************************************************************************************************************/
.KDField_span-container-value_3VUl {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
  outline: 0;
}
.KDField_span-container-value_3VUl :focus {
  outline: 0;
}
.KDField_value-start_3O-a {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.KDField_value-center_3VUb {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.KDField_span-container-value-textarea_2VoH {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  white-space: pre-wrap;
  word-break: break-all;
}
.KDField_multi-textarea-can-scroll_P6wc {
  min-height: 0px;
}
.KDField_multi-textarea-padding-top_2Rad {
  padding-top: 7px !important;
}
.KDField_span-value_314q {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: end;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
  /*word-wrap: break-word;
    white-space: pre-line;*/
}
.KDField_textarea-label-wrap__82E {
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
}
.KDField_textarea-label-wrap__82E .KDField_label_e6rF {
  padding: 0 3px;
}
.KDField_kdtext-div_2udH {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
}
.KDField_kdtext-span_3qz9 {
  margin-left: 2px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAASCAMAAAC3taQAAAAAM1BMVEUAAACZmZmZmZmZmZmcnJyZmZmZmZmZmZmZmZmampqZmZmampqVlZWZmZmZmZmZmZmZmZmBABqwAAAAEHRSTlMA2Fg8DOjg3qqYZjcdt0MegsvzrwAAAF1JREFUCNeljjkSwDAIA2WD7yP8/7WB2E6bIjuMmK0kGN6J89j4NHmmo65pNLdNVv4xec0udKSnIeEKyFWnEEjH1AyKvJdxJKAMhsGj2Cuxdu41qhiUg4RMS07Zh91cxQLMAHEjBwAAAABJRU5ErkJggg==") no-repeat center;
  width: 15px;
  height: 100%;
}
.KDField_kdtextarea-span_3JzI {
  position: absolute;
  right: 5px;
  bottom: 2px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAASCAMAAAC3taQAAAAAM1BMVEUAAACZmZmZmZmZmZmcnJyZmZmZmZmZmZmZmZmampqZmZmampqVlZWZmZmZmZmZmZmZmZmBABqwAAAAEHRSTlMA2Fg8DOjg3qqYZjcdt0MegsvzrwAAAF1JREFUCNeljjkSwDAIA2WD7yP8/7WB2E6bIjuMmK0kGN6J89j4NHmmo65pNLdNVv4xec0udKSnIeEKyFWnEEjH1AyKvJdxJKAMhsGj2Cuxdu41qhiUg4RMS07Zh91cxQLMAHEjBwAAAABJRU5ErkJggg==") no-repeat center;
  width: 15px;
  height: 20px;
  z-index: 2;
}
.KDField_mustInput_1Gx9 {
  width: 100%;
  color: #FB2323;
  font-size: 15px;
  line-height: 100%;
  text-align: right;
}
.KDField_mustInput-CT_3flg {
  width: 100%;
  color: #FB2323;
  font-size: inherit;
  line-height: inherit;
  text-align: right;
}
.KDField_text-nowrap_1crv {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 100%;
  height: 16px;
}
.KDField_text-nowrap-CT_3YMI {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: inherit;
  min-height: 16px;
}
.KDField_text-wrap_IDYF {
  overflow: auto;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  line-height: 100%;
  height: 100%;
  min-height: 19px;
  padding-bottom: 2px;
  padding-top: 3px;
  text-align: start;
  white-space: pre-wrap;
  word-break: break-word;
}
.KDField_text-wrap-CT_2fNP {
  overflow: auto;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  line-height: inherit;
  height: 100%;
  text-align: start;
  white-space: pre-wrap;
  min-height: 16px;
  word-break: break-word;
}
.KDField_placeholder_1zCM {
  color: #ccc;
}
.KDField_radio-button-title_2euP {
  margin-top: 2px;
}

/*!***********************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/index.js??ruleSet[1].rules[2].use[1]!../../node_modules/postcss-loader/dist/cjs.js!./node_modules/less-loader/dist/cjs.js!./src/component/mobile/base/VoiceField.less ***!
  \***********************************************************************************************************************************************************************************************************/
.VoiceField_placeholder_W1Rr {
  color: #cccccc !important;
}
.VoiceField_input-placeholder_2k-1::-webkit-input-placeholder {
  color: #cccccc !important;
}
.VoiceField_input-placeholder_2k-1::-moz-placeholder {
  color: #cccccc !important;
}
.VoiceField_input-placeholder_2k-1:-ms-input-placeholder {
  color: #cccccc !important;
}
.VoiceField_input-placeholder_2k-1::-ms-input-placeholder {
  color: #cccccc !important;
}
.VoiceField_input-placeholder_2k-1::placeholder {
  color: #cccccc !important;
}
.VoiceField_input-placeholder_2k-1::-webkit-input-placeholder {
  color: #cccccc !important;
}
.VoiceField_input-placeholder_2k-1:-moz-placeholder {
  color: #cccccc !important;
  opacity: 1;
}
/* Mozilla Firefox 4 to 18 */
.VoiceField_input-placeholder_2k-1::-moz-placeholder {
  color: #cccccc !important;
  opacity: 1;
}
/* Mozilla Firefox 19+ */
.VoiceField_input-placeholder_2k-1:-ms-input-placeholder {
  color: #cccccc !important;
}
/* Internet Explorer 10-11 */
.VoiceField_voice-div_1lIE {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.VoiceField_voice-icon_3sQq {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  width: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: -6px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.VoiceField_voice-grow_fyqs {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.VoiceField_voice-value_3zJX {
  overflow: hidden;
  word-break: keep-all;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
  border: none;
  width: 100%;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  font-family: inherit;
}
.VoiceField_mustInput_31Ca {
  width: 100%;
  color: #FB2323;
  font-size: 15px;
}
.VoiceField_validate-msg-text_2e6y {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.VoiceField_validate-msg-textarea_2cUo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.VoiceField_voice-textarea-not-editing_337n {
  overflow: auto;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  line-height: 100%;
  min-height: 19px;
  padding-bottom: 2px;
  padding-top: 3px;
  margin-top: -3px;
  white-space: pre-wrap;
}
.VoiceField_textarea-container_2SsE {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.VoiceField_voice-textarea-not-editing-CT_1GS9 {
  overflow: auto;
  min-height: 19px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  white-space: pre-wrap;
  line-height: inherit;
  word-break: break-word;
}
.VoiceField_fold-textarea_2W6b {
  text-overflow: ellipsis;
  display: -webkit-box;
  /*重点，不能用block等其他*/
  -webkit-box-orient: vertical;
  /*重点*/
  word-break: break-all;
  overflow: hidden;
  padding: 0;
  line-height: normal;
}
.VoiceField_fold-textarea_2W6b .VoiceField_foldBtn_ELAX {
  margin-top: 2px;
}
.VoiceField_fold-div_HrH4 {
  overflow: hidden;
}
.VoiceField_voice-textarea-not-editing-color_bSIu {
  color: #cccccc;
}
.VoiceField_link-content_3mTK {
  text-decoration: underline;
  color: #0E5FD8;
}

/*!**************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/index.js??ruleSet[1].rules[2].use[1]!../../node_modules/postcss-loader/dist/cjs.js!./node_modules/less-loader/dist/cjs.js!./src/component/mobile/base/GeographicLocation/styles.less ***!
  \**************************************************************************************************************************************************************************************************************************/
.styles_geo-cell-title_3Qge {
  font-size: 16px;
  color: #212121;
  line-height: 1.5;
}
.styles_geo-cell-title_3Qge.styles_readOnly_eyXN {
  color: #999;
}
.styles_geo-content-label_2gdW {
  font-size: 16px;
  color: #999;
  line-height: 1.5;
  word-break: break-all;
  word-wrap: break-word;
}
.styles_geo-cell-more-icon_3x4v {
  margin-left: 4px;
  color: #999;
}
.styles_geo-field-container_2GMD {
  background: #fff;
}
.styles_geo-field-container_2GMD .styles_cell-container_1-Jf {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}
.styles_geo-field-container_2GMD .styles_cell-container_1-Jf .styles_title_pAM3 {
  font-size: 16px;
  color: #212121;
  line-height: 1.5;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-line-clamp: 2;
}
.styles_geo-field-container_2GMD .styles_cell-container_1-Jf .styles_title_pAM3.styles_readOnly_eyXN {
  color: #999;
}
.styles_geo-field-container_2GMD .styles_cell-container_1-Jf .styles_detail_1gMi {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.styles_geo-field-container_2GMD .styles_cell-container_1-Jf .styles_detail_1gMi .styles_content-label_2Oz0 {
  font-size: 16px;
  color: #999;
  line-height: 1.5;
  word-break: break-all;
  word-wrap: break-word;
  text-align: right;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.styles_geo-field-container_2GMD .styles_cell-container_1-Jf .styles_detail_1gMi .styles_location-icon_9bnv {
  margin-left: 4px;
  color: #999;
}
.styles_geo-field-container_2GMD .styles_cell-container-vertical_37RK {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  min-height: 48px;
  padding: 12px;
}
.styles_geo-field-container_2GMD .styles_cell-container-vertical_37RK .styles_title_pAM3 {
  font-size: 16px;
  color: #212121;
  line-height: 1.5;
  margin-bottom: 8px;
}
.styles_geo-field-container_2GMD .styles_cell-container-vertical_37RK .styles_title_pAM3.styles_readOnly_eyXN {
  color: #999;
}
.styles_geo-field-container_2GMD .styles_cell-container-vertical_37RK .styles_detail_1gMi {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.styles_geo-field-container_2GMD .styles_cell-container-vertical_37RK .styles_detail_1gMi .styles_content-label_2Oz0 {
  font-size: 16px;
  color: #999;
  line-height: 1.5;
  word-break: break-all;
  word-wrap: break-word;
  min-height: 1.5em;
  text-align: left;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.styles_geo-field-container_2GMD .styles_cell-container-vertical_37RK .styles_detail_1gMi .styles_location-icon_9bnv {
  margin-left: 4px;
  color: #999;
}

/*!********************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/index.js??ruleSet[1].rules[2].use[1]!../../node_modules/postcss-loader/dist/cjs.js!./node_modules/less-loader/dist/cjs.js!./src/component/mobile/base/Address.less ***!
  \********************************************************************************************************************************************************************************************************/
.Address_address_2Alv {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  overflow: hidden;
}
.Address_address_2Alv .Address_content_3wlG {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
  white-space: pre-wrap;
}
.Address_address_2Alv .Address_icon_3AlS {
  color: #cccccc;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 4px;
}

/*!*******************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/index.js??ruleSet[1].rules[2].use[1]!../../node_modules/postcss-loader/dist/cjs.js!./node_modules/less-loader/dist/cjs.js!./src/component/mobile/KDFlexPanel.less ***!
  \*******************************************************************************************************************************************************************************************************/
.KDFlexPanel_point-five-border_3a5q {
  position: relative;
}
.KDFlexPanel_point-five-border_3a5q:after {
  pointer-events: none;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
  border-width: 1px;
  border-style: solid;
  border-top-color: var(--borderTopColor);
  border-right-color: var(--borderRightColor);
  border-bottom-color: var(--borderBottomColor);
  border-left-color: var(--borderLeftColor);
}

/*!*****************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/index.js??ruleSet[1].rules[2].use[1]!../../node_modules/postcss-loader/dist/cjs.js!./node_modules/less-loader/dist/cjs.js!./src/component/mobile/KDToolBar.less ***!
  \*****************************************************************************************************************************************************************************************************/
.KDToolBar_placeholderComponent_17yy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  height: 48px;
  width: 100%;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
}

/*!*************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/index.js??ruleSet[1].rules[2].use[1]!../../node_modules/postcss-loader/dist/cjs.js!./node_modules/less-loader/dist/cjs.js!./src/component/mobile/base/MessageCarouselContainer.less ***!
  \*************************************************************************************************************************************************************************************************************************/
.MessageCarouselContainer_carouselDisplay_2UE0 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 300px;
}
.MessageCarouselContainer_carouselDisplay_2UE0 .MessageCarouselContainer_carouselPanel_3iNB {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.MessageCarouselContainer_carouselDisplay_2UE0 .MessageCarouselContainer_carouselPanel_3iNB .MessageCarouselContainer_listContainer_8Sax {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.MessageCarouselContainer_carouselDisplay_2UE0 .MessageCarouselContainer_indicationContainer_fp2G {
  width: 100%;
  height: 12px;
  position: absolute;
  bottom: 8px;
}
.MessageCarouselContainer_carouselDisplay_2UE0 .MessageCarouselContainer_indicationContainer_fp2G.MessageCarouselContainer_barType_SEbG {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.MessageCarouselContainer_carouselDisplay_2UE0 .MessageCarouselContainer_indicationContainer_fp2G .MessageCarouselContainer_dotsContainer_35SL {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.MessageCarouselContainer_carouselDisplay_2UE0 .MessageCarouselContainer_indicationContainer_fp2G .MessageCarouselContainer_dotsContainer_35SL .MessageCarouselContainer_dot_Dfu2 {
  width: 8px;
  height: 4px;
  border-radius: 2px;
  background: #d8d8d8;
  cursor: pointer;
  margin-left: 8px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.MessageCarouselContainer_carouselDisplay_2UE0 .MessageCarouselContainer_indicationContainer_fp2G .MessageCarouselContainer_dotsContainer_35SL .MessageCarouselContainer_dot_Dfu2:first-of-type {
  margin-left: 0;
}
.MessageCarouselContainer_carouselDisplay_2UE0 .MessageCarouselContainer_indicationContainer_fp2G .MessageCarouselContainer_dotsContainer_35SL .MessageCarouselContainer_dot_Dfu2.MessageCarouselContainer_active_2upu {
  background: #666666;
  border-radius: 3px;
}
.MessageCarouselContainer_carouselDisplay_2UE0 .MessageCarouselContainer_indicationContainer_fp2G .MessageCarouselContainer_indicationBar_383m {
  width: 56px;
  height: 4px;
  border-radius: 2px;
  background: #d8d8d8;
  position: relative;
}
.MessageCarouselContainer_carouselDisplay_2UE0 .MessageCarouselContainer_indicationContainer_fp2G .MessageCarouselContainer_indicationBar_383m .MessageCarouselContainer_scrollBar_3JF1 {
  position: absolute;
  width: 16px;
  height: 4px;
  border-radius: 2px;
  background: #666666;
}
.MessageCarouselContainer_absoluteContainer_2rOa {
  top: 0px;
  left: 0px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch !important;
  -webkit-align-items: stretch !important;
      -ms-flex-align: stretch !important;
          align-items: stretch !important;
  -webkit-box-pack: start !important;
  -webkit-justify-content: flex-start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
  overflow: hidden;
}
.MessageCarouselContainer_slideToBottom_Yl3J {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end !important;
  -webkit-justify-content: flex-end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}
.MessageCarouselContainer_slideToLeft_1Hme {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start !important;
  -webkit-justify-content: flex-start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
}
.MessageCarouselContainer_slideToLeft_1Hme .MessageCarouselContainer_carouselPanel_3iNB {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.MessageCarouselContainer_slideToRight_3q3C {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end !important;
  -webkit-justify-content: flex-end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}
.MessageCarouselContainer_slideToRight_3q3C .MessageCarouselContainer_carouselPanel_3iNB {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.MessageCarouselContainer_noData_28Bh {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.MessageCarouselContainer_scroll-bar_394b {
  width: 56px;
  height: 4px;
  background: rgba(0, 0, 0, 0.12);
  border-radius: 2px;
}
.MessageCarouselContainer_scroll-bar_394b .MessageCarouselContainer_scroll-dot_2h8k {
  width: 16px;
  height: 100%;
  background: #666666;
  border-radius: 2px;
}

/*!****************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/index.js??ruleSet[1].rules[2].use[1]!../../node_modules/postcss-loader/dist/cjs.js!./node_modules/less-loader/dist/cjs.js!./src/component/mobile/KDTabBar.less ***!
  \****************************************************************************************************************************************************************************************************/
.KDTabBar_root_4lUc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  min-height: 0px;
}
.KDTabBar_tabbar-form_1KmQ {
  position: relative;
}

