/*!***************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/index.js??ruleSet[1].rules[2].use[1]!../../node_modules/postcss-loader/dist/cjs.js!./node_modules/less-loader/dist/cjs.js!./src/page/AttachmentPreviewer.less ***!
  \***************************************************************************************************************************************************************************************************/
.AttachmentPreviewer_preview_NPlU {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99999;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.AttachmentPreviewer_preview_NPlU .AttachmentPreviewer_imgbox_1-1l {
  max-width: 100vw;
}
.AttachmentPreviewer_preview_NPlU .AttachmentPreviewer_gifbox_1w15 {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000;
}
.AttachmentPreviewer_preview_NPlU .AttachmentPreviewer_gifbox_1w15 .AttachmentPreviewer_gif_2NSA {
  max-width: 100vw;
}
.AttachmentPreviewer_preview_NPlU .AttachmentPreviewer_zipbox_3vCN {
  height: 100vh;
  width: 100vw;
  text-align: center;
  padding-top: 20%;
}
.AttachmentPreviewer_preview_NPlU .AttachmentPreviewer_audiobox_oU2N {
  width: 100vw;
  margin-top: 40%;
}
.AttachmentPreviewer_preview_NPlU .AttachmentPreviewer_videobox_1g5_ {
  width: 100vw;
}
.AttachmentPreviewer_preview_NPlU iframe {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  border: none;
}
.AttachmentPreviewer_preview_NPlU .AttachmentPreviewer_loading_2T6y {
  margin: 100px auto;
}
.AttachmentPreviewer_preview_NPlU .AttachmentPreviewer_errmsg_3S36 {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.AttachmentPreviewer_preview_NPlU .AttachmentPreviewer_loadinggif_Sc4z {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.AttachmentPreviewer_kkFileToolbar_3MKO {
  top: 37px;
}

