/*!*******************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/index.js??ruleSet[1].rules[2].use[1]!../../node_modules/postcss-loader/dist/cjs.js!./node_modules/less-loader/dist/cjs.js!./src/component/mobile/base/TopNav.less ***!
  \*******************************************************************************************************************************************************************************************************/
.TopNav_TopNavWrap_13UI {
  width: 100%;
  height: 55px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f2f6fa;
  z-index: 1052;
  padding: 0 10px 10px 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 19px;
  color: #333;
}
.TopNav_TopNavWrap_13UI .TopNav_leftIcon_2ydB {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.TopNav_TopNavWrap_13UI .TopNav_leftIcon_2ydB .TopNav_common-icon_1yMT {
  cursor: pointer;
  font-size: 27px;
}
.TopNav_TopNavWrap_13UI .TopNav_leftIcon_2ydB .TopNav_common-icon_1yMT.TopNav_blurIcon_VUhy {
  color: #eee;
}
.TopNav_TopNavWrap_13UI .TopNav_leftIcon_2ydB .TopNav_common-icon_1yMT.TopNav_back-icon_1BHt {
  margin-right: 15px;
  font-size: 30px;
}
.TopNav_TopNavWrap_13UI .TopNav_title_R6O_ {
  position: absolute;
  width: 80%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 10px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
}

