._2BLtY5yIn48xH6nwpxn1hn {
  display: flex;
  flex-direction: column;
  height: 100%;
}
._2BLtY5yIn48xH6nwpxn1hn ._1Paam7ZjF0xjQ7QJPtks8L {
  display: flex;
  justify-content: flex-end;
  line-height: 24px;
  border: 1px solid #d9d9d9;
  border-bottom: none;
  padding-right: 12px;
}
._2BLtY5yIn48xH6nwpxn1hn ._1Paam7ZjF0xjQ7QJPtks8L span {
  color: var(--theme-color);
  cursor: pointer;
}
._2BLtY5yIn48xH6nwpxn1hn ._1yZLNM9rBsDwCvBVl0a7pS:hover {
  background: var(--hover-color) !important;
}
._1dW9XKh6vrAb3UW2TmUnKx {
  overflow: auto;
  max-height: 346px;
  padding: 12px;
  min-width: 230px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  z-index: 99999!important;
  background: #fff;
  -webkit-animation: fcPt66njLX1kNl_Z5qDFG 1s steps(1) 0s 1 normal none;
  animation: _1Cfwt9FW9zIOQPEXTo8rWe 1s steps(1) 0s 1 normal none;
  transform-origin: 50% 0;
}
._1dW9XKh6vrAb3UW2TmUnKx ._1Ju52q_YrvXNpiQCjYzNkO {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 8px;
}
._1dW9XKh6vrAb3UW2TmUnKx ._1Ju52q_YrvXNpiQCjYzNkO:first-child {
  margin-top: 0;
}
._1dW9XKh6vrAb3UW2TmUnKx ._1Ju52q_YrvXNpiQCjYzNkO .pEFbG41Y_Gikgb8Y_Qjdg {
  flex-shrink: 0;
  margin-right: 12px;
  color: #666;
  line-height: 1.5;
  font-size: var(--kd-cq-dropdown-select-font-size, var(--kd-cq-font-size, 12px));
}
._1dW9XKh6vrAb3UW2TmUnKx ._1Ju52q_YrvXNpiQCjYzNkO ._30BmYXZ6reqEhafUiICLoc {
  width: 230px;
  min-width: 230px;
  color: #212121;
  line-height: 1.5;
  padding: 1px 8px;
  background: #fff;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  height: 25px;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}
@keyframes _1Cfwt9FW9zIOQPEXTo8rWe {
  0.00% {
    transform: translate3D(0px, 0px, 0px) rotate(0deg) scale(0.98, 0.98);
    opacity: 0;
  }
  3.33% {
    transform: translate3D(0px, 0px, 0px) rotate(0deg) scale(0.98101852, 0.98101852);
    opacity: 0.17;
  }
  6.67% {
    transform: translate3D(0px, 0px, 0px) rotate(0deg) scale(0.9837037, 0.9837037);
    opacity: 0.33;
  }
  10.00% {
    transform: translate3D(0px, 0px, 0px) rotate(0deg) scale(0.9875, 0.9875);
    opacity: 0.5;
  }
  13.33% {
    transform: translate3D(0px, 0px, 0px) rotate(0deg) scale(0.99185185, 0.99185185);
    opacity: 0.67;
  }
  16.67% {
    transform: translate3D(0px, 0px, 0px) rotate(0deg) scale(0.9962037, 0.9962037);
    opacity: 0.83;
  }
  20.00% {
    transform: translate3D(0px, 0px, 0px) rotate(0deg) scale(1, 1);
    opacity: 1;
  }
  100.00% {
    transform: translate3D(0px, 0px, 0px) rotate(0deg) scale(1, 1);
    opacity: 1;
  }
}
._35NUdMmNniORGudT-h--oy {
  display: flex;
  flex-direction: column;
  height: 28px;
  padding: 0 12px;
  width: 100%;
}
._35NUdMmNniORGudT-h--oy .ENA_xQkVyXAT57x79SH3S {
  display: flex;
  cursor: text;
  color: #666;
  font-size: 12px;
  align-items: center;
  margin-bottom: 2px;
}
._35NUdMmNniORGudT-h--oy .ENA_xQkVyXAT57x79SH3S ._2ThyTpTK_09P2Lp2CTvn0_ {
  color: red;
}
._35NUdMmNniORGudT-h--oy ._3S1AqO3TTW9NylCAvueq07 {
  position: relative;
  height: 28px;
  line-height: 28px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}
._35NUdMmNniORGudT-h--oy ._3S1AqO3TTW9NylCAvueq07:hover {
  border: 1px solid var(--theme-color) !important;
}
._35NUdMmNniORGudT-h--oy ._3S1AqO3TTW9NylCAvueq07 input {
  border: none;
  height: 21px;
  line-height: 21px;
  padding: 0 8px;
  width: 100%;
  background: none;
}
._35NUdMmNniORGudT-h--oy ._3S1AqO3TTW9NylCAvueq07 ._23DJ1PFUD-Ze5Rbf8xcvbR {
  cursor: pointer;
  right: 8px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  width: 16px;
  height: 16px;
  position: absolute;
  font-size: 16px;
}
._35NUdMmNniORGudT-h--oy:hover ._23DJ1PFUD-Ze5Rbf8xcvbR {
  color: var(--theme-color);
}
._1mvtViFxkNW2IfFa2YSnns {
  line-height: 18px;
  min-width: 88px;
  max-width: 360px;
  padding: 3px 8px;
  background: #ffdbe0;
  -webkit-box-shadow: 0 2px 8px 0 rgb(0 0 0%);
  box-shadow: 0 2px 8px 0 rgb(0 0 0%);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}
