body {
  background-color: #e0dbdb;
}
button {
  cursor: pointer;
}
.cangqiongBox--3Vnrz {
  width: 100%;
  height: 100%;
  min-height: 652px;
  background-color: #e2e7ef;
}
.subject--G-VqF {
  height: 100%;
  width: 100%;
  min-height: 652px;
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* justify-content: flex-start; */
  /* align-content: flex-start; */
  justify-content: space-between;
}
.messageBox--2fpTe {
  width: 100%;
  height: 9%;
  background: #ffffff;
  min-height: 67px;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
}
.messageBox--2fpTe .messageNameAndNumber--29-u7 {
  width: auto;
  height: 42px;
  background: rgba(248, 248, 248, 0.1);
}
.messageBox--2fpTe .messageNameAndNumber--29-u7 > span {
  display: inline-block;
  margin-top: 12px;
  margin-left: 50px;
  font-size: 18px;
  color: #333333;
  line-height: 26px;
}
.messageBox--2fpTe .span1--22OXt {
  font-size: 12px;
  color: #999999;
  line-height: 20px;
  margin-left: 50px;
}
.messageBox--2fpTe > span {
  font-size: 12px;
  color: #999999;
  line-height: 20px;
  margin-left: 40px;
}
.distinguishCanvasBox----RPq {
  width: 1296px;
  height: 430px;
  position: absolute;
  background-color: #f3f3f3;
  /*display: none;*/
}
.CanvasBox--2TARs {
  width: 100%;
  height: 86%;
  background: #ffffff;
  min-height: 522px;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.CanvasBox--2TARs .trueBox--1boly {
  width: 898px;
  height: 520px;
  margin-left: 420px;
}
.canvasContainer--2xMbf {
  position: absolute;
  border: 1px solid #6890F4;
}
.canvasNav--1D6gD {
  width: 100%;
  height: 5%;
  min-height: 45px;
  background: #ffffff;
  box-shadow: 0px -1px 0px 0px #eef1f3;
}
.canvasNav--1D6gD .referenceColor--a6NZU {
  width: 60px;
  height: 20px;
  display: inline-block;
  margin-top: 11px;
  margin-left: 50px;
  background: rgba(39, 111, 245, 0.2);
  border: 1px solid #276FF5;
}
.canvasNav--1D6gD .distinguishColor--3VUWX {
  width: 60px;
  height: 20px;
  display: inline-block;
  margin-top: 11px;
  margin-left: 50px;
  background: rgba(253, 194, 0, 0.1);
  border: 1px solid #FF991C;
}
.canvasNav--1D6gD .showTag--13fJh {
  display: inline-block;
  margin-left: 50px;
}
.canvasNav--1D6gD .showTagButton--1FTcV {
  display: inline-block;
  position: relative;
  bottom: 8px;
  left: 20px;
  outline: none;
  width: 28px;
  height: 14px;
  background: #e2e7ef;
  border-radius: 7px;
}
.canvasNav--1D6gD > section {
  width: 28px;
  height: 14px;
  display: inline-block;
  margin-left: 30px;
}
.canvasNav--1D6gD .checkbox--cqUvk {
  position: relative;
  display: inline-block;
  bottom: 4px;
}
.canvasNav--1D6gD .checkbox--cqUvk:after,
.canvasNav--1D6gD .checkbox--cqUvk:before {
  -webkit-font-feature-settings: normal;
  -moz-font-feature-settings: normal;
  font-feature-settings: normal;
  -webkit-font-kerning: auto;
  -moz-font-kerning: auto;
  font-kerning: auto;
  -webkit-font-language-override: normal;
  -moz-font-language-override: normal;
  font-language-override: normal;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: normal;
  text-rendering: auto;
}
.canvasNav--1D6gD .checkbox--cqUvk label {
  width: 28px;
  height: 14px;
  background: #ccc;
  position: relative;
  display: inline-block;
  border-radius: 46px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.canvasNav--1D6gD .checkbox--cqUvk label:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  left: 0;
  top: 1px;
  z-index: 2;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.canvasNav--1D6gD .checkbox--cqUvk input {
  position: absolute;
  left: 0;
  top: 0;
  width: 28px;
  height: 14px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}
.canvasNav--1D6gD .checkbox--cqUvk input:checked + label {
  background-color: #5582F3;
}
.canvasNav--1D6gD .checkbox--cqUvk input:hover + label:after {
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}
.canvasNav--1D6gD .checkbox--cqUvk input:checked + label:after {
  left: 15px;
}
.canvasNav--1D6gD .model-13--3qwXc .checkbox--cqUvk:after {
  content: "OFF";
  position: absolute;
  color: #666;
  top: 12px;
  right: 15px;
}
.canvasNav--1D6gD .model-13--3qwXc .checkbox--cqUvk label {
  background: none;
  border: 3px solid #777;
  height: 40px;
  border-radius: 20px;
}
.canvasNav--1D6gD .model-13--3qwXc .checkbox--cqUvk label:after {
  content: "ON";
  color: #fff;
  line-height: 28px;
  text-indent: 100px;
  background: #777;
  overflow: hidden;
  box-shadow: none;
  border-radius: 14px;
  -ms-transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px);
  -moz-transition: all 0.4s 0.2s, width 0.2s linear, text-indent 0.4s linear;
  -o-transition: all 0.4s 0.2s, width 0.2s linear, text-indent 0.4s linear;
  -webkit-transition: all 0.4s, width 0.2s linear, text-indent 0.4s linear;
  -webkit-transition-delay: 0.2s, 0s, 0s;
  -webkit-transition: all 0.4s 0.2s, width 0.2s linear, text-indent 0.4s linear;
  transition: all 0.4s 0.2s, width 0.2s linear, text-indent 0.4s linear;
  top: 3px;
  left: auto;
  right: 2px;
  width: 28px;
  height: 28px;
}
.canvasNav--1D6gD .model-13--3qwXc .checkbox--cqUvk input:checked + label {
  border-color: #329043;
}
.canvasNav--1D6gD .model-13--3qwXc .checkbox--cqUvk input:checked + label:after {
  background: #3eb454;
  left: auto;
  -ms-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  -moz-transition: all 0.4s, width 0.2s linear 0.4s, text-indent 0.3s linear 0.4s;
  -o-transition: all 0.4s, width 0.2s linear 0.4s, text-indent 0.3s linear 0.4s;
  -webkit-transition: all 0.4s, width 0.2s linear, text-indent 0.3s linear;
  -webkit-transition-delay: 0s, 0.4s, 0.4s;
  -webkit-transition: all 0.4s, width 0.2s linear 0.4s, text-indent 0.3s linear 0.4s;
  transition: all 0.4s, width 0.2s linear 0.4s, text-indent 0.3s linear 0.4s;
  width: 80px;
  text-indent: 0;
}
.canvasNav--1D6gD > span {
  width: 48px;
  height: 20px;
  font-size: 12px;
  position: relative;
  left: 8px;
  bottom: 8px;
  color: #333333;
  line-height: 20px;
}

