.carderror-errorprompt
{
	position: absolute;
	right: 0px;
	left: 0px;
	top: 0px;
	bottom: 0px;
}

.carderror-errorprompt-size-listener
{
	opacity: 0;
	z-index: -1111;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 50%;
	width: 50%;
}

.carderror-errorprompt-img
{
	position: relative;
	height: 60%;
	width: 100%;
	max-height: 200px;
	background-size: contain;
	background-position: center center !important;
}

.carderror-errorprompt-errorinfo
{
    position: relative;
	width: 100%;
	min-height: 36px;
	max-height: 150px;
    text-align: center;
}

.carderror-errorprompt-text
{
	color: #666;
	display: block;
	padding-bottom: 10px;
	word-break: break-all;
}


.carderror-errorprompt-support-qing
{
	position: relative;
    overflow: auto;
    height: 95%;
    top: 22px;
}
.carderror-errorprompt-support-qing-text
{
	margin-top: 4px;
	margin-bottom: 2px;
}

.carderror-errorprompt-error-btn
{
	border: 1px solid #BBBBBB;
	border-radius: 2px;
	cursor: pointer;
	padding: 4px 23px;
	margin-top: 10px;
	color: #ccc;
	font-size: 12px;
	width: 72px;
	margin: auto;
}

.carderror-errorprompt-logdetail-container
{
	position: fixed;
	width: 800px;
	height: 550px;
	z-index: 999999;
	background: #fff;
	border-radius: 6px;
	box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15);
	background-color: #fff;
	margin:0 auto;
	left:50%;
	top:50%;
	margin-left:-400px;
	margin-top:-275px
}

.carderror-errorprompt-logdetail-container-title
{
	position: absolute;
	padding-top: 17px;
	padding-left: 26px;
	height: 36px;
	width: 774px;
}

.carderror-errorprompt-logdetail-titiletag
{
	background-color: #fdbf2c;
	border-radius: 50% 50%;
	margin-top: 6px;
	width: 6px;
	height: 6px;
	float: left;
}

.carderror-errorprompt-logdetail-title-lable
{
	position: absolute;
	padding-left: 14px;
	font-size: 18px;
	color: #333;
}

.carderror-errorprompt-logdetail-close
{
	float: right;
	width: 18px;
	height: 18px;
	margin-right: 24px;
	cursor: pointer;
}

.carderror-errorprompt-logdetail-content-copybutton
{
    position: absolute;
    right: 0px;
    top: 0px;
    visibility: hidden;
    cursor:pointer;
    color: #fff;
    padding: 2px 4px;
    border-radius: 2px;
    font-size: 14px;
    background-color: #9bc0e3;
}

.carderror-errorprompt-logdetail-content-copybutton-end
{
    position: absolute;
    right: 0px;
    top: 0px;
    visibility: visible;
    color: #fff;
    padding: 2px 4px;
    border-radius: 2px;
    font-size: 14px;
    background-color: #94d1e6;
}

.carderror-errorprompt-logdetail-content-container-text
{
    padding-left: 10px;
    overflow: auto;
    height: 442px;
    margin-bottom: 0px;
}

.carderror-errorprompt-logdetail-content-container
{
	position: absolute;
	overflow: auto;
	top: 36px;
	width: 784px;
	font-size: 12px;
	color: #363636;
	height: 490px;
	margin: 12px 8px;
	background-color: #f1f1f1;
	text-align: left;
}


.nopermission-carderror-errorprompt
{
	overflow: auto;
	margin-top: 21px;
	height: 92%;
	position: relative
}

.dsb-nopermission-carderror-errorprompt
{
	overflow: auto;
	height: 100%;
	position: relative
}

.dsb-qing-welcome-viewdetail-contenxt-texttitle
{
	color: #666;
	display: block;
	margin-bottom: 4%;
}
.dsb-carderror-errorprompt-error-btn
{
	display: inline-block;
	margin-top: 10px;
	margin-left:5px;
	margin-right:5px;
	height: 32px;
	width: 150px;
	border: 1px solid #BBBBBB;
	border-radius: 2px;
	cursor: pointer;
	line-height: 32px;
}

.nopermission-carderror-errorprompt-img
{
	width: 90%;
	height: 60%;
	min-height: 104px;
	background-size: contain;
	background-position: center center !important;
	margin: 0 auto;
	max-width: 200px;
	max-height: 200px
}

.dsb-nopermission-carderror-errorprompt-img
{
    width: 100%;
    height: 70%;
    min-height: 104px;
    max-width: 200px;
    max-height: 200px;
    background-size: contain;
    background-position: center center !important;
    margin: 0 auto;
}

.nopermission-carderror-errorprompt-errorinfo
{
	height: 113px;
	min-height: 36px;
	max-height: 50px;
	text-align: center;
}

.nopermission-carderror-errorprompt-errorinfo-title
{
	font-size: 15px;
	color: #888888;
	margin-top: 2px;
	margin-left: 40px;
	margin-bottom: 10px;
}

.cardwidget-filtermanager-textbutton
{
	position: absolute;
	height: auto;
	width: auto;
	white-space: nowrap;
	cursor: pointer;
	color: #eee;
}

.cardwidget-filtermanager-textbutton:hover
{
	color: #87ceeb;
}

.cardwidget-filter-mainpanel
{
	z-index: 65535;
	position: absolute;
	width: auto;
	min-width: 100px;
	height: auto;
	min-height: 40px;
	background-color: rgba(64,64,64,0.8);
	border-radius: 4px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.cardwidget-filter-filtertext
{
	position: absolute;
	height: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.cardwidget-filter-filtertext-caption
{
	color: #eee;
}

.cardwidget-filter-filtertext-value
{
	color: #fff;
	font-weight: bold;
	right: 0;
}

.cardwidget-filter-filtertext-underline
{
	text-decoration:underline;
	color: #87ceeb;
}

.carderror-errorprompt-logdetail-title-container
{
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 17px;
	height: 24px;
	border-bottom: solid #d7e2e2 1.5px;
}

.carderror-errorprompt-logdetail-title-lable
{
	display: inline;
	padding-left: 14px;
	font-size: 16px;
	color: black;
}

.carderror-errorprompt-logdetail-close
{
	display: inline;
	float: right;
	width: 18px;
	height: 18px;
	margin-right: 24px;
	cursor: pointer;
}

.carderror-errorprompt-logdetail-content
{
	font-size: 12px;
	color: #888888;
	overflow-y: auto;
}

.carderror-errorprompt-logdetail-contenxt-texttitle
{
	color: #666;
	margin-top: 0px;
	margin-bottom: 7px;
}

.carderror-errorprompt-logdetail-contenxt-text
{
	padding-left: 24px;
	line-height: 18px;
	margin-top: 0px;
	color: #666;
}

.carderror-errorprompt-logdetail-iknow-btn
{
	display: inline-block;
	margin-top: 16px;
	height: 33px;
	font-size: 16px;
	width: 135px;
	border: 1px solid #BBBBBB;
	border-radius: 2px;
	cursor: pointer;
	line-height: 32px;
}

.carderror-errorprompt-logdetail-title-lable
{
	display: inline;
	padding-left: 14px;
	font-size: 16px;
	color: black;
}

/*****↓↓↓以下为无代码平台统计卡片的CSS，只在苍穹平台有用，无需迁至其他平台↓↓↓*****/
.qing-noceode-card-main
{
	position: absolute;
	top: 12px;
	left: 16px;
	right: 16px;
	bottom: 12px;
	background: #fff;
}

.qing-noceode-card-head
{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 30px;
}

.qing-noceode-card-content
{
	position: absolute;
	top: 44px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.qing-noceode-card-title
{
	position: relative;
	font-family: PingFangSC-Medium;
	font-size: 14px;
	color: #212121;
	letter-spacing: 0;
	width: 100%;
	height: 20px;
	line-height: 20px;
	font-weight: bold;
	display: inline-block;
	cursor: default;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.qing-nocode-card-icon-container
{
	float: right;
	position: absolute;
	right: 0px;
	top: 3px;
}

.qing-noceode-card-icon
{
	float: right;
	width: 16px;
	height: 16px;
	background-size: contain
}

.qing-noceode-card-more-action
{
	position: absolute;
	width: 50px;
	height: 30px;
	right: 18px;
	top: 32px;
	z-index: 999;
	box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%);
	border-radius: 2px;
	background-color: #FFFFFF;
}

.qing-noceode-card-more-action-item
{
	position: relative;
	width: 50px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	text-align: center;
}

.qing-noceode-card-more-action-item:hover
{
	background-color: #f5f5f5;
}

.qing-nocode-card-icon-normal
{
	color: #666666;
	margin-left: 12px;
}

.qing-nocode-card-icon-normal:hover
{
	color: var(--kd-nc-primary-6, #276FF5);/*--kd-nc-primary-6是无代码平台注入到统计卡片html的主题颜色变量*/
	cursor: pointer;
}

.qing-noceode-error-detail-container
{
	position: absolute;
	width: 100%;
	top: -15px;
	bottom: 0px;
	background-color: white;
}

.qing-noceode-error-detail-content
{
	position: absolute;
	width: 100%;
	top: 15px;
	bottom: 0px;
	overflow: auto;
}
/*****↑↑↑以上为无代码平台统计卡片的CSS，只在苍穹平台有用，无需迁至其他平台↑↑↑*****/