._2K9VkDHr0DpslonGvHDVJq {
  display: flex;
  flex-direction: column;
  font-family: MicrosoftYaHei;
  overflow-y: hidden;
}
._2K9VkDHr0DpslonGvHDVJq .EYkGUIvAnU0WbtlYRN7Ry {
  display: flex;
  justify-content: space-between;
}
._2K9VkDHr0DpslonGvHDVJq .EYkGUIvAnU0WbtlYRN7Ry .laz_WJElwxfVuQ10s_tlT {
  margin-right: 20px;
}
._2K9VkDHr0DpslonGvHDVJq .EYkGUIvAnU0WbtlYRN7Ry ._21pfE_1At5SN1D8Dbo1UuX {
  color: #666666;
}
._2K9VkDHr0DpslonGvHDVJq .EYkGUIvAnU0WbtlYRN7Ry div {
  color: var(--link-color);
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 18px;
  font-weight: 400;
}
._2K9VkDHr0DpslonGvHDVJq ._2Kmzdz97JQDNrZ4uDm2rt0 {
  display: flex;
  font-size: 12px;
  border-top: 1px solid #D9D9D9;
  border-left: 1px solid #D9D9D9;
}
._2K9VkDHr0DpslonGvHDVJq ._2Kmzdz97JQDNrZ4uDm2rt0 ._3_5o3bsXpE1ZMa-xVfAVjk {
  display: flex;
  flex-direction: column;
  width: 124px;
  flex-shrink: 0;
}
._2K9VkDHr0DpslonGvHDVJq ._2Kmzdz97JQDNrZ4uDm2rt0 ._3_5o3bsXpE1ZMa-xVfAVjk ._1zhaejITK85g4zmI3cxpAS {
  font-family: ArialMT;
  height: 60px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  line-height: 18px;
  background: #F2F2F2;
  padding-bottom: 10px;
  padding-right: 15px;
  color: #212121;
  border-bottom: 1px solid #D9D9D9;
  border-right: 1px solid #D9D9D9;
}
._2K9VkDHr0DpslonGvHDVJq ._2Kmzdz97JQDNrZ4uDm2rt0 ._3_5o3bsXpE1ZMa-xVfAVjk .dnMY6fpcGGC7FlO883q48,
._2K9VkDHr0DpslonGvHDVJq ._2Kmzdz97JQDNrZ4uDm2rt0 ._3_5o3bsXpE1ZMa-xVfAVjk ._33YVDlpqOuV_9iiU7Hbuau {
  height: 40px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid #D9D9D9;
  border-right: 1px solid #D9D9D9;
}
._2K9VkDHr0DpslonGvHDVJq ._2Kmzdz97JQDNrZ4uDm2rt0 ._2GvjKVF9LOX6rcD3_cp6Ci {
  display: flex;
  flex-shrink: 1;
  overflow: hidden;
  flex-grow: 1;
}
._2K9VkDHr0DpslonGvHDVJq ._2Kmzdz97JQDNrZ4uDm2rt0 ._2GvjKVF9LOX6rcD3_cp6Ci .wD7jg1a29TRFTyyAqNFUr {
  display: flex;
  flex-direction: column;
  width: 180px;
  flex-shrink: 0;
}
._2K9VkDHr0DpslonGvHDVJq ._2Kmzdz97JQDNrZ4uDm2rt0 ._2GvjKVF9LOX6rcD3_cp6Ci .wD7jg1a29TRFTyyAqNFUr .k5Mg7ptYDRZ6Fbza8Ql7M {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F2F2F2;
  height: 60px;
  border-bottom: 1px solid #D9D9D9;
  border-right: 1px solid #D9D9D9;
}
._2K9VkDHr0DpslonGvHDVJq ._2Kmzdz97JQDNrZ4uDm2rt0 ._2GvjKVF9LOX6rcD3_cp6Ci .wD7jg1a29TRFTyyAqNFUr .k5Mg7ptYDRZ6Fbza8Ql7M .J0sBxXWopFXzzlROIJDT6 {
  height: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #F2F2F2;
}
._2K9VkDHr0DpslonGvHDVJq ._2Kmzdz97JQDNrZ4uDm2rt0 ._2GvjKVF9LOX6rcD3_cp6Ci .wD7jg1a29TRFTyyAqNFUr .k5Mg7ptYDRZ6Fbza8Ql7M ._2QxFLyzSR-7JMa3zqvII0j {
  padding: 2px;
  flex-grow: 1;
}
._2K9VkDHr0DpslonGvHDVJq ._2Kmzdz97JQDNrZ4uDm2rt0 ._2GvjKVF9LOX6rcD3_cp6Ci .wD7jg1a29TRFTyyAqNFUr ._11bjlcEC3bR2uDyj3H3wxk {
  height: 40px;
  border-bottom: 1px solid #D9D9D9;
  border-right: 1px solid #D9D9D9;
  display: flex;
  align-items: center;
  padding: 2px;
  font-family: MicrosoftYaHei;
  font-size: 12px;
  color: #212121;
  letter-spacing: 0;
  line-height: 18px;
}
._2K9VkDHr0DpslonGvHDVJq ._2Kmzdz97JQDNrZ4uDm2rt0 ._2GvjKVF9LOX6rcD3_cp6Ci .wD7jg1a29TRFTyyAqNFUr:hover .k5Mg7ptYDRZ6Fbza8Ql7M .J0sBxXWopFXzzlROIJDT6 {
  background: #F2F9FF;
  color: #5582F3;
  cursor: move;
}
._2K9VkDHr0DpslonGvHDVJq ._2Kmzdz97JQDNrZ4uDm2rt0 ._2GvjKVF9LOX6rcD3_cp6Ci .wD7jg1a29TRFTyyAqNFUr ._36N9BrITQnpun5SOHEOAkR {
  padding: 2px;
  height: 40px;
  border-bottom: 1px solid #D9D9D9;
  border-right: 1px solid #D9D9D9;
}
._2K9VkDHr0DpslonGvHDVJq ._2Kmzdz97JQDNrZ4uDm2rt0 ._2GvjKVF9LOX6rcD3_cp6Ci ._1EeDefBXrRjr60qaEMwlOb {
  display: flex;
  flex-direction: column;
  width: 124px;
  flex-grow: 0;
  flex-shrink: 0;
  cursor: pointer;
}
._2K9VkDHr0DpslonGvHDVJq ._2Kmzdz97JQDNrZ4uDm2rt0 ._2GvjKVF9LOX6rcD3_cp6Ci ._1EeDefBXrRjr60qaEMwlOb .Y0eVtwAFWBZX4WloA6rBx {
  height: 60px;
  display: flex;
  align-items: center;
  background: #F2F2F2;
  color: #B2B2B2;
  text-align: center;
  border-bottom: 1px solid #D9D9D9;
  border-right: 1px solid #D9D9D9;
}
._2K9VkDHr0DpslonGvHDVJq ._2Kmzdz97JQDNrZ4uDm2rt0 ._2GvjKVF9LOX6rcD3_cp6Ci ._1EeDefBXrRjr60qaEMwlOb .oMnGOmgzpN7jIkFKGm2xA {
  height: 40px;
  border-right: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
._2K9VkDHr0DpslonGvHDVJq ._2Kmzdz97JQDNrZ4uDm2rt0 ._2GvjKVF9LOX6rcD3_cp6Ci .ZiZ44BjiSYYQKNXJlPE89 {
  flex-shrink: 1;
  flex-grow: 1;
}
._2K9VkDHr0DpslonGvHDVJq ._2Kmzdz97JQDNrZ4uDm2rt0 ._2GvjKVF9LOX6rcD3_cp6Ci .ZiZ44BjiSYYQKNXJlPE89 ._1zhaejITK85g4zmI3cxpAS {
  height: 60px;
  line-height: 60px;
  background: #F2F2F2;
  border-right: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
._2K9VkDHr0DpslonGvHDVJq ._2Kmzdz97JQDNrZ4uDm2rt0 ._2GvjKVF9LOX6rcD3_cp6Ci .ZiZ44BjiSYYQKNXJlPE89 .oMnGOmgzpN7jIkFKGm2xA {
  height: 40px;
  border-right: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
