.contentList{
    width: 700px;
    height: 800px;
    overflow-y: scroll;
}
.hr-achor{
    font-size: 12px;
    position: fixed;
    z-index:101;
    right: -10000px;
    top: -10000px;
    width: 160px;
    max-height: 420px;
    overflow: hidden;
    background-color: #ffffff;
    opacity: 0.9;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}
.hideScrollbar_wrap{
    width: 180px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.hr-achor-icon{
    width: 20px;
    height: 20px;
}
.hr-achor-lock{
    position: absolute;
    right: 11px;
    top: 8px;
    cursor: pointer;
}
.achor-side-bar{
    position: absolute;
    top: 16px;
    width: 0;
    height: 100%;
    background-color: #eaeaea;
    border: 1px solid #eaeaea;
    border-top: 0;
    border-bottom: 0;
    left: 15px;
}
.circle-start{
    position: absolute;
    top: 0;
    left: -5px;
    width: 10px;
    height: 10px;
    background: transparent url(../img/point.png) 0 -199px no-repeat;
    zoom: 1;
    overflow: hidden;
}
.circle-end{
    position: absolute;
    bottom: 0px;
    left: -5px;
    width: 10px;
    height: 10px;
    background: transparent url(../img/point.png) 0 -199px no-repeat;
    zoom: 1;
    overflow: hidden;
}
.hr-achor-ul{
    position: relative;
    top: 16px;
    margin-top: 12px;
    margin-left: 10px;
    margin-bottom: 12px;
    padding: 0;
    list-style-type: none;
}
.hr-achor-li{
    width: 145px;
    height: 33px;
    font-size: 14px;
    position: relative;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    color: #655a5a;
    overflow: hidden;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    white-space: nowrap;
}
.hr-achor-li:hover{
    color: #e68508;
    cursor: pointer;
}
.pointer{
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    cursor: pointer;
    margin-top: 7px;
    left: 0;
    top: 4px;
    background: transparent url(../img/point.png) 3px -222px no-repeat;
}
.arrow{
    left: -3px;
    z-index: 2;
    top: 7px;
    position: absolute;
    height: 18px;
    width: 18px;
    cursor: pointer;
    background: #FFFFFF url(../img/anchor_point.png) no-repeat;
    background-size: cover;
}
.text{
    padding-left: 10px;
}
.content{
    width: 400px;
    height: 300px;
    border: 1px solid #CCCCCC;
    margin-top: 5px;
}