._38M7VfS64E0UJxMLetviAd ._14oUIxjf5nkhXX7Vu5_Zns {
  padding: 20px 10%;
}
._38M7VfS64E0UJxMLetviAd ._14oUIxjf5nkhXX7Vu5_Zns ._2lPHC7fY87b5JyPAzCnkKx {
  margin-bottom: 20px;
}
._38M7VfS64E0UJxMLetviAd ._14oUIxjf5nkhXX7Vu5_Zns ._2lPHC7fY87b5JyPAzCnkKx .k2bULD-RsSM7e0fx4L-8H {
  margin-top: 10px;
}
._38M7VfS64E0UJxMLetviAd ._14oUIxjf5nkhXX7Vu5_Zns ._2lPHC7fY87b5JyPAzCnkKx .k2bULD-RsSM7e0fx4L-8H ._191e54QhJe40IMazfI21fN {
  margin-right: 20px;
  margin-bottom: 10px;
  border: 1px solid var(--kd-c-radio-color-border, var(--kd-g-color-border-strong, var(--strong-border-color)));
}
