@CHARSET "UTF-8";

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #E2E7EF;
}

.model-set-main-page {
    position: absolute;
    width: 100%;
    height: 100%;
}

.model-type-card-container {
    height: 200px;
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    background-color: white;
    overflow: hidden;
}

.model-type-card-item {
    height: 170px;
    width: 340px;
    background: #F8F8F8;
    display: inline-block;
    margin: 15px 0px 15px 15px;
    position: relative;
}

.model-type-card-title {
    position: absolute;
    top: 25px;
    left: 20px;
    height: 25px;
    line-height: 25px;
    font-size: 18px;
    font-weight: bold;
    color: #212121;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.model-type-card-desc {
    position: absolute;
    left: 20px;
    top: 65px;
    font-size: 12px;
    color: #666666;
    display: inline-block;
    width: 230px;
    line-height: 20px;
}

.model-type-card-create-btn {
    position: absolute;
    width: 60px;
    height: 28px;
    left: 20px;
    top: 130px;
}

.model-type-card-create-text {
    position: absolute;
    font-size: 14px;
    color: #2B87F3;
    line-height: 28px;
    width: fit-content;
    height: 28px;
    cursor: pointer;
}

.model-type-card-create-icon {
    position: relative;
    width: 16px;
    height: 16px;
    top: 7px;
    float: right;
    cursor: pointer;
    left: 4px;
    transform: scaleY(0.9);
}

.model-type-card-icon {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 260px;
    top: 30px;
}

.model-set-main-page-work-area {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 220px;
    bottom: 30px;
}

.model-group-container {
    background: #FFFFFF;
    width: 100%;
    position: absolute;
    height: 100%;
}

.model-group-search-box{
    position: absolute;
    top: 40px;
    width: 100%;
    height: 25px;
}

.model-group-hierarchy-tree {
    position: absolute;
    width: 100%;
    height: auto;
    inset: 41px 0px 40px;
    z-index: 0;
    overflow: hidden auto;
}

.model-group-no-data {
    left: 50%;
    position: absolute;
    width: 110px;
    height: 20px;
    cursor: pointer;
    margin-left: -55px;
    z-index: 2;
}

.model-group-no-data-add-btn {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0px;
    top: 2px;
}

.model-group-no-data-add-group-text {
    position: absolute;
    left: 20px;
    width: 60px;
    height: 20px;
    line-height: 20px;
    color: #2B87F3;
    font-size: 14px;
}

.model-group-tool-bar {
    position: absolute;
    height: 40px;
    width: 100%;
}

.model-group-text {
    position: absolute;
    left: 22px;
    top: 10px;
    height: 20px;
    width: auto;
    line-height: 21px;
    font-size: 14px;
    color: #666666;
    letter-spacing: -0.36px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.model-group-add-btn {
    position: absolute;
    right: 20px;
    top: 12px;
    width: 16px;
    height: 16px;
    float: right;
    cursor: pointer;
}

.model-group-edit-btn {
    position: absolute;
    right: 92px;
    top: 12px;
    width: 16px;
    height: 16px;
    float: right;
    cursor: pointer;
}

.model-group-del-btn {
    position: absolute;
    right: 68px;
    top: 12px;
    width: 16px;
    height: 16px;
    float: right;
    cursor: pointer;
}

.model-group-move-up-btn {
    position: absolute;
    right: 44px;
    top: 12px;
    width: 16px;
    height: 16px;
    float: right;
    cursor: pointer;
}

.model-group-move-down-btn {
    position: absolute;
    right: 20px;
    top: 12px;
    width: 16px;
    height: 16px;
    float: right;
    cursor: pointer;
}

.model-container {
    height: 100%;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 970px;
}

.main-page-toolbar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    overflow: visible;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
    width: 100%;
    height: 54px;
    border-bottom: 1px solid #e5e5e5;
}

.toolbar-btn-data-source-manage {
    color: #2B87F3;
    line-height: 25px;
    font-size: 14px;
    height: 25px;
    cursor: pointer;
    float: left;
    left: 20px;
    position: relative;
    top: 15px;
}

.toolbar-btn-split-line {
    border-right: solid #d9d9d9 1px;
    position: absolute;
    float: right;
    height: 15px;
    right: -20px;
    top: 5px;
}

.deploy-button-split-line {
    border-right: solid #d9d9d9 1px;
    position: relative;
    float: left;
    height: 15px;
    left: 74px;
    top: 20px;
}

.toolbar-btn-deploy {
    position: relative;
    overflow: visible;
    color: #2B87F3;
    line-height: 25px;
    font-size: 14px;
    height: 25px;
    top: 15px;
    cursor: pointer;
    float: left;
    left: 52px;
    padding-left: 8px;
    padding-right: 8px;
}

.toolbar-btn-deploy:hover
{
    background-color: #eff3fd;
    background-color: var(--color-pale, #eff3fd);
    color: #5582f3;
    color: var(--color-main, #5582f3);
}

.toolbar-btn-data-permission {
    position: relative;
    left: 94px;
    overflow: visible;
    color: #2B87F3;
    line-height: 25px;
    font-size: 14px;
    height: 25px;
    top: 15px;
    cursor: pointer;
    float: left;
}

.toolbar-btn-data-permission-preset {
    position: relative;
    left: 60px;
    overflow: visible;
    color: #2B87F3;
    line-height: 25px;
    font-size: 14px;
    height: 25px;
    top: 15px;
    cursor: pointer;
    float: left;
}

.toolbar-btn-model-edit {
    position: relative;
    float: left;
    left: 134px;
    color: #2B87F3;
    line-height: 25px;
    font-size: 14px;
    height: 25px;
    top: 15px;
    cursor: pointer;
}

.toolbar-btn-model-delete {
    position: relative;
    float: left;
    left: 174px;
    color: #2B87F3;
    line-height: 25px;
    font-size: 14px;
    height: 25px;
    top: 15px;
    cursor: pointer;
}

.toolbar-btn-refresh {
    position: relative;
    float: left;
    left: 214px;
    color: #2B87F3;
    line-height: 25px;
    font-size: 14px;
    height: 25px;
    top: 15px;
    cursor: pointer;
}

.toolbar-btn-refresh-preset {
    position: relative;
    float: left;
    left: 100px;
    color: #2B87F3;
    line-height: 25px;
    font-size: 14px;
    height: 25px;
    top: 15px;
    cursor: pointer;
}

.toolbar-btn-more {
    position: relative;
    float: left;
    left: 238px;
    color: #2B87F3;
    line-height: 25px;
    font-size: 14px;
    height: 25px;
    top: 15px;
    cursor: pointer;
}

/* 模型导入导出 */
.model-imexport-search-box
{
    position: relative;
    width: 190px;
    top: 0px;
    height: 23px;
}

.model-export-tree-selection-area
{
    font-size: 12px;
    position: relative;
    top: 0px;
    height: 365px;
    overflow: auto;
}

.model-export-sourceStrategy-label
{
    position: relative;
    left: 0;
    height: 23px;
    top: 0;
    width: auto;
    display: inline-block;
}

.model-export-help-icon
{
    position: relative;
    margin-left: 5px;
    width: 16px;
    display: inline-block;
    height: 16px;

    transform: scale(0.85);
    -webkit-transform: scale(0.85);    /* for Chrome || Safari */
    -moz-transform: scale(0.85);       /* for Firefox */
    -ms-transform: scale(0.85) ;       /* for IE */
    -o-transform: scale(0.85);         /* for Opera */
}

.model-export-sourceStrategy-comboBox
{
    position: relative;
    margin-left: 10px;
    top: 0;
    height: 20px;
    width: 88px;
    display: inline-block;
}

.model-export-area
{
    font-size: 12px;
    position: relative;
    top: 10px;
    height: 82%;
    overflow: auto;
    box-sizing: content-box;
}

.model-export-with-publish-switchbutton
{
    position: absolute;
    width: 31px;
    height: 19px;
    top: 340px;
    left: 0px;
}

.model-export-with-publish-text
{
    position: absolute;
    width: 100px;
    height: 20px;
    left: 42px;
    top: 341px;
}

.model-export-area-list-item
{
    position: absolute;
    height: 23px;
    width: 300px;
    cursor: default;
    color: #666;
    margin-left: -16px;
}

.model-export-area-list-item-icon
{
    position: absolute;
    left: 25px;
    width: 16px;
    height: 16px;
    top: 48%;
    margin-top: -8px;
}

.model-export-area-list-item-checkbox
{
    position: absolute;
    left: 20px;
    height: 20px;
    width: 20px;
    line-height: 23px;
}

.model-export-area-list-item-text
{
    position: absolute;
    left: 45px;
    line-height: 23px;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.model-export-area-list-item-text-preset
{
    color: red;
}

.model-importing-exporting-main
{
    position: absolute;
    width: 740px;
    height: 410px;
    top: 50%;
    left: 50%;
    margin-left: -370px;
    margin-top: -205px;
    z-index: 3;
}

.model-importing-upload-progress
{
    position: absolute;
    top: 200px;
    left: 0px;
    width: 740px;
    height: 3px;
    border-radius: 10px;
}

.model-importing-exporting-text
{
    position: absolute;
    top: 210px;
    left: 50%;
    width: 180px;
    height: 23px;
    margin-left: -80px;
}

.model-import-selection-table
{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 64px;
    bottom: 0px;
}

.model-import-selection-prompt
{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 10px;
    width: 600px;
}

.model-import-selection-ignore-btn
{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 30px;
    width: 80px;
    height: 23px;
    font-size: 12px;
    border-radius: 4px;
}

.model-import-selection-overwrite-btn
{
    position: absolute;
    left: 100px;
    right: 0px;
    top: 30px;
    width: 80px;
    height: 23px;
    font-size: 12px;
    border-radius: 4px;
}

.model-import-selection-rename-btn
{
    position: absolute;
    left: 200px;
    right: 0px;
    top: 30px;
    width: 80px;
    height: 23px;
    font-size: 12px;
    border-radius: 4px;
}

.model-export-model-icon
{
    position: absolute;
    left: 45px;
    top: 3px;
    width: 16px;
    height: 16px;
}

.model-export-model-name-label
{
    left: 66px;
}

.model-export-conflict-model-icon
{
    position: absolute;
    left: 5px;
    top: 9px;
    width: 16px;
    height: 16px;
}

.model-export-conflict-model-name-label
{
    left: 23px;
}

.model-export-conflict-item-text
{
    position: absolute;
    left: 25px;
    line-height: 30px;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*模型导入导出*/

.model-view-system-variable-icon-open
{
    cursor: default;
    float: left;
    font-size: 14px;
    margin-left: 15px;
    transform: scaleX(0.75) scaleY(0.5) rotate(180deg);
    -webkit-transform: scaleX(0.75) scaleY(0.5) rotate(180deg);
    -ms-transform: scaleX(0.75) scaleY(0.5) rotate(180deg);
    -moz-transform: scaleX(0.75) scaleY(0.5) rotate(180deg);
    -o-transform: scaleX(0.75) scaleY(0.5) rotate(180deg);
}
.model-view-system-variable-icon-close
{
    cursor: default;
    float: left;
    font-size: 14px;
    margin-left: 15px;
    transform: scaleX(0.5) scaleY(0.75) rotate(90deg);
    -webkit-transform: scaleX(0.5) scaleY(0.75) rotate(90deg);
    -ms-transform: scaleX(0.5) scaleY(0.75) rotate(90deg);
    -moz-transform: scaleX(0.5) scaleY(0.75) rotate(90deg);
    -o-transform: scaleX(0.5) scaleY(0.75) rotate(90deg);
}
.model-view-system-variable-text
{
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 8px;
    cursor: pointer;
    font-weight: bold;
}
.model-view-system-variable-value
{
    width: 740px;
    overflow: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
    margin-left: 20px;
    user-select: text;
    font-family: 微软雅黑;
    font-size: 12px;
    color: rgb(102, 102, 102);
    display: none;
}

.model-list-view {
    position: absolute;
    left: 0;
    right: 0;
    top: 55px;
    bottom: 0;
    background-color: #FFFFFF;
    width: 100%;
}

.model-card-view {
    position: absolute;
    left: 0;
    right: 0;
    top: 55px;
    background-color: #FFFFFF;
    overflow: auto;
    width: 100%;
    bottom: 10px;
}

.model-no-data-container {
    position: relative;
    background: #FFFFFF;
    left: calc(50% - 85px);
    top: calc(50% - 12px);
    bottom: 0px;
    width: 170px;
    height: 120px;
    text-align: center;
    overflow: hidden;
    max-height: 120px;
    z-index: 10;
}

.model-no-data-icon {
    width: 170px;
    height: 96px;
    position: absolute;
}

.model-no-data-text {
    position: absolute;
    font-size: 14px;
    color: #999999;
    letter-spacing: 1px;
    width: 170px;
    text-align: center;
    top: 96px;
}

.model-group-contain-children {
    position: absolute;
    height: 40px;
    border-top: 1px solid #E5E5E5;
    width: 100%;
    bottom: 0;
    background-color: white;
}

.model-card-item {
    height: 140px;
    width: 300px;
    background: white;
    margin: 20px 0px 0px 20px;
    border: 1px solid #e5e5e5;
    float: left;
    position: relative;
}

.model-card-item-selected{
    border: 1px solid #5582f3;
    border: 1px solid var(--color-main, #5582f3);
}

.model-card-item-preset {
    position: absolute;
    padding: 1px 1px;
    font-size: 12px;
    color: #b2b2b2;
    border: 1px solid #b2b2b2;
    border-radius: 2px;
    line-height: 16px;
    left: 15px;
    top: 15px;
}

.model-card-item-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 15px;
    top: 15px;
}

.model-info-icon {
    width: 36px;
    height: 36px;
    position: absolute;
    left: -2px;
}

.model-info-name {
    font-size: 14px;
    position: absolute;
    width: 230px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    left: 40px;
    color: #212121;
    text-align: left;
    line-height: 18px;
    font-weight: 500;
    top: 9px;
}

.model-card-item-tips-info {
    font-size: 12px;
    color: #212121;
    letter-spacing: 0;
    line-height: 18px;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-bottom: 8px;
    padding-left: 2px;
}

.model-info-panel-desc {
    font-size: 12px;
    color: #212121;
    letter-spacing: 0;
    line-height: 18px;
    font-weight: 400;
}

.model-info-panel-desc-text {
    position: absolute;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 235px;
    font-size: 12px;
    color: #212121;
    letter-spacing: 0;
    line-height: 18px;
    font-weight: 400;
}

.model-card-item-name {
    font-size: 14px;
    color: #2B87F3;
    right: 65px;
    height: auto;
    line-height: 18px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    top: 18px;
    position: absolute;
    left: 43px;
    cursor: pointer;
}

.model-card-item-description {
    height: 20px;
    color: #666666;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    right: 15px;
    left: 15px;
    position: absolute;
    top: calc(50% - 15px);
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.model-select {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 18px;
    left: 260px;
}

.model-card-item-lock-status {
    position: absolute;
    width: 150px;
    height: 18px;
    bottom: 15px;
    font-size: 12px;
    color: #666666;
    line-height: 18px;
    font-weight: 400;
    left: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.model-card-item-deploy-status {
    height: 20px;
    position: absolute;
    right: 15px;
    padding: 0px 6px 0px 6px;
    font-size: 12px;
    letter-spacing: 0;
    border: 1px solid;
    border-radius: 12px;
    text-align: right;
    line-height: 20px;
    font-weight: 400;
    bottom: 13px;
}

.model-lock-status {
    width: 150px;
    position: absolute;
    left: 10px;
    text-align: left;
    margin-top: 7px;
    height: 20px;
    color: #666666;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.model-card-detail-container {
    width: 100%;
    height: 90px;
}

.model-card-preview-metrics {
    color: #2B87F3;
    cursor: pointer;
    text-align: right;
    position: absolute;
    right: 15px;
    bottom: 42px;
}

.toolbar-model-search-box {
    width: 180px;
    height: 30px;
    float: right;
    right: 195px;
    top: 13px;
    position: absolute;
    max-width: 180px;
}

.toolbar-model-view-switch {
    right: 15px;
    position: absolute;
    width: 50px;
    height: 55px;
    max-width: 50px;
}

.model-list-view-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0px;
    top: 18px;
    cursor: pointer;
}

.model-card-view-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 25px;
    top: 18px;
    cursor: pointer;
}

.model-name-info {
    /*padding-left: 5px;*/
    padding-right: 5px;
    line-height: 40px;
    cursor: pointer;
}

.model-cell-item-preset {
    position: absolute;
    padding: 1px 1px;
    font-size: 12px;
    color: #b2b2b2;
    border: 1px solid #b2b2b2;
    border-radius: 2px;
    line-height: 16px;
    top: 10px;
}


.model-icon-info {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
}

.deploy-btn-down-arrows {
    width: 16px;
    height: 16px;
    position: relative;
    top: 22px;
    cursor: pointer;
    float: left;
    left: 54px;
}

.btn-down-arrows {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 54px;
    float: right;
    top: 8px;
}

.list-cell-item {
    line-height: 40px;
    color: #333333;
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-cell-item-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-cell-item-deploy-status-circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
}

.list-cell-item-deploy-status-text {
    line-height: 40px;
    font-weight: 400;
    letter-spacing: 0;
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.model-first-create-current-step {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-style: solid;
    border-color: #5582f3;
    border-width: 2px;

    color: #5582f3;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
}

.model-first-create-line {
    z-index: -2;
    position: absolute;
    left: 70px;
    top: 14px;
    width: 120px;
    border-bottom: gray 1px dashed;
}

.model-first-create-wait-step {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-style: solid;
    border-color: #999;
    border-width: 2px;

    color: #999;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
}

.model-first-create-completed-step {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-style: solid;
    border-color: #1ba854;
    border-width: 2px;
}

.model-first-create-ok {
    position: absolute;
    left: 8px;
    top: 4px;
    width: 6px;
    height: 12px;
    border-color: #1ba854;
    border-width: 0 2px 2px 0;
    border-style: solid;

    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);

    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
}

.model-first-create-name-current {
    line-height: 16px;
    font-size: 14px;
    color: #5582f3;
    text-align: center;
}

.model-first-create-name-wait {
    line-height: 16px;
    font-size: 14px;
    color: #999;
    text-align: center;
}

.model-first-create-name-completed {
    line-height: 16px;
    font-size: 14px;
    color: #1ba854;
    text-align: center;
}

.model-delete-dialog {
    width: 370px;
    height: 60px;
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
    text-overflow: ellipsis;
}

.model-metrics-panel {
    width: 300px;
    height: calc(100% - 56px);
    position: absolute;
    right: 0;
    top: 56px;
    overflow: auto;
    background-color: #FFFFFF;
    bottom: 0;
    border-left: 1px solid #e5e5e5;
}

.model-metrics-panel-title {
    width: 100%;
    height: 60px;
    position: absolute;
}

.model-metric-panel-preset{
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 12px;
    color: #b2b2b2;
    line-height: 16px;
    right: 0;
}

.model-metric-preset-text {
    transform: translate(11px, 6px) rotate(325deg);
}
.model-metrics-panel-model-icon {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 13px;
    left: 12px;
}

.model-metrics-panel-model-name {
    font-size: 15px;
    color: #2B87F3;
    height: 60px;
    line-height: 60px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    left: 52px;
    right: 50px;
    cursor: pointer;
}

.model-metrics-panel-table {
    width: 100%;
    height: calc(100% - 130px);
    bottom: 30px;
    top: 60px;
    position: absolute;
}

.metric-name-info{
    padding-left: 5px;
    padding-right: 5px;
    line-height: 40px;
}

.metric-cell-item-name{
    padding-left: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #2B87F3;
    cursor: pointer;
}

.metric-cell-item-icon{
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
}

.metric-cell-item
{
    line-height: 40px;
    color: #333333;
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.model-metrics-panel-close-button {
    width: 100px;
    height: 28px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto auto 20px;
    position: absolute;
    font-size: 14px;
    color: white;
    text-align: center;
    line-height: 28px;
    border-radius: 2px;
    cursor: pointer;
    background: #5582f3;
    background-color: var(--color-main, #5582f3);
}

.model-metrics-panel-close-button:hover {
    background-color: #88a7f6;
    background-color: var(--color-lightish, #88a7f6);
}

.model-metrics-detail-preview {
    width: 20px;
    height: 20px;
    top: 10px;
    left: 15px;
    position: absolute;
    cursor: pointer;
}

/***************************************** 以下css是批量部署相关 *****************************************/
.deploy-batch-split-center {
    border-left: 1px solid #CBCBCB;
}

.deploy-batch-split-right {
    border-left: 1px solid #CBCBCB;
}

.deploy-batch-split-bottom {
    border-top: 1px solid #CBCBCB;
}

.deploy-batch-search {
    position: absolute;
    right: 8px;
    top: 5px;
    height: 25px;
    width: 180px;
}

.deploy-batch-selected-model-label {
    position: relative;
    width: auto;
    height: 23px;
    float: left;
    margin-right: 12px;
}

.deploy-batch-clear-all-label {
    position: absolute;
    right: 10px;
    top: 5px;
    width: 60px;
    height: 23px;
    cursor: pointer;
    color: #0097f0;
}

.deploy-batch-selected-model-area {
    position: absolute;;
    top: 25px;
    height: 317px;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    margin-right: 20px;
}

.deploy-batch-model-list {
    position: absolute;;
    top: 30px;
    height: 322px;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    margin-right: 10px;
}

.deploy-batch-model-selected-list-item {
    position: relative;
    top: 6px;
    height: 24px;
    cursor: default;
    color: #666;
}

.deploy-batch-model-selected-list-item:hover {
    background-color: #eff3fd;
    background-color: var(--color-pale, #eff3fd);
    color: #5582f3;
    color: var(--color-main, #5582f3);
}

.deploy-batch-model-selected-list-item-icon {
    z-index: 2;
    position: absolute;
    top: 4px;
    right: 0px;
    width: 14px;
    height: 14px;
    cursor: pointer;
    display: none;
}

.deploy-batch-model-selected-list-item-name {
    z-index: 1;
    position: relative;
    min-width: 20px;
    max-width: 150px;
    cursor: pointer;
    height: 20px;
    line-height: 20px;
    top: 2px;
    display: flex;
}

.deploy-batch-model-selected-list-item-text
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 0;
    max-width: 100%;
}

.deploy-batch-model-selected-list-item_selected {
    background-color: #eff3fd;
    background-color: var(--color-pale, #eff3fd);
    color: #5582f3;
    color: var(--color-main, #5582f3);
}

.no-data-bg-container {
    width: 168px;
    height: 120px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}

.no-data-icon {
    width: 168px;
    height: 96px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.no-data-text {
    position: absolute;
    left: 0;
    /*top: 0;*/
    bottom: 0;
    right: 0;
    color: #999999;
    letter-spacing: 1px;
    width: 168px;
    height: 20px;
    text-align: center;
    margin: -10px auto;
}

.deploy-feedback-dialog-image {
    position: absolute;
    top: 7px;
    left: 50%;
    width: 168px;
    height: 98px;
    transform: translate(-50%, 0);
}

.deploy-feedback-dialog-text {
    position: absolute;
    left: 29px;
    top: 120px;
    width: 280px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    word-break: break-all;
}

.deploy-dialog-rolesetting-box {
    width: auto;
    position: relative;
    text-align: center;
    top: 140px;
}

.deploy-dialog-rolesetting-text {
    position: relative;
    left: 0;
    width: auto;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    word-break: break-all;
    display: inline-block;
    margin-right: 5px;
}

.deploy-dialog-rolesetting-text-link {
    position: relative;
    right: 0;
    width: auto;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    word-break: break-all;
    display: inline-block;
}

.deploy-batch-model-status {
    height: 20px;
    width: auto;
    letter-spacing: 0;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    top: 50%;
    transform: translate(0, 50%);
}

.model-set-main-page-statusbar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 23px;
    border-top: 1px solid #ccc;
    cursor: default;
    background-color: #f7f7f7;
    z-index: 2;
}

.deploy-dialog-tree-selection-area
{
    font-size: 12px;
    position: relative;
    top: 0px;
    height: 365px;
    overflow: auto;
}

.deploy-dialog-area
{
    font-size: 12px;
    position: relative;
    top: -20px;
    height: 75%;
    overflow: auto;
    box-sizing: content-box;
}

.deploy-dialog-area-list-item-checkbox
{
    position: absolute;
    left: 20px;
    height: 20px;
    width: 20px;
    line-height: 23px;
}

.deploy-dialog-area-list-item-text
{
    position: absolute;
    left: 45px;
    line-height: 23px;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.deploy-dialog-batch-split-bottom
{
    border-top: 1px solid #CBCBCB;
}

.deploy-dialog-model-icon
{
    position: absolute;
    left: 45px;
    top: 3px;
    width: 16px;
    height: 16px;
}

.deploy-dialog-model-name-label
{
    left: 66px;
}

.deploy-dialog-desc-div
{
    position: absolute;
    width: 500px;
    height: 100px;
    margin-top: 20px;
}

.model-import-number-table
{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50px;
    bottom: 0px;
}