html,body
{
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

.map-manage
{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

.map-manage-container
{
	overflow: hidden;
}

.map-group-container
{
	float: left;
	width: 220px;
	border-right: 1px solid rgba(0, 0, 0, .15);
	background-color: #fff;
	margin-bottom: -99999px;
	padding-bottom: 99999px;
}

.map-group-op
{
	background-color: #fff;
	border-bottom: 1px solid rgba(0, 0, 0, .15);
	height: 47px;
	position: relative;
	width: 220px;
}

.map-group-scrollbar{
	position:relative;
	overflow-y:auto;
	overflow-x:hidden;
}

.map-group-title
{
	font-size: 14px;
	color: #4e5667;
	margin-left: 36px;
	margin-top: 15px;
	margin-bottom: 15px;
	display: inline-block;
	line-height: 17px;
}

.add-map-group
{
	width: 16px;
	height: 16px;
	display: inline-block;
	float: right;
	margin: 16px 8px;
	cursor: pointer;
}

.add-group-input
{
	position: absolute;
    margin-top: 14px;
    height: 20px;
    width: 140px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.map-group-name
{
    margin-top: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 176px;
    line-height: 23px;
    height: 23px;
    float: left;
    font-size: 14px;
    color: #333;
}

.map-group-item:hover .map-group-name
{
	width: 122px;
}

.map-group-item
{
	background-color: #fff;
	border-bottom: 1px solid rgba(0, 0, 0, .15);
	padding-left: 36px;
	width: 184px;
	height: 47px;
}

.map-group-item:hover
{
	background-color: #F6F7F9;
}

.map-group-selected:hover
{
	background-color: #E2E7EF;
}

.map-group-selected
{
	background-color: #E2E7EF;
	border-left: 3px solid #5582f3;
	border-left: 3px solid var(--color-main, #5582f3);
	width: 182px;
	border-right: 0px;
	box-sizing: content-box;
}

.delete-group-button
{
	width: 16px;
	height: 16px;
	float: right;
	cursor: pointer;
	margin-top: 16px;
	margin-right: 14px;
	display: none;
}

.map-group-item:hover .delete-group-button
{
	display: inline-block;
}

.edit-group-button
{
	width: 16px;
	height: 16px;
	float: left;
	cursor: pointer;
	margin-top: 16px;
	display: none;
}

.map-group-item:hover .edit-group-button
{
	display: inline-block;
}

.map-container
{
	margin-left: 223px;
	/*padding: 20px 0 0 20px;*/
	padding-bottom: 20px;
	overflow-y:auto;
	overflow-x:hidden;
}

.add-map-card
{
	height: 150px;
	width: 300px;
	background: #fff;
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .15);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .15);
	border-radius: 2px;
	display: inline-block;
	margin: 20px 0 20px 20px;;
	cursor: pointer;
	border: 1px solid #fff;
	float: left;
	position: relative;
}

.map-add-card:hover
{
	border: 1px solid #5582f3;
	border: 1px solid var(--color-main, #5582f3);
}

.add-map-icon
{
	width: 50px;
	height: 50px;
	display: block;
	margin: 36px auto 0 auto;
}

.add-map-text
{
	font-size: 18px;
	color: #999999;
	display: block;
	margin: 10px auto 29px auto;
	display: block;
	width: 200px;
	text-align: center;
	line-height: 18px;
	height: 18px;
}

.map-card
{
	height: 150px;
	width: 300px;
	background: #fff;
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .15);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .15);
	border-radius: 2px;
	display: inline-block;
	margin: 20px 0 20px 20px;
	border: 1px solid #fff;
	float: left;
	position: relative;
	box-sizing: content-box;
}

.map-card:hover
{
	border: 1px solid #5582f3;
	border: 1px solid var(--color-main, #5582f3);
}

.map-detail-container
{
	margin: 12px 20px 0px 20px;
	width: 260px;
	height: 105px;
	cursor: pointer;
}

.map-icon
{
	display: inline-block;
	width: 36px;
	height: 36px;
	margin-right: 15px;
	vertical-align: middle;
	border-radius: 4px;
}

.map-name
{
	font-size: 16px;
	color: #333333;
	display: inline-block;
	width: 153px;
	height: 35px;
	line-height: 35px;
	text-align: left;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	vertical-align: middle;
}

.manage-icon-container
{
    position: absolute;
	width: 47px;
    height: 20px;
    top: 21px;
    right: 20px;
    cursor: default;
}

.edit-map-icon
{
	left: 0px;
	display: none;
}

.map-card:hover .edit-map-icon
{
	display: block;
}

.delete-map-icon
{
	right: 0px;
	display: none;
}

.map-card:hover .delete-map-icon
{
	display: block;
}

.operate-icon-container
{
	width: 260px;
	height: 20px;
	padding: 6px 20px;
	background-color: #F9FBFD;
	box-sizing: content-box;
}

.operate-icon
{
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.manage-icon
{
	position: absolute;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.move-map-icon
{
	float: right;
	margin-right: 15px;
	background-position: 0 2px;
}

.copy-map-icon
{
	float: right;
	background-position: 0 2px;
}

.map-manage-deldialog-confirm-msg
{
	width: 370px;
	height: 23px;
	text-align: center;
	display: inline-block;
	margin-top: 5px;
	line-height: 23px;
	font-size: 14px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap
}

.map-description-container
{
    position: relative;
    height: 20px;
	margin-top: 10px;
	font-size: 12px;
	color: #999;
}

.map-create-date-container
{
	margin-top: 10px;
	font-size: 12px;
	color: #999;
}

.map-create-date
{
	margin-left: 10px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap
}

.map-description-title
{
    display: inline-block;
    vertical-align: middle;
}

.map-description-text
{
    display: inline-block;
    margin-left: 10px;
    width: 180px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
}

.export-map
{
	width: 16px;
	height: 16px;
	display: inline-block;
	float: right;
	margin: 16px 8px;
	cursor: pointer;
}

.import-map
{
	width: 16px;
	height: 16px;
	display: inline-block;
	float: right;
	margin: 16px 8px;
	cursor: pointer;
}

.import-map-file
{
	width: 0;
	height: 0;
	position:absolute;
	left:-100px;
}

.map-export-tree-selection-area
{
	font-size: 12px;
	position: relative;
	top: 0px;
	height: 365px;
	overflow: auto;
}

.map-export-area
{
	font-size: 12px;
	position: relative;
	top: 6px;
	height: 90%;
	overflow: auto;
	box-sizing: content-box;
}

.map-export-with-publish-switchbutton
{
	position: absolute;
	width: 31px;
	height: 19px;
	top: 340px;
	left: 0px;
}

.map-export-with-publish-text
{
	position: absolute;
	width: 100px;
	height: 20px;
	left: 42px;
	top: 341px;
}

.map-export-area-list-item
{
	position: absolute;
	height: 23px;
	width: 300px;
	cursor: default;
	color: #666;
	margin-left: -16px;
}

.map-export-area-list-item-checkbox
{
	position: absolute;
	left: 20px;
	height: 20px;
	width: 20px;
	line-height: 23px;
}

.map-export-area-list-item-text
{
	position: absolute;
	left: 45px;
	line-height: 23px;
	width: 300px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.map-importing-exporting-main
{
	position: absolute;
	width: 740px;
	height: 410px;
	top: 50%;
	left: 50%;
	margin-left: -370px;
	margin-top: -205px;
}

.map-importing-upload-progress
{
	position: absolute;
	top: 200px;
	left: 0px;
	width: 740px;
	height: 3px;
	border-radius: 10px;
}

.map-importing-exporting-text
{
	position: absolute;
	top: 210px;
	left: 50%;
	width: 180px;
	height: 23px;
	margin-left: -80px;
}

.map-import-selection-table
{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 64px;
	bottom: 0px;
}

.map-import-selection-prompt
{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 10px;
	width: auto;
}

.map-import-selection-ignore-btn
{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 30px;
	width: 50px;
	height: 23px;
	font-size: 12px;
	border-radius: 4px;
}

.map-import-selection-overwrite-btn
{
	position: absolute;
	left: 80px;
	right: 0px;
	top: 30px;
	width: 50px;
	height: 23px;
	font-size: 12px;
	border-radius: 4px;
}

.map-import-selection-rename-btn
{
	position: absolute;
	left: 160px;
	right: 0px;
	top: 30px;
	width: 50px;
	height: 23px;
	font-size: 12px;
	border-radius: 4px;
}

.map-import-conflict-all-operate
{
	position: absolute;
	height: 23px;
	line-height: 23px;
	cursor: pointer;
	white-space: nowrap;
	font-size: 12px;
	color: #5582F3;
	color: var(--color-main, #5582f3);
}

.map-import-conflict-btn-split-line
{
	border-right: solid #d9d9d9 1px;
	position: absolute;
	float: right;
	height: 10px;
	right: -15px;
	top: 7px;
	cursor: default;
}

.select-map-dialog-content .dialog-map-group-item
{
	background-color: #fff;
	border-bottom: 1px solid rgba(0, 0, 0, .15);
	width: 180px;
	height: 47px;
    line-height: 47px;
}

.select-map-dialog-content .dialog-map-group-item:hover
{
	background-color: #F6F7F9;
}

.select-map-dialog-content .dialog-map-group-selected
{
	border-left: 3px solid #5582f3;
	border-left: 3px solid var(--color-main, #5582f3);
	width: 177px;
	border-right: 0px;
	box-sizing: content-box;
}

.select-map-dialog-content
{
	border: 1px solid rgb(229, 229, 229);
}

.select-map-dialog-content .dialog-map-group-container
{
	position: absolute;
	width: 180px;
	top: 51px;
	color: #777;
    font-size: 14px;
    cursor: pointer;
	height: 392px;
    border-right: 1px solid #E5E5E5;
    overflow-y: auto;
    overflow-x: hidden;
}

.select-map-dialog-content .dialog-map-item-area
{
    position: absolute;
    left: 192px;
	width: 562px;
    height: 440px;
    overflow-x: hidden;
    overflow-y: auto;
}

.map-selector-title
{
	position: absolute;
	width: 180px;
	height: 50px;
	border-bottom: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
    font-size: 16px;
    line-height: 50px;
    color: #777;
	text-align: center;
}

.no-data
{
	color: #777;
	text-align: center;
	margin-top: 10px;
	font-size: 14px;
}

.svg-thumbnail-container
{
    position: relative;
    height: 170px;
    width: 250px;
    float: left;
    border: 1px solid #fff;
    border-radius: 2px;
    margin: 10px 5px 3px 5px;
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .15);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .15);
	box-sizing: border-box;
	background: #fff;
}

.svg-thumbnail-container:hover
{
	border-color: rgba(85, 130, 243, .3);
}

.svg-thumbnail-name
{
	position: absolute;
    width: 180px;
    height: 45px;
    top: 0;
    left: 0;
    font-size: 14px;
    color: #333333;
    line-height: 45px;
    text-indent: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
}

.svg-thumbnail-item
{
    position: absolute;
    height: 69%;
    width: auto;
    bottom: 10px;
    left: 47px;
}

.map-card-selected
{
	border-color: var(--color-main, #5582f3) !important;
}

.no-map-template
{
	position: absolute;
    top: 50%;
    left: 50%;
    font-size: 22px;
    height: 22px;
    width: 160px;
	white-space: normal;
    margin-left: -78px;
    margin-top: 0px;
    color: #ccc;
}

.dialog-map-group-item-icon
{
    position: absolute;
    background-position-y: center;
    background-repeat: no-repeat;
    width: 17px;
    height: 15px;
    margin-left: 12px;
    margin-top: 15px;
}

.dialog-map-group-item-text
{
    position: absolute;
    margin-left: 36px;
    margin-top: 12px;
    height: 20px;
    width: 100px;
    line-height: 21px;
    font-size: 14px;
    letter-spacing: -0.36px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dialog-map-group-preset-icon
{
	position: absolute;
	width: 36px;
	height: 36px;
	right: 0px;
	margin-top: 5px;
}

.dialog-map-group-preset-text
{
	position: absolute;
	width: 36px;
	right: 0;
	text-align: center;
	color: #b2b2b2;
	transform: scale(0.7) rotate(-35deg);
	-webkit-transform: scale(0.7) rotate(-35deg);
	-ms-transform: scale(0.7) rotate(-35deg);
	-moz-transform: scale(0.7) rotate(-35deg);
	-o-transform: scale(0.7) rotate(-35deg);
}

.dialog-map-no-card-tips
{
	position: absolute;
	width: 370px;
	height: 370px;
	left: 50%;
	top: 50%;
	margin-left: -185px;
	margin-top: -195px;
	text-align: center;
	z-index: 1;
}

.dialog-map-no-card-tips-bg
{
	height: 230px;
	width: 260px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -110px;
	margin-top: -100px;
}

.dialog-map-no-card-tips-text
{
	position: absolute;
	width: 100%;
	top: 315px;
	font-size: 16px;
	text-align: center;
	color: rgb(187, 187, 187);
}

.map-group-preset-icon
{
	position: relative;
    width: 36px;
    height: 36px;
    top: 8px;
    right: -140px;
}

.map-group-preset-text
{
	position: absolute;
    width: 36px;
    text-align: center;
    color: #b2b2b2;
    margin-left: 20px;
    margin-top: 17px;
    transform: scale(0.7) rotate(-35deg);
    -webkit-transform: scale(0.7) rotate(-35deg);
    -ms-transform: scale(0.7) rotate(-35deg);
    -moz-transform: scale(0.7) rotate(-35deg);
    -o-transform: scale(0.7) rotate(-35deg);
}

.map-preset-text
{
    position: absolute;
    width: 48px;
    top: 13px;
    right: 0;
    color: #b2b2b2;
    text-align: center;
    transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
}

.map-preset-icon
{
    position: absolute;
    width: 50px;
    height: 50px;
    top: -1px;
    right: -3px;
    cursor: default;
}