
<div id=<%= mainId %> class="ids__dashboard">
    <div class="ids__dashboard-header">
        <%= title %>
    </div>
    <div id="chart_container">
            <span id=<%= mainId + "scope" %> class="scope">0</span>
            <span class='desc'>数据质量总分</span>
            <div id=<%= mainId + "pointer" %> class="pointer">
            </div>
    </div>
    <div class='ids__data-check'>
        数据检查项
    </div>
    <ul id=<%= mainId + "ids__data-check-ul" %> class="ids__data-check-ul">

    </ul>

</div>
