.cc_numeric_indicator[data-v-fb200938] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
span[data-v-fb200938] {
  vertical-align: bottom;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

