/** 工具栏 */
.macro-toolbar
{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 30px;
	padding-left: 4px;
	border-bottom: 2px solid #4ad5ff;
	overflow: visible;
}

.macro-toolbar-sub
{
	float: left;
	position: relative;
	height: 100%;
}

.macro-toolbar-seperator
{
	float: left;
	position: relative;
	width: 0;
	height: 16px;
	top: 50%;
	margin-top: -8px;
	margin-left: 4px;
	margin-right: 4px;
	border-left: 1px solid #ccc;
}

.macro-main-panel
{
	position: absolute;
	left: 2px;
	right: 2px;
	top: 34px;
	bottom: 2px;
	overflow: hidden;
}

.macro-main
{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	user-select: none;
    -webkit-user-select: none;
	-moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

.macro-db-connection-btn
{
	border: 1px solid #CBCBCB;
	text-align: center;
	background: #ebeef0;
    border-radius: 4px;
    color: #ccc;
    cursor: pointer;
}

.macro-preview-btn
{
	border: 1px solid #CBCBCB;
	text-align: center;
	background: #ebeef0;
    border-radius: 4px;
    color: #666;
    cursor: pointer;
}

.macro-importing-exporting-main
{
	position: absolute;
	width: 740px;
	height: 410px;
	top: 50%;
	left: 50%;
	margin-left: -370px;
	margin-top: -205px;
}

.macro-importing-upload-progress
{
	position: absolute;
	top: 200px;
	left: 0px;
	width: 740px;
	height: 3px;
	border-radius: 10px;
}

.macro-import-selection-prompt
{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 10px;
	width: 370px;
}

.macro-importing-exporting-text
{
	position: absolute;
	top: 210px;
	left: 50%;
	width: 180px;
	height: 23px;
	margin-left: -80px;
}

.macro-search-box
{
	position: absolute;
	right: 8px;
	width: 180px;
	height: 25px;
	float: right;
	top: 10px;
	transition: width .12s ease-in;
	-webkit-transition: width .12s ease-in;
}
.macro-db-connection-warning 
{
	float: left;
	height: 12px;
	width: 12px;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
	background-color: yellow;
	color: #BC1118;
	border: 1px solid #BC1118;
	border-radius: 7px;
	margin-top: 7px;
	margin-right: 4px;
	font-weight: bold;
}

.macro-error-darkmask-button
{
	cursor: pointer;
	color: #5591f6;
	color: var(--color-main, #5591f6);
}