#mmc_bizDesigner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 274px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#mmc_bizDesigner.large {
  padding-left: 14px;
}

#mmc_bizDesigner.running {
  padding-left: 0;
}

#mmc_bizDesigner .panel-info{
  text-align: center;
  padding: 20px 30px;
  border-bottom: 1px solid #dcdfe6;
  font-size: 16px;
  line-height: 20px;
}
#mmc_bizDesigner .panel-info-name{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
}
#mmc_bizDesigner .panel-info-bh{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
  cursor: pointer;
  font-size: 12px;
  color: #BBBBBB;
}




#mmc_bizDesigner.running .left-panel {
  display: none;
}

#mmc_bizDesigner .left-panel {
  width: 260px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-x: visible;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#mmc_bizDesigner .left-panel.unactive {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

#mmc_bizDesigner .left-panel.unactive .panel-toggle::before {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

#mmc_bizDesigner .left-panel .panel-toggle {
  font-size: 10px;
  position: absolute;
  width: 14px;
  height: 50px;
  right: -14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #ccc;
  border-left: none;
  background-color: #fff;
  border-radius: 0 4px 4px 0;
  border-radius: 4px;
  cursor: pointer;
}

#mmc_bizDesigner .left-panel .panel-toggle::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-left: -1px;
}

#mmc_bizDesigner .left-panel .header {
  height: 80px;
  border-bottom: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#mmc_bizDesigner .left-panel .header .tabs {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#mmc_bizDesigner .left-panel .header span {
  height: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  cursor: pointer;
  border: 1px solid #dcdfe6;
  border-left: 1px solid transparent;
  text-align: center;
  line-height: 40px;
  color: #555;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#mmc_bizDesigner .left-panel .header span:first-child {
  border-left: 1px solid #dcdfe6;
  border-radius: 4px 0 0 4px;
}

#mmc_bizDesigner .left-panel .header span:last-child {
  border-right: 1px solid #dcdfe6;
  border-radius: 0 4px 4px 0;
}

#mmc_bizDesigner .left-panel .header span.active {
  background-color: #55a0f5;
  border-color: #55a0f5;
  color: #fff;
}

#mmc_bizDesigner .left-panel .header span:hover {
  background-color: 1px solid #eee;
}

#mmc_bizDesigner .left-panel .body {
  overflow-x: hidden;
}

#mmc_bizDesigner .left-panel .body .transform-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 520px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#mmc_bizDesigner .left-panel .body .transform-box .card {
  width: 50%;
}

#mmc_bizDesigner .left-panel .body .transform-box .card .card-box:first-child .card-item-title {
  border-top: 1px solid #dcdfe6;
}

#mmc_bizDesigner .left-panel .body .transform-box .card .card-box .card-item-title {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 10px;
  padding-right: 20px;
  border-bottom: 1px solid #dcdfe6;
  border-left: 4px solid #55a0f5;
  cursor: pointer;
  font-size: 16px;
}

#mmc_bizDesigner .left-panel .body .transform-box .card .card-box .card-item-title .icons {
  font-size: 12px;
}

#mmc_bizDesigner .left-panel .body .transform-box .card .card-box .card-item-container {
  padding: 20px 0px 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-bottom: 1px solid #dcdfe6;
  max-height: 180px;
  overflow-y: scroll;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#mmc_bizDesigner .left-panel .body .transform-box .card .card-box .card-item-container .no-data {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #dddddd;
  font-size: 14px;
}

#mmc_bizDesigner .left-panel .body .transform-box .card .card-box .card-item-container .card-item {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}

#mmc_bizDesigner .left-panel .body .transform-box .card .card-box .card-item-container .card-item:nth-child(4n + 1) {
  margin-left: 0;
}

#mmc_bizDesigner .left-panel .body .transform-box .card .card-box .card-item-container .card-item:hover {
  -webkit-box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
}

#mmc_bizDesigner .left-panel .body .transform-box .card .card-box .card-item-container .card-item:active {
  -webkit-box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1) inset;
}

#mmc_bizDesigner .left-panel .body .transform-box .card .card-box .card-item-container .card-item img {
  height: 100%;
  width: 100%;
}

#mmc_bizDesigner .left-panel .body .transform-box .card .card-box .card-item-container .card-item.large .icons {
  font-size: 38px;
}

#mmc_bizDesigner .left-panel .body .transform-box .card .card-box.unactive .icons:before {
  content: "\ea0a" !important;
}

#mmc_bizDesigner .left-panel .body .transform-box .card .card-box.unactive .card-item-container {
  display: none;
}

#mmc_bizDesigner .right-panel {
  height: 100%;
  width: 100%;
  position: relative;
}

#mmc_bizDesigner .right-panel .detail-table {
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  width: 400px;
  height: auto;
  position: absolute;
  top: 40px;
  left: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: move;
  border: 4px solid transparent;
}

#mmc_bizDesigner .right-panel .detail-table:hover, #mmc_bizDesigner .right-panel .detail-table.active {
  border: 4px solid #55a0f5;
}

#mmc_bizDesigner .right-panel .detail-table .tools {
  height: 40px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-bottom: none;
}

#mmc_bizDesigner .right-panel .detail-table .tools .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#mmc_bizDesigner .right-panel .detail-table .tools .go-back-btn, #mmc_bizDesigner .right-panel .detail-table .tools .export {
  cursor: pointer;
  width: 40px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #5582f3;
  color: #fff;
  border-radius: 2px;
  margin-right: 10px;
}

#mmc_bizDesigner .right-panel .detail-table .tools .export {
  width: unset;
  display: none;
  position: relative;
  z-index: 1;
}

#mmc_bizDesigner .right-panel .detail-table .tools .export .export-button {
  padding: 0 10px;
}

#mmc_bizDesigner .right-panel .detail-table .tools .export .layui-icon {
  width: 20px;
  font-size: 12px;
  border-radius: 0 2px 2px 0;
}

#mmc_bizDesigner .right-panel .detail-table .tools .export .layui-icon::before {
  display: inline-block;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

#mmc_bizDesigner .right-panel .detail-table .tools .export .export-dropdown {
  visibility: hidden;
  opacity: 0;
  text-align: left;
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #555;
  top: 28px;
  left: 0;
  -webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  border-radius: 2px;
  overflow: hidden;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

#mmc_bizDesigner .right-panel .detail-table .tools .export .export-dropdown span {
  display: block;
  padding: 0 10px;
  cursor: pointer;
}

#mmc_bizDesigner .right-panel .detail-table .tools .export .export-dropdown span:hover {
  background-color: #5582f3;
  color: #fff;
}

#mmc_bizDesigner .right-panel .detail-table .tools .export.expand .layui-icon {
  background-color: rgba(0, 0, 0, 0.2);
}

#mmc_bizDesigner .right-panel .detail-table .tools .export.expand .layui-icon::before {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

#mmc_bizDesigner .right-panel .detail-table .tools .export.expand .export-dropdown {
  visibility: visible;
  opacity: 1;
  top: 34px;
}

#mmc_bizDesigner .right-panel .detail-table .tools .pagination {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mmc_bizDesigner .right-panel .detail-table .tools .pagination .layui-laypage {
  margin: 0;
}

#mmc_bizDesigner .right-panel .detail-table .tools .pagination .layui-laypage a, #mmc_bizDesigner .right-panel .detail-table .tools .pagination .layui-laypage span {
  color: unset;
  margin-bottom: 0;
  background-color: transparent;
}

#mmc_bizDesigner .right-panel .detail-table .tools .pagination .layui-laypage a:not(span):hover, #mmc_bizDesigner .right-panel .detail-table .tools .pagination .layui-laypage span:not(span):hover {
  color: #55a0f5;
}

#mmc_bizDesigner .right-panel .detail-table .tools .pagination .layui-laypage select {
  color: unset;
  background-color: transparent;
}

#mmc_bizDesigner .right-panel .detail-table .tools .pagination .layui-laypage select:focus {
  border-color: #55a0f5 !important;
}

#mmc_bizDesigner .right-panel .detail-table .tools .pagination .layui-laypage .layui-laypage-prev, #mmc_bizDesigner .right-panel .detail-table .tools .pagination .layui-laypage .layui-laypage-next {
  padding: 0 12px;
}

#mmc_bizDesigner .right-panel .detail-table .layui-table-view {
  margin-top: 0;
  margin-bottom: 0;
}

#mmc_bizDesigner .right-panel .detail-table .layui-table-view .layui-table-box {
  background-color: #fff;
}

#mmc_bizDesigner .right-panel .detail-table .layui-table-view .layui-table-box .layui-table-header th {
  padding: 0;
}

#mmc_bizDesigner .right-panel .detail-table .layui-table-view .layui-table-box .layui-table-header .layui-table-cell {
  font-weight: 700;
}

#mmc_bizDesigner .right-panel .detail-table .layui-table-view .layui-table-box .layui-table-body td {
  padding: 0;
}

#mmc_bizDesigner .right-panel .detail-table .layui-table-view .layui-table-box .layui-table-link {
  cursor: pointer;
  text-decoration: underline;
}

#mmc_bizDesigner .right-panel .detail-table .layui-table-view .layui-table-box .layui-table-click {
  background-color: #fff;
}

#mmc_bizDesigner .right-panel .detail-table .layui-table-view .layui-table-box .layui-table-click:hover {
  background-color: #f2f2f2;
}

#mmc_bizDesigner .right-panel .scroll-box {
  width: 100%;
  height: 100%;
  overflow: scroll;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#mmc_bizDesigner .right-panel .button {
  position: absolute;
  height: 40px;
  background-color: #fff;
  bottom: 20px;
  right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #767676;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

#mmc_bizDesigner .right-panel .button span {
  height: 100%;
  line-height: 40px;
  padding: 0 10px;
  border-right: 1px solid #e6e6e6;
}

#mmc_bizDesigner .right-panel .button span:last-child {
  border-right: none;
}

#mmc_bizDesigner .right-panel .button .icons {
  font-size: 22px;
  text-align: center;
  cursor: pointer;
}
/*# sourceMappingURL=demo.css.map */