.hr-delLabel {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: stretch;
    font-size: 0px;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
}

.hr-delLabel-text {
    padding: 0 10px;
    background-color: transparent;
    text-align: inherit;
    font-size: inherit;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.hr-delLabel-icon {
    position: relative;
    width: 20px;
    background-color: transparent;
    flex-grow: 0;
    cursor: pointer;
}

.hr-delLabel-icon::before,
.hr-delLabel-icon::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 2px;
    height: 1px;
    width: 14px;
    background: #838383;
}
.hr-delLabel-icon::before {
    transform: rotate(45deg);
}
.hr-delLabel-icon::after {
    transform: rotate(-45deg);
}
.hr-delLabel-icon.active::before,
.hr-delLabel-icon.active::after{
    background: #ffffff;
}
