._3Y86mqm83Xkn6fdFdUa8UZ {
  overflow: auto;
}
._3Y86mqm83Xkn6fdFdUa8UZ ._2EN3i3yqaz_7WVVLKfIoa_ ._2QnNihkVbdN0G4ITJ0C2pN {
  display: flex;
  align-items: center;
  height: 40px;
  background: #F5F5F5;
  line-height: 18px;
  padding: 0 12px;
  margin: 12px 0;
}
._3Y86mqm83Xkn6fdFdUa8UZ ._2EN3i3yqaz_7WVVLKfIoa_ ._2QnNihkVbdN0G4ITJ0C2pN ._2sBg8SSAUQzc0IXNFeOqoL {
  font-family: MicrosoftYaHeiSemibold;
  font-size: 14px;
  color: #212121;
  letter-spacing: 0;
  font-weight: 600;
  margin-right: 12px;
  flex-shrink: 0;
}
._3Y86mqm83Xkn6fdFdUa8UZ ._2EN3i3yqaz_7WVVLKfIoa_ ._2QnNihkVbdN0G4ITJ0C2pN ._340wgQwZ9bRjX9kcPmFBzd {
  font-family: MicrosoftYaHei;
  font-size: 12px;
  color: #666666;
  letter-spacing: 0;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
._3Y86mqm83Xkn6fdFdUa8UZ ._2EN3i3yqaz_7WVVLKfIoa_ .OqTt9EKx9vR61hVZbdlpe {
  display: flex;
  flex-wrap: wrap;
}
._3Y86mqm83Xkn6fdFdUa8UZ ._2-cvTfip7tf1qvoLVKnEg_ {
  padding: 12px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  margin-right: 12px;
  margin-bottom: 12px;
  width: 240px;
}
._3Y86mqm83Xkn6fdFdUa8UZ ._2-cvTfip7tf1qvoLVKnEg_ ._1Tye_-4GK5ziYsq_WgMI_J {
  display: flex;
  line-height: 21px;
  justify-content: space-between;
  align-items: center;
  /* The switch - the box around the slider */
  /* Hide default HTML checkbox */
  /* The slider */
}
._3Y86mqm83Xkn6fdFdUa8UZ ._2-cvTfip7tf1qvoLVKnEg_ ._1Tye_-4GK5ziYsq_WgMI_J ._13InLvSQciCanpGuumh2l9 {
  font-family: MicrosoftYaHeiSemibold;
  font-size: 14px;
  color: #212121;
  letter-spacing: 0;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
._3Y86mqm83Xkn6fdFdUa8UZ ._2-cvTfip7tf1qvoLVKnEg_ ._1Tye_-4GK5ziYsq_WgMI_J .agVk0viGf011R6JuN65du {
  flex-shrink: 0;
  position: relative;
  display: inline-block;
  width: 28px;
  /* 宽度调整为 28px */
  height: 14px;
  /* 高度调整为 14px */
  vertical-align: middle;
  /* 可选，用于与其他元素垂直对齐 */
}
._3Y86mqm83Xkn6fdFdUa8UZ ._2-cvTfip7tf1qvoLVKnEg_ ._1Tye_-4GK5ziYsq_WgMI_J .agVk0viGf011R6JuN65du input {
  opacity: 0;
  width: 0;
  height: 0;
}
._3Y86mqm83Xkn6fdFdUa8UZ ._2-cvTfip7tf1qvoLVKnEg_ ._1Tye_-4GK5ziYsq_WgMI_J ._1aZsV2BEFrm-xY_7H9aktb {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 7px;
  /* 调整为新的高度的一半 */
}
._3Y86mqm83Xkn6fdFdUa8UZ ._2-cvTfip7tf1qvoLVKnEg_ ._1Tye_-4GK5ziYsq_WgMI_J ._1aZsV2BEFrm-xY_7H9aktb:before {
  position: absolute;
  content: "";
  height: 10px;
  /* 调整为新的高度的 80% 左右，留出空间给边框 */
  width: 10px;
  /* 根据需要调整滑块的大小 */
  left: 2px;
  /* 根据需要调整滑块的位置 */
  bottom: 2px;
  /* 根据需要调整滑块的位置 */
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
._3Y86mqm83Xkn6fdFdUa8UZ ._2-cvTfip7tf1qvoLVKnEg_ ._1Tye_-4GK5ziYsq_WgMI_J input:checked + ._1aZsV2BEFrm-xY_7H9aktb {
  background-color: #5582F3;
}
._3Y86mqm83Xkn6fdFdUa8UZ ._2-cvTfip7tf1qvoLVKnEg_ ._1Tye_-4GK5ziYsq_WgMI_J input:checked + ._1aZsV2BEFrm-xY_7H9aktb:before {
  transform: translateX(14px);
  /* 调整为新的宽度减去滑块宽度 */
}
._3Y86mqm83Xkn6fdFdUa8UZ ._2-cvTfip7tf1qvoLVKnEg_ ._2qxvACeOk_JmR-xg7e1Hm_ {
  font-family: MicrosoftYaHei;
  font-size: 12px;
  color: #666666;
  letter-spacing: 0;
  line-height: 18px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-all;
  cursor: pointer;
}
