._39dGdStjzJhJYLTJyAU6SM {
  height: 100%;
}
._2OOI_ANaihU-Y3XnyVixjX {
  background-color: #f5f5f5;
  height: 100%;
}
._2OOI_ANaihU-Y3XnyVixjX ._2bUj8xVBwMEzh-6YW8iExq {
  display: flex;
  justify-content: flex-start;
  height: 100%;
}
._2OOI_ANaihU-Y3XnyVixjX ._2bUj8xVBwMEzh-6YW8iExq ._1Xz44loyJz_niW4fc4px02 {
  width: 280px;
  background-color: #fff;
  height: 100%;
  overflow-x: scroll;
}
._2OOI_ANaihU-Y3XnyVixjX ._2bUj8xVBwMEzh-6YW8iExq .IowhNZL3n-lkFaE7e7dJX {
  padding: 0px 15px;
  flex: auto;
}
._2OOI_ANaihU-Y3XnyVixjX ._2bUj8xVBwMEzh-6YW8iExq .IowhNZL3n-lkFaE7e7dJX ._1B0KAwghDro2kap9zRJOnp {
  background-color: #fff;
  padding: 10px;
  width: 100%;
}
._2OOI_ANaihU-Y3XnyVixjX ._2bUj8xVBwMEzh-6YW8iExq .IowhNZL3n-lkFaE7e7dJX ._1B0KAwghDro2kap9zRJOnp .YqVlK4oV8MTSOZVzTkP8S {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
}
._2OOI_ANaihU-Y3XnyVixjX ._2bUj8xVBwMEzh-6YW8iExq .IowhNZL3n-lkFaE7e7dJX ._1B0KAwghDro2kap9zRJOnp ._1i7WvK8aBYyd1Mso3Q3kGx {
  font-size: 14x;
  line-height: 20px;
}
._2OOI_ANaihU-Y3XnyVixjX ._2bUj8xVBwMEzh-6YW8iExq .IowhNZL3n-lkFaE7e7dJX ._1O7VppI91ZrO68qh0xMOSq {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
._2OOI_ANaihU-Y3XnyVixjX ._2bUj8xVBwMEzh-6YW8iExq .IowhNZL3n-lkFaE7e7dJX ._1O7VppI91ZrO68qh0xMOSq ._24R9hSheGYU8yUSxkubMpx {
  width: 30%;
  height: 100%;
  background-color: #fff;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}
._2OOI_ANaihU-Y3XnyVixjX ._2bUj8xVBwMEzh-6YW8iExq .IowhNZL3n-lkFaE7e7dJX ._1O7VppI91ZrO68qh0xMOSq ._24R9hSheGYU8yUSxkubMpx ._3E4CbgJXxycUwwzdGWHcHM {
  font-size: 16px;
  line-height: 25px;
  font-weight: 600;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
._2OOI_ANaihU-Y3XnyVixjX ._2bUj8xVBwMEzh-6YW8iExq .IowhNZL3n-lkFaE7e7dJX ._1O7VppI91ZrO68qh0xMOSq ._24R9hSheGYU8yUSxkubMpx .wqIEmMGjcNJ8HcOCv46uu {
  font-size: 12px;
  line-height: 20px;
  margin: 10px 0px 20px 0px;
  word-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  height: 60px;
}
._2OOI_ANaihU-Y3XnyVixjX ._2bUj8xVBwMEzh-6YW8iExq .IowhNZL3n-lkFaE7e7dJX ._1O7VppI91ZrO68qh0xMOSq ._24R9hSheGYU8yUSxkubMpx ._38Rz_MvSEn3h3rp4RE44Gn {
  display: flex;
  display: -webkit-flex;
  line-height: 20px;
  margin: 10px 0px;
}
._2OOI_ANaihU-Y3XnyVixjX ._2bUj8xVBwMEzh-6YW8iExq .IowhNZL3n-lkFaE7e7dJX ._1O7VppI91ZrO68qh0xMOSq ._24R9hSheGYU8yUSxkubMpx ._38Rz_MvSEn3h3rp4RE44Gn ._133kg538Syw1GiL3vsI_HX {
  flex: 0 0 60px;
}
._2OOI_ANaihU-Y3XnyVixjX ._2bUj8xVBwMEzh-6YW8iExq .IowhNZL3n-lkFaE7e7dJX ._1O7VppI91ZrO68qh0xMOSq ._24R9hSheGYU8yUSxkubMpx ._2NtpuegdOjjrkFXsyJPRN7 {
  margin-top: 20px;
  text-align: center;
  font-weight: 600;
}
._2OOI_ANaihU-Y3XnyVixjX ._2bUj8xVBwMEzh-6YW8iExq .IowhNZL3n-lkFaE7e7dJX ._1O7VppI91ZrO68qh0xMOSq ._24R9hSheGYU8yUSxkubMpx:hover {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.18);
  cursor: pointer;
}
._2OOI_ANaihU-Y3XnyVixjX ._2bUj8xVBwMEzh-6YW8iExq .IowhNZL3n-lkFaE7e7dJX ._1O7VppI91ZrO68qh0xMOSq ._24R9hSheGYU8yUSxkubMpx:hover ._3E4CbgJXxycUwwzdGWHcHM {
  color: var(--theme-color);
}
._2OOI_ANaihU-Y3XnyVixjX .B8LbV4JKZxlvCvQbzs-j- {
  color: var(--theme-color);
  font-size: 10px;
}
._2pyyhi2fYmKbynn8k6zmL6 ._2qhtDeplXA2cJLn_0eRc3B {
  display: flex;
  justify-content: center;
}
