<div>
	{{if control.iservice}}
	    {{if control.name}}
	        <a class="${control.class}" style="${control.style}" viewid="${control.viewid}" id="${control.id}" type="button" style="text-decoration: underline;" required="${control.required}" cols="${control.cols}" cols24="${control.cols24}" position="${control.position}" hidden="${control.hidden}" xml="${control.xml}" data="${controlStr}">${control.name}</a>
	    {{else}}
	    	<a class="${control.class}" style="${control.style}" viewid="${control.viewid}" id="${control.id}" type="button" style="text-decoration: underline;" required="${control.required}" cols="${control.cols}" cols24="${control.cols24}" position="${control.position}" hidden="${control.hidden}" xml="${control.xml}" data="${controlStr}">${control.text}</a>
	    {{/if}}
	{{else}}
	    {{if control.name}}
	    	<a class="${control.class}" style="${control.style}" viewid="${control.viewid}" id="${control.id}" href="${control.href}" target="${control.target}" style="text-decoration: underline;" rights="${control.rights}" clickurl="${control.clickurl}" type="${control.type}" required="${control.required}" cols="${control.cols}" cols24="${control.cols24}" position="${control.position}" hidden="${control.hidden}" xml="${control.xml}" data="${controlStr}">${control.name}</a>
	    {{else}}
	    	<a class="${control.class}" style="${control.style}" viewid="${control.viewid}" id="${control.id}" href="${control.href}" target="${control.target}" style="text-decoration: underline;" rights="${control.rights}" clickurl="${control.clickurl}" type="${control.type}" required="${control.required}" cols="${control.cols}" cols24="${control.cols24}" position="${control.position}" hidden="${control.hidden}" xml="${control.xml}" data="${controlStr}">${control.text}</a>
	    {{/if}}
	{{/if}}
</div>