<div>
    <div class="${control.class}" style="${(control.style||'') + control._customData.style}" required="${control.required}" cols="${control.cols}" cols24="${control.cols24}" position="${control.position}" hidden="${control.hidden}"  id="${control.id}"  viewid="${control.viewid}" xml="${control.xml}" data="${controlStr}">
        {{if control.showday!==false}}
        <span class="count-down-num" style="${(control.style||'') + control._customData.style}">${control._customData.day}</span>
        {{/if}}
        {{if control.showday!==false}}
        {{if control._customData.splitor.day}}
        <span class="count-down-splitor" style="${control.splitcolor + control.splitorstyle + control.dayslitorstyle}">${control._customData.splitor.day || '天'}</span>
        {{/if}}
        {{/if}}
        {{if control._customData.isShow.hour}}
        <span class="count-down-num"  style="${control.hourstyle}">${control._customData.hour}</span>
        {{/if}}
        {{if control._customData.splitor.hour}}
        <span class="count-down-splitor" style="${control.splitcolor + control.splitorstyle}">${control._customData.splitor.hour  || ':'}</span>
        {{/if}}
        {{if control._customData.isShow.minute}}
        <span class="count-down-num" style="${control.minutestyle}">${control._customData.minute}</span>
        {{/if}}
        {{if control._customData.splitor.min }}
        <span class="count-down-splitor" style="${control.splitcolor + control.splitorstyle}">${control._customData.splitor.min || ':'}</span>
        {{/if}}
        {{if control._customData.isShow.second}}
        <span class="count-down-num" style="${control.secondstyle}">${control._customData.second}</span>
        {{/if}}
        {{if control._customData.splitor.second}}
        <span class="count-down-splitor" style="${control.splitcolor + control.splitorstyle}">${control._customData.splitor.second  || ''}</span>
        {{/if}}
    </div>
</div>