<div>
	<div class="${control.class}" id="${control.id}"  viewid="${control.viewid}" style="${(control.style||'') + control._customData.style}" required="${control.required}" cols="${control.cols}" cols24="${control.cols24}" position="${control.position}" hidden="${control.hidden}"  xml="${control.xml}" data="${controlStr}">
		{{if !control._customData.hideLable}}
		<label style="${control.labelstyle + ';width:'+ control.labelwidth}" class="${control.required ? 'required' : ''}">${control.name}</label>
		{{/if}}
		{{if (control.editable===false || control.editable==='false')}}
			<span class="val-wrap">
				${control.value}
			</span>
		{{else}}
			{{if !control._customData.inlineGrid}}
			<input class="${control.disabled ? 'disabled':''}" type="text" name="${control.id}" placeholder="${control.placeholder}" value="${control.value}" disabled="${control.disabled}"/>
			<i class="input-icon el-icon-date"></i>
			{{/if}}
		{{/if}}
	</div>
</div>