<div>
    {{if control._customData.plat=='pc'}}
	    {{if control.queryfiltertype=='short'}}
		    <div class="${control.class} ${control.direction} short-queryfilter" style="${(control.style||'') + control._customData.style}" required="${control.required}" cols="${control.cols}" cols24="${control.cols24}" position="${control.position}" hidden="${control.hidden}"  id="${control.id}"  viewid="${control.viewid}" xml="${control.xml}" data="${controlStr}"></div>
		{{/if}}
		{{if  !control.queryfiltertype || control.queryfiltertype=='simple'}}
		    <div class="${control.class} ${control.direction} simple-queryfilter" style="${(control.style||'') + control._customData.style}" required="${control.required}" cols="${control.cols}" cols24="${control.cols24}" position="${control.position}" hidden="${control.hidden}"  id="${control.id}"  viewid="${control.viewid}" xml="${control.xml}" data="${controlStr}"></div>
		{{/if}}
		{{if control.queryfiltertype=='list'}}
		    <div class="${control.class} ${control.direction} list-queryfilter" style="${(control.style||'') + control._customData.style}" required="${control.required}" cols="${control.cols}" cols24="${control.cols24}" position="${control.position}" hidden="${control.hidden}"  id="${control.id}"  viewid="${control.viewid}" xml="${control.xml}" data="${controlStr}">
			    <div class="conditions-container"><span>筛选:</span><span>清空筛选</span></div>
			</div>
		{{/if}}

	{{else}}
	<div class="${control.class} ${control.direction}" style="${(control.style||'') + control._customData.style}" required="${control.required}" cols="${control.cols}" cols24="${control.cols24}" position="${control.position}" hidden="${control.hidden}"  id="${control.id}"  viewid="${control.viewid}" xml="${control.xml}" data="${controlStr}">
		<div class="filter-container"></div>
	</div>
    {{/if}}
</div>