<div>
    <div class="image-wrapper ${control.showstyle === 1 ? 'swiper-container' : 'showstyle2'}" style="${control._customData.plat === 'mobile' ? ((control.style||'') + control._customData.style) : ''}"  required="${control.required}" cols="${control.cols}" cols24="${control.cols24}" position="${control.position}" hidden="${control.hidden}"  id="${control.id}"  viewid="${control.viewid}" xml="${control.xml}" data="${controlStr}" name="">
		{{if control._customData.plat === "mobile"}}
                {{if control.showstyle === 1}}
					<div class="${control.class} swiper-wrapper">
					{{if control.children}}
				        {{each(i,child) control.children}}
                            <div class="swiper-slide" style="${child.style}"><image src="${child.src}"/></div>
				        {{/each}}
				    {{else}}
					    {{each(i,child) [1,1,1]}}
				        <div class="swiper-slide"><image src="image/default.png"/></div>
						{{/each}}
				    {{/if}}
					</div>
                    <div class="swiper-pagination"></div>
				{{else}}
					{{if control.children}}
				        <ul class="${control.class}" >
						{{each(i,child) control.children}}
                            <li class="swiper-slide" style="${child.style}"><image src="${child.src}"/></li>
				        {{/each}}
						</ul>
				    {{else}}
					    <ul class="${control.class}" >
				            {{each(i,child) [1,1,1]}}
							    <li class="swiper-slide"><image src="image/default.png"/></li>
							{{/each}}
				        </ul>
					{{/if}}
				{{/if}}
        {{/if}}
		{{if control._customData.plat === "pc"}}
            <div class="${control.class} cus-ImgGroup">
				    <div class="el-image cus-imggroup-big">
					    <div class="load-err-block">
						    <i class="iconfont iconmorentu" style="font-size: 44px; color: rgb(204, 204, 204);"></i>
						</div>
					</div>
					<i class="iconfont iconsousuoicon" style="display: none;"></i>
					<div class="cus-img-big-detail" style="display: none;">
					    <div class="el-image" style="margin-left: -750px; margin-top: -750px;">
						    <div class="load-err-block"><i class="iconfont iconmorentu" style="font-size: 24px;"></i></div>
					    </div>
					</div>
					<div class="cus-imggroup-bottom">
					    <span class="prev"><i class="iconfont icontupianyulanjiantou"></i></span>
						<div class="cus-img-group">
						    {{each(i,child) [1,1,1,1,1]}}
							    <image src="image/default.png" class="cus-imggroup-small"/>
							{{/each}}
						</div>
						<span class="next"><i class="iconfont icontupianyulanjiantou"></i></span>
				    </div>
			</div>
        {{/if}}
	</div>
</div>