<div>
    <div id="${control.id}"  divid="${control.divid}" class="${control.class}" style="${(control.style||'') + control._customData.style}" required="${control.required}" cols="${control.cols}" cols24="${control.cols24}" position="${control.position}" hidden="${control.hidden}"  xml="${control.xml}" data="${controlStr}">
       {{if control._customData.plat==='pc'}}
        <ul class="level1">
            {{each control._customData.level1data}}
             {{if $value.children}}
              <li v-if="item.children" class="active"><span>${$value.name}</span><i class="iconfont iconyoucezhankaijiantou_miaobian"></i></li>
             {{else}}
              <li><span>${$value.name}</span></li>
             {{/if}}
            {{/each}}
          </ul>
          <ul class="level2">
            {{each control._customData.level2data}}
              {{if $value.children}}
              <li class="active"><span>${$value.name}</span><i class="iconfont iconyoucezhankaijiantou_miaobian"></i></li>
              {{else}}
              <li><span>${$value.name}</span></li>
              {{/if}}
            {{/each}}
          </ul>
          <ul class="level3">
              {{each control._customData.level3data}}
              <li><span>${$value.name}</span></li>
              {{/each}}
        </ul>
        {{/if}}
       {{if control._customData.plat==='mobile'}}
       <ul class="level-1" style="${control.leftstyle}">
            {{each(i, level1) control._customData.level1data}}
            <li class="level-1-item ${i===0?'active':''}" style="${control.unactivestyle};${i===0?control.activestyle:''}">
                <span>${level1.name}</span>
            </li>
            {{/each}}
       </ul>
       <div class="level-more">
           <div class="level-2" style="${control.rightlevelstyle}">
                {{each control._customData.level2data}}
                <div class="level-2-item">
                    <div class="level-2-text">
                        <span class="name">${$value.name}</span>
                        {{if control.rightarrow || control.rightarrowtext}}
                        <span class="all-icon">
                            ${control.rightarrowtext === undefined ? '' : control.rightarrowtext}
                            {{if control.rightarrow}}
                            <span class="iconfont iconmore_icon"></span>
                            {{/if}}
                        </span>
                        {{/if}}
                    </div>
                    {{if $value.children}}
                    <div class="level-3">
                        {{each(i, level3) $value.children}}
                        <div class="level-3-item text-center">
                            <div class="image-wrap">
                                <image src="${level3.icon}" v-if="c3" style="margin-bottom: 5px;${control.imgstyle}"/>
                            </div>
                            <span class="level-3-text" style="${control.imgtextstyle}">${ level3.name }</span>
                        </div>
                        {{/each}}
                    </div>
                    {{/if}}
                </div>
                {{/each}}
           </div>
           {{if !control._customData.level2data || !control._customData.level2data.length}}
           <div class="empty-msg">
                ${control.noresult || '暂无内容'}
            </div>
            {{/if}}
       </div>
        {{/if}}
    </div>
</div> 