<div>
	<div id="${control.id}"  viewid="${control.viewid}" class="${control.class}" style="${(control.style||'') + control._customData.style}" required="${control.required}" cols="${control.cols}" cols24="${control.cols24}" position="${control.position}" hidden="${control.hidden}"  xml="${control.xml}" data="${controlStr}">
		<form class="search-form" id="searchForm_${control.id}" onsubmit="return false;">
			<div class="order-goods-top">
				<div class="fixed-top">
					{{if control.backbtn == "true"}}
					<span class="icon">
						<i class="iconfont icon-fanhui"></i>
					</span>
					{{/if}}
					<div class="search" superselect='${control.superselect}' valuefield="${control.id}_value" customParam="${control.cookieKey}" subsearcher="${control.subsearcher}" searcher="${control.searcher}">
						<input type="text" class="search" id="${control.id}_v" placeholder="${control.placeholder}" disabled/>
						<i class="iconfont icon-down_select_two"></i>
					</div>
					{{if control.searcher == "true"||control.subsearcher == "true"}}
					<i class="iconfont icon-search search-span"></i>
					{{/if}}
				</div>
			</div>
		</form>
	</div>
</div>