<div>
	<div class="${control.class}" style="${(control.style||'') + control._customData.style}" required="${control.required}" cols="${control.cols}" cols24="${control.cols24}" position="${control.position}" hidden="${control.hidden}"  id="${control.id}"  viewid="${control.viewid}" xml="${control.xml}" data="${controlStr}" name="">
		<label synchro="selectdata" class="${control.required ? 'required' : ''}">${control.name}</label>
		{{if (control.editable===false || control.editable==='false')}}
			<span class="val-wrap" style="${control.inputstyle}">
				${control.value}
			</span>
		{{else}}
		{{if !control._customData.inlineGrid}}
		<input class="${control.disabled ? 'disabled':''}" type="text" disabled/>
		<i class="iconfont icon-search"></i>
		{{/if}}
		{{/if}}
	</div>
</div>