<div>
	<div id="${control.id}"  viewid="${control.viewid}" class="price-ctrl ${control.class}" style="${(control.style||'') + control._customData.style} ${(control.editable===false || control.editable==='false')?'border:none;':''}" required="${control.required}" cols="${control.cols}" cols24="${control.cols24}" position="${control.position}" hidden="${control.hidden}" xml="${control.xml}" data="${controlStr}">
		{{if !control._customData.hideLable}}
		<label style="${control.labelstyle + ';width:'+ control.labelwidth}" class="${control.required ? 'required' : ''}">${control.name}</label>
		{{/if}}
		{{if (control.editable===false || control.editable==='false')}}
		<span class="val-wrap" style="${control.inputstyle}">
			${control.value}
		</span>
		{{else}}
		<input type="number" style="${control.inputstyle}" value="${control.value}" class="${(control.disabled ? 'disabled ' : '')+ 'form-control input-sm fm-item' }" maxlength="${control.maxlength}" min="${control.min}" max="${control.max}" precision="${control.precision}" placeholder="${control.placeholder}" disabled/>
		{{/if}}
	</div>
</div>