<div>
	<div class="select-ctrl ${control.class} showstyle${control.showstyle}" value="${control.value}" style="${(control.style||'') + control._customData.style}" required="${control.required}" cols="${control.cols}" cols24="${control.cols24}" position="${control.position}" hidden="${control.hidden}"  xml="${control.xml}" data="${controlStr}" name="">
		{{if control.pop === 'none'}}
			<ul class="${control.disabled ? 'disabled':''}" id="${control.id}"  viewid="${control.viewid}"></ul>
		{{else}}
			{{if !control._customData.hideLable}}
			<label synchro="select"  class="${control.required ? 'required' : ''}">${control.name}</label>
			{{/if}}
			{{if !control._customData.inlineGrid}}
			{{if control._customData.plat=='pc'}}
			<i class="input-icon el-icon-arrow-down"></i>
			{{/if}}
				{{if control._customData.plat=='mobile'}}
				<ul style="display: none;" class="${control.disabled ? 'disabled':''}" id="${control.id}"  viewid="${control.viewid}"></ul>
				<span class="select-val">${control.valuelist}</span>
				<i class="iconfont ${control.showstyle==='3' || control.showstyle==='4'?'iconjiantou18':'iconmore_icon'}"></i>
				{{else}}
				<ul class="${control.disabled ? 'disabled':''}" id="${control.id}"  viewid="${control.viewid}"></ul>
				{{/if}}
			{{/if}}
		{{/if}}
	</div>
</div>