<div>
	<div class="${control.class} select-data-ctrl" style="${(control.style||'') + control._customData.style}" required="${control.required}" cols="${control.cols}" cols24="${control.cols24}" position="${control.position}" hidden="${control.hidden}"  id="${control.id}"  viewid="${control.viewid}" xml="${control.xml}" data="${controlStr}" name="">
	   {{if !control._customData.hideLable}}
		<label synchro="selectdata" style="${control.labelstyle}" class="${control.required ? 'required' : ''}">${control.name}</label>
	   {{/if}}
	   {{if control.editable===false || control.editable==='false'}}
			<span class="val-wrap" style="${control.inputstyle}">
				${control.value}
			</span>
		{{else}}
			{{if !control._customData.inlineGrid}}
			<input type="text" disabled class="${control.disabled ? 'disabled':''}" style="${control.inputstyle}"/>
				{{if control.enableinput=='true'}}
				<i class="${control._customData.plat=='pc' ? 'iconfont iconliebiaoyulan':'iconfont iconmore_icon'}"></i>
				{{else}}
				<i class="${control._customData.plat=='pc' ? 'iconfont iconsousuoicon':'iconfont iconmore_icon'}"></i>
				{{/if}}
			{{/if}}
	   {{/if}}
	</div>
</div>