<div>
	<div id="${control.id}"  viewid="${control.viewid}" class="${control.class}" style="${(control.style||'') + control._customData.style}" required="${control.required}" cols="${control.cols}" cols24="${control.cols24}" position="${control.position}" hidden="${control.hidden}"  xml="${control.xml}" data="${controlStr}">
		{{if control.up!='false'}}
		<img src="/ftl/jev/image/default.png" width="16" height="16" onclick="alert('123');" class="${control.class}" style="${(control.style||'') + control._customData.style}"/>
		{{/if}}
		{{if control.down}}
		<img src="/ftl/jev/image/default.png" width="16" height="16" onclick="alert('123');" class="${control.class}" style="${(control.style||'') + control._customData.style}"/>
		{{/if}}
	</div>
</div>