.CodeMirror{
	width:95%;
}

.permconditionControlDiv .selectivity-single-select-input{
	display:none;
	opacity: 0;
	border:0;
}

.permconditionControlDiv .selectivity-single-result-container{
	top: 0;
	font-size: 12px;
	line-height: 28px;
	position: absolute;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}
.permconditionControlDiv .labelSign {
	display: flex;
	align-items: center;
	line-height: 20px;
}
.permconditionControlDiv .inputRadio {
	opacity: 0;
    position: absolute;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    width: 0;
}

.permconditionControlDiv .selectivity-single-select {
  min-height: 26px;
  width:100%;
  height: 26px;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  box-sizing: content-box;
}

.permconditionControlDiv .selectivity-caret {
    border-top: 6.4px solid transparent;
    border-color: #333;
    top: 10px;
    border-bottom: 3px solid transparent;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
	position: absolute;
	right: 6.5px;
}

.permconditionControlDiv .emptyControl{
	min-height: 226px;
    display: flex;
    align-items: center;
    justify-content: center;
	font-size: 14px;
}

.permconditionControlDiv .permconditionControl{
	min-width: 1012px;
	min-height:226px;
	overflow: hidden;
	border: 1px solid #E5E5E5;
	background: #FAFAFA;
	padding-top: 12px;
	padding-bottom: 12px;
}

.permconditionControlDiv .ruleTitle{
	background: #FAFAFA;
    padding-left: 16px;
	font-weight: 600;
	font-size:14px;
    line-height: 21px;
}

.permconditionControlDiv .ruleTitle>span{
}

.permconditionControlDiv .leftCondition{
	width:60%;
	float:left;	
	border-right: 1px #D9D9D9 solid;
	min-height: 192px;
	padding-right:2%;
	min-width: 610px;
}

.permconditionControlDiv .rightExpress{
    padding-left: 0px;
	min-width:400px;
	display:inline-block;
}

.permconditionControlDiv .conditionContent{
	margin-top: 4px;
}

.permconditionControlDiv .ruleCondition{
	width: 100%;
	border-collapse: separate;
    border-spacing: 0px 0px;
}

.permconditionControlDiv .ruleCondition tr{
	background: #FAFAFA;
    height: 42px;
}

.permconditionControlDiv .ruleCondition td
{
	padding-right: 8px;
}

.permconditionControlDiv .ruleCondition .nameTd{
	padding-left: 16px;
	width:38px;
	border: 0;
}
.permconditionControlDiv .ruleCondition .conditionParamTd{
	width:30%;
	border: 0;
}
.permconditionControlDiv .ruleCondition .comparisonOptTd{
	width:120px;
	border: 0;
}
.permconditionControlDiv .comparisonOptDiv{
    background: #fff;
	min-height: 30px;
}
.permconditionControlDiv .ruleCondition .valueTypeTd{
	width:80px;	
	border: 0;
}
.permconditionControlDiv .ruleCondition .valueTd{
	border: 0;
}

.permconditionControlDiv .ruleCondition .copyTd{
	width:24px;
	background:#FAFAFA;
}

.permconditionControlDiv .ruleCondition .deleteTd{
	width:24px;
	background:#FAFAFA;
}

/*下拉样式*/
.permconditionControlDiv .ruleCondition .conditionParam,.permconditionControlDiv .ruleCondition .valueParam,.permconditionControlDiv .ruleCondition .comparisonOpt,.permconditionControlDiv .ruleCondition .valueType,.permconditionControlDiv .ruleCondition  .valueBoolean{
	color:#000000!important;
	padding-left: 8px;
	padding-right: 8px;
    display: flex;
	background: #FFFFFF;
}

.permconditionControlDiv .ruleCondition .name{
	min-width: 21px;
	height: 18px;
	font-size: 12px;
	font-family: MicrosoftYaHeiSemibold;
	color: #212121;
	line-height: 18px;
}

.permconditionControlDiv .valueParamSelectDiv,.permconditionControlDiv .valueBooleanSelectDiv,.permconditionControlDiv .valueEnumSelectDiv,.permconditionControlDiv .valueDateDiv,.permconditionControlDiv .valueNumberDiv,.permconditionControlDiv .valueTextDiv{
	background: #FFFFFF;
}
/*输入框样式*/
.permconditionControlDiv .ruleCondition  .valueBoolean,.permconditionControlDiv .ruleCondition  .valueEnumText,.permconditionControlDiv .ruleCondition  .valueNumber,.permconditionControlDiv .ruleCondition  .valueDate{
	width:100%;
	min-width: 120px;
	height: 26px;
	background: #FFFFFF;
	border-radius: 2px;
	border: 0;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.permconditionControlDiv .ruleCondition .delete,.permconditionControlDiv .ruleCondition .copy{
	width: 21px;
	height: 21px;
	font-size: 21px;
	line-height: 28px;
	cursor:pointer;
	color: #B2B2B2;
}

.permconditionControlDiv .conditionContent .addConditionDiv{
	padding-left: 16px;
}

.permconditionControlDiv .expressView{
	position: absolute;
	right: 6px;
	top: 4px;
	cursor:pointer;
}

.permconditionControlDiv .conditionTypeRadioDiv{
	padding-left: 16px;
    padding-top: 4.5px;
}

.permconditionControlDiv .conditionTypeDiv{
	height: 32px;
    font-size: 12px;
    font-family: MicrosoftYaHei;
    color: #212121;
    line-height: 18px;
	padding: 7px 0;
	margin: 0;
}

.permconditionControlDiv .expressDiv{
	padding-left: 16px;
}

.permconditionControlDiv .conditionExpressDiv{
	min-width: 300px;
	background: #FFFFFF;
    border-radius: 2px;
    margin: 8px 0;
	min-height: 30px;
}

.permconditionControlDiv .rightExpress .and,.permconditionControlDiv .rightExpress .or,.permconditionControlDiv .rightExpress .leftBracket,.permconditionControlDiv .rightExpress .rightBracket{	
	width: 64px;
	height: 24px;
	background: #FFFFFF;
	border-radius: 2px;
	border: 1px solid #5582F3;
	font-size: 12px;
	font-family: MicrosoftYaHei;
	color: #5582F3;
	line-height: 18px;
	margin-right: 8px;
	cursor: pointer;
}

.permconditionControlDiv .conditionFloor{
	clear:both;
	height:15px;
}

.permconditionControlDiv #templeteTrCondition{
	display: none;
}