.PreviewPic-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 0px;
}
.yunzhijiasysm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 505px;
    background-image: url("../image/yunzhijiasysm.png");
    background-size: cover;
}
.yunzhijia_message{
    margin-top: 88px;
    margin-left: 45px;
    max-width: 160px;
	max-height: 395px;
    padding: 8px 12px 8px;
    background: #F5F5F5;
    border-radius: 8px 12px 0px 0px;
    font-size: 8.16px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: #212121;
    line-height: 24px;
    word-wrap: break-word;
    text-align: left;
	overflow: auto;
}
.noData{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.noData img{
    width: 280px;
    height: 160px;
}
.noData-text{
    margin-top: 12px;
    height: 20px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #999999;
    line-height: 20px;
}}