.BDww5rnK_company_info {
  font-size: 14px;
  color: #212121;
  line-height: 20px;
  font-weight: 400;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.BDww5rnK_company_info .DZdyrpay_tree {
  width: 240px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
  background: #FFFFFF;
  -webkit-box-shadow: 1px 0px 0px 0px #d9d9d9;
          box-shadow: 1px 0px 0px 0px #d9d9d9;
}
.BDww5rnK_company_info .DZdyrpay_tree .nacWuu6V_search {
  padding: 12px;
}
.BDww5rnK_company_info .DZdyrpay_tree .nacWuu6V_search .kd-input-wrapper .kd-input-prefix {
  -webkit-box-flex: 1;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
  width: 19px;
}
.BDww5rnK_company_info .DZdyrpay_tree .nacWuu6V_search .kd-input-wrapper-size-middle {
  height: 28px;
  line-height: calc(28px - 8px*2 - 2px);
}
.BDww5rnK_company_info .DZdyrpay_tree .kd-tree {
  margin-left: 0;
  overflow: auto;
}
.BDww5rnK_company_info .DZdyrpay_tree .kd-tree-node-item {
  padding-left: 6px;
}
.BDww5rnK_company_info .DZdyrpay_tree .kd-tree-node-title {
  margin-left: 0;
}
.BDww5rnK_company_info .DZdyrpay_tree .nocodeplatformicon,
.BDww5rnK_company_info .DZdyrpay_tree .kdicon {
  color: #212121;
}
.BDww5rnK_company_info .gxoTPP9t_table {
  width: 720px;
  padding: 16px 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.BDww5rnK_company_info .gxoTPP9t_table [data-code='opera'] {
  border-right: none !important;
}
.BDww5rnK_company_info .gxoTPP9t_table .kd {
  --font-size: 14px;
}
.BDww5rnK_company_info .gxoTPP9t_table .kd-table-header-cell-content {
  font-weight: bold;
}
.BDww5rnK_company_info .gxoTPP9t_table .kdicon {
  font-size: 24px;
  color: #999;
}
.BDww5rnK_company_info .gxoTPP9t_table .kd-btn-text {
  min-width: 16px;
  padding: 0px;
  border: 0px;
  height: 30px;
  line-height: 30px;
}
.BDww5rnK_company_info .gxoTPP9t_table .kd-btn-text .kd-btn-iconWrapper-left {
  margin-right: 0px;
}
.BDww5rnK_company_info .gxoTPP9t_table .WXhdZRGq_organization {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.BDww5rnK_company_info .gxoTPP9t_table .WXhdZRGq_organization ._1A0DpeE5_item {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  line-height: 20px;
  margin-bottom: 16px;
  min-width: 300px;
}
.BDww5rnK_company_info .gxoTPP9t_table .WXhdZRGq_organization ._1A0DpeE5_item:not(:nth-child(2n)) {
  margin-right: 24px;
}
.BDww5rnK_company_info .gxoTPP9t_table .WXhdZRGq_organization ._1A0DpeE5_item div {
  word-break: break-all;
}
.BDww5rnK_company_info .gxoTPP9t_table .WXhdZRGq_organization ._1A0DpeE5_item div.avu5yVG7_managers {
  max-height: 100px;
  overflow-x: hidden;
}
.BDww5rnK_company_info .gxoTPP9t_table .WXhdZRGq_organization ._1A0DpeE5_item .NlOGNlbM_title {
  color: #666;
  margin-bottom: 4px;
}
.BDww5rnK_company_info .gxoTPP9t_table ._0BnofMH\+_list {
  margin-bottom: 16px;
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  overflow: auto;
}
.BDww5rnK_company_info .gxoTPP9t_table ._2FqD4aKG_page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.YK0gKCh4_avatar {
  width: 24px;
  height: 24px;
  border-radius: 12px;
}
.OIbBwdKG_loading {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

._2T756X\+h_user_info {
  font-size: 14px;
  color: #212121;
  line-height: 20px;
  font-weight: 400;
  height: 100%;
  padding: 24px;
  overflow: auto;
}
._2T756X\+h_user_info > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
._2T756X\+h_user_info > div:not(:last-child) {
  margin-bottom: 24px;
}
._2T756X\+h_user_info .zopCz4ml_item {
  display: inline-block;
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
._2T756X\+h_user_info .zopCz4ml_item:not(:last-child) {
  margin-right: 24px;
}
._2T756X\+h_user_info .zopCz4ml_item div {
  word-break: break-all;
}
._2T756X\+h_user_info .zopCz4ml_item img {
  width: 24px;
  height: 24px;
  border-radius: 12px;
}
._2T756X\+h_user_info .zopCz4ml_item .WprfM4Ce_title {
  color: #666;
  margin-bottom: 4px;
}
._2T756X\+h_user_info .avPrKPbU_table table {
  width: 100%;
  background: #E5E5E5;
}
._2T756X\+h_user_info .avPrKPbU_table td,
._2T756X\+h_user_info .avPrKPbU_table th {
  height: 44px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
._2T756X\+h_user_info .avPrKPbU_table th {
  background-color: #FAFAFA;
  text-align: left;
  padding: 8px 12px;
}
._2T756X\+h_user_info .avPrKPbU_table td {
  background: #fff;
  padding: 8px 12px;
  word-break: break-all;
}
.ytQm31U8_container {
  padding: 24px;
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  overflow: hidden;
}

