.RJWK3-\+K_collapse {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.YUIdlg8U_collapse_panel_header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  line-height: 44px;
  padding: 0 12px;
  border-bottom: 1px solid var(--kd-nc-border-1, #e5e5e5);
}
.tcoEERJw_collapse_panel_header_main {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
}
.VPvh0tfW_collapse_panel_header_arrow_icon {
  display: inline-block;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.MrYTlaT-_collapse_panel_header_arrow_icon_expand {
  display: inline-block;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
._0oFj8rRC_collapse_panel_content {
  height: auto;
}
.gSP\+kLEl_collapse_panel_content_hidden {
  display: none;
  height: 0;
}

.znv30WkG_ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.UAcGG7jI_sidenavlayout {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  --kdm-c-popup-body-sizing-padding: 0;
}
.UAcGG7jI_sidenavlayout .kdm-popup-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.vSxEy5uV_sidenavlayout_header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.NEk5lKq-_sidenavlayout_header_icon {
  width: 24px;
  height: 24px;
  border-radius: 4px;
}
.Rk-SxaE3_sidenavlayout_header_title {
  font-size: 16px;
  font-weight: 600;
  margin-left: 8px;
  width: 190px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.DIsGEPcu_sidenavlayout_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
}
.LX-YyPCy_sidenavlayout_content_empty {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 173px;
}
._38DQ-uSm_sidenavlayout_content_empty_img {
  width: 240px;
  height: 120px;
}
.zAZV9ZoE_sidenavlayout_content_empty_text {
  margin-top: 24px;
  font-size: 16px;
  color: #212121;
  line-height: 24px;
}
.otrDyr4D_sidenavlayout_content_main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}
.pcA8JxhF_sidenavlayout_content_main_group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
}
.GIedlOrs_sidenavlayout_content_main_group_icon {
  color: var(--kd-nc-primary-6, #276FF5);
}
.HfgKs8Ot_sidenavlayout_content_main_group_title {
  margin-left: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.BWGlQyBQ_sidenavlayout_content_main_item {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 44px;
  padding-left: 12px;
  padding-right: 12px;
}
.BWGlQyBQ_sidenavlayout_content_main_item:not(:last-child) {
  border-bottom: 1px solid var(--kd-nc-border-1, #e5e5e5);
}
.TsHFhdcs_sidenavlayout_content_main_item_main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
._7UBoEYJ\+_sidenavlayout_content_main_item_icon {
  width: 16px;
  height: 16px;
}
._8szJ1-jG_sidenavlayout_content_main_item_title {
  margin-left: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.zak-bGCB_sidenavlayout_content_main_item_selected {
  color: var(--kd-nc-primary-6, #276FF5);
}
._32fYjy5a_sidenavlayout_content_footer {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  border-top: 0.5px solid var(--kd-nc-border-1, #e5e5e5);
  /* iphonex 等安全区设置，底部安全区适配 */
  padding-bottom: constant(safe-area-inset-bottom);
  /* 兼容 iOS < 11.2 */
  padding-bottom: env(safe-area-inset-bottom);
  /* 兼容 iOS >= 11.2 */
}
.Jn84eXpW_sidenavlayout_content_footer_item {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.Jn84eXpW_sidenavlayout_content_footer_item:not(:last-child)::after {
  position: absolute;
  content: '';
  height: 16px;
  width: 1px;
  background-color: var(--kd-nc-border-1, #e5e5e5);
  top: 16px;
  right: 0;
}
._7EHDbJnJ_sidenavlayout_content_footer_icon {
  font-size: 20px;
}
.cG-Gzdag_sidenavlayout_content_footer_name {
  font-size: 16px;
  color: #212121;
  line-height: 24px;
  margin-left: 4px;
}

._9SC7QDua_headerlayout {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 42px;
  width: 100%;
  padding: 0 12px;
  border-bottom: 1px solid var(--kd-nc-border-1, #e5e5e5);
}
.gxkRVkZj_headerlayout_item:not(:last-child) {
  margin-right: 12px;
}
.fZJSOkFe_headerlayout_icon {
  color: #666666;
  font-size: 20px;
}
._9SC7QDua_headerlayout .Z\+Pc-h6t_active {
  color: var(--kd-nc-primary-6, #276FF5);
}
.X-vXfe-p_menu {
  position: fixed;
  bottom: 72px;
  right: 12px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.04), 0px 4px 4px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.04), 0px 4px 4px 0 rgba(0, 0, 0, 0.08);
  background: #FFFFFF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
}
.QjskyplP_menu_text {
  font-size: 12px;
  color: var(--kd-nc-text-theme-color, #212121);
  -webkit-transform: scale(0.84);
      -ms-transform: scale(0.84);
          transform: scale(0.84);
}
.SAPdvM84_menu_icon {
  font-size: 16px;
  color: var(--kd-nc-text-theme-color, #212121);
}
.wckNLF6l_menu_scroll {
  right: -24px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.g7fGG90V_search {
  height: 28px;
  background-color: #F5F5F5;
  border: none;
  --kdm-c-input-color-background: #F5F5F5;
}
.bcvsVNh\+_search_icon {
  font-size: 16px;
  padding: 6px 4px 6px 8px;
}

._24rd4JoP_popup {
  -webkit-animation: none !important;
          animation: none !important;
  max-width: none !important;
  padding: 0 !important;
}
._24rd4JoP_popup .SGoUjTPO_menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
._24rd4JoP_popup .SGoUjTPO_menu .eDA\+UWe2_item {
  height: 36px;
  padding: 0 12px;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  line-height: 36px;
  text-overflow: ellipsis;
}

._05ODacM8_footerlayout {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 48px;
  padding: 6px 12px 0;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid var(--kd-nc-border-1, #e5e5e5);
  padding-bottom: constant(safe-area-inset-bottom);
  /* 兼容 iOS < 11.2 */
  padding-bottom: env(safe-area-inset-bottom);
  /* 兼容 iOS >= 11.2 */
}
._05ODacM8_footerlayout ._8PVoKjeX_button_group .JTIdAxvu_batch_button {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  width: 90px;
}
._05ODacM8_footerlayout ._8PVoKjeX_button_group .JTIdAxvu_batch_button:not(:first-child) {
  margin-left: 12px;
}
._05ODacM8_footerlayout ._1wYQln-g_button {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  width: 90px;
}
._05ODacM8_footerlayout ._1wYQln-g_button:not(:first-child) {
  margin-left: 12px;
}
._05ODacM8_footerlayout ._83Bwv7kL_check {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 36px;
}
._05ODacM8_footerlayout ._83Bwv7kL_check .kEnhiXK7_checkbox {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  padding: 0;
}
._05ODacM8_footerlayout ._83Bwv7kL_check .oBOxEKjX_selected {
  margin-left: 12px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
._05ODacM8_footerlayout ._83Bwv7kL_check .oBOxEKjX_selected .\+63mIcPp_selected_count {
  color: var(--kd-nc-primary-6);
}
._05ODacM8_footerlayout .tP48BYxd_trigger {
  margin-left: 12px;
  height: 36px;
  vertical-align: middle;
  line-height: 36px;
}

.tRh6-wHo_popup {
  max-height: calc(100vh - 80px);
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.tRh6-wHo_popup ._7nCtjkdG_box {
  padding-bottom: constant(safe-area-inset-bottom);
  /* 兼容 iOS < 11.2 */
  padding-bottom: env(safe-area-inset-bottom);
  /* 兼容 iOS >= 11.2 */
  font-size: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.tRh6-wHo_popup ._7nCtjkdG_box .RUN3A021_tip {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid var(--kd-nc-border-1, #e5e5e5);
  height: 48px;
}
.tRh6-wHo_popup ._7nCtjkdG_box .RUN3A021_tip .\+VAMnlG3_title {
  padding: 12px;
  font-size: 16px;
  line-height: 24px;
  color: #212121;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
}
.tRh6-wHo_popup ._7nCtjkdG_box .RUN3A021_tip .Gqg1C2zI_close {
  padding: 16px;
  height: 48px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  color: #666;
}
.tRh6-wHo_popup ._7nCtjkdG_box .y8BPNdwm_data_list {
  overflow-y: auto;
}
.YsHuAgNF_item {
  color: var(--kd-nc-text-1);
  height: 64px;
  text-align: center;
  border-bottom: 1px solid var(--kd-nc-border-1, #e5e5e5);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
  overflow: hidden;
}
.YsHuAgNF_item .a1rUz6Gt_delete {
  color: var(--kd-nc-danger-6, #FB2323);
  font-size: 20px;
}
.YsHuAgNF_item .aBu\+6\+SQ_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.YsHuAgNF_item .aBu\+6\+SQ_content .\+VAMnlG3_title {
  font-size: 14px;
  height: 20px;
  color: #212121;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
  text-align: start;
  white-space: nowrap;
}
.YsHuAgNF_item .aBu\+6\+SQ_content .CHcfU8aW_values {
  font-size: 12px;
  color: #999;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-align: start;
  white-space: nowrap;
}
.YsHuAgNF_item .aBu\+6\+SQ_content .CHcfU8aW_values ._8S1EyQpe_field_value {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  height: 100%;
}
.YsHuAgNF_item .aBu\+6\+SQ_content .CHcfU8aW_values .-UwaKa27_split {
  margin: 0 4px;
  height: 100%;
}

.kdm-tabs-header {
  --kdm-c-tabs-color-border: #f2f2f2;
}
._1y95SnYm_apphomepage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  overflow-y: hidden;
}
.vglX-HOP_apphomepage_loading {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.fd64HHaz_apphomepage_container {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #f2f5f8;
  overflow-x: hidden;
  overflow-y: auto;
}
._9X9GYXI0_apphomepage_container_main {
  margin-bottom: 0 !important;
  height: 100% !important;
}
._1y95SnYm_apphomepage .Ym9HCm3H_table_view_container {
  overflow: hidden;
}
.W9SaVbga_custom {
  padding: 0 12px;
  overflow-y: auto;
}
.gB0lSBRB_custom_wrapper {
  margin-bottom: 0 !important;
  height: 100% !important;
}

.m\+O5AcM1_popup {
  max-height: calc(100vh - 80px);
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.m\+O5AcM1_popup .KZC7ATdA_box {
  padding-bottom: constant(safe-area-inset-bottom);
  /* 兼容 iOS < 11.2 */
  padding-bottom: env(safe-area-inset-bottom);
  /* 兼容 iOS >= 11.2 */
  font-size: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.m\+O5AcM1_popup .KZC7ATdA_box ._9DW135-1_tip {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid var(--kd-nc-border-1, #e5e5e5);
  height: 48px;
}
.m\+O5AcM1_popup .KZC7ATdA_box ._9DW135-1_tip .u8tt\+702_title {
  padding: 12px;
  font-size: 16px;
  line-height: 24px;
  color: #212121;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
}
.m\+O5AcM1_popup .KZC7ATdA_box ._9DW135-1_tip .BmXfEoN3_close {
  padding: 16px;
  height: 48px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  color: #666;
}
.m\+O5AcM1_popup .KZC7ATdA_box .EISZ81Ln_data_list {
  overflow-y: auto;
}
.ivjkTRUS_item {
  color: var(--kd-nc-text-1);
  height: 44px;
  text-align: center;
  border-bottom: 1px solid var(--kd-nc-border-1, #e5e5e5);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
  overflow: hidden;
}
.ivjkTRUS_item .kdm-checkbox-default {
  padding: 0 !important;
}
.ivjkTRUS_item .rE0GUg0W_delete {
  color: var(--kd-nc-danger-6, #FB2323);
  font-size: 20px;
}
.ivjkTRUS_item .hj8FBI7U_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.ivjkTRUS_item .hj8FBI7U_content .u8tt\+702_title {
  font-size: 14px;
  color: #212121;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
  text-align: start;
  white-space: nowrap;
}
.ivjkTRUS_item .hj8FBI7U_content ._5JQIh35k_values {
  font-size: 12px;
  color: #999;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
  text-align: start;
  white-space: nowrap;
}
._2DL1xmlo_footer {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 12px;
  height: 48px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  background: #F8F8F8;
}
._2DL1xmlo_footer .sxLCbjMb_selected {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 20px;
  cursor: pointer;
}
._2DL1xmlo_footer .sxLCbjMb_selected .K89\+mDrt_checkbox-wrapper {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
._2DL1xmlo_footer .sxLCbjMb_selected .K89\+mDrt_checkbox-wrapper .kdm-checkbox-default {
  padding: 0 !important;
}
._2DL1xmlo_footer .sxLCbjMb_selected .K89\+mDrt_checkbox-wrapper .kOjRTnai_checkbox {
  height: 20px;
  width: 20px;
}
._2DL1xmlo_footer .sxLCbjMb_selected .IMLDxmH6_desc {
  margin-left: 8px;
  font-size: 14px;
  color: #212121;
  line-height: 20px;
}
._2DL1xmlo_footer .BA1GYNhx_confirm {
  width: 88px;
  height: 36px;
  border: none;
}

.KrCVnp5G_table_filter .kdm-popup-body {
  max-height: none;
  height: calc(100vh - 80px - 49px);
  padding: 0;
}
.KrCVnp5G_table_filter .kdm-popup-title {
  font-size: 16px;
  color: #212121;
  letter-spacing: 0;
  line-height: 24px;
  font-weight: bold;
}
.KrCVnp5G_table_filter .PipMMjst_filter_content {
  padding: 12px 12px calc(48px + 12px) 12px;
}
.KrCVnp5G_table_filter .PipMMjst_filter_content .LyBlJvXI_nodata {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 94px;
}
.KrCVnp5G_table_filter .PipMMjst_filter_content .LyBlJvXI_nodata img {
  width: 224px;
  height: 128px;
}
.KrCVnp5G_table_filter .PipMMjst_filter_content .LyBlJvXI_nodata ._6Otj9\+tj_maintips {
  font-size: 16px;
  color: #212121;
  letter-spacing: 0;
  text-align: center;
  line-height: 24px;
  font-weight: bold;
  margin-top: 16px;
}
.KrCVnp5G_table_filter .PipMMjst_filter_content .LyBlJvXI_nodata .w7qcj7Qj_operatetips {
  font-size: 14px;
  color: #999999;
  letter-spacing: 0;
  text-align: center;
  line-height: 20px;
  margin-top: 8px;
}
.KrCVnp5G_table_filter .PipMMjst_filter_content .LyBlJvXI_nodata ._6D6Vs4EB_btn {
  width: 176px;
  margin-top: 24px;
}
.KrCVnp5G_table_filter .PipMMjst_filter_content .u1wTl41z_filter_item {
  padding: 12px 0;
}
.KrCVnp5G_table_filter .PipMMjst_filter_content .u1wTl41z_filter_item ._5F0vB4vz_item_header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.KrCVnp5G_table_filter .PipMMjst_filter_content .u1wTl41z_filter_item ._5F0vB4vz_item_header .cEKjRhPr_title {
  font-size: 14px;
  color: #4d4a4a;
  letter-spacing: 0;
  line-height: 20px;
}
.KrCVnp5G_table_filter .PipMMjst_filter_content .u1wTl41z_filter_item ._5F0vB4vz_item_header .chmbDILp_delicon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.KrCVnp5G_table_filter .PipMMjst_filter_content .u1wTl41z_filter_item ._09fzpj0Z_select_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
}
.KrCVnp5G_table_filter .PipMMjst_filter_content .u1wTl41z_filter_item ._09fzpj0Z_select_container .oTsg\+Lwn_condition_selectBox {
  width: 100px;
}
.KrCVnp5G_table_filter .PipMMjst_filter_content .u1wTl41z_filter_item ._09fzpj0Z_select_container .oTsg\+Lwn_condition_selectBox .pqnX3S6F_condition_select span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.KrCVnp5G_table_filter .PipMMjst_filter_content .u1wTl41z_filter_item ._09fzpj0Z_select_container .mlACFWg1_value_selectbox {
  margin-left: 8px;
  width: calc(100% - 100px - 8px);
}
.KrCVnp5G_table_filter .PipMMjst_filter_content .u1wTl41z_filter_item ._09fzpj0Z_select_container .mlACFWg1_value_selectbox .YCGtP4fG_withcond_select span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.uFWjM3hI_footerbtns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 48px;
  padding: 0 6px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid var(--kd-nc-border-1, #e5e5e5);
  position: fixed;
  bottom: 0;
  background-color: #FFFFFF;
}
.uFWjM3hI_footerbtns .kdm-btn {
  padding: 8px;
}
.uFWjM3hI_footerbtns .WKK59QF-_button {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  width: 109px;
  margin: 6px;
}

.P4JiD7Lg_footerbtns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 48px;
  padding: 0 6px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid var(--kd-nc-border-1, #e5e5e5);
  position: fixed;
  bottom: 0;
  background-color: #FFFFFF;
}
.P4JiD7Lg_footerbtns .kdm-btn {
  padding: 8px;
}
.P4JiD7Lg_footerbtns .KSTYsSPi_button {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  width: 109px;
  margin: 6px;
}

.L5zgnoVe_addpopout .kdm-popup-body {
  padding: 0;
  max-height: calc(100vh - 80px - 49px);
}
.L5zgnoVe_addpopout .kdm-popup-header {
  border: 0;
}
.L5zgnoVe_addpopout .I6-h3DzN_search_box {
  padding: 8px 12px;
}
.rD5O6WvF_fix_height .kdm-popup-body {
  height: calc(100vh - 80px - 49px);
}

.\+oBEuJ0u_ref-bill-option {
  padding: 12px 0;
}
.Ss00zqM6_ref-bill-option-title {
  font-size: 14px;
  color: #212121;
  letter-spacing: 0;
  line-height: 20px;
  font-weight: 400;
  word-break: break-word;
}
.HIEvw0n6_ref-bill-option-desc {
  font-size: 12px;
  color: #999999;
  letter-spacing: 0;
  line-height: 16px;
  font-weight: 400;
  margin-top: 4px;
  word-break: break-word;
}
.MILWai\+7_ref-bill-option-empty {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.ogxI8\+qW_ref-bill-extra {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 12px;
  text-align: center;
}

.ShCVy8A9_table_view_grid_wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.l-ouz0Qh_table_toggle_btn_wrapper {
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.04), 0px 4px 4px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.04), 0px 4px 4px 0 rgba(0, 0, 0, 0.08);
  position: fixed;
  right: 11px;
  bottom: 136px;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background: #FFF;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}
.l-ouz0Qh_table_toggle_btn_wrapper .dF4DXW\+x_table_toggle_btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.l-ouz0Qh_table_toggle_btn_wrapper .dF4DXW\+x_table_toggle_btn ._0A5GcYKK_font {
  margin-top: 4px;
  color: var(--kd-nc-text-theme-color, #212121);
  line-height: 12px;
  font-size: 12px;
  -webkit-transform: scale(0.84);
      -ms-transform: scale(0.84);
          transform: scale(0.84);
}
.v7TI5A0v_table_horizontal {
  width: 625px;
  height: 375px;
}
.Uw2yvRQx_table_toggle_btn_wrapper_horizontal {
  left: 46px;
  bottom: 24px;
  -webkit-transform: rotateZ(90deg);
      -ms-transform: rotate(90deg);
          transform: rotateZ(90deg);
}

.MedmhCc9_popup {
  --kdm-c-popup-body-max-height-vertical: calc(100vh - 80px - 49px);
  --kdm-c-popup-body-sizing-padding: 0;
}
.MedmhCc9_popup .kdm-popup-body {
  height: var(--kdm-c-popup-body-max-height-vertical);
  background: #F8FAFC;
}
.X3GkFD5l_card_empty {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 96px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.X3GkFD5l_card_empty .E-F5iF7K_empty_text {
  font-size: 24px;
  font-weight: bold;
  color: #212121;
  letter-spacing: 0;
  text-align: center;
  line-height: 36px;
  margin-top: 48px;
}

.vILqtTYe_statCard {
  position: relative;
  height: 352px;
  background: #FFFFFF;
  margin: 12px 0;
  border-radius: 8px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-shadow: var(--card-shadow-default);
          box-shadow: var(--card-shadow-default);
}
.vILqtTYe_statCard .Cuf\+6f4w_title {
  height: 40px;
  font-size: 14px;
  font-weight: bold;
  color: #212121;
  letter-spacing: 0;
  line-height: 20px;
  padding-top: 12px;
  padding-left: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.vILqtTYe_statCard .pB0ocX9z_msg_wrapper {
  width: 100%;
  height: 312px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.vILqtTYe_statCard .pB0ocX9z_msg_wrapper .jTi7HHTg_tips {
  font-size: 14px;
  color: #999999;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}

.A9BQYO5W_bg_container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(var(--kd-nc-primary-2), var(--kd-nc-container-background-color, #F8FAFC) 260px, var(--kd-nc-container-background-color, #F8FAFC));
  overflow: hidden;
}
.A9BQYO5W_bg_container .f1saQmJJ_bg_img {
  position: absolute;
  top: 0;
}
.A9BQYO5W_bg_container .Wac-mIWz_main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  margin-bottom: 48px;
  height: calc(100% - 48px);
  overflow: auto;
  overflow-anchor: none;
}

.-GqcdbnW_displaycard_wrapper {
  margin: 12px 0;
}
.-GqcdbnW_displaycard_wrapper .TCck5u5P_sliderMode {
  position: relative;
}
.-GqcdbnW_displaycard_wrapper .TCck5u5P_sliderMode .kdm-swiper-indicator-wrapper {
  display: none;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .kdm-swiper-indicator-wrapper {
  bottom: 12px;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .kdm-swiper-indicator-wrapper .kdm-swiper-indicator-dot {
  width: 8px;
  height: 4px;
  border-radius: 2px;
  margin-right: 8px;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .kdm-swiper-indicator-wrapper .kdm-swiper-indicator-dot-active {
  background-color: var(--kd-nc-primary-6);
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .XMujDePo_itemsBox {
  padding-bottom: 24px;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .d5BbRVNb_columnItemsBox {
  display: grid;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .d5BbRVNb_columnItemsBox .z2MyD8t4_wrapper {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 0;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .d5BbRVNb_columnItemsBox .z2MyD8t4_wrapper .HH8lVhvN_link {
  width: 100%;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .d5BbRVNb_columnItemsBox .z2MyD8t4_wrapper .HH8lVhvN_link .FQz3GWuT_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .d5BbRVNb_columnItemsBox .z2MyD8t4_wrapper .HH8lVhvN_link .FQz3GWuT_item .j\+msTIdt_desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  margin-top: 8px;
  font-size: 12px;
  color: #212121;
  text-align: center;
  height: 32px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .McmjoTHF_rowItemsBox {
  display: grid;
  grid-column-gap: 12px;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .McmjoTHF_rowItemsBox .z2MyD8t4_wrapper {
  height: 52px;
  width: 100%;
  min-width: 0;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .McmjoTHF_rowItemsBox .z2MyD8t4_wrapper .HH8lVhvN_link {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .McmjoTHF_rowItemsBox .z2MyD8t4_wrapper .HH8lVhvN_link .FQz3GWuT_item {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  padding-left: 12px;
  margin-top: 12px;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .McmjoTHF_rowItemsBox .z2MyD8t4_wrapper .HH8lVhvN_link .FQz3GWuT_item .j\+msTIdt_desc {
  font-size: 14px;
  color: #212121;
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .Njp4wm\+v_imgBox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .Njp4wm\+v_imgBox img {
  width: 100%;
  height: 100%;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .Njp4wm\+v_imgBox .M4CUjKBJ_form-icon-row {
  width: 16px;
  height: 16px;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .Njp4wm\+v_imgBox ._3yDF4Go2_app-icon-row {
  width: 24px;
  height: 24px;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .Njp4wm\+v_imgBox ._3yDF4Go2_app-icon-row img {
  border-radius: 3px;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .Njp4wm\+v_imgBox .vFqlsfxb_form-icon-column {
  width: 28px;
  height: 28px;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .Njp4wm\+v_imgBox .wlpH26RQ_app-icon-column {
  width: 40px;
  height: 40px;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .Njp4wm\+v_imgBox .wlpH26RQ_app-icon-column img {
  border-radius: 5px;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .w4GEJ7rI_carousel_slider {
  width: 56px;
  height: 4px;
  position: absolute;
  bottom: 12px;
  left: calc(50% - 28px);
  background: rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  cursor: pointer;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .w4GEJ7rI_carousel_slider .VrL05KO3_avtive_part {
  position: relative;
  height: 100%;
  background: var(--kd-nc-primary-6);
  border-radius: 2px;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
}
.Kcv6XW2p_loading_card {
  height: 352px;
}

.UTOleH7C_whole_wrapper {
  margin: 12px 0;
}
.UTOleH7C_whole_wrapper ._0SgZ7-fz_myprocess_card_wrapper .KkVr32kq_myprocess_card {
  width: 100%;
  height: 100%;
}
.P5Jpmv-p_init_loading_height {
  height: 352px;
}
.\--AZ5XyW_whole_height {
  height: 612px;
}
.VbqVOWGt_pageination {
  margin: 12px 0;
}

.XwKTsN2Y_card_paginition {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.XwKTsN2Y_card_paginition .Sb0ejmwp_page_displayer {
  font-size: 16px;
  color: #212121;
  letter-spacing: 0;
  line-height: 24px;
  font-weight: 400;
}
.XwKTsN2Y_card_paginition .Sb0ejmwp_page_displayer .KG5MrEjJ_cur_page {
  color: var(--kd-nc-primary-6);
}
.XwKTsN2Y_card_paginition .EcYbzjPK_button {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.U4xQAf5n_table_card_wrapper {
  margin: 12px 0;
}
.U4xQAf5n_table_card_wrapper .HiE5NdKO_table_pagination {
  margin: 12px 0;
}
.buICTujG_default_height {
  height: calc(352px - 40px);
}
._1lNfQy2s_loading {
  height: calc(580px - 40px);
}

.Qut-U843_home .BGyx2ezJ_welcome_poster {
  padding: 24px 12px 13px 12px;
}
.Qut-U843_home .BGyx2ezJ_welcome_poster .WsAToSt0_welcome_words {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  color: #212121;
  letter-spacing: 0;
  line-height: 32px;
  font-weight: bold;
  margin-bottom: 4px;
}
.Qut-U843_home .BGyx2ezJ_welcome_poster .KqfkXuPE_welcome_proverb {
  font-size: 12px;
  color: #666666;
  letter-spacing: 0;
  line-height: 16px;
}
.Qut-U843_home ._6G6eSdrV_card_container {
  margin: 12px;
}
.Qut-U843_home ._6G6eSdrV_card_container .kd-card {
  -webkit-box-shadow: var(--card-shadow-default);
          box-shadow: var(--card-shadow-default);
}
._1p1yWL7w_noCardBox {
  margin-top: 106px;
  text-align: center;
}
._1p1yWL7w_noCardBox img {
  width: 240px;
}
._1p1yWL7w_noCardBox .K8BTtzEl_noCardTips {
  font-size: 16px;
  color: #212121;
  text-align: center;
  line-height: 24px;
  margin-top: 24px;
}
.egZWPhFQ_task_card {
  margin: 12px 0;
}

.O8Hm\+nQz_title {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.O8Hm\+nQz_title {
  --kd-c-input-padding-left: 8px;
}
.O8Hm\+nQz_title .OuZ9o325_title-name {
  display: block;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
}
.O8Hm\+nQz_title ._3Q38LMSO_title-icon {
  display: none;
  color: #212121;
  font-weight: 400;
}
.O8Hm\+nQz_title ._3Q38LMSO_title-icon .bnA7BGaC_title-drag {
  margin-left: 8px;
  cursor: move;
}
.O8Hm\+nQz_title ._3Q38LMSO_title-icon .cbPfkWhG_title-more:hover {
  color: #5582f3;
}
.O8Hm\+nQz_title ._3Q38LMSO_title-icon .bnA7BGaC_title-drag:hover {
  color: #5582f3;
}
.O8Hm\+nQz_title:hover ._3Q38LMSO_title-icon {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
[data-node-visible='true'] ._3Q38LMSO_title-icon {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.jQdR1264_tree-node-item-hover {
  background-color: var(--kd-c-tree-node-color-backgroung-hover, var(--kd-g-color-hover, #f5f5f5));
}
.tzoheLQL_popper {
  -webkit-animation: none !important;
          animation: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}

