/*!*********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js!../../node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[2].use[3]!./src/web/component/common/ShareModal.less ***!
  \*********************************************************************************************************************************************************************************************************************************************/
._1LNk5w1O_sharemodal .kd-modal-header {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  height: 48px;
  -webkit-box-shadow: inset 0px -1px 0px 0px #d9d9d9;
          box-shadow: inset 0px -1px 0px 0px #d9d9d9;
}
._1LNk5w1O_sharemodal .kd-modal-container-box {
  height: auto !important;
  -webkit-transform: translate(-50%, -50%) !important;
      -ms-transform: translate(-50%, -50%) !important;
          transform: translate(-50%, -50%) !important;
  max-height: calc(100vh - 64px);
}
._1LNk5w1O_sharemodal .kd-radio {
  padding-bottom: 0 !important;
}
._1LNk5w1O_sharemodal .kd-radio:not(:last-child) {
  margin-bottom: 0 !important;
}
.axPFi-co_sharemodal_footer {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 100%;
  height: 100%;
  padding-right: 16px;
  background-color: #f8f8f8;
  border-radius: 0 0 8px 8px;
}
.gr6v8Ojp_sharemodal_footer_action_btn {
  border-radius: 4px;
}
.gr6v8Ojp_sharemodal_footer_action_btn:not(:last-child) {
  margin-right: 12px;
}
.\+3K4jlN2_sharemodal_body {
  padding: 24px 24px 0 24px !important;
}
.fOVhw4SQ_sharemodal_body_item {
  margin-bottom: 24px;
}
.n8Mi7rcc_sharemodal_body_item_name {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 20px;
  color: #212121;
  font-weight: 400;
}
.n8Mi7rcc_sharemodal_body_item_name span {
  width: 10px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 20px;
  color: var(--kd-nc-danger-6, #FB2323);
}
.BsEO50yZ_sharemodal_body_item_input {
  width: 100%;
  font-size: 14px !important;
}
._5PkuYdVv_sharemodal_body_item_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
._5PkuYdVv_sharemodal_body_item_content .\+OJTo7-8_poster_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 488px;
  background: #FFFFFF;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
}
._5PkuYdVv_sharemodal_body_item_content .\+OJTo7-8_poster_wrapper .XH0BSZAz_poster_img {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 14px;
  background-size: cover;
  height: 120px;
  width: 100%;
  z-index: 1;
  border-radius: 8px 8px 0 0;
}
._5PkuYdVv_sharemodal_body_item_content .\+OJTo7-8_poster_wrapper .Lcyx6tSh_poster_img_qrcode {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 92px;
  height: 92px;
  border: 2px solid #ffffff;
  background-color: #fff;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
._5PkuYdVv_sharemodal_body_item_content .\+OJTo7-8_poster_wrapper .sS9zePAb_poster_img_qrcode_content {
  width: 88px !important;
  height: 88px !important;
}
._5PkuYdVv_sharemodal_body_item_content .\+OJTo7-8_poster_wrapper .Lcyx6tSh_poster_img_qrcode ._4Dqcd\+j8_qrcode_icon {
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -8px;
  background: #ffffff;
  color: var(--kd-c-button-primary-color-background);
}
._5PkuYdVv_sharemodal_body_item_content .\+OJTo7-8_poster_wrapper .jrFuvcjb_poster_element {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 12px;
  width: 100%;
}
._5PkuYdVv_sharemodal_body_item_content .\+OJTo7-8_poster_wrapper .DPGVB7X9_poster_element_logo {
  margin-top: 4px;
  border-radius: 4px;
  width: 40px;
  height: 40px;
}
._5PkuYdVv_sharemodal_body_item_content .\+OJTo7-8_poster_wrapper .pkj-AFVp_poster_element_content {
  margin-left: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
}
._5PkuYdVv_sharemodal_body_item_content .\+OJTo7-8_poster_wrapper ._8Ojrz3JW_poster_element_content_title {
  color: #212121;
  width: 264px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
  /*! autoprefixer: on */
}
._5PkuYdVv_sharemodal_body_item_content .\+OJTo7-8_poster_wrapper .\+ib9mFDt_poster_element_content_detail {
  color: #666666;
  margin-top: 4px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
._5PkuYdVv_sharemodal_body_item_content .\+OJTo7-8_poster_wrapper .\+ib9mFDt_poster_element_content_detail .iv2NHCiB_name {
  margin-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.y853JyMR_sharemodal_body_item_btnlist {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 16px;
}
._0JVjB0JM_sharemodal_body_item_btn:not(:last-child) {
  margin-bottom: 12px;
}
._2Bo\+h9n9_sharemodal_body_item_datepicker {
  margin-top: 12px;
  width: 100%;
}
.AkzbBbQQ_sharemodal_body_inline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.AkzbBbQQ_sharemodal_body_inline .fOVhw4SQ_sharemodal_body_item {
  margin-bottom: 0;
}

/*!*******************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js!../../node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[2].use[3]!./src/web/component/common/FlowItem.less ***!
  \*******************************************************************************************************************************************************************************************************************************************/
._9-Aion8h_success .ZVMmASGJ_dot::after {
  border-left-color: var(--kd-nc-success-6);
}
._9-Aion8h_success .ZVMmASGJ_dot p {
  background-color: var(--kd-nc-success-6);
}
._9-Aion8h_success .ZVMmASGJ_dot p i,
._9-Aion8h_success .KaeMBu2m_title .Z-CvAj4c_state,
._9-Aion8h_success .GvzLXVo7_info .TBFeJiu\+_flag {
  color: var(--kd-nc-success-6) !important;
}
.KKDLfIhb_error .ZVMmASGJ_dot::after {
  border-left-color: var(--kd-nc-danger-6);
}
.KKDLfIhb_error .ZVMmASGJ_dot p {
  background-color: var(--kd-nc-danger-6);
}
.KKDLfIhb_error .ZVMmASGJ_dot p i,
.KKDLfIhb_error .KaeMBu2m_title .Z-CvAj4c_state,
.KKDLfIhb_error .GvzLXVo7_info .TBFeJiu\+_flag {
  color: var(--kd-nc-danger-6) !important;
}
.jnwNwgma_warning .ZVMmASGJ_dot::after {
  border-left-color: var(--kd-nc-warning-6);
}
.jnwNwgma_warning .ZVMmASGJ_dot p {
  background-color: var(--kd-nc-warning-6);
}
.jnwNwgma_warning .ZVMmASGJ_dot p i,
.jnwNwgma_warning .KaeMBu2m_title .Z-CvAj4c_state,
.jnwNwgma_warning .GvzLXVo7_info .TBFeJiu\+_flag {
  color: var(--kd-nc-warning-6) !important;
}
._5Fdia0us_going .ZVMmASGJ_dot::after {
  border-left-color: var(--kd-nc-message-6);
}
._5Fdia0us_going .ZVMmASGJ_dot p {
  background-color: var(--kd-nc-message-6);
}
._5Fdia0us_going .ZVMmASGJ_dot p i,
._5Fdia0us_going .KaeMBu2m_title .Z-CvAj4c_state,
._5Fdia0us_going .GvzLXVo7_info .TBFeJiu\+_flag {
  color: var(--kd-nc-message-6) !important;
}
.SFYzHxjl_reject .ZVMmASGJ_dot::after {
  border-left-color: var(--kd-nc-text-3);
}
.SFYzHxjl_reject .ZVMmASGJ_dot p {
  background-color: var(--kd-nc-text-3);
}
.SFYzHxjl_reject .ZVMmASGJ_dot p i,
.SFYzHxjl_reject .KaeMBu2m_title .Z-CvAj4c_state,
.SFYzHxjl_reject .GvzLXVo7_info .TBFeJiu\+_flag {
  color: var(--kd-nc-text-3) !important;
}
.QO80lXi8_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.QO80lXi8_item:not(:last-child) {
  padding-bottom: 29px;
}
.QO80lXi8_item:last-child .ZVMmASGJ_dot::after {
  height: 0;
}
.QO80lXi8_item .ZVMmASGJ_dot {
  margin-right: 12px;
  position: relative;
  width: 8px;
}
.QO80lXi8_item .ZVMmASGJ_dot p {
  position: absolute;
  top: 8px;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  z-index: 1;
}
.QO80lXi8_item .ZVMmASGJ_dot::after {
  content: '';
  position: absolute;
  left: 3px;
  top: 16px;
  bottom: -40px;
  width: 1px;
  border-left-style: dotted;
  border-left-width: 1px;
  z-index: 0;
}
.QO80lXi8_item .GvzLXVo7_info {
  color: #212121;
  font-size: 14px;
  line-height: 20px;
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  overflow: hidden;
  padding-bottom: 3px;
}
.QO80lXi8_item .GvzLXVo7_info > div:not(:last-child) {
  margin-bottom: 16px;
}
.QO80lXi8_item .GvzLXVo7_info .KaeMBu2m_title div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4px;
}
.QO80lXi8_item .GvzLXVo7_info .KaeMBu2m_title div p {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-size: 16px;
  line-height: 24px;
  font-weight: var(--kd-nocode-font-weight-bold, 600);
  word-break: break-all;
}
.QO80lXi8_item .GvzLXVo7_info .KaeMBu2m_title div .kd-btn {
  font-size: 12px;
  line-height: 24px;
}
.QO80lXi8_item .GvzLXVo7_info .veevljfh_usr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  overflow: hidden;
}
.QO80lXi8_item .GvzLXVo7_info .veevljfh_usr p {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  color: var(--kd-nc-text-2, #666);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.QO80lXi8_item .GvzLXVo7_info .kd-avatar {
  width: 100%;
  height: 100%;
}
.QO80lXi8_item .GvzLXVo7_info .kdicon {
  font-size: 36px;
  line-height: 1;
}
.QO80lXi8_item .GvzLXVo7_info .XVWU8JJb_editor {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.QO80lXi8_item .GvzLXVo7_info .XVWU8JJb_editor ._3ioEKe\+f_icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 12px;
  margin-top: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.QO80lXi8_item .GvzLXVo7_info .XVWU8JJb_editor ._3ioEKe\+f_icon i {
  font-size: 22px;
  color: #fff;
}
.QO80lXi8_item .GvzLXVo7_info .XVWU8JJb_editor ._3ioEKe\+f_icon .TBFeJiu\+_flag {
  width: 16px;
  height: 16px;
  font-size: 16px;
  border-radius: 50%;
  position: absolute;
  right: -3px;
  bottom: -3px;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.QO80lXi8_item .GvzLXVo7_info .XVWU8JJb_editor span {
  font-size: 12px;
  color: #999999;
  line-height: 16px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.QO80lXi8_item .GvzLXVo7_info .F7A5dz-7_Auditor {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.QO80lXi8_item .GvzLXVo7_info .F7A5dz-7_Auditor p {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #666;
  width: 60px;
  margin-right: 12px;
  margin-bottom: 12px;
}
.QO80lXi8_item .GvzLXVo7_info .F7A5dz-7_Auditor p .kd-avatar {
  width: 32px;
  height: 32px;
  margin-bottom: 12px;
}
.QO80lXi8_item .GvzLXVo7_info .F7A5dz-7_Auditor p span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  text-align: center;
}
.QO80lXi8_item .GvzLXVo7_info .vsH04h6N_handler {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  overflow: hidden;
}
.QO80lXi8_item .GvzLXVo7_info .hGNfFjvv_des {
  font-size: 16px;
  line-height: 24px;
  white-space: pre-wrap;
  word-break: break-all;
}
.Nh28D1ks_node .ZVMmASGJ_dot::after {
  bottom: -48px;
}
.OQk0QbW4_launch .ZVMmASGJ_dot::after {
  border-left-color: var(--kd-nc-success-6);
}
.OQk0QbW4_launch .ZVMmASGJ_dot p {
  background-color: var(--kd-nc-success-6);
}
.OQk0QbW4_launch .ZVMmASGJ_dot p i,
.OQk0QbW4_launch .KaeMBu2m_title .Z-CvAj4c_state,
.OQk0QbW4_launch .GvzLXVo7_info .TBFeJiu\+_flag {
  color: var(--kd-nc-success-6) !important;
}
.OQk0QbW4_launch .XVWU8JJb_editor {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.OQk0QbW4_launch .vsH04h6N_handler div:last-child {
  color: var(--kd-nc-success-6);
}
.OQk0QbW4_launch .veevljfh_usr p {
  font-size: 16px;
  line-height: 24px;
  color: var(--kd-nc-text-1, #212121) !important;
  font-weight: var(--kd-nocode-font-weight-bold);
}
.OQk0QbW4_launch .ZVMmASGJ_dot p {
  top: 18px;
}
.KvvJwUIM_finish .ZVMmASGJ_dot p {
  width: 16px;
  height: 16px;
  left: -4px;
  top: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
}
.KvvJwUIM_finish .ZVMmASGJ_dot p i {
  line-height: 1;
}

/*!********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js!../../node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[2].use[3]!./src/web/layout/apps/FlowListLayout.less ***!
  \********************************************************************************************************************************************************************************************************************************************/
.RlXB8RId_apply {
  width: 304px;
  font-size: 14px;
  line-height: 20px;
  background: #FFFFFF;
  border-radius: 12px;
  padding: 12px 16px;
  -webkit-box-shadow: 0px 4px 10px 2px rgba(0, 31, 122, 0.04);
          box-shadow: 0px 4px 10px 2px rgba(0, 31, 122, 0.04);
}
.RlXB8RId_apply .SpCsExEE_mb {
  margin-bottom: 12px;
}
.RlXB8RId_apply .SpCsExEE_mb .kd-select-single {
  overflow: hidden;
}
.RlXB8RId_apply .SpCsExEE_mb .kd-select-single .kd-select-selection-search {
  top: 0px;
}
.RlXB8RId_apply .SpCsExEE_mb .kd-select-single .kd-select-placeholder {
  top: 0px;
  min-height: 34px;
  line-height: 34px;
}
.RlXB8RId_apply .SpCsExEE_mb .kd-select-single .kd-select-suffix {
  top: 0px;
  min-height: 35px;
  line-height: 34px;
}
.RlXB8RId_apply .SpCsExEE_mb .kd-select-single .kd-select-suffix .kd-select-icon-clear {
  top: 0px;
}
.RlXB8RId_apply .DAh5OVTO_nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
}
.RlXB8RId_apply .DAh5OVTO_nav .Iu79-u2b_title {
  font-size: 14px;
  color: #212121;
  line-height: 20px;
  font-weight: 600;
}
.RlXB8RId_apply .DAh5OVTO_nav .kd-btn-size-middle {
  min-width: 16px;
  padding: 0px;
  border: 0px;
}
.RlXB8RId_apply .FbedzwWE_node_name {
  margin-bottom: 4px;
}
.RlXB8RId_apply .uaIt0zoF_err {
  font-size: 12px;
  line-height: 18px;
  color: var(--kd-nc-danger-6, #FB2323);
}
.RlXB8RId_apply .qQqKgw2a_btns {
  margin-bottom: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.RlXB8RId_apply .qQqKgw2a_btns button {
  min-width: 48px;
  padding: 6px 8px;
  margin-top: 12px;
}
.RlXB8RId_apply .qQqKgw2a_btns button:not(:last-child) {
  margin-right: 12px;
}
.RlXB8RId_apply .qQqKgw2a_btns:empty {
  display: none;
}
.RlXB8RId_apply .kd-form-field {
  margin: 0 0 12px 0;
}
.RlXB8RId_apply .kd-form-field-wrapper {
  width: 100%;
}
.RlXB8RId_apply .g5DwPN\+R_list .dkH4oigt_node .kd-nc-flow-dot::after {
  bottom: -48px;
}
.Orrq7fn8_confirm .GHdNFZHJ_body {
  font-size: 14px;
}
.Orrq7fn8_confirm .kd-modal-footer {
  border: none;
  background-color: #f8f8f8;
}
.Orrq7fn8_confirm .kd-nc-select {
  margin-top: 8px;
}
.Orrq7fn8_confirm .HHqqCqoD_footer {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 16px;
}
.Orrq7fn8_confirm .HHqqCqoD_footer button:not(:last-child) {
  margin-right: 12px;
}

/*!****************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js!../../node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[2].use[3]!./src/web/layout/apps/FormDetailFooterLayout.less ***!
  \****************************************************************************************************************************************************************************************************************************************************/
.L\+3T9ft1_form_footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px -3px 8px 1px rgba(0, 0, 0, 0.06);
          box-shadow: 0px -3px 8px 1px rgba(0, 0, 0, 0.06);
  z-index: 10;
  padding: 0 16px;
}
.WRUJUeKF_form_footer_main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1180px;
}
.-anEDyDY_form_footer_main_tips {
  font-size: 14px;
}
.-anEDyDY_form_footer_main_tips .kd-checkbox-default-wrapper-size {
  width: 16px;
  height: 16px;
}
.WRUJUeKF_form_footer_main:empty {
  display: none;
}
.L\+3T9ft1_form_footer .xiAX4YhX_btns {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 12px 0;
}
.L\+3T9ft1_form_footer .xiAX4YhX_btns button:not(:last-child) {
  margin-right: 12px;
}
.L\+3T9ft1_form_footer .xiAX4YhX_btns:empty {
  display: none;
}
.L\+3T9ft1_form_footer .Btg5\+xYQ_bizbtns + .xiAX4YhX_btns {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
.L\+3T9ft1_form_footer .Btg5\+xYQ_bizbtns {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.L\+3T9ft1_form_footer .Btg5\+xYQ_bizbtns button {
  margin-right: 12px;
}

