/*!**************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js!../../node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[2].use[3]!./src/web/component/apps/ImportExportModal.less ***!
  \**************************************************************************************************************************************************************************************************************************************************/
._1qHna8cM_importexportmodal {
  color: #212121;
}
._1qHna8cM_importexportmodal .kd-modal-header {
  height: 48px;
  min-height: 48px;
  -webkit-box-shadow: inset 0px -1px 0px 0px #d9d9d9;
          box-shadow: inset 0px -1px 0px 0px #d9d9d9;
}
._1qHna8cM_importexportmodal .kd-modal-body {
  padding: 0;
}
._1qHna8cM_importexportmodal .kd-modal-footer {
  border-top: none;
}
.SB9gjOz5_importexportmodal_title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.SB9gjOz5_importexportmodal_title > p {
  margin-right: 4px;
  font-size: 16px;
  color: #212121;
  font-weight: var(--kd-nocode-font-weight-bold, 600);
}
.MTuZiiCZ_importexportmodal_body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.ZBhBWqom_importexportmodal_footer {
  height: 48px;
  width: 100%;
  padding-right: 16px;
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

/*!**********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js!../../node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[2].use[3]!./src/web/component/apps/Import/Import.less ***!
  \**********************************************************************************************************************************************************************************************************************************************/
.d2hCC6cD_importmodal {
  --kd-c-form-field-label-font-size: 14px;
  --kd-c-form-field-color: var(--kd-nc-text-1, #212121);
  --kd-c-form-field-label-line-height: 20px;
}
.d2hCC6cD_importmodal [data-erea="table"] {
  margin-bottom: 14px;
}
.d2hCC6cD_importmodal .kd-modal-container-box {
  -webkit-transform: translate(-50%, -50%) !important;
      -ms-transform: translate(-50%, -50%) !important;
          transform: translate(-50%, -50%) !important;
  min-height: 520px !important;
}
.d2hCC6cD_importmodal .kd-modal-body {
  overflow-y: auto;
}
.d2hCC6cD_importmodal .kd-form-field-vertical .kd-form-field-label {
  margin-bottom: 8px;
}
.d2hCC6cD_importmodal .kd-table .kd-table-header-row .resizeable:last-child .kd-table-header-cell-resize {
  display: none;
}
.tNwjkEqo_importmodal_body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 0 24px 24px 24px;
}
.AbSgU-cH_importmodal_body_step1,
.NCw4RZNm_importmodal_body_step2,
.OT7cHJ6p_importmodal_body_step3 {
  min-height: 472px;
  padding: 0;
}
.tNwjkEqo_importmodal_body .kd-steps-icon {
  width: 28px !important;
  height: 28px !important;
}
.tNwjkEqo_importmodal_body .kd-progress {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #212121;
}
.tNwjkEqo_importmodal_body .ExxT7el0_uploadtext {
  font-size: 12px;
  margin-top: 8px;
  color: #999999;
}
.tNwjkEqo_importmodal_body .g9ICstAr_import {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 72px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.tNwjkEqo_importmodal_body .feK33YRs_import_msg {
  margin-top: 16px;
  font-size: 16px;
  color: #212121;
}
.tNwjkEqo_importmodal_body .dWcnnLJz_import_img {
  width: 168px;
  height: 96px;
}
._2K5uruAr_importmodal_step {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 24px;
}
.hB8ppI3T_importmodal_footer {
  height: 48px;
  width: 100%;
  padding-right: 16px;
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.tcdALCTZ_importmodal_footer_btnlist {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
._2j51loFD_importmodal_footer_btn:first-child {
  margin-right: 12px;
}
.b7dHp7yj_upload {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-top: 24px;
  width: 100%;
  height: 320px;
}
.b7dHp7yj_upload .kd-upload {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
}
.b7dHp7yj_upload .kd-upload-drag {
  background: #fafafa;
  height: 100%;
  border-radius: 4px;
}
._2NCvhuXr_upload_add {
  font-size: 16px;
  color: #666666;
  font-weight: bold;
}
.Rf2hHmGb_upload_text {
  font-size: 12px;
  margin-top: 8px;
  color: #999999;
}
.D0PHPf9y_upload_tips {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: 8px;
}
.HHiSB7vH_upload_tips_text {
  color: #212121;
  padding-right: 6px;
}
.a3e\+IEIS_upload_tips_template {
  cursor: pointer;
  color: var(--kd-nc-primary-6, #276ff5);
}
.uBsBqoIb_upload_progress {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 48px;
}
.gMe5E2k4_upload_progress_text {
  margin-top: 16px;
  font-size: 16px;
  color: #212121;
}
.bdJt3EJm_inline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.bdJt3EJm_inline .kd-form-field {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.bdJt3EJm_inline .kd-form-field-wrapper {
  width: 100%;
}
.bdJt3EJm_inline .kd-form-field:last-child {
  margin-right: 0;
}
.bdJt3EJm_inline .kd-form-field .kd-select {
  width: 100%;
}

/*!*********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js!../../node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[2].use[3]!./src/web/component/apps/Import/ImportModalFooter.less ***!
  \*********************************************************************************************************************************************************************************************************************************************************/
.k\+1nazt\+_importmodalfooter {
  height: 48px;
  width: 100%;
  padding-right: 16px;
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.yMC0StEj_importmodalfooter_btnlist {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.hh4YWdAT_importmodalfooter_btn:first-child {
  margin-right: 12px;
}

/*!***********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js!../../node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[2].use[3]!./src/web/component/apps/CircleProgress.less ***!
  \***********************************************************************************************************************************************************************************************************************************************/
.vMeXnDZF_progress {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.vMeXnDZF_progress .kd-progress {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #212121;
}
.vMeXnDZF_progress .kd-progress-circle-path {
  -webkit-transition: none !important;
  transition: none !important;
}
._8XkTAbQ0_progress_img {
  width: 168px;
  height: 96px;
}
._524OUs3d_progress_text {
  margin-top: 16px;
  font-size: 16px;
  color: #212121;
  text-align: center;
  max-width: 350px;
}

/*!*********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js!../../node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[2].use[3]!./src/web/component/apps/Import/ImportDataLoading.less ***!
  \*********************************************************************************************************************************************************************************************************************************************************/
.g\+iOJYWe_importloading {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 96px;
}

/*!**********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js!../../node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[2].use[3]!./src/web/component/apps/Import/ImportExcelPreview.less ***!
  \**********************************************************************************************************************************************************************************************************************************************************/
.yP8ujx4u_importdatapreview {
  padding: 24px 24px 16px 24px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.yP8ujx4u_importdatapreview .puHpR26z_sheetselect {
  width: 100%;
}
.yP8ujx4u_importdatapreview .puHpR26z_sheetselect .kd-form-field-wrapper {
  width: 100%;
}
.yP8ujx4u_importdatapreview .puHpR26z_sheetselect .kd-select {
  width: 100%;
}
.yP8ujx4u_importdatapreview .B6nquH\+U_inline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.yP8ujx4u_importdatapreview .B6nquH\+U_inline .kd-form-field {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.yP8ujx4u_importdatapreview .B6nquH\+U_inline .kd-form-field-wrapper {
  width: 100%;
}
.yP8ujx4u_importdatapreview .B6nquH\+U_inline .kd-form-field:last-child {
  margin-right: 0;
}
.\+0U1uMV9_importdatapreview_datagrid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
}
.\+0U1uMV9_importdatapreview_datagrid .kd-table-header {
  height: 44px;
}

/*!*****************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js!../../node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[2].use[3]!./src/web/component/apps/Import/ImportSetting.less ***!
  \*****************************************************************************************************************************************************************************************************************************************************/
.Azv\+fJj3_importdatasetting {
  padding-top: 24px;
  overflow-y: auto;
}
._4YoE8u27_importdatasetting_fieldlist {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  min-height: 316px;
}
.rhL1NJpS_importdatasetting_pd24 {
  padding: 0 24px;
}
.lgYdy34j_fielditemsetting {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 256px;
  border-top: 1px solid #d9d9d9;
  margin-left: 24px;
}
.lgYdy34j_fielditemsetting:last-child {
  margin-right: 24px;
}
.vAWAmcUd_fielditemsetting_name {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin: 24px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.KaLOz3x9_fielditemsetting_select {
  width: 100%;
}
.YPkFMm4C_fielditemsetting_item {
  width: 100%;
  margin-top: 24px;
}
.XqOn8Us3_fielditemsetting_config {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.lgYdy34j_fielditemsetting .kd-form-field-wrapper {
  width: 100%;
}

/*!*****************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js!../../node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[2].use[3]!./src/web/component/common/Header.less ***!
  \*****************************************************************************************************************************************************************************************************************************************/
.EKFI1FZG_header {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
  background: var(--kd-nc-page-header-color-background);
}
.o69fZx-U_header_main {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 0px;
}

/*!*****************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js!../../node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[2].use[3]!./src/web/component/apps/Import/ImportPreview.less ***!
  \*****************************************************************************************************************************************************************************************************************************************************/
.zsK7eFfj_importpreview {
  padding: 24px 24px 16px 24px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.zsK7eFfj_importpreview [data-erea="table"] {
  margin-bottom: 14px;
}
._6hvW4buh_importpreview_message {
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 24px;
  background: #F2F9FF;
  border: 1px solid #e0efff;
  border-radius: 8px;
  font-size: 14px;
  color: #212121;
  line-height: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.yPxe4W3f_importpreview_message_icon {
  font-size: 16px;
  color: #276ff5;
  margin-right: 9px;
}
.mk-Bq4Bb_importpreview_datagrid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
}
.A7P8r8BB_importpreview_datagrid_tag {
  display: inline-block;
  margin-right: 0;
}
.mk-Bq4Bb_importpreview_datagrid .kd-table-header {
  height: 44px;
}
._58WccCdB_errortext {
  position: relative;
  color: var(--kd-nc-danger-6, #FB2323);
}
.aRwWo-zZ_errortext_tips {
  position: absolute;
  bottom: -12px;
  left: -12px;
  font-size: 12px;
  color: var(--kd-nc-danger-6, #FB2323);
  letter-spacing: 0;
  line-height: 16px;
  font-weight: 400;
  z-index: 5;
  background: var(--kd-nc-danger-2, #FFDBE0);
  padding: 4px 12px;
}

