.TnFWr09\+_grid-attachment-display {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #276FF5;
  cursor: pointer;
  overflow: hidden;
}
.TnFWr09\+_grid-attachment-display .TOzQkwm9_cell_display {
  margin-left: 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 100%;
}
.TnFWr09\+_grid-attachment-display ._36EZfMnJ_thumb_nail_icon {
  height: 16px;
  width: 16px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.TnFWr09\+_grid-attachment-display ._36EZfMnJ_thumb_nail_icon img {
  height: 100%;
  width: 100%;
}
.TnFWr09\+_grid-attachment-display:hover .TOzQkwm9_cell_display {
  color: #5797FF;
}
.TnFWr09\+_grid-attachment-display:hover img {
  opacity: 0.4;
}

.curHQNJ\+_grid-picture-display {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #276FF5;
  cursor: pointer;
  width: 100%;
  overflow: hidden;
}
.curHQNJ\+_grid-picture-display .qMYrp7Uy_display_name {
  margin-left: 8px;
  display: inline-block;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.curHQNJ\+_grid-picture-display img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}
.curHQNJ\+_grid-picture-display:hover .qMYrp7Uy_display_name {
  color: #5797FF;
}
.curHQNJ\+_grid-picture-display:hover img {
  opacity: 0.4;
}

.jiG0diyX_grid-table-display {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--kd-nc-primary-6, #276FF5);
  cursor: pointer;
}
.jiG0diyX_grid-table-display .Qy9\+ArIa_display_name {
  margin-left: 4px;
  line-height: 100%;
}
.jiG0diyX_grid-table-display:hover .Qy9\+ArIa_display_name {
  color: var(--kd-nc-primary-5, #5797FF);
}
.jiG0diyX_grid-table-display:hover i {
  opacity: 0.4;
}

.XH4hFa41_grid-select-wrapper {
  max-height: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.XH4hFa41_grid-select-wrapper .u-yamx2w_grid-select {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.XH4hFa41_grid-select-wrapper .WiqFM6pc_grid-select-item {
  display: inline-block;
}
.XH4hFa41_grid-select-wrapper .WiqFM6pc_grid-select-item:not(:only-child) {
  margin: 0 4px 0 0 !important;
}

.jR\+OiT2f_value {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.a73NVil8_opcolumncellrenderer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.PlzFeTmg_opcolumncellrenderer_item:not(:first-child) {
  margin-left: 24px;
}

.-Tj-xP0G_wrapper {
  cursor: pointer;
}
.-Tj-xP0G_wrapper:hover ._95Yqbz-f_icon {
  color: var(--kd-nc-primary-6);
}

._09fHbzy9_grid-field-modal {
  position: absolute !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
._09fHbzy9_grid-field-modal .kd-modal-mask {
  position: absolute;
}
._09fHbzy9_grid-field-modal .kd-modal-container-box {
  height: initial !important;
  -webkit-transform: none !important;
      -ms-transform: none !important;
          transform: none !important;
  max-height: 520px;
  overflow: hidden;
  z-index: 1;
  position: static;
  top: none;
  left: none;
}
._09fHbzy9_grid-field-modal .kd-modal-title-container {
  overflow: hidden;
}
._09fHbzy9_grid-field-modal .kd-modal-body {
  padding: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}
._09fHbzy9_grid-field-modal .kd-modal-footer {
  border-top: none !important;
}
._3LcH2Q2d_grid-field-modal-footer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 14px;
  background: #f8f8f8;
}
.DZ4ksU6n_grid-field-modal-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
._9NFAH3ZZ_grid-field-modal-title-label {
  font-size: 16px;
  color: #212121;
  letter-spacing: 0;
  height: 24px;
  line-height: 24px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fYv9ZZjM_dropdown {
  min-width: 280px;
  max-height: 520px;
  max-width: 400px;
}
._6niq7To5_dropdown-container {
  padding: 0;
}
._6niq7To5_dropdown-container::before {
  display: none;
}
._6niq7To5_dropdown-container:after {
  display: none;
}
.OV3a1DPs_list {
  font-size: 14px;
  padding: 4px 0;
  max-height: 292px;
  overflow-y: hidden;
}
.OV3a1DPs_list:hover {
  overflow-y: auto;
}
.CRDGLVgk_item-selected {
  background-color: var(--kd-nc-primary-2, #E0EFFF);
}
.GUyN\+Kfw_item-hover {
  background-color: #F5F5F5;
}
.tzDmFpSV_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 36px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  padding: 0px 12px;
}
.tzDmFpSV_item .QWEZNUj3_analysis {
  cursor: pointer;
  margin-left: 12px;
  color: #666;
}
.tzDmFpSV_item .wU2jA0O-_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}
.tzDmFpSV_item .wU2jA0O-_content .GxkIOr-t_label {
  color: #212121;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tzDmFpSV_item .wU2jA0O-_content .qdPliBxJ_comma {
  color: #212121;
}
.tzDmFpSV_item .wU2jA0O-_content ._8v9onDl4_value {
  color: #999999;
}
.tzDmFpSV_item .wU2jA0O-_content .dsvPPAoo_footer-value {
  color: #212121;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tzDmFpSV_item .wU2jA0O-_content .MYBl180h_footer-comma {
  color: #999999;
}
.tzDmFpSV_item .wU2jA0O-_content .VbvB6vdF_footer-label {
  color: #999999;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 28px;
}
.S8eSWiHZ_footer {
  border-top: 1px solid #E5E5E5;
  padding: 4px 0;
  font-size: 14px;
}
.i5kwv7Y8_cell {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 12px;
  max-height: 44px;
}
.i5kwv7Y8_cell .wU2jA0O-_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}
.i5kwv7Y8_cell .wU2jA0O-_content ._3qrFC0yM_cell-empty-tips {
  display: none;
  color: #999999;
}
.i5kwv7Y8_cell .wU2jA0O-_content .koVY9YWv_show_tips {
  display: block;
}
.i5kwv7Y8_cell .wU2jA0O-_content .tzDmFpSV_item {
  display: none;
  padding: 0;
  width: 100%;
}
.i5kwv7Y8_cell .wU2jA0O-_content .oz25Uici_show_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.i5kwv7Y8_cell .puBTweSc_drop-icon {
  display: none;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  margin-left: 10px;
}
.i5kwv7Y8_cell .SQIgodXP_drop-down-visible {
  display: block;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.i5kwv7Y8_cell:hover {
  background-color: #E5E5E5;
  cursor: pointer;
}
.i5kwv7Y8_cell:hover .puBTweSc_drop-icon {
  display: block;
}

._2yex\+F-Q_picture > div:nth-child(5n) {
  margin-right: 0;
}

.vY3iRX5D_tablecellviewer {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -webkit-flex-direction: column !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}
.vY3iRX5D_tablecellviewer .kd {
  --font-size: 14px;
  --row-height: 44px;
  --header-cell-border-horizontal: 1px solid #D9D9D9;
  --lock-shadow: #d9d9d9 0 0 6px 2px;
  --hover-color: #F5F5F5;
  --highlight-bgcolor: #E0EFFF;
}
.vY3iRX5D_tablecellviewer .kd-filter-trigger:not(.active) {
  visibility: hidden;
}
.vY3iRX5D_tablecellviewer .kd-filter-trigger {
  cursor: pointer;
}
.vY3iRX5D_tablecellviewer .kd-filter-icon:hover {
  color: #276FF5;
}
.vY3iRX5D_tablecellviewer .kd-table-header-cell:hover .kd-filter-trigger {
  visibility: visible;
}
.vY3iRX5D_tablecellviewer .kd-table-wrapper {
  overflow: hidden;
  height: 100%;
}
.vY3iRX5D_tablecellviewer .kd-table-wrapper .kd-loading-wrapper {
  height: auto !important;
}
.vY3iRX5D_tablecellviewer .kd-table-wrapper .kd-table-header-cell {
  border-right: 1px solid #D9D9D9;
  background-color: #FAFAFA;
}
.vY3iRX5D_tablecellviewer .kd-table-wrapper .kd-table-body .kd-table-cell:not(.kd-first.kd-last) {
  border-right: 1px solid #D9D9D9;
}
.vY3iRX5D_tablecellviewer .kd-table-wrapper .kd-table-footer .kd-table-cell.kd-first .kd-checkbox {
  display: none;
}
.vY3iRX5D_tablecellviewer .kd-table-wrapper .kd-table-footer .kd-table-cell.kd-lock-right {
  right: 0;
}
.vY3iRX5D_tablecellviewer .kd-table-wrapper .kd-loading-content-wrapper {
  overflow: hidden;
}
.vY3iRX5D_tablecellviewer .kd-table-wrapper .kd-loading-content-wrapper .kd-table-body {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.vY3iRX5D_tablecellviewer tfoot .kd-table-cell {
  padding: 0;
  border-top: none;
  background: #F8F8F8;
  height: 44px;
}
.vY3iRX5D_tablecellviewer .kd-sticky-scroll {
  height: auto !important;
}
._53OP0lk1_tablecellviewer_pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 16px;
}
._53OP0lk1_tablecellviewer_pagination {
  --kd-c-dropdown-item-color-background-hover: #E0EFFF;
}
._53OP0lk1_tablecellviewer_pagination .kd-pagination.nicety .kd-pagination-pages-item button,
._53OP0lk1_tablecellviewer_pagination .kd-pagination-options .kd-dropdown-trigger {
  height: 28px !important;
  width: 28px;
}
._53OP0lk1_tablecellviewer_pagination .kd-pagination.nicety .kd-pagination-options {
  height: 28px;
  white-space: nowrap;
  margin-left: 16px;
}
._53OP0lk1_tablecellviewer_pagination .kd-pagination .kd-pagination-total {
  font-size: 14px;
}
._53OP0lk1_tablecellviewer_pagination .kd-pagination.nicety .kd-pagination-options span {
  font-size: 14px;
  color: #666;
}
._53OP0lk1_tablecellviewer_pagination .kd-pagination.nicety .kd-pagination-pages-item:not(:last-child) {
  margin-right: 8px;
}
._53OP0lk1_tablecellviewer_pagination .kd-pagination.nicety .kd-pagination-pages-item:not(:last-child) button:disabled {
  background-color: #f5f5f5;
}
._53OP0lk1_tablecellviewer_pagination .kd-pagination.nicety .kd-pagination-options .kd-pagination-options-size i:hover {
  color: #276FF5;
}
._53OP0lk1_tablecellviewer_pagination .kd-dropdown-trigger.kd-pagination-options-size {
  width: 72px;
}
._53OP0lk1_tablecellviewer_pagination .kd-dropdown-menu-item {
  height: 28px;
}

._0UB252Uu_richtext-viewer-modal .kd-modal-container-box {
  max-height: 800px;
}
._0UB252Uu_richtext-viewer-modal .kd-modal-container-box .kd-modal-body {
  overflow: auto;
  padding: 20px;
}
._0UB252Uu_richtext-viewer-modal a {
  text-decoration: underline;
  color: -webkit-link;
}
._0UB252Uu_richtext-viewer-modal .Y0CQ2beG_readonly_text {
  font-size: 12px;
}

.MFLFqEHz_turnpage {
  position: fixed;
  bottom: 96px;
  right: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  --kdm-c-button-primary-color-text: #212121;
  --kdm-c-button-primary-color-background: #ffffff;
  --kdm-c-button-primary-color-border: #ffffff;
  --kdm-c-button-sizing-height-large: 48px;
  --kdm-c-button-primary-color-background-active: rgba(0, 0, 0, 0.1);
  --kdm-c-button-primary-color-border-active: rgba(0, 0, 0, 0.1);
  --kdm-c-button-primary-color-background-disabled: #ffffff;
  --kdm-c-button-primary-color-border-disabled: #ffffff;
}
.D3yGHU7a_turnpage_btn {
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.04), 0px 4px 4px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.04), 0px 4px 4px 0 rgba(0, 0, 0, 0.08);
}
.D3yGHU7a_turnpage_btn:disabled {
  opacity: 0.5;
}
.D3yGHU7a_turnpage_btn:not(:last-child) {
  margin-bottom: 16px;
}
.bmmadA6y_turnpage_btn_icon {
  font-size: 24px;
}

.ow7EE-RU_flow_btn {
  color: #666;
  margin-right: 4px;
  padding-top: 3px;
  height: 36px;
  cursor: pointer;
}
.ow7EE-RU_flow_btn i {
  font-size: 20px;
  margin-left: 10px;
  margin-bottom: 4px;
}
.ow7EE-RU_flow_btn p {
  line-height: 1;
  font-size: 12px;
  -webkit-transform: scale(0.83);
      -ms-transform: scale(0.83);
          transform: scale(0.83);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
}
.T\+o-EPHA_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  overflow-y: auto;
}
.T\+o-EPHA_container .M7bNehME_title {
  font-size: 16px;
  line-height: 24px;
  padding: 12px;
  font-weight: var(--kd-nocode-font-weight-bold, 600);
}
.T\+o-EPHA_container .uONZ4Sr7_main {
  position: relative;
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  overflow-y: auto;
}
.T\+o-EPHA_container .uONZ4Sr7_main .vOsy-7UN_shareButton {
  position: absolute;
  top: 32px;
  right: 12px;
}

._9XUh7nPh_success .jKJFoPe6_dot::after {
  border-left-color: var(--kd-nc-success-6);
}
._9XUh7nPh_success .jKJFoPe6_dot p {
  background-color: var(--kd-nc-success-6);
}
._9XUh7nPh_success .jKJFoPe6_dot p i,
._9XUh7nPh_success .NRcsuMJh_title .NKFmk0JX_state,
._9XUh7nPh_success .GGIhTJYm_info .E6aBzt3v_flag {
  color: var(--kd-nc-success-6) !important;
}
.iyFH6FMi_error .jKJFoPe6_dot::after {
  border-left-color: var(--kd-nc-danger-6);
}
.iyFH6FMi_error .jKJFoPe6_dot p {
  background-color: var(--kd-nc-danger-6);
}
.iyFH6FMi_error .jKJFoPe6_dot p i,
.iyFH6FMi_error .NRcsuMJh_title .NKFmk0JX_state,
.iyFH6FMi_error .GGIhTJYm_info .E6aBzt3v_flag {
  color: var(--kd-nc-danger-6) !important;
}
.XUizVfz5_warning .jKJFoPe6_dot::after {
  border-left-color: var(--kd-nc-warning-6);
}
.XUizVfz5_warning .jKJFoPe6_dot p {
  background-color: var(--kd-nc-warning-6);
}
.XUizVfz5_warning .jKJFoPe6_dot p i,
.XUizVfz5_warning .NRcsuMJh_title .NKFmk0JX_state,
.XUizVfz5_warning .GGIhTJYm_info .E6aBzt3v_flag {
  color: var(--kd-nc-warning-6) !important;
}
.pynC4FIZ_going .jKJFoPe6_dot::after {
  border-left-color: var(--kd-nc-message-6);
}
.pynC4FIZ_going .jKJFoPe6_dot p {
  background-color: var(--kd-nc-message-6);
}
.pynC4FIZ_going .jKJFoPe6_dot p i,
.pynC4FIZ_going .NRcsuMJh_title .NKFmk0JX_state,
.pynC4FIZ_going .GGIhTJYm_info .E6aBzt3v_flag {
  color: var(--kd-nc-message-6) !important;
}
.rVwSA6gf_reject .jKJFoPe6_dot::after {
  border-left-color: var(--kd-nc-text-3);
}
.rVwSA6gf_reject .jKJFoPe6_dot p {
  background-color: var(--kd-nc-text-3);
}
.rVwSA6gf_reject .jKJFoPe6_dot p i,
.rVwSA6gf_reject .NRcsuMJh_title .NKFmk0JX_state,
.rVwSA6gf_reject .GGIhTJYm_info .E6aBzt3v_flag {
  color: var(--kd-nc-text-3) !important;
}
.AOlOJisH_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.AOlOJisH_item:not(:last-child) {
  padding-bottom: 29px;
}
.AOlOJisH_item:last-child .jKJFoPe6_dot::after {
  height: 0;
}
.AOlOJisH_item .jKJFoPe6_dot {
  margin-right: 12px;
  position: relative;
  width: 8px;
}
.AOlOJisH_item .jKJFoPe6_dot p {
  position: absolute;
  top: 8px;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  z-index: 1;
}
.AOlOJisH_item .jKJFoPe6_dot::after {
  content: '';
  position: absolute;
  left: 3px;
  top: 16px;
  bottom: -40px;
  width: 1px;
  border-left-style: dotted;
  border-left-width: 1px;
  z-index: 0;
}
.AOlOJisH_item .GGIhTJYm_info {
  color: #212121;
  font-size: 14px;
  line-height: 20px;
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  overflow: hidden;
  padding-bottom: 3px;
}
.AOlOJisH_item .GGIhTJYm_info > div:not(:last-child) {
  margin-bottom: 16px;
}
.AOlOJisH_item .GGIhTJYm_info .NRcsuMJh_title div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4px;
}
.AOlOJisH_item .GGIhTJYm_info .NRcsuMJh_title div p {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-size: 16px;
  line-height: 24px;
  font-weight: var(--kd-nocode-font-weight-bold, 600);
  word-break: break-all;
}
.AOlOJisH_item .GGIhTJYm_info .NRcsuMJh_title div .kdm-btn {
  font-size: 12px;
  line-height: 24px;
}
.AOlOJisH_item .GGIhTJYm_info .\+5G4IBAL_usr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  overflow: hidden;
}
.AOlOJisH_item .GGIhTJYm_info .\+5G4IBAL_usr p {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  color: var(--kd-nc-text-2, #666);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.AOlOJisH_item .GGIhTJYm_info .kdm-avatar {
  width: 100%;
  height: 100%;
}
.AOlOJisH_item .GGIhTJYm_info .kdicon {
  font-size: 36px;
  line-height: 1;
}
.AOlOJisH_item .GGIhTJYm_info .sXJFkmaL_editor {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.AOlOJisH_item .GGIhTJYm_info .sXJFkmaL_editor .bNyqF9pn_icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 12px;
  margin-top: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.AOlOJisH_item .GGIhTJYm_info .sXJFkmaL_editor .bNyqF9pn_icon i {
  font-size: 22px;
  color: #fff;
}
.AOlOJisH_item .GGIhTJYm_info .sXJFkmaL_editor .bNyqF9pn_icon .E6aBzt3v_flag {
  width: 16px;
  height: 16px;
  font-size: 16px;
  border-radius: 50%;
  position: absolute;
  right: -3px;
  bottom: -3px;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.AOlOJisH_item .GGIhTJYm_info .sXJFkmaL_editor span {
  font-size: 12px;
  color: #999999;
  line-height: 16px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.AOlOJisH_item .GGIhTJYm_info .CWsTQG3Z_Auditor {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.AOlOJisH_item .GGIhTJYm_info .CWsTQG3Z_Auditor p {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #666;
  width: 60px;
  margin-right: 12px;
  margin-bottom: 12px;
}
.AOlOJisH_item .GGIhTJYm_info .CWsTQG3Z_Auditor p .kdm-avatar {
  width: 32px;
  height: 32px;
  margin-bottom: 12px;
}
.AOlOJisH_item .GGIhTJYm_info .CWsTQG3Z_Auditor p span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  text-align: center;
}
.AOlOJisH_item .GGIhTJYm_info .OV6hQAAD_handler {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  overflow: hidden;
}
.AOlOJisH_item .GGIhTJYm_info .\+xnDFcZn_des {
  font-size: 16px;
  line-height: 24px;
  white-space: pre-wrap;
  word-break: break-all;
}
.OZnUlsId_node .jKJFoPe6_dot::after {
  bottom: -48px;
}
.ybdbi0Um_launch .jKJFoPe6_dot::after {
  border-left-color: var(--kd-nc-success-6);
}
.ybdbi0Um_launch .jKJFoPe6_dot p {
  background-color: var(--kd-nc-success-6);
}
.ybdbi0Um_launch .jKJFoPe6_dot p i,
.ybdbi0Um_launch .NRcsuMJh_title .NKFmk0JX_state,
.ybdbi0Um_launch .GGIhTJYm_info .E6aBzt3v_flag {
  color: var(--kd-nc-success-6) !important;
}
.ybdbi0Um_launch .sXJFkmaL_editor {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.ybdbi0Um_launch .OV6hQAAD_handler div:last-child {
  color: var(--kd-nc-success-6);
}
.ybdbi0Um_launch .\+5G4IBAL_usr p {
  font-size: 16px;
  line-height: 24px;
  color: var(--kd-nc-text-1, #212121) !important;
  font-weight: var(--kd-nocode-font-weight-bold);
}
.ybdbi0Um_launch .jKJFoPe6_dot p {
  top: 18px;
}
.BlWVwbIL_finish .jKJFoPe6_dot p {
  width: 16px;
  height: 16px;
  left: -4px;
  top: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
}
.BlWVwbIL_finish .jKJFoPe6_dot p i {
  line-height: 1;
}

.aWVKeVfC_apply {
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  background: #FFFFFF;
  padding: 12px;
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
.aWVKeVfC_apply ._2PNIUhVY_list ._5AM5dhQY_node .kdm-nc-flow-dot::after {
  bottom: -48px;
}

.rgzi6rPV_flow_pop .kdm-popup-container-box {
  border-radius: 12px 12px 0 0;
}
.rgzi6rPV_flow_pop .kdm-popup-body {
  padding: 0;
}
.rgzi6rPV_flow_pop .t0P75obP_process_item {
  font-size: 14px;
  color: #212121;
  line-height: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 44px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 12px;
}
.rgzi6rPV_flow_pop .t0P75obP_process_item .-w7GUqea_tag {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 2px 8px;
  font-size: 12px;
  line-height: 16px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: var(--kd-nc-text-1, #212121) !important;
}
.rgzi6rPV_flow_pop .t0P75obP_process_item div:nth-child(1) {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  word-break: break-all;
  margin-right: 12px;
}
.rgzi6rPV_flow_pop .t0P75obP_process_item .rn9zLWin_success {
  background-color: var(--kd-nc-success-2) !important;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 2px 8px;
  font-size: 12px;
  line-height: 16px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: var(--kd-nc-text-1, #212121) !important;
}
.rgzi6rPV_flow_pop .t0P75obP_process_item .xTl3lHIg_error {
  background-color: var(--kd-nc-danger-2) !important;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 2px 8px;
  font-size: 12px;
  line-height: 16px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: var(--kd-nc-text-1, #212121) !important;
}
.rgzi6rPV_flow_pop .t0P75obP_process_item .ucWNRW4V_warning {
  background-color: var(--kd-nc-warning-2) !important;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 2px 8px;
  font-size: 12px;
  line-height: 16px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: var(--kd-nc-text-1, #212121) !important;
}
.rgzi6rPV_flow_pop .t0P75obP_process_item .LuDWXsMN_going {
  background-color: var(--kd-nc-message-2) !important;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 2px 8px;
  font-size: 12px;
  line-height: 16px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: var(--kd-nc-text-1, #212121) !important;
}
.rgzi6rPV_flow_pop .t0P75obP_process_item .YWgJILMn_reject {
  background-color: var(--kd-nc-fill-2) !important;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 2px 8px;
  font-size: 12px;
  line-height: 16px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: var(--kd-nc-text-1, #212121) !important;
}

.DHzbpUGb_share_button {
  width: 46px;
  font-size: 12px;
  color: #666666;
  letter-spacing: 0;
  line-height: 16px;
  z-index: 1;
}
.DHzbpUGb_share_button:active {
  opacity: 0.5;
}
.hxraoRYV_with_background_img {
  color: #FFFFFF;
  opacity: 0.8;
}
.hxraoRYV_with_background_img:active {
  opacity: 1;
}

.kdm-date-picker {
  z-index: 1052 !important;
}
.x7UMSaHx_shareModal .kdm-popup-body {
  max-height: calc(100vh - 80px - 49px);
  padding: 0;
}
.x7UMSaHx_shareModal .kdm-popup-title {
  font-size: 16px;
  color: #212121;
  letter-spacing: 0;
  line-height: 24px;
  font-weight: bold;
}
.x7UMSaHx_shareModal .YAT8e0Zi_shareModal_body {
  padding-bottom: calc(48px + 12px);
}
.x7UMSaHx_shareModal .GZqdIVpL_fieldItem {
  padding: 10px 14px;
}
.x7UMSaHx_shareModal .GZqdIVpL_fieldItem .CNfkRPgV_radio {
  border: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.x7UMSaHx_shareModal .GZqdIVpL_fieldItem .CNfkRPgV_radio {
  --kdm-c-radio-square-sizing-width-height: 16px;
  --kdm-c-radio-radius-border-width-active: 5px;
  --kdm-c-radio-font-size: 14px;
}
.x7UMSaHx_shareModal .GZqdIVpL_fieldItem .CNfkRPgV_radio .kdm-radio-line {
  display: none;
}
.x7UMSaHx_shareModal .GZqdIVpL_fieldItem .CNfkRPgV_radio .kdm-radio {
  padding: 0 24px 0 16px;
  min-height: auto;
}
.x7UMSaHx_shareModal .GZqdIVpL_fieldItem .CNfkRPgV_radio .kdm-radio::before {
  top: 3px;
  left: 0;
}
.x7UMSaHx_shareModal .GZqdIVpL_fieldItem .CNfkRPgV_radio .kdm-radio::after {
  opacity: 0;
}
.x7UMSaHx_shareModal .GZqdIVpL_fieldItem .CNfkRPgV_radio .kdm-radio .kdm-radio-input {
  width: calc(100% - 24px);
}
.x7UMSaHx_shareModal .GZqdIVpL_fieldItem ._1ydgkl\+X_datePicker {
  margin-top: 12px;
}
.f\+4DeF24_content {
  border-radius: 8px;
  overflow: hidden;
}
.f\+4DeF24_content .u1njDPh-_header {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 72px;
}
.f\+4DeF24_content .u1njDPh-_header .lj8bPiCR_backgroundImg img {
  width: 100%;
  height: 100%;
}
.f\+4DeF24_content .u1njDPh-_header .XpcL6\+oX_QRCodeBox {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px;
  background-color: #FFFFFF;
  top: 10px;
  right: 14px;
}
.f\+4DeF24_content .QRz66C7h_appInfo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: calc(100% - 72px);
  padding: 12px;
}
.f\+4DeF24_content .QRz66C7h_appInfo .\+dFIXB\+H_appImg {
  padding-top: 4px;
  padding-right: 8px;
}
.f\+4DeF24_content .QRz66C7h_appInfo .\+dFIXB\+H_appImg img {
  width: 32px;
  height: 32px;
  border-radius: 8px;
}
.f\+4DeF24_content .QRz66C7h_appInfo .aGr1uZlL_appDesc ._3GMznPQf_appName {
  font-size: 14px;
  color: #212121;
  letter-spacing: 0;
  line-height: 20px;
  font-weight: bold;
}
.f\+4DeF24_content .QRz66C7h_appInfo .aGr1uZlL_appDesc .WZbj8hM0_helpWords {
  font-size: 12px;
  color: #666666;
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 4px;
}
.TCLc9o1W_bottom_toobar .kdm-popup-close-icon {
  display: none;
}
.TCLc9o1W_bottom_toobar .kdm-popup-body {
  background-color: #F8FAFC;
  padding: 8px 0 0 0;
  border-radius: 12px 12px 0px 0px;
}
.TCLc9o1W_bottom_toobar .ZciSo0Q0_shareItems_box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
}
.TCLc9o1W_bottom_toobar .ZciSo0Q0_shareItems_box ._4jT5ay24_shareItem {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 8px;
}
.TCLc9o1W_bottom_toobar .ZciSo0Q0_shareItems_box ._4jT5ay24_shareItem ._5shteH1h_iconBox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  width: 56px;
  height: 56px;
  border-radius: 7px;
}
.TCLc9o1W_bottom_toobar .ZciSo0Q0_shareItems_box ._4jT5ay24_shareItem ._5shteH1h_iconBox .q5A2e7Fv_icon {
  font-size: 28px;
  color: #686868;
}
.TCLc9o1W_bottom_toobar .ZciSo0Q0_shareItems_box ._4jT5ay24_shareItem ._39DpVkUF_share_text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  color: #666666;
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 8px;
}
.TCLc9o1W_bottom_toobar ._8c4S6HCQ_toobar_cancel {
  width: 100%;
  background-color: #FFFFFF;
  font-size: 16px;
  color: #212121;
  letter-spacing: 0;
  text-align: center;
  padding: 12px 16px;
}

.P4JiD7Lg_footerbtns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 48px;
  padding: 0 6px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid var(--kd-nc-border-1, #e5e5e5);
  position: fixed;
  bottom: 0;
  background-color: #FFFFFF;
}
.P4JiD7Lg_footerbtns .kdm-btn {
  padding: 8px;
}
.P4JiD7Lg_footerbtns .KSTYsSPi_button {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  width: 109px;
  margin: 6px;
}

.ZL0DkNTK_modal {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
.ZL0DkNTK_modal .wAB3h9mZ_modal_content {
  background: #FFFFFF;
  border-radius: 8px;
  overflow: hidden;
  width: 328px;
  z-index: 3001;
}
.ZL0DkNTK_modal .mHqH2Si5_model_abs {
  position: absolute;
}

._1LNk5w1O_sharemodal .kd-modal-header {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  height: 48px;
  -webkit-box-shadow: inset 0px -1px 0px 0px #d9d9d9;
          box-shadow: inset 0px -1px 0px 0px #d9d9d9;
}
._1LNk5w1O_sharemodal .kd-modal-container-box {
  height: auto !important;
  -webkit-transform: translate(-50%, -50%) !important;
      -ms-transform: translate(-50%, -50%) !important;
          transform: translate(-50%, -50%) !important;
  max-height: calc(100vh - 64px);
}
._1LNk5w1O_sharemodal .kd-radio {
  padding-bottom: 0 !important;
}
._1LNk5w1O_sharemodal .kd-radio:not(:last-child) {
  margin-bottom: 0 !important;
}
.axPFi-co_sharemodal_footer {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 100%;
  height: 100%;
  padding-right: 16px;
  background-color: #f8f8f8;
  border-radius: 0 0 8px 8px;
}
.gr6v8Ojp_sharemodal_footer_action_btn {
  border-radius: 4px;
}
.gr6v8Ojp_sharemodal_footer_action_btn:not(:last-child) {
  margin-right: 12px;
}
.\+3K4jlN2_sharemodal_body {
  padding: 24px 24px 0 24px !important;
}
.fOVhw4SQ_sharemodal_body_item {
  margin-bottom: 24px;
}
.n8Mi7rcc_sharemodal_body_item_name {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 20px;
  color: #212121;
  font-weight: 400;
}
.n8Mi7rcc_sharemodal_body_item_name span {
  width: 10px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 20px;
  color: var(--kd-nc-danger-6, #FB2323);
}
.BsEO50yZ_sharemodal_body_item_input {
  width: 100%;
  font-size: 14px !important;
}
._5PkuYdVv_sharemodal_body_item_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
._5PkuYdVv_sharemodal_body_item_content .\+OJTo7-8_poster_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 488px;
  background: #FFFFFF;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
}
._5PkuYdVv_sharemodal_body_item_content .\+OJTo7-8_poster_wrapper .XH0BSZAz_poster_img {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 14px;
  background-size: cover;
  height: 120px;
  width: 100%;
  z-index: 1;
  border-radius: 8px 8px 0 0;
}
._5PkuYdVv_sharemodal_body_item_content .\+OJTo7-8_poster_wrapper .Lcyx6tSh_poster_img_qrcode {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 92px;
  height: 92px;
  border: 2px solid #ffffff;
  background-color: #fff;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
._5PkuYdVv_sharemodal_body_item_content .\+OJTo7-8_poster_wrapper .sS9zePAb_poster_img_qrcode_content {
  width: 88px !important;
  height: 88px !important;
}
._5PkuYdVv_sharemodal_body_item_content .\+OJTo7-8_poster_wrapper .Lcyx6tSh_poster_img_qrcode ._4Dqcd\+j8_qrcode_icon {
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -8px;
  background: #ffffff;
  color: var(--kd-c-button-primary-color-background);
}
._5PkuYdVv_sharemodal_body_item_content .\+OJTo7-8_poster_wrapper .jrFuvcjb_poster_element {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 12px;
  width: 100%;
}
._5PkuYdVv_sharemodal_body_item_content .\+OJTo7-8_poster_wrapper .DPGVB7X9_poster_element_logo {
  margin-top: 4px;
  border-radius: 4px;
  width: 40px;
  height: 40px;
}
._5PkuYdVv_sharemodal_body_item_content .\+OJTo7-8_poster_wrapper .pkj-AFVp_poster_element_content {
  margin-left: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
}
._5PkuYdVv_sharemodal_body_item_content .\+OJTo7-8_poster_wrapper ._8Ojrz3JW_poster_element_content_title {
  color: #212121;
  width: 264px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
  /*! autoprefixer: on */
}
._5PkuYdVv_sharemodal_body_item_content .\+OJTo7-8_poster_wrapper .\+ib9mFDt_poster_element_content_detail {
  color: #666666;
  margin-top: 4px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
._5PkuYdVv_sharemodal_body_item_content .\+OJTo7-8_poster_wrapper .\+ib9mFDt_poster_element_content_detail .iv2NHCiB_name {
  margin-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.y853JyMR_sharemodal_body_item_btnlist {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 16px;
}
._0JVjB0JM_sharemodal_body_item_btn:not(:last-child) {
  margin-bottom: 12px;
}
._2Bo\+h9n9_sharemodal_body_item_datepicker {
  margin-top: 12px;
  width: 100%;
}
.AkzbBbQQ_sharemodal_body_inline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.AkzbBbQQ_sharemodal_body_inline .fOVhw4SQ_sharemodal_body_item {
  margin-bottom: 0;
}

.XQatMAc8_footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 6px 12px;
  min-height: 48px;
  -webkit-box-shadow: inset 0px 0.5px 0px 0px #e5e5e5;
          box-shadow: inset 0px 0.5px 0px 0px #e5e5e5;
  padding-bottom: constant(safe-area-inset-bottom);
  /* 兼容 iOS < 11.2 */
  padding-bottom: env(safe-area-inset-bottom);
  /* 兼容 iOS >= 11.2 */
}
.XQatMAc8_footer:empty {
  display: none;
}
.XQatMAc8_footer button {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  min-width: auto;
}
.XQatMAc8_footer button:not(:last-child) {
  margin-right: 12px;
}

