.Qut-U843_home .BGyx2ezJ_welcome_poster {
  padding: 24px 12px 13px 12px;
}
.Qut-U843_home .BGyx2ezJ_welcome_poster .WsAToSt0_welcome_words {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  color: #212121;
  letter-spacing: 0;
  line-height: 32px;
  font-weight: bold;
  margin-bottom: 4px;
}
.Qut-U843_home .BGyx2ezJ_welcome_poster .KqfkXuPE_welcome_proverb {
  font-size: 12px;
  color: #666666;
  letter-spacing: 0;
  line-height: 16px;
}
.Qut-U843_home ._6G6eSdrV_card_container {
  margin: 12px;
}
.Qut-U843_home ._6G6eSdrV_card_container .kd-card {
  -webkit-box-shadow: var(--card-shadow-default);
          box-shadow: var(--card-shadow-default);
}
._1p1yWL7w_noCardBox {
  margin-top: 106px;
  text-align: center;
}
._1p1yWL7w_noCardBox img {
  width: 240px;
}
._1p1yWL7w_noCardBox .K8BTtzEl_noCardTips {
  font-size: 16px;
  color: #212121;
  text-align: center;
  line-height: 24px;
  margin-top: 24px;
}
.egZWPhFQ_task_card {
  margin: 12px 0;
}

.L5zgnoVe_addpopout .kdm-popup-body {
  padding: 0;
  max-height: calc(100vh - 80px - 49px);
}
.L5zgnoVe_addpopout .kdm-popup-header {
  border: 0;
}
.L5zgnoVe_addpopout .I6-h3DzN_search_box {
  padding: 8px 12px;
}
.rD5O6WvF_fix_height .kdm-popup-body {
  height: calc(100vh - 80px - 49px);
}

.g7fGG90V_search {
  height: 28px;
  background-color: #F5F5F5;
  border: none;
  --kdm-c-input-color-background: #F5F5F5;
}
.bcvsVNh\+_search_icon {
  font-size: 16px;
  padding: 6px 4px 6px 8px;
}

.vILqtTYe_statCard {
  position: relative;
  height: 352px;
  background: #FFFFFF;
  margin: 12px 0;
  border-radius: 8px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-shadow: var(--card-shadow-default);
          box-shadow: var(--card-shadow-default);
}
.vILqtTYe_statCard .Cuf\+6f4w_title {
  height: 40px;
  font-size: 14px;
  font-weight: bold;
  color: #212121;
  letter-spacing: 0;
  line-height: 20px;
  padding-top: 12px;
  padding-left: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.vILqtTYe_statCard .pB0ocX9z_msg_wrapper {
  width: 100%;
  height: 312px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.vILqtTYe_statCard .pB0ocX9z_msg_wrapper .jTi7HHTg_tips {
  font-size: 14px;
  color: #999999;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}

.-GqcdbnW_displaycard_wrapper {
  margin: 12px 0;
}
.-GqcdbnW_displaycard_wrapper .TCck5u5P_sliderMode {
  position: relative;
}
.-GqcdbnW_displaycard_wrapper .TCck5u5P_sliderMode .kdm-swiper-indicator-wrapper {
  display: none;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .kdm-swiper-indicator-wrapper {
  bottom: 12px;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .kdm-swiper-indicator-wrapper .kdm-swiper-indicator-dot {
  width: 8px;
  height: 4px;
  border-radius: 2px;
  margin-right: 8px;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .kdm-swiper-indicator-wrapper .kdm-swiper-indicator-dot-active {
  background-color: var(--kd-nc-primary-6);
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .XMujDePo_itemsBox {
  padding-bottom: 24px;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .d5BbRVNb_columnItemsBox {
  display: grid;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .d5BbRVNb_columnItemsBox .z2MyD8t4_wrapper {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 0;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .d5BbRVNb_columnItemsBox .z2MyD8t4_wrapper .HH8lVhvN_link {
  width: 100%;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .d5BbRVNb_columnItemsBox .z2MyD8t4_wrapper .HH8lVhvN_link .FQz3GWuT_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .d5BbRVNb_columnItemsBox .z2MyD8t4_wrapper .HH8lVhvN_link .FQz3GWuT_item .j\+msTIdt_desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  margin-top: 8px;
  font-size: 12px;
  color: #212121;
  text-align: center;
  height: 32px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .McmjoTHF_rowItemsBox {
  display: grid;
  grid-column-gap: 12px;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .McmjoTHF_rowItemsBox .z2MyD8t4_wrapper {
  height: 52px;
  width: 100%;
  min-width: 0;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .McmjoTHF_rowItemsBox .z2MyD8t4_wrapper .HH8lVhvN_link {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .McmjoTHF_rowItemsBox .z2MyD8t4_wrapper .HH8lVhvN_link .FQz3GWuT_item {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  padding-left: 12px;
  margin-top: 12px;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .McmjoTHF_rowItemsBox .z2MyD8t4_wrapper .HH8lVhvN_link .FQz3GWuT_item .j\+msTIdt_desc {
  font-size: 14px;
  color: #212121;
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .Njp4wm\+v_imgBox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .Njp4wm\+v_imgBox img {
  width: 100%;
  height: 100%;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .Njp4wm\+v_imgBox .M4CUjKBJ_form-icon-row {
  width: 16px;
  height: 16px;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .Njp4wm\+v_imgBox ._3yDF4Go2_app-icon-row {
  width: 24px;
  height: 24px;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .Njp4wm\+v_imgBox ._3yDF4Go2_app-icon-row img {
  border-radius: 3px;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .Njp4wm\+v_imgBox .vFqlsfxb_form-icon-column {
  width: 28px;
  height: 28px;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .Njp4wm\+v_imgBox .wlpH26RQ_app-icon-column {
  width: 40px;
  height: 40px;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .Njp4wm\+v_imgBox .wlpH26RQ_app-icon-column img {
  border-radius: 5px;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .w4GEJ7rI_carousel_slider {
  width: 56px;
  height: 4px;
  position: absolute;
  bottom: 12px;
  left: calc(50% - 28px);
  background: rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  cursor: pointer;
}
.-GqcdbnW_displaycard_wrapper .bpp2Irrc_cardContent .w4GEJ7rI_carousel_slider .VrL05KO3_avtive_part {
  position: relative;
  height: 100%;
  background: var(--kd-nc-primary-6);
  border-radius: 2px;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
}
.Kcv6XW2p_loading_card {
  height: 352px;
}

.UTOleH7C_whole_wrapper {
  margin: 12px 0;
}
.UTOleH7C_whole_wrapper ._0SgZ7-fz_myprocess_card_wrapper .KkVr32kq_myprocess_card {
  width: 100%;
  height: 100%;
}
.P5Jpmv-p_init_loading_height {
  height: 352px;
}
.\--AZ5XyW_whole_height {
  height: 612px;
}
.VbqVOWGt_pageination {
  margin: 12px 0;
}

.XwKTsN2Y_card_paginition {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.XwKTsN2Y_card_paginition .Sb0ejmwp_page_displayer {
  font-size: 16px;
  color: #212121;
  letter-spacing: 0;
  line-height: 24px;
  font-weight: 400;
}
.XwKTsN2Y_card_paginition .Sb0ejmwp_page_displayer .KG5MrEjJ_cur_page {
  color: var(--kd-nc-primary-6);
}
.XwKTsN2Y_card_paginition .EcYbzjPK_button {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.U4xQAf5n_table_card_wrapper {
  margin: 12px 0;
}
.U4xQAf5n_table_card_wrapper .HiE5NdKO_table_pagination {
  margin: 12px 0;
}
.buICTujG_default_height {
  height: calc(352px - 40px);
}
._1lNfQy2s_loading {
  height: calc(580px - 40px);
}

.zg2e5hY9_trigger {
  display: block;
  color: #666666;
}
.zg2e5hY9_trigger .ae-Qy\+vg_name {
  font-size: 14px;
  letter-spacing: 0;
  text-align: center;
  line-height: 20px;
  font-weight: 400;
  margin-right: 4px;
}
.zg2e5hY9_trigger i {
  display: inline-block;
  font-size: 12px;
  -webkit-transition: -webkit-transform ease 0.3s;
  transition: -webkit-transform ease 0.3s;
  transition: transform ease 0.3s;
  transition: transform ease 0.3s, -webkit-transform ease 0.3s;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}
._4do\+9Hzv_trigger_active {
  display: block;
  color: var(--kd-nc-primary-6, #276FF5);
}
.TCMeg6MK_panel_active {
  display: block;
  color: var(--kd-nc-primary-6, #276FF5);
}
.TCMeg6MK_panel_active i {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.g34ytu52_option_list {
  margin: -12px -12px -12px 0;
}
.g34ytu52_option_list .s1HBFRAp_option_item {
  height: 44px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 12px;
}
.g34ytu52_option_list .s1HBFRAp_option_item:not(:last-child) {
  border-bottom: 1px solid var(--kd-nc-border-1, #e5e5e5);
}
.g34ytu52_option_list .s1HBFRAp_option_item .rW5AMd2j_label {
  font-size: 14px;
  color: #212121;
  letter-spacing: 0;
  line-height: 20px;
  font-weight: 400;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.g34ytu52_option_list .s1HBFRAp_option_item i {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  color: var(--kd-nc-primary-6, #276FF5);
}
.-PBI0pwU_filter_dropdown {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.\+sWGoKpl_all_app {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
._6fXIZcxv_header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 44px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  border-bottom: 1px solid var(--kd-nc-border-1, #e5e5e5);
}
._6fXIZcxv_header .FFTs9lS1_filter {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  line-height: 44px;
  margin-right: 12px;
}
._6fXIZcxv_header .bTklp\+kx_searcher {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 8px 12px;
}
._6fXIZcxv_header .STYU6-fr_search_box {
  background: #F5F5F5;
  border-radius: 4px;
}
._6fXIZcxv_header .STYU6-fr_search_box .kdm-input-prefix {
  margin-left: 8px;
}
._6fXIZcxv_header .STYU6-fr_search_box input {
  background: transparent;
}
.r11t8GNM_apps {
  position: absolute;
  top: 44px;
  width: 100%;
  bottom: 0;
  list-style: none;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 20px;
}
.-ac7j0nM_app_item {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  cursor: pointer;
  padding: 0 12px;
  margin: 12px 0;
}
.UKMrk5J\+_app_item_image_wrapper {
  width: 40px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4px;
  margin-right: 12px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.UKMrk5J\+_app_item_image_wrapper img {
  border-radius: 5px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.Cyly7j16_app_item_info_top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.Cyly7j16_app_item_info_top i {
  padding-left: 5px;
  line-height: 24px;
}
.Cyly7j16_app_item_info_top i._74c0EITT_collected {
  color: var(--kd-nc-warning-6, #FF991C);
}
.fq13J4Zi_app_item_detail {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding: 12px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 10px 2px rgba(0, 31, 122, 0.04);
          box-shadow: 0px 4px 10px 2px rgba(0, 31, 122, 0.04);
  border-radius: 8px;
}
.Ncm6kM0H_app_item_info {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
}
._7u4rE2n9_app_item_name {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 16px !important;
  color: #212121;
  letter-spacing: 0;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  -webkit-text-size-adjust: none;
  max-width: 9999px;
  max-height: 9999px;
}
.RjSt-XQv_app_item_desc {
  font-size: 14px !important;
  color: #999999;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: 4px;
  -webkit-text-size-adjust: none;
  max-width: 9999px;
  max-height: 9999px;
}
.y-oHGg0h_app_item_icon {
  width: 40px;
  height: 40px;
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4px;
  margin-right: 12px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  border-radius: 4px;
}
.y-oHGg0h_app_item_icon img {
  max-width: 100%;
  max-height: 100%;
}
.OBxTCYiv_no_data {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
.ZkmIWY6n_no_data_text {
  font-size: 14px;
  color: #999999;
  text-align: center;
  line-height: 20px;
  font-weight: 400;
  margin-top: 16px;
}

.EQIZcTdp_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 12px;
  background-size: 100%;
}
.EQIZcTdp_container .i7\+Gnb6C_one_line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.EQIZcTdp_container .esDDecAN_info {
  height: 104px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.EQIZcTdp_container .esDDecAN_info > div {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  overflow: hidden;
}
.EQIZcTdp_container .esDDecAN_info span {
  margin-right: 12px;
  margin-left: 4px;
}
.EQIZcTdp_container .esDDecAN_info .UJs2ZXb0_name {
  font-size: 18px;
  color: #212121;
  line-height: 28px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.EQIZcTdp_container .esDDecAN_info .rLTyzz6G_phone {
  font-size: 14px;
  color: #666666;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.EQIZcTdp_container .AnUf-H9e_origin {
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../../../ncp/nocode/images/0c037e94aa59931450ca.png) no-repeat;
  background-size: 100%;
  -webkit-box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  padding: 0 16px;
  margin-bottom: 24px;
}
.EQIZcTdp_container .AnUf-H9e_origin .meFte-KS_company {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 24px;
  font-weight: 600;
}
.EQIZcTdp_container .AnUf-H9e_origin ._4YHq5p-D_btn {
  width: 72px;
  height: 28px;
  background: #FFFFFF;
  border-radius: 18px;
  font-size: 12px;
  color: #002D87;
  text-align: center;
  line-height: 28px;
  font-weight: 600;
}
.EQIZcTdp_container .XgXnZPcx_list {
  background-color: #fff;
  margin-bottom: 24px;
}
.EQIZcTdp_container .XgXnZPcx_list > a {
  height: 48px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #212121;
  line-height: 24px;
  padding: 0 12px;
}
.EQIZcTdp_container .XgXnZPcx_list > a i:first-child {
  font-size: 20px;
  margin-right: 9px;
}
.EQIZcTdp_container .XgXnZPcx_list > a i:last-child {
  font-size: 16px;
  color: #ccc;
}
.EQIZcTdp_container .XgXnZPcx_list .ldZcgk21_item {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.EQIZcTdp_container .XgXnZPcx_list .ldZcgk21_item:not(:last-child) {
  border-bottom: 1px solid var(--kd-nc-border-1, #e5e5e5);
}
.EQIZcTdp_container .XgXnZPcx_list .ldZcgk21_item span {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
.EQIZcTdp_container .IpmpBkxv_quite {
  line-height: 48px;
  font-size: 16px;
  color: var(--kd-nc-danger-6, #FB2323);
  text-align: center;
  background-color: #fff;
}

.jmLDvDVW_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.jmLDvDVW_container ._3Paf68q3_box {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #F8FAFC;
}
.jmLDvDVW_container .iyQ2-gmw_nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  -webkit-box-shadow: 0 -3px 8px 1px rgba(0, 0, 0, 0.06);
          box-shadow: 0 -3px 8px 1px rgba(0, 0, 0, 0.06);
  z-index: 10;
}
.jmLDvDVW_container .iyQ2-gmw_nav a {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #999;
}
.jmLDvDVW_container .iyQ2-gmw_nav a span {
  font-size: 10px;
  line-height: 12px;
}
.jmLDvDVW_container .iyQ2-gmw_nav a i {
  font-size: 24px;
  margin-bottom: 2px;
}
.jmLDvDVW_container .iyQ2-gmw_nav a.NT00zcZe_curr {
  color: var(--kd-nc-primary-6, #276FF5);
}

.A9BQYO5W_bg_container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(var(--kd-nc-primary-2), var(--kd-nc-container-background-color, #F8FAFC) 260px, var(--kd-nc-container-background-color, #F8FAFC));
  overflow: hidden;
}
.A9BQYO5W_bg_container .f1saQmJJ_bg_img {
  position: absolute;
  top: 0;
}
.A9BQYO5W_bg_container .Wac-mIWz_main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  margin-bottom: 48px;
  height: calc(100% - 48px);
  overflow: auto;
  overflow-anchor: none;
}

