.quhrit-l_container {
  height: 100%;
  overflow: hidden;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.quhrit-l_container .UXckET7a_main {
  -webkit-box-shadow: 0px 4px 10px 2px rgba(0, 31, 122, 0.04);
          box-shadow: 0px 4px 10px 2px rgba(0, 31, 122, 0.04);
  border-radius: 12px;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
}
.quhrit-l_container .UXckET7a_main .UtlZOoIP_actions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  color: #666666;
  line-height: 20px;
  font-weight: 400;
  -webkit-box-shadow: inset 0px -1px 0px 0px #e5e5e5;
          box-shadow: inset 0px -1px 0px 0px #e5e5e5;
  padding: 0 24px;
  height: 68px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.quhrit-l_container .UXckET7a_main .UtlZOoIP_actions ._5\+Qlb3n2_buttons,
.quhrit-l_container .UXckET7a_main .UtlZOoIP_actions ._5\+Qlb3n2_buttons p {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.quhrit-l_container .UXckET7a_main .UtlZOoIP_actions ._5\+Qlb3n2_buttons > span {
  margin-left: 20px;
  cursor: pointer;
  color: #666666;
}
.quhrit-l_container .UXckET7a_main .UtlZOoIP_actions ._5\+Qlb3n2_buttons > span:hover {
  color: #276ff5;
}
.quhrit-l_container .UXckET7a_main .UtlZOoIP_actions ._5\+Qlb3n2_buttons .nocodeplatformicon {
  margin-right: 4px;
  font-size: 16px;
}
.quhrit-l_container .UXckET7a_main .UtlZOoIP_actions .wElVv5lZ_vas_action {
  --kd-c-button-text-icon-spacing-margin-right: 0px;
}
.quhrit-l_container .UXckET7a_main .UtlZOoIP_actions .wElVv5lZ_vas_action .kd-btn-text {
  min-width: 16px;
}
.quhrit-l_container .UXckET7a_main .UtlZOoIP_actions .wElVv5lZ_vas_action .kd-btn-text .kd-btn-iconWrapper-left {
  margin-right: 0px;
}
.quhrit-l_container .UXckET7a_main .UtlZOoIP_actions .wElVv5lZ_vas_action .nocodeplatformicon {
  font-size: 16px;
}
.quhrit-l_container .UXckET7a_main .UtlZOoIP_actions .wElVv5lZ_vas_action .nocodeplatformicon:last-child {
  margin-left: 20px;
}
.quhrit-l_container .UXckET7a_main .UtlZOoIP_actions .wElVv5lZ_vas_action .pdzdBcgg_refresh {
  padding: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.quhrit-l_container .UXckET7a_main .UtlZOoIP_actions .wElVv5lZ_vas_action .Eo1dd6B0_refresh_load {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}
.quhrit-l_container .UXckET7a_main .UtlZOoIP_actions .wElVv5lZ_vas_action ._0AcRVw4a_fullscreen {
  padding: 0;
}
.quhrit-l_container .UXckET7a_main .SQ6E7SEJ_list {
  padding: 16px 24px 0 24px;
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.quhrit-l_container .UXckET7a_main .SQ6E7SEJ_list .kd-table-body {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.quhrit-l_container .UXckET7a_main .SQ6E7SEJ_list .kd-table-header-cell-content .kd-btn-text {
  height: 16px;
}
.quhrit-l_container .UXckET7a_main .SQ6E7SEJ_list .kd-btn-text {
  min-width: 28px;
  padding: 0px;
  border: 0px;
  height: 30px;
  line-height: 30px;
}
.quhrit-l_container .UXckET7a_main .SQ6E7SEJ_list .kd-btn-text .kd-btn-iconWrapper-left {
  margin-right: 0px;
}
.quhrit-l_container .UXckET7a_main .\+c2-ruK6_page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  padding: 0 24px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.quhrit-l_container .UXckET7a_main .\+c2-ruK6_page .LgXVIIDX_page_total {
  font-size: 14px;
  color: #666;
}
.quhrit-l_container .UXckET7a_main .\+c2-ruK6_page {
  --kd-c-dropdown-item-color-background-hover: #E0EFFF;
}
.quhrit-l_container .UXckET7a_main .\+c2-ruK6_page .kd-pagination.nicety .kd-pagination-pages-item button,
.quhrit-l_container .UXckET7a_main .\+c2-ruK6_page .kd-pagination-options .kd-dropdown-trigger {
  height: 28px;
  width: 28px;
}
.quhrit-l_container .UXckET7a_main .\+c2-ruK6_page .kd-pagination.nicety .kd-pagination-options {
  height: 28px;
  white-space: nowrap;
}
.quhrit-l_container .UXckET7a_main .\+c2-ruK6_page .kd-pagination .kd-pagination-total {
  font-size: 14px;
}
.quhrit-l_container .UXckET7a_main .\+c2-ruK6_page .kd-pagination.nicety .kd-pagination-options span {
  font-size: 14px;
  color: #666;
}
.quhrit-l_container .UXckET7a_main .\+c2-ruK6_page .kd-pagination.nicety .kd-pagination-pages-item {
  margin-right: 8px;
}
.quhrit-l_container .UXckET7a_main .\+c2-ruK6_page .kd-dropdown-menu-item {
  height: 28px;
}
.vWamiXPT_container-full-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.vWamiXPT_container-full-screen .quhrit-l_container {
  padding: 0;
}
.vWamiXPT_container-full-screen .quhrit-l_container .UXckET7a_main {
  border-radius: unset;
}

.Dmk9VNVp_modal .kYDVH67p_body {
  padding: 24px;
  font-size: 14px;
}
.Dmk9VNVp_modal .kYDVH67p_body .FXmJeVtJ_valid_info {
  position: absolute;
  color: var(--kd-nc-danger-6, #FB2323);
  margin-top: 4px;
  font-size: 12px;
}
.Dmk9VNVp_modal .kYDVH67p_body .uAZKB4AH_red {
  color: var(--kd-nc-danger-6, #FB2323);
  font-size: 12px;
  font-family: SimSun, sans-serif;
}
.Dmk9VNVp_modal .kYDVH67p_body .DrLec5ld_app .qi89uPJy_app_title {
  line-height: 20px;
  font-size: 14px;
}
.Dmk9VNVp_modal .kYDVH67p_body .DrLec5ld_app .zI-GV6N0_app_select {
  margin-top: 8px;
}
.Dmk9VNVp_modal .kYDVH67p_body ._4rgIlY1t_form {
  margin-top: 24px;
}
.Dmk9VNVp_modal .kYDVH67p_body ._4rgIlY1t_form .SRKYr65x_form_title {
  line-height: 20px;
  font-size: 14px;
}
.Dmk9VNVp_modal .kYDVH67p_body ._4rgIlY1t_form ._8pk7FyUV_form_select {
  margin-top: 8px;
}
.Dmk9VNVp_modal .kYDVH67p_body .mnohAXcX_reason {
  margin-top: 24px;
}
.Dmk9VNVp_modal .kYDVH67p_body .mnohAXcX_reason .pH0RlC4r_reason_title {
  line-height: 20px;
  font-size: 14px;
}
.Dmk9VNVp_modal .kYDVH67p_body .mnohAXcX_reason .wI3JVm8y_reason_text {
  margin-top: 8px;
  height: 76px;
}
.Dmk9VNVp_modal .kYDVH67p_body .kd-select-wrapper {
  overflow: hidden;
}
.Dmk9VNVp_modal .kYDVH67p_body .kd-select-wrapper .kd-select-suffix {
  top: 9px;
}
.Dmk9VNVp_modal .u4c4ZC-a_footer {
  padding: 16px;
  background: #F8F8F8;
  border: none;
}
.Dmk9VNVp_modal .u4c4ZC-a_footer .MosGtfYA_button_group {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.Dmk9VNVp_modal .u4c4ZC-a_footer .MosGtfYA_button_group button:last-child {
  margin-left: 8px;
  border: none;
}

.zaMKQin8_container {
  height: 100%;
  overflow: hidden;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.zaMKQin8_container .CKBzlNNl_main {
  -webkit-box-shadow: 0px 4px 10px 2px rgba(0, 31, 122, 0.04);
          box-shadow: 0px 4px 10px 2px rgba(0, 31, 122, 0.04);
  border-radius: 12px;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
}
.zaMKQin8_container .CKBzlNNl_main .l1uGFnmH_actions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 14px;
  color: #666666;
  line-height: 20px;
  font-weight: 400;
  -webkit-box-shadow: inset 0px -1px 0px 0px #e5e5e5;
          box-shadow: inset 0px -1px 0px 0px #e5e5e5;
  padding: 0 24px;
  height: 68px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.zaMKQin8_container .CKBzlNNl_main .l1uGFnmH_actions .aRb5BCHN_vas_action {
  --kd-c-button-text-icon-spacing-margin-right: 0px;
}
.zaMKQin8_container .CKBzlNNl_main .l1uGFnmH_actions .aRb5BCHN_vas_action .kd-btn-text {
  min-width: 16px;
}
.zaMKQin8_container .CKBzlNNl_main .l1uGFnmH_actions .aRb5BCHN_vas_action .kd-btn-text .kd-btn-iconWrapper-left {
  margin-right: 0px;
}
.zaMKQin8_container .CKBzlNNl_main .l1uGFnmH_actions .aRb5BCHN_vas_action .nocodeplatformicon {
  font-size: 16px;
}
.zaMKQin8_container .CKBzlNNl_main .l1uGFnmH_actions .aRb5BCHN_vas_action .nocodeplatformicon:last-child {
  margin-left: 20px;
}
.zaMKQin8_container .CKBzlNNl_main .l1uGFnmH_actions .aRb5BCHN_vas_action .bD3LQQPp_refresh {
  padding: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.zaMKQin8_container .CKBzlNNl_main .l1uGFnmH_actions .aRb5BCHN_vas_action .sxy2rbsh_refresh_load {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}
.zaMKQin8_container .CKBzlNNl_main .l1uGFnmH_actions .aRb5BCHN_vas_action .iCDiPEbt_fullscreen {
  padding: 0;
}
.zaMKQin8_container .CKBzlNNl_main .HrJSF4l1_list {
  padding: 16px 24px 0 24px;
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.zaMKQin8_container .CKBzlNNl_main .HrJSF4l1_list .kd-table-body {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.zaMKQin8_container .CKBzlNNl_main .HrJSF4l1_list .kd-table-header-cell-content .kd-btn-text {
  height: 16px;
}
.zaMKQin8_container .CKBzlNNl_main .HrJSF4l1_list .kd-btn-text {
  min-width: 28px;
  padding: 0px;
  border: 0px;
  height: 30px;
  line-height: 30px;
}
.zaMKQin8_container .CKBzlNNl_main .HrJSF4l1_list .kd-btn-text .kd-btn-iconWrapper-left {
  margin-right: 0px;
}
.zaMKQin8_container .CKBzlNNl_main .FNjl306l_page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  padding: 0 24px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.zaMKQin8_container .CKBzlNNl_main .FNjl306l_page .gwdjrn82_page_total {
  font-size: 14px;
  color: #666;
}
.zaMKQin8_container .CKBzlNNl_main .FNjl306l_page {
  --kd-c-dropdown-item-color-background-hover: #E0EFFF;
}
.zaMKQin8_container .CKBzlNNl_main .FNjl306l_page .kd-pagination.nicety .kd-pagination-pages-item button,
.zaMKQin8_container .CKBzlNNl_main .FNjl306l_page .kd-pagination-options .kd-dropdown-trigger {
  height: 28px;
  width: 28px;
}
.zaMKQin8_container .CKBzlNNl_main .FNjl306l_page .kd-pagination.nicety .kd-pagination-options {
  height: 28px;
  white-space: nowrap;
}
.zaMKQin8_container .CKBzlNNl_main .FNjl306l_page .kd-pagination .kd-pagination-total {
  font-size: 14px;
}
.zaMKQin8_container .CKBzlNNl_main .FNjl306l_page .kd-pagination.nicety .kd-pagination-options span {
  font-size: 14px;
  color: #666;
}
.zaMKQin8_container .CKBzlNNl_main .FNjl306l_page .kd-pagination.nicety .kd-pagination-pages-item {
  margin-right: 8px;
}
.zaMKQin8_container .CKBzlNNl_main .FNjl306l_page .kd-dropdown-menu-item {
  height: 28px;
}
.HRQALquJ_container-full-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.HRQALquJ_container-full-screen .zaMKQin8_container {
  padding: 0;
}
.HRQALquJ_container-full-screen .zaMKQin8_container .CKBzlNNl_main {
  border-radius: unset;
}

.arCkonwO_modal .kd-modal-container-box {
  height: auto !important;
}
.arCkonwO_modal .in7gMxcY_body {
  font-size: 14px;
}
.arCkonwO_modal .in7gMxcY_body .I4q\+X1Ka_apply_app .ddyiLSJ-_apply_app_title {
  line-height: 20px;
  font-size: 14px;
}
.arCkonwO_modal .in7gMxcY_body .I4q\+X1Ka_apply_app .si01u7pD_apply_app_text {
  margin-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.arCkonwO_modal .in7gMxcY_body .qlJr0NoH_apply_form {
  margin-top: 24px;
}
.arCkonwO_modal .in7gMxcY_body .qlJr0NoH_apply_form .Ioa2nCka_apply_form_title {
  line-height: 20px;
  font-size: 14px;
}
.arCkonwO_modal .in7gMxcY_body .qlJr0NoH_apply_form .JAsmfIBZ_apply_form_text {
  margin-top: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.arCkonwO_modal .in7gMxcY_body .SlFawa9J_apply_reason {
  margin-top: 24px;
}
.arCkonwO_modal .in7gMxcY_body .SlFawa9J_apply_reason ._082mO8Oo_apply_reason_title {
  line-height: 20px;
  font-size: 14px;
}
.arCkonwO_modal .in7gMxcY_body .SlFawa9J_apply_reason .CMnkv6ts_apply_reason_text {
  margin-top: 4px;
  max-height: 76px;
  overflow: auto;
}
.arCkonwO_modal .in7gMxcY_body .f5xTaxZ6_apply_advise {
  margin-top: 24px;
}
.arCkonwO_modal .in7gMxcY_body .f5xTaxZ6_apply_advise .Z3BrcNxV_apply_advise_title {
  line-height: 20px;
  font-size: 14px;
}
.arCkonwO_modal .in7gMxcY_body .f5xTaxZ6_apply_advise .vWqVYLND_apply_advise_text {
  margin-top: 4px;
  height: 76px;
}
.arCkonwO_modal .RQ6FqnoN_footer {
  padding: 16px;
  background: #F8F8F8;
  border: none;
}
.arCkonwO_modal .RQ6FqnoN_footer .XWE55sGW_button_group {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.arCkonwO_modal .RQ6FqnoN_footer .XWE55sGW_button_group button:last-child {
  margin-left: 8px;
  border: none;
}

._4HDN-Lc3_api_main {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  -webkit-box-shadow: 0px 4px 10px 2px rgba(0, 31, 122, 0.04);
          box-shadow: 0px 4px 10px 2px rgba(0, 31, 122, 0.04);
  border-radius: 12px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}
._4HDN-Lc3_api_main .yvy6-jhn_tree_container {
  width: 240px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  padding-top: 8px;
  border-right: 1px solid #d9d9d9;
  overflow: auto;
}
._4HDN-Lc3_api_main .yvy6-jhn_tree_container {
  --kd-c-tree-node-icon-color-text: #212121;
}
._4HDN-Lc3_api_main .yvy6-jhn_tree_container .kd-tree {
  overflow: visible;
}
._4HDN-Lc3_api_main .yvy6-jhn_tree_container .kd-tree-node-item {
  padding-left: 12px;
}
._4HDN-Lc3_api_main .PyNTwssY_request_info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 240px);
}
._4HDN-Lc3_api_main .PyNTwssY_request_info ._12fqUjFy_request_data {
  width: 60%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
._4HDN-Lc3_api_main .PyNTwssY_request_info ._12fqUjFy_request_data .Tv6q-tBC_title {
  font-size: 16px;
  color: #212121;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}
._4HDN-Lc3_api_main .PyNTwssY_request_info ._12fqUjFy_request_data .iPiOwX0d_form {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
._4HDN-Lc3_api_main .PyNTwssY_request_info ._12fqUjFy_request_data .iPiOwX0d_form {
  --kd-c-form-field-spacing-margin-bottom: 24px;
}
._4HDN-Lc3_api_main .PyNTwssY_request_info ._12fqUjFy_request_data .iPiOwX0d_form .kd-form-field-vertical {
  margin-right: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
._4HDN-Lc3_api_main .PyNTwssY_request_info ._12fqUjFy_request_data .iPiOwX0d_form .kd-form-field-vertical .kd-form-field-label {
  color: #212121;
  font-size: 14px;
  margin-bottom: 8px;
}
._4HDN-Lc3_api_main .PyNTwssY_request_info ._12fqUjFy_request_data .iPiOwX0d_form .kd-form-field-vertical .kd-form-field-wrapper {
  width: 100%;
}
._4HDN-Lc3_api_main .PyNTwssY_request_info ._12fqUjFy_request_data .iPiOwX0d_form ._8AkaRRL6_tips {
  font-size: 14px;
  color: #212121;
  letter-spacing: 0;
  line-height: 20px;
  white-space: pre-line;
}
._4HDN-Lc3_api_main .PyNTwssY_request_info ._12fqUjFy_request_data .iPiOwX0d_form ._8AkaRRL6_tips + ._8AkaRRL6_tips {
  margin-top: 24px;
}
._4HDN-Lc3_api_main .PyNTwssY_request_info ._12fqUjFy_request_data .iPiOwX0d_form .DxZX5gC8_table_container {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
._4HDN-Lc3_api_main .PyNTwssY_request_info ._12fqUjFy_request_data .iPiOwX0d_form .DxZX5gC8_table_container .sHUn87t0_table_header {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 8px;
}
._4HDN-Lc3_api_main .PyNTwssY_request_info ._12fqUjFy_request_data .iPiOwX0d_form .DxZX5gC8_table_container .sHUn87t0_table_header .M2Ane0i7_table_label {
  font-size: 14px;
}
._4HDN-Lc3_api_main .PyNTwssY_request_info ._12fqUjFy_request_data .iPiOwX0d_form .DxZX5gC8_table_container .sHUn87t0_table_header .qUalmDfh_generate_btn {
  --kd-c-button-text-color-text: var(--kd-nc-primary-6, #276FF5);
}
._4HDN-Lc3_api_main .PyNTwssY_request_info ._12fqUjFy_request_data .iPiOwX0d_form .DxZX5gC8_table_container .sHUn87t0_table_header .qUalmDfh_generate_btn:hover {
  color: var(--kd-nc-primary-5, #5797FF);
}
._4HDN-Lc3_api_main .PyNTwssY_request_info .sNmQWxeP_request_json {
  width: 40%;
}

.TnFWr09\+_grid-attachment-display {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #276FF5;
  cursor: pointer;
  overflow: hidden;
}
.TnFWr09\+_grid-attachment-display .TOzQkwm9_cell_display {
  margin-left: 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 100%;
}
.TnFWr09\+_grid-attachment-display ._36EZfMnJ_thumb_nail_icon {
  height: 16px;
  width: 16px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.TnFWr09\+_grid-attachment-display ._36EZfMnJ_thumb_nail_icon img {
  height: 100%;
  width: 100%;
}
.TnFWr09\+_grid-attachment-display:hover .TOzQkwm9_cell_display {
  color: #5797FF;
}
.TnFWr09\+_grid-attachment-display:hover img {
  opacity: 0.4;
}

.curHQNJ\+_grid-picture-display {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #276FF5;
  cursor: pointer;
  width: 100%;
  overflow: hidden;
}
.curHQNJ\+_grid-picture-display .qMYrp7Uy_display_name {
  margin-left: 8px;
  display: inline-block;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.curHQNJ\+_grid-picture-display img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}
.curHQNJ\+_grid-picture-display:hover .qMYrp7Uy_display_name {
  color: #5797FF;
}
.curHQNJ\+_grid-picture-display:hover img {
  opacity: 0.4;
}

.jiG0diyX_grid-table-display {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--kd-nc-primary-6, #276FF5);
  cursor: pointer;
}
.jiG0diyX_grid-table-display .Qy9\+ArIa_display_name {
  margin-left: 4px;
  line-height: 100%;
}
.jiG0diyX_grid-table-display:hover .Qy9\+ArIa_display_name {
  color: var(--kd-nc-primary-5, #5797FF);
}
.jiG0diyX_grid-table-display:hover i {
  opacity: 0.4;
}

.XH4hFa41_grid-select-wrapper {
  max-height: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.XH4hFa41_grid-select-wrapper .u-yamx2w_grid-select {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.XH4hFa41_grid-select-wrapper .WiqFM6pc_grid-select-item {
  display: inline-block;
}
.XH4hFa41_grid-select-wrapper .WiqFM6pc_grid-select-item:not(:only-child) {
  margin: 0 4px 0 0 !important;
}

.jR\+OiT2f_value {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.a73NVil8_opcolumncellrenderer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.PlzFeTmg_opcolumncellrenderer_item:not(:first-child) {
  margin-left: 24px;
}

.-Tj-xP0G_wrapper {
  cursor: pointer;
}
.-Tj-xP0G_wrapper:hover ._95Yqbz-f_icon {
  color: var(--kd-nc-primary-6);
}

._09fHbzy9_grid-field-modal {
  position: absolute !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
._09fHbzy9_grid-field-modal .kd-modal-mask {
  position: absolute;
}
._09fHbzy9_grid-field-modal .kd-modal-container-box {
  height: initial !important;
  -webkit-transform: none !important;
      -ms-transform: none !important;
          transform: none !important;
  max-height: 520px;
  overflow: hidden;
  z-index: 1;
  position: static;
  top: none;
  left: none;
}
._09fHbzy9_grid-field-modal .kd-modal-title-container {
  overflow: hidden;
}
._09fHbzy9_grid-field-modal .kd-modal-body {
  padding: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}
._09fHbzy9_grid-field-modal .kd-modal-footer {
  border-top: none !important;
}
._3LcH2Q2d_grid-field-modal-footer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 14px;
  background: #f8f8f8;
}
.DZ4ksU6n_grid-field-modal-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
._9NFAH3ZZ_grid-field-modal-title-label {
  font-size: 16px;
  color: #212121;
  letter-spacing: 0;
  height: 24px;
  line-height: 24px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fYv9ZZjM_dropdown {
  min-width: 280px;
  max-height: 520px;
  max-width: 400px;
}
._6niq7To5_dropdown-container {
  padding: 0;
}
._6niq7To5_dropdown-container::before {
  display: none;
}
._6niq7To5_dropdown-container:after {
  display: none;
}
.OV3a1DPs_list {
  font-size: 14px;
  padding: 4px 0;
  max-height: 292px;
  overflow-y: hidden;
}
.OV3a1DPs_list:hover {
  overflow-y: auto;
}
.CRDGLVgk_item-selected {
  background-color: var(--kd-nc-primary-2, #E0EFFF);
}
.GUyN\+Kfw_item-hover {
  background-color: #F5F5F5;
}
.tzDmFpSV_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 36px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  padding: 0px 12px;
}
.tzDmFpSV_item .QWEZNUj3_analysis {
  cursor: pointer;
  margin-left: 12px;
  color: #666;
}
.tzDmFpSV_item .wU2jA0O-_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}
.tzDmFpSV_item .wU2jA0O-_content .GxkIOr-t_label {
  color: #212121;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tzDmFpSV_item .wU2jA0O-_content .qdPliBxJ_comma {
  color: #212121;
}
.tzDmFpSV_item .wU2jA0O-_content ._8v9onDl4_value {
  color: #999999;
}
.tzDmFpSV_item .wU2jA0O-_content .dsvPPAoo_footer-value {
  color: #212121;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tzDmFpSV_item .wU2jA0O-_content .MYBl180h_footer-comma {
  color: #999999;
}
.tzDmFpSV_item .wU2jA0O-_content .VbvB6vdF_footer-label {
  color: #999999;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 28px;
}
.S8eSWiHZ_footer {
  border-top: 1px solid #E5E5E5;
  padding: 4px 0;
  font-size: 14px;
}
.i5kwv7Y8_cell {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 12px;
  max-height: 44px;
}
.i5kwv7Y8_cell .wU2jA0O-_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}
.i5kwv7Y8_cell .wU2jA0O-_content ._3qrFC0yM_cell-empty-tips {
  display: none;
  color: #999999;
}
.i5kwv7Y8_cell .wU2jA0O-_content .koVY9YWv_show_tips {
  display: block;
}
.i5kwv7Y8_cell .wU2jA0O-_content .tzDmFpSV_item {
  display: none;
  padding: 0;
  width: 100%;
}
.i5kwv7Y8_cell .wU2jA0O-_content .oz25Uici_show_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.i5kwv7Y8_cell .puBTweSc_drop-icon {
  display: none;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  margin-left: 10px;
}
.i5kwv7Y8_cell .SQIgodXP_drop-down-visible {
  display: block;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.i5kwv7Y8_cell:hover {
  background-color: #E5E5E5;
  cursor: pointer;
}
.i5kwv7Y8_cell:hover .puBTweSc_drop-icon {
  display: block;
}

._2yex\+F-Q_picture > div:nth-child(5n) {
  margin-right: 0;
}

.vY3iRX5D_tablecellviewer {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -webkit-flex-direction: column !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}
.vY3iRX5D_tablecellviewer .kd {
  --font-size: 14px;
  --row-height: 44px;
  --header-cell-border-horizontal: 1px solid #D9D9D9;
  --lock-shadow: #d9d9d9 0 0 6px 2px;
  --hover-color: #F5F5F5;
  --highlight-bgcolor: #E0EFFF;
}
.vY3iRX5D_tablecellviewer .kd-filter-trigger:not(.active) {
  visibility: hidden;
}
.vY3iRX5D_tablecellviewer .kd-filter-trigger {
  cursor: pointer;
}
.vY3iRX5D_tablecellviewer .kd-filter-icon:hover {
  color: #276FF5;
}
.vY3iRX5D_tablecellviewer .kd-table-header-cell:hover .kd-filter-trigger {
  visibility: visible;
}
.vY3iRX5D_tablecellviewer .kd-table-wrapper {
  overflow: hidden;
  height: 100%;
}
.vY3iRX5D_tablecellviewer .kd-table-wrapper .kd-loading-wrapper {
  height: auto !important;
}
.vY3iRX5D_tablecellviewer .kd-table-wrapper .kd-table-header-cell {
  border-right: 1px solid #D9D9D9;
  background-color: #FAFAFA;
}
.vY3iRX5D_tablecellviewer .kd-table-wrapper .kd-table-body .kd-table-cell:not(.kd-first.kd-last) {
  border-right: 1px solid #D9D9D9;
}
.vY3iRX5D_tablecellviewer .kd-table-wrapper .kd-table-footer .kd-table-cell.kd-first .kd-checkbox {
  display: none;
}
.vY3iRX5D_tablecellviewer .kd-table-wrapper .kd-table-footer .kd-table-cell.kd-lock-right {
  right: 0;
}
.vY3iRX5D_tablecellviewer .kd-table-wrapper .kd-loading-content-wrapper {
  overflow: hidden;
}
.vY3iRX5D_tablecellviewer .kd-table-wrapper .kd-loading-content-wrapper .kd-table-body {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.vY3iRX5D_tablecellviewer tfoot .kd-table-cell {
  padding: 0;
  border-top: none;
  background: #F8F8F8;
  height: 44px;
}
.vY3iRX5D_tablecellviewer .kd-sticky-scroll {
  height: auto !important;
}
._53OP0lk1_tablecellviewer_pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 16px;
}
._53OP0lk1_tablecellviewer_pagination {
  --kd-c-dropdown-item-color-background-hover: #E0EFFF;
}
._53OP0lk1_tablecellviewer_pagination .kd-pagination.nicety .kd-pagination-pages-item button,
._53OP0lk1_tablecellviewer_pagination .kd-pagination-options .kd-dropdown-trigger {
  height: 28px !important;
  width: 28px;
}
._53OP0lk1_tablecellviewer_pagination .kd-pagination.nicety .kd-pagination-options {
  height: 28px;
  white-space: nowrap;
  margin-left: 16px;
}
._53OP0lk1_tablecellviewer_pagination .kd-pagination .kd-pagination-total {
  font-size: 14px;
}
._53OP0lk1_tablecellviewer_pagination .kd-pagination.nicety .kd-pagination-options span {
  font-size: 14px;
  color: #666;
}
._53OP0lk1_tablecellviewer_pagination .kd-pagination.nicety .kd-pagination-pages-item:not(:last-child) {
  margin-right: 8px;
}
._53OP0lk1_tablecellviewer_pagination .kd-pagination.nicety .kd-pagination-pages-item:not(:last-child) button:disabled {
  background-color: #f5f5f5;
}
._53OP0lk1_tablecellviewer_pagination .kd-pagination.nicety .kd-pagination-options .kd-pagination-options-size i:hover {
  color: #276FF5;
}
._53OP0lk1_tablecellviewer_pagination .kd-dropdown-trigger.kd-pagination-options-size {
  width: 72px;
}
._53OP0lk1_tablecellviewer_pagination .kd-dropdown-menu-item {
  height: 28px;
}

._0UB252Uu_richtext-viewer-modal .kd-modal-container-box {
  max-height: 800px;
}
._0UB252Uu_richtext-viewer-modal .kd-modal-container-box .kd-modal-body {
  overflow: auto;
  padding: 20px;
}
._0UB252Uu_richtext-viewer-modal a {
  text-decoration: underline;
  color: -webkit-link;
}
._0UB252Uu_richtext-viewer-modal .Y0CQ2beG_readonly_text {
  font-size: 12px;
}

