/*!******************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js!../../node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[2].use[3]!./src/web/layout/apps/HeaderLayout.less ***!
  \******************************************************************************************************************************************************************************************************************************************/
.ktcF3PYR_app_header {
  font-size: 12px;
  line-height: 16px;
  color: var(--kd-nc-page-header-textbutton-color-text, rgba(255, 255, 255, 0.8));
  min-width: 1180px !important;
  border-bottom: 1px solid var(--page-header-color-border, #2C3244);
}
.ktcF3PYR_app_header ._9AxCdhZ5_left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 12px;
  height: 100%;
}
.ktcF3PYR_app_header ._9AxCdhZ5_left .qWnmYsCZ_ml12 {
  margin-left: 12px;
}
.ktcF3PYR_app_header ._9AxCdhZ5_left .tSwGKkBI_app_logo {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.ktcF3PYR_app_header ._9AxCdhZ5_left .tSwGKkBI_app_logo img {
  border-radius: 4px;
  width: 100%;
  height: 100%;
}
.ktcF3PYR_app_header ._9AxCdhZ5_left .SSQ2qPT1_app_name {
  color: var(--page-head-tip-label-color-text-major, #fff);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  font-weight: var(--kd-nocode-font-weight-bold);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 200px;
}
.ktcF3PYR_app_header .P7qM9tdg_nav {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 10px;
}
.ktcF3PYR_app_header .CIaFqBSZ_user {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 12px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  height: 100%;
}
.ktcF3PYR_app_header .CIaFqBSZ_user .kd-btn-size-small {
  padding-left: 0px;
  padding-right: 0px;
  min-width: 30px;
}
.ktcF3PYR_app_header .TdUzpAnv_user_item {
  color: var(--kd-nc-page-header-textbutton-color-text, rgba(255, 255, 255, 0.8));
  margin-right: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.ktcF3PYR_app_header .TdUzpAnv_user_item:hover {
  color: var(--kd-nc-page-header-textbutton-color-text-hover, rgba(255, 255, 255, 0.5));
}
.ktcF3PYR_app_header .TdUzpAnv_user_item:active {
  color: var(--kd-nc-page-header-textbutton-color-text-press, rgba(255, 255, 255, 0.5));
}
.ktcF3PYR_app_header .CIaFqBSZ_user .YDDMCYIZ_avatar_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.ktcF3PYR_app_header .CIaFqBSZ_user .TH\+650J4_avatar {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
}
.ktcF3PYR_app_header .CIaFqBSZ_user .TH\+650J4_avatar .kdicon {
  font-size: 24px;
}
.ktcF3PYR_app_header .CIaFqBSZ_user .nocodeplatformicon {
  font-size: 16px;
}
.fXYCMBVS_app_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--container-color-background-mid, #F8FAFC);
  top: 40px;
  left: 0;
  bottom: 0;
  width: 100%;
  min-width: 1180px;
  overflow-x: auto;
  height: calc(100% - 40px);
}
._3BUVbZ1F_user_info_pop {
  padding: 0;
  border-radius: 8px;
  overflow: hidden;
}

/*!*****************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js!../../node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[2].use[3]!./src/web/component/common/Header.less ***!
  \*****************************************************************************************************************************************************************************************************************************************/
.EKFI1FZG_header {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
  background: var(--kd-nc-page-header-color-background);
}
.o69fZx-U_header_main {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 0px;
}

/*!*************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js!../../node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[2].use[3]!./src/web/component/common/card/CardTitle.less ***!
  \*************************************************************************************************************************************************************************************************************************************************/
.qLjUtZsH_title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  color: #212121;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.qLjUtZsH_title .efmw-EDh_title-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  height: 100%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  line-height: 44px;
}
.qLjUtZsH_title .eIyoSavp_title-extra {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 16px;
  height: 16px;
  margin-left: 12px;
}
.qLjUtZsH_title .eIyoSavp_title-extra .Sp1ON\+W0_title-icon-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.qLjUtZsH_title .eIyoSavp_title-extra ._7oGux5vD_title-icon {
  cursor: pointer;
  color: #989a9c;
}
.qLjUtZsH_title .eIyoSavp_title-extra ._7oGux5vD_title-icon:hover {
  color: var(--kd-nc-primary-6) !important;
}
.qLjUtZsH_title .eIyoSavp_title-extra .Sp1ON\+W0_title-icon-wrapper:not(:last-child) {
  margin-right: 12px;
}
.qLjUtZsH_title .eIyoSavp_title-extra .o1waaUji_disabled {
  pointer-events: none;
}
.qLjUtZsH_title .eIyoSavp_title-extra .DGig4wXC_hidden {
  display: none;
}
.qLjUtZsH_title .eIyoSavp_title-extra .OYdSJrc8_icon-delete:hover {
  color: var(--kd-nc-danger-6, #FB2323);
}

/*!***********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js!../../node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[2].use[3]!./src/web/component/common/MoreDropdown.less ***!
  \***********************************************************************************************************************************************************************************************************************************************/
.VO-pdXZ6_drop-down-more {
  display: none;
}
.IlmRvFmm_drop-down-wrapper:hover [data-more-dropdown='true'] {
  display: block;
}
[data-trigger-visible='true'] [data-more-dropdown='true'] {
  display: block;
}

/*!***************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js!../../node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[2].use[3]!./src/web/component/common/card/CardWrapper.less ***!
  \***************************************************************************************************************************************************************************************************************************************************/
.QwOfef2u_card_wrapper {
  height: 100%;
  width: 100%;
}
.QwOfef2u_card_wrapper .kd-card-header {
  line-height: normal;
}
.QwOfef2u_card_wrapper .nMe8nMt1_card_title {
  padding: 0 16px;
  height: 40px;
  line-height: 40px;
}
.QwOfef2u_card_wrapper ._5Y\+JrrHa_display_card {
  height: 100%;
  border-radius: 8px;
}
.QwOfef2u_card_wrapper ._5Y\+JrrHa_display_card .kd-card-header {
  padding: 0 !important;
  height: auto !important;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.QwOfef2u_card_wrapper ._5Y\+JrrHa_display_card .kd-card-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0 16px;
  height: calc(100% - 40px);
  overflow: auto;
}
.QwOfef2u_card_wrapper ._5Y\+JrrHa_display_card:hover [data-card-title='true'] {
  display: block;
}
.QwOfef2u_card_wrapper ._5Y\+JrrHa_display_card .AqIDNHFT_card_body {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.QwOfef2u_card_wrapper ._5Y\+JrrHa_display_card .AqIDNHFT_card_body::-webkit-scrollbar-thumb {
  background-color: #ffffff !important;
}
.QwOfef2u_card_wrapper ._5Y\+JrrHa_display_card .AqIDNHFT_card_body::-webkit-scrollbar-track {
  padding: 0 4px !important;
}
.QwOfef2u_card_wrapper ._5Y\+JrrHa_display_card .AqIDNHFT_card_body:hover::-webkit-scrollbar-thumb {
  background-color: #ccc !important;
}
.QwOfef2u_card_wrapper ._5Y\+JrrHa_display_card .AqIDNHFT_card_body:hover::-webkit-scrollbar-thumb:hover,
.QwOfef2u_card_wrapper ._5Y\+JrrHa_display_card .AqIDNHFT_card_body:hover::-webkit-scrollbar-thumb:active {
  background-color: #999 !important;
}
.QwOfef2u_card_wrapper .gLfWsjw6_draggable_area_left {
  position: absolute;
  height: 100%;
  width: 16px;
  top: 0;
  left: 0;
}
.QwOfef2u_card_wrapper .yqjoPGbk_draggable_area_top {
  position: absolute;
  height: 52px;
  width: 100%;
  top: 0;
  left: 0;
}
.QwOfef2u_card_wrapper .iUrbdjEg_draggable_area_right {
  position: absolute;
  height: 100%;
  width: 16px;
  top: 0;
  right: 0;
}

/*!***************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js!../../node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[2].use[3]!./src/web/layout/designer/HeaderNavDropDown.less ***!
  \***************************************************************************************************************************************************************************************************************************************************/
.GWucqz0j_header_nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 100%;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
}
.Ovudhbpp_header_nav_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 4px;
}
.Ovudhbpp_header_nav_container:hover {
  background: var(--dots-color-background-hover, rgba(255, 255, 255, 0.12));
  border-radius: 4px;
}
.Ovudhbpp_header_nav_container:active {
  background: var(--dots-color-background-hover, rgba(255, 255, 255, 0.12));
  border-radius: 4px;
}
.Ovudhbpp_header_nav_container i {
  line-height: 16px;
  font-size: 16px;
  width: 16px;
  height: 16px;
  color: var(--kd-nc-page-header-dot-color-text, rgba(255, 255, 255, 0.5));
}
.Ovudhbpp_header_nav_container i:hover {
  color: var(--kd-nc-page-header-dot-color-text-hover, #ffffff);
}
.q2r5C6zu_header_nav_menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 160px;
  color: #212121 !important;
}
.q2r5C6zu_header_nav_menu .kd-dropdown-menu-item:not(.disabled):active {
  background-color: #F2F9FF;
}
.i1eYlHah_header_nav_menu_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0 12px 12px !important;
}
.i1eYlHah_header_nav_menu_item:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}
._4rcXUi6A_header_nav_menu_item_divider {
  height: 1px;
  margin: 4px 0;
  overflow: hidden;
  line-height: 0;
  background-color: #D8D8D8;
}
.i1eYlHah_header_nav_menu_item i {
  margin-right: 8px;
}
.i1eYlHah_header_nav_menu_item > span {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

/*!************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js!../../node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[2].use[3]!./src/web/layout/apps/DetailHeaderLayout.less ***!
  \************************************************************************************************************************************************************************************************************************************************/
.ApS\+IMsm_app_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  background-color: var(--container-color-background-mid, #F8FAFC);
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

/*!*************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js!../../node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[2].use[3]!./src/web/pages/apps/detail/AppDetailPage.less ***!
  \*************************************************************************************************************************************************************************************************************************************************/
._5zTCZcku_app_form_detail {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--kd-nc-container-background-color, #F8FAFC);
  -webkit-box-shadow: 0px 4px 10px 2px rgba(0, 31, 122, 0.04);
          box-shadow: 0px 4px 10px 2px rgba(0, 31, 122, 0.04);
  border-radius: 4px;
  overflow: hidden;
}
._5zTCZcku_app_form_detail .ohFcZq8L_box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  overflow: auto;
}
._5zTCZcku_app_form_detail .ohFcZq8L_box .fCZWr7mq_main {
  width: 1180px;
  min-width: 1180px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}
._5zTCZcku_app_form_detail .ohFcZq8L_box .fCZWr7mq_main .nLrZBefF_bill {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
._5zTCZcku_app_form_detail .ohFcZq8L_box .fCZWr7mq_main .kd-nc-root-grid-panel {
  padding: 12px 0;
}
._5zTCZcku_app_form_detail .ohFcZq8L_box .fCZWr7mq_main #contentpanel,
._5zTCZcku_app_form_detail .ohFcZq8L_box .fCZWr7mq_main #bos_nocode_bill {
  overflow: unset;
}
._5zTCZcku_app_form_detail .qXOFJu1Z_has_flow .XBM8fxc7_scroll::-webkit-scrollbar {
  width: 0 !important;
}
._5zTCZcku_app_form_detail .qXOFJu1Z_has_flow .XBM8fxc7_scroll:hover::-webkit-scrollbar {
  width: 8px !important;
}
._5zTCZcku_app_form_detail .qXOFJu1Z_has_flow .nLrZBefF_bill {
  overflow: auto;
}
._5zTCZcku_app_form_detail .qXOFJu1Z_has_flow .nLrZBefF_bill::-webkit-scrollbar {
  width: 0 !important;
}
._5zTCZcku_app_form_detail .qXOFJu1Z_has_flow .nLrZBefF_bill:hover::-webkit-scrollbar {
  width: 8px !important;
}
._5zTCZcku_app_form_detail .qXOFJu1Z_has_flow .kd-nc-root-grid-panel {
  width: 844px;
}
._5zTCZcku_app_form_detail .qXOFJu1Z_has_flow .YLHj8Mpb_flow {
  width: 320px;
  padding: 12px 0;
  overflow-y: auto;
  overflow-x: hidden;
}
._5zTCZcku_app_form_detail .qXOFJu1Z_has_flow .YLHj8Mpb_flow::-webkit-scrollbar {
  width: 0 !important;
}
._5zTCZcku_app_form_detail .qXOFJu1Z_has_flow .YLHj8Mpb_flow:hover::-webkit-scrollbar {
  width: 8px !important;
}
._5zTCZcku_app_form_detail .SgJ9CUFc_footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px -3px 8px 1px rgba(0, 0, 0, 0.06);
          box-shadow: 0px -3px 8px 1px rgba(0, 0, 0, 0.06);
  z-index: 10;
}
._5zTCZcku_app_form_detail .KzNQOdtU_footer_main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1180px;
}
._5zTCZcku_app_form_detail .KzNQOdtU_footer_main:not(:empty) {
  padding: 12px 0;
}
._5zTCZcku_app_form_detail .wMiZVY4H_footer_main_tips {
  font-size: 14px;
}
._5zTCZcku_app_form_detail .wMiZVY4H_footer_main_tips .kd-checkbox-default-wrapper-size {
  width: 16px;
  height: 16px;
}
._5zTCZcku_app_form_detail .SgJ9CUFc_footer .UGMiso5u_btns {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
._5zTCZcku_app_form_detail ._3Z7QuvqL_mr12 {
  margin-right: 12px;
}

