
{{each data}}
{{if $index === 0}}
<div class="card-box">
    {{/if}}
    {{if $index > 0}}
    <div class="card-box unactive">
    {{/if}}
    <div class="card-item-title">
        <span>{{$value.lang}}</span>
        <span class="icons icon-minus"></span>
    </div>
    {{if $value.children.length}}
    <div class="card-item-container">
        {{each $value.children child i}}
        {{if child.url}}
        <div class="card-item" draggable="true">
        <img src="{{ child.url }}" alt={{child.name}} title="{{child.name}}"/>
        </div>
        {{/if}}
        {{/each}}
    </div>
    {{/if}}
    {{if $value.children.length <= 0}}
    <div class="card-item-container">
        <div class="no-data">暂无数据</div>
    </div>
    {{/if}}
    </div>
    {{/each}}
