html {
  overflow-x: auto;
  overflow-y: scroll;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: inherit;
  font-style: normal;
  vertical-align: baseline;
  background: transparent;
  border: 0;
  outline: 0;
}
body {
  box-sizing: border-box;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}
a {
  text-decoration: none;
}
table {
  border-collapse: collapse;
}
img {
  border: 0 none;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
body {
  box-sizing: border-box;
}
._2s9Z3sxY5r2wnnoTfb_fsY {
  overflow-x: auto;
  width: 100%;
  background-color: #fff;
  overflow-y: scroll;
  height: 100%;
}
._2s9Z3sxY5r2wnnoTfb_fsY ._3-E9sVkwdZWidxxoaDZQCB {
  padding-left: 40px;
}
._2s9Z3sxY5r2wnnoTfb_fsY h2 {
  height: 50px;
  padding-bottom: 10px;
  font-size: 24px;
  font-family: MicrosoftYaHei;
  color: #212121;
  line-height: 40px;
}
._2IOllEXonCh8-oKTQh02Ws {
  height: auto;
}
._1U-4GwGvuuYLO9VkFeoPnI {
  width: 82%;
}
._1U-4GwGvuuYLO9VkFeoPnI h1 {
  height: 96px;
  padding: 24px 0 36px 0;
  line-height: 38px;
  font-size: 30px;
  font-family: MicrosoftYaHeiSemibold;
  color: #333333;
}
._1U-4GwGvuuYLO9VkFeoPnI ._1IWfcHal7hyKJ4Hd5wmMez {
  height: 156px;
  padding-bottom: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
._1U-4GwGvuuYLO9VkFeoPnI ._1IWfcHal7hyKJ4Hd5wmMez div {
  height: 18px;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  color: #666666;
  line-height: 18px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
._25xO6i-VZfDpZKp3Oqipvp,
._1mtktj_b4gzWRS16lPocWn,
._1hjc4IhD0zcW9QpLld_S7K,
._29tVrJdkGSuvSqYyAh89YC {
  width: 82%;
  padding-bottom: 36px;
}
._25xO6i-VZfDpZKp3Oqipvp table,
._1mtktj_b4gzWRS16lPocWn table,
._1hjc4IhD0zcW9QpLld_S7K table,
._29tVrJdkGSuvSqYyAh89YC table {
  width: 100%;
  border-radius: 4px;
}
._25xO6i-VZfDpZKp3Oqipvp table tr,
._1mtktj_b4gzWRS16lPocWn table tr,
._1hjc4IhD0zcW9QpLld_S7K table tr,
._29tVrJdkGSuvSqYyAh89YC table tr {
  border-left: 1px #f2f2f2 solid;
  border-right: 1px #f2f2f2 solid;
  border-top: 1px #f2f2f2 solid;
  padding-left: 20px;
  display: flex;
  align-items: center;
}
._25xO6i-VZfDpZKp3Oqipvp thead,
._1mtktj_b4gzWRS16lPocWn thead,
._1hjc4IhD0zcW9QpLld_S7K thead,
._29tVrJdkGSuvSqYyAh89YC thead {
  width: 100%;
  background: #f2f2f2;
}
._25xO6i-VZfDpZKp3Oqipvp thead tr,
._1mtktj_b4gzWRS16lPocWn thead tr,
._1hjc4IhD0zcW9QpLld_S7K thead tr,
._29tVrJdkGSuvSqYyAh89YC thead tr {
  height: 36px;
}
._25xO6i-VZfDpZKp3Oqipvp thead td,
._1mtktj_b4gzWRS16lPocWn thead td,
._1hjc4IhD0zcW9QpLld_S7K thead td,
._29tVrJdkGSuvSqYyAh89YC thead td {
  height: 28px;
  font-size: 14px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #212121;
  line-height: 28px;
}
._25xO6i-VZfDpZKp3Oqipvp tbody,
._1mtktj_b4gzWRS16lPocWn tbody,
._1hjc4IhD0zcW9QpLld_S7K tbody,
._29tVrJdkGSuvSqYyAh89YC tbody {
  width: 100%;
  border-bottom: 1px #f2f2f2 solid;
}
._25xO6i-VZfDpZKp3Oqipvp tbody tr,
._1mtktj_b4gzWRS16lPocWn tbody tr,
._1hjc4IhD0zcW9QpLld_S7K tbody tr,
._29tVrJdkGSuvSqYyAh89YC tbody tr {
  height: 40px;
}
._25xO6i-VZfDpZKp3Oqipvp tbody td,
._1mtktj_b4gzWRS16lPocWn tbody td,
._1hjc4IhD0zcW9QpLld_S7K tbody td,
._29tVrJdkGSuvSqYyAh89YC tbody td {
  padding-right: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  font-family: SourceCodePro-Medium, SourceCodePro;
  font-weight: 500;
  color: #333333;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
._25xO6i-VZfDpZKp3Oqipvp tbody td span,
._1mtktj_b4gzWRS16lPocWn tbody td span,
._1hjc4IhD0zcW9QpLld_S7K tbody td span,
._29tVrJdkGSuvSqYyAh89YC tbody td span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
._25xO6i-VZfDpZKp3Oqipvp td {
  width: 286px;
}
._1mtktj_b4gzWRS16lPocWn .PeO4T0UNMfX-u31pzLg9P {
  display: flex;
  align-items: center;
}
._1mtktj_b4gzWRS16lPocWn ._2ziyof2xToWkXJx-27w3Qp {
  display: inline-block;
  width: 16px;
  height: 16px;
}
._1mtktj_b4gzWRS16lPocWn ._2tV3DzcHNlJwLWgDPPxtT3 {
  flex: 1;
  min-width: 170px;
}
._1hjc4IhD0zcW9QpLld_S7K {
  width: 82%;
}
._1hjc4IhD0zcW9QpLld_S7K ._1EI5kNfgWw2Dc8IA4YxZvB ._3toCmam8_Fzb7Rlkc9FFQg {
  padding-left: 28px;
  border: 1px solid rgba(151, 151, 151, 0.5);
  font-size: 16px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #666666;
  display: flex;
  align-items: center;
}
._1hjc4IhD0zcW9QpLld_S7K ._1EI5kNfgWw2Dc8IA4YxZvB ._3toCmam8_Fzb7Rlkc9FFQg ._2ie09HQzYKNAQIY1WyxpuE {
  padding-top: 7px;
}
._1hjc4IhD0zcW9QpLld_S7K ._1EI5kNfgWw2Dc8IA4YxZvB ._3toCmam8_Fzb7Rlkc9FFQg ._2qp7cxHpikC4coYdM_fRC {
  padding-top: 7px;
  color: #276ff5;
}
._1hjc4IhD0zcW9QpLld_S7K ._1EI5kNfgWw2Dc8IA4YxZvB ._3toCmam8_Fzb7Rlkc9FFQg .vsy4BpJEFmpFfum3e4ir2 {
  height: 3px;
  visibility: hidden;
}
._1hjc4IhD0zcW9QpLld_S7K ._1EI5kNfgWw2Dc8IA4YxZvB ._3toCmam8_Fzb7Rlkc9FFQg .B9M_GHGXfajzWVkTwQxe1 {
  height: 3px;
  background-color: #276ff5;
  visibility: visible;
}
._1hjc4IhD0zcW9QpLld_S7K ._1EI5kNfgWw2Dc8IA4YxZvB ._3toCmam8_Fzb7Rlkc9FFQg > div {
  padding-right: 40px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
._1hjc4IhD0zcW9QpLld_S7K ._1EI5kNfgWw2Dc8IA4YxZvB ._2a6z1hAE_gByy7Vwj3VB9u {
  border: 1px solid rgba(151, 151, 151, 0.5);
  border-top: 0;
  position: relative;
}
._1hjc4IhD0zcW9QpLld_S7K ._1EI5kNfgWw2Dc8IA4YxZvB ._2a6z1hAE_gByy7Vwj3VB9u code {
  background: #f6f8fa;
  padding: 20px 0 20px 25px;
  font-size: 12px;
  font-family: SourceCodePro-Regular, SourceCodePro;
  font-weight: 400;
  line-height: 18px;
  padding-left: 28px;
}
._1hjc4IhD0zcW9QpLld_S7K ._1EI5kNfgWw2Dc8IA4YxZvB ._2a6z1hAE_gByy7Vwj3VB9u img {
  width: 20px;
  height: 20px;
}
._1hjc4IhD0zcW9QpLld_S7K ._1EI5kNfgWw2Dc8IA4YxZvB ._2js6hE4DJrsT4-YiBu0Huc {
  position: absolute;
  top: 18px;
  right: 19px;
  color: #666666;
  display: flex;
}
._29tVrJdkGSuvSqYyAh89YC {
  padding-left: 40px;
}
._29tVrJdkGSuvSqYyAh89YC a {
  display: inline-block;
  border: 1px solid #5582f3;
  border-radius: 3px;
  padding: 4px 12px;
  margin-right: 10px;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  color: #5582f3;
  cursor: pointer;
}
._29tVrJdkGSuvSqYyAh89YC .SELPO2FcEpJOsvz4aH-s7 {
  display: none;
}
._1qdt2qP5_7wH-WDxZ_B9de {
  visibility: hidden;
}
.kSuH85jAAiFEOVjx-uZm0 {
  visibility: visible;
  width: 160px;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 2;
}
.kSuH85jAAiFEOVjx-uZm0 li {
  height: 37px;
}
.kSuH85jAAiFEOVjx-uZm0 a {
  width: 100%;
  display: inline-block;
  border-left: 1px solid #98a1a8;
  padding-left: 9px;
  color: #98a1a8;
  height: 37px;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  line-height: 37px;
}
.kSuH85jAAiFEOVjx-uZm0 a:hover,
.kSuH85jAAiFEOVjx-uZm0 a:active {
  color: #3863ff;
}
.kSuH85jAAiFEOVjx-uZm0 .b6YZNcXe48Mt9vkF3492A {
  color: #3863ff;
  border-color: #3863ff;
}
._3Y_Kpzlxd2uEMSaQUDE1PC {
  display: none;
}
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 3px 5px;
}
/*!
  Theme: GitHub
  Description: Light theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-light
  Current colors taken from GitHub's CSS
*/
.hljs {
  color: #24292e;
  background: #fff;
}
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  color: #d73a49;
}
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  color: #6f42c1;
}
.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-variable {
  color: #005cc5;
}
.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  color: #032f62;
}
.hljs-built_in,
.hljs-symbol {
  color: #e36209;
}
.hljs-code,
.hljs-comment,
.hljs-formula {
  color: #6a737d;
}
.hljs-name,
.hljs-quote,
.hljs-selector-pseudo,
.hljs-selector-tag {
  color: #22863a;
}
.hljs-subst {
  color: #24292e;
}
.hljs-section {
  color: #005cc5;
  font-weight: 700;
}
.hljs-bullet {
  color: #735c0f;
}
.hljs-emphasis {
  color: #24292e;
  font-style: italic;
}
.hljs-strong {
  color: #24292e;
  font-weight: 700;
}
.hljs-addition {
  color: #22863a;
  background-color: #f0fff4;
}
.hljs-deletion {
  color: #b31d28;
  background-color: #ffeef0;
}

/*# sourceMappingURL=index.css.map*/