#fieldstyleflex .kd-table-header-cell {
    cursor: pointer;
}

#fieldstyleflex .kd-table-cell {
    border-right: 1px solid #D9D9D9;
}

#fieldstyleflex .kd-table-cell>div {
    width: 100%;
    padding-right: 5px;
}

/* #fieldstyleflex .kd-table-cell > div > span {
    flex-grow: 0 !important;
} */


#fieldstyleflex .kd-table-header-cell {
    border-right: 1px solid #D9D9D9;
    cursor: move;
    padding: 0 !important;
    height: 20px
}

#fieldstyleflex .kd-table th .kd-table-header-cell-resize {
    display: none !important;
}

#fieldstyleflex .kd-table-cell-range-selected {
    color: #000000ff;
    /* background-color: #ffffffff !important; */
    font-family: 微软雅黑;
    font-size: 8pt;
    text-align: center;
    border-top: 1px solid var(--theme-color);
    border-left: 1px solid var(--theme-color);
    border-right: 1px solid var(--theme-color);
    border-bottom: 1px solid var(--theme-color);
}

#fieldstyleflex>.kd-table-cell-range-selected:fisrt-child {
    color: #000000ff;
    /* background-color: #ffffffff !important; */
    font-family: 微软雅黑;
    font-size: 8pt;
    text-align: center;
    border-left: 1px solid var(--theme-color);
}

#fieldstyleflex>.kd-table-cell-range-selected:last-child {
    color: #000000ff;
    /* background-color: #ffffffff !important; */
    font-family: 微软雅黑;
    font-size: 8pt;
    text-align: center;
    border-right: 1px solid var(--theme-color);
}

#fieldstyleflex .kd-table-header {
    border-top: none !important;
    border-right: 1px solid #D9D9D9 !important;
    border-left: 1px solid #D9D9D9 !important;
}

#fieldstyleflex .kd-lock-shadow-mask {
    height: calc(100% - 11px) !important;
}



#fieldstyleflex .kd-table-header-row {
    height: 20px !important;
}

#fieldstyleflex .kd-table-header-row>div:nth-child(2) {
    top: 20px !important;
}

#fieldstyleflex .kd-table-header-cell-content {
    height: 20px !important;
    justify-content: center !important;
}

/*#fieldstyleflex .ag-horizontal-left-spacer{border-right: none !important;} */

#fieldstyleflex .kd-table-body {
    border-bottom: 1px solid #D9D9D9 !important;
    border-right: 1px solid #D9D9D9 !important;
    border-left: 1px solid #D9D9D9 !important;
}

#fieldstyleflex .kd-horizontal-scroll-container {
    border-top: none !important;
}

#fieldstyleflex .kd-table-header-title {
    font-size: 17px;
}

/*#fieldstyleflex .ag-header-group-cell-label{cursor: pointer;} */

#fieldstyleflex ._3r8CuhtF {
    display: none;
}

#fieldstyleflex ._3t4l7Cu2 {
    height: 0;
}

#reportlistap {
    border: none !important;
}

#fieldstyleflex .kd-table-cell-focus {
    border: 1px solid var(--theme-color) !important;
}

#fieldstyleflex #reportlistap>div>div>div:last-child>div:first-child {
    display: none;
}