._3uGtzkUV6F6YPnw0c30Xdf {
  width: 240px;
  height: 40px;
  opacity: 0.8;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px 0px rgba(102, 121, 149, 0.18);
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  font-size: 14px;
  margin: 10px;
  padding: 3px;
}
._3uGtzkUV6F6YPnw0c30Xdf ._366r5JFQLFtwXDxJ9mULak {
  width: 120px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #212121;
}
._3uGtzkUV6F6YPnw0c30Xdf ._366r5JFQLFtwXDxJ9mULak._1ojatZg-ibj_rlIsLPLfXd {
  background: #5582F3;
  border-radius: 24px;
  color: #fff;
  transition: background 0.3s ease;
}
._3uGtzkUV6F6YPnw0c30Xdf ._366r5JFQLFtwXDxJ9mULak._1ojatZg-ibj_rlIsLPLfXd ._3dzV9g7eo6kjAb3jUm0PKy {
  color: #fff;
}
._3uGtzkUV6F6YPnw0c30Xdf ._366r5JFQLFtwXDxJ9mULak ._3dzV9g7eo6kjAb3jUm0PKy {
  margin-right: 4px;
  color: #666;
}
#kd-theme #kd_cq_custom_xiao_k_ctrl {
  display: none;
}
