<script type="javascript" src=""></script>
<div id="intercoList" >
    <ul id="advUl">
        <% for(var i=0;i < advertData.list.length;i++){ %>
        <li id="<%= advertData.list[i].id %>">
            <div class="top-line">
                <span class="adv-title"><%= advertData.list[i].name %></span>
                <span class="<%= advertData.list[i].isurgent ? 'icon-ji' : '' %>"></span>
                <span class="<%= advertData.list[i].isreward ? 'coins' : '' %>"></span>
            </div>
            <div class="bottom-line">
                <div class="sub-title">
                    <!--职位类别-->
                    <span class="text-format"><%= advertData.list[i].poscategoryName %></span>
                    <span>&nbsp;|&nbsp;</span>
                    <!--工作地点-->
                    <span class="text-format"><%= advertData.list[i].workaddr %></span>
                    <span>&nbsp;|&nbsp;</span>
                    <!--需求部门-->
                    <span class="text-format"><%= advertData.list[i].reqorg %></span>
                </div>
                <div class="publish-time">
                    <span>发布日期：</span>
                    <span><%= advertData.list[i].createtime %></span>
                </div>
            </div>
            <div class="<%= advertData.list[i].istop ? 'icon-top' : 'show-none' %>"></div>
            <div class="<%= advertData.list[i].isreward ? 'icon-xs' : 'show-none' %>">
                <div><%= advertData.list[i].rewardname %></div>
                <div style="word-wrap:break-word; word-break:break-all;"><%= advertData.list[i].reward %></div>
            </div>
        </li>
        <% } %>
    </ul>
</div>
