._2Ht0X7Z8kmSHF_EUEDE904 {
  height: 100%;
  background: #FFFFFF;
  padding: 12px 0px 0px 20px;
}
._2Ht0X7Z8kmSHF_EUEDE904 ._28_RWgn35L0dEw5EXVe6-O ._14xc3lZGORigaLJYsOs37e {
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #212121;
  letter-spacing: 0;
  text-align: justify;
  font-weight: 400;
}
._2Ht0X7Z8kmSHF_EUEDE904 ._28_RWgn35L0dEw5EXVe6-O ._2HLttZxi4ZpCd67LuoBHBg {
  padding: 8px 0px;
  display: flex;
  flex-wrap: wrap;
}
._2Ht0X7Z8kmSHF_EUEDE904 ._28_RWgn35L0dEw5EXVe6-O ._2HLttZxi4ZpCd67LuoBHBg ._1q53XLmPpcvYFkEghOV_-f {
  width: 200px;
  height: 67px;
  background: rgba(85, 130, 243, 0.12);
  border-radius: 4px;
  padding: 12px;
  margin-right: 16px;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
  margin-bottom: 12px;
}
._2Ht0X7Z8kmSHF_EUEDE904 ._28_RWgn35L0dEw5EXVe6-O ._2HLttZxi4ZpCd67LuoBHBg ._1q53XLmPpcvYFkEghOV_-f ._14ugEyBq1cKYp6glfu31LZ {
  position: absolute;
  top: 15px;
  left: 0;
  background: var(--theme-color);
  border-radius: 2px;
  width: 4px;
  height: 12px;
}
._2Ht0X7Z8kmSHF_EUEDE904 ._28_RWgn35L0dEw5EXVe6-O ._2HLttZxi4ZpCd67LuoBHBg ._1q53XLmPpcvYFkEghOV_-f ._2BD0qDb2kyiI8OcmUWqX_6 {
  font-family: MicrosoftYaHeiSemibold;
  font-size: 14px;
  color: #212121;
  letter-spacing: 0;
  line-height: 18px;
  font-weight: 600;
  display: flex;
}
._2Ht0X7Z8kmSHF_EUEDE904 ._28_RWgn35L0dEw5EXVe6-O ._2HLttZxi4ZpCd67LuoBHBg ._1q53XLmPpcvYFkEghOV_-f ._2BD0qDb2kyiI8OcmUWqX_6 ._2PU9GWYbb1F3ZZ_mlZbgAA {
  max-width: 130px;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
._2Ht0X7Z8kmSHF_EUEDE904 ._28_RWgn35L0dEw5EXVe6-O ._2HLttZxi4ZpCd67LuoBHBg ._1q53XLmPpcvYFkEghOV_-f ._2BD0qDb2kyiI8OcmUWqX_6 ._1DuNOrk2C9iIKlXsQXyUWR {
  color: #666666;
  margin-left: 5px;
}
._2Ht0X7Z8kmSHF_EUEDE904 ._28_RWgn35L0dEw5EXVe6-O ._2HLttZxi4ZpCd67LuoBHBg ._1q53XLmPpcvYFkEghOV_-f .gyV97mzd0Y4TKLuESMWc2 {
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #999999;
  letter-spacing: 0;
  font-weight: 400;
  display: flex;
  margin-top: 12px;
}
._2Ht0X7Z8kmSHF_EUEDE904 ._28_RWgn35L0dEw5EXVe6-O ._2HLttZxi4ZpCd67LuoBHBg ._1q53XLmPpcvYFkEghOV_-f .gyV97mzd0Y4TKLuESMWc2 ._2ft1nzu0Ca4gnGndATAf4t {
  font-family: MicrosoftYaHei;
  font-size: 12px;
  color: var(--theme-color);
  letter-spacing: 0;
  text-align: justify;
  font-weight: 400;
  text-decoration: none;
  margin-left: 4px;
}
._2Ht0X7Z8kmSHF_EUEDE904 ._28_RWgn35L0dEw5EXVe6-O ._2HLttZxi4ZpCd67LuoBHBg ._1q53XLmPpcvYFkEghOV_-f ._1bpKiN85Hoir564un8hhh_ {
  margin-left: 24px;
}
._2Ht0X7Z8kmSHF_EUEDE904 ._28_RWgn35L0dEw5EXVe6-O ._2HLttZxi4ZpCd67LuoBHBg ._1q53XLmPpcvYFkEghOV_-f:hover {
  border: 1px solid var(--theme-color);
}
._2Ht0X7Z8kmSHF_EUEDE904 ._28_RWgn35L0dEw5EXVe6-O ._2HLttZxi4ZpCd67LuoBHBg ._1q53XLmPpcvYFkEghOV_-f:hover ._2BD0qDb2kyiI8OcmUWqX_6 {
  color: var(--theme-color);
}
