.vyjMcanQ3m4b_DOACftc4 {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
.vyjMcanQ3m4b_DOACftc4 ._2uMsG0yAof6DE3QnOtom8d,
.vyjMcanQ3m4b_DOACftc4 ._1wKZIsF3Vp_n1sU-JtP1rN {
  font-family: "MicrosoftYaHei";
  font-size: 14px;
  color: #212121;
  letter-spacing: 0;
  font-weight: 400;
}
.vyjMcanQ3m4b_DOACftc4 ._1wKZIsF3Vp_n1sU-JtP1rN {
  margin: 6px 0;
}
.vyjMcanQ3m4b_DOACftc4 ._2o7F5AmbkaToKVsIMvMqvh {
  flex-grow: 1;
  border: 1px solid #d9d9d9;
  padding: 16px 20px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.vyjMcanQ3m4b_DOACftc4 ._2o7F5AmbkaToKVsIMvMqvh .jPo5bkdSLsCrVJi6QOydF {
  font-family: "MicrosoftYaHei";
  font-size: 14px;
  color: #212121;
  letter-spacing: 0;
  font-weight: 400;
}
.vyjMcanQ3m4b_DOACftc4 ._2o7F5AmbkaToKVsIMvMqvh ._2rHz5jxIraL01aRSmBOb8a {
  overflow: auto;
  flex-grow: 1;
}
.vyjMcanQ3m4b_DOACftc4 ._2o7F5AmbkaToKVsIMvMqvh ._2rHz5jxIraL01aRSmBOb8a ._2yXRFxPqfCcWRuJ4UpnAil {
  background: #F2F2F2;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  margin-top: 12px;
  padding: 12px;
}
.vyjMcanQ3m4b_DOACftc4 ._2o7F5AmbkaToKVsIMvMqvh ._2rHz5jxIraL01aRSmBOb8a ._2yXRFxPqfCcWRuJ4UpnAil ._3iDOX6sF9pdCufiYtmni3G {
  font-family: "MicrosoftYaHei";
  font-size: 14px;
  color: #212121;
  letter-spacing: 0;
  font-weight: 400;
}
.vyjMcanQ3m4b_DOACftc4 ._2o7F5AmbkaToKVsIMvMqvh ._2rHz5jxIraL01aRSmBOb8a ._2yXRFxPqfCcWRuJ4UpnAil ._1eaW6S1GwzB_HOn3XQChD4 {
  border-bottom: 1px solid #d9d9d9;
  margin: 12px 0;
}
.vyjMcanQ3m4b_DOACftc4 ._2o7F5AmbkaToKVsIMvMqvh ._2rHz5jxIraL01aRSmBOb8a ._2yXRFxPqfCcWRuJ4UpnAil ._2x5jmCH772LYagTzEQeA1h ._224NwI2NAKRoL9v54gwUVA {
  color: var(--link-color);
  cursor: pointer;
}
.vyjMcanQ3m4b_DOACftc4 ._2o7F5AmbkaToKVsIMvMqvh ._2rHz5jxIraL01aRSmBOb8a ._2yXRFxPqfCcWRuJ4UpnAil ._2x5jmCH772LYagTzEQeA1h ._3DbXyglYu9i5l-q-igaUFT ._11zQJcpZDZQ_zxoNgpISBB {
  color: var(--link-color);
  cursor: pointer;
}
