<div class="tablecustomcontrolap vue_template">
  <table border="1" cellpadding="0" cellspacing="0">
    <tbody>
    <template v-for="y of tableCustomControlapPojo.rowInteger">
      <tr :class="y === 1 ? 'table_first_row': 'table_row'">
        <template v-for="x of tableCustomControlapPojo.columnInteger">
          <td @click.stop="frontMethodProxy('BACK_END_CUSTOM_EVENT_NAME_STRING', 'clickCell', 'x', x, 'y', y)">
            <template v-for="cellPojo in CommonUtils.getArray(tableCustomCellPojoListMap.get(CommonUtils.getJoinString('_', y, x)))">
              <template v-if="(!cellPojo && (!tableCustomControlapPojo.defaultCellTypeString || tableCustomControlapPojo.defaultCellTypeString === 'e')) || (cellPojo && cellPojo.t === 'e')"></template>
              <template v-else-if="(!cellPojo && tableCustomControlapPojo.defaultCellTypeString === 'i') || (cellPojo && cellPojo.t === 'i')">
                <template v-if="!cellPojo || !cellPojo.s || cellPojo.s === 'e'">
                  <div class="outer_div__empty cursor_pointer"></div>
                </template>
                <template v-else-if="cellPojo.s === 'f'">
                  <div class="outer_div__full cursor_pointer">
                    <div class="inner_div__full"><i class="el-icon-check" style="color: white;line-height: 20px;"></i></div>
                  </div>
                </template>
                <template v-else-if="cellPojo.s === 'h'">
                  <div class="outer_div__half cursor_pointer">
                    <div class="inner_div__half"></div>
                  </div>
                </template>
              </template>
              <template v-else-if="cellPojo && cellPojo.t === 's'"><div>{{cellPojo.v}}</div></template>
              <template v-else-if="cellPojo && cellPojo.t === 't'">
                <div>
                  <template v-if="cellPojo.l"><template v-for="itemLevelInt of cellPojo.l"><span style="margin-left: 5px;"></span></template></template>
                  <span class="cursor_pointer shrink_or_expand">
                      <template v-if="cellPojo.s === 'p'"><i class="el-icon-circle-plus-outline"></i></template>
                      <template v-else><i class="el-icon-remove-outline"></i></template>
                    </span>
                </div>
              </template>
            </template>
          </td>
        </template>
      </tr>
    </template>
    </tbody>
  </table>
</div>