.wutNrO3C_code_editor {
  font-size: 14px;
  letter-spacing: 0.5px;
}
.wutNrO3C_code_editor .CodeMirror {
  height: 100%;
}
.wutNrO3C_code_editor .CodeMirror.cm-s-cobalt {
  background-color: #2C3244;
}
.wutNrO3C_code_editor .CodeMirror.cm-s-cobalt .CodeMirror-gutters {
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  background-color: #2C3244;
}
.wutNrO3C_code_editor .CodeMirror.cm-s-cobalt .CodeMirror-activeline-background {
  background-color: rgba(255, 255, 255, 0.2);
}
.wutNrO3C_code_editor .CodeMirror.cm-s-cobalt div.CodeMirror-selected {
  background: rgba(39, 111, 245, 0.25);
}
.wutNrO3C_code_editor .CodeMirror-line:first-child .cm-property {
  color: #A1ECFF;
}
.wutNrO3C_code_editor .CodeMirror .CodeMirror-line {
  line-height: 21px;
}
.wutNrO3C_code_editor .CodeMirror .CodeMirror-line span .cm-string {
  color: #FFA97B;
}
.wutNrO3C_code_editor .CodeMirror .CodeMirror-line span .cm-property {
  color: #A1ECFF;
}
.wutNrO3C_code_editor .CodeMirror .CodeMirror-line span .cm-atom {
  color: #16AFF1;
}
.wutNrO3C_code_editor .CodeMirror .CodeMirror-line span .cm-number {
  color: #DDFF8F;
}
.wutNrO3C_code_editor .CodeMirror-foldmarker {
  color: #ffffff;
}
.wutNrO3C_code_editor .CodeMirror-guttermarker-subtle {
  padding-left: 3px;
  color: #fff !important;
}
.wutNrO3C_code_editor .CodeMirror-scrollbar-filler {
  background-color: #2C3244;
}

