/*!***********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!../../node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/control/common/ReadonlyText/index.less ***!
  \***********************************************************************************************************************************************************************************************************************************************/
.-rlRszmb_text {
  font-size: 14px;
  color: #212121;
  word-wrap: break-word;
}

/*!**********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!../../node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/control/common/ReadonlyTag/index.less ***!
  \**********************************************************************************************************************************************************************************************************************************************/
.UorQ2tLh_readonlytag {
  word-wrap: break-word;
}
.NIEP8w2i_readonlytag-empty {
  height: 100%;
}
.bemEzzcb_readonlytag-item {
  display: inline-block;
  margin-right: 4px;
}

/*!*****************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!../../node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/control/mobile/Select/index.less ***!
  \*****************************************************************************************************************************************************************************************************************************************/
.T\+ILD5kc_select_option {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
._0iyeOEU6_select_notfound {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  height: 100%;
  color: #999999;
}
.CS0eqZg-_select_tagoption_multi,
.UTaYjNCL_select_tagoption_single {
  display: inline-block;
}
.mn\+q7uKX_select_tag_multi {
  white-space: normal;
  overflow: auto;
  margin-right: 4px;
}
._0oWvQY4h_select_tag_single {
  display: inline-block;
}
.MNasGbB3_popup_content_disabled {
  pointer-events: none;
}

/*!****************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!../../node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/control/mobile/Radio/index.less ***!
  \****************************************************************************************************************************************************************************************************************************************/
.khLEjfoM_radio_disabled .kdm-radio-checked::before {
  border-color: var(--kdm-c-radio-color-disabled, var(--kdm-g-color-disabled, #cccccc));
  border-width: 1px;
  background-color: var(--kdm-c-radio-color-background-disabled, var(--kdm-g-color-background-contain-disabled, #f5f5f5));
  -webkit-box-shadow: none;
  box-shadow: none;
}
.khLEjfoM_radio_disabled .kdm-radio-checked::after {
  background-color: var(--kdm-c-radio-color-disabled, var(--kdm-g-color-disabled, #cccccc));
  -webkit-animation: none;
          animation: none;
}

/*!*******************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!../../node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/control/mobile/Checkbox/index.less ***!
  \*******************************************************************************************************************************************************************************************************************************************/
.SCmndLJC_checkbox_disabled .kdm-checkbox-default-wrapper {
  background-color: #f5f5f5;
  border-color: #ccc;
}
.SCmndLJC_checkbox_disabled .kdm-checkbox-default-checked .kdm-checkbox-default-inner {
  color: #ccc;
}

/*!******************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!../../node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/control/mobile/RefBill/index.less ***!
  \******************************************************************************************************************************************************************************************************************************************/
._54fTl\+Yu_ref-bill-option {
  padding: 12px 0;
}
.I-f6aEiv_ref-bill-option-title {
  font-size: 14px;
  color: #212121;
  letter-spacing: 0;
  line-height: 20px;
  font-weight: 400;
  word-break: break-word;
}
.z8gANQMR_ref-bill-option-desc {
  font-size: 12px;
  color: #999999;
  letter-spacing: 0;
  line-height: 16px;
  font-weight: 400;
  margin-top: 4px;
  word-break: break-word;
}
.c4n62y0z_ref-bill-option-empty {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.B\+v0ytCg_ref-bill-extra {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 12px;
  text-align: center;
}

/*!************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!../../node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/control/mobile/RefBill/RefBillUsrOrCompanyInfo.less ***!
  \************************************************************************************************************************************************************************************************************************************************************/
.D2uvtrIA_popup_body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.aYJTSKTE_org_info {
  width: 720px;
  padding: 16px 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  line-height: 20px;
}
.aYJTSKTE_org_info [data-code='opera'] {
  border-right: none !important;
}
.aYJTSKTE_org_info .kd {
  --font-size: 14px;
}
.aYJTSKTE_org_info .kd-table-header-cell-content {
  font-weight: bold;
}
.aYJTSKTE_org_info .kdicon {
  font-size: 24px;
  color: #999;
}
.aYJTSKTE_org_info ._3mIYmgcN_organization {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.aYJTSKTE_org_info ._3mIYmgcN_organization::after {
  content: '';
  clear: both;
}
.aYJTSKTE_org_info ._3mIYmgcN_organization .x8pGkqfS_item {
  float: left;
  line-height: 20px;
  margin-bottom: 16px;
  width: 324px;
}
.aYJTSKTE_org_info ._3mIYmgcN_organization .x8pGkqfS_item:not(:nth-child(2n)) {
  margin-right: 24px;
}
.aYJTSKTE_org_info ._3mIYmgcN_organization .x8pGkqfS_item div {
  word-break: break-word;
}
.aYJTSKTE_org_info ._3mIYmgcN_organization .x8pGkqfS_item .tIkx0VPm_title {
  color: #666;
  margin-bottom: 4px;
}
.aYJTSKTE_org_info .UZyfhDne_list {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  overflow: auto;
}
.aYJTSKTE_org_info .ghNioCPY_page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.Ef77mT7u_user_info {
  font-size: 14px;
  color: #212121;
  line-height: 20px;
  overflow-y: auto;
  padding: 12px;
  max-height: 90vh;
}
.Ef77mT7u_user_info .x8pGkqfS_item:not(:last-child) {
  margin-bottom: 24px;
}
.Ef77mT7u_user_info .x8pGkqfS_item:not(:last-child) div {
  word-break: break-word;
}
.Ef77mT7u_user_info .tIkx0VPm_title {
  color: #666666;
  margin-bottom: 4px;
}
.Ef77mT7u_user_info ._8U-jn1Ug_avatar span {
  width: 24px;
  height: 24px;
}
.Ef77mT7u_user_info ._00nsNgYE_origin {
  --font-size: 14px;
  border-color: var(--kd-nc-border-1, #e5e5e5) !important;
}
.Ef77mT7u_user_info ._00nsNgYE_origin td:not(:last-child) {
  border-right: 1px solid var(--kd-nc-border-1, #e5e5e5);
}
.Ef77mT7u_user_info ._00nsNgYE_origin th.kd-leaf:not(:last-child) {
  border-right: 1px solid var(--kd-nc-border-1, #e5e5e5) !important;
}
.Ef77mT7u_user_info table {
  width: 100%;
  background: var(--kd-nc-border-1, #e5e5e5);
}
.Ef77mT7u_user_info th {
  background-color: #FAFAFA;
  text-align: left;
  padding: 8px 12px;
}
.Ef77mT7u_user_info td {
  background: #fff;
  padding: 8px 12px;
  word-break: break-word;
}
._2jnKO7VQ_org_Info {
  width: 100%;
  height: calc(100vh - 80px);
  border: 0px;
}
.sPSqBVga_headTitle {
  line-height: 24px;
  font-size: var(--kdm-c-popup-title-font-size, var(--kdm-g-font-size-large, 16px));
  color: var(--kdm-c-popup-title-color-text, var(--kdm-g-color-text-primary, #212121));
  font-weight: bold;
  padding: var(--kdm-c-popup-header-sizing-padding-vertical, 12px) var(--kdm-c-popup-header-sizing-padding-horizontal, 12px);
  border-bottom: var(--kdm-c-popup-dividing-sizing-width, 0.5px) solid var(--kdm-c-popup-dividing-color-border, #e5e5e5);
}
.AVFhz5E2_hidden {
  display: none;
}
.xwSSaRqa_org_Info_loading {
  height: calc(100vh - 80px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/*!****************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!../../node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/control/mobile/RefBill/RefBillReadonly.less ***!
  \****************************************************************************************************************************************************************************************************************************************************/
._7hth3Wfp_text {
  word-break: break-word;
  font-size: 14px;
}
._7hth3Wfp_text a {
  cursor: pointer;
  color: var(--kd-nc-message-6);
}
._7hth3Wfp_text a:hover {
  color: var(--kd-nc-message-5);
}

/*!****************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!../../node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/base/mobile/Password/index.less ***!
  \****************************************************************************************************************************************************************************************************************************************/
.t1pThr\+d_password-input-suffix {
  color: #999;
  cursor: pointer;
}
.u6SagLzg_password-input-suffix-disabled {
  cursor: not-allowed;
}
.t1pThr\+d_password-input-suffix:not(.u6SagLzg_password-input-suffix-disabled):hover {
  color: #212121;
}

/*!********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!../../node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/control/mobile/DataGrid/CardViewGrid/index.less ***!
  \********************************************************************************************************************************************************************************************************************************************************/
.l0rsW0pF_card-footer {
  margin-left: 16px;
  margin-top: 4px;
  font-size: 14px;
  color: #212121;
  letter-spacing: 0;
  line-height: 20px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-bottom: 8px;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!../../node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/control/mobile/DataGrid/TableViewGrid/CellRender/AttachmentCellRenderer.less ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.pUMab9YU_grid-attachment-display {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #276FF5;
}
.pUMab9YU_grid-attachment-display .lF9F2VuR_cell_display {
  margin-left: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 100%;
}
.pUMab9YU_grid-attachment-display .kzjnTNI3_thumb_nail_icon {
  height: 16px;
  width: 16px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.pUMab9YU_grid-attachment-display .kzjnTNI3_thumb_nail_icon img {
  height: 100%;
  width: 100%;
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!../../node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/control/mobile/DataGrid/TableViewGrid/CellRender/PictureCellRenderer.less ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.TLJyiNPO_grid-picture-display {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #276FF5;
  cursor: pointer;
  width: 100%;
  overflow: hidden;
}
.TLJyiNPO_grid-picture-display .x4M-bzat_display_name {
  margin-left: 8px;
  display: inline-block;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 100%;
}
.TLJyiNPO_grid-picture-display img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}
.TLJyiNPO_grid-picture-display:hover .x4M-bzat_display_name {
  color: #5797FF;
}
.TLJyiNPO_grid-picture-display:hover img {
  opacity: 0.4;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!../../node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/control/mobile/DataGrid/TableViewGrid/CellRender/SelectCellRenderer.less ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.guSM8vZq_grid-select-wrapper {
  max-height: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.guSM8vZq_grid-select-wrapper .diZmi6ay_grid-select {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.guSM8vZq_grid-select-wrapper .-R5xU444_grid-select-item {
  display: inline-block;
}
.guSM8vZq_grid-select-wrapper .-R5xU444_grid-select-item:not(:only-child) {
  margin: 0 4px 0 0 !important;
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!../../node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/control/mobile/DataGrid/TableViewGrid/CellRender/DefaultCellRenderer.less ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.wY81slhM_value {
  width: 100%;
  font-weight: inherit;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!../../node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/control/mobile/DataGrid/TableViewGrid/RowEditor/index.less ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.fmStsq1\+_popup {
  max-height: calc(100vh - 80px);
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.fmStsq1\+_popup ._89N9mc0L_box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 4px;
  padding-bottom: constant(safe-area-inset-bottom);
  /* 兼容 iOS < 11.2 */
  padding-bottom: env(safe-area-inset-bottom);
  /* 兼容 iOS >= 11.2 */
  font-size: 16px;
  overflow: hidden;
}
.fmStsq1\+_popup ._89N9mc0L_box .YgJH7jJt_tip {
  font-size: 14px;
  color: #999999;
  line-height: 44px;
  height: 44px;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 16px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
.fmStsq1\+_popup ._89N9mc0L_box ._74Q3yJHs_field_layout {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 12px;
}

/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!../../node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/control/mobile/DataGrid/TableViewGrid/RowEditor/FooterLayout.less ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.nsI-Iy6j_footerlayout {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 48px;
  padding: 6px 12px 0;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #E5E5E5;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  padding-bottom: constant(safe-area-inset-bottom);
  /* 兼容 iOS < 11.2 */
  padding-bottom: env(safe-area-inset-bottom);
  /* 兼容 iOS >= 11.2 */
}

/*!*******************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!../../node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/control/mobile/DataGrid/index.less ***!
  \*******************************************************************************************************************************************************************************************************************************************/
._6Z0QEGlm_table_view_grid_wrapper {
  max-height: 400px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  overflow: hidden;
  width: 100%;
}
._3c8Ujd7I_ref-bill-option-empty {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

