._2978iaPh8rXmbUFs0ESOri {
  height: 100%;
}
._3KkKwT-UmgHmH99IDSQkCA {
  background-color: #f5f5f5;
  height: 100%;
}
._3KkKwT-UmgHmH99IDSQkCA ._2Rezp8WYcXG8p4kzW5DAWg {
  display: flex;
  justify-content: flex-start;
  height: 100%;
}
._3KkKwT-UmgHmH99IDSQkCA ._2Rezp8WYcXG8p4kzW5DAWg .n5MiRmPGrMwNUNikis5m0 {
  width: 280px;
  background-color: #fff;
  height: 100%;
  overflow-x: scroll;
}
._3KkKwT-UmgHmH99IDSQkCA ._2Rezp8WYcXG8p4kzW5DAWg ._1LAoALGlYCmUBG2fMp0z7K {
  padding: 0px 15px;
  flex: auto;
}
._3KkKwT-UmgHmH99IDSQkCA ._2Rezp8WYcXG8p4kzW5DAWg ._1LAoALGlYCmUBG2fMp0z7K ._2g5YNdp8zsAuEOPo4t_KNu {
  background-color: #fff;
  padding: 10px;
  width: 100%;
}
._3KkKwT-UmgHmH99IDSQkCA ._2Rezp8WYcXG8p4kzW5DAWg ._1LAoALGlYCmUBG2fMp0z7K ._2g5YNdp8zsAuEOPo4t_KNu ._7P-dvtqhCNSANHInZFrNs {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
}
._3KkKwT-UmgHmH99IDSQkCA ._2Rezp8WYcXG8p4kzW5DAWg ._1LAoALGlYCmUBG2fMp0z7K ._2g5YNdp8zsAuEOPo4t_KNu ._2s1MRoAceO2CO-f0grs7Y- {
  font-size: 14x;
  line-height: 20px;
}
._3KkKwT-UmgHmH99IDSQkCA ._2Rezp8WYcXG8p4kzW5DAWg ._1LAoALGlYCmUBG2fMp0z7K ._1u6dPGo3NRVQckyiQEkqfB {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
._3KkKwT-UmgHmH99IDSQkCA ._2Rezp8WYcXG8p4kzW5DAWg ._1LAoALGlYCmUBG2fMp0z7K ._1u6dPGo3NRVQckyiQEkqfB ._2boy1J2xNfMKvCobncvXqW {
  width: 30%;
  height: 100%;
  background-color: #fff;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}
._3KkKwT-UmgHmH99IDSQkCA ._2Rezp8WYcXG8p4kzW5DAWg ._1LAoALGlYCmUBG2fMp0z7K ._1u6dPGo3NRVQckyiQEkqfB ._2boy1J2xNfMKvCobncvXqW ._1Fa1GyjQ2Yh7ibuOWCenaW {
  font-size: 16px;
  line-height: 25px;
  font-weight: 600;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
._3KkKwT-UmgHmH99IDSQkCA ._2Rezp8WYcXG8p4kzW5DAWg ._1LAoALGlYCmUBG2fMp0z7K ._1u6dPGo3NRVQckyiQEkqfB ._2boy1J2xNfMKvCobncvXqW ._1Z8HASGK5SML27i2Mz71t_ {
  font-size: 12px;
  line-height: 20px;
  margin: 10px 0px 20px 0px;
  word-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  height: 60px;
}
._3KkKwT-UmgHmH99IDSQkCA ._2Rezp8WYcXG8p4kzW5DAWg ._1LAoALGlYCmUBG2fMp0z7K ._1u6dPGo3NRVQckyiQEkqfB ._2boy1J2xNfMKvCobncvXqW ._13s_7i6b3eaLQfCzAFdVor {
  display: flex;
  display: -webkit-flex;
  line-height: 20px;
  margin: 10px 0px;
}
._3KkKwT-UmgHmH99IDSQkCA ._2Rezp8WYcXG8p4kzW5DAWg ._1LAoALGlYCmUBG2fMp0z7K ._1u6dPGo3NRVQckyiQEkqfB ._2boy1J2xNfMKvCobncvXqW ._13s_7i6b3eaLQfCzAFdVor ._3uIxRKAirQx0QPcMUDuF4u {
  flex: 0 0 60px;
}
._3KkKwT-UmgHmH99IDSQkCA ._2Rezp8WYcXG8p4kzW5DAWg ._1LAoALGlYCmUBG2fMp0z7K ._1u6dPGo3NRVQckyiQEkqfB ._2boy1J2xNfMKvCobncvXqW .smpcmFHL5KxFUB1nZXr-m {
  margin-top: 20px;
  text-align: center;
  font-weight: 600;
}
._3KkKwT-UmgHmH99IDSQkCA ._2Rezp8WYcXG8p4kzW5DAWg ._1LAoALGlYCmUBG2fMp0z7K ._1u6dPGo3NRVQckyiQEkqfB ._2boy1J2xNfMKvCobncvXqW:hover {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.18);
  cursor: pointer;
}
._3KkKwT-UmgHmH99IDSQkCA ._2Rezp8WYcXG8p4kzW5DAWg ._1LAoALGlYCmUBG2fMp0z7K ._1u6dPGo3NRVQckyiQEkqfB ._2boy1J2xNfMKvCobncvXqW:hover ._1Fa1GyjQ2Yh7ibuOWCenaW {
  color: var(--theme-color);
}
._3KkKwT-UmgHmH99IDSQkCA .domwwEeRtQSfrnURQknBp {
  color: var(--theme-color);
  font-size: var(--kd-c-tree-font-size, var(--kd-g-font-size-small, 12px));
}
._2AMsQ8QmgzAhShc2q74PIy ._1I3l7v3mYa2sIAztGDRXRs {
  display: flex;
  justify-content: center;
}
