@CHARSET "UTF-8";

.font-lib-main
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #E9ECF1;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

.font-lib-main-panel
{
    position: absolute;
    left: 10px;
    right: 8px;
    top: 55px;
    bottom: 2px;
    overflow-y: auto;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.15);
    background-color: #fff;
}

.font-lib-detail-main-panel-background
{
    position: absolute;
    left: 10px;
    right: 8px;
    top: 55px;
    bottom: 2px;
    overflow-y: auto;
}

.font-lib-search
{
    position: absolute;
    top: 10px;
    right: 15px;
    width: 210px;
    height: 25px;
    transition: width .12s ease-in;
    -webkit-transition: width .12s ease-in;
}

.font-lib-no-match-search-font-icon
{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -110px;
    margin-top: -160px;
    width: 220px;
    height: 220px;
}

.font-lib-no-created-font-icon
{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -170px;
    margin-top: -100px;
    width: 310px;
    height: 150px;
}

.font-lib-prompt-help-icon
{
    position: relative;
    width: 17px;
    display: inline-block;
    height: 17px;
    margin-top: -2px;
    top: 50%;

    transform: scale(0.85);
    -webkit-transform: scale(0.85);    /* for Chrome || Safari */
    -moz-transform: scale(0.85);       /* for Firefox */
    -ms-transform: scale(0.85) ;       /* for IE */
    -o-transform: scale(0.85);         /* for Opera */
}

.font-lib-no-data-prompt
{
    position: absolute;
    font-size: 16px;
    color: #bbbbbb;
    top: 50%;
    margin-top: 100px;
    line-height: 20px;
    white-space: nowrap;
    text-align: center;
    width: 100%;
}

.font-lib-head-check-box
{
    position: absolute;
    width: 23px;
    height: 23px;
    left: 50%;
    margin-left: -5px;
}

.font-lib-check-box
{
    position: absolute;
    top: 4px;
    width: 23px;
    height: 23px;
    left: 50%;
    margin-left: -5px;
}

.font-lib-table-preset-label
{
    position: relative;
    white-space: nowrap;
    border-width: 1px ;
    border-style: solid;
    border-color: #5582f3;
    border-color: var(--color-main, #5582f3);
    color:  #5582f3;
    color: var(--color-main, #5582f3);
    font-size: 13px;
    float: left;
    height: 18px;
    border-radius: 2px;
    padding: 0 2px;
    margin-top: 5px;
    margin-right: 5px;
    line-height: 18px;
}

.font-lib-table-serial-number
{
    position: relative;
    text-align: center;
    line-height: 30px;
    top: 50%;
    margin-top: -15px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.font-lib-table-element
{
    position: relative;
    text-align: center;
    line-height: 30px;
    top: 50%;
    margin-top: -15px;
    overflow: hidden;
    text-overflow: ellipsis;
    left: 10px;
}

.font-lib-table-display-name
{
    text-align: left;
}

.font-lib-table-creator
{
    text-align: left;
}

.font-lib-table-create-time
{
    text-align: left;
}

.font-lib-table-modifier
{
    text-align: left;
}

.font-lib-table-modify-time
{
    text-align: left;
}

.font-lib-table-name
{
    position: relative;
    color: #5582f3;
    cursor: pointer;
    text-align: left;
}

.font-lib-detail-main-panel
{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: #E9ECF1;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

.font-lib-expansion
{
    width: 100%;
    display: inline-block;
    padding: 10px 10px 6px 10px;
    background: white;
    box-sizing: border-box;
    color: #333333;
}

.font-lib-expansion-title
{
    position: relative;
    width: 100%;
    height: 24px;
    display: inline-block;
    white-space: nowrap;
}

.font-lib-expansion-maim
{
    position: relative;
    padding: 13px 10px 0 20px;
    display: inline-block;
    width: 100%;
    min-width: 600px;
    box-sizing: border-box;
}

.font-lib-expansion-switch
{
    padding-top: 4px;
    position: absolute;
    border: 2px solid transparent;
    float: left;
    margin-top: 5px;
}

.font-lib-expansion-switch-triangle
{
    position: relative;
    display: block;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-top-color: #8a8a8a;
    border-bottom: none;
    border-radius: 1px;
    rotate: 0deg;
}

.font-lib-expansion-title-name
{
    font-size: 16px;
    white-space: nowrap;
    float: left;
    margin: 4px 0 0 21px;
}

.font-lib-expansion-prompt
{
    position: relative;
    left: 10px;
    top: 5px;
}

.font-lib-expansion-prompt-text
{
    float: left;
    height: 12px;
    width: 12px;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    background-color: transparent;
    color: #ccc;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-weight: bold;
    cursor: none;
}
.font-lib-basic-info-main
{
    white-space: nowrap;
    display: inline-block;
}

.font-lib-basic-info-input
{
    float: left;
    margin-right: 100px;
}

.font-lib-input
{
    margin: 0 100px 20px 0;
}

.font-lib-input-title
{
    position: relative;
}

.font-lib-input-frame
{
    position: relative;
    height: 23px;
    margin-top: 5px;
}

.font-lib-source-order
{
    position: absolute;
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.font-lib-source-type
{
    position: absolute;
    width: 100%;
    height: 30px;
    text-align: left;
    line-height: 30px;
    padding-left: 20px;
}

.font-lib-source-detail
{
    position: absolute;
    width: 93%;
    height: 30px;
    text-align: left;
    padding-left: 20px;
    line-height: 30px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: hidden;
}

.font-lib-resource-new-button
{
    position: relative;
    width: 105px;
}

.font-lib-detail-edit-dialog-upload-file-name
{
    max-width: 100px;
    min-width: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left;
}

.font-lib-detail-edit-dialog-upload-file-size
{
    float: left;
    margin: 0 3px 0 3px;
}

.font-lib-resource-data-display-area
{
    width: 100%;
    position: relative;
    height: 400px;
    margin-top: 12px;
    border: 1px solid #cccccc;
}

.font-lib-resource-expansion
{
    position: relative;
    margin-top: 10px;
    flex-grow: 1;
}

.font-lib-source-operation
{
    position: absolute;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-left: 15px;
    margin-left: 50%;
    left: -87px;
}

.font-lib-source-operation-button
{
    position: relative;
    float: left;
    display: block;
    margin-left: 10px;
    cursor: pointer;
    color: #5582f3;
    color: var(--color-main, #5582f3);
}

.font-lib-resource-main
{

}

.font-lib-resource-dialog-source-type
{
    position: relative;
    top: 40px;
}

.font-lib-resource-dialog-source-type-text
{
    position: relative;
    float: left;
    top: 50%;
    margin-top: 2px;
    max-width: 85px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.font-lib-resource-dialog-combo-box
{
    position: relative;
    height: 22px;
    width: 200px;
    float: right;
    right: 45px;
}

.font-lib-resource-dialog-column
{
    position: relative;
    width: 90px;
    float: left;
}

.font-lib-resource-dialog-path-title
{
    float: left;
    position: relative;
    top: 2px;
    max-width: 70px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.font-lib-resource-path-input
{
    position: relative;
    margin-left: 4px;
    width: 200px;
    float: left;
    height: 22px;
    box-sizing: border-box;
}

.font-lib-resource-dialog-path-prompt
{
    position: relative;
    left: 5px;
    float: left;
    top: 4px;
}

.font-lib-resource-upload
{

}

.ont-lib-upload-file-main
{
    position: absolute;
    width: 740px;
    height: 410px;
    top: 50%;
    left: 50%;
    margin-left: -370px;
    margin-top: -205px;
}

.font-lib-upload-progress
{
    position: absolute;
    top: 200px;
    left: 0;
    width: 350px;
    height: 3px;
    border-radius: 10px;
    z-index: 999;
}

.font-lib-upload-text
{
    position: absolute;
    top: 210px;
    left: 50%;
    width: 180px;
    height: 23px;
    margin-left: -80px;
}

.font-lib-upload-file-button
{
    width: 105px;
    height: 25px;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    background-color: #5582F3;
    background-color: var(--color-main, #5582f3);
}

.font-lib-upload-file-button:hover
{
    background-color: #87adff;
    background-color: var(--color-lightish, #87adff);
    color: #ccc;
}

.font-lib-resource-upload-file-button
{
    position: absolute;
    left: 95px;
    top: -2px;
}

.font-lib-resource-upload-file-button-icon
{
    position: relative;
    width: 16px;
    height: 16px;
    float: left;
    top: 3px;
    left: 5px;
}

.font-lib-resource-upload-file-button-text
{
    position: absolute;
    height: 23px;
    line-height: 25px;
    text-align: left;
    white-space: nowrap;
    left: 33px;
    color: #fff;
    max-width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.font-lib-upload-file
{
    width: 0;
    height: 0;
    position:absolute;
    left:-400px;
}

.font-lib-resource-upload-file-info
{
    position: relative;
    left: 4px;
    margin-top: 2px;
}

.font-lib-resource-font-file-icon
{
    position: relative;
    width: 16px;
    display: block;
    height: 16px;
    float: left;
    top: 50%;
}

.font-lib-resource-upload-file-info-text
{
    margin-left: 7px;
    display: block;
    float: left;
    top: 2px;
    position: relative;
}

.font-lib-resource-upload-file-info-delete
{
    position: relative;
    width: 16px;
    height: 16px;
    float: left;
    top: 2px;
    cursor: pointer;
}

.font-lib-resource-upload-file-loading
{
    position: relative;
    width: 16px;
    height: 16px;
    float: left;
    top: 2px;
    cursor: default;
    background-size: 16px;
}

.font-lib-resource-content
{
    position: absolute;
    top: 100px;
    width: 360px;
}

.font-lib-resource-add-edit-dialog-main
{
    padding-left: 30px;
}

.font-lib-resource-upload-file-tip
{
    position: relative;
    width: 100%;
    height: 20px;
    top: 35px;
    left: 93px;
}

.font-lib-resource-css-message-open-button
{
    position: relative;
    float: right;
    width: 14px;
    right: -1px;
    height: 17px;
    z-index: 9999;
    cursor: pointer;
}

.font-lib-resource-css-message-close-button
{
    position: relative;
    float: right;
    right: 386px;
    width: 14px;
    height: 17px;
    z-index: 9999;
    cursor: pointer;
}

.font-lib-resource-css-title
{
    position: absolute;
    top: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: default;
}

.font-lib-resource-css-main
{
    position: absolute;
    width: 400px;
    background: white;
    height: 100%;
    box-sizing: border-box;
    right: 0;
    padding-left: 20px;
    z-index: 999;
    border-left: 1px solid #cccccc;
    cursor: default;
}

.font-lib-resource-preview-url-prefix
{
    position: relative;
    float: left;
    min-width: 50px;
    max-width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.font-lib-resource-preview-url-suffix
{
    position: relative;
    float: left;
}

.font-lib-resource-css-content
{
    position: absolute;
    top: 50px;
    margin-top: 5px;
    font-size: 13px;
    width: 95%;
    box-sizing: border-box;
    overflow: auto;
    height: 80%;
    cursor: default;
}

.font-lib-detail-css-preview-family-name
{
    position: relative;
    max-width: 320px;
    min-width: 35px;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.font-lib-no-font-resource-prompt
{
    position: absolute;
    width: 100%;
    height: 20px;
    line-height: 20px;
    color: #bbbbbb;
    font-size: 16px;
    top: 50%;
    text-align: center;
    margin-top: 30px;
}

.font-lib-no-font-resource-icon
{
    width: 170px;
    position: absolute;
    height: 97px;
    margin-left: -85px;
    left: 50%;
    top: 50%;
    margin-top: -85px;
}

.font-lib-import-panel
{
    position: relative;
    width: 570px;
    height: 330px;
}

.font-lib-no-x-scroll-table
{
    position: absolute;
    left: 0;
    right:0;
    top: 0;
    bottom: 0;
    width:98%;
    overflow-x: hidden;
    overflow-y: auto;
}

.font-lib-import-table-code
{
    position: relative;
    text-align: left;
    line-height: 30px;
    top: 50%;
    margin-top: -15px;
    overflow: hidden;
    text-overflow: ellipsis;
    left: 10px;
}

.font-lib-import-table-displayName
{
    position: relative;
    text-align: left;
    line-height: 30px;
    top: 50%;
    margin-top: -15px;
    overflow: hidden;
    text-overflow: ellipsis;
    left: 10px;
}

.font-lib-import-conflict-tips
{
    position: relative;
    text-align: left;
    width: 100%;
    height: 16px;
    padding-left: 3px;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.font-lib-import-conflict-operation
{
    position: relative;
    width: 100%;
    height: 25px;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.font-importing-exporting-main
{
    position: absolute;
    width: 740px;
    height: 410px;
    top: 50%;
    left: 50%;
    margin-left: -370px;
    margin-top: -205px;
}

.font-importing-exporting-text
{
    position: absolute;
    top: 210px;
    left: 50%;
    width: 180px;
    height: 23px;
    margin-left: -80px;
}

.font-importing-upload-progress
{
    position: absolute;
    top: 200px;
    left: 0px;
    width: 740px;
    height: 3px;
    border-radius: 10px;
}

.font-ctrl-modallayer
{
    z-index: 999999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(226,231,239,0.5);
}

.font-import-conflict-all-operate
{
    float: left;
    margin-left: 10px;
    height: 23px;
    line-height: 23px;
    cursor: pointer;
    white-space: nowrap;
    font-size: 12px;
    color: #5582F3;
    color: var(--color-main, #5582f3);
}

.font-import-conflict-btn-split-line
{
    border-right: solid #d9d9d9 1px;
    float: left;
    margin-top: 7px;
    margin-left: 10px;
    height: 10px;
    cursor: default;
}

