<div class="relation_graph vue_template">
  <div style="margin: 10px;background-color: #E1E7EE;position: absolute;width: 100%;">
    <!-- 父元素,作为子元素绝对布局(absolute)的参考点 -->
    <div style="position: absolute;overflow-x:auto;overflow-y: hidden;" :style="{'width': vueRelationGraphWidthIntegerString}">
      <template v-if="relationGraphModelPojo.graphTitleString">
        <div style="height: 50px;line-height: 50px;font-size: 20px;font-weight: 600;padding-left: 20px;background-color: white;" v-html="relationGraphModelPojo.graphTitleString"></div>
      </template>
      <div :ref="vueRelationGraphRefString" style="position: relative;width: 100%;" :style="{'height': vueRelationGraphHeightIntegerString}">
        <!-- 关系图 -->
        <vue_relation_graph ref="seeksRelationGraph" :options="relationGraphModelPojo.relationGraphOptionsPojo">
          <!-- 节点 -->
          <div slot="node" slot-scope="{node}" style="background-color: white;color: #b2b2b2;border: #b2b2b2 solid 1px;">
            <!-- 经测试,contextmenu事件放这里和放节点内容span没有区别,似乎必须作用于文字,图标同样没有效果 -->
            <!-- 使用如下代码无法达到"node.color = 'teal'的效果 -->
            <!-- :style="{'color' : (relationGraphModelPojo && relationGraphModelPojo.clickNodeIdString === node.id ? 'teal' : '')}" -->
            <div @contextmenu.prevent.stop="node.data && frontMethodProxy('METHOD_NAME_STRING', 'showContextmenu', 'nodeObject', node, 'event', $event)">
              <div style="white-space: nowrap;display: flex;justify-content: space-between;align-items: center;">
                <!-- 展开前继节点 -->
                <template v-if="!(relationGraphModelPojo.clickToExpandBoolean === true) && node.data && node.data.previousBoolean === true">
                  <div style="color: red;cursor: pointer;display: inline-block;" @click.stop="frontMethodProxy('METHOD_NAME_STRING', 'actionMethod', 'idString', node.id, 'typeString', StringConstant.NODE_PREVIOUS_EXPANDE)">
                    <!-- 展开状态时显示-,否则显示+ -->
                    <i :class="[node.data.previousExpandBoolean === true ? 'el-icon-remove-outline' : 'el-icon-circle-plus-outline']"></i>
                  </div>
                </template>
                <!-- 节点内容 -->
                <template v-if="node.data && node.data.relationGraphNodeDataAreaPojo && node.data.relationGraphNodeDataAreaPojo.relationGraphNodeDataRowPojoList">
                  <div :style="node.data.relationGraphNodeDataAreaPojo.stylePojo" style="text-align: left;font-family: Roboto,Simsun,sans-serif;display: inline-block;">
                    <template v-for="relationGraphNodeDataRowPojo of node.data.relationGraphNodeDataAreaPojo.relationGraphNodeDataRowPojoList">
                      <template v-if="relationGraphNodeDataRowPojo && relationGraphNodeDataRowPojo.relationGraphNodeDataCellPojoList">
                        <div :style="relationGraphNodeDataRowPojo.stylePojo">
                          <template v-for="relationGraphNodeDataCellPojo of relationGraphNodeDataRowPojo.relationGraphNodeDataCellPojoList">
                            <div :style="relationGraphNodeDataCellPojo.stylePojo" style="display: inline-block;" v-html="relationGraphNodeDataCellPojo.valueString" @click.stop="node.data && frontMethodProxy('METHOD_NAME_STRING', 'cellMethod', 'listenMethodNameString', 'click', 'relationGraphNodeDataCellPojo', relationGraphNodeDataCellPojo, 'nodeObject', node, 'event', $event)" @mousemove.stop="node.data && frontMethodProxy('METHOD_NAME_STRING', 'cellMethod', 'listenMethodNameString', 'mouseover', 'nodeObject', node, 'relationGraphNodeDataCellPojo', relationGraphNodeDataCellPojo, 'event', $event)" @mouseout.stop="node.data && frontMethodProxy('METHOD_NAME_STRING', 'cellMethod', 'listenMethodNameString', 'mouseout', 'relationGraphNodeDataCellPojo', relationGraphNodeDataCellPojo, 'nodeObject', node, 'event', $event)"></div>
                          </template>
                        </div>
                      </template>
                    </template>
                  </div>
                </template>
                <template v-else>
                  <div style="font-family: Roboto,Simsun,sans-serif;display: inline-block;cursor: pointer;" @click.stop="node.data && frontMethodProxy('METHOD_NAME_STRING', 'onNodeClick', 'nodeObject', node, 'event', $event)" @mousemove.stop="node.data && frontMethodProxy('METHOD_NAME_STRING', 'showNodeTips', 'nodeObject', node, 'event', $event)" @mouseout.stop="node.data && frontMethodProxy('METHOD_NAME_STRING', 'hideNodeTips', 'nodeObject', node, 'event', $event)" v-html="node.text"></div>
                </template>
                <!-- 展开后继节点 -->
                <template v-if="!(relationGraphModelPojo.clickToExpandBoolean === true) && node.data && node.data.laterBoolean === true">
                  <div style="color: red;display: inline-block;cursor: pointer;" @click.stop="frontMethodProxy('METHOD_NAME_STRING', 'actionMethod', 'idString', node.id, 'typeString', StringConstant.NODE_LATER_EXPANDE)">
                    <!-- 展开状态时显示-,否则显示+ -->
                    <i :class="[node.data.laterExpandBoolean === true ? 'el-icon-remove-outline' : 'el-icon-circle-plus-outline']"></i>
                  </div>
                </template>
              </div>
              <template v-if="!(relationGraphModelPojo.clickToExpandBoolean === true)">
                <div>
                  <!-- 隐藏当前节点 -->
                  <span style="color: red;cursor: pointer;" @click.stop="frontMethodProxy('METHOD_NAME_STRING', 'actionMethod', 'idString', node.id, 'typeString', StringConstant.NODE_REMOVE_CURRENT)"><i class="el-icon-circle-close"></i></span>
                </div>
              </template>
            </div>
          </div>
        </vue_relation_graph>
        <template v-if="relationGraphShowBoxPojoList">
          <template v-for="relationGraphShowBoxPojo of relationGraphShowBoxPojoList">
            <!-- 当需要在显示与隐藏之间切片很频繁时,使用v-show,经测试当前逻辑对v-show处理得不是很好 -->
            <!-- 当只有一次切换时，通过使用v-if -->
            <!-- 经测试,这里的判断不能少,否则无法动态响应 -->
            <template v-if="relationGraphShowBoxPojo && relationGraphShowBoxPojo.showBoxBoolean === true">
              <!-- 鼠标事件 -->
              <template v-if="relationGraphShowBoxPojo.typeString === StringConstant.MOURCE">
                <!-- 允许显示鼠标移入移出时的弹框 -->
                <template v-if="relationGraphModelPojo.relationGraphShowBoxParent && relationGraphModelPojo.relationGraphShowBoxParent.enableMourceBoxBoolean === true">
                  <!-- 这里必须要用 - 代替驼峰 -->
                  <!-- HTML 特性是不区分大小写的。所以，当使用的不是字符串模板，camelCased (驼峰式) 命名的 prop 需要转换为相对应的 kebab-case (短横线隔开式) 命名，当你使用的是字符串模板的时候，则没有这些限制 -->
                  <!-- @front_method_proxy="frontMethodProxy","front_method_proxy"是子组件的方法,frontMethodProxy是父组件的方法 -->
                  <relation_graph_show_box :relation-graph-show-box-pojo="relationGraphShowBoxPojo" @front_method_proxy="frontMethodProxy"></relation_graph_show_box>
                </template>
              </template>
              <template v-else>
                <!-- 否则默认显示 -->
                <relation_graph_show_box :relation-graph-show-box-pojo="relationGraphShowBoxPojo" @front_method_proxy="frontMethodProxy"></relation_graph_show_box>
              </template>
            </template>
          </template>
        </template>
      </div>
    </div>
    <!-- 设置顶级类选择器(relation_graph),以便增加权重(权重低着被覆盖),防止CSS样式被覆盖,同时可以防止CSS污染 -->
    <div style="width: 260px;position: absolute;right: 20px;top: 0;overflow-x:auto;overflow-y: auto;background-color: white;resize: horizontal;" :ref="rightBoxRefString" v-if="relationGraphModelPojo.infoHtmlString" :style="{'height': (relationGraphModelPojo.graphTitleString ? infoHtmlHeightIntegerString : vueRelationGraphHeightIntegerString)}" v-html="showInfoHtmlString"></div>
  </div>
</div>