/**
    Name:       IDEA default theme
    From IntelliJ IDEA by JetBrains
 */

.cm-s-idea span.cm-meta { color: #708; font-weight : normal }
.cm-s-idea span.cm-number { color: #164;  }
.cm-s-idea span.cm-keyword { color: #708; font-weight : normal }
.cm-s-idea span.cm-atom { color: #219; font-weight : normal }
.cm-s-idea span.cm-def { color: #00f; font-weight : normal }
.cm-s-idea span.cm-variable { color: black }
.cm-s-idea span.cm-variable-2 { color: black}
.cm-s-idea span.cm-variable-3, .cm-s-idea span.cm-type { color: black; }
.cm-s-idea span.cm-property { color: black; }
.cm-s-idea span.cm-operator { color: gray;}
.cm-s-idea span.cm-func { color: #66D9EF }
.cm-s-idea span.cm-comment { color: #a50}
.cm-s-idea span.cm-spec { color: orange; font-weight : normal}
.cm-s-idea span.cm-string { color: #a11}
.cm-s-idea span.cm-string-2 { color: #a11 }
.cm-s-idea span.cm-qualifier { color:  orange; font-weight : normal }
.cm-s-idea span.cm-error { color: red  }
.cm-s-idea span.cm-attribute { color: black }
.cm-s-idea span.cm-tag { color: black }
.cm-s-idea span.cm-link { color: black  }
.cm-s-idea .CodeMirror-activeline-background { background: rgb(232, 242, 255) }
.cm-s-idea span.cm-global { color: #708; }
.cm-s-idea span.cm-builtin { color: #708; }
.cm-s-idea span.cm-bracket { color: #cc7; }
.cm-s-idea  { font-family:   font-family: Roboto,courier,San Francisco,Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragina Sans GB,WenQuanYi Micro Hei,microsoft yahei ui,microsoft yahei,sans-serif;}


.cm-s-idea .CodeMirror-matchingbracket {color: #0b0 !important; }
