._1u1HWGPwhbd7-amDgRqE-j {
  padding-left: 16px;
  padding-top: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: auto;
  height: 100%;
}
._1u1HWGPwhbd7-amDgRqE-j ._1nKdusPnx7h_xPATxSyDwF {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-right: 16px;
}
._1u1HWGPwhbd7-amDgRqE-j ._1vfMhoVu4HvW3JUc9XL-pg {
  font-family: "MicrosoftYaHei";
  font-size: 16px;
  color: #212121;
  letter-spacing: 0;
  text-align: center;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 12px;
  align-self: flex-start;
}
._1u1HWGPwhbd7-amDgRqE-j ._1SK9dTcve-xINP3DIPnmd7 {
  overflow: auto;
  width: 100%;
  display: flex;
  user-select: none;
}
._2_nRmb3yuQORnQqVE4vIF- {
  flex-grow: 1;
  padding-top: 12px;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
}
._2_nRmb3yuQORnQqVE4vIF- ._1toog3mPPHvFuKnbTKAiqI {
  font-family: "MicrosoftYaHei";
  font-size: 16px;
  color: #212121;
  letter-spacing: 0;
  line-height: 24px;
  font-weight: 400;
}
._2_nRmb3yuQORnQqVE4vIF- ._2cNn1sfF61PHZgeEgmObNS {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
._2_nRmb3yuQORnQqVE4vIF- .QF6ub7pn8ZWIIp_OcOay1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  align-self: stretch;
}
._2_nRmb3yuQORnQqVE4vIF- ._1_SIlXAJp3EL7mzo_LSMFO {
  display: flex;
  align-self: stretch;
  width: 200px;
}
._2_nRmb3yuQORnQqVE4vIF- ._1gm0XWVozH6BOKRRvd2xhI {
  stroke: #D9D9D9;
  fill: transparent;
  stroke-width: 1px;
}
._2_nRmb3yuQORnQqVE4vIF- ._3oCgMpjUSjgWGVqghMAMm3 {
  cursor: pointer;
  opacity: 1 !important;
}
._2_nRmb3yuQORnQqVE4vIF- ._1t2AM6Iek7OuSwS74ggCp1 {
  height: 40px;
  width: 120px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  text-align: center;
  margin: 16px 0;
  padding: 0 10px;
  position: relative;
}
._2_nRmb3yuQORnQqVE4vIF- ._1t2AM6Iek7OuSwS74ggCp1 ._22FhBy8XmGlwYbJuUOb9hO {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 38px;
  font-weight: 400;
  font-family: "MicrosoftYaHei";
  font-size: 12px;
  color: #666666;
  letter-spacing: 0;
  display: inherit;
}
._2_nRmb3yuQORnQqVE4vIF- ._1t2AM6Iek7OuSwS74ggCp1 ._35UIpOa_nGiUobjDy7cedl {
  position: absolute;
  top: -8px;
  right: -8px;
  cursor: pointer;
  color: #666666;
}
._2_nRmb3yuQORnQqVE4vIF- ._1t2AM6Iek7OuSwS74ggCp1 ._35UIpOa_nGiUobjDy7cedl:hover {
  color: red;
}
._2_nRmb3yuQORnQqVE4vIF- ._3JUFyKTRD1-Aj5nvh9vL9r {
  height: 40px;
  width: 120px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  text-align: center;
  margin: 16px 0;
  padding: 0 10px;
  position: relative;
  background-color: #FFA500;
}
._2_nRmb3yuQORnQqVE4vIF- ._3JUFyKTRD1-Aj5nvh9vL9r ._22FhBy8XmGlwYbJuUOb9hO {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 38px;
  font-weight: 400;
  font-family: "MicrosoftYaHei";
  font-size: 12px;
  color: #666666;
  letter-spacing: 0;
  display: inherit;
}
._2_nRmb3yuQORnQqVE4vIF- .hMu0oisnYf1nPgqs17wi9 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
._2_nRmb3yuQORnQqVE4vIF- .hMu0oisnYf1nPgqs17wi9 ._15VlnoIHuytGURhVkVIT3w {
  font-family: "MicrosoftYaHei";
  font-size: 14px;
  color: #666666;
  letter-spacing: 0;
  text-align: center;
  line-height: 20px;
  font-weight: 400;
}
._1bHarQl9cNKS8MLl2OBpqK {
  min-width: 264px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
}
._1bHarQl9cNKS8MLl2OBpqK ._145XGSsasUg6tYEfUSTwhv {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}
._1bHarQl9cNKS8MLl2OBpqK ._145XGSsasUg6tYEfUSTwhv ._2VAURXiVXLtLDUiiGvAe10 {
  line-height: 24px;
  font-family: "MicrosoftYaHei";
  font-size: 12px;
  color: var(--theme-color);
  letter-spacing: 0;
  font-weight: 400;
  cursor: pointer;
  margin-right: 16px;
}
._1bHarQl9cNKS8MLl2OBpqK ._3Ey5Cmz9nq5mzjIahSEnV1 {
  font-family: "MicrosoftYaHei";
  font-size: 16px;
  color: #212121;
  letter-spacing: 0;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 8px;
}
._1bHarQl9cNKS8MLl2OBpqK ._36svYO419YRIJSlsb1tUHA {
  flex-grow: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
._1bHarQl9cNKS8MLl2OBpqK .k0mECDTH4GeJg7yC9ftmR {
  text-align: center;
  align-self: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
._1bHarQl9cNKS8MLl2OBpqK .k0mECDTH4GeJg7yC9ftmR ._3GYSw3UfPtAuQv_9elYUUL {
  font-family: "MicrosoftYaHei";
  font-size: 14px;
  color: #666666;
  letter-spacing: 0;
  text-align: center;
  line-height: 20px;
  font-weight: 400;
}
._2BpFv4gLbiFSGMDWibpHUJ {
  display: flex;
  height: 100%;
  overflow: hidden;
}
