.ebexaminebox{
    
    text-align: center;
    display:inline-block;
    border-right: 1px solid gainsboro;
}

.title{
    display: block;
    text-align: center;
    font-size: 12px;
    cursor:default;
}
.ebexamineitem{
    /* width: 30px;*/
    display: inline-block;
    cursor:pointer; 
    margin: 2px 2px 2px 2px;
    color: #504c4c;
    font-size: 16px;
	font-style: italic;
    color: #007fff;
    padding-right: 10px
}

.ebexamineitemtitle{
	margin: 0px 0px 0px 5px;
    cursor:default;
	color:#000000;
	font-size: 16px;
}

.item:hover{
    background-color:gainsboro;
}
.exexamineinputarea{
	padding: 10px;
    border-top: 1px solid gainsboro;
	height: 85%;
}
#toolbar{
    background: rgba(231, 229, 229, 0.493);
    box-shadow: 0px 1px 5px gainsboro;
}
#formulaeditor{
    border: 1px solid gainsboro;
	width: 100%;
    height: 100%;
}

.membinput{
    /*background:url(./img/open.png) no-repeat 0 0;*/
	background-position-x:right;
	cursor: pointer;
	border-top:none;
	border-left:none;
	border-right:none;
	/*border-color:black;*/
	border-width:1px;
	font-size:12px;
	color:#0E5FD8;
	/*width:288px;*/
	height:18px;
}