<div style="margin-right: 8px;margin-left: 8px;margin-top: 8px; margin-bottom: 8px;">
	<template>
		<el-loading :fullscreen="isLoading" :lock="isLoading" text="数据加载中..." spinner="el-icon-loading"></el-loading>
		<el-input :placeholder="getLangMsg('filter_placeholder','输入关键字进行过滤')" v-model="filterText" />
	</template>
</div>
<div style="width: 100%;">
	<template>
		<el-tree class="filter-tree" :data="treeData" :props="defaultProps" default-expand-all
			:expand-on-click-node="false" :filter-node-method="filterNode" :check-on-click-node="true" highlight-current
			ref="tree" check-strictly node-key="id" @check="treeCheck">
			<span class="custom-tree-node" slot-scope="{ node, data }" @mouseenter="mouseenter(data)"
				@mouseleave="mouseleave(data)">
				<img style="width:16px;height:16px;margin-right:4px" :src="getLabelImageUrl(node)" alt="">
				<span style="position: relative;top: -3px;">{{ node.label }}</span>
				<span class="tree-node-btn" v-if="data.category === 'init-category' ">
					<!-- <span class="tree-node-btn" v-if="data.category === 'root-category' && isCheckNode(node)"></span> -->
					<i v-show="data.show" class="el-icon-folder-add" :title="getLangMsg('add_category','新增分类')"
						@click.stop.prevnet="addcategory(node, data)" />
					<i v-show="data.show" class="el-icon-document-add" :title="getLangMsg('add_report','新增报表')"
						@click.stop.prevnet="addReport(node, data)" />
				</span>
				<span class="tree-node-btn" v-if="data.category === 'floder'">
					<i v-show="data.show" class="el-icon-folder-add" :title="getLangMsg('add_category','新增分类')"
						@click.stop.prevnet="addcategory(node, data)" />
					<i v-show="data.show" class="el-icon-document-add" :title="getLangMsg('add_report','新增报表')"
						@click.stop.prevnet="addReport(node, data)" />
					<i v-show="data.show" class="el-icon-delete" :title="getLangMsg('delete','删除')" @click.stop.prevnet="remove(node, data)" />
					<i v-show="data.show" class="el-icon-edit" :title="getLangMsg('modify','修改')" @click.stop.prevnet="edit(node, data)" />
				</span>
				<span class="tree-node-btn" v-if="data.category === 'report'">
					<i v-show="data.show" class="el-icon-delete" :title="getLangMsg('delete','删除')" @click.stop.prevnet="remove(node, data)" />
					<i v-show="data.show" class="el-icon-edit" :title="getLangMsg('modify','修改')" @click.stop.prevnet="edit(node, data)" />
				</span>
				<span class="tree-node-btn" v-if="data.category === 'report-share'">
					<i v-show="data.show" v-if="isCollectedId(node)" class="el-icon-star-on"
						style=" color: #f0ad4e;font-size:20px;" :title="getLangMsg('unfollow','取消收藏')"
						@click.stop.prevnet="unStart(node, data)" />
					<i v-show="data.show" v-else class="el-icon-star-off" :title="getLangMsg('follow','收藏')" style="font-size:16px;"
						@click.stop.prevnet="start(node, data)" />
				</span>
				<span class="tree-node-btn" v-if="data.category === 'report-public'">
					<i v-show="data.show" class="el-icon-delete" :title="getLangMsg('delete','删除')" @click.stop.prevnet="remove(node, data)" />
					<i v-show="data.show" class="el-icon-edit" :title="getLangMsg('modify','修改')" @click.stop.prevnet="edit(node, data)" />
					<i v-show="data.show" v-if="isCollectedId(node)" class="el-icon-star-on"
						style=" color: #f0ad4e; font-size:20px;" :title="getLangMsg('unfollow','取消收藏')"
						@click.stop.prevnet="unStart(node, data)" />
					<i v-show="data.show" v-else class="el-icon-star-off" :title="getLangMsg('follow','收藏')" style="font-size:16px;"
						@click.stop.prevnet="start(node, data)" />
				</span>
			</span>
		</el-tree>
	</template>
</div>