.img_class_opmc {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  cursor: pointer;
}

#divImgeOpmc ul li {
  list-style: none;
  float: left;
  padding: 2px 0 0 0;
}

#img_container {
  width: 14px;
  height: 14px;
}

#my_opmc_title {
  position: absolute;
  font-size: 14px;
  padding: 4px;
  background: #FFFFFF;
  box-shadow: 0px 2px 9px 0px rgba(150,150,150,0.5);
  z-index: 9999;
  max-width: 428px;
  max-height: 360px;
  display: block;
  white-space: pre-wrap;
  font-size: 12px;
  color: #999999;
  letter-spacing: 0;
  line-height: 20px;
  font-weight: 400;
  padding: 15px;
  overflow-y: auto;
}