.y5UADWMYSNRrf5IprFiY3 {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 20px;
}
.y5UADWMYSNRrf5IprFiY3 ._1H6KaLx2H6zL3tH8-SllHu {
  display: flex;
  justify-content: flex-end;
  line-height: 24px;
  border-bottom: none;
  padding-right: 48px;
}
.y5UADWMYSNRrf5IprFiY3 ._1H6KaLx2H6zL3tH8-SllHu span {
  color: var(--theme-color);
  cursor: pointer;
}
.y5UADWMYSNRrf5IprFiY3 .v6TrezK4xq6XaF93nFVkv:hover {
  background: var(--hover-color) !important;
}
.y5UADWMYSNRrf5IprFiY3 .Q77rxYRljCsz76we-Hejx {
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  display: flex;
  align-items: center;
  background: #fff;
}
.y5UADWMYSNRrf5IprFiY3 ._2kXmM9_fvU_zOkUoUNzyh_ {
  border: 1px solid #d9d9d9;
  width: 100%;
}
.y5UADWMYSNRrf5IprFiY3 ._2kXmM9_fvU_zOkUoUNzyh_ input {
  background: transparent !important;
  padding-right: 0 !important;
}
.y5UADWMYSNRrf5IprFiY3 ._2kXmM9_fvU_zOkUoUNzyh_ i {
  margin-right: 6px;
}
.y5UADWMYSNRrf5IprFiY3 ._3kcmvYh--FJFS4uxk9tdwd:hover {
  background: #fff !important;
}
._3UdpaI2ELvqfmGEBN9c11o {
  overflow: auto;
  max-height: 346px;
  padding: 12px;
  min-width: 230px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  z-index: 99999!important;
  background: #fff;
  -webkit-animation: _2kN-HiKluQ64odPBLRsRYm 1s steps(1) 0s 1 normal none;
  animation: zRrU32xFc9Tl5znXsXdl7 1s steps(1) 0s 1 normal none;
  transform-origin: 50% 0;
}
._3UdpaI2ELvqfmGEBN9c11o .WmMsOs426RfTiyRXrgHII {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 8px;
}
._3UdpaI2ELvqfmGEBN9c11o .WmMsOs426RfTiyRXrgHII:first-child {
  margin-top: 0;
}
._3UdpaI2ELvqfmGEBN9c11o .WmMsOs426RfTiyRXrgHII ._26mrFNS3TKOu67FAM0rc3R {
  flex-shrink: 0;
  margin-right: 12px;
  color: #666;
  line-height: 1.5;
  font-size: var(--kd-cq-dropdown-select-font-size, var(--kd-cq-font-size, 12px));
}
._3UdpaI2ELvqfmGEBN9c11o .WmMsOs426RfTiyRXrgHII ._3CFaViU1IvI1y4NbOEgGdp {
  width: 230px;
  min-width: 230px;
  color: #212121;
  line-height: 1.5;
  padding: 1px 8px;
  background: #fff;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  height: 25px;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}
@keyframes zRrU32xFc9Tl5znXsXdl7 {
  0.00% {
    transform: translate3D(0px, 0px, 0px) rotate(0deg) scale(0.98, 0.98);
    opacity: 0;
  }
  3.33% {
    transform: translate3D(0px, 0px, 0px) rotate(0deg) scale(0.98101852, 0.98101852);
    opacity: 0.17;
  }
  6.67% {
    transform: translate3D(0px, 0px, 0px) rotate(0deg) scale(0.9837037, 0.9837037);
    opacity: 0.33;
  }
  10.00% {
    transform: translate3D(0px, 0px, 0px) rotate(0deg) scale(0.9875, 0.9875);
    opacity: 0.5;
  }
  13.33% {
    transform: translate3D(0px, 0px, 0px) rotate(0deg) scale(0.99185185, 0.99185185);
    opacity: 0.67;
  }
  16.67% {
    transform: translate3D(0px, 0px, 0px) rotate(0deg) scale(0.9962037, 0.9962037);
    opacity: 0.83;
  }
  20.00% {
    transform: translate3D(0px, 0px, 0px) rotate(0deg) scale(1, 1);
    opacity: 1;
  }
  100.00% {
    transform: translate3D(0px, 0px, 0px) rotate(0deg) scale(1, 1);
    opacity: 1;
  }
}
.-BqAlkAiTN-rN6__5IiCz {
  display: flex;
  flex-direction: column;
  height: 28px;
  width: 100%;
}
.-BqAlkAiTN-rN6__5IiCz .-EK3PvJ59H_Xm5fBblMnY {
  display: flex;
  cursor: text;
  color: #666;
  font-size: 12px;
  align-items: center;
  margin-bottom: 2px;
}
.-BqAlkAiTN-rN6__5IiCz .-EK3PvJ59H_Xm5fBblMnY ._19UFGHW62X5PyRFpAbQtqL {
  color: red;
}
.-BqAlkAiTN-rN6__5IiCz ._3seTcSRT4VAGD20uiidOvt:hover {
  border: 1px solid var(--theme-color) !important;
  background: #fff !important;
}
.-BqAlkAiTN-rN6__5IiCz .UGAVnClDbfDeVoe86jhaC {
  position: relative;
  height: 28px;
  line-height: 28px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}
.-BqAlkAiTN-rN6__5IiCz .UGAVnClDbfDeVoe86jhaC input {
  border: none;
  height: 21px;
  line-height: 21px;
  padding: 0 8px;
  width: 100%;
  background: none;
}
.-BqAlkAiTN-rN6__5IiCz .UGAVnClDbfDeVoe86jhaC .huvFmVwlgnBD3jk8cGaU2 {
  cursor: pointer;
  right: 8px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  position: absolute;
  font-size: 16px;
}
.-BqAlkAiTN-rN6__5IiCz ._3991U9y4RLbZSWbJ_QEpX7 {
  color: var(--kd-c-select-color-text-disabled, var(--kd-g-color-disabled, #b2b2b2));
}
.-BqAlkAiTN-rN6__5IiCz:hover .huvFmVwlgnBD3jk8cGaU2 {
  color: var(--theme-color);
}
._3oRpcvR65DjuCup8ewEDam {
  line-height: 18px;
  min-width: 88px;
  max-width: 360px;
  padding: 3px 8px;
  background: #ffdbe0;
  -webkit-box-shadow: 0 2px 8px 0 rgb(0 0 0%);
  box-shadow: 0 2px 8px 0 rgb(0 0 0%);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}
