.wtc-homePage-calendar-card-record[data-v-010ab263] {
  position: relative;
  padding: 10px 0;
  border-bottom: 1px dashed #e5e5e5;
  color: #666;
}
.wtc-homePage-calendar-card-record[data-v-010ab263]:last-child {
  border-bottom: none;
}
.wtc-homePage-calendar-card-record .wtc-homePage-calendar-card-record-left[data-v-010ab263] {
  flex: 0 0 8px;
  margin-top: 14px;
}
.wtc-homePage-calendar-card-record-on[data-v-010ab263],
.wtc-homePage-calendar-card-record-off[data-v-010ab263] {
  padding: 5px 0;
}
.wtc-homePage-calendar-card-record-on-work[data-v-010ab263],
.wtc-homePage-calendar-card-record-off-work[data-v-010ab263] {
  /*display: inline-block;*/
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #276ff5;
  margin-right: 6px;
  margin-top: 6px;
}
.wtc-homePage-calendar-card-record-right[data-v-010ab263] {
  flex: 1;
  font-size: 12px;
  margin-left: 4px;
}
.wtc-homePage-calendar-card-record-text[data-v-010ab263] {
  display: flex;
  padding: 0 0 10px 0;
  font-size: 14px;
}
.wtc-homePage-calendar-card-record-detail[data-v-010ab263] {
  display: flex;
  background-color: #f5f5f5;
  overflow: hidden;
  padding: 8px 12px;
  height: 43px;
  box-sizing: content-box;
  margin-left: 18px;
}
.wtc-homePage-calendar-card-record-detail .wtc-homePage-calendar-card-record-detail-left[data-v-010ab263] {
  flex: 1;
}
.wtc-homePage-calendar-card-record-detail-strike[data-v-010ab263] {
  display: flex;
  margin-top: 12px;
}
.wtc-homePage-calendar-card-record-detail-left .wtc-homePage-calendar-card-record-detail-top[data-v-010ab263] {
  display: flex;
  margin-bottom: 2px;
}
.wtc-homePage-calendar-card-record-detail-left .wtc-homePage-calendar-card-record-detail-time[data-v-010ab263] {
  /* margin-top:3px; */
  font-size: 16px;
  color: #212121;
  font-weight: 700;
}
.wtc-homePage-calendar-card-record-detail-strike .wtc-homePage-calendar-card-record-detail-time[data-v-010ab263] {
  font-weight: 400;
  font-size: 14px;
}
.wtc-homePage-calendar-card-record-detail-left .wtc-homePage-calendar-card-record-detail-status[data-v-010ab263] {
  padding: 0 6px;
  margin-left: 14px;
  border-radius: 10px;
  color: #276ff5;
  border: 1px solid #276ff5;
  height: 19px;
  line-height: 19px;
  font-size: 12px;
}
.wtc-homePage-calendar-card-record-detail .wtc-homePage-calendar-card-record-detail-right[data-v-010ab263] {
  flex: 0 0 50px;
  /* padding: 6px 10px; */
  outline: none;
  border: none;
  color: #276ff5;
  background-color: inherit;
  font-size: 14px;
}
.wtc-homePage-calendar-card-record-detail .wtc-homePage-calendar-card-record-detail-right > i[data-v-010ab263] {
  margin-right: 4px;
}
.wtc-homePage-calendar-card-record-detail-left .wtc-card-record-status-warn[data-v-010ab263] {
  color: #ff991c;
  border: 1px solid #ff991c;
}
.wtc-homePage-calendar-card-record-detail-left .wtc-card-record-status-danger[data-v-010ab263] {
  color: #ff5257;
  border: 1px solid #ff5257;
}
.wtc-homePage-calendar-card-record .wtc-card-record-dot-warn[data-v-010ab263] {
  background-color: #ff991c;
}
.wtc-homePage-calendar-card-record .wtc-card-record-dot-danger[data-v-010ab263] {
  background-color: #ff5257;
}
.wtc-homePage-calendar-card-record .wtc-card-record-dot-future[data-v-010ab263] {
  background-color: #999;
}
.wtc-homePage-calendar-card-record-line[data-v-010ab263] {
  position: absolute;
  left: 0;
  top: 29px;
  width: 0px;
  height: 90px;
  border-left: 1px solid #e5e5e5;
  margin-left: 4px;
}
.wtc-dialog-wrap[data-v-17ff6fd8] {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  z-index: 9999;
}
.wtc-dialog-fade-enter-active[data-v-17ff6fd8],
.wtc-dialog-fade-leave-active[data-v-17ff6fd8] {
  transition: opacity 0.5s;
}
.wtc-dialog-fade-enter[data-v-17ff6fd8],
.wtc-dialog-fade-leave-to[data-v-17ff6fd8] {
  opacity: 0;
}
.wtc-calendar-abnormalDeal[data-v-10cdf7b6] {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 14px;
  color: #212121;
  background-color: #fff;
}
.wtc-calendar-abnormalDeal .wtc-calendar-abnormalDeal-btn-cancel[data-v-10cdf7b6] {
  position: absolute;
  right: 12px;
  top: 15px;
  font-size: 16px;
  color: #999;
}
.wtc-calendar-abnormalDeal .wtc-calendar-abnormalDeal-title[data-v-10cdf7b6] {
  font-size: 16px;
  font-weight: 700;
  padding: 12px;
}
.wtc-calendar-abnormalDeal-list[data-v-10cdf7b6] {
  max-height: 300px;
  overflow: auto;
}
.wtc-calendar-abnormalDeal-list .wtc-calendar-abnormalDeal-item[data-v-10cdf7b6] {
  display: flex;
  border-top: 1px solid #e5e5e5;
  padding: 12px;
  justify-content: space-between;
}
.wtc-calendar-abnormalDeal-list .wtc-calendar-abnormalDeal-item-icon[data-v-10cdf7b6] {
  color: #fff;
  font-weight: 700;
}
.wtc-calendar-abnormalDeal-list .wtc-calendar-abnormalDeal-item-icon-checked[data-v-10cdf7b6] {
  color: #276FF5;
}
.wtc-abnormalDeal-slide-bottom-enter-active[data-v-10cdf7b6],
.wtc-abnormalDeal-slide-bottom-leave-active[data-v-10cdf7b6] {
  transition: transform 0.5s;
}
.wtc-abnormalDeal-slide-bottom-enter[data-v-10cdf7b6],
.wtc-abnormalDeal-slide-bottom-leave-to[data-v-10cdf7b6] {
  transform: translateY(100%);
}
.wtc-homePage-calendar-detail {
  position: relative;
  padding: 0 13px;
  border-top: 1px solid #f1f1f1;
  overflow: hidden;
}
/*.wtc-homePage-calendar-detail::after {*/
/*content: '';*/
/*width: 200%;*/
/*height: 200%;*/
/*position: absolute;*/
/*top: 0;*/
/*left: 0;*/
/*border-top: 1px solid #e5e5e5;*/
/*-webkit-transform: scale(0.5,0.5);*/
/*transform: scale(0.5,0.5);*/
/*-webkit-transform-origin: top left;*/
/*}*/
.wtc-homePage-calendar-detail .wtc-homePage-calendar-detail-first {
  justify-content: space-between;
  padding-top: 8px;
}
.wtc-homePage-calendar-detail .wtc-homePage-calendar-detail-date {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
}
.wtc-homePage-calendar-detail .wtc-homePage-calendar-detail-abnormal {
  display: inline-block;
  border: 1px solid #FC808B;
  text-align: center;
  font-size: 12px;
  border-radius: 2px;
  color: #FB2323;
  background-color: #FFF2F4;
  margin-left: 4px;
  padding: 0 6px;
  height: 20px;
  line-height: 18px;
}
.wtc-homePage-calendar-detail .wtc-homePage-calendar-detail-time {
  flex: 1;
  text-align: right;
}
.wtc-homePage-calendar-detail .wtc-homePage-calendar-detail-time > span {
  color: #276FF5;
}
.wtc-homePage-calendar-detail .wtc-homePage-calendar-detail-second {
  padding: 6px 0 10px 0;
  /*border-bottom: 1px solid #ddd;*/
}
.wtc-homePage-calendar-detail .wtc-homePage-calendar-detail-second-list {
  line-height: 22px;
  font-size: 12px;
  color: #999;
}
.wtc-homePage-calendar-detail .wtc-homePage-calendar-detail-second-list > span {
  margin-right: 6px;
  word-break: break-all;
}
.wtc-homePage-calendar-detail-no-att {
  width: 100%;
  text-align: center;
  padding: 40px 0;
}
/*.wtc-homePage-calendar-detail-no-att > img {*/
/*width: 70%;*/
/*}*/
.wtc-homePage-calendar-detail-no-att .wtc-homePage-calendar-detail-no-att-text {
  font-size: 14px;
  color: #999;
}
.wtc-homePage-calendar-detail .wtc-homePage-calendar-detail-card-list {
  /*min-height: 60px;*/
}
.wtc-homePage-calendar-detail-card-daily-detail {
  padding: 10px 0;
  border-top: 1px dashed #e5e5e5;
}
.wtc-homePage-calendar-detail-card-daily-detail .wtc-homePage-calendar-daily-detail-title {
  margin-bottom: 6px;
  font-weight: 700;
}
.wtc-homePage-calendar-detail-card-daily-detail .wtc-homePage-calendar-daily-detail-item {
  display: flex;
  padding: 10px;
  background-color: #f5f5f5;
  margin-bottom: 10px;
}
.wtc-homePage-calendar-detail-card-daily-detail .wtc-homePage-calendar-daily-detail-item-type {
  margin-right: 10px;
  color: #276FF5;
  flex: 0 0 50px;
}
.wtc-homePage-calendar-detail-card-daily-detail .wtc-homePage-calendar-daily-detail-item-type > img {
  vertical-align: middle;
  width: 16px;
  height: 16px;
}
.wtc-homePage-calendar-detail-card-daily-detail .wtc-homePage-calendar-daily-detail-item-duration {
  margin-bottom: 6px;
}
.wtc-homePage-calendar-detail-card-daily-detail .wtc-homePage-calendar-daily-detail-item-duration:last-child {
  margin-bottom: 0;
}
.wtc-calendar-yearMonth[data-v-3fdda335] {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 14px;
  color: #212121;
  background-color: #fff;
}
.wtc-calendar-yearMonth-btns[data-v-3fdda335] {
  display: flex;
  padding: 10px 0;
}
.wtc-calendar-yearMonth-btns > div[data-v-3fdda335] {
  flex: 1;
  color: #276ff5;
  text-align: center;
}
.wtc-calendar-yearMonth-year[data-v-3fdda335] {
  text-align: center;
  padding: 10px 0 6px 0;
  border-top: 1px solid #e5e5e5;
}
.wtc-calendar-yearMonth-year > div[data-v-3fdda335] {
  display: inline-block;
  padding: 4px;
  vertical-align: bottom;
}
.wtc-calendar-yearMonth-months[data-v-3fdda335] {
  width: 100%;
  padding-bottom: 6px;
}
.wtc-calendar-yearMonth-months .wtc-calendar-yearMonth-month-item[data-v-3fdda335] {
  display: inline-block;
  width: 25%;
  padding: 10px 0;
  text-align: center;
  box-sizing: border-box;
}
.wtc-calendar-yearMonth-months .wtc-yearMonth-month-checked[data-v-3fdda335] {
  color: #276ff5;
}
.wtc-calendar-yearMonth .wtc-calendar-yearMonth-year-left-disable[data-v-3fdda335] {
  color: #ccc;
}
.wtc-calendar-yearMonth .wtc-calendar-yearMonth-month-item-disable[data-v-3fdda335] {
  color: #ccc;
}
.wtc-yearMonth-slide-bottom-enter-active[data-v-3fdda335],
.wtc-yearMonth-slide-bottom-leave-active[data-v-3fdda335] {
  transition: transform 0.5s;
}
.wtc-yearMonth-slide-bottom-enter[data-v-3fdda335],
.wtc-yearMonth-slide-bottom-leave-to[data-v-3fdda335] {
  transform: translateY(100%);
}
.wtc-homePage-calendar[data-v-5fdfea20] {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.wtc-homePage-calendar .wtc-homePage-calendar-week[data-v-5fdfea20] {
  position: relative;
  display: flex;
  font-size: 12px;
  /*border-top: 1px solid #e5e5e5;*/
  padding: 10px 0;
  color: #999;
}
.wtc-homePage-calendar .wtc-homePage-calendar-week[data-v-5fdfea20]::after {
  content: '';
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  border-top: 1px solid #e5e5e5;
  -webkit-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  -webkit-transform-origin: top left;
}
.wtc-homePage-calendar-week .wtc-homePage-calendar-week-item[data-v-5fdfea20] {
  flex: 1;
  text-align: center;
}
.wtc-homePage-calendar .wtc-homePage-calendar-head[data-v-5fdfea20] {
  text-align: center;
  padding: 10px 0;
}
.wtc-homePage-calendar .wtc-homePage-calendar-head .wtc-homePage-calendar-cur-month[data-v-5fdfea20] {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
}
.wtc-homePage-calendar .wtc-homePage-calendar-head .wtc-homePage-calendar-month-btn[data-v-5fdfea20] {
  display: inline-block;
  padding: 0 10px;
  font-size: 16px;
  vertical-align: bottom;
  line-height: 20px;
  color: #999;
  font-weight: 700;
}
.wtc-homePage-calendar .wtc-homePage-calendar-head .wtc-homePage-calendar-left-month-btn-disable[data-v-5fdfea20] {
  color: #ccc;
}
.wtc-homePage-calendar .wtc-homePage-calendar-content-wrap[data-v-5fdfea20] {
  width: 300%;
  display: flex;
}
.wtc-homePage-calendar .wtc-homePage-calendar-content[data-v-5fdfea20] {
  font-size: 0;
  width: 100%;
}
.wtc-homePage-calendar-content .wtc-homePage-calendar-content-date-wrap[data-v-5fdfea20] {
  position: relative;
  font-size: 14px;
  display: inline-block;
  width: 14.2%;
  height: 54px;
  padding: 2px;
  box-sizing: border-box;
  cursor: pointer;
  vertical-align: bottom;
}
.wtc-homePage-calendar-content .pre-date[data-v-5fdfea20],
.wtc-homePage-calendar-content .next-date[data-v-5fdfea20] {
  opacity: 0.5;
  color: #fff;
}
.wtc-homePage-calendar-content .checked-date .wtc-homePage-calendar-content-date[data-v-5fdfea20] {
  border: 1px solid #276ff5;
  background-color: #f2f9ff;
  color: #276ff5;
}
/* .wtc-homePage-calendar-content .wtc-homePage-calendar-content-date {
      width: 24px;
      height: 24px;
      line-height: 24px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -12px;
      margin-top: -12px;
      border-radius: 50%;
      overflow: hidden;
      text-align: center;
    } */
.wtc-homePage-calendar-content .wtc-homePage-calendar-content-date[data-v-5fdfea20] {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #fff;
}
.wtc-homePage-calendar-content .wtc-calendar-date-today .wtc-homePage-calendar-content-date-text[data-v-5fdfea20] {
  color: #276ff5;
}
.pre-date .wtc-calendar-date-today .wtc-homePage-calendar-content-date-text[data-v-5fdfea20] {
  color: #fff;
}
.next-date .wtc-calendar-date-today .wtc-homePage-calendar-content-date-text[data-v-5fdfea20] {
  color: #fff;
}
.wtc-homePage-calendar-content .wtc-calendar-date-actual-off[data-v-5fdfea20] {
  color: #999;
}
.wtc-homePage-calendar-content .wtc-calendar-date-rest[data-v-5fdfea20] {
  color: #999;
}
.wtc-homePage-calendar-content .wtc-calendar-date-actual-work[data-v-5fdfea20] {
  color: #212121;
}
.wtc-homePage-calendar-content .wtc-calendar-date-actual-off .wtc-homePage-calendar-content-date-mark[data-v-5fdfea20] {
  background-color: #ff854d;
}
.wtc-homePage-calendar-content .wtc-calendar-date-actual-work .wtc-homePage-calendar-content-date-mark[data-v-5fdfea20] {
  background-color: #16b8b1;
}
.wtc-homePage-calendar-content-date .wtc-homePage-calendar-content-date-mark[data-v-5fdfea20] {
  position: absolute;
  right: 0;
  top: 8px;
  /* height: 18px; */
  font-size: 12px;
  transform: scale(0.8);
  width: 16px;
  height: 16px;
  color: #fff;
  border-radius: 2px;
  text-align: center;
}
.wtc-homePage-calendar-content-date .wtc-homePage-calendar-content-date-text[data-v-5fdfea20] {
  height: 31px;
  line-height: 46px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}
.wtc-homePage-calendar-content-date .wtc-homePage-calendar-content-date-apply[data-v-5fdfea20] {
  height: 14px;
  text-align: center;
  font-size: 12px;
  transform: scale(0.8);
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wtc-homePage-calendar-content-date .wtc-homePage-calendar-content-date-apply .wtc-homePage-calendar-content-date-apply-inner[data-v-5fdfea20] {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #ff5257;
}
.wtc-homePage-calendar-wrap[data-v-4c8e3260] {
  font-family: PingFang SC;
  width: 100%;
  font-size: 14px;
  color: #212121;
  overflow: hidden;
  background-color: #fff;
}
.wtc-homePage-calendar-wrap .wtc-homePage-calendar-fold-btn[data-v-4c8e3260] {
  text-align: center;
  padding: 6px 0;
}
.wtc-homePage-calendar-wrap .wtc-homePage-calendar-fold-btn > span[data-v-4c8e3260] {
  font-size: 22px;
  color: #999;
  font-weight: 700;
}
.wtc-calendar-slide-enter-active[data-v-4c8e3260],
.wtc-calendar-slide-leave-active[data-v-4c8e3260] {
  transition: max-height 0.5s;
}
.wtc-calendar-slide-enter[data-v-4c8e3260],
.wtc-calendar-slide-leave-to[data-v-4c8e3260] {
  max-height: 0;
}
.wtc-calendar-slide-enter-to[data-v-4c8e3260],
.wtc-calendar-slide-leave[data-v-4c8e3260] {
  max-height: 40rem;
}
