._2LEp3Cu6hYN0eoWNhSw_ek {
  color: var(--theme-color);
  cursor: pointer;
}
._2LEp3Cu6hYN0eoWNhSw_ek ._2aigy-uH7zj6edgf5q_MxQ {
  font-size: 12px;
}
._2LEp3Cu6hYN0eoWNhSw_ek ._1T-XXswxTieKiVBeiHDBVN {
  font-family: MicrosoftYaHei;
  font-size: 14px;
  letter-spacing: 0;
  font-weight: 400;
  margin-left: 8px;
}
