.Home_text__FNtpT {
  color: red;
  font-size: 30px;
}
.Home_container__dvuTP {
  position: relative;
}
.Home_h_100_percent__wHiYi {
  height: 100%;
}
.Home_loading__XiXz3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.Home_loading__XiXz3 .Home_center__b\+m1k {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

html, body, #root {
    height: 100%;
}
.h_100_percent {
    height: 100%;
}
