<div class='rosterControl'>
	<div class='rosterTop'>
		<div class="ruleTitle">
			<span class="config"><%= conditionconfig %></span>
			<span class="logic"><%= selectlogic %>：</span>
			<div class="conditionLogicDiv FieldItem_value-wrap_3cGJ FieldItem_borderAll_3yzr kd-field-border-all kd-hover-color allBorder theme field-in-edit">
				<div class='conditionLogic'></div>
			</div>
		</div>
	</div>
	<div class='rosterContent'>
		<div class="ruleRosterDiv"><table class='ruleRoster'></table></div>
		<div class="addRosterDiv"><a class="addRoster baseComponent_hyperlink_1yll link-color" title="+<%= addcondition %>">+<%= addcondition %></a></div>
	</div>
	<div class='rosterFloor'></div>
</div>

<table>
	<tr id='templeteTrRoster' class='templeteTrRoster'>
		<td class='rosterParamTd'>
			<div class="rosterParamDiv FieldItem_value-wrap_3cGJ FieldItem_borderAll_3yzr kd-field-border-all kd-hover-color allBorder theme field-in-edit">
				<div class='rosterParam'></div>
			</div>
		</td>
		<td class='rosterComparisonOptTd'>
			<div style="min-width:36px;"><span><%= onthelist %></span></div>
		</td>
		<td class='rosterValueTd'>
			<div class="rosterValueTextDiv FieldItem_value-wrap_3cGJ FieldItem_borderAll_3yzr kd-field-border-all kd-hover-color allBorder theme field-in-edit" style='position: relative;'>
				<div data-base-ctrl="true" class="BaseData_base-data_16rF BaseData_v-content_2bzr common_grow-1_6Rq1" style='height: 26px;'>
					<div class="BaseData_base-data-contentArea_1Fc8 BaseData_no-wrap_2Tn-">
						<input class="rosterValueText BaseData_text-input-margin-right_26jS baseComponent_input_2ULV primary-text-in-light baseComponent_input-default_49SY common_grow-1_6Rq1" type="text" tabindex="0" title="" value="" disabled="disabled">
					</div>
					<div class="BaseData_base-data-iconArea_h_gc">
						<span class="rosterValueSearch BaseData_icon_2ri7 kdfont kdfont-f kdfont-f"></span>
					</div>
				</div>
			</div>
		</td>
		<td class='rosterComparisonOptTd'>
			<span><%= inlist %></span>
		</td>
		<td class='rosterDeleteTd'>
			<div title="<%= deleterow %>">
				<img class="deleteRoster" src="./kingdee/hr/rule/img/delete.png"></img>
			</div>
		</td>
	</tr>
</table>

			