.\[search-box-wrapper--PSIw9\] {
  position: absolute;
  z-index: 1050;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
.\[oldSearchWraperBoxStyle--39T4V\] {
  color: #666666;
  width: 28px;
  height: 28px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.\[newSearchWraperBoxStyle--3pZAM\] {
  color: #666666;
  width: 28px;
  height: 28px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.\[newSearchWraperBoxStyle--3pZAM\]:hover {
  background: #f5f5f5;
  cursor: pointer;
}
.\[oldSearchWraperStyle--1DvHM\] {
  font-size: 20px;
  cursor: pointer;
}
.\[newSearchWraperStyle--2pxYy\] {
  cursor: pointer;
  font-size: 20px;
}
.\[newSearchWraperStyle--2pxYy\]:hover {
  color: #666666 !important;
}
.\[hidden-search-bar--2D8t_\] {
  display: none;
}
.\[search-icon--TnYKi\] {
  width: 20px;
  margin-left: 7px;
  background: #ffffff;
  cursor: pointer;
  filter: grayscale(100%);
  opacity: 1;
}
.\[search-icon--TnYKi\]:hover {
  cursor: pointer;
  filter: grayscale(10%);
  opacity: 1;
}
.\[entrance--1tOkb\] {
  width: 96px;
  height: 24px;
  background: #ffffff;
  border-radius: 14px;
  border: 1px solid #5582f3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #5582f3;
  filter: grayscale(100%);
  opacity: 0.6;
}
.\[entrance--1tOkb\]:hover {
  cursor: pointer;
  filter: grayscale(10%);
  opacity: 1;
}
.\[entrance--1tOkb\] > span {
  font-size: 12px;
  margin-right: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.\[entrance--1tOkb\] .\[search-icon--TnYKi\] {
  width: 20px;
  margin-left: 7px;
}

.\[outer--1gF2e\] {
  width: 800px;
  margin: 20px auto;
  background: white;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  transition: height 200ms;
}
.\[outer--1gF2e\][data-nlp-search-show-in-container="true"] {
  width: auto;
}
.\[none-bottom-border-radios--30OPg\] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.\[grayItem--2uDVX\] {
  display: flex;
  align-items: flex-start;
  height: 60px;
  padding: 5px 13px 2px 17px;
  box-sizing: border-box;
  align-items: center;
}
.\[grayItem--2uDVX\] .\[leftGrayCircle--23fJv\] {
  width: 45px;
  height: 45px;
  border: 50%;
  border-radius: 50%;
  background: #F2F2F2;
}
.\[grayItem--2uDVX\] .\[rightLineBox--3Pwe8\] {
  margin-left: 20px;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}
.\[grayItem--2uDVX\] .\[rightLineBox--3Pwe8\] .\[line1--4C_m7\] {
  width: 140px;
  height: 17px;
  border: 50%;
  /* border-radius: 50%; */
  background: #F2F2F2;
}
.\[grayItem--2uDVX\] .\[rightLineBox--3Pwe8\] .\[line2--29O_4\] {
  width: 188px;
  height: 17px;
  margin-top: 5px;
  border: 50%;
  /* border-radius: 50%; */
  background: #F2F2F2;
}
.\[search-result--3Mwli\] {
  display: flex;
  height: 396px;
  border-top: 1px solid #e6e8ee;
  background-color: white;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.\[search-result--3Mwli\] .\[result-list--lgfdX\] {
  overflow: auto;
  flex-shrink: 0;
  width: 300px;
  padding-bottom: 10px;
}
.\[search-result--3Mwli\] .\[result-list--lgfdX\]::-webkit-scrollbar {
  width: 6px;
  background-color: white;
}
.\[search-result--3Mwli\] .\[result-list--lgfdX\]::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.\[search-result--3Mwli\] .\[result-list--lgfdX\]::-webkit-scrollbar-thumb {
  background-color: darkgray;
  border-radius: 100px;
}
.\[search-result--3Mwli\] .\[summary-wrapper--2sZ1Z\] {
  flex-grow: 1;
  border-left: 1px solid #e6e8ee;
}

.\[recommend-item-wrapper--40NdH\] {
  height: 48px;
  margin: 6px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.\[recommend-item-wrapper--40NdH\]:hover {
  color: #5582f3;
  background-color: #eef2fd;
}
.\[recommend-item-wrapper--40NdH\] > img {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
}
.\[recommend-item-wrapper--40NdH\] .\[filling--17sv4\] {
  flex-shrink: 0;
  margin-left: 4px;
}
.\[recommend-item-wrapper--40NdH\] .\[text--3VC3r\] {
  white-space: nowrap;
  font-size: 12px;
  margin-left: 6px;
}
.\[recommend-item-wrapper--40NdH\] .\[content--1SZKj\] {
  font-size: 12px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  margin-left: 6px;
  white-space: normal;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-line-clamp: 1;
}
.\[hr--CKJuL\] {
  width: 90%;
  height: 1px;
  margin: 0 auto 3px auto;
  border: none;
  background-color: #e6e8ee;
}
.\[is-active--gPh3t\] {
  background-color: #eef2fd;
}

.\[ss-lottie-container--2K92u\] {
  margin-left: 30px;
}

.\[fast-result-wrapper--3WrJ4\] {
  display: flex;
  align-items: flex-start;
  height: 48px;
  padding: 5px 13px 2px 17px;
  font-size: 12px;
  line-height: 20px;
  cursor: pointer;
  box-sizing: border-box;
}
.\[fast-result-wrapper--3WrJ4\]:hover {
  background-color: #eef2fd;
}
.\[fast-result-wrapper--3WrJ4\] > img {
  width: 18px;
  height: 18px;
  margin-right: 4px;
  margin-top: 2px;
}
.\[is-active--3bFaX\] {
  background-color: #eef2fd;
}
.\[title-wrapper--3h-UB\] {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  height: 20px;
  justify-content: space-between;
}
.\[title-wrapper--3h-UB\] > div {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-line-clamp: 1;
}
.\[title-wrapper--3h-UB\] > .\[type--2FwZq\] {
  color: #999999;
}
.\[sub-title--37lZs\] {
  color: #999999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 210px;
}
.\[left--3iyA8\] {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  flex-direction: column;
}
.\[hr--2dUDn\] {
  width: 90%;
  height: 1px;
  margin: 0 auto 3px auto;
  border: none;
  background-color: #e6e8ee;
}
.\[subTitle--2h5oc\] {
  color: #999999;
  max-width: 210px;
  white-space: nowrap;
}
.\[textBox--1kD_P\] {
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}

.\[icon--1o-lX\] {
  font-size: 20px;
  width: 20px;
  margin-right: 4px;
}
.\[circle--3FxmA\] {
  border-radius: 50%;
}

.\[ai-recommend-wrapper--3louE\] {
  display: flex;
  align-items: flex-start;
  height: 48px;
  padding: 5px 13px 2px 17px;
  font-size: 12px;
  line-height: 20px;
  cursor: pointer;
  box-sizing: border-box;
}
.\[ai-recommend-wrapper--3louE\]:hover {
  background-color: #eef2fd;
}
.\[ai-recommend-wrapper--3louE\] > img {
  width: 18px;
  height: 18px;
  margin-right: 4px;
  margin-top: 2px;
}
.\[is-active--3NCKo\] {
  background-color: #eef2fd;
}
.\[title-wrapper--H4Nd1\] {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  height: 20px;
  justify-content: space-between;
}
.\[title-wrapper--H4Nd1\] > div {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-line-clamp: 1;
}
.\[title-wrapper--H4Nd1\] > .\[type--1-Llk\] {
  color: #999999;
}
.\[sub-title--1eN2P\] {
  color: #999999;
  max-width: 210px;
  white-space: nowrap;
}
.\[textBox--IjrjF\] {
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}
.\[left--2KZ_r\] {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  flex-direction: column;
}
.\[hr--1OpMp\] {
  width: 90%;
  height: 1px;
  margin: 0 auto 3px auto;
  border: none;
  background-color: #e6e8ee;
}
.\[icon--1469z\] {
  font-size: 20px;
  width: 20px;
  margin-right: 4px;
}

.\[app--2xHwQ\] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.\[content--3lPXR\] {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-top: 50px;
}
.\[content--3lPXR\] .\[title--ErnJq\] {
  margin-top: 19px;
  margin-bottom: 16px;
  color: #333;
  font-size: 14px;
}
.\[content--3lPXR\] .\[desc--2KP8o\] {
  color: #666;
  font-size: 12px;
  margin-bottom: 8px;
}
.\[content--3lPXR\] .\[cloud--3ZInz\] {
  color: #666;
  font-size: 12px;
}
.\[pic--1fwAR\] {
  user-select: none;
  position: relative;
}
.\[pic--1fwAR\] > img:last-child {
  position: absolute;
  width: 44px;
  height: 44px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.\[app-menu--1S0ia\] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.\[content--15jyS\] {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-top: 50px;
}
.\[content--15jyS\] > img {
  width: 44px;
  height: 44px;
}
.\[content--15jyS\] .\[title--scSlm\] {
  margin-top: 19px;
  color: #333;
  font-size: 14px;
}
.\[content--15jyS\] .\[app--3I615\] {
  margin-top: 16px;
  color: #666;
  font-size: 12px;
}
.\[content--15jyS\] .\[cloud--2z3WK\] {
  margin-top: 8px;
  color: #666;
  font-size: 12px;
}
.\[pic--eBsnj\] {
  user-select: none;
  position: relative;
}
.\[pic--eBsnj\] > img:last-child {
  position: absolute;
  width: 44px;
  height: 44px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.\[bill-form--1uOhi\] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.\[bill-form--1uOhi\] .\[bill-wrapper--1PtK9\] {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-top: 50px;
}
.\[bill-form--1uOhi\] .\[bill-wrapper--1PtK9\] > img {
  width: 44px;
  height: 44px;
}
.\[bill-form--1uOhi\] .\[bill-wrapper--1PtK9\] .\[title--1k3SF\] {
  font-size: 14px;
  color: #333333;
  margin-top: 19px;
  margin-bottom: 16px;
}
.\[bill-form--1uOhi\] .\[bill-wrapper--1PtK9\] .\[field--3mO6i\] {
  font-size: 12px;
  color: #666666;
  margin-bottom: 8px;
}
.\[pic--1ZHH9\] {
  user-select: none;
  position: relative;
}
.\[pic--1ZHH9\] > img:last-child {
  position: absolute;
  width: 44px;
  height: 44px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.\[field_wrapper--2HTm1\] {
  display: flex;
  font-size: 12px;
  color: #666666;
  line-height: 20px;
  width: 400px;
  max-height: 125px;
  padding: 0 8px;
  overflow: auto;
  word-break: break-all;
}
.\[field_wrapper--2HTm1\] .\[left--S2NSs\] {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
  flex-grow: 1;
  flex-shrink: 0;
}
.\[field_wrapper--2HTm1\] .\[left--S2NSs\] .\[left_item--B1hVL\]:after {
  content: "ï¼š";
}
.\[field_wrapper--2HTm1\] .\[right--waEDe\] {
  width: 45%;
  flex-grow: 1;
  flex-shrink: 0;
}
.\[field_wrapper--2HTm1\] .\[right--waEDe\] > div {
  min-height: 20px;
}

.\[help-wrapper--2tz-z\] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.\[content--3xjku\] {
  margin-top: 40px;
  margin-right: 60px;
  margin-left: 40px;
}
.\[content--3xjku\] > img {
  width: 44px;
  height: 44px;
}
.\[content--3xjku\] .\[title--1XUos\] {
  color: #333;
  font-size: 14px;
}
.\[content--3xjku\] .\[status--1lIjJ\] {
  color: #999999;
  font-size: 12px;
  margin-top: 8px;
  display: flex;
}
.\[content--3xjku\] .\[status--1lIjJ\] > span {
  display: flex;
  color: #999999;
  margin-right: 18px;
}
.\[content--3xjku\] .\[status--1lIjJ\] > span > img {
  width: 14px;
  margin-right: 6px;
}
.\[content--3xjku\] .\[desc--2IOxY\] {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  margin-top: 20px;
  font-size: 12px;
  color: #666666;
  line-height: 24px;
  white-space: normal;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-line-clamp: 5;
}

.\[no-summary--33WmH\] {
  margin-top: 40px;
  margin-left: 60px;
  color: #666;
  font-size: 12px;
}
.\[no-summary--33WmH\] > img {
  width: 120px;
  height: 120px;
}
.\[no-summary--33WmH\] > div {
  margin-top: 40px;
}

.\[no-summary--ApaXk\] {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-top: 50px;
  font-size: 12px;
}
.\[grayArea--xtyz1\] {
  width: 256px;
  height: 300px;
  display: flex;
  flex-direction: column;
}
.\[grayImg--3GR4e\] {
  height: 144px;
  width: 256px;
  background-color: #f2f2f2;
}
.\[gray1--24TWj\] {
  margin-top: 31px;
  height: 17px;
  width: 115px;
  background-color: #f2f2f2;
}
.\[gray2--2ikka\] {
  margin-top: 7px;
  height: 17px;
  width: 200px;
  background-color: #f2f2f2;
}
.\[desc1--215Sn\] {
  margin-top: 20px;
  font-size: 14px;
  max-width: 360px;
  color: #333333;
  line-height: 22px;
  white-space: normal;
  word-break: break-all;
}
.\[desc2--4pvM0\] {
  margin-top: 10px;
  font-size: 12px;
  color: #666666;
  line-height: 20px;
}

.\[semantic-wrapper--1dWCB\] {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-top: 50px;
  font-size: 12px;
}
.\[desc1--l9yER\] {
  margin-top: 20px;
  font-size: 12px;
  color: #666666;
  line-height: 20px;
}
.\[desc2--UWWBg\] {
  width: 400px;
  font-size: 14px;
  color: #333333;
  line-height: 22px;
  white-space: normal;
  word-break: break-all;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.\[desc3--1bnii\] {
  width: 400px;
  font-size: 12px;
  color: #333333;
  line-height: 22px;
  white-space: normal;
  word-break: break-all;
  display: flex;
  justify-content: center;
}

.\[input-wrapper--2Fp0D\] {
  display: flex;
  align-items: center;
  position: relative;
  height: 60px;
}
.\[input-wrapper--2Fp0D\] .\[input--1ad-g\] {
  flex-grow: 1;
  margin-right: 13px;
  padding: 9px 35px 9px 10px;
  border-radius: 3px;
  border: none;
}
.\[input-wrapper--2Fp0D\] .\[input--1ad-g\]:focus {
  outline: none;
}
.\[input-wrapper--2Fp0D\] .\[delete-btn--1sOyV\] {
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
}
.\[is-focus--2eSvG\] {
  border: 1px solid #e6e8ee;
}
.\[radio-wrapper--2y8xm\] {
  margin-left: 20px;
  cursor: pointer;
}
.\[radio-wrapper--2y8xm\] > img {
  margin-top: 6px;
  margin-right: 15px;
  margin-left: 10px;
  width: 21px;
}

.\[recommend-item-wrapper--3_Nb3\] {
  position: relative;
  height: 100%;
}
.\[up--36Q2Z\] {
  display: flex;
  height: 100%;
  align-items: center;
  cursor: pointer;
  user-select: none;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.\[up--36Q2Z\]:hover {
  background-color: #eef2fd;
}
.\[up--36Q2Z\]:hover .\[inputArea--38QnI\] > input {
  background-color: #eef2fd;
}
.\[up--36Q2Z\] .\[showOptions--lZ3Nb\] {
  border: 1px solid #5582f3 !important;
}
.\[up--36Q2Z\] .\[inputArea--38QnI\] {
  height: 30px;
  width: auto;
  display: flex;
  justify-content: center;
  border: 1px solid transparent;
  align-items: center;
  box-sizing: border-box;
  margin: 0 10px;
  padding: 0 10px;
  border-radius: 4px;
}
.\[up--36Q2Z\] .\[inputArea--38QnI\]:hover {
  border: 1px solid #5582f3;
}
.\[up--36Q2Z\] .\[inputArea--38QnI\] > input {
  width: 100px;
  outline: none;
  border: 0;
  color: #333333;
  font-size: 12px;
}
.\[up--36Q2Z\] .\[inputArea--38QnI\] > input::placeholder {
  color: #333333 !important;
}
.\[up--36Q2Z\] .\[inputArea--38QnI\] > input::-webkit-input-placeholder {
  color: #333333 !important;
}
.\[up--36Q2Z\] .\[inputArea--38QnI\] > input::-moz-placeholder {
  color: #333333 !important;
}
.\[up--36Q2Z\] .\[inputArea--38QnI\] > div {
  padding-left: 24px;
  color: #333333;
  font-size: 12px;
}
.\[up--36Q2Z\] .\[inputArea--38QnI\] > img {
  width: 18px;
  height: 18px;
  margin-left: 8px;
}
.\[list--3IIJY\] {
  max-height: 350px;
  overflow: auto;
  margin: 80px calc(50% - 400px);
  padding: 10px 0;
  width: 230px;
  background-color: white;
  list-style: none;
  border-radius: 4px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
}
.\[list--3IIJY\] > .\[type-select-li--I7MPy\] {
  display: flex;
  cursor: pointer;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  align-items: center;
}
.\[list--3IIJY\] > .\[type-select-li--I7MPy\]:hover {
  background: #eef3fe;
}
.\[list--3IIJY\] > .\[type-select-li--I7MPy\]:hover > div {
  color: #597cfc;
}
.\[list--3IIJY\] > .\[type-select-li--I7MPy\] > img {
  width: 16px;
  height: 16px;
  margin-left: 4px;
}
.\[is-active--n3i4v\] {
  color: #597cfc;
}
.\[type-select-ul-mask--m9-S7\] {
  position: fixed;
  z-index: 100000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .\[type-select-ul-mask--m9-S7\] {
    position: -ms-page;
    z-index: 100000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
  }
}
[data-nlp-search-show-in-container="true"] .\[list--3IIJY\] {
  margin: 340px calc(50% - 400px) 0px calc(50% - 400px);
}

.opacity-change-enter {
  opacity: 0;
}
.opacity-change-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.opacity-change-exit {
  opacity: 1;
}
.opacity-change-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
.radio-opacity-change-appear {
  display: flex !important;
  opacity: 0;
}
.radio-opacity-change-enter {
  opacity: 0;
  display: flex !important;
}
.radio-opacity-change-enter-active {
  opacity: 1;
  display: flex !important;
  transition: opacity 200ms;
}
.radio-opacity-change-enter-done {
  opacity: 1;
  display: flex !important;
}
.radio-opacity-change-exit {
  opacity: 1;
  display: flex !important;
}
.radio-opacity-change-exit-active {
  opacity: 0;
  display: flex !important;
  transition: opacity 200ms;
}
.zoom-in-top-enter {
  opacity: 0;
}
.zoom-in-top-enter-active {
  opacity: 1;
  transition: opacity 100ms;
}
.zoom-in-top-exit {
  opacity: 1;
}
.zoom-in-top-exit-active {
  opacity: 0;
  transition: opacity 100ms;
}

.\[radio-wrapper--3sywv\] {
  margin-left: 20px;
  cursor: pointer;
}
.\[radio-wrapper--3sywv\] > img {
  margin-top: 5px;
  margin-right: 5px;
  width: 40px;
}
.\[new-radio-wrapper--2_wc7\] {
  position: absolute;
  width: 100%;
  height: 168px;
  top: 0;
  background-color: white;
  border-radius: 4px;
  display: none;
  flex-direction: column;
  align-items: center;
}
.\[error-msg--3l0gK\] {
  text-decoration: underline;
  color: #5e80eb;
  margin-left: 5px;
  cursor: pointer;
}
.\[radio-input-text--ErLUs\] {
  height: 20px;
  margin-top: 25px;
  padding: 0 20px;
  font-size: 14px;
}
.\[radio-animation-wrapper--2Ku9N\] {
  margin-top: 10px;
}
.\[exit--3CUKI\] {
  position: absolute;
  right: 21px;
  width: 19px;
  top: 22px;
  cursor: pointer;
}

.\[lastSearchMenu--1XObj\] {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100px;
  border-top: 1px solid #e6e8ee;
  background-color: white;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.\[lastMenuText--1yj8l\] {
  padding: 0 24px;
}
.\[btnList--1bziE\] {
  display: flex;
  padding: 0 24px;
  justify-content: flex-start;
}
.\[lastMenuBtn--4ca6y\] {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 5px 12px;
  line-height: 18px;
  margin-right: 24px;
  background: #FAFAFA;
  border-radius: 4px;
  font-size: 12px;
}
.\[lastMenuBtn--4ca6y\]:hover {
  background: #F5F5F5;
}

