.io2ViGIvOzcAFTQ-YWAv_ ._1g_M74IdKMOjz2ZNqZAqP_ {
  display: flex;
}
.io2ViGIvOzcAFTQ-YWAv_ ._1g_M74IdKMOjz2ZNqZAqP_ .xcMRoRUfacRPmNPuM0HtD {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.io2ViGIvOzcAFTQ-YWAv_ ._3or_KICxbUItj9yYlzQh_J:last-child {
  margin-bottom: 12px !important;
}
.io2ViGIvOzcAFTQ-YWAv_ ._3or_KICxbUItj9yYlzQh_J {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  height: 30px;
}
.io2ViGIvOzcAFTQ-YWAv_ ._3or_KICxbUItj9yYlzQh_J .BnqpZitds4NcQkcAujf71 {
  font-family: "MicrosoftYaHei";
  font-size: 12px;
  color: #212121;
  letter-spacing: 0;
  text-align: right;
  font-weight: 400;
}
.io2ViGIvOzcAFTQ-YWAv_ ._3or_KICxbUItj9yYlzQh_J ._3N7b2qSt7p3Ru3rAtJzuHs {
  display: flex;
  margin-left: 14px;
  align-items: center;
}
.io2ViGIvOzcAFTQ-YWAv_ ._3or_KICxbUItj9yYlzQh_J ._3N7b2qSt7p3Ru3rAtJzuHs i {
  cursor: pointer;
}
.io2ViGIvOzcAFTQ-YWAv_ ._3or_KICxbUItj9yYlzQh_J ._3N7b2qSt7p3Ru3rAtJzuHs .JlK0PsSRgKzoM4k-_zT9x {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.io2ViGIvOzcAFTQ-YWAv_ ._3or_KICxbUItj9yYlzQh_J ._3N7b2qSt7p3Ru3rAtJzuHs .JlK0PsSRgKzoM4k-_zT9x i {
  position: absolute;
  right: 10px;
  cursor: pointer;
}
.io2ViGIvOzcAFTQ-YWAv_ ._3or_KICxbUItj9yYlzQh_J ._3N7b2qSt7p3Ru3rAtJzuHs .JlK0PsSRgKzoM4k-_zT9x ._34Jc_3P2tFqG6Z79PuxwhU {
  font-family: "MicrosoftYaHei";
  font-size: 14px;
  color: #212121;
  letter-spacing: 0;
  line-height: 21px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 20px);
}
.io2ViGIvOzcAFTQ-YWAv_ ._3or_KICxbUItj9yYlzQh_J ._3N7b2qSt7p3Ru3rAtJzuHs ._3DEK-0mTRoD8SFwo7HSGaV {
  display: flex;
  flex-direction: column;
  margin: 0 8px;
  align-items: center;
}
.io2ViGIvOzcAFTQ-YWAv_ ._3or_KICxbUItj9yYlzQh_J ._3N7b2qSt7p3Ru3rAtJzuHs ._3DEK-0mTRoD8SFwo7HSGaV ._2ycBG_aCY2WUtG4kDot72I {
  color: #999;
}
.io2ViGIvOzcAFTQ-YWAv_ ._3or_KICxbUItj9yYlzQh_J ._3N7b2qSt7p3Ru3rAtJzuHs ._3DEK-0mTRoD8SFwo7HSGaV ._3NDcE9AxxVq8B-RmAPvO2V {
  font-family: "MicrosoftYaHeiSemibold";
  font-size: 12px;
  color: #666666;
  letter-spacing: 0;
  font-weight: 600;
  cursor: pointer;
}
.io2ViGIvOzcAFTQ-YWAv_ ._3or_KICxbUItj9yYlzQh_J ._3N7b2qSt7p3Ru3rAtJzuHs ._3DEK-0mTRoD8SFwo7HSGaV ._3NDcE9AxxVq8B-RmAPvO2V:hover {
  color: var(--theme-color);
  opacity: 0.85;
}
.io2ViGIvOzcAFTQ-YWAv_ ._3or_KICxbUItj9yYlzQh_J ._3N7b2qSt7p3Ru3rAtJzuHs ._3DEK-0mTRoD8SFwo7HSGaV .o71Rn372-LF-bSnMqW5KU {
  color: var(--theme-color);
}
.io2ViGIvOzcAFTQ-YWAv_ ._3or_KICxbUItj9yYlzQh_J ._31fTotxgImIWjBJ8K_Px8w {
  margin-left: 10px;
  display: flex;
}
.io2ViGIvOzcAFTQ-YWAv_ ._3or_KICxbUItj9yYlzQh_J ._31fTotxgImIWjBJ8K_Px8w i {
  cursor: pointer;
}
.io2ViGIvOzcAFTQ-YWAv_ ._3or_KICxbUItj9yYlzQh_J ._31fTotxgImIWjBJ8K_Px8w ._1GTYHX6OHgPR6QTVF3oF3I {
  color: #666666;
}
.io2ViGIvOzcAFTQ-YWAv_ ._3or_KICxbUItj9yYlzQh_J ._31fTotxgImIWjBJ8K_Px8w ._1GTYHX6OHgPR6QTVF3oF3I:hover {
  color: #276FF5;
}
.io2ViGIvOzcAFTQ-YWAv_ ._3or_KICxbUItj9yYlzQh_J ._31fTotxgImIWjBJ8K_Px8w ._3UKsErNFpCNTGjUitNwR2a {
  color: #666666;
  margin-left: 10px;
}
.io2ViGIvOzcAFTQ-YWAv_ ._3or_KICxbUItj9yYlzQh_J ._31fTotxgImIWjBJ8K_Px8w ._3UKsErNFpCNTGjUitNwR2a:hover {
  color: #FB2323;
}
.io2ViGIvOzcAFTQ-YWAv_ ._3dFHJBndbj3kb6MynCUIKk {
  background: #FFFFFF;
  border: 1px solid #5582f3;
  border-radius: 2px;
  width: 160px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 12px;
}
.io2ViGIvOzcAFTQ-YWAv_ ._3dFHJBndbj3kb6MynCUIKk span {
  font-family: "MicrosoftYaHei";
  font-size: 12px;
  color: #5582F3;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.io2ViGIvOzcAFTQ-YWAv_ ._3dFHJBndbj3kb6MynCUIKk i {
  color: #5582F3;
  margin: 0 6px;
}
