#workSetItem .kd-tabs-navs {
    width: 150px;
    background-color: #fff;
}
#workSetItem .info_panel_tabs{
  background-color: #fff;
}
#workSetItem .kd-carousel-root{
    padding-left: 10px;
    background-color: #f5f5f5;
    overflow-y: scroll;
}
#workSetItem .button-itemset-tool{
  margin-right: 10px;
}

.confirm_content .kd-modal-body .confirm_content_title{
  font-size: 14px;
  line-height: 30px;
  font-weight: 600;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.confirm_content_detail .confirm_content_detail_info{
  height: 50px;
  overflow-y: scroll;
  word-wrap: break-word;
  margin-bottom: 5px;
}

.confirm_content .kd-modal-body .confirm_content_link{
  line-height: 30px;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.kd-tooltip{
  word-wrap: break-word;
}
