._2K-PK_wi25w9TDmKRY3bzA {
  padding: 0px 15px;
  flex: auto;
}
._2K-PK_wi25w9TDmKRY3bzA ._30Utq0QSNJvSvU37BXjyIU {
  background-color: #fff;
  padding: 10px;
  width: 100%;
}
._2K-PK_wi25w9TDmKRY3bzA ._30Utq0QSNJvSvU37BXjyIU ._7JJxvedIVeOv-_gfEMPeO {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
}
._2K-PK_wi25w9TDmKRY3bzA ._30Utq0QSNJvSvU37BXjyIU ._6VAQMsE7edyGhFXCiMR2B {
  font-size: 14x;
  line-height: 20px;
}
._2K-PK_wi25w9TDmKRY3bzA ._2E0uwrwU1R0m-569MUv4_P {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
._2K-PK_wi25w9TDmKRY3bzA ._2E0uwrwU1R0m-569MUv4_P ._2ZIqtVGxAxx8IIVORWIlJG {
  width: 30%;
  height: 100%;
  background-color: #fff;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}
._2K-PK_wi25w9TDmKRY3bzA ._2E0uwrwU1R0m-569MUv4_P ._2ZIqtVGxAxx8IIVORWIlJG ._2jjlehM1m6lsgtaXQKl2Q7 {
  font-size: 16px;
  line-height: 25px;
  font-weight: 600;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
._2K-PK_wi25w9TDmKRY3bzA ._2E0uwrwU1R0m-569MUv4_P ._2ZIqtVGxAxx8IIVORWIlJG ._2BebjqL1PHINzqOfCRj2Tn {
  font-size: 12px;
  line-height: 20px;
  margin: 10px 0px 20px 0px;
  word-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  height: 60px;
}
._2K-PK_wi25w9TDmKRY3bzA ._2E0uwrwU1R0m-569MUv4_P ._2ZIqtVGxAxx8IIVORWIlJG ._32wO7tCHMZ8AxnJO-ojtg6 {
  display: flex;
  display: -webkit-flex;
  line-height: 20px;
  margin: 10px 0px;
}
._2K-PK_wi25w9TDmKRY3bzA ._2E0uwrwU1R0m-569MUv4_P ._2ZIqtVGxAxx8IIVORWIlJG ._32wO7tCHMZ8AxnJO-ojtg6 ._2YiNxnxVoda3tVwrSIvK8s {
  flex: 0 0 60px;
}
._2K-PK_wi25w9TDmKRY3bzA ._2E0uwrwU1R0m-569MUv4_P ._2ZIqtVGxAxx8IIVORWIlJG ._3BwnBLgOzoU9s4gxnuU4h4 {
  margin-top: 20px;
  text-align: center;
  font-weight: 600;
}
._2K-PK_wi25w9TDmKRY3bzA ._2E0uwrwU1R0m-569MUv4_P ._2ZIqtVGxAxx8IIVORWIlJG:hover {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.18);
  cursor: pointer;
}
._2K-PK_wi25w9TDmKRY3bzA ._2E0uwrwU1R0m-569MUv4_P ._2ZIqtVGxAxx8IIVORWIlJG:hover ._2jjlehM1m6lsgtaXQKl2Q7 {
  color: var(--theme-color);
}
