<div class="permconditionControlDiv" style="display:none;">
	<div class="emptyControl">
		<div><span><%= emptyDescription %></span><a class="showControl baseComponent_hyperlink_1yll theme-fc" title="<%= showControl %>"><%= showControl %></a></div>
	</div>

	<div class="permconditionControl" style="display:none;">
		<div class='leftCondition'>
			<div class='conditionTop'>
				<div class='ruleTitle'><span><%= condition %></span></div>
			</div>
			
			<div class='conditionContent'>
				<div><table class='ruleCondition'></table></div>	
				<div class="addConditionDiv"><a class="addCondition baseComponent_hyperlink_1yll theme-fc" title="+<%= addcondition %>">+<%= addcondition %></a></div>
			</div>
		</div>
		
		<div class='rightExpress'>
			<div class='conditionTop'>
				<div class='ruleTitle'><span><%= conditionlogic %></span></div>
			</div>
			
			<div class='conditionTypeRadioDiv'></div>
			<div class='expressDiv' style="display: none;">
				<div class='conditionExpressDiv FieldItem_value-wrap_3cGJ FieldItem_borderAll_3yzr kd-field-border-all kd-hover-color allBorder theme field-in-edit' style='position: relative;'>					
					<textarea class='conditionExpress' name='conditionExpress' style='display:flex;flex-direction:column;'></textarea>
					<span class="BaseData_icon_2ri7 kdfont kdfont-yulan kd-hover-color expressView"></span>
				</div>
				<div>
					<button class='and' type='button'><%= and %></button>
					<button class='or' type='button'><%= or %></button>
					<button class='leftBracket' type='button'>（</button>
					<button class='rightBracket' type='button'>）</button>
				</div>
			</div>
		</div>

		<div id='multiDropDownControl' class='multiDropDownControl' tabindex="-1" style="position: fixed; transform: translateZ(0px); visibility: visible; z-index: 1050;">
			
		</div>
	</div>
	
	<table>
		<tr id='templeteTrCondition' class="templeteTrCondition" style='position:relative;' traggable="true">
			<td class='nameTd'><span class='name'>T00</span></td>
			<td class='conditionParamTd' style='position: relative;'>
				<div class='conditionParamDiv FieldItem_value-wrap_3cGJ FieldItem_borderAll_3yzr kd-field-border-all kd-hover-color allBorder theme field-in-edit'>
					<div class='conditionParam'></div>
				</div>
			</td>
			<td class='comparisonOptTd'>
				<div class='comparisonOptDiv FieldItem_value-wrap_3cGJ FieldItem_borderAll_3yzr kd-field-border-all kd-hover-color allBorder theme field-in-edit'>
					<div class='comparisonOpt'></div>
				</div>
			</td>
			<td class='valueTypeTd'>
				<div class='valueTypeDiv FieldItem_value-wrap_3cGJ FieldItem_borderAll_3yzr kd-field-border-all kd-hover-color allBorder theme field-in-edit'>
					<div class='valueType'></div>
				</div>
			</td>
			<td class='valueTd'>
				<div class='valueParamSelectDiv FieldItem_value-wrap_3cGJ FieldItem_borderAll_3yzr kd-field-border-all kd-hover-color allBorder theme field-in-edit' style='display:none;'>			
					<div class='valueParam'></div>
				</div>
				<div class='valueBooleanSelectDiv FieldItem_value-wrap_3cGJ FieldItem_borderAll_3yzr kd-field-border-all kd-hover-color allBorder theme field-in-edit' style='display:none;'>
					<div class='valueBoolean'></div>
				</div>						
				<div class='valueEnumSelectDiv FieldItem_value-wrap_3cGJ FieldItem_borderAll_3yzr kd-field-border-all kd-hover-color allBorder theme field-in-edit' style='position: relative;display:none;'>
					<div data-base-ctrl="true" style="display:flex;">
						<input class='valueEnumText' type="text" readonly="readonly"/>
						<div class="Select_iconBox_1WJ3"><div class="xialajiantou kdfont kdfont-xiala Select_select-icon-default_3JG_" style="float: right;padding: 5px 0;"></div></div>
					</div>
				</div>
				<div class='valueDateDiv FieldItem_value-wrap_3cGJ FieldItem_borderAll_3yzr kd-field-border-all kd-hover-color allBorder theme field-in-edit' style='display:none;position: relative;'>		
					<div data-base-ctrl="true" title="">
						<div class="DatePicker_icon_Vdy- kdfont kdfont-riqixuanze"></div>
						<input placeholder="" tabindex="0" enableddates="" disableddates="" calendarlocale="zh_CN" today="2021-11-08 09:33:14" firstdayofweek="NaN" class="valueDate baseComponent_input_2ULV baseComponent_input-default_49SY DatePicker_input-default_1kxb DatePicker_pr-18_1a--" value="">
					</div>
				</div>
				<div class='valueNumberDiv FieldItem_value-wrap_3cGJ FieldItem_borderAll_3yzr kd-field-border-all kd-hover-color allBorder theme field-in-edit' style='display:none;'>
					<div class="baseComponent_input-number-div_2cds" data-base-ctrl="true">
						<input class='valueNumber' type='text' maxLength='24'>
					</div>
				</div>
				<div class='valueTextDiv FieldItem_value-wrap_3cGJ FieldItem_borderAll_3yzr kd-field-border-all kd-hover-color allBorder theme field-in-edit' style='position: relative;'>
					<div data-base-ctrl="true" class="BaseData_base-data_16rF BaseData_v-content_2bzr common_grow-1_6Rq1" style='height: 26px;'>
						<div class="BaseData_base-data-contentArea_1Fc8 BaseData_no-wrap_2Tn-">
							<input class="valueText BaseData_text-input-margin-right_26jS baseComponent_input_2ULV primary-text-in-light baseComponent_input-default_49SY common_grow-1_6Rq1" type="text" tabindex="0" title="" value="">
						</div>
						<div class="BaseData_base-data-iconArea_h_gc">
							<span class="conditionValueSearch BaseData_icon_2ri7 kdfont kdfont-f kdfont-f" style="display:none;"></span>
							<i class="conditionValueSearchView kdfont kdfont-chakanjichuziliao hover-theme-fc active-theme-active-fc _2QnPOn2h"></i>
						</div>
					</div>
				</div>			
				<input class='displayValue' type='text' style='display:none;'>
				<input class='value' type='text' style='display:none;'>
			</td>
			<td class='deleteTd'>
				<div title="<%= deleterow %>">
					<img class="delete" src="./kingdee/hr/rule/img/delete.png"></img>
				</div>
			</td>
			<td class='copyTd'>
				<div title="<%= copyrow %>">
					<img class="copy" src="./kingdee/hr/rule/img/copy.png"></img>
				</div>
			</td>
		</tr>
	</table>
</div>

