._10nbyRKF8PGgzFF9AuvVCl .s_f5o4v74zkox2KrxuOT {
  color: #212121;
  background-color: #fff;
  padding-left: 20px;
}
._10nbyRKF8PGgzFF9AuvVCl .s_f5o4v74zkox2KrxuOT ._1D9xaN6SAfigHLdoz0wSIb {
  row-gap: calc(var(--rgap)/2);
}
._10nbyRKF8PGgzFF9AuvVCl .s_f5o4v74zkox2KrxuOT .RvfzDp9OlMCXv1jiX4N3V .tvNtwCgS_5pe7VhttSyfz {
  width: 157px;
  height: 32px;
  line-height: 32px;
  margin-right: 5px;
  margin-bottom: 14px;
  padding: 7px 15px;
  background: #F5F5F5;
  border: 1px solid #F5F5F5;
  border-radius: 2px;
  font-family: MicrosoftYaHei;
  font-size: 12px;
  letter-spacing: 0;
  font-weight: 400;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: inherit;
}
._10nbyRKF8PGgzFF9AuvVCl .s_f5o4v74zkox2KrxuOT .RvfzDp9OlMCXv1jiX4N3V .tvNtwCgS_5pe7VhttSyfz:hover {
  color: var(--theme-color);
  background: #F1F6FD;
  border: 1px solid rgba(39, 111, 245, 0.3);
}
._10nbyRKF8PGgzFF9AuvVCl {
  padding-left: 20px;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: wrap;
}
._10nbyRKF8PGgzFF9AuvVCl .tvNtwCgS_5pe7VhttSyfz {
  width: 157px;
  height: 32px;
  line-height: 32px;
  margin-right: 16px;
  margin-bottom: 14px;
  padding: 8px 12px;
  cursor: pointer;
  background: #F5F5F5;
  border: 1px solid #F5F5F5;
  border-radius: 2px;
  font-family: MicrosoftYaHei;
  font-size: 12px;
  letter-spacing: 0;
  font-weight: 400;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
}
._10nbyRKF8PGgzFF9AuvVCl .tvNtwCgS_5pe7VhttSyfz ._3upJjm2RmF0POSaXCFX1KV {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #212121;
}
._10nbyRKF8PGgzFF9AuvVCl .tvNtwCgS_5pe7VhttSyfz ._1U18hJquvys_4i-_wuxDEW {
  color: #999;
}
._10nbyRKF8PGgzFF9AuvVCl .tvNtwCgS_5pe7VhttSyfz:hover {
  color: var(--theme-color);
  background: #F1F6FD;
  border: 1px solid rgba(39, 111, 245, 0.3);
}
._10nbyRKF8PGgzFF9AuvVCl .tvNtwCgS_5pe7VhttSyfz:hover ._1U18hJquvys_4i-_wuxDEW {
  color: var(--theme-color);
}
