.qing-welcome-container
{
	text-align: center;
	position: absolute;
	background: white;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	font: 14px PingFangSC-Regular;
	letter-spacing: 0;
	color: #666666;
	text-align: center;
}
.qing-welcome-sub-container
{
	width: 740px;
	height: 410px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -370px;
	margin-top: -205px;
	background: white;
}
.qing-welcome-progress-img
{
	display:block;
	margin:16px auto 0px auto;
	height: 10px;
}
.qing-welcome-progress-text
{
	display: block;
	margin: 14px auto 0px auto;	
	height: 26px;
	line-height: 26px;
}
.qing-welcome-big-img
{
	display:block;
	width: 200px;
	height: 189px;
	background-size: contain;
	margin: 0 auto;
}
.qing-welcome-error-text
{
	display:block;
	font-size: 20px;
	line-height: 26px;
}
.qing-welcome-error-btn
{
	display: inline-block;
	margin-top: 10px;
	margin-left:5px;
	margin-right:5px;
	height: 32px;
	width: 150px;
	border: 1px solid #BBBBBB;
	border-radius: 2px;
	cursor: pointer;
	line-height: 32px;
}

.qing-welcome-iknow-btn
{
	display: inline-block;
	margin-top: 16px;
	height: 33px;
	font-size: 16px;
	width: 135px;
	border: 1px solid #BBBBBB;
	border-radius: 2px;
	cursor: pointer;
	line-height: 32px;
}

.qing-welcome-error-logdetail-container
{
	position: fixed;
	width: 800px;
	height: 550px;
	z-index: 999999;
	background: #fff;
	border-radius: 6px;
	box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15);
	background-color: #fff;
	margin:0 auto;
  	left:50%;
  	top:50%;
  	margin-left:-400px;
  	margin-top:-275px
}

.qing-welcom-viewdetail-container
{
	position: fixed;
	width: 440px;
	height: 330px;
	z-index: 999999;
	background: #fff;
	border-radius: 6px;
	box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15);
	margin:0 auto;
	left:50%;
	top:45%;
	transform: translate(-50%,-50%);
}

.qing-welcome-error-logdetail-title-container
{
	position: absolute;
	padding-top: 17px;
    padding-left: 26px;
	height: 36px;
	width: 774px;
}

.qing-welcome-viewdetail-title-container
{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 17px;
	height: 24px;
	border-bottom: solid #d7e2e2 1.5px;
}

.qing-welcome-error-logdetail-titiletag
{
	background-color: #fdbf2c;
    border-radius: 50% 50%;
    margin-top: 6px;
    width: 6px;
    height: 6px;
    float: left;
}

.qing-welcome-error-logdetail-title-lable
{
	position: absolute;
	padding-left: 14px;
	font-size: 18px;
	color: #333;
}

.qing-welcome-viewdetail-title-lable
{
	display: inline;
	padding-left: 14px;
	font-size: 16px;
	color: black;
}

.qing-welcome-viewdetail-content
{
	font-size: 12px;
	color: #CBCBCB;
	height: 69%;
	width: auto;
	overflow-y: auto;
}

.qing-welcome-viewdetail-contenxt-text
{
	padding-left: 25px;
	line-height: 21px;
	color: #666;
}

.qing-welcome-viewdetail-contenxt-texttitle
{
	color: #666;
	margin-top: 0px;
	margin-bottom: -6px;
}

.qing-welcome-error-logdetail-close 
{
	display: inline;
	float: right;
    width: 18px;
    height: 18px;
    margin-right: 24px;
	cursor: pointer;
}

.qing-welcome-error-logdetail-content-container 
{
	position: absolute;
	overflow: auto;
	top: 36px;
	width: 784px;
	font-size: 12px;
	color: #363636;
    height: 490px;
    margin: 12px 8px;
    background-color: #f1f1f1;
    text-align: left;
}

.mobile-sa-welcome
{
	margin: 0px auto;
	margin-top: 44px;
    text-align: center;
	position: relative;
	overflow:hidden;
}

.mobile-guide-img 
{
	width: 200px;
    height: 189px;
    background-size: contain;
    margin: 0 auto;
}
.mobile-progress-background
{
    margin:20px auto 0px auto;
    height: 10px;
    background-color: #DEEAF2;
    border-radius: 10px;
}
.mobile-progress-color
{
	width: 0px;
	height: 10px;
	border-radius: 10px;
	box-shadow: 0 2px 4px 0 rgba(51,141,247,0.29);
	background-color:  #789EFB;
}
.mobile-progress-text
{
	display: block;
	margin: 25px auto 0px auto;
	font: 14px PingFangSC-Regular;
	color: #999999;
	text-align: center;
	line-height: 26px;
}

.mobile-error-center-box
{
	position:relative;
	z-index: -1;
}

.mobile-error-sorry-img 
{
	background-repeat: no-repeat;
	background-size: contain;
    margin: 0px auto;
	height: 60%;
	width: 60%;
	background-position: center bottom !important;
}

.mobile-errorprompt-error-btn
{
    border: 1px solid #BBBBBB;
    border-radius: 2px;
    cursor: pointer;
    margin: 0px auto;
    color: #ccc;
    font-size: 12px;
    width: 73px;
}

.mobile-error-msg
{
    margin: 0px auto;
}

.mobile-error-msg-text
{
    font-family: PingFangSC-Regular;
    font-size: 15px;
    color: #999999;
    letter-spacing: 0;
    text-align: center;
	margin: -12px 8px -17px 8px;
	line-height: 18px;
}

.mobile-error-msg-showerror
{
	height: 20px;
    line-height: 20px;
    width: 300px;
    opacity: 1;
    font-family: MicrosoftYaHei;
    font-size: 16px;
    color: #5E80EB;
    letter-spacing: 0;
    cursor: pointer;
    text-align: center;
    margin: 15px auto 0px auto;
}

.mobile-error-btns
{
	margin: 22px auto 0px auto;
	height: 36px;
	width: 264px;
	font-size: 14px;
}

.mobile-error-btns-btn
{
	display: inline-block;
	height: 28px;
	width: 100px;
	border: 1px solid #BAC9DC;
	border-radius: 23px;
	text-align: center;
	cursor: pointer;
	line-height: 28px;
	margin-left: 20px;
}

.mobile-error-iframe-container
{
	border: 0px;
	width: 100%;
	height: 100%;
	z-index: 99999;
	position: absolute;
	background: white;
	left: 0px;
    top: 0px;
}

.mobile-error-iframe
{
	border: 0px;
	width: 100%;
	height: 95%;
}

.mobile-error-iframe-close
{
    height: 18px;
    width: 18px;
    margin-top: 4px;
    margin-bottom: 3px;
    margin-right: 10px;
    float: right;
}

.mobile-error-message-info
{
	position: absolute;
	font-size: 12px;
	color: #666;
	line-height: 18px;
	resize: none;
	white-space: pre-wrap;
	border-width: 0;
	padding: 2px 0px;
	background-color: #fff;
	outline: none ;
	width: 100%;
	height: 100%;
}

.mobile-error-try-msg
{
	height: 16px;
	width: 264px;
	font-family: MicrosoftYaHei;
	font-size: 12px;
	color: #999999;
	letter-spacing: 0;
    position: absolute;
    bottom: 60px;
    text-align: center;
}

.mobile-lapp-loading-img-iframe
{
	position: absolute;
  	left: 50%;
  	top: 55%;
  	width: 50px;
  	height: 50px;
  	margin-left: -25px;
  	margin-top: -25px;
  	background-size: contain;
  	z-index: 99999
}

.mobile-lapp-loading-text-iframe
{
	position: absolute;
    left: 50%;
    top: 58%;
    width: 100%;
    font: 14px PingFangSC-Regular;
    text-align: center;
    line-height: 26px;
    margin: 10px auto 0px auto;
    z-index: 99999;
}

.card-sa-welcome
{
	position: absolute;
    text-align: center;
	overflow:hidden;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.sa-qing-card-error-message
{
	position: relative;
	font-size: 16px;
	font-family: "Microsoft YaHei",PingFangSC-Regular,"Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;
	color: #ccc;
}

.sa-ctrl-common-modallayer 
{
	z-index: 999999;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.2);
}

.sa-qing-datainfo
{
	position: absolute;
	width: 16px;
	height: 16px;
	top: 15px;
	right: 12px;
	z-index: 999
}

.card-prepare-loading-modallayer
{
	background-color: rgba(255,255,255,0.4);
}
.card-prepare-loading-icon
{
	border-radius: 10px;
	background-color: rgba(255,255,255,0.9);
	background-repeat: no-repeat;
	background-position: center center;
}
.card-prepare-loading-text
{
	text-align: center;
	font-size: 12px;
}
.card-prepare-loading-title
{
	position: relative;
	font-size: 14px;
	height: 20px;
	width: 60%;
	line-height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: default;
	white-space: nowrap;
	display: inline-block;
	font-family: "Microsoft YaHei",PingFangSC-Regular,"Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;
}

.qing-noceode-card-prepare-title
{
	position: relative;
	font-family: PingFangSC-Medium;
	font-size: 14px;
	top: 12px;
	color: #212121;
	letter-spacing: 0;
	width: 60%;
	height: 20px;
	line-height: 20px;
	left: 16px;
	font-weight: 500;
	display: inline-block;
	cursor: default;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
    height: 50px;
    width: 50px;
	margin-top: -25px;
	margin-left: -25px;

}
.object{
	width: 15px;
	height: 15px;
	background-color: #FFF;
	margin-right: 10px;
	float: left;
	margin-bottom: 10px;
	-moz-border-radius: 50% 50% 50% 50%;
	-webkit-border-radius: 50% 50% 50% 50%;
	border-radius: 50% 50% 50% 50%;
	}
.object:nth-child(2n+0) {
	margin-right: 0px;
}


#object_one {
	background-color: #2386ee;
	-webkit-animation: animate 1s -0.9s ease-in-out infinite ;
	animation: animate 1s -0.9s ease-in-out infinite ;
	}
#object_two {
	background-color: #00ccfe;
    -webkit-animation: animate 1s -0.8s ease-in-out infinite ;
	animation: animate 1s -0.8s ease-in-out infinite ;
	}
#object_three {
	background-color: #05c8c8;
    -webkit-animation: animate 1s -0.7s ease-in-out infinite ;
	animation: animate 1s -0.7s ease-in-out infinite ;
	}
#object_four {
	background-color: #a06eff;
    -webkit-animation: animate 1s -0.6s ease-in-out infinite ;
	animation: animate 1s -0.6s ease-in-out infinite ;
	}

@-webkit-keyframes animate {
  50% {
	-ms-transform: scale(1.5,1.5); 
   	-webkit-transform: scale(1.5,1.5); 
    transform: scale(1.5,1.5); 
	  }
 
  100% {
	-ms-transform: scale(1,1); 
   	-webkit-transform: scale(1,1); 
    transform: scale(1,1); 
	  }
}

@keyframes animate {
  50% {
		-ms-transform: scale(1.5,1.5); 
	   	-webkit-transform: scale(1.5,1.5); 
	    transform: scale(1.5,1.5); 
	  }
 
  100% {
	-ms-transform: scale(1,1); 
   	-webkit-transform: scale(1,1); 
    transform: scale(1,1); 
	  }
}