<div class="itemsFloatingPanel extend">
  <div class="floatingPanel-head">
    <div class="floatingPanel-title"><%= title %></div>
    <div class="floatingPanel-extend">
      <div class="floatingPanel-extendIcon"></div>
    </div>
  </div>
  <div class="floatingPanel-search">
    <input class="floatingPanel-searchInput" />
    <i class="floatingPanel-searchIcon"></i>
  </div>
  <div class="floatingPanel-list-content">
    <div class="floatingPanel-list">
      <% for(var i=0;i < listItem.length;i++){ %>
        <div class="floatingPanel-list-item" title="<%= listItem[i] %>"><%= listItem[i] %></div>
      <% } %>
    </div>
  </div>

</div>