.pagination {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  color: #828282;
}

.pagination_num {
  display: inline-flex;
  flex-direction: row;
  color: #999;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
  padding: 0;
  font-size: 12px;
}

.pagination_num_value {
  border-radius: 2px;
  height: 24px;
  display: flex;
  flex-shrink: 1;
  flex-grow: 0;
  width: 30px;
  text-align: center;
  border: 1px solid #ccc;
  outline: none;
  margin: 0 2px;
  color: #5b6373;
}

.pagination_left_enddiv,
.pagination_leftdiv,
.pagination_rightdiv,
.pagination_right_enddiv {
  display: flex;
  border-radius: 2px;
  margin: 0 10px 0 0;
  padding: 0;
  width: 24px;
  height: 24px;
  background: #fff;
  border: 1px solid #cccccc;
  cursor: default;
}

.button_disabled {
  border: 1px solid #e2e2e2;
}
.button_disabled div:first-child::before,
.button_disabled div:first-child::after{
  background: #e2e2e2;
}
.button_disabled div:first-child div{
  background: #e2e2e2;
}

.pagination_left_end,
.pagination_left,
.pagination_right,
.pagination_right_end {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: default;
}
.pagination_left_end::before,
.pagination_left_end::after{
  content: "";
  left: 13px;
  width: 1px;
  height: 9px;
  position: absolute;
  background: #828282;
}
.pagination_left_end::before{
  top: 3px;
  transform: rotate(45deg)
}
.pagination_left_end::after{
  bottom: 3px;
  transform: rotate(-45deg)
}
.left_endline{
  position: absolute;
  top: 4px;
  left: 7px;
  width: 1px;
  height: 14px;
  background: #828282;
}
.pagination_left::before,
.pagination_left::after{
  content: "";
  left: 10px;
  width: 1px;
  height: 9px;
  position: absolute;
  background: #828282;
}
.pagination_left::before{
  top: 3px;
  transform: rotate(45deg)
}
.pagination_left::after{
  bottom: 3px;
  transform: rotate(-45deg)
}
.pagination_right::before,
.pagination_right::after{
  content: "";
  left: 10px;
  width: 1px;
  height: 9px;
  position: absolute;
  background: #828282;
}
.pagination_right::before{
  top: 3px;
  transform: rotate(-45deg)
}
.pagination_right::after{
  bottom: 3px;
  transform: rotate(45deg)
}
.pagination_right_end::before,
.pagination_right_end::after{
  content: "";
  right: 13px;
  width: 1px;
  height: 9px;
  position: absolute;
  background: #828282;
}
.pagination_right_end::before{
  top: 3px;
  transform: rotate(-45deg)
}
.pagination_right_end::after{
  bottom: 3px;
  transform: rotate(45deg)
}
.right_endline{
  position: absolute;
  top: 4px;
  right: 7px;
  width: 1px;
  height: 14px;
  background: #828282;
}

.pagination_pagediv {
  display: flex;
  flex-direction: row;
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 2px;
  height: 24px;
  width: 93px;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: default;
  outline: 0;
  background-color: #fff;
  margin: 0;
  color: #828282;
  font-size: 12px;
}

.pagination_page {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin: 0;
  padding: 0;
  text-align: center;
  cursor: default;
  color: #828282;
  font-size: 12px;
  overflow: hidden;
}

.pagination_page_value {
  flex-shrink: 1;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  margin: 0 auto;
  padding: 0;
  cursor: pointer;
  line-height: 30px;
}

.pagination_page_down {
  flex-shrink: 0;
  flex-grow: 0;
  position: relative;
  width: 18px;
  height: 18px;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-out;
}
.pagination_page_down::before,
.pagination_page_down::after{
  content: "";
  width: 9px;
  height: 1px;
  position: absolute;
  background: #838383;
  top: 50%;
}
.pagination_page_down::before{
  left: 2px;
  transform: rotate(45deg);
}
.pagination_page_down::after{
  right: 1px;
  transform: rotate(-45deg);
}
.rotate {
  transition: all 0.3s ease-out;
  transform: rotate(180deg);
}

.pagination_page_dropdown_list {
  display: flex;
  align-items: center;
  position: absolute;
  top: 18px;
  margin: 6px 0 0 0;
  padding: 0;
  min-width: 93px;
  height: 123px;
  color: #828282;
  z-index: 2;
  font-size: 12px;
}

.pagination_page_dropdown_list_ul {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  background-color: #fff;
  list-style-type: none;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .2);
  color: #666;
  overflow-y: auto;
  text-align: center;
  cursor: default;
  font-size: 12px;
}

.pagination_page_dropdown_list_li {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0;
  height: 30px;
  line-height: 30px;
  border-top: 1px solid #e2e2e2;
  list-style-type: none;
  color: #666;
  font-size: 12px;
}