.container_Sij0L {
  background-color: #fff;
  width: 20px;
  height: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container_Sij0L .staff_file_hr6VV {
  width: 13px;
  max-height: 16px;
}

.odcmb-tooltips {
  padding: 0 8px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  z-index: 1051;
}
.odcmb-tooltips.hidden {
  z-index: -1051;
}
.odcmb-tooltips::after {
  background: rgba(0, 0, 0, 0.75) !important;
}
.odcmb-tooltips::before {
  border-color: rgba(0, 0, 0, 0.75) !important;
  background: rgba(0, 0, 0, 0.75) !important;
}

