._3RkpJBXi6oO75TQ5HDy8lM {
  height: 100%;
  background: #FFFFFF;
  padding: 12px 0px 0px 20px;
}
._3RkpJBXi6oO75TQ5HDy8lM ._1GCfrVjYmNmPz90V80Gf3M ._2ru9gczyaIe0mlZtvMJ53W {
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #212121;
  letter-spacing: 0;
  text-align: justify;
  font-weight: 400;
}
._3RkpJBXi6oO75TQ5HDy8lM ._1GCfrVjYmNmPz90V80Gf3M .qclJWLEGdmBOr5bWSf87n {
  padding: 8px 0px;
  display: flex;
  flex-wrap: wrap;
}
._3RkpJBXi6oO75TQ5HDy8lM ._1GCfrVjYmNmPz90V80Gf3M .qclJWLEGdmBOr5bWSf87n ._9xQufDKye1FXq8KhnRHNo {
  width: 300px;
  height: 120px;
  background: rgba(85, 130, 243, 0.12);
  border-radius: 4px;
  padding: 12px;
  margin-right: 16px;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
  margin-bottom: 12px;
}
._3RkpJBXi6oO75TQ5HDy8lM ._1GCfrVjYmNmPz90V80Gf3M .qclJWLEGdmBOr5bWSf87n ._9xQufDKye1FXq8KhnRHNo ._2CTFURGx_2MOt4y6o78O9n {
  position: absolute;
  top: 15px;
  left: 0;
  background: var(--theme-color);
  border-radius: 2px;
  width: 4px;
  height: 12px;
}
._3RkpJBXi6oO75TQ5HDy8lM ._1GCfrVjYmNmPz90V80Gf3M .qclJWLEGdmBOr5bWSf87n ._9xQufDKye1FXq8KhnRHNo ._16hdLvWrcxi1EDjINnHgeX {
  font-family: MicrosoftYaHeiSemibold;
  font-size: 14px;
  color: #212121;
  letter-spacing: 0;
  line-height: 18px;
  height: 18px;
  font-weight: 600;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
._3RkpJBXi6oO75TQ5HDy8lM ._1GCfrVjYmNmPz90V80Gf3M .qclJWLEGdmBOr5bWSf87n ._9xQufDKye1FXq8KhnRHNo .xGil2qqDS1g_71BduTS5 {
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #999999;
  letter-spacing: 0;
  font-weight: 400;
  display: flex;
  margin-top: 12px;
}
._3RkpJBXi6oO75TQ5HDy8lM ._1GCfrVjYmNmPz90V80Gf3M .qclJWLEGdmBOr5bWSf87n ._9xQufDKye1FXq8KhnRHNo .xGil2qqDS1g_71BduTS5 ._1pELYqFcaTvnNtvHDwD6p_ {
  font-family: MicrosoftYaHei;
  font-size: 12px;
  color: var(--theme-color);
  letter-spacing: 0;
  text-align: justify;
  font-weight: 400;
  text-decoration: none;
  margin-left: 4px;
}
._3RkpJBXi6oO75TQ5HDy8lM ._1GCfrVjYmNmPz90V80Gf3M .qclJWLEGdmBOr5bWSf87n ._9xQufDKye1FXq8KhnRHNo ._2nCpV22QCrnHxEv_uJaYi7 {
  margin-left: 40px;
}
._3RkpJBXi6oO75TQ5HDy8lM ._1GCfrVjYmNmPz90V80Gf3M .qclJWLEGdmBOr5bWSf87n ._9xQufDKye1FXq8KhnRHNo ._3mZXmOzSFELiEA450G8nXe {
  height: 30px;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-family: MicrosoftYaHei;
  font-size: 12px;
  color: #666666;
  letter-spacing: 0;
  text-align: justify;
  font-weight: 400;
  margin-top: 12px;
}
._3RkpJBXi6oO75TQ5HDy8lM ._1GCfrVjYmNmPz90V80Gf3M .qclJWLEGdmBOr5bWSf87n ._9xQufDKye1FXq8KhnRHNo:hover {
  border: 1px solid var(--theme-color);
}
._3RkpJBXi6oO75TQ5HDy8lM ._1GCfrVjYmNmPz90V80Gf3M .qclJWLEGdmBOr5bWSf87n ._9xQufDKye1FXq8KhnRHNo:hover ._16hdLvWrcxi1EDjINnHgeX {
  color: var(--theme-color);
}
