.filt-container {
  width: 100%;
  background: #e2e7ef;
}
.org-btn-bar {
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #fff;
}
.filt-wrapper {
  width: 100%;
  padding: 10px 10px 0 10px;
  background-color: #e2e7ef;
}
.filt-wrapper .filt-bar {
  height: 50px;
  padding: 0 24px 0 10px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
}
.filt-wrapper .filt-board {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  transition: all 0.3s;
  background: #fafafa;
  border-bottom: 1px solid #d9d9d9;
  border-radius: 2px;
}
.filt-wrapper .filt-board .filt-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 8px;
  padding-left: 12px;
}
.filt-wrapper .filt-board .scheme-edit {
  width: 100%;
  border-top: 1px solid #ccc;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 12px;
}
.filt-wrapper .filt-board .scheme-edit .form-group {
  margin-bottom: 0;
}
.filt-wrapper .filt-bar .kd-select-bordered .kd-select-suffix {
  right: 0 !important;
}
.form-group {
  width: 350px;
  height: 50px;
  margin: 0 20px 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.form-group .title {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #666;
  padding-right: 10px;
}
.form-group .title .txt {
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.form-group .title .icon {
  font-size: 16px;
  color: #666;
  margin-left: 3px;
}
.form-group .title.required {
  position: relative;
}
.form-group .title.required:after {
  content: "*";
  color: #f00;
}
.form-group .info {
  width: 218px;
  height: 30px;
  display: flex;
  align-items: center;
}
.form-group .inp-icon {
  cursor: pointer;
}
.form-group .inp-icon:hover {
  color: var(--theme-color-level5);
}
.form-btn-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: self-end;
  margin: 0 20px 0 0;
  flex: 1;
  height: 50px;
}
.form-group .kd-input-wrapper .kd-input,
.form-group .kd-select-wrapper {
  padding-left: 5px !important;
  color: #212121;
}
.form-group .kd-select-bordered .kd-select-suffix {
  right: 0 !important;
}
.form-group .kd-date-picker-input input {
  color: #212121 !important;
}
.form-group input:disabled {
  background-color: #fafafa !important;
  color: #666 !important;
  border-color: #e5e5e5 !important;
}
.i-collapse-board-btn.kd-btn-text {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--theme-color);
}
.i-collapse-board-btn.kd-btn-text .icon {
  margin-left: 5px;
}
.i-drop-btn .kd-btn-primary {
  background: #fff;
  color: var(--theme-color);
  border-color: var(--theme-color);
}
.i-drop-btn .kd-btn-primary:hover:not(.kd-btn-loading) {
  background: #fff;
  color: var(--theme-color-level5);
  border-color: var(--theme-color-level5);
}
.i-drop-btn .kd-btn-group-trigger .kd-btn-primary {
  background: #fff;
  color: var(--theme-color);
  border: 1px solid var(--theme-color) !important;
}
.i-drop-btn .kd-btn-group-trigger .kd-btn-primary.kd-btn-icon-only {
  border-left: none;
}
.i-drop-btn .kd-btn-group-trigger .kd-btn-primary:hover:not(.kd-btn-loading) {
  background: #fff;
  color: var(--theme-color-level5);
  border: 1px solid var(--theme-color-level5) !important;
}
.compose-btn.kd-btn-ghost {
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: #d9d9d9;
  color: #666;
}
.kd-select-wrapper.kd-select-multiple {
  height: 30px;
  overflow: hidden;
  flex-wrap: nowrap;
}
.kd-select-wrapper.kd-select-multiple > span {
  flex-shrink: 0;
}
.kd-select-wrapper.kd-select-multiple .kd-tag-shape-edit::after {
  content: "\FF1B";
}
.kd-select-wrapper.kd-select-multiple .kd-tag-shape-edit {
  border: none;
  position: relative;
  margin: 0 0 0 0 !important;
  padding: 0;
  font-size: 14px;
}
.kd-select-wrapper.kd-select-multiple .kd-tag-shape-edit .kd-tag-closeWrapper {
  display: none;
  position: absolute;
  right: -8px;
  top: 0;
}
.kd-select-wrapper.kd-select-multiple .kd-tag-shape-edit:hover .kd-tag-closeWrapper {
  display: block;
}
.kd-select-wrapper.kd-select-multiple .kd-select-suffix {
  background-color: #fff;
  padding: 0 10px;
  right: 1px;
}
.kd-tag-shape-edit:not(.kd-tag-closable-disabled):hover .kd-tag-closeWrapper {
  background-color: #fff !important;
  color: var(--theme-color-level5) !important;
}
.kd-select-dropdown-search {
  display: none;
}
.filt-select .kd-select-single-text .kd-tag {
  display: none;
}
.kd-btn-group-trigger .kd-btn-primary::before {
  background-color: unset !important;
}
.filt-select.not-curr .kd-select-single-text:after {
  content: "*";
}
.kd-select.bottomLeft.bottomLeft-active {
  z-index: 1049 !important;
}
.kd-btn-ghost {
  border-color: var(--theme-color);
  background-color: transparent;
  color: var(--theme-color);
}
.kd-btn-ghost:hover:not(.kd-btn-loading) {
  background-color: var(--theme-color) !important;
  color: #fff;
}
.i-ellipsis-inp input {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.i-date-style .kdicon.kdicon-date {
  color: #212121;
}
