/*!****************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/controls/swcbankcardpc/components/bankCardList.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************/
.bank-list {
  background: transparent;
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 6px 12px;
  border-radius: 4px;
}
.bank-list .bank-list-head {
  display: flex;
  height: 20px;
  align-items: center;
  margin-bottom: 12px;
}
.bank-list .head-prefix {
  width: 4px;
  height: 12px;
  background-color: #276ff5;
  margin-right: 8px;
}
.bank-list .head-title {
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
  font-weight: 600;
}
.bank-list .bankCard-panel {
  display: flex;
  flex-wrap: wrap;
}
.bank-list .bankCard-item {
  display: flex;
  width: 327px;
  height: 150px;
  background-size: cover;
  padding: 16px;
  box-sizing: border-box;
  margin-bottom: 12px;
  margin-right: 20px;
}
.bank-list .bankCard-item .img-logo {
  margin-right: 8px;
}
.bank-list .bankCard-item:last-child {
  margin-bottom: 0;
}
.bank-list .bank-color {
  color: #053f52;
}
.bank-list .cash-color {
  color: #472f04;
}
.bank-list .bank-bg {
  background-image: url(../swcbankcardpc/bankbg.png);
}
.bank-list .cash-bg {
  background-image: url(../swcbankcardpc/cashbg.png);
}
.bank-list .icon-img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}
.bank-list .bankCard-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.bank-list .bankCard-content {
  display: flex;
  flex-direction: column;
}
.bank-list .bank-title {
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 4px;
  height: 28px;
  display: flex;
  align-items: center;
}
.bank-list .card-number {
  opacity: 0.8;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  font-weight: 400;
}
.bank-list .person-info {
  display: flex;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 16px;
  opacity: 0.8;
  flex: 1;
}
.bank-list .pay {
  font-size: 22px;
  letter-spacing: 0;
  line-height: 22px;
  font-weight: 500;
  margin-bottom: 8px;
}
.bank-list .mark {
  height: 28px;
  display: flex;
  align-items: center;
}

.ant-tooltip-arrow-content {
  --antd-arrow-background-color: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.65),
    rgba(255, 255, 255, 0.75)
  );
}

.ant-tooltip-inner {
  color: rgba(0, 0, 0, 0.85);
  background-color: rgba(255, 255, 255, 0.75);
}
