body
{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-overflow-scrolling: touch;
    background-color: #fff;
}

.lapp-head-bar
{
	position: absolute;
	top: 0;
	width: 100%;
	height: 44px;
	background-color: #fff;
}

.lapp-head-triangle-container
{
	float: left;
    width: 37px;
    height: 46px;
}

.lapp-head-triangle
{
    float: left;
    width: 20px;
    height: 20px;
    margin-top: 13px;
    margin-left: 9px;
    background-repeat: no-repeat;
}

.lapp-head-title
{
	position: absolute;
	left: 44px;
	right: 44px;
	height: 44px;
	line-height: 44px;
	font-size: 18px;
	color: #000;
	letter-spacing: -0.36px;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
}
.lapp-head-title-text
{
	position: relative;
	left: 0px;
    right: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
	max-width: calc(100% - 42px);
}

.lapp-head-title-after-icon
{
    position: unset;
    margin: 14px 0px;
    left: 0px;
    display: inline-block;
}

.lapp-head-rightbtn
{
	float: right;
	min-width: 44px;
	height: 44px;
	line-height: 44px;
   	margin-right: 15px;
	font-size: 12px;
	color: #333;
	letter-spacing: -0.36px;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
	text-overflow: ellipsis;
}

.lapp-head-righticon-container
{
	float: right;
	width: 44px;
	height: 44px;
}

.lapp-head-righticon
{
	float: right;
	width: 18px;
	height: 18px;
	margin: 13px 13px;
	background-repeat: no-repeat;
}

.lapp-head-right-icontext
{
    position: relative;
    float: right;
    width: 60px;
    height: 44px;
}

.lapp-secondary-menubar
{
	position: absolute;
	margin: 0;
	width: 100%;
	top: 0;
	height: 44px;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	justify-content: flex-end;
	z-index: 2;
}

.lapp-texticonbtn-button
{
	width: 25%;
    height: 44px;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
}

.lapp-texticonbtn-wrapper
{
	display: -webkit-flex;
	display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.lapp-texticonbtn-border
{
	margin-right: -1px;
	height: 24px;
	border-right: 1px solid #D5DAE6;
}

.lapp-texticonbtn-icon
{
	width: 16px;
    height: 16px;
    margin-right: 5px;
    background-repeat: no-repeat;
}
.lapp-texticonbtn-text
{
	font-family: PingFangSC-Regular;
	height: 16px;
	line-height: 16px;
	font-size: 16px;
	color: #777777;
	letter-spacing: -0.36px;
}

.lapp-modallayer
{
	position: absolute;
	top: 44px;
	bottom: 0;
	left: 0;
	right: 0;
}

.lapp-content
{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.lapp-exhibition
{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.15);
	background-color: #E9ECF1;
}

.lapp-filter-modallayer
{
	z-index: 999999;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.5);
}

.lapp-filter-container
{
    position: absolute;
    right: 0;
    width: 100%;
    top: 0;
    bottom: 120px;
    background-color: white;
    /*box-shadow: inset 0 1px 0 1px #D5DAE6;*/
    border-top: 1px solid #D5DAE6;
    border-bottom: 1px solid #D5DAE6;
    overflow-x: hidden;
}

.lapp-filter-container-searchBar
{
    width: 100%;
    right: 0px;
    height: 44px;
    position: absolute;
    border-bottom: 1px solid #F4F4F4;
}

.lapp-search-input-container
{
	flex-grow: 1;
	left: 5%;
	right: 5%;
	bottom: 7px;
    top: 7px;
   	width: 90%;
	height: 30px;
	background-color: #f0f4f7;
	border-radius: 40px;
	display: -webkit-flex;
	align-items: center;
	flex-flow: row nowrap;
	justify-content: center;
	position: absolute;
}

.lapp-search-icon
{
	margin-left: 10px;
	width: 15px;
	height: 15px;
    background-repeat: no-repeat;
}

.lapp-search-text
{
	margin-left: 8px;
	width: 50px;
	height: 15px;
	font-size: 13px;
	color: #bbb;
	line-height: 15px;
}

.lapp-search-input
{
	height: 30px;
	width: 60px;
	flex: 1;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #f0f4f7;
	top: 0;
	bottom: 0;
	border: 0;
	padding: 0;
	outline: none;
}

.lapp-search-close
{
	width: 18px;
	height: 18px;
	color: #fff;
	margin-right: 10px;
	background-color: #BCBCBC;
	line-height: 18px;
	text-align: center;
	border-radius: 9px;
	cursor: pointer;
	font-size: 16px;
}

.lapp-filter-container-left
{
	position: absolute;
	left: 0;
	top: 0px;
	width: 30%;
	height: 100%;
	background-color: #F4F4F4;
	overflow-x: hidden;
}

.lapp-filter-container-right
{
	position: absolute;
	right: 0;
	width: 70%;
	top: 0px;
	bottom: 0px;
	background-color: white;
	overflow-x: hidden;
}

.lapp-filter-head
{
	width: 100%;
	height: 44px;
	display: -webkit-flex;
	flex-flow: row nowrap;
	color: #3F3F3F;
}

.lapp-filter-triangle
{
    width: 10px;
    height: 10px;
    margin-left: 17px;
    margin-right: 17px;
    margin-top: 12px;
    border-top: 1px solid #535353;
    border-right: 1px solid #535353;
    transform: rotate(135deg);
}

.sa-triangle-right
{
	margin-top: 15px;
    transform: rotate(45deg);
}

.lapp-filter-title
{
	flex-grow: 1;
    width: 1px;
    height: 44px;
    line-height: 44px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    letter-spacing: -0.41px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0 10px 0 16px;
}

.lapp-filter-text-selected
{
	color: #349CF4;
	background-color: white;
}

.lapp-filter-head-circle
{
	position: absolute;
	left: 5px;
	height: 6px;
	width: 6px;
	border-radius: 50%;
	background-color: #2B87F3;
	z-index: 1;
	margin-top: 20px;
}

.lapp-filter-content
{
    overflow: auto;
    position: absolute;
    width: 100%;
    height: 100%;
}

.lapp-filtercard-pane
{
	position: absolute;
    overflow: hidden;
    left: 5%;
    top: 45px;
    bottom: 0px;
    right: 5%;
    z-index: 1;
}

.lapp-filtercard-discreteitem
{
	position: absolute;
	left: 0;
	right: 0;
}

.lapp-filtercard-nochoice
{
	position: absolute;
	top: 45px;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	color: #bbb;
	font-size: 12px;
	line-height: 44px;
	text-align: center;
	white-space: pre-wrap;
}

.lapp-about-content
{
	font-size: 15px;
    color: #555555;
    word-break: break-all;
    margin: 4px 0px;
}

.lapp-checkbox
{
	overflow: hidden;
	height: 25px;
	cursor: default;
}

.lapp-checkbox-icon
{
	position: absolute;
	left: 0;
	top: 4px;
	width: 20px;
	height: 20px;
	background-size: contain;
	background-repeat: no-repeat;
}

.lapp-checkbox-text
{
	text-align: left;
	position: absolute;
	left: 36px;
	right: 0;
	top: 0;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	color: #3F3F3F;
	letter-spacing: -0.34px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.lapp-checkbar
{
	overflow: hidden;
	cursor: default;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #F4F4F4;
	color: #3F3F3F;
}

.lapp-checkbar-icon
{
	position: absolute;
	top: 13px;
	right: 10px;
	width: 20px;
	height: 20px;
	background-size: contain;
	background-repeat: no-repeat;
}

.lapp-checkbar-text
{
	height: 44px;
	line-height: 44px;
	font-size: 14px;
	letter-spacing: -0.34px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-left: 5px;
	margin-right: 40px;
}

.lapp-dateselectbar-content
{
    position: absolute;
	width: 100%;
    height: 34px;
    line-height: 34px;
    top: 44px;
}

.lapp-dateselectbar-space
{
	display: inline-block;
	color: #666666;
	width: 10%;
	height: 100%;
	line-height: 34px;
    text-align: center;
    overflow: hidden;
    vertical-align: top;
}

.lapp-dateselectbox
{
    display: inline-block;
	background-color: rgba(52, 140, 244, 0.15);
	color: rgba(52, 140, 244, 1);
	width: 100%;
	height: 100%;
    text-align: center;
    overflow: hidden;
    border-radius: 5px;
    letter-spacing: -0.34px;
	white-space: nowrap;
	text-overflow: ellipsis; 
}

.lapp-dateselectbox-label
{
	position: absolute;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.lapp-datesliderselector
{
	position: absolute;
	bottom: 0;
	overflow: hidden;
	width: 100%;
	background-color: white;
	cursor: default;
}

.lapp-datesliderselector-head
{
	height: 44px;
	width: 100%;
	background-color: #F6F8F9;
}

.lapp-datesliderselector-head-ok
{
	position: absolute;
	right: 15px;
	top: 0;
	height: 44px;
	line-height: 44px;
	font-family: MicrosoftYaHei;
	font-size: 15px;
	color: #2B87F3;
	letter-spacing: -0.34px;
	overflow: hidden;
	white-space: nowrap;
}

.lapp-datesliderselector-head-cancel
{
	position: absolute;
	left: 15px;
	top: 0;
	height: 44px;
	line-height: 44px;
	font-family: MicrosoftYaHei;
	font-size: 15px;
	color: #1D1D1D;
	letter-spacing: -0.34px;
	overflow: hidden;
	white-space: nowrap;
}

.lapp-datesliderselector-label
{
	font-size: 14px;
	height: 24px;
	line-height: 24px;
	text-align: center;
}

.lapp-datesliderselector-content
{
	position: relative;
	height: 220px;
	width: 100%;
	overflow: hidden;
}

.lapp-datesliderselector-slider
{
	position: relative;
	display: inline-block;
	width: 33%;
	height: 100%;
	text-align: center;
	box-sizing: border-box;
}

.lapp-datesliderselector-slider::-webkit-scrollbar
{
	display: none;
}

.lapp-datesliderselector-slider-panel
{
	position: absolute;
	top: 0;
	width: 100%;
}

.lapp-datesliderselector-slider-item
{
	font-family: MicrosoftYaHei;
	font-size: 13px;
	color: #1D1D1D;
	letter-spacing: -0.34px;
	overflow: hidden;
	white-space: nowrap;
	opacity: 0.2;
	user-select: none;
}

.lapp-datesliderselector-item-selected-value
{
	position: relative;
	font-family: MicrosoftYaHei;
	font-size: 12px;
	color: #030303;
	display: inline-block;
	font-size: 19px;
}

.lapp-datesliderselector-item-selected-text
{
	position: relative;
	font-family: MicrosoftYaHei;
	font-size: 12px;
	color: #030303;
	top: -3px;
	left: 5px;
	display: inline-block;
	margin-top: 3px;
}

.lapp-daterange-tab-container
{
	position: absolute;
	width: 100%;
	height: 55px;
	border-bottom: 1px solid #c3c3c3;
}

.lapp-daterange-selector-lefttab
{
	float: left;
	width: 50%;
	height: 50px;
	text-align: center;
	padding-top: 7px;
	font-size: 12px;
	color: #a9a9a9;
}

.lapp-daterange-selector-righttab
{
	float: right;
	width: 50%;
	height: 50px;
	text-align: center;
	padding-top: 7px;
	font-size: 12px;
	color: #a9a9a9;
}

.lapp-daterange-selector-selected-tab
{
	color:#1D1D1D
}

.lapp-daterange-selector-tab-parting-line
{
	position: absolute;
	left: 50%;
	top: 5px;
	height: 44px;
	width: 1px;
	background-color: #c3c3c3;
}

.lapp-regionslider
{
	position: absolute;
	height: 70px;
	top: 15px;
	left: 5%;
	right: 5%;
}

.lapp-regionslider-canvas
{
	position: absolute;
	left: 0;
	top: 24px;
}

.lapp-regionslider-label
{
	position: absolute;
	top: 0;
	width: 45%;
	height: 20px;
	line-height: 20px;
	cursor: text;
}
.lapp-regionslider-label:hover
{
	border: 1px solid #ccc;
	line-height: 18px;
	padding-left: 2px;
	padding-right: 2px;
}

.lapp-regionslider-label-low
{
	left: 7px;
	text-align: left;
}

.lapp-regionslider-label-high
{
	right: 7px;
	text-align: right;
}

.lapp-regionslider-editor
{
	position: absolute;
    top: 1px;
    height: 20px;
    font-size: 12px;
    margin: 0;
    padding: 0;
    outline: none;
    background: #F0F5F7;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
}

.lapp-bottom-bar
{
	position: absolute;
    margin: 0;
    width: 100%;
    bottom: 70px;
    right: 0;
    height: 50px;
    background-color: #FFF;
    box-shadow: inset 0 1px 0 0 #D5DAE6;
    display: -webkit-flex;
    align-items: center;
    flex-flow: row nowrap;
}

.lapp-bottom-button
{
	flex-grow: 1;
	display: -webkit-flex;
	height: 100%;
	align-items: center;
	flex-flow: row nowrap;
	justify-content: center;
	font-family: PingFangSC-Regular;
	font-size: 15px;
	color: #777777;
	letter-spacing: -0.36px;
}

.lapp-bottom-bar-border
{
	height: 24px;
	border-right: 1px solid #D5DAE6;
}

.lapp-square-legend-bar
{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 42px;
    z-index: 1;
    background-color: #FFFFFF;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
}

.lapp-square-legend-head
{
	position: relative;
    float: left;
    top: 0;
    padding-left: 11px;
    padding-right: 11px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    letter-spacing: -0.36px;
    max-width: 85px;
    height: 100%;
    line-height: 42px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex-shrink: 0;
}

.lapp-square-legend-border
{
    position: relative;
    float: left;
    top: 4px;
    width: 1px;
    height: 33px;
    background-color: #E5E5E5;
    flex-shrink: 0;
}

.lapp-square-legend-wrap
{
    position: relative;
    float: left;
    margin-left: 12px;
	height: 42px;
	width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.lapp-square-legend-container
{
	height: 100%;
	overflow-x: auto;
	overflow-y: hidden;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
}

.lapp-square-legend-item
{
	height: 42px;
    padding-right: 24px;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
}

.lapp-square-legend-square
{
	width: 12px;
    height: 12px;
    margin: 15px 5px 15px 0px;
    border-radius: 12px;
}

.lapp-square-legend-text
{
	max-width: 300px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	height: 42px;
	line-height: 42px;
	font-size: 12px;
}

.lapp-legendcard
{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 42px;
	z-index: 1;
	background-color: #fafafa;
}

.lapp-legendcard-head
{
	width: 100%;
	height: 50px;
	background-color: #f6f6f6;
}

.lapp-legendcard-title
{
	float: left;
	margin-left: 14px;
	width: 30px;
	line-height: 50px;
	font-size: 15px;
	color: #777777;
	letter-spacing: -0.36px;
}

.lapp-legendcard-icon
{
    float: right;
    width: 18px;
    height: 15px;
    margin: 10px 7px 10px 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

.lapp-legend
{
	margin-left: 11px;	
    overflow-x: auto;
    overflow-y: hidden;
    float: left;
}

/** 页签 */
.lapp-tab-head-container
{
	position: relative;
	top: 0;
	width: 100%;
	height: 42px;
	line-height: 42px;
	font-family: PingFangSC-Regular;
	font-size: 12px;
	color: #999999;
	letter-spacing: -0.36px;
	background: #FAFAFA;
	box-shadow: inset 0 -1px 0 0 rgba(213,218,230,0.50);
}

.lapp-tab-head
{
	position: relative;
	float: left;
	top: 0;
	padding-left: 11px;
	padding-right: 11px;
	height: 42px;
    line-height: 42px;
}

.lapp-tab-head_selected
{
	color: #2B87F3;
}

.lapp-tab-border
{
    position: relative;
    float: left;
    top: 8px;
    width: 1px;
    height: 26px;
    background-color: #E5E5E5;

}

.lapp-tab-container
{
	position: absolute;
	left: 0;
	right: 0;
	top: 35px;
	bottom: 0;
}

.lapp-legend-item
{
	width: 82px;
	height: 12px;
	display: -webkit-inline-flex;
	display: inline-flex;
	padding-right: 5px;
}

.lapp-legend-square
{
	width: 12px;
	height: 12px;
	margin-right: 5px;
	display: inline-block;
	border-radius: 12px;
	align-items: center;
    justify-content: center;
}

.lapp-legend-text
{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 65px;
	height: 12px;
	line-height: 12px;
	display: inline-block;
	font-size: 12px;
	align-items: center;
    justify-content: center;
}

.lapp-error-prompt
{
    position: absolute;
    top: 30px;
    bottom: 2px;
    left: 40px;
    right: 2px;
    font-size: 14px;
    line-height: 24px;
    color: #999;
    overflow: hidden;
    white-space: pre-wrap;
}

.sa-ctrl-common-modallayer
 {
    z-index: 999999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.3);
}

.sa-ctrl-dialog 
{
    z-index: 999999;
    position: absolute;
    left: 0;
    top: 0;
    width: 480px;
    height: 360px;
    background: #fff;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15);
    border-radius: 2px;
}

.sa-ctrl-common-unselectable 
{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

.sa-ctrl-dialog-close 
{
    position: absolute;
    right: 11px;
    width: 20px;
    top: 10px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    color: #7f93bc;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

.sa-ctrl-dialog-toolbar 
{
    position: absolute;
    left: 0;
    right: 0;
    top: 39px;
    height: 31px;
    padding-left: 1px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.sa-ctrl-dialog-contentpane 
{
    position: absolute;
    left: 0;
    width: 100%;
    top: 71px;
    bottom: 0;
    overflow: hidden;
}

.sa-ctrl-dialog-padding 
{
    position: absolute;
    left: 16px;
    right: 16px;
    top: 16px;
    bottom: 6px;
    overflow: hidden;
}

.lapp-row-count
{
	position: absolute;
	left: 0px;
	top: 5px;
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	color: #3F3F3F;
	letter-spacing: -0.34px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.lapp-checkbox-add
{
	position: absolute;
    right: 0px;
    top: 5px;
    width: 125px;
    height: 25px;
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)
{
	.lapp-content
	{
		bottom: 34px;
	}
	
	.sa-ctrl-dialog-contentpane
	{
		bottom: 34px;
	}
}


/*  斗方开始 */
.lapp-square-exhibition-card_fullarea 
{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/* 斗方钻取 */
.lapp-square-exhibition-crumb-clickable
{
	cursor: pointer;
}
.lapp-square-exhibition-crumb-clickable:hover
{
	color: #5582f3;
}
.lapp-square-exhibition-crumb
{
	position: relative;
	color: #999;
}
.lapp-square-exhibition-crumb-scrolloperator:hover
{
	background-color: rgba(153,204,255,0.6);
	border-radius: 8px;
}

/* 覆盖loading 暂时方案*/
.sa-common-loading-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    margin-top: -25px;
    background: rgba(255,255,255,0);
    background-image: url(skin/ierp/res/loading.gif) !important;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.sa-common-loading-text {
    display: none;
}

.lapp-foot-bar
{
	display: -webkit-flex;
	display: flex;
	flex-wrap: nowrap;
	position: absolute;
	bottom: 0px;
	height: 47px;
	width: 100%;
	border-top: 1px solid #E5E5E5;
}

.lapp-foot-bar-praise-container
{
	position: absolute;
	width: 60px;
	height: 47px;
	left: 15px;
}

.lapp-foot-bar-praise-text
{
    position: absolute;
    width: 25px;
    height: 47px;
    left: 23px;
}

.lapp-foot-bar-comment-container
{
	position: absolute;
	width: 60px;
	height: 47px;
	left: 85px;
}

.lapp-foot-bar-comment-text
{
    position: absolute;
    width: 25px;
    height: 47px;
    left: 23px;
}

.lapp-foot-bar-right-side
{
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    height: 26px;
    top: 50%;
    right: 6px;
    margin-top: -13px;
    border-left: 1px solid #E5E5E5;
}

.right-side-praise-text
{
    margin: 4px;
}

.right-side-comment-text
{
	margin: 4px;
}

.comment-input-container
{
	position: absolute;
	bottom: 0;
	margin: 0;
	width: 100%;
	min-height: 40px;
	max-height: 120px;
	background-color: #fafafa;
	display: -webkit-flex;
	flex-flow: row nowrap;
	z-index: 9999;
}

.comment-div-input
{
	min-height: 20px;
	max-height: 100px;
	flex: 1;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #fcfcfc;
	border: 1px solid #ccc;
	padding: 3px;
	outline: 0;
	font-size: 15px;
	line-height: 20px;
	word-wrap: break-word;
	overflow-x: hidden;
	overflow-y: auto;
	user-select: auto;
	-webkit-user-select: auto;/*恢复手机浏览器的用户选择功能 */  
	-moz-user-select: auto;
}

.comment-div-input-placeholder::after
{
	content: attr(placeholder);
	color: #BBBBBB;
}

.comment-btn-send
{
	width: 50px;
	height: 26px;
	margin-right: 10px;
	margin-bottom: 10px;
	color: rgba(120,120,120,.3);
	background: #fff;
	border: 1px solid #ccc;
	text-align: center;
	outline: 0;
	font-size: 15px;
	line-height: 26px;
	align-self: flex-end;
	cursor: pointer;
}

.comment-btn-send-enable
{
	color: #fff;
	background: #ff8200;
	border: 1px solid #ff8200;
}

.reply-container
{
	position: absolute;
	width: 100%;
	background-color: #fff;
	bottom: 0px;
	z-index: 999;
	overflow: auto;
}

.reply-item-container
{
	width: 100%;
	height: 250px;
	margin-bottom: 48px;
	/*overflow-x: hidden;
	overflow-y: auto;*/
}

.comment-reply-item
{
	margin-left: 16px;
	margin-right: 16px;
	display: -webkit-flex;
	flex-flow: row wrap;
	border-top: 1px solid rgba(229,229,229,0.40);
}

.comment-author-head
{
	width: 40px;
	height: 40px;
	margin-left: 16px;
	margin-top: 16px;
	margin-bottom: 16px;
	border-radius: 20px;
	background-position: center;
	background-repeat: no-repeat;
    background-size: cover;
}

.comment-replyer-head
{
	margin-left: 0;
	margin-top: 12px;
	margin-bottom: 12px;
}

.comment-content-right
{
	flex-grow: 1;
	width: 30px;
	margin-left: 14px;
	margin-top: 16px;
	margin-right: 16px;
	flex-flow: column nowrap;
}

.comment-reply-right
{
	margin-top: 12px;
	margin-bottom: 12px;
	margin-right: 0;
}

.comment-head-time
{
	display: -webkit-flex;
	flex-flow: row nowrap;
}

.comment-author-name
{
	flex-grow: 1;
	height: 15px;
	font-family: PingFangSC-Regular;
	font-size: 13px;
	color: #2B87F3;
	letter-spacing: -0.31px;
	line-height: 15px;
}

.comment-publish-time
{
	width: 120px;
	height: 15px;
	font-family: PingFangSC-Regular;
	font-size: 13px;
	color: #999999;
	letter-spacing: 0;
	line-height: 15px;
	text-align: right;
}

.comment-reply-content
{
	margin-top: 12px;
	font-family: PingFangSC-Regular;
	font-size: 13px;
}

.comment-reply
{
	margin-right: 6px;
	color: #3F3F3F;
	letter-spacing: -0.31px;
	line-height: 13px;
}

.comment-recevier-name
{
	font-size: 13px;
	color: #2B87F3;
	letter-spacing: -0.27px;
	line-height: 13px;
}

.comment-reply-text
{
	color: #000000;
	letter-spacing: -0.27px;
	line-height: 15px;
}

.comment-delete-dialog-modallayer
{
	z-index: 999999;
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
}

.comment-delete-dialog
{
	position: fixed;
	display: none;
	background-color: #fff;
	bottom: 0;
	width: 100%;
	display: -webkit-flex;
	flex-flow: column nowrap;
}

.comment-delete-dialog-btn-delete
{
	width: 100%;
	height: 55px;
	color: #E95D5B;
	font-size: 15px;
	text-align: center;
	line-height: 55px;
}

.comment-delete-dialog-line
{
	width: 100%;
	height: 5px;
	background-color: #eee;
}

.comment-delete-dialog-btn-cancel
{
	width: 100%;
	height: 55px;
	color: #000;
	font-size: 15px;
	text-align: center;
	line-height: 55px;
}

.comment-ctrl-pullupscroller-loading
{
	bottom: 0px;
    height: 40px;
    padding: 10px 0;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}

.comment-ctrl-pullupscroller-loading-icon
{
    width: 40px;
    height: 40px;
    background-size: contain;
}

.comment-ctrl-pullupscroller-loading-text
{
	margin-left: 10px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #373737;
}

.comment-layer
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99999;
    background: rgba(0,0,0,0.5);
}

.praise-list
{
	margin-left: 16px;
	margin-right: 16px;
	display: -webkit-flex;
	flex-flow: row wrap;
	align-items: center;
	max-height: 100px;
	overflow: hidden;
}

.praise-name
{
	max-height: 90px;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 10px;
	white-space: pre-wrap;
	font-family: PingFangSC-Regular;
	font-size: 13px;
	color: #999999;
	letter-spacing: -0.31px;
	line-height: 18px;
	text-align: justify;
}

.lapp-ctrl-bottomselector
{
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: #fff;
	box-shadow: 0 2px 5px 0 rgba(222, 222, 222, 0.50);
	border-radius: 3px;
	max-height: 50%;
	cursor: default;
}

.lapp-ctrl-bottomselector-content
{
	position: absolute;
	top: 44px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow-y: auto;
}

.lapp-ctrl-bottomselector-border
{
	margin-left: 16px;
	margin-right: 16px;
	height: 1px;
	background-color: #F4F4F4;
}

.lapp-ctrl-combox-border
{
	position: absolute;
	height: 1px;
	left: 2px;
	right: 4px;
	bottom: 0px;
	background-color: #F4F4F4;
}

.lapp-ctrl-f7selector-border
{
	position: absolute;
	height: 1px;
	left: 4px;
	right: 4px;
	bottom: 0px;
	background-color: #F4F4F4;
}

.lapp-ctrl-bottomselector-searchbox
{
	position: relative;
	left: 0px;
	height: 44px;
	width: 100%;
	background-color: #FFFFFF;
}

.lapp-ctrl-no-search-result-prompt
{
	position: absolute;
	top: 45px;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	color: #bbb;
	font-size: 12px;
	line-height: 44px;
	text-align: center;
	white-space: pre-wrap;
	background-color: #FFFFFF;
}

.lapp-ctrl-bottomselector-item
{
	position: relative;
	height: 45px;
	font-size: 17px;
	color: #777777;
	letter-spacing: -0.1px;
	line-height: 45px;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	word-break: break-all;
}

.lapp-ctrl-common-modallayer
{
	z-index: 999999;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
}

.lapp-ctrl-toast
{
	max-width: 50%;
	color: #fff;
	background: rgba(0, 0, 0, 0.4);
	padding: 24px;
	border-radius: 4px;
	font-size: 20px;
	line-heigth: 26px;
}

/* f7控件 */
.lapp-ctrl-f7selector
{
	position: absolute;
	bottom: 0px;
	width: 100%;
	max-height: 60%;
	border-radius: 3px;
	box-shadow: 0 2px 5px 0 rgba(222, 222, 222, 0.50);
}

.lapp-ctrl-f7selector-content
{
	position: absolute;
	width: 100%;
	left: 0px;
	top: 132px;
	bottom: 0px;
	background: #fff;
	overflow-y: auto;
	cursor: default;
}

.lapp-ctrl-f7selector-item
{
	position: absolute;
	height: 45px;
	font-size: 17px;
	color: #777777;
	letter-spacing: -0.1px;
	line-height: 45px;
	left: 10px;
	right: 10px;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	word-break: break-all;
}

.lapp-ctrl-f7selector-item-checkbox
{
	position: absolute;
    font-size: 17px;
    color: #777777;
    letter-spacing: -0.1px;
    top: 10px;
    width: 100%;
}

.lapp-f7selector-head
{
    position: relative;
    left: 0px;
    height: 44px;
    width: 100%;
    background-color: #F6F8F9;
}

.lapp-f7selector-checkbox-all-item
{
	position: relative;
    left: 0px;
    height: 44px;
    width: 100%;
    background-color: #FFFFFF;
}

.lapp-f7selector-searchbox
{
	position: relative;
	left: 0px;
	height: 44px;
	width: 100%;
	background-color: #FFFFFF;
}

.lapp-f7selector-checkbox-all
{
	position: absolute;
	left: 10px;
    top: 9px;
    height: 44px;
    width: 80px;
}

.lapp-f7selector-summary
{
	position: absolute;
	top: 0px;
    left: 90px;
    height: 44px;
    line-height: 44px;
    width: 100%;
    background-color: #FFFFFF;
}

/* 长卷开始 */
.lapp-longer-executed-error-prompt
{
	font-size: 14px;
    line-height: 24px;
    color: #999;
    overflow: hidden;
    white-space: pre-wrap;
    margin: 10px 15px;
}
/* 长卷结束 */

/* 仪表板开始 */
.lapp-dsb-unselectable
{
	user-select: none;
    -webkit-user-select: none;
	-moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

.lapp-dsb-front-label
{
    position: absolute;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(108, 127, 174);
}

.lapp-dsb-combobox
{
	position: absolute;
	height: 25px;
	line-height: 25px;
	box-sizing: border-box;
	right: 0px;
	background-color: transparent;
	box-shadow: rgb(204 204 204) 0px 1px 0px 0px;
	color: rgba(52, 140, 244, 1);
	text-align: center;
}

.lapp-dsb-selectbox {
	position: absolute;
	height: 25px;
	top: 25px;
	box-sizing: border-box;
	right: 0px;
    background-color: rgba(52, 140, 244, 0.15);
    color: rgba(52, 140, 244, 1);
    text-align: center;
    border-radius: 5px;
}

.lapp-dsb-combobox-label
{
    position: absolute;
    left: 2px;
    right: 20px;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: -0.34px;
}

.lapp-dsb-combobox-triangle-down
{
	position: absolute;
	display: inline-block;
	right: 12px;
    top: 50%;
    margin-top: -3px;
	border-right: 1px solid rgba(52, 140, 244, 1);
	border-top: 1px solid rgba(52, 140, 244, 1);
	transform: translate(1px, -1px) rotate(135deg);
	height: 6px;
	width: 6px;
}

.lapp-dsb-combobox-triangle-up
{
	position: absolute;
	display: inline-block;
	right: 12px;
    top: 50%;
	border-right: 1px solid rgba(52, 140, 244, 1);
	border-top: 1px solid rgba(52, 140, 244, 1);
	transform: translate(1px, -1px) rotate(-45deg);
	height: 6px;
	width: 6px;
}

.lapp-dsb-dateselect-content
{
	position: absolute;
	box-sizing: border-box;
    right: 0px;
    height: 100%;
    font-size: 12px;
    line-height: 25px;
}

.lapp-dsb-widget-ctrl-title
{
	padding-right: 28px;
	font-size: 14px;
	line-height: 30px;
	color: #5B6373;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.lapp-dsb-widget-ctrl-title-text
{
	position: relative;
	float: left;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 100%;
	padding-right: 20px;
	height: 100%;
}

.lapp-dsb-widget-ctrl-helpicon
{
	position: relative;
	float: left;
	margin-left: -20px;
	margin-top: 7px;
}

.lapp-dsb-widget-ctrl-fullscreen-headbar
{
	background-color: rgb(255, 255, 255);
	width: 100%;
	height: 44px;
}

.lapp-dsb-widget-ctrl-helpicon-fullscreen 
{
	position: relative;
	float: left;
	margin-left: -40px;
	margin-top: 3px;
}

.lapp-dsb-widget-ctrl-title-fullacreen
{
	position: absolute;
	left: 33px;
	right: 56px;
	height: 20px;
	line-height: 20px;
	top: 13px;
}

.lapp-dsb-widget-ctrl-title-text-fullacreen
{
	position: relative;
	float: left;
	height: 20px;
	line-height: 20px;
	background-repeat: no-repeat;
	padding-right: 44px;
	text-overflow: ellipsis;
	overflow: hidden;
	word-break: break-all;
	max-width: 100%;
	font-size: 14px;
}

.lapp-dsb-widget-ctrl-exit
{
	position: relative;
	float: left;
	height: 20px;
	width: 20px;
	background-repeat: no-repeat;
	z-index: 512;
	margin-left: 9px;
	margin-top: 13px;
}

.lapp-dsb-widget-ctrl-menu
{
	position: absolute;
    width: 18px;
    height: 18px;
    top: 13px;
    right: 13px;
    background-repeat: no-repeat;
    z-index: 512;
}

.lapp-dsb-dateselect-space
{
	display: inline-block;
	color: #666666;
	width: 10%;
	height: 100%;
	line-height: 25px;
    text-align: center;
    overflow: hidden;
    vertical-align: top;
}

.lapp-dsb-modallayer
{
	z-index: 999;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
}

.lapp-dsb-loading-modallayer
{
	z-index: 999999;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0);
}

.lapp-dsb-loading-icon
{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 50px;
	height: 50px;
	margin-left: -25px;
	margin-top: -25px;
	background-size: contain;
}

.lapp-dsb-fullscreen-icon
{
    position: absolute;
    height: 14px;
    width: 14px;
    top: 7px;
    left: 7px;
}

.lapp-dsb-fullscreen-widget
{
	position: absolute !important;
	top: 0px !important;
	left: 0px !important;
	bottom: 0px !important;
	right: 0px !important;
	height: 100% !important;
	margin: 0 auto !important;
}
/* 仪表板结束 */

/* 异常相关  */
.lapp-error-errorprompt
{
	position: relative;
	width: 100%;
	height: 100%;
}

.lapp-error-errorprompt-content
{
	position: relative;
	overflow: auto;
	width: 100%;
	height: 100%;
}

.lapp-error-errorprompt-img
{
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0px auto;
	height: 60%;
	width: 60%;
	background-position: center bottom !important;
}

.lapp-error-errorprompt-errorinfo
{
	position: absolute;
	margin-top: 1%;
	width: 100%;
	min-height: 36px;
	max-height: 50px;
	text-align: center;
}

.lapp-error-errorprompt-text
{
	color: #666;
	display: block;
	margin-bottom: 8px;
	word-break: break-all;
}

.lapp-error-errorprompt-error-btn
{
	border: 1px solid #BBBBBB;
	border-radius: 2px;
	cursor: pointer;
	padding: 4px 23px;
	margin-top: 10px;
	color: #ccc;
	font-size: 12px;
	width: 72px;
	margin: auto;
}

.lapp-error-iframe-container
{
	border: 0px;
	width: 100%;
	height: 100%;
	z-index: 99999;
	position: absolute;
	background: white;
	left: 0px;
    top: 0px;
}

.lapp-error-iframe
{
	border: 0px;
	width: 100%;
	height: 95%;
}

.lapp-error-iframe-close
{
    height: 18px;
    width: 18px;
    margin-top: 4px;
    margin-bottom: 3px;
    margin-right: 10px;
    float: right;
}

.lapp-error-message-info
{
	position: absolute;
	font-size: 12px;
	color: #666;
	line-height: 18px;
	resize: none;
	white-space: pre-wrap;
	border-width: 0;
	padding: 2px 0px;
	background-color: #fff;
	outline: none ;
	width: 100%;
	height: 100%;
}

.lapp-error-detail-content-text
{
    font-size: 15px;
    color: #555555;
    height: 97%;
    width: 98%;
    border: none;
    word-break: break-all;
}

/* InfoDialog */
.lapp-info-dialog-title
{
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	color: #555555;
	text-align: center;
	height: 40px;
	line-height: 40px;
}

.lapp-show-detail-content-title
{
	font-size: 15px;
	color: #555555;
	margin-bottom: 8px;
	margin-top: 3px;
}

.lapp-info-dialog-bottom
{
	font-size: 16px;
	font-style: normal;
	color: #02A7F0;
	text-align: center;
	line-height: 40px;
	border-top: 1px solid #E5E5E5;
}

.lapp-dialog-cancle-btn
{
	display: inline-block;
	width: 45%;
	border-right: 1px solid #E5E5E5;
	color: #666;
}

.lapp-dialog-ok-btn
{
	display: inline-block;
	width: 45%;
}

.lapp-head-title-after-icon
{
    position: unset;
    margin: 14px 0px;
    left: 0px;
    display: inline-block;
}

.lapp-sa-ctrl-helpicon-question
{
	width: 16px;
	height: 16px;
	cursor: help;
	z-index: 1;
}

.lapp-sa-ctrl-helpicon-info
{
	position: absolute;
	width: 16px;
	height: 16px;
	cursor: default;
	z-index: 1;
}

.lapp-sa-ctrl-tips-content
{
	position: absolute;
	width: auto;
	height: auto;
	display: none;
	text-align: left;
	padding: 10px 15px;
	font-size: 12px;
	overflow: auto;
	background: #FFFFFF;
	box-shadow: 0 2px 8px 0 rgba(0,0,0,0.20);
	border-radius: 2px;
	font-family: MicrosoftYaHei;
	color: #828282;
	letter-spacing: 0;
	z-index: 9999998;
}

.lapp-sa-ctrl-tips-arrow
{
	position: absolute;
	display: none;
	z-index: 9999999;
}

.lapp-sa-ctrl-tips-arrow::after, .lapp-sa-ctrl-tips-arrow::before {
	position: absolute;
	height: 0;
	width: 0;
	left: 50%;
	bottom: 100%;
	border: solid transparent;
	content: " ";
	pointer-events: none;
}

.lapp-sa-ctrl-tips-arrow::after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #FFFFFF;
	border-width: 6px;
	margin-left: -6px;
}

.lapp-sa-ctrl-tips-arrow::before {
	border-color: rgba(255, 245, 246, 0);
	border-bottom-color: #F1F1F1;
	border-width: 8px;
	margin-left: -8px;
}

.lapp-info-data-url-content-copyicon
{
	display: inline-block;
	width: 18px;
	height: 18px;
	cursor: pointer;
	vertical-align: middle;
}

.lapp-info-data-url-content-copyicon-end
{
	position: absolute;
	top: 40px;
	left: 60px;
	visibility: visible;
	color: white;
	padding: 8px 40px;
	border-radius: 6px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
	font-size: 15px;
	background-color: rgba(0, 0, 0, 0.6);
}

.lapp-extreport-card-mobile-linkreport
{
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: #FFFFFF;
}

.lapp-extreport-card-mobile-linkreport-title
{
	position: absolute;
	overflow: hidden;
	left: 0px;
	right: 0px;
	top: 0px;
	height: 30px;
	font-size: 14px;
	border-bottom: 1px solid rgba(0, 0, 0, .15);
}

.lapp-extreport-card-mobile-linkreport-title-text
{
	position: absolute;
	float: left;
	text-overflow: ellipsis;
	overflow: hidden;
	inset: 5px 5px;
	max-width: 100%;
	white-space: nowrap;
}

.lapp-extreport-card-mobile-linkreport-iframe-container
{
	position: absolute;
	inset: 31px 0px 0px 0px;
}

.lapp-extreport-card-mobile-linkreport-iframe
{
	position: absolute;
	width: 100%;
	height: 100%;
	border: 0px;
	top: 0px;
	left: 0px;
	background-color: #FFFFFF;
}





