<div>
  <div>
    <div class="dimensions_box">
      <% for(var i=0;i < listItem.length;i++){ %>
      <div class="dimensions_item">
        <!-- 维度标题 -->
        <div class="dimensions_head">
          <div class="dimensions_title" title="<%= listItem[i].title %>"><%= listItem[i].title %></div>
          <div class="dimensions_discription" title="<%= listItem[i].description %>"><%= listItem[i].description %></div>
        </div>
        <!-- 内容区 -->
        <div class="dimensions_content">
          <% if(listItem[i].content){ %>
          <% for(var j=0;j < listItem[i].content.length;j++){ %>
          <div class="question_title">
            <%= j+1 %>、<%= listItem[i].content[j].qTitle %>
            <span class="<%= listItem[i].content[j].isRequired ? 'requiredTips' : 'norequiredTips' %>">*</span>
            <% if(listItem[i].content[j].type == 'checkbox'){ %>
              <span class="checkbox_sign">多选</span>
            <% } %>
            <% if(listItem[i].content[j].type != 'simpleAnswer' && listItem[i].content[j].isRequired){ %>
              <span class="tips" id="<%= 'tip_' + listItem[i].content[j].qId %>" >值不能为空</span>
            <% } %>
          </div>
          <% if(listItem[i].content[j].qDesc !== ''){ %>
            <div class="question_desc"><%= listItem[i].content[j].qDesc %></div>
          <% } %>
          <div class="question_box">
            <!-- 类型为文本域 -->
            <% if(listItem[i].content[j].type == 'simpleAnswer'){ %>

            <div class="textareaBox">
              <textarea placeholder="请输入评价内容" name="<%= listItem[i].content[j].qId %>" id="<%= listItem[i].content[j].qId %>" cols="30"
                rows="10"><%= listItem[i].content[j].subAnswer %></textarea>
            </div>
            <% if(listItem[i].content[j].isRequired){ %>
              <div class="tips" id="<%= 'tip_' + listItem[i].content[j].qId %>">值不能为空</div>
            <% } %>

            <% } %>
            <!-- 类型为单选框 -->
            <% if(listItem[i].content[j].type == 'radio'){ %>

            <div class="radioBox" id="<%= listItem[i].content[j].qId %>">
              <% for(var k=0;k < listItem[i].content[j].items.length;k++){ %>
                <div>
                  <input type="radio" id="<%= listItem[i].content[j].items[k].sId %>"
                  name="<%= listItem[i].content[j].qId %>" value="<%= listItem[i].content[j].items[k].sId %>"
                  <%= listItem[i].content[j].items[k].checked ? "checked='checked'":"" %> />
                  <label
                     for="<%= listItem[i].content[j].items[k].sId %>"><span></span><%= listItem[i].content[j].items[k].name %></label>
                </div>
              <% } %>
            </div>

            <% } %>
            <!-- 类型为多选框 -->
            <% if(listItem[i].content[j].type == 'checkbox'){ %>

            <div class="checkBox" id="<%= listItem[i].content[j].qId %>">
              <% for(var k=0;k < listItem[i].content[j].items.length;k++){ %>
                <div>
                  <input type="checkbox" id="<%= listItem[i].content[j].items[k].sId %>"
                  name="<%= listItem[i].content[j].qId %>" value="<%= listItem[i].content[j].items[k].sId %>"
                  <%= listItem[i].content[j].items[k].checked ? "checked='checked'":"" %> />
                  <label
                   name="<%= listItem[i].content[j].items[k].sId %>"><span></span><%= listItem[i].content[j].items[k].name %></label>
                </div>
              <% } %>
            </div>

            <% } %>
          </div>
          <!-- 评语 -->
          <% if(listItem[i].content[j].isHaveComment){ %>
          <div class="comment_box">
            <div class="comment_box_title">评语<span class="<%= listItem[i].content[j].isReqComment ? 'requiredTips' : 'norequiredTips' %>">*</span>
            </div>
            <div class="textareaBox">
              <textarea placeholder="请输入评价内容" name="<%= listItem[i].content[j].qId+'comment' %>"
                id="<%= listItem[i].content[j].qId+'comment' %>" cols="30"
                rows="10"><%= listItem[i].content[j].subComment %></textarea>
            </div>
            <% if(listItem[i].content[j].isReqComment){ %>
            <div class="tips" id="<%= 'tipComt_' + listItem[i].content[j].qId %>">值不能为空</div>
            <% } %>
          </div>
          <% } %>
          <% } %>
          <% } %>
          <% if(!listItem[i].content){ %>
          <div class="nodata">
            暂无题目
          </div>
          <% } %>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>