.aaged7ya {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 0 30px;
}
.aaged7ya .vKcjSRXf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  color: #333333;
}
.aaged7ya .mtcyk1Tf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
}
.aaged7ya .mtcyk1Tf ._23RtWpjC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.aaged7ya .mtcyk1Tf ._23RtWpjC ._1Af0fJJL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 44px;
  margin-top: 30px;
  margin-left: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.aaged7ya .mtcyk1Tf ._2OKvHj4b {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.aaged7ya .mtcyk1Tf ._2OKvHj4b ._2IWgbFS9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 117px;
  height: 44px;
  margin: 35px 0 5px 10px;
  font-size: 14px;
  color: #fff;
  background: #2386EE;
  border: 1px solid #2386EE;
  cursor: pointer;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow: hidden;
  border-radius: 4px;
}
.aaged7ya .mtcyk1Tf ._2OKvHj4b ._2IWgbFS9:hover {
  background: #57aaf4;
}
.aaged7ya .mtcyk1Tf ._2OKvHj4b ._31AdAIj0 {
  border-color: #cccccc;
  background-color: #f1f1f1 !important;
  color: #aaa;
  cursor: default;
}
.aaged7ya .mtcyk1Tf .zelracga {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.iQba7fyk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 108px;
}
.iQba7fyk ._1PrHSgxL {
  width: 168px;
  height: 96px;
}
.iQba7fyk ._1HsnkvFp {
  margin-top: 12px;
  font-size: 14px;
  color: #212121;
}
.iQba7fyk ._1-fAaEHL {
  margin-top: 20px;
  color: #999999;
  font-size: 12px;
}
.xGQtq1eV {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  color: #333;
  margin-top: 28px;
}
.xGQtq1eV img {
  width: 65px;
  height: auto;
  margin-bottom: 25px;
}
._3uyksMzF {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  color: #343E4C;
}
._3uyksMzF ._3ZZ4bzdz {
  cursor: pointer;
}
._3uyksMzF ._3ZZ4bzdz:hover {
  color: #2386EE;
  text-decoration: underline;
}
._3uyksMzF .ExfTyXGM {
  border-left: 1px solid #343E4C;
  margin: 0 12px;
}

