.MspnjDVG {
  background-color: #fff;
  height: 32px;
  color: #212121;
  font-size: 20px;
  margin-bottom: 24px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-weight: 500;
  font-family: 'Roboto', 'San Francisco', 'Helvetica Neue', Helvetica, Arial, 'PingFangSC-Medium', 'Hiragina Sans GB', 'WenQuanYi Micro Hei', 'microsoft yahei ui', 'microsoft yahei', sans-serif;
}
._1VUBnRXg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
._1VUBnRXg ._12TLxxj8 {
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: 12px;
}
._1VUBnRXg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
._1VUBnRXg ._12TLxxj8 {
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: 12px;
}
._2Hybtmv5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.5px solid #E8E8E8;
}
._2Hybtmv5:focus-within {
  border-color: #276ff5;
}
._2Hybtmv5 ._2M38NV2B {
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
._2Hybtmv5 ._2M38NV2B ._2YpNG0sM {
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #F2F2F2;
  border-radius: 4px;
  font-size: 12px;
  color: #212121;
  height: 20px;
}
._2Hybtmv5 ._2M38NV2B ._2TwW-wYQ {
  color: #999;
}
._1S5zfRly {
  margin-top: 100px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
._3Uez4HYS {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.5px solid #E8E8E8;
}
._3Uez4HYS:focus-within {
  border-color: #276ff5;
}
._3Uez4HYS ._12TLxxj8 {
  width: 80px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -ms-flex-line-pack: center;
      align-content: center;
}
.DZzsrHOj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  color: #666;
  margin-top: 16px;
}
.DZzsrHOj ._11CTgAgI,
.DZzsrHOj ._22Uvts4_ {
  cursor: pointer;
}
.DZzsrHOj ._1GkTaSfI {
  border-left: 1px solid #ccc;
  margin: 0 12px;
}

