html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  font-family:'Roboto', 'San Francisco', 'Helvetica Neue', Helvetica, Arial, 'PingFangSC-Light', 'Hiragina Sans GB', 'WenQuanYi Micro Hei', 'microsoft yahei ui', 'microsoft yahei', sans-serif;
}
#root {
  display: flex;
  width: 100%;
  height: 100%;
}
* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
  overflow: visible;
}

::-webkit-scrollbar-thumb {
  min-height: 28px;
  height: 5px;
  min-width: 2px;
  width: 5px;
  border-radius: 4px;
  border: dashed transparent;
  padding: 100px 0 0;
  border-width: 1px;
  background-color: #b2b2b2;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
  border-radius: 6
}

::-webkit-scrollbar-thumb:active {
  background-color: #999
}

::-webkit-scrollbar-corner {
  background: 0 0
}

::-webkit-scrollbar-track {
  border-radius: 10px
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0
}