
.hotelSearchInput {
	position: relative;
	width: 100%;
}

.hotelSearchInput ul,
.hotelSearchInput li {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* .hotelSearchInput .searchInputList::before {
	content: '';
    width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid red;
} */

.hotelSearchInput .input {
	width: 260px;
	height: 32px;
	background: #fff;
	border-radius: 2px;
	border: 1px solid #d9d9d9;
	display: flex;
	align-items: center;
	padding-left: 24px;
}

.hotelSearchInput .searchIcon {
	position: absolute;
	top: 0;
	left: 0;
	width: 26px;
	height: 100%;
	background: url('./search.png') no-repeat center/16px 16px;
}

.hotelSearchInput .searchInputList {
	position: absolute;
	left: 0;
	top: 100%;
    z-index: 999;
	max-height: 480px;
    background: #fff;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
	overflow-y: auto;
}

.hotelSearchInput .searchInputList .actived {
	background: #f2f9ff;
}

.hotelSearchInput li {
	font-weight: 400;
	font-size: 12px;
	color: #666;
	padding: 10px;
    cursor: pointer;
	border-bottom: 1px solid #e5e5e5;
}

.hotelSearchInput li .same {
	color: #5582f3;
}

.hotelSearchInput li .order {
	font-weight: 500;
	font-size: 14px;
	color: #212121;
	margin-bottom: 8px;
}

.hotelSearchInput li:hover {
	background: #f2f9ff;
}

.hotelSearchInput .searchInputList li div {
	width: 100%;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.hotelSearchInput .searchInputList li div:last-child span {
	margin-right: 24px;
}

.hotelSearchInput .searchInputList li div:last-child span:last-child {
	margin-right: 0;
}

