.CodeMirror{
	width:95%;
}

#conditionControl .selectivity-single-select-input{
	display:none;
	opacity: 0;
}

#conditionControl .selectivity-single-result-container{
	top: 0;
	font-size: 13.33px;
	line-height: 28px;
	position: absolute;
	right: 15px;
	left: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#conditionControl .selectivity-single-select {
  background: #FFFFFF;
  min-height: 26px;
  min-width: 150px;
  width:100%;
  height: 26px;
  border-radius: 2px;
  border: 1px solid #D9D9D9;
  cursor: pointer;
  position: relative;
  box-sizing: content-box;
}

#conditionControl .selectivity-caret {
    border-top: 6.4px solid transparent;
    border-color: #333;
    top: 10px;
    border-bottom: 3px solid transparent;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
	position: absolute;
	right: 6.5px;
}

#conditionControl{
	background: #FAFAFA;
    border: 1px solid #E5E5E5;
	min-height:265px;
	overflow: hidden;
}

#conditionControl h1{
	margin-block-end: 0;
    margin-block-start: 10px;
}

#leftCondition{
	width:60%;
	float:left;	
	border-right: 1px #D9D9D9 solid;
	min-height: 233px;
	padding: 0 2%;
}

#rightExpress{
	width:39%;
	display:inline-block;
	padding-left: 4%;
    padding-right: 4%;
}

#conditionControlTitle,#expressTitle{
	height: 21px;
	font-size: 14px;
	font-family: MicrosoftYaHeiSemibold;
	color: #212121;
	line-height: 21px;
}

#ruleCondition{
	width: 100%;
	border-collapse: separate;
    border-spacing: 0px 10px;
}

#ruleCondition .nameTd{
	width:3%;
}
#ruleCondition .conditionParamTd,.valueTd{
	width:30%;
}
#ruleCondition .comparisonOptTd{
	width:16%;
}
#ruleCondition .valueTypeTd{
	width:15%;
}
#ruleCondition .copyTd,#ruleCondition .deleteTd{
	width:3%;
}

#ruleCondition .conditionParam, #ruleCondition .valueParam{
	color:#000000!important;
	background-color: rgb(255, 255, 255);
}

#ruleCondition>tbody>tr>td
{
	padding-right: 1%;
}
#ruleConditionTitle>tbody>tr>th
{
	padding-right: 1%;
}

#ruleCondition>tbody>tr>td>.name{
	min-width: 19px;
	height: 18px;
	font-size: 12px;
	font-family: MicrosoftYaHeiSemibold;
	color: #212121;
	line-height: 18px;
}

#ruleCondition>tbody>tr>td>.comparisonOpt{
	width:100%;
	min-width: 70px;
	height: 28px;
	background: #FFFFFF;
	border-radius: 2px;
	border: 1px solid #D9D9D9;
}

#ruleCondition>tbody>tr>td>.valueType{
	width:100%;
	min-width: 70px;
	height: 28px;
	background: #FFFFFF;
	border-radius: 2px;
	border: 1px solid #D9D9D9;
}

#ruleCondition .valueBooleanSelectDiv .valueBoolean,#ruleCondition .valueEnumSelectDiv .valueEnumText,#ruleCondition .valueTextDiv .valueText,#ruleCondition .valueNumberDiv .valueNumber,#ruleCondition .valueDateDiv .valueDate{
	width:100%;
	min-width: 150px;
	height: 28px;
	background: #FFFFFF;
	border-radius: 2px;
	border: 1px solid #D9D9D9;
}

#ruleCondition .delete,#ruleCondition .copy{
	width: 21px;
	height: 21px;
	font-size: 21px;
	line-height: 28px;
	cursor:pointer;
	color: #B2B2B2;
}

#ruleCondition .conditionValueSearch{
	position: absolute;
	right: 6px;
	top: 6px;
	cursor:pointer;
}

#conditionControl .expressView{
	position: absolute;
	right: 6px;
	top: 4px;
	cursor:pointer;
}

#addCondition{
	min-width: 84px;
	height: 24px;
	background: #FFFFFF;
	border-radius: 2px;
	border: 1px solid #5582F3;
	font-size: 12px;
    font-family: MicrosoftYaHei;
    color: #5582F3;
    line-height: 18px;
	margin-bottom: 10px;
}

/*
.conditionTypeDiv{
	height: 18px;
    font-size: 12px;
    font-family: MicrosoftYaHei;
    color: #212121;
    line-height: 18px;
	margin:10px 0;
}*/

#conditionExpressDiv{
	min-width: 300px;
	background: #FFFFFF;
    border-radius: 2px;
    border: 1px solid #D9D9D9;
    margin: 10px 0;
}

#and,#or,#leftBracket,#rightBracket{	
	width: 64px;
	height: 24px;
	background: #FFFFFF;
	border-radius: 2px;
	border: 1px solid #5582F3;
	font-size: 12px;
	font-family: MicrosoftYaHei;
	color: #5582F3;
	line-height: 18px;
	margin-right: 8px;
}

#conditionControl .conditionTop{
	height:15px;
}

#conditionControl .conditionFloor{
	clear:both;
	height:15px;
}

/*
标题样式
*/
#ruleConditionTitle .nameTh{
	width:3%;
}
#ruleConditionTitle .conditionParamTh,.valueTh{
	width:30%;
}
#ruleConditionTitle .comparisonOptTh{
	width:16%;
}
#ruleConditionTitle .valueTypeTh{
	width:15%;
}
#ruleConditionTitle .copyTh,.deleteTh{
	width:3%;
}

#ruleConditionTitle{
	width: 100%;
	border-collapse: separate;
	border-spacing: 0px 10px;
}

#ruleCondition .valueTextDiv .valueText{
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#conditionControl .conditionTypeDiv input{
	vertical-align:middle
}

#conditionControl .conditionTypeDiv{
	margin: 10px 0;
}


#ruleConditionTitle .nameTh{
	min-width: 19px;
	height: 18px;
	font-size: 12px;
}

#ruleConditionTitle .comparisonOptTh{
	min-width: 70px;
	height: 28px;
}

#ruleConditionTitle .valueTypeTh{
	min-width: 70px;
	height: 28px;
}

#ruleConditionTitle .valueTh{
	min-width: 150px;
	height: 28px;
}

#ruleConditionTitle,#ruleCondition{
	table-layout:fixed;
}

#ruleCondition .valueTd input{
	text-indent:4px
}