/**xml mobileç»„ä»¶æ ·å¼**/
.view[platform="mobile"] {
  position: relative;
  background: url("../image/phone.png");

  background-repeat: no-repeat;

  background-position: center center;
}
.view[platform="mobile"] .view-wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0.79) translate(-63%, -63%);
  width: 375px;
  height: 667px;
  padding-top: 44px;
  box-sizing: border-box;
  box-shadow: 0px 10px 40px 4px rgba(225, 225, 225, 1);
}
.view[platform="mobile"] [xml="view"] {
  height: 100%;
  background: none;
  overflow-y: auto;
}
.view[platform="mobile"] #nav-header{
  position: absolute;
  top: 0;
  width: 100%;
  background-color: var(--navcolor);
  color: #fff;
  height: 44px;
  line-height:44px;
  text-align: center;
  font-size: 16px;
}
.view[platform="mobile"] input,
.view[platform="mobile"] .input-ctrl{
  font-size: 16px;
  line-height: 1.4em;
  min-height: 1.4em;
}
.view[platform="mobile"] [xml="view"]::-webkit-scrollbar {
  display: none !important;
}
.view[platform="mobile"] [xml] .iconfont,
.view[platform="mobile"] [xml] .input-icon {
  position: relative;
  margin-top: 0;
  font-size: 13px;
  color: #c0c4cc;
}
.view[platform="mobile"] .iconmore_icon {
  font-size: 10px;
  color: #ccc;
  margin-left: 8px;
}
.view[platform="mobile"] td {
  border: none !important;
  height: auto !important;
}
.view[platform="mobile"] [xml="list"] {
  width: 100%;
}
.view[platform="mobile"] [xml="list"] .fields-table{
  width: 50%;
  box-sizing: border-box;
}
.view[platform="mobile"] [xml="list"].showstyle2 .fields-table{
  width: 100px;
}
.view[platform="mobile"] [xml="datagrid"] {
  display: block;
  margin: 0;
}
.view[platform="mobile"] [xml="groupfooter"],
.view[platform="mobile"] [xml="panel"]{
  display: block;
}
/* 将下边框弧度和下margin去除 */
.no-bblf-mb {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  margin-bottom: 0 !important;
}
/* 将上边框弧度和上margin去除 */
.no-btlf-mt {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  margin-top: 0 !important;
}
.view[platform="mobile"] .fields-table {
  /* width: 100% !important; */
  display: block;
  /* min-height: 100px; */
}
.view[platform="mobile"] .fields-content {
  /* display: flex; */
  flex: 1;
}
.view[platform="mobile"] .allow-left-move{
  white-space: nowrap;
  flex:1;
  overflow: scroll;
  height:auto;
}
.view[platform="mobile"] .allow-left-move .fields-content {
  width: 100%;
  height: 100%;
}
.view[platform="mobile"] .allow-left-move .fields-content>div{
  flex: 1;
}
.view[platform="mobile"] .allow-left-move>div{
  display:inline-flex;
}
.view[platform="mobile"] [xml="panel"],
.view[platform="mobile"] [xml="flexpanel"],
.view[platform="mobile"] [xml="imageupload"] {
  background-color: #fff;
}
.view[platform="mobile"] [xml="panel"] {
  width: auto;
}
.view[platform="mobile"] [xml="panel"][paneltype="pop"] {
  display:none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  z-index: 100;
  box-shadow: 0px -5px 5px 5px rgba(0,0,0,0.12);
}
.view[platform="mobile"] [xml="admindivision"],
.view[platform="mobile"] [xml].select-data-ctrl,
.view[platform="mobile"] [xml="mltext"],
.view[platform="mobile"] [xml].select-ctrl,
.view[platform="mobile"] [xml="latticerowpanel"] > [xml="checkbox"],
.view[platform="mobile"] [xml="checkboxgroup"],
.view[platform="mobile"] [xml].input-ctrl:not([type="Span"]),
.view[platform="mobile"] [xml].price-ctrl,
.view[platform="mobile"] [xml="number"],
.view[platform="mobile"] [xml="textarea"],
.view[platform="mobile"] [xml="starscore"],
.view[platform="mobile"] [xml="radiogroup"],
.view[platform="mobile"] [xml].date-ctrl,
.view[platform="mobile"] [xml="sku"],
.view[platform="mobile"] [xml="kswitch"],
.view[platform="mobile"] [xml="multilanguagetext"],
.view[platform="mobile"] [xml="qty"] {
  background: #ffffff;
  padding: 0 13px;
  height: 38px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
  flex: 1;
  color: #333333;
  border-radius: inherit;
  width: auto;
  margin: 0;
  vertical-align: unset;
  margin-bottom: 0;
  text-align: right;
}
.view[platform="mobile"] [xml="datagrid"] [xml].input-ctrl {
  height: auto;
}
.view[platform="mobile"] .panel-ctrl [xml]:not([xml*=button]),
.view[platform="mobile"] .panel-ctrl [xml].input-ctrl{
  background: transparent;
}
.view[platform="mobile"] .panel-ctrl .input-ctrl[type=Span]{
  color:inherit;
}
.view[platform="mobile"] .select-ctrl.pop-none {
  padding:0;
  height: auto;
}
.view[platform="mobile"] .select-ctrl.pop-none [xml="option"]{
  width: auto!important;
}
.view[platform="mobile"] .select-ctrl.showstyle4 [xml="option"]{
  line-height: 28px;
  height: auto;
  padding: 0 10px;
  color: #848494;
  background: #F5F5F5;
  border-radius: 14px;
  border: 1px solid #F5F5F5;
  margin-top: 18px;
  margin-right: 10px;
}
.view[platform="mobile"] [xml].showstyle4 [xml="option"].active{
    background: #fff;
    border: 1px solid var(--themecolor);
    color: var(--themecolor);
}
.view[platform="mobile"] [xml].showstyle3 [xml="option"]{
  min-width: 42%;
  margin: 14px 0 0;
  padding-left: 14px;
  font-size: 15px;
  color: #666666;
  line-height: 24px;
  height: 24px;
}
.view[platform="mobile"] [xml].showstyle3 [xml="option"].active{
  color:#333;
  font-weight: 600;
}
.view[platform="mobile"] [xml].showstyle3 [xml="option"].active::after{
  content:"\e6d8";
  font-family: "miconfont" !important;
  font-size: 13px;
  font-style: normal;
  color: var(--themecolor);
  margin-left: 5px;
}
.view[platform="mobile"] [xml="radiogroup"] > ul {
  width: auto;
  display: flex;
  justify-content: flex-end;
  height: auto;
  border: none;
}
.view[platform="mobile"] [xml="radio"] {
  display: flex;
  flex-direction: row-reverse;
  flex: none;
  padding: 0;
  border: none;
}
.view[platform="mobile"] [xml="radio"] input[type="radio"]:checked::after {
  position: relative;
  top: -5px;
  left: 7px;
  width: 6px;
  height: 11px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
}
.view[platform="mobile"] [xml="radiogroup"],
.view[platform="mobile"] [xml="checkboxgroup"]{
  min-height: 25px;
}
.view[platform="mobile"] [xml="radio"] input[type="radio"] {
  border-radius: 50%;
  margin-right: 3px;
  width: 25px !important;
  height: 25px !important;
  background: #fff;
}
.view[platform="mobile"] [xml="radiogroup"].showstyle2 [xml="radio"] label {
  background: #f5f5f5;
  min-width: 96px;
  text-align: center;
  border-radius: 15px;
  line-height: 30px;
  margin-right: 15px;
}
.view[platform="mobile"] [xml="radiogroup"].showstyle2 input[type="radio"] {
  display: none;
}
.view[platform="mobile"] [xml="checkboxgroup"].showstyle2 .iconmore_icon {
  display: none;
}
.view[platform="mobile"] [xml="checkboxgroup"].showstyle2 > ul,
.view[platform="mobile"] [xml="checkboxgroup"].showstyle2 {
  height: auto;
}
.view[platform="mobile"] [xml="checkboxgroup"].showstyle2 > ul {
  display: flex;
}
.view[platform="mobile"] [xml="checkboxgroup"].showstyle2 > ul li {
  line-height: 28px;
  padding: 0 10px;
  color: #848494;
  background: #f5f5f5;
  border-radius: 14px;
  border: 1px solid #f5f5f5;
  margin: 9px 10px 9px 0;
}
.view[platform="mobile"]
  [xml="checkboxgroup"].showstyle2
  > ul
  li
  input[type="checkbox"] {
  display: none;
}
.view[platform="mobile"] [xml="textarea"] {
  position: relative;
  flex-direction: column;
  height: auto;
  align-items: flex-start;
  padding: 0 14px 20px;
  border: 1px solid #f6f6f6;
}
.view[platform="mobile"] [xml].select-ctrl .iconjiantou18 {
  margin-left: 5px;
  transform: rotate(270deg) scale(0.8);
}
.view[platform="mobile"] [xml*="filter"] .filter-container{
  display: flex;
  width: 100%;
  height: inherit;
  border-radius: inherit
}
.view[platform="mobile"] [xml*="filter"].horizontal .filter-container,
.view[platform="mobile"] [xml*="filter"].h .filter-container{
	flex-direction: row;
}
.view[platform="mobile"] [xml*="filter"].vertical .filter-container,
.view[platform="mobile"] [xml*="filter"].v .filter-container{
	flex-direction: column;
}
.view[platform="mobile"] [xml*="filter"] [xml="admindivision"],
.view[platform="mobile"] [xml*="filter"] [xml].select-data-ctrl,
.view[platform="mobile"] [xml*="filter"] [xml="mltext"],
.view[platform="mobile"] [xml*="filter"] [xml].select-ctrl,
.view[platform="mobile"]
  [xml*="filter"]
  [xml="latticerowpanel"]
  > [xml="checkbox"],
.view[platform="mobile"]
  [xml*="filter"]
  [xml].select-data-ctrl:not([type="Span"]),
.view[platform="mobile"] [xml*="filter"] [xml].input-ctrl,
.view[platform="mobile"] [xml*="filter"] [xml].price-ctrl,
.view[platform="mobile"] [xml*="filter"] [xml="number"],
.view[platform="mobile"] [xml*="filter"] [xml="textarea"],
.view[platform="mobile"] [xml*="filter"] [xml="starscore"],
.view[platform="mobile"] [xml*="filter"] [xml="radio"],
.view[platform="mobile"] [xml*="filter"] [xml].date-ctrl,
.view[platform="mobile"] [xml*="filter"] [xml="sku"] {
  height: inherit;
  border: none;
  border-radius: inherit;
  padding: 0;
}
.view[platform="mobile"] [xml*="filter"] [xml="admindivision"] input,
.view[platform="mobile"] [xml*="filter"] [xml].select-data-ctrl input,
.view[platform="mobile"] [xml*="filter"] [xml="mltext"] input,
.view[platform="mobile"] [xml*="filter"] [xml].select-ctrl input,
.view[platform="mobile"] [xml*="filter"] [xml].input-ctrl input,
.view[platform="mobile"] [xml*="filter"] [xml].price-ctrl input,
.view[platform="mobile"] [xml*="filter"] [xml="number"] input,
.view[platform="mobile"] [xml*="filter"] [xml="textarea"] input,
.view[platform="mobile"] [xml*="filter"] [xml].date-ctrl input,
.view[platform="mobile"] [xml*="filter"] [xml="sku"] input {
  text-align: center;
}
.view[platform="mobile"] [xml="kswitch"] > label,
.view[platform="mobile"] [xml="admindivision"] > label,
.view[platform="mobile"] [xml].select-data-ctrl > label,
.view[platform="mobile"] [xml="mltext"] > label,
.view[platform="mobile"] [xml].select-ctrl > label,
.view[platform="mobile"] [xml="latticerowpanel"] > [xml="checkbox"],
.view[platform="mobile"] [xml].input-ctrl > label,
.view[platform="mobile"] [xml].price-ctrl > label,
.view[platform="mobile"] [xml="number"] > label,
.view[platform="mobile"] [xml="textarea"] > label,
.view[platform="mobile"] [xml="starscore"] > label,
.view[platform="mobile"] [xml="radio"] > label,
.view[platform="mobile"] [xml="radiogroup"] > label,
.view[platform="mobile"] [xml].date-ctrl > label,
.view[platform="mobile"] [xml="sku"] > label {
  font-size: 15px;
  color: #666666;
  text-align: left;
  width: auto;
}
.view[platform="mobile"] [xml="textarea"] > label {
  width: 100%;
  line-height: 40px;
  border-bottom: 1px solid #f6f6f6;
}
.view[platform="mobile"] [xml="textarea"] > textarea {
  width: 100%;
  height: 90px;
  padding: 10px 0;
  font-size: 15px;
  color: #333;
  background: none;
  border: none;
  resize: none;
}
.view[platform="mobile"] [xml="textarea"] .counter {
  position: absolute;
  right: 14px;
  bottom: 10px;
}
.view[platform="mobile"] [xml].select-data-ctrl > input,
.view[platform="mobile"] [xml="mltext"] > input,
.view[platform="mobile"] [xml].select-ctrl > ul,
.view[platform="mobile"] [xml].select-ctrl .select-val,
.view[platform="mobile"] [xml="latticerowpanel"] > [xml="checkbox"],
.view[platform="mobile"] [xml].input-ctrl > input,
.view[platform="mobile"] [xml].price-ctrl > input,
.view[platform="mobile"] [xml="number"] > input,
.view[platform="mobile"] [xml].date-ctrl > input,
.view[platform="mobile"] [xml="sku"] > input,
.view[platform="mobile"] [xml="multilanguagetext"] > input {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  min-width: 50%;
  border-bottom: none;
  padding: 0;
  border: 0;
  text-align: inherit;
  color: inherit;
  font-size: inherit;
}
.view[platform="mobile"] [xml].select-ctrl .select-val{
  justify-content: flex-end;
  min-width: auto;
}
.view[platform="mobile"] [xml].select-ctrl label{
  white-space: nowrap;
}
.view[platform="mobile"] [xml].select-ctrl > ul{
  min-width: auto;
  flex-wrap: wrap;
}
.view[platform="mobile"] [xml].pop-none>ul{
  justify-content:flex-start;
}
.view[platform="mobile"] [xml].showstyle3 ul{
  display: flex;
  justify-content: space-between;
}
.view[platform="mobile"] [xml].showstyle3 [xml="option"],
.view[platform="mobile"] [xml].showstyle4 [xml="option"]{
  text-align: left;
}
.view[platform="mobile"] [xml].date-ctrl .input-icon {
  display: none;
}

.view[platform="mobile"] .fields-table [xml]:not([xml="button"]) {
  /* min-height:30px; */
  height: auto;
  border: none;
}
.view[platform="mobile"] [xml="scroller"] {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
.view[platform="mobile"] ::-webkit-scrollbar {
  width: 2px;
}
.view[platform="mobile"] ::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.02);
}
.view[platform="mobile"] [xml="kswiper"] {
  display: block;
}
.view[platform="mobile"] .swiper-container {
  width: 100%;
  height: 160px;
}
.view[platform="mobile"] [xml="starscore"] {
  display: flex;
  font-size: 15px;
  font-weight: 400;
  color: #333333;
  line-height: 21px;
  align-items: center;
}
.view[platform="mobile"] [xml="starscore"] .star-name {
  width: 100px;
  margin-right: 6px;
}
.view[platform="mobile"] [xml="starscore"]{
  text-align: left;
  justify-content: flex-start;
}
.view[platform="mobile"] [xml="starscore"] .star-wrapper [class*=iconstar] {
  font-size: 20px;
  margin-right: 16px;
}
.view[platform="mobile"] [xml="starscore"] .star-wrapper .iconstar-full{
  color: #FFBB00;
}
.view[platform="mobile"] [xml="starscore"] .star-wrapper .iconstar,
.view[platform="mobile"] [xml="starscore"] .desc {
  color: #cccccc!important;
}
.view[platform="mobile"] [xml="countdown"] {
  display: flex;
  align-items: center;
  color: #000;
}
.view[platform="mobile"] [xml="countdown"] .count-down-num {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.view[platform="mobile"] [xml="countdown"] .count-down-splitor {
  margin: 0 2px;
}

.view[platform="mobile"] [xml="tabbar"] {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  border-top: 1px solid #e0e0e0;
  z-index: 2;
  height: 48px;
  box-sizing: border-box;
}
.view[platform="mobile"] [xml="tabbaritem"] {
  position: relative;
  flex: 1;
  height: 100%;
}
.view[platform="mobile"] [xml="tabbaritem"] .iconfont,
.view[platform="mobile"] [xml="tabbaritem"] .icon-img {
  display: flex;
  height: 30px;
  font-size: 25px;
}
.view[platform="mobile"] [xml="tabbaritem"] .text {
  font-size: 11px;
}
.view[platform="mobile"] [xml="tabbaritem"] .tabbar-item-inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.view[platform="mobile"] [xml="flexpanel"] {
  display: flex;
}
.view[platform="mobile"] [xml="tabbar"],
.view[platform="mobile"] [xml="levelmenu"] .level-1,
.view[platform="mobile"] [xml="levelmenu"] .level-1-item.active,
.view[platform="mobile"] [xml="levelmenu"] .level-more,
.view[platform="mobile"] [xml="switchtabbar"],
.view[platform="mobile"] [xml="searchhistory"] {
  background: #ffffff;
}
.view[platform="mobile"] [xml="levelmenu"] {
  max-height: 100%;
  height: 100%;
  width: 100%;
  display: flex;
}
.view[platform="mobile"] [xml="levelmenu"] .level-1 {
  position: relative;
  /* width: 25%; */
  flex: 1;
  box-sizing: border-box;
}
.view[platform="mobile"] [xml="levelmenu"] .level-1::after {
  position: absolute;
  content: "";
  height: 100%;
  right: 0;
  top: 0;
  border-right: 1px solid #e0e0e0;
}
.view[platform="mobile"] [xml="levelmenu"] .level-1-item {
  position: relative;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  word-break: break-all;
  display: flex;
  flex-direction: row;
}
.view[platform="mobile"] [xml="levelmenu"] .level-1-item.active {
  position: relative;
}
.view[platform="mobile"] [xml="levelmenu"] .level-1-item.active:after {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  background: #fff;
  z-index: 10;
  top: 0;
  right: -1px;
}
.view[platform="mobile"] [xml="levelmenu"] .level-1-item.active:before {
  content: "";
  display: inline-block;
  height: 14px;
  width: 3px;
  background: var(--themecolor);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.view[platform="mobile"] [xml="levelmenu"] .empty-msg {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translateX(-50%);
  font-size: 14px;
  color: #999;
}
.view[platform="mobile"] [xml="levelmenu"] .level-more {
  flex:3;
  box-sizing: border-box;
  padding: 0 0 0 10px;
  overflow-anchor: none;
}
.view[platform="mobile"] [xml="levelmenu"] .level-more .level-2-text {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.view[platform="mobile"] [xml="levelmenu"] .level-more .level-2-text .name {
  color: #666666;
  font-size: 13px;
  font-weight: 700;
}
.view[platform="mobile"] [xml="levelmenu"] .level-more .level-2-text .all-icon {
  margin-right: 10px;
  color: #666;
  font-size: 12px;
}
.view[platform="mobile"] [xml="levelmenu"] .level-more .level-2-text .all-icon .iconmore_icon {
  color: #666;
  font-size: 12px;
  display: inline-block;
}
.view[platform="mobile"] [xml="levelmenu"] .level-more .level-3-item {
  width: 30%;
  display: inline-block;
  font-size: 13px;
  padding: 5px 0;
  color: #666666;
  margin-right: 7px;
  overflow: hidden;
  vertical-align: text-bottom;
}
.view[platform="mobile"]
  [xml="levelmenu"]
  .level-more
  .level-3-item
  .image-wrap {
  position: relative;
  width: 100%;
  height: 0px;
  padding-top: 100%;
}
.view[platform="mobile"]
  [xml="levelmenu"]
  .level-more
  .level-3-item
  .image-wrap
  img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2px;
}
.view[platform="mobile"]
  [xml="levelmenu"]
  .level-more
  .level-3-item
  .level-3-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 16px;
  height: 32px;
  font-size: 11px;
}

.view[platform="mobile"] [xml="switchtabbar"] {
  min-height: 40px;
  display: flex;
  min-width: 100%;
  overflow: auto;
}
.view[platform="mobile"] [xml="switchtabbar"] .switch-tab-item {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: row;
}
.view[platform="mobile"] [xml="switchtabbar"] .switch-tab-item .sort {
  display: flex;
  flex-direction: column;
  margin-top: -8px;
}
.view[platform="mobile"] [xml="switchtabbar"] .switch-tab-item .sort .iconfont {
  font-size: 14px;
  height: 10px;
  color: #dddddd;
}
.view[platform="mobile"]
  [xml="switchtabbar"]
  .switch-tab-item
  .sort
  .iconfont.active {
  color: #333333;
}
.view[platform="mobile"] [xml="switchtabbar"] .switch-tab-item .tab-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.view[platform="mobile"] [xml="switchtabbar"] .switch-tab-item.active:after {
  content: "";
  position: absolute;
  height: 2px;
  background: var(--themecolor);
  width: 30%;
  bottom: 0;
}

.view[platform="mobile"] [xml="switchtabbar"]::-webkit-scrollbar {
  visibility: hidden;
  width: 0px !important;
  height: 0px !important;
}

.view[platform="mobile"] .no-label input,
.view[platform="mobile"] .input-ctrl.no-label input {
  text-align: left;
}
.view[platform="mobile"] .no-label .no-edit {
  width: 100%;
  text-align: left;
}
.view[platform="mobile"] [xml="admindivision"] .inner_input {
  flex: 1;
  display: flex;
}
.view[platform="mobile"] [xml="admindivision"] .inner_input .no-edit {
  flex: 1;
  text-align: right;
}

.view[platform="mobile"] [xml="button"] {
  min-width: 115px;
  height: 40px;
  padding: 0 20px;
  margin: 10px 14px;
  background-color: var(--themecolor);
  border-radius: 20px;
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.view[platform="mobile"] .cus-button-bggray {
  background-color: #f5f5f5;
  color: #666;
}
.view[platform="mobile"] .cus-button-bgred {
  background-color: #fe6666;
}
.view[platform="mobile"] .cus-button-mini {
  min-width: 69px;
  height: 24px;
  padding: 0 5px;
  font-size: 12px;
}
.view[platform="mobile"] .cus-button-samll {
  min-width: 85px;
  height: 30px;
  padding: 0 10px;
  font-size: 14px;
}
.view[platform="mobile"] .cus-button-big {
  min-width: 170px;
}
.view[platform="mobile"] .cus-button-huge {
  width: 347px;
}
.view[platform="mobile"] .cus-button-rect {
  border-radius: 4px;
}
.view[platform="mobile"] .cus-button-circle {
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.view[platform="mobile"] .cus-button-circle.cus-button-mini {
  width: 24px;
}
.view[platform="mobile"] .cus-button-circle.cus-button-small {
  width: 30px;
}
.view[platform="mobile"] button::after {
  border: none;
}
.view[platform="mobile"] button[disabled]:not([type]),
.view[platform="mobile"] button[disabled][type="default"] {
  color: #fff !important;
  background-color: #cccccc !important;
}
.view[platform="mobile"] [xml="searchhistory"] {
  display: block;
  color: #666666;
  padding: 10px;
}
.view[platform="mobile"] [xml="searchhistory"] span {
  font-size: 16px !important;
}
.view[platform="mobile"] [xml="searchhistory"] .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.view[platform="mobile"] [xml="searchhistory"] .no-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.view[platform="mobile"] [xml="searchhistory"] .no-content img {
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
}
.view[platform="mobile"] .cus-check {
  font-size: 16px;
  width: 16px;
  color: #ccc;
  margin: 0 10px;
}
.view[platform="mobile"] .fields-table {
  display: flex;
  flex-shrink: 0;
}
.view[platform="mobile"] .v,
.view[platform="mobile"] .vertical {
  display: flex;
  flex-direction: column;
}
.view[platform="mobile"] [xml="datagrid"] .allow-left-move [xml="leftslipbuttongroup"] {
  display: inline-block;
  width: auto;
  height: 100%;
  vertical-align: top;
  z-index: 1;
  position: relative;
}
.view[platform="mobile"] [xml="leftslipbuttongroup"] [xml] {
  display: flex;
  padding: 0 20px;
  background: transparent;
  margin: 0;
  border: none;
  border-radius: inherit;
  height: 100%;
}
.view[platform="mobile"] [xml="img"] {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.view[platform="mobile"] [xml="img"] img{
  width: inherit;
  height: inherit;
  object-fit: contain;
}
.view[platform="mobile"] [xml="label"] {
  display: block;
}
.view[platform="mobile"] [xml="qty"] .number-box {
  display: flex;
  height: auto;
  border: none;
  border-radius: 2px;
}
.view[platform="mobile"] [xml="qty"] .number-box .minus,
.view[platform="mobile"] [xml="qty"] .number-box .plus {
  display: flex;
  width: 27px;
  height: 27px;
  background: #fff;
}
.view[platform="mobile"] [xml="qty"] .number-input {
  width: 40px;
  height: 27px;
  background: #fff;
  border: 1px solid #f4f4f4;
  margin: 0 1px;
}
.view[platform="mobile"] [xml] {
  max-width: 100%;
}
.view[platform="mobile"] [xml="datagrid"] [xml]{
  max-width: unset;
}
.view[platform="mobile"] [xml="imggroup"] {
  overflow: hidden;
}
.view[platform="mobile"] [xml="imggroup"] ul {
  width: inherit;
}
.view[platform="mobile"] [xml="imggroup"] img {
  width: 100%;
}
.view[platform="mobile"] [xml="imggroup"].swiper-container {
  width: 100%;
  height: 296px;
}
.view[platform="mobile"] [xml="imggroup"].showstyle2 ul li{
  display: inline-block;
}
.view[platform="mobile"] [xml="kswitch"] .switch-input {
  width: 52px;
  height: 32px;
  border: 1px solid #dfdfdf;
  border-radius: 16px;
}
.view[platform="mobile"] [xml="kswitch"] .switch-input::before {
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
.view[platform="mobile"] [xml="kswitch"] .switch-input.selected::before{
  right:0;
  left: inherit;
}
.view[platform="mobile"] [xml="kswitch"] .switch-input-2 {
  display: flex;
  border: 2px solid var(--themecolor);
  border-radius: 50px;
  padding: 3px;
}
.view[platform="mobile"] [xml="kswitch"] .switch-input-2 .switch-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 7px;
  min-width: 30px;
  height: 22px;
  font-size: 15px;
  color: var(--themecolor);
}
.view[platform="mobile"] [xml="kswitch"] .switch-input-2 .switch-item.selected {
  color: #fff;
  border-radius: 20px;
}
.view[platform="mobile"] [xml="kswitch"] .selected{
  background-color: var(--themecolor);
}
.view[platform="mobile"] [type="Span"] {
  display: inline-block;
}
.view[platform="mobile"] [xml="imageupload"] {
  padding: 7px;
}
.view[platform="mobile"] [xml="imageupload"] .upload-img-btn {
  border-radius: 4px;
  border: 1px solid #d2d2d2;
  width: 56px;
  height: 56px;
  color: #666;
}
.view[platform="mobile"] [xml="imageupload"] .iconfont {
  font-size: 21px;
}
[platform="mobile"] [xml="queryfilter"] {
  display: flex;
  min-height:50px;
  background:#ffffff;
  align-items: center;
  padding: 0 14px;
}
.view[platform="mobile"] [xml="tabgroup"] {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 500px;
}
.view[platform="mobile"] [xml="tabgroup"] [xml="tab"] {
  flex: 1;
  position: relative;
  border: none;
}
.view[platform="mobile"] [xml="tabgroup"] [xml="tab"] .tab-header {
  width: 100%;
  line-height: 40px;
  text-align: center;
  background: #fff;
  border-bottom: 1px solid #d2d2d2;
}
.view[platform="mobile"] [xml="tabgroup"] [xml="tab"] .tab-content {
  position: absolute;
  top: 40px;
  left: 0;
  width: 370px;
  height: 100%;
  display: none;
  z-index: 1;
}
.view[platform="mobile"] [xml="tabgroup"] [xml="tab"].focus-layer,
.view[platform="mobile"] [xml="tabgroup"] [xml="tab"].hover-layer2 {
  border: none !important;
}
.view[platform="mobile"] [xml="tabgroup"] [xml="tab"].hover-layer2 {
  z-index: 2;
}
.view[platform="mobile"] [xml="tabgroup"] [xml="tab"].focus-layer .tab-header,
.view[platform="mobile"] [xml="tabgroup"] [xml="tab"].focus-layer .tab-content {
  border: 1px solid #3166eb !important;
}
.view[platform="mobile"] [xml="tabgroup"] [xml="tab"].hover-layer2 .tab-header,
.view[platform="mobile"]
  [xml="tabgroup"]
  [xml="tab"].hover-layer2
  .tab-content {
  border: 1px dashed #3166eb !important;
}
.view[platform="mobile"]
  [xml="tabgroup"]
  [xml="tab"]:nth-of-type(1)
  .tab-content,
.view[platform="mobile"] [xml="tabgroup"] [xml="tab"].focus-layer .tab-content {
  display: block !important;
}
.view[platform="mobile"] [xml="latticepanel"],
.view[platform="mobile"] [xml="tab"]{
  width:100%;
}
.view[platform="mobile"] [xml="latticepanel"] .group{
  width:100%;
  display:flex;
  flex-direction:row;
}
.view[platform="mobile"] [xml="latticepanel"] .group-item{
  flex:1;
}