/**xml组件样式**/
[xml]{
    display:inline-block;
    border: 1px solid rgba(0,0,0,0);
}
.actual-view [hidden="true"],
.actual-view [hidden="hidden"]{
	display:none !important;
}
[xml="pageview"],
[xml="pageview"]>div,
[xml="view"] {
	width:100%;
    height:100%;
    overflow: auto;
}

[xml="view"] {
	background: #fff;
}
[platform="pc"] [xml="view"] [xml="datagrid"]{
	padding-left: 16px;
}
[xml="toolbar"] {
    display: block;
    position: relative;
    height: auto;
    box-sizing: border-box;
    padding: 16px;
    text-align: right;
    right: 0;
    margin-right: 0;
    z-index: 1;
    background-color: #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
[platform="pc"] [xml="toolbar"] {
    padding: 0!important;
    margin: 0 0 16px 0!important;
    /* text-align: left!important; */
}

[xml="menubutton"] {
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid #DCDFE6;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    transition: 0.1s;
    font-weight: 400;
    font-size: 12px;;
    padding: 3px 7px;
    border-radius: 2px;
    margin-left: 0 !important;
    margin-right: 10px;
    height: 25px;
    line-height: 15px;
    background-color: #5582f3;
    border-color: #5582f3;
	color: #ffffff;
}

[platform="pc"] [xml="tabgroup"] {
	width: 100%;
	min-height: 500px;
	padding-bottom: 50px;
	border: 1px dotted #666666;
}
[xml="bottomgroup"]{
	border: 1px dotted #666666;
}
[platform="pc"] [xml="tab"] {
	background-color: #fff;
	display: block !important;
	height: auto;
	border-radius: 2px;
	margin: 15px;
	min-height: 100px;
	overflow: hidden;
	padding-bottom: 20px;
}

[platform="pc"] [xml="tab"]>h2 {
	position:relative;
	border-bottom: 1px solid #ddd;
	margin: 0;
	padding: 10px 15px;
	font-size: 15px;
    font-weight: 500;
}
[platform="pc"] .tabstyle1 [xml="tab"]>h2{
    margin-left:16px
    ;
}
[platform="pc"] .tabstyle1 [xml="tab"]>h2::before{
    position: absolute;
    left: 0;
    top: 18px;
    display: inline-block;
    content: '';
    border-top: 5px solid #7f93bc;
    border-right: 4px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 4px solid transparent;
}
[platform="pc"] .tabstyle1 [xml="tab"]>h2+div{
    padding: 16px;
}

[xml="latticerowpanel"] {
	min-height: 100px;
	width: 100%;
	background: #ffffff;
	border: 1px dotted #666666;
}

.view[platform=pc] [xml].select-data-ctrl,
.view[platform=pc] [xml="sku"],
.view[platform=pc] [xml="mltext"],
.view[platform=pc] [xml].select-ctrl,
.view[platform=pc] [xml="latticerowpanel"]>[xml="checkbox"],
.view[platform=pc] [xml].input-ctrl,
.view[platform=pc] [xml].price-ctrl,
.view[platform=pc] [xml="number"],
.view[platform=pc] [xml].date-ctrl,
.view[platform=pc] [xml="qty"],
.view[platform=pc] [xml="radiogroup"],
.view[platform=pc] [xml="checkboxgroup"],
.view[platform=pc] [xml="linkgroup"],
.view[platform=pc] [xml="textarea"],
.view[platform=pc] [xml="attachmentlist"]{
    position: relative;
    width: 25%;
    height: 35px;
    line-height: 35px;
    /* margin-bottom: 18px; */
    display: inline-block;
    vertical-align: middle;
}
.view[platform=pc] [xml="textarea"] textarea{
    resize: vertical;
    padding: 5px 15px;
    line-height: 1.5;
    box-sizing: border-box;
    font-size: inherit;
    color: #1f2d3d;
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #DCDFE6;
    border-radius: 4px;
    transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.view[platform=pc] [xml="radiogroup"],
.view[platform=pc] [xml="checkboxgroup"],
.view[platform=pc] [xml="linkgroup"]{
	min-width: 32%;
	width:auto;
	border: 1px dotted #666666;
}
[xml][position='bottom'] {
    position: absolute !important;
    bottom: 0;
    z-index:10;
}
[xml="radio"],
[xml="checkbox"] {
	/* margin-right: 5px; */
	line-height: 35px;
}
/* [xml="radio"] label,
[xml="checkbox"] label{
    width:max-content !important;
} */
[xml="radio"] input[type="radio"],
[xml="checkbox"] input[type="checkbox"] {
	position: relative;
    top: 3px;
    line-height: 35px
}
.view[platform=pc] [xml="checkbox"] label,
.view[platform=pc] [xml].select-data-ctrl label,
.view[platform=pc] [xml].input-ctrl label,
.view[platform=pc] [xml="sku"] label,
.view[platform=pc] [xml="mltext"] label,
.view[platform=pc] [xml].select-ctrl label,
.view[platform=pc] [xml="radiogroup"]>label,
.view[platform=pc] [xml="checkboxgroup"]>label,
.view[platform=pc] [xml="latticerowpanel"]>[xml="checkbox"] label,
.view[platform=pc] [xml="qty"]>label,
.view[platform=pc] [xml].price-ctrl>label,
.view[platform=pc] [xml="number"]>label,
.view[platform=pc] [xml].date-ctrl>label,
.view[platform=pc] [xml="radio"] label,
.view[platform=pc] [xml="linkgroup"] label,
.view[platform=pc] [xml="textarea"] label,
.view[platform=pc] [xml="attachmentlist"] label{
    display:inline-block;
	width: 120px;
	text-align: right;
    vertical-align: top;
    float: left;
    font-size: 14px;
    color: #606266;
    line-height: 35px;
    padding: 0 12px 0 0;
    box-sizing: border-box;
}

[xml].select-data-ctrl input,
[xml="sku"] input,
[xml="mltext"] input,
[xml="searcher"] input,
[xml].date-ctrl input,
[xml="number"] input,
[xml="qty"] label+.input-wrap,
[xml].input-ctrl input,
[xml].price-ctrl input,
[xml].select-ctrl ul,
[xml="radiogroup"] ul,
[xml="checkboxgroup"] ul,
[xml="attachmentlist"] ul,
[xml="textarea"] label+textarea{
    vertical-align: top;
	width: calc(100% - 120px);
	/* float: right; */
	border: 1px solid #dcdfe6;
	padding: 0 5px;
	height: 35px;
	line-height: 35px;
    border-radius: 0px;
    text-align: left;
}
[xml="radiogroup"] ul,
[xml="checkboxgroup"] ul,
[xml="attachmentlist"] ul{
    display: inline-block;
}
[xml].input-ctrl input,
[xml].select-data-ctrl input,
[xml].date-ctrl input,
[xml].select-ctrl ul{
    padding-right: 35px;
}
[xml].input-ctrl .iconfont,
[xml].select-data-ctrl .iconfont,
[xml].date-ctrl .input-icon,
[xml].select-ctrl .input-icon{
    position: absolute;
    top: 0;
    right: 0;
    line-height: 35px;
    color: #c0c4cc;
    font-size: 13px;
    margin-right: 5px;
    cursor: auto;
}
[xml].input-ctrl .val-wrap,
[xml="qty"] .val-wrap,
[xml].price-ctrl .val-wrap,
[xml="number"] .val-wrap{
    vertical-align: top;
}
[xml="qty"] .input-wrap{
	display: flex;
	background: #ffffff;
	border: 1px solid #c6d6f6;
	padding: 0;
}
/* [xml="qty"] .input-wrap:hover{
    border: 1px solid #5582f3;
} */
[xml="qty"] .input-wrap span{
	flex-shrink:1;
    width: 30px;
    height: 100%;
    text-align: center;
    color: #c6d6f6;
    cursor: inherit;
}
/* [xml="qty"] .input-wrap span:hover{
	background: #5582f3;
} */
[xml="qty"] .input-wrap input{
    border: none;
    width:calc(100% - 60px);
    height: inherit;
    padding: 0 6px;
    box-sizing:border-box;
    border-left: 1px solid #c6d6f6;
    border-right: 1px solid #c6d6f6;
    margin: 0;
}
[xml].select-ctrl ul,
[xml="radiogroup"] ul,
[xml="checkboxgroup"] ul{
	overflow:hidden;
	padding:0 !important;
}
[xml="radiogroup"] ul,
[xml="checkboxgroup"] ul{
	border:none !important;
}
[xml].select-ctrl ul li{
	width: 100% !important;
    max-width: 100% !important;
    text-align:left;
}
[xml="sku"] input+i,
[xml="mltext"] input+i,
[xml].select-ctrl ul+i{
    float: right;
    margin-top: -26px;
    margin-right: 5px;
}
[xml="fields"] [xml].select-data-ctrl input+i,
[xml="fields"] [xml="sku"] input+i,
[xml="fields"] [xml="mltext"] input+i,
[xml="fields"] [xml].select-ctrl ul+i{
	display:none !important;
}
[xml].select-ctrl li.option{
    /* border: 1px solid #dcdfe6; */
    overflow: hidden;
    margin-right: 5px;
    float: left;
    height: 35px;
    white-space: nowrap;
    text-overflow: ellipsis;
    list-style: none;
    text-align: left;
    padding: 0 5px;
    max-width:50px;
    display:inline-block;
}

[xml="option"] label {
	width: 100%;
	font-size: 12px;
	text-align: center;
}

.view[platform=pc] [xml="datagrid"] {
    min-height: 250px;
    width:98%;
    /* margin: 10px; */
    /* padding: 10px; */
    background-color: #fff;
}
.view[platform=pc] [xml="datagrid"] .fields-table{
    width: 100%;
    min-height: 1;
    border: 1px solid #dee7ff;
    background:#ffffff;
    overflow:auto;
    margin-top: 10px;
    min-height: 160px;
}
.view[platform=pc] [xml="datagrid"] .fields-table::-webkit-scrollbar{
	overflow: visible;
    width: 8px!important;
    height: 8px!important;
}
.view[platform=pc] [xml="datagrid"] .fields-table::-webkit-scrollbar-thumb{
	background-color: #ddd;
    background-clip: padding-box;
    border-radius: 8px;
}
.view[platform=pc] [xml="datagrid"] .fields-table>table{
	width:100%;
}
.view[platform=pc] [xml="datagrid"] [xml="toolbar"] {
	background: #fff;
	text-align: left;
}

.view[platform=pc] [xml="datagrid"] [xml="fields"] {
	border-bottom: 1px solid #dee7ff;
	display:flex !important;
	flex-direction: row;
	background:#f8faff;
    min-height:30px;
}

.view[platform=pc] [xml="datagrid"] [xml="fields"] [xml] {
    position: relative;
    height: 37px;
    line-height: 37px;
    text-align: center;
    padding: 0 10px;
    margin: 0px !important;
    float: left;
    flex:1;
}
.view[platform=pc] [xml="datagrid"] [xml="fields"]>[xml] [xml]{
	display:none;
}
.view[platform=pc] [xml="datagrid"] [xml="fields"] [xml]::after{
    position: absolute;
    content: "";
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 18px;
    margin-top: 1px;
    background-color: #afb1b6;
}

.view[platform=pc] [xml="datagrid"] [xml] label {
	height: 37px;
	overflow: hidden;
	width: 100%;
	line-height: 37px;
	display: inline-block;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 600;
    color: #333333;
    text-align: center;
    margin-right: 0;
}

.view[platform=pc] [xml="datagrid"] [xml] input {
	display: none !important;
}
.view[platform=pc] [xml="list"] ul.cardListWrapper{
	padding: 16px 0;
}
.view[platform=pc] [xml="list"] [xml="fields"]{
	width: 194px;
	height: 310px;
	border: 1px solid #e0e0e0;
	display: inline-block;
	margin: 0 0 16px 20px;
	padding-top:16px;
	text-align: center;
	/* overflow:hidden; */
}
.view[platform=pc] [xml="list"] [xml="fields"]:hover{
	height:auto;
}
.view[platform=pc] [xml="list"] [xml="fields"]>[xml]{
	width:100%;
	padding:0 16px;
	height: 26px;
	line-height: 26px;
}
.view[platform=pc] [xml="list"] [xml="fields"]>[xml] label{
	width:60px;
	text-align: left;
	font-size: 12px;
	line-height: 26px;
}
.view[platform=pc] [xml="list"] [xml="fields"]>[xml] input{
	width:100%;
	height: 26px;
	line-height: 26px;
}
.view[platform=pc] [xml="list"] [xml="fields"]>[xml] label+input{
	width:calc(100% - 60px);
}
.view[platform=pc] [xml="list"] [xml="fields"]>[xml="img"]{
	margin:auto;
	padding: 0;
}
[xml="list"] [xml="fields"] [xml="qty"] .input-wrap{
	width:calc(100% - 60px) !important;
	height:26px;
	line-height:26px;
	/* display: inline-block; */
	padding: 0;
}
[xml="list"] [xml="fields"] [xml="qty"] .input-wrap input{
	width: calc(100% - 52px) !important;
}
[xml="list"] [xml="fields"] [xml="qty"] .input-wrap span{
	width:26px;
}
[xml="a"] {
	color: #5582F3;
	text-decoration: underline;
	display: inline-block;
	padding: 10px 15px;
}
[xml="extendedpropertiespanel"]{
	padding: 10px 15px;
}
[xml="filter"]{
    width: 100%;
    padding: 10px;
    text-align: right;
    border: 1px solid #dee7ff;
    background: #ffffff;
    min-height:44px;
}
[platform="pc"] [xml="queryfilter"]{
	width:100%;
	padding: 0px 16px 20px;
}
[platform="pc"] [xml="queryfilter"].short-queryfilter{
	width:auto;
}
[platform="pc"] [xml="queryfilter"] .conditions-container>span{
	color:#999;
	font-size:12px;
	margin:5px;
}
[platform="pc"] [xml="queryfilter"].list-queryfilter .filter-list{
	background-color: #f3f8ff;
	border: 1px solid #dee7ff;
	display: block;
	padding: 0 10px;
}
[platform="pc"] [xml="queryfilter"].list-queryfilter .filter-list>[xml].select-data-ctrl{
	width: 100%;
	height:24px;
	line-height:24px;
}
[platform="pc"] [xml="queryfilter"].list-queryfilter .filter-list>[xml].select-data-ctrl>label,
[platform="pc"] [xml="queryfilter"].list-queryfilter .filter-list>[xml].select-data-ctrl>input{
	height:24px;
	line-height:24px;
	color:#999;
	font-size:12px;
	text-align:left;
}
[platform="pc"] [xml="queryfilter"].list-queryfilter .filter-list>[xml].select-data-ctrl>input{
	border:0;
}
[platform="pc"] [xml="queryfilter"].list-queryfilter .filter-list>[xml].select-data-ctrl>i{
    display:none;
}
[xml="searcher"]{
	 width: 100%;
	 padding: 10px;
}
[xml="searcher"]>input{
	width:55%;
}
[xml="searcher"]>input+span{
    width: 20px;
    height: 26px;
    background: #23a5fd;
    text-align: center;
    line-height: 25px;
    position: relative;
    left: -4px;
    top: -1px;
}
[xml="searcher"] .icon-search{
	color:#ffffff;
}
[xml="tree"]{
	float: left;
    height: 100%;
    background: #ffffff;
    border: 1px solid #cccccc;
    margin: 10px;
    min-height: 200px;
    padding: 10px;
}
[xml="listdatagrid"]{
    background: #ffffff;
    padding: 10px;
    min-height: 300px;
    width:100%;
}
/**[xml="textarea"],[xml="attachmentlist"]{
	padding:10px 15px;
	margin:5px;
	height:auto;
}
.show:not([xml="fields"]) [xml="textarea"],
.show:not([xml="fields"]) [xml="attachmentlist"]{
	width:32%;
}*/
[xml="blank"]{
    width:100%;
    height:10px;
    border: 1px dotted #666666;
}
/**[xml="textarea"] textarea{
    min-height: 40px;
    min-width: calc(100% - 80px);
}*/
[xml="menubuttongroup"]{
	padding: 0 10px;
    border: 1px solid #4084F2;
    margin: 10px 10px;
}
[xml="menubuttongroup"] .dropdown-menu{
	display:inline-block;
}
[xml="htmltext"]{
	width:100%;
}
[xml].input-ctrl [type="checkbox"]{
	width:max-content;
}
[xml]:hover{
    cursor:pointer;	
}
[xml="latticepanel"],[xml="panel"],[xml="html"],[xml="htm"]{
    width: 100%;
    display: block;
}
[platform="pc"] [cols24]{
    display:inline-block;
}
[platform="pc"] [xml="panel"][position="left"] {
    float: left;
    width: auto;
    height: inherit;
}
[platform="pc"] [xml="panel"][position="right"] {
    float: right;
    width: auto;
    height: inherit;
}
[xml="simpleoption"],[xml="filtertab"]{
    margin: 5px 10px;
    border: 1px solid #cccccc;
    padding: 5px;
}
[xml="filtertab"]{
	border:none;
}
[xml="filtertabgroup"],
[xml="simplefilter"]{
	width:100%;
	background: #ffffff;
	padding:10px 0;
	border: 1px dotted #666666;
}
[xml="filtertabgroup"] span{
    width: auto;
    background: none;
}
[xml="scancode"]{
	width: 200px;
    height: 200px;
    background: #ffffff;
    padding: 10px;
    border: 1px dotted #666666;
}
[xml="filtertabgroup"] ul{
	display:inline-block;
}
[xml="fields"] [xml].select-ctrl ul{
	position:relative;
	max-height: 200px;
	overflow-y:auto;
	width:80px;
}
[xml="button"]{
    vertical-align: bottom;
    color: #fff;
    background-color: #5582F3;
    padding:0px 10px;
    border:none;
    margin-left: 10px;
    height: 28px;
    border-radius: 2px;
    text-align: center;
}
.view[platform='pc'] i[xml="button"]{
	background:transparent;
	padding:0;
	margin:0;
	color:#999999;
}
.view[platform='pc'] i[xml="button"][active="true"]{
	color:#5582F3;
}
.view[platform='pc'] [xml="menubutton"]::after,
[xml="button"]::after{
	display:inline-block;
	content: '';
	height: 100%;
	vertical-align:middle;
}
[xml="menubutton"] .iconfont2,
[xml="menubuttongroup"] .iconfont2,
[xml="button"] .iconfont2{
    font-size: 16px;
    vertical-align: middle;
    cursor: auto;
}
[xml="menubutton"].danger,
[xml="menubuttongroup"].danger,
[xml="button"].danger{
    color: #FFFFFF;
    background-color: #fd6c6a;
    border-color: #fd6c6a;
}
[xml="menubutton"].warning,
[xml="menubuttongroup"].warning,
[xml="button"].warning{
    color: #FFFFFF;
    background-color: #ed812b;
    border-color: #ed812b;
}
[xml="menubutton"].success,
[xml="menubuttongroup"].success,
[xml="button"].success{
    color: #FFFFFF;
    background-color: #26b175;
    border-color: #26b175;
}
[xml="menubutton"].primary,
[xml="menubuttongroup"].primary,
[xml="button"].primary{
    color: #FFFFFF;
    background-color: #5582f3;
    border-color: #5582f3;
}
[xml="panel"] [xml="listdatagrid"],
[xml="panel"] .block,
[xml="panel"] .block .block-content,
[xml="panel"] .block .block-content table{
	width:100%;
	overflow: auto;
}
[xml="simplefilter"]>div{
    float: right;
    width: 60%;
}
[xml="simplefilter"] select{
   width: 150px;
   display: inline-block;
}
[xml="simplefilter"] select option{
	width:150px;
	margin:0;
}
[xml="simplefilter"] select+input{
    border: 1px solid #cccccc;
    padding: 5px;
    width: 70%;
}
[xml="simplefilter"] form{
    box-shadow: 0px 8px 20px 10px rgba(0,0,0,0.2);
    margin: 20px;
    padding: 20px;
}
[xml="datagrid"] [xml="fields"] [xml="qty"]>label+div,
[xml="datagrid"] [xml="fields"] [xml="decimal"]>label+div,
[xml="datagrid"] [xml="fields"] [xml="textarea"] textarea,
[xml="datagrid"] [xml="fields"] [xml].select-ctrl ul,
[xml="datagrid"] [xml="fields"] [xml].select-ctrl ul+i,
[xml="datagrid"] [xml="fields"] [xml="radiogroup"] ul,
[xml="datagrid"] [xml="fields"] [xml="checkboxgroup"] ul{
	display:none !important;
}
.block-content>td[xml].input-ctrl{
	min-width:200px !important;
}
[xml="navtabgroup"]{
	background:#ffffff;
	width:100%;
	padding:10px;
}
[xml="navtab"]{
	padding: 5px 10px;
    border: 1px solid #5582F3;
    margin-right:10px
}
[platform="pc"] [xml='toolbar'] [xml='button'],
[platform="pc"] [xml='toolbar'] [xml='menubutton']{
    color: #5582f3;
    background: rgba(85,130,243, 0.05);
    border: 1px solid rgba(85,130,243, 0.2);
}
[required="false"] .required:after{
    visibility:hidden;
}
[xml="kswiper"] .swiper-button-next, [xml="kswiper"] .swiper-button-prev{
	display:none;
}
[xml="palette"] {
  display: inline-flex;
  margin-bottom: 6px;
}
[xml="palette"] .us6v-ci {
  width: 22px;
  height: 22px;
  display: inline-flex;
  margin: 0 10px;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
}
[xml="palette"] .cus-radio-img-i {
  top: 0;
  color: #ffffff;
  font-size: 20px;
}
[xml="palette"] .active {
  display: none;
}
[xml="palette"] .colorPoper {
  position: relative;
  width: 22px;
  height: 22px;
  background-color: rgb(85, 130, 243);
  border-radius: 2px;
}
[xml="palette"] .colorPoper .el-icon-arrow-down {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) scale(0.8);
  color: #fff;
}

.view[platform=pc] [xml="levelmenu"] {
  height: 320px;
  float: left;
  overflow: hidden;
}
.view[platform=pc] [xml="levelmenu"] ul {
  float: left;
  width: 140px;
  height: 100%;
  overflow: auto;
  border-right: 1px solid #e0e0e0;
  padding: 8px 10px 10px 12px;
}
.view[platform=pc] [xml="levelmenu"] ul li {
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  border-radius: 4px;
  margin-bottom: 20px;
  color: #666666;
  padding: 0 4px;
  cursor: pointer;
}
.view[platform=pc] [xml="levelmenu"] ul li .iconfont2 {
  color: #ffffff;
  float: right;
}
.view[platform=pc] [xml="levelmenu"] ul li.active {
  background: #2386ee;
  color: #ffffff;
}
.view[platform=pc] [xml="levelmenu"] ul li.active .iconfont2 {
  color: #ffffff;
}
.view[platform=pc] [xml="imggroup"] .cus-ImgGroup {
  position: relative;
}
.view[platform=pc] [xml="imggroup"] .cus-ImgGroup i.iconsousuoicon{
	position: absolute;
    left: 421px;
    bottom: 73px;
    font-size: 26px;
    color: #5582f3;
    background: #dee7ff;
    border-radius: 2px 0px 0px 0px;
    height: 30px;
    width: 30px;
    text-align: center;
}
.view[platform=pc] [xml="imggroup"] .cus-imggroup-big{
	width: 450px;
	height: 450px;
	text-align: center;
	line-height: 450px;
	border: 1px solid #dee7ff;
}
.view[platform=pc] [xml="imggroup"] .cus-imggroup-big img{
	margin: auto;
    display: inline-block;
}
.view[platform=pc] [xml="imggroup"] .cus-imggroup-big .load-err-block{
	background:#f5f5f5;
}
.view[platform=pc] [xml="imggroup"] .cus-img-big-detail{
	width: 600px;
    height: 600px;
    position: absolute;
    border: 1px solid #dee7ff;
    left: 452px;
    top: 0;
    z-index: 100;
    background: #ffffff;
    overflow: hidden;
}
.view[platform=pc] [xml="imggroup"] .cus-img-big-detail img{
	width: 1350px;
    height: 1350px;
}
.view[platform=pc] [xml="imggroup"] .cus-img-group{
	height: 62px;
	overflow-y: hidden;
	width: 370px;
	overflow-x: hidden;
	display: inline-block;
	position:relative;
	top:20px;
}
.view[platform=pc] [xml="imggroup"] .cus-imggroup-small {
	width: 56px;
	height: 56px;
	margin-left: 15px;
	display: inline-block;
	border: 2px solid #ffffff;
}
.view[platform=pc] [xml="imggroup"] .img-content {
	margin: auto;
    display: inline-block;
    height: 100%;
    width: 100%;
}
.view[platform=pc] [xml="imggroup"] .el-image {
	width: 100%;
    height: 100%;
}
.view[platform=pc] [xml="imggroup"] .load-err-block {
	background: #dee7ff;
}
.view[platform=pc] [xml="imggroup"] .load-err-block i{
	font-size: 50px !important;
    color: #ffffff;
}
.view[platform=pc] [xml="imggroup"] .cus-imggroup-small:hover,
.view[platform=pc] [xml="imggroup"] .cus-imggroup-small.active{
    border: 2px solid #5582f3;
}
.view[platform=pc] [xml="imggroup"] .cus-imggroup-bottom .prev,
.view[platform=pc] [xml="imggroup"] .cus-imggroup-bottom .next{
	height: 58px;
    display: inline-block;
    line-height: 58px;
    width: 20px;
    top: -10px;
    position: relative;
}
.view[platform=pc] [xml="imggroup"] .cus-imggroup-bottom .prev i,
.view[platform=pc] [xml="imggroup"] .cus-imggroup-bottom .next i{
	font-size: 58px;
    position: relative;
    left: -18px;
    display: inline-block;
    color: #dee7ff;
}
.view[platform=pc] [xml="imggroup"] .cus-imggroup-bottom .active i{
	color: #5582f3;
}
.view[platform=pc] [xml="imggroup"] .cus-imggroup-bottom .next{
	margin-left: 20px;
}
.view[platform=pc] [xml="imggroup"] .cus-imggroup-bottom .next i{
	transform: rotate(-180deg);
}
[xml="kswitch"] .switch-wrapper{
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}
[xml="kswitch"] .switch-input{
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    outline: none;
}
[xml="kswitch"] .switch-input::before{
    content: '';
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
}
.view[platform="pc"] [xml="kswitch"]{
    margin: 20px 20px 20px 0;
}
.view[platform="pc"] [xml="kswitch"] .switch-input{
    width: 40px;
    height: 20px;
    border: 1px solid #dcdfe6;
    border-radius: 10px;
    background-color: #dcdfe6;
    vertical-align: middle
}
.view[platform="pc"] [xml="kswitch"] .switch-input::before{
    top: 1px;
    left: 1px;
    width: 16px;
    height: 16px;
}
.view[platform="pc"] .swiper-container{
    width:100%;
	height:260px;
}
.view[platform="pc"] .swiper-container .swiper-slide{
	text-align:center;
}
.view[platform="pc"] .swiper-container .swiper-slide img{
	margin:auto;
}
.view[platform="pc"] [xml="steps"] {
    display: flex;
    background: #ffffff;
    visibility: visible;
    flex-wrap: nowrap;
}
.view[platform="pc"] [xml="step"] {
    position: relative;
    flex-shrink: 1;
    flex: 1;
    margin: 20px 0;
}
.view[platform="pc"] [xml="steps"],
.step-icon, 
.step-name{
    text-align: center;
}
.view[platform="pc"] [xml="step"] .step-icon{
    position: relative;
}
.view[platform="pc"] [xml="step"] .step-line{
    position: absolute;
    left:62%;
    right: -38%;
    height: 1px;
    top: 50%;
    transform: translateY(-50%);
    border-color: inherit;
    background: #f5a623;
    overflow: hidden;
}
.view[platform="pc"] [xml="step"]:last-of-type .step-line{
	display: none;
}
.view[platform="pc"] [xml="step"] .step-icon .icon-wrapper{
    position: relative;
    z-index: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 0;
    line-height: 30px;
    font-size: 14px;
}
.view[platform="pc"] [xml="step"] .step-icon .iconfont{
    color: #f5a623;
    font-size: 16px;
}
.view[platform="pc"] [xml="step"] .step-name{
    font-size: 12px;
    color: #f5a623;
    line-height: 38px;
}
.no-edit{
    color: inherit;
    font-size:12px;
    flex: 1;
    text-align: inherit;
}
.view[platform="pc"] [xml="multilanguagetext"] input{
    width: 100%;
    box-sizing: border-box;
    height: 35px;
    line-height: 35px;
    border-radius: 0px;
    outline: none;
    border: 1px solid #DCDFE6;
    background-color: #fff;
    padding: 0 30px 0 15px;
}
.view[platform="pc"] .simple-queryfilter{
    display: flex;
}
.view[platform="pc"] .simple-queryfilter [xml="defaultfilter"] {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex:1;
}

.view[platform="pc"] .simple-queryfilter [xml]{
	width: auto;
	margin-bottom: 0;
}
.view[platform="pc"] .simple-queryfilter [xml="defaultfilter"]{
    padding: 1px;
}
.view[platform="pc"] .simple-queryfilter [xml="defaultfilter"] .filter-left{
	min-width: 340px;
}
.view[platform="pc"] .simple-queryfilter [xml="defaultfilter"] [xml="radiogroup"]{
	display:flex;
	height:auto;
}
.view[platform="pc"] .simple-queryfilter [xml="defaultfilter"] .filter-left,
.view[platform="pc"] .simple-queryfilter [xml="defaultfilter"] .filter-right{
    display: flex;
    flex-wrap: nowrap;
}
.view[platform="pc"] .simple-queryfilter [xml="defaultfilter"] [xml],
.view[platform="pc"] .simple-queryfilter [xml="defaultfilter"] input,
.view[platform="pc"] .simple-queryfilter [xml="defaultfilter"] .input-icon,
.view[platform="pc"] .simple-queryfilter [xml="defaultfilter"] [xml="radiogroup"] label,
.view[platform="pc"] .simple-queryfilter [xml="defaultfilter"] [xml="select"] ul{
    line-height: 24px;
	height:24px;
	box-sizing:border-box;
}
.view[platform="pc"] .simple-queryfilter [xml="defaultfilter"] [xml="radiogroup"] ul,
.view[platform="pc"] .simple-queryfilter [xml="defaultfilter"] [xml="select"] ul{
	overflow-y:hidden;
}
.view[platform="pc"] .simple-queryfilter [xml="defaultfilter"] [xml="radiogroup"]{
	border: none;
}
.view[platform="pc"] .simple-queryfilter [xml="defaultfilter"] [xml="radiogroup"] label{
	width: auto;
	padding-right: 15px;
	flex-shrink: 0;
}
.view[platform="pc"] .simple-queryfilter [xml="defaultfilter"] [xml="radiogroup"] ul{
	display: flex;
	flex-wrap: nowrap;
	width: auto;
	margin-right: 0;
}
.view[platform="pc"] .simple-queryfilter [xml="defaultfilter"] [xml="radiogroup"] ul li{
	flex-shrink:1;
	margin-right: 10px;
}
.view[platform="pc"] .simple-queryfilter [xml="defaultfilter"] [xml="radiogroup"] ul li{
	padding: 0px 8px;
    border-radius: 2px;
    border: 1px solid #dcdfe6;
    white-space:nowrap;
}
.view[platform="pc"] .simple-queryfilter [xml="defaultfilter"] [xml="radiogroup"] ul li label{
    padding: 0;
}
.view[platform="pc"] .simple-queryfilter [xml="defaultfilter"] [xml="radiogroup"] input[type="radio"]{
	display: none;
}
.view[platform="pc"] .simple-queryfilter [xml="defaultfilter"] [xml="select"] label{
	display:none;
}
.view[platform="pc"] .simple-queryfilter [xml="defaultfilter"] [xml="select"] ul{
	width: 92px;
}
.view[platform="pc"] .simple-queryfilter [xml="defaultfilter"] [xml="text"] input{
	width:145px;
	float:left;
}
.view[platform="pc"] .simple-queryfilter [xml="defaultfilter"] [xml="text"] i{
	position:relative;
	float:right;
	background-color: #5582f3;
    border-color: #5582f3;
    color: #fff;
    font-style:normal;
    padding: 0 8px;
    line-height: 24px;
    font-size: 14px;
    margin-right:0;
}
.view[platform="pc"] [xml="morefilter"] .morefilter-content {
    display: none;
	position:fixed;
	background: #fff;
	border: 1px solid #e0e0e0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0px 8px 20px 10px rgba(0,0,0,0.2);
	padding: 20px 20px 30px;
	box-sizing: border-box;
}
.view[platform="pc"] [xml="morefilter"] .morefilter-content>[xml]{
	margin-bottom: 18px;
	vertical-align: top;
	width: 33.33333%;
}
.view[platform="pc"] [xml="morefilter"] .morefilter-content .morefilter-head{
    padding-bottom: 40px;
}
.view[platform="pc"] [xml="morefilter"] button{
	display: flex;
	justify-content:center;
	align-items: center;
	border: 1px solid #e0e0e0;
    border-radius: 2px;
    padding: 3px 8px !important;
    box-sizing: border-box;
    height: 24px;
    line-height: 12px;
    background:#fff;
}
.view[platform="pc"] [xml="morefilter"] .icongengduo1{
	font-size: 12px;
    color: #c1c1c1;
    margin-left: 3px;
}