@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1657521379539') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-suoxiao:before {
  content: "\f01b4";
}

.icon-quanping:before {
  content: "\f01b7";
}

.icon-xiangshangjiantou:before {
  content: "\e65d";
}

.icon-xiangxiajiantou:before {
  content: "\e65e";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-jiantou_shangyiye:before {
  content: "\eb06";
}

.icon-jiantou_xiayiye:before {
  content: "\eb07";
}

.icon-jiantou_shangyiye_o:before {
  content: "\eb8e";
}

.icon-jiantou_xiayiye_o:before {
  content: "\eb8f";
}

.icon-chat-round:before {
  content: "\ed4e";
}

.icon-document-remove:before {
  content: "\ed4f";
}

.icon-first-aid-kit:before {
  content: "\ed50";
}

.icon-hide:before {
  content: "\ed51";
}

.icon-mobile-phone:before {
  content: "\ed52";
}

.icon-full-screen:before {
  content: "\ed53";
}

.icon-microphone:before {
  content: "\ed54";
}

.icon-lock:before {
  content: "\ed55";
}

.icon-picture:before {
  content: "\ed56";
}

.icon-open:before {
  content: "\ed57";
}

.icon-view:before {
  content: "\ed58";
}

.icon-turn-off-microphone:before {
  content: "\ed59";
}

.icon-turn-off:before {
  content: "\ed5a";
}

.icon-zoom-out:before {
  content: "\ed5b";
}

.icon-zoom-in:before {
  content: "\ed5c";
}

.icon-unlock:before {
  content: "\ed5d";
}

.icon-aixin:before {
  content: "\e67f";
}

.icon-caidanzhankai:before {
  content: "\e680";
}

.icon-bianji:before {
  content: "\e681";
}

.icon-caidanshouqi:before {
  content: "\e682";
}

.icon-dingwei:before {
  content: "\e683";
}

.icon-dianhua:before {
  content: "\e684";
}

.icon-baocun:before {
  content: "\e685";
}

.icon-biyan:before {
  content: "\e686";
}

.icon-dianzan:before {
  content: "\e687";
}

.icon-ditu:before {
  content: "\e688";
}

.icon-fenxiang:before {
  content: "\e689";
}

.icon-gouwuche:before {
  content: "\e68a";
}

.icon-liebiao:before {
  content: "\e68b";
}

.icon-nan:before {
  content: "\e68c";
}

.icon-nv:before {
  content: "\e68d";
}

.icon-shaixuan:before {
  content: "\e68e";
}

.icon-rili:before {
  content: "\e68f";
}

.icon-jiazaizhong:before {
  content: "\e690";
}

.icon-tuichu:before {
  content: "\e691";
}

.icon-caret-bottom:before {
  content: "\e605";
}

.icon-caret-left:before {
  content: "\e606";
}

.icon-caret-right:before {
  content: "\e607";
}

.icon-caret-top:before {
  content: "\e608";
}

.icon-circle-check:before {
  content: "\e609";
}

.icon-circle-close:before {
  content: "\e60a";
}

.icon-d-caret:before {
  content: "\e60b";
}

.icon-delete:before {
  content: "\e60c";
}

.icon-circle-plus:before {
  content: "\e60d";
}

.icon-download:before {
  content: "\e60e";
}

.icon-edit:before {
  content: "\e60f";
}

.icon-date:before {
  content: "\e610";
}

.icon-error:before {
  content: "\e611";
}

.icon-close-notification:before {
  content: "\e612";
}

.icon-info:before {
  content: "\e613";
}

.icon-more-outline:before {
  content: "\e614";
}

.icon-refresh:before {
  content: "\e615";
}

.icon-success:before {
  content: "\e616";
}

.icon-warning:before {
  content: "\e617";
}

.icon-Arrow-down:before {
  content: "\e618";
}

.icon-Calendar:before {
  content: "\e619";
}

.icon-Arrow-up:before {
  content: "\e61a";
}

.icon-a-Chevron-Left2:before {
  content: "\e61b";
}

.icon-Chevron-down:before {
  content: "\e61c";
}

.icon-Chevron-up:before {
  content: "\e61d";
}

.icon-a-Chevron-Right2:before {
  content: "\e61e";
}

.icon-CheckMark:before {
  content: "\e61f";
}

.icon-Chevron-Right:before {
  content: "\e620";
}

.icon-Eye:before {
  content: "\e621";
}

.icon-CloseDefault:before {
  content: "\e622";
}

.icon-Download:before {
  content: "\e623";
}

.icon-More:before {
  content: "\e624";
}

.icon-Plus:before {
  content: "\e625";
}

.icon-EyeInvisible:before {
  content: "\e626";
}

.icon-Redo:before {
  content: "\e627";
}

.icon-Plus-Rectangle:before {
  content: "\e628";
}

.icon-Upload:before {
  content: "\e629";
}

.icon-Search-20:before {
  content: "\e62a";
}

.icon-Chevron-Left:before {
  content: "\e62b";
}

