@CHARSET "UTF-8";

html,body
{
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	background-color: #E2E7EF;
}

.extreport-snap-manage
{
	position: absolute;
	width: 100%;
	height: 100%;
}

.extreport-snap-manage-toolbar
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    overflow: visible;
    padding-left: 18px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
    background-color: #fff;
    width: 100%;
    height: 45px;
}	

.extreport-snap-manage-container
{
	position: absolute;
    left: 10px;
    right: 0px;
    top: 50px;
    bottom: 2px;
    overflow: hidden;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.15);
}

.extreport-snap-group-container
{
	overflow-x: hidden;
    overflow-y: hidden;
    background: #FFFFFF;
}

.extreport-snap-group-op
{
	width: 100%;
	height: 47px;
	left: 0px;
	top: 0px;
	position: absolute;
	background-color: #fff;
	border-bottom: 1px solid rgba(0, 0, 0, .15);
}

.extreport-snap-group-title
{
	font-size: 14px;
	color: #4e5667;
	margin-left: 36px;
	margin-top: 15px;
	margin-bottom: 15px;
	display: inline-block;
	line-height: 17px;
}

.add-extreport-snap-group
{
	width: 16px;
	height: 16px;
	display: inline-block;
	float: right;
	margin: 16px 34px;
	cursor: pointer;
}

.extreport-snap-group-all-list
{
	top: 48px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	position: absolute;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.extreport-snap-group-container .extreport-snap-group-op .export-extreport
{
	width: 16px;
	height: 16px;
	display: inline-block;
	float: right;
	margin: 16px 8px;
	cursor: pointer;
}

.extreport-snap-group-container .extreport-snap-group-op .import-extreport-snap-file
{
	width: 0;
	height: 0;
	position:absolute;
	left:-100px;
}

.extreport-snap-group-container .extreport-snap-group-op .import-extreport
{
	width: 16px;
	height: 16px;
	display: inline-block;
	float: right;
	margin: 16px 8px;
	cursor: pointer;
}

.extreport-snap-group-list
{
	background-color: #fff;
	border-bottom: 1px solid rgba(0, 0, 0, .15);
	padding-left: 36px;
	width: 100%;
	height: 47px;
}

.extreport-snap-group-list:hover
{
	background-color: #F6F7F9;
}

.extreport-snap-group-container .extreport-snap-group-selected:hover
{
	background-color: #E2E7EF;
}

.extreport-snap-group-selected
{
	background: -webkit-linear-gradient(top,#E2E7EF,white);
	color: #5582f3;
	color: var(--color-main, #5582f3);
	border-left: 3px solid #5582f3;
	border-left: 3px solid var(--color-main, #5582f3);
	width: 100%;
	border-right: 0px;
	box-sizing: content-box;
}

.extreport-snap-group-list .extreport-snap-group-title-text
{
	display: block;
	margin-top: 15px;
	margin-bottom: 15px;
	height: 15px;
	width: 100px;
	float: left;
	font-size: 14px;
	color: #333;
	outline: none;
}

.extreport-snap-group-list .extreport-snap-group-title-span
{
	display: block;
	margin-top: 15px;
	margin-bottom: 15px;
	line-height: 18px;
	cursor: pointer;
	word-wrap: break-word;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 80%;
	float: left;
	font-size: 14px;
	height: 18px;
}

.extreport-snap-group-list .delete-button
{
	width: 16px;
    height: 16px;
    float: right;
    cursor: pointer;
    position: absolute;
    right: 10px;
	margin-top: 15px;
	display: none;
}
.extreport-snap-group-list:hover .delete-button
{
	display: inline-block;
}
.extreport-snap-group-list .edit-button
{
	width: 16px;
    height: 16px;
    float: right;
    cursor: pointer;
    right: 30px;
	margin-top: 15px;
    position: absolute;
	display: none;
}
.extreport-snap-group-list:hover .edit-button
{
	display: inline-block;
}
.extreport-snap-group-list .moveup-button
{
	width: 16px;
    height: 16px;
    float: right;
    cursor: pointer;
    right: 50px;
    position: absolute;
	margin-top: 15px;
	display: none;
}
.extreport-snap-group-list:hover .moveup-button
{
	display: inline-block;
}

.extreport-snap-container
{
	overflow-y: auto;
	background-color: #FFFFFF;
}


.extreport-snap-detail-container
{
	margin: 12px 20px 0px 20px;
	width: 260px;
	height: 105px;
	cursor: pointer;
}



.extreport-snap-confirm-box
{
	width: 368px;
	height: 185px;
}

.extreport-snap-manage-deldialog-confirm-msg
{
	width: 370px;
	height: 23px;
	text-align: center;
	display: inline-block;
	margin-top: 5px;
	line-height: 23px;
	font-size: 14px;
	 text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    word-break: break-all;
}

.extreport-snap-group-name-edit
{
	position: absolute;
	margin-top: 14px;
	height: 20px;
	width: 115px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.search-result-close
{
	background: #5582f3;
	background-color: var(--color-main, #5582f3);
}
.extreport-snap-search-icon
{
	right: 165px;
    float: right;
    width: 16px;
    height: 16px;
    top: 16px;
    position: absolute;
}
.extreport-snap-search-box
{
	width: 180px;
    height: 43px;
    float: right;
    right: 165px;
    position: absolute;
}
.extreport-snap-searching-icon
{
	right: 370px;
    width: 20px;
    height: 20px;
    top: 16px;
    position: absolute;
}
.extreport-snap-searchtype-combobox
{
	width: 90px;
    height: 45px;
    right: 80px;
    position: absolute;
}
.extreport-snap-twinkle-high-light
{
	border: 1px solid #5582f3;
	border: 1px solid var(--color-main, #5582f3);
	box-shadow: 0 0 0 1px #5582f3;
	box-shadow: 0 0 0 1px var(--color-main, #5582f3);
}
.extreport-snap-card-selected
{
	border: 1px solid #5582f3;
	border: 1px solid var(--color-main, #5582f3);
}

.extreport-snap-export-tree-selection-area
{
	font-size: 12px;
	position: relative;
	top: 0px;
	height: 365px;
	overflow: auto;
}

.extreport-snap-export-area
{
	font-size: 12px;
	position: relative;
	top: 6px;
	height: 90%;
	overflow: auto;
	box-sizing: content-box;
}

.extreport-snap-export-with-datasource-switchbutton
{
	position: absolute;
	width: 31px;
	height: 19px;
	top: 340px;
	left: 0px;
}

.extreport-snap-export-with-datasource-text
{
	position: absolute;
	width: 100px;
	height: 20px;
	left: 42px;
	top: 341px;
}

.extreport-snap-export-area-list-item
{
	position: absolute;
	height: 23px;
	width: 300px;
	cursor: default;
	color: #666;
	margin-left: -16px;
}

.extreport-snap-export-area-list-item-icon
{
	position: absolute;
	left: 25px;
	width: 16px;
	height: 16px;
	top: 48%;
	margin-top: -8px;
}

.extreport-snap-export-area-list-item-checkbox
{
	position: absolute;
	left: 20px;
	height: 20px;
	width: 20px;
	line-height: 23px;
}

.extreport-snap-export-area-list-item-text
{
	position: absolute;
	left: 45px;
	line-height: 23px;
	width: 300px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.extreport-snap-export-area-list-item-text-preset
{
	color: red;
}

.extreport-snap-import-selection-prompt
{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 10px;
	width: 400px;
}

.extreport-snap-import-selection-table
{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 64px;
	bottom: 0px;
}
.extreport-snap-import-selection-ignore-btn
{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 30px;
	width: 80px;
	height: 23px;
	font-size: 12px;
	border-radius: 4px;
}

.extreport-snap-import-selection-overwrite-btn
{
	position: absolute;
	left: 100px;
	right: 0px;
	top: 30px;
	width: 80px;
	height: 23px;
	font-size: 12px;
	border-radius: 4px;
}

.extreport-snap-import-selection-rename-btn
{
	position: absolute;
	left: 200px;
	right: 0px;
	top: 30px;
	width: 80px;
	height: 23px;
	font-size: 12px;
	border-radius: 4px;
}

.extreport-snap-publishto-selector
{
	position: absolute;
    border-radius: 2px;
    z-index: 99;
    box-shadow: 0 1px 6px 0 #ccc;
    background: #fff;
    min-width: 132px;
    margin-left: 62px;
    margin-top: 16px;
}
.extreport-snap-publishto-selector-item
{
    color: #828282;
    z-index: 99;
    cursor: pointer;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    padding-left: 10px;
    padding-right: 10px;
    /**border-bottom: 1px solid #eee;*/
}
.extreport-snap-publishto-selector-item:hover
{
	background-color: #eff3fd;
	background-color: var(--color-pale, #eff3fd);
	color: #5582f3;
	color: var(--color-main, #5582f3);
}

.snap-search-box
{
	position: absolute;
	right: 30px;
	width: 171px;
	height: 33px;
	float: right;
	bottom: 6px;
}

/**复写原有tab组件的head宽度大小 */
.sa-ctrl-tab-head
{
	width: 49%;
}

.snap-info-table-checkbox
{
	position : absolute;
	left : 40%;
	top : 2px;
	width : 23px;
	height : 23px;
}

.snap-info-table-cell-text
{
	line-height : 28px;
	padding-left : 2px;
	padding-right : 2px;
}