/*body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}*/

.table {
    display: table;
    width: 100%;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    border-collapse: collapse;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    padding: 8px;
    text-align: center;
}

.header .cell {
    font-weight: bold;
}

.header{
	font-weight: 400;
	color: #999999;
}


.cell:nth-child(1) {
    width: 10%;
}

.cell:nth-child(2),
.cell:nth-child(5) {
    width: 25%;
}

.cell:nth-child(3),
.cell:nth-child(4) {
    width: 20%;
}

.gold {
    background-image: url('1.png');
	background-repeat:no-repeat;
	background-position:center;
}

.silver {
    background-image:url('2.png');
	background-repeat:no-repeat;
	background-position:center;
}

.bronze {
    background-image: url('3.png');
	background-repeat:no-repeat;
	background-position:center;
}

.echarts-tooltip {
    background-color: rgba(16,46,134,0.60);
    color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    min-width: 290px; /* 设置最小宽度来对齐内容 */
}

.echarts-tooltip .title {
    display: flex;
    align-items: center; /* 垂直居中 */
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.echarts-tooltip .title img {
    width: 20px;
    height: 20px;
    margin-left: 8px;
}

.echarts-tooltip .content {
    display: flex;
    flex-direction: column;
}

.echarts-tooltip .content .labels,
.echarts-tooltip .content .values {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
}

.echarts-tooltip .content .values {
    font-weight: bold;
}
.labels{
	opacity: 0.6;
	font-family: MicrosoftYaHei;
	font-size: 12px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 18px;
	font-weight: 400;
	
}

.values{
	font-family: DINAlternate-Bold;
	font-size: 15px;
	color: #FFFFFF;
	letter-spacing: 0;
	font-weight: 700;
	
}
