.requiredTips {
    color: red;
}

.norequiredTips {
    display: none;
}

.dimensions_head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 17px;
}

.dimensions_content {
    margin-left: 12px;
}

.dimensions_title {
    color: #333333;
    font-size: 14px;
    margin-right: 0px;
    margin-bottom: 0px;
    border-left: 3px solid rgb(14, 95, 216);
    padding-left: 8px;
    height: 16px;
    line-height: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 300px;
}

.dimensions_discription {
    color: #999999;
    font-size: 12px;
    margin-left: 8px;
    margin-top: 5px;
}

.question_title {
    color: #666666;
    font-size: 12px;
    margin-bottom: 12px;
}

.question_desc {
    color: #999999;
}

.question_box {
    margin: 12px 0 24px 0;
}

.checkbox_sign {
    display: inline-block;
    padding: 0px 6px;
    border-radius: 10px;
    background: #F5F5F5;
    border: 1px solid rgba(204, 204, 204, 1);
    color: #666666;
}

.textareaBox {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 1px solid #d9d9d9;
    color: #3d4653;
    border-radius: 2px;
    padding: 4px 8px;
}

textarea {
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    color: #212121;
    resize: none;
    border: none;
}

.comment_box {
    margin-left: 12px;
    margin-bottom: 20px;
    margin-top: -20px;
}

.comment_box_title {
    margin-bottom: 5px;
    padding-left: 5px;
    color: #666666;
}

input[type="radio"] + label {
    display: flex;
    margin-right: 30px;
    justify-content: center;
    cursor: pointer;
    color: #212121;
}

input[type="radio"] + label > span {
    font-family: kdfont !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    color: #212121;
    margin-right: 2px;
    border-radius: 50%;
}

input[type="radio"] + label > span::before {
    content: "\e9f0";
}

/* input[type="radio"]+label:hover{
 color: #FC8555;
}
input[type="radio"]+label:hover>span{
  border: 1px solid #FC8555;
 } */
/* 设置选中样式 */
/* input[type="radio"]:checked+label>span{
  color: #FC8555;
} */
input[type="radio"]:checked + label > span::before {
    content: "\e9ee";
}

input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.radioBox {
    display: flex;
    flex-wrap: wrap;
}

.radioBox > div {
    margin-bottom: 10px;
}

/* .textareaBox:hover{
  border: 1px solid #FC8555;
} */


input[type="checkbox"] {
    width: 0;
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

input[type="checkbox"] + label {
    display: flex;
    margin-right: 30px;
    justify-content: center;
    cursor: pointer;
}

/* input[type="checkbox"]+label:hover{
  color: #FC8555;
}
input[type="checkbox"]+label:hover>span{
  color: #FC8555;
} */
input[type="checkbox"] + label > span {
    font-family: kdfont !important;
    font-size: 16px;
    font-style: normal;
    color: #212121;
    margin-right: 2px;
}

input[type="checkbox"] + label > span::before {
    content: "\e9f1";
}

/* input[type="checkbox"]:checked+label>span{
  color: #FC8555;
} */
input[type="checkbox"]:checked + label > span::before {
    content: "\e9f2";
}

.checkBox {
    display: flex;
    flex-wrap: wrap;
}

.checkBox > div {
    margin-bottom: 10px;
}

.tips {
    color: #FB2323;
    border: none !important;
    height: 0px;
    display: none;
}

.nodata {
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: rgb(153, 153, 153);;
}