#fieldmptreeap .kd-tree-node-title {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
}
#fieldmptreeap .treeNodeSign {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
#fieldmptreeap .treeNodeSign i {
    font-size: 14px;
    margin-left: 6px;
}
/* #fieldmptreeap .kdfont-guolv_mian {
    color: var(--theme-color);
} */
#fieldmptreeap #searchInputSign {
    margin-top: 8px;
    align-self: center !important;
}
#fieldmptreeap  {
    overflow: hidden !important;
}
/* #fieldmptreeap .kd_hr_treeap_sign:hover {
    background-color: var(--kd-c-tree-node-color-backgroung-hover,var(--kd-g-color-hover,var(--hover-color)));
    cursor: pointer;
} */