/*!*****************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/controls/swcdetaillist/components/payDetailList.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************/
.pay-detail-list {
  display: flex;
  padding: 6px 12px;
  background: #fff;
  flex-direction: column;
  border-radius: 8px;
}
.pay-detail-list .pay-group {
  display: flex;
  flex-direction: column;
  margin-top: 6px;
}
.pay-detail-list .group-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.pay-detail-list .header-name-container {
  display: flex;
  flex: 1;
}
.pay-detail-list .header-prefix {
  width: 4px;
  height: 16px;
  background: #276ff5;
  margin-right: 8px;
}
.pay-detail-list .header-name {
  width: 156px;
  font-size: 16px;
  color: #212121;
  letter-spacing: 0;
  line-height: 20px;
  font-weight: 600;
  flex: 1;
  margin-right: 16px;
}
.pay-detail-list .header-pay {
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
  color: #212121;
  letter-spacing: 0;
  line-height: 20px;
  font-weight: 600;
  word-break: break-word;
  flex: 1;
}
.pay-detail-list .pay-item {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
}
.pay-detail-list .item-name {
  font-size: 14px;
  color: #212121;
  letter-spacing: 0;
  line-height: 20px;
  font-weight: 400;
  max-width: 157px;
  margin-right: 16px;
  word-break: break-word;
}
.pay-detail-list .item-pay {
  font-size: 14px;
  color: #212121;
  letter-spacing: 0;
  line-height: 20px;
  font-weight: 400;
  flex: 1;
  text-align: right;
}
.pay-detail-list .item-text {
  font-size: 14px;
  color: #212121;
  letter-spacing: 0;
  line-height: 20px;
  font-weight: 400;
  flex: 1;
  text-align: right;
}
.pay-detail-list .adm-divider-horizontal {
  margin: 6px 0;
}
