.CodeMirror{
	width:95%;
}

.conditionControl .selectivity-single-select-input{
	display:none;
	opacity: 0;
	border:0;
}

.conditionControl .selectivity-single-result-container{
	top: 0;
	font-size: 12px;
	line-height: 28px;
	position: absolute;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}
.labelSign {
	display: flex;
	align-items: center;
}
.inputRadio {
	opacity: 0;
    position: absolute;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    width: 0;
}

.conditionControl .selectivity-single-select {
  min-height: 26px;
  width:100%;
  height: 26px;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  box-sizing: content-box;
}

.conditionControl .selectivity-caret {
    border-top: 6.4px solid transparent;
    border-color: #333;
    top: 10px;
    border-bottom: 3px solid transparent;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
	position: absolute;
	right: 6.5px;
}


.conditionControl{
	min-width: 1012px;
	min-height:265px;
	overflow: hidden;
}

.conditionControl .ruleTitle{
	background: #FAFAFA;
    border: 1px solid #E5E5E5;
	height: 33px;
}

.conditionControl .ruleTitle>span{
	line-height:33px;
	margin-left: 8px;
}

.leftCondition{
	width:60%;
	float:left;	
	border-right: 1px #D9D9D9 solid;
	min-height: 233px;
	padding-right:2%;
	min-width: 610px;
}

.rightExpress{
	width:39%;
	min-width:400px;
	display:inline-block;
	padding-left:2%;
}

.conditionContent{
	margin-top: 8px;
}

.ruleCondition{
	width: 100%;
	border-collapse: separate;
    border-spacing: 0px 10px;
}

.ruleCondition tr{
	background: #FAFAFA;
    height: 45px;
}

.ruleCondition td
{
	padding-right: 8px;
}

.ruleCondition .nameTd{
	padding-left: 8px;
	width:38px;
	border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
	border-left: 1px solid #E5E5E5;
}
.ruleCondition .conditionParamTd{
	width:30%;
	border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;	
}
.ruleCondition .comparisonOptTd{
	width:120px;
	border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
}
.comparisonOptDiv{
    background: #fff;
	min-height: 30px;
}
.ruleCondition .valueTypeTd{
	width:80px;	
	border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
	
}
.ruleCondition .valueTd{
	/*width:25%;*/
	border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
}

.ruleCondition .copyTd{
	width:36px;
	background: #FFFFFF;
	padding-left: 1%;
}

.ruleCondition .deleteTd{
	width:36px;
	background: #FFFFFF;
}

/*下拉样式*/
.ruleCondition .conditionParam, .ruleCondition .valueParam, .ruleCondition .comparisonOpt,.ruleCondition .valueType,.ruleCondition  .valueBoolean{
	color:#000000!important;
	padding-left: 8px;
	padding-right: 8px;
    display: flex;
	background: #FFFFFF;
}

.ruleCondition .name{
	min-width: 21px;
	height: 18px;
	font-size: 12px;
	font-family: MicrosoftYaHeiSemibold;
	color: #212121;
	line-height: 18px;
}

.valueParamSelectDiv,.valueBooleanSelectDiv,.valueEnumSelectDiv,.valueDateDiv,.valueNumberDiv,.valueTextDiv{
	background: #FFFFFF;
}
/*输入框样式*/
.ruleCondition  .valueBoolean,.ruleCondition  .valueEnumText,.ruleCondition  .valueNumber,.ruleCondition  .valueDate{
	width:100%;
	min-width: 120px;
	height: 26px;
	background: #FFFFFF;
	border-radius: 2px;
	border: 0;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ruleCondition .delete,.ruleCondition .copy{
	width: 21px;
	height: 21px;
	font-size: 21px;
	line-height: 28px;
	cursor:pointer;
	color: #B2B2B2;
}

/*
.ruleCondition .conditionValueSearch{
	position: absolute;
	right: 6px;
	top: 6px;
	cursor:pointer;
}*/

.conditionControl .expressView{
	position: absolute;
	right: 6px;
	top: 4px;
	cursor:pointer;
}

.conditionTypeRadioDiv{
	padding-left: 28px;
    padding-top: 10px;
}

.conditionTypeDiv{
	height: 18px;
    font-size: 12px;
    font-family: MicrosoftYaHei;
    color: #212121;
    line-height: 18px;
	margin:10px 0;
}

.expressDiv{
	padding-left: 17px;
}

.conditionExpressDiv{
	min-width: 300px;
	background: #FFFFFF;
    border-radius: 2px;
    margin: 10px 0;
}

.rightExpress .and,.rightExpress .or,.rightExpress .leftBracket,.rightExpress .rightBracket{	
	width: 64px;
	height: 24px;
	background: #FFFFFF;
	border-radius: 2px;
	border: 1px solid #5582F3;
	font-size: 12px;
	font-family: MicrosoftYaHei;
	color: #5582F3;
	line-height: 18px;
	margin-right: 8px;
	cursor: pointer;
}

.conditionControl .conditionFloor{
	clear:both;
	height:15px;
}

#templeteTrCondition{
	display: none;
}