._3w6dMqCNqVzgcx_uONMjBZ {
  border-radius: 4px;
  font-family: "MicrosoftYaHei";
  display: flex;
  overflow-x: hidden;
}
._3w6dMqCNqVzgcx_uONMjBZ ._3NUWLLkHEuF2KqfqfqRIBc {
  flex-grow: 1;
}
._3w6dMqCNqVzgcx_uONMjBZ ._3NUWLLkHEuF2KqfqfqRIBc ._1TVePUxAG5-hMGwdNrYeXP {
  background-image: linear-gradient(0deg, #FAFAFA 0%, #F3F5F8 100%);
  display: flex;
  align-items: center;
  height: 32px;
  font-family: 'PingFangSC-Regular';
  font-size: 12px;
  color: #212121;
  letter-spacing: 0;
  line-height: 21px;
  font-weight: 400;
  border: 1px solid #d9d9d9;
}
._3w6dMqCNqVzgcx_uONMjBZ ._3NUWLLkHEuF2KqfqfqRIBc ._1TVePUxAG5-hMGwdNrYeXP span {
  display: inline-block;
  padding: 0 12px;
  border-right: 1px solid #d9d9d9;
}
._3w6dMqCNqVzgcx_uONMjBZ ._3NUWLLkHEuF2KqfqfqRIBc .w1A7utoEeo7s6QZXDNZd2 {
  display: flex;
  align-items: center;
  font-family: 'MicrosoftYaHei';
  font-size: 12px;
  color: #212121;
  height: 39px;
  line-height: 39px;
  border-left: 1px solid #d9d9d9;
}
._3w6dMqCNqVzgcx_uONMjBZ ._3NUWLLkHEuF2KqfqfqRIBc .w1A7utoEeo7s6QZXDNZd2 ._3Z1f2kK4i7TuI7tuWZ5yw_ {
  font-family: 'MicrosoftYaHeiSemibold';
  font-weight: 600;
  margin-right: 12px;
}
._3w6dMqCNqVzgcx_uONMjBZ ._3NUWLLkHEuF2KqfqfqRIBc .w1A7utoEeo7s6QZXDNZd2 ._2I7Rkzb1plck3-a4AqKe0g {
  width: 400px;
  padding: 0 12px;
  border-right: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
._3w6dMqCNqVzgcx_uONMjBZ ._3NUWLLkHEuF2KqfqfqRIBc .w1A7utoEeo7s6QZXDNZd2 ._2psTkI_wEnb8xiXc-WRa0g {
  width: 84px;
  height: 28px;
  background: #fff;
  margin-right: 12px;
}
._3w6dMqCNqVzgcx_uONMjBZ ._3NUWLLkHEuF2KqfqfqRIBc .w1A7utoEeo7s6QZXDNZd2 .xFSwWz9vIxnX1agtKdDAb {
  width: 322px;
  border-right: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  height: 100%;
  padding: 4px 12px;
}
._3w6dMqCNqVzgcx_uONMjBZ ._3NUWLLkHEuF2KqfqfqRIBc .w1A7utoEeo7s6QZXDNZd2 .xFSwWz9vIxnX1agtKdDAb .FP9eQ855HHTJQOFkyoZ0w {
  position: relative;
  height: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}
._3w6dMqCNqVzgcx_uONMjBZ ._3NUWLLkHEuF2KqfqfqRIBc .w1A7utoEeo7s6QZXDNZd2 .xFSwWz9vIxnX1agtKdDAb .FP9eQ855HHTJQOFkyoZ0w input {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100% - 24px);
  height: 100%;
}
._3w6dMqCNqVzgcx_uONMjBZ ._3NUWLLkHEuF2KqfqfqRIBc .w1A7utoEeo7s6QZXDNZd2 .xFSwWz9vIxnX1agtKdDAb .FP9eQ855HHTJQOFkyoZ0w:hover {
  border-color: var(--theme-color);
}
._3w6dMqCNqVzgcx_uONMjBZ ._3NUWLLkHEuF2KqfqfqRIBc .w1A7utoEeo7s6QZXDNZd2 .YOfSQ2Wbn7KIm-jd8Pr4n {
  flex-grow: 1;
  border-right: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  height: 100%;
  padding: 0 12px;
}
._3w6dMqCNqVzgcx_uONMjBZ ._3NUWLLkHEuF2KqfqfqRIBc .w1A7utoEeo7s6QZXDNZd2 .tYy3ugd1Jv1YJp3VmrOVO {
  width: 180px;
  border-right: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  height: 100%;
  padding: 0 12px;
}
._3w6dMqCNqVzgcx_uONMjBZ ._3NUWLLkHEuF2KqfqfqRIBc .w1A7utoEeo7s6QZXDNZd2 ._2IJJ3emcK4yT1ZfyCcyUTj {
  display: flex;
  align-items: center;
}
._3w6dMqCNqVzgcx_uONMjBZ ._3NUWLLkHEuF2KqfqfqRIBc .w1A7utoEeo7s6QZXDNZd2 ._2IJJ3emcK4yT1ZfyCcyUTj i {
  cursor: pointer;
  font-size: 20px;
  color: #B2B2B2;
}
._3w6dMqCNqVzgcx_uONMjBZ ._3NUWLLkHEuF2KqfqfqRIBc .w1A7utoEeo7s6QZXDNZd2 ._2IJJ3emcK4yT1ZfyCcyUTj i:hover {
  color: var(--theme-color);
}
._3w6dMqCNqVzgcx_uONMjBZ ._3NUWLLkHEuF2KqfqfqRIBc .ZnYzPKP0DQd9sRZ8IbZVf {
  font-size: 14px;
  color: #5582F3;
  letter-spacing: 0;
  line-height: 26px;
  height: 28px;
  font-weight: 400;
  background: #FFFFFF;
  border: 1px solid #5582f3;
  border-radius: 2px;
  padding: 0px 10px;
  display: inline-block;
  cursor: pointer;
  margin-left: 46px;
}
._3w6dMqCNqVzgcx_uONMjBZ ._18ZrJFo_mk3x1mgl5dq65q {
  margin-top: 20px;
  border-right: 1px solid #D9D9D9;
  margin-right: 40px;
  margin-left: 40px;
}
._3w6dMqCNqVzgcx_uONMjBZ .tXYjjMyAGetPEvfxGax5o {
  width: 410px;
  padding-right: 40px;
}
._3w6dMqCNqVzgcx_uONMjBZ .tXYjjMyAGetPEvfxGax5o .qt4uLJS7gtOe_dD4TkqiA {
  font-size: 12px;
  color: #212121;
  height: 40px;
  line-height: 40px;
}
._3w6dMqCNqVzgcx_uONMjBZ .tXYjjMyAGetPEvfxGax5o .Fl3L7sphU6fuCci8of2zT {
  padding: 0 12px;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  margin: 12px 0;
  min-height: 28px;
  line-height: 28px;
  font-family: 'MicrosoftYaHei';
}
._3w6dMqCNqVzgcx_uONMjBZ .tXYjjMyAGetPEvfxGax5o .Fl3L7sphU6fuCci8of2zT:hover {
  border: 1px solid var(--theme-color);
}
._3w6dMqCNqVzgcx_uONMjBZ .tXYjjMyAGetPEvfxGax5o .Fl3L7sphU6fuCci8of2zT .ANKF6H4FtV-TR5JPXZPqk,
._3w6dMqCNqVzgcx_uONMjBZ .tXYjjMyAGetPEvfxGax5o .Fl3L7sphU6fuCci8of2zT .BpqDnr2S_TjI2kYkpDenS,
._3w6dMqCNqVzgcx_uONMjBZ .tXYjjMyAGetPEvfxGax5o .Fl3L7sphU6fuCci8of2zT ._3N1tk5WIG2Ik26eCqEyBwF {
  color: blue;
  margin-right: 4px;
}
._3w6dMqCNqVzgcx_uONMjBZ .tXYjjMyAGetPEvfxGax5o .Fl3L7sphU6fuCci8of2zT .mo5xdNNI7T5FTL4poBZCL {
  color: #090;
  margin-right: 4px;
}
._3w6dMqCNqVzgcx_uONMjBZ .tXYjjMyAGetPEvfxGax5o ._1RdX6rJIxobZSHXWwclLbn ._16FDlkGWxTT7DdqQA6_shQ {
  display: flex;
  flex-direction: column;
}
._3w6dMqCNqVzgcx_uONMjBZ .tXYjjMyAGetPEvfxGax5o .r0AaHTcaz-DTO2r_NogxH {
  display: flex;
}
._3w6dMqCNqVzgcx_uONMjBZ .tXYjjMyAGetPEvfxGax5o .r0AaHTcaz-DTO2r_NogxH div {
  background: #FFFFFF;
  border: 1px solid var(--theme-color);
  color: var(--theme-color);
  line-height: 26px;
  text-align: center;
  border-radius: 2px;
  height: 28px;
  width: 64px;
  margin-right: 12px;
  cursor: pointer;
}
._9CJPQs0XUV_qLuV5tPxMW ._1D4-oNOe1Y2GdegOe_4dFE {
  height: 28px;
  border-bottom: 1px solid #D9D9D9;
  color: var(--link-color);
  cursor: pointer;
  padding: 0 12px;
  line-height: 28px;
}
._9CJPQs0XUV_qLuV5tPxMW .INu8cJcyzoXAMMSAYPt4Z {
  margin: 0 4px;
}
.Rftkgl5Pu1lc5qM3eufi4 {
  width: 300px;
}
.Rftkgl5Pu1lc5qM3eufi4 ._2yIyIDE8EVnBAdXFcJrb9S {
  height: 28px;
  display: flex;
  padding: 0 12px;
  align-items: center;
  background: var(--header-bgcolor);
}
.Rftkgl5Pu1lc5qM3eufi4 ._2yIyIDE8EVnBAdXFcJrb9S span {
  display: inline-block;
  width: 50%;
}
.Rftkgl5Pu1lc5qM3eufi4 ._1eU_6sAAh_BAfXtOth1NY2 {
  width: 100%;
}
.Rftkgl5Pu1lc5qM3eufi4 ._1eU_6sAAh_BAfXtOth1NY2 span {
  display: inline-block;
  width: 33%;
}
.Rftkgl5Pu1lc5qM3eufi4 ._1zltg_7zpoLF0QU6XX5Sqa {
  text-align: center;
  color: var(--link-color);
  cursor: pointer;
}
._2yNqiilyTpeGVYJAKFMVy0 {
  border: 1px solid #d9d9d9;
  width: 100%;
}
._2yNqiilyTpeGVYJAKFMVy0 input {
  background: transparent !important;
  padding-right: 0 !important;
}
._2yNqiilyTpeGVYJAKFMVy0 i {
  margin-right: 6px;
}
