.preview-container_vTVyF {
  width: 100%;
  height: 100%;
  min-height: 360px;
  display: flex;
}
.preview-container_vTVyF .cardStyle-wrapper_xWzK8 {
  width: 300px;
  padding: 80px 0;
}
.preview-container_vTVyF .cardStyle-wrapper_xWzK8 .cardStyle-box_mRS_t {
  height: 100%;
  border-right: 1px solid #ccc;
  display: flex;
  align-items: center;
}
.preview-container_vTVyF .preview-chart-wrapper_z3zRc {
  flex: 1;
}
.preview-container_vTVyF .preview-chart-wrapper_z3zRc .preChartWrapper_PTva5 {
  height: 100%;
}
.card-view-form-group_J7bX2 {
  width: 230px;
  height: 45px;
  margin: 15px 0;
}
.card-view-form-group_J7bX2 .title_UNL2w {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #666;
  padding-right: 10px;
}
.card-view-form-group_J7bX2 .title_UNL2w .txt_mNTBL {
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.card-view-form-group_J7bX2 .title_UNL2w .icon_egVZU {
  font-size: 16px;
  color: #666;
  margin-left: 3px;
}
.card-view-form-group_J7bX2 .title_UNL2w.required_QDnoJ {
  position: relative;
}
.card-view-form-group_J7bX2 .title_UNL2w.required_QDnoJ:after {
  content: "*";
  color: #f00;
}
.card-view-form-group_J7bX2 .info_M9iBb {
  width: 230px;
  height: 30px;
  margin-top: 4px;
  display: flex;
  align-items: center;
}
.card-view-form-group_J7bX2 .info_M9iBb span.kd-input-wrapper_LVd3V.kd-input-wrapper-size-middle_Cd_ci.i-ellipsis-inp_iDgTL:hover {
  border-color: var(--theme-color);
}
.card-view-form-group_J7bX2 .inp-icon_aQ8NX {
  cursor: pointer;
}
.card-view-form-group_J7bX2 .inp-icon_aQ8NX:hover {
  color: var(--theme-color-level5);
}


