
* {
    margin: 0;
    padding: 0;
}

.wtc_colorPicker-text {
    display: inline-block;
    position: relative;
    /*margin-bottom: 10px;*/
    color: #666;
}

.wtc_colorPicker-text .wtc_colorPicker-text-icon {
    position: absolute;
    right: -4px;
    top:0;
    color: red;
}
.wtc_colorPicker-text .wtc_colorPicker-text-tips {
    position: absolute;
    right: -22px;
    top:0;
    color: #bbb;
    font-size: 13px;
}

.color-picker-select {
    display: flex;
    width: 100%;
    /*width: 160px;*/
    height: 26px;
    cursor: pointer;
    position: relative;
    padding: 4px 0;
    border-bottom: 1px solid #999;
    overflow: hidden;
}

.color-picker-select .color-picker-btn {
    flex: 1;
}
.color-picker-select .color-picker-btn-inner {
    margin-right: 20px;
    height: 100%;
}

.color-picker-select .color-picker-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 20px;
    transition: transform 0.3s;
    height: 14px;
}
.color-picker-select .color-picker-icon .color-picker-icon-item {
    width: 6px;
    height: 6px;
    border-top: 1px solid;
    border-left: 1px solid;
    border-color: #333;
    transform: rotate(225deg);
    /*margin-top: 5px;*/
}

.color-picker-main {
    width: 286px;
    position: fixed;
    z-index: 2;
}

.color-picker-wrap {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.color-palette-wrap {
    position: relative;
    z-index: 100;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 2px, rgba(0, 0, 0, 0.3) 0px 4px 8px;
    padding: 6px;
    border-radius: 6px;
    background-color: #fff;
}

 .color-palette {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: flex-start;

}

 .color-palette p {
    width: 35px;
    height: 16px;
     margin: 5px;
     box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
}
