.qhf-trace-table-cell-callTree
{
	margin-top: 2px;
}

.qhf-trace-table-cell-content
{
	position: absolute;
	z-index: 1;
}

.qhf-trace-table-cell-content:hover
{
	background-color: #eff3fd;
	background-color: var(--color-pale, #eff3fd);
	color: #5582f3;
	color: var(--color-main, #5582f3);
}

.qhf-trace-table-cell-content-callTree
{
	padding-top: 1px;
}

.qhf-trace-table-cell-content-text
{
	position: absolute;
	line-height: 23px;
}

.qhf-trace-table-cell-callTree-content-text
{
	position: absolute;
	left: 16px;
}

.qhf-trace-right-panel-head
{
	padding: 10px;
    font-weight: 700;
    border-bottom: 1px solid rgb(204, 204, 204);
}

.qhf-trace-right-panel-attribute-content
{
	padding-left: 10px;
	padding-right: 10px;
}

.qhf-trace-icon-right-low-arrow
{
    position: absolute;
    top: 50%;
	width: 10px;
    height: 10px;
    margin-top: -8px;
    background-size: 100%;
}

.qhf-trace-icon-timer
{
  	position: absolute;
    top: 50%;
    left: -3px;
    width: 15px;
    height: 15px;
    margin-top: -9px;
    background-size: 100%;
}
