:global {
  
  .orgchartBox {
    display: flex;
  }

  .orgchartItemClass {
    flex-shrink: 0;
    overflow: auto;
    text-align: center;
  }
  .orgchart {
      background-image: none
  }
  .orgchart .contentItem {
    width: 212px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #e7f2fe;
    border-radius: 4px;
    padding: 16px 12px 16px 12px;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
}

.orgchart .contentItemInput {
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 50%;
    opacity: 0;
}

.orgchart .contentTitle {
    text-align: left;
    font-weight: 400;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* 超出几行省略 */
    overflow: hidden;
    margin-bottom: 16px;
    font-size: 14px;
}

.orgchart .contentFoot {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.orgchart .contentFoot > span {
    font-size: 12px;
    color: #666666;
    flex-shrink: 0;
    margin-bottom: 4px;
}

.orgchart .contentFoot .contentFootNum {
    color: #212121;
    vertical-align: middle;
}

.orgchart .contentFoot>:nth-child(1) {
    margin-right: 12px;
}

.orgchart .node.focused {
    // background-color: #e7f2fe;
    // border-color: #276ff5 !important;
}

.orgchart ul li .node.selected {
    background-color: #e7f2fe;
    border-color: #276ff5 !important;
}

.orgchart ul li .node .contentItem:hover {
    background-color: #e7f2fe;
    border-color: #276ff5 !important;
}

.orgchart .node {
    border: 1px solid transparent;
    border-radius: 5px;
}

.orgchart .hierarchy::before {
    top: -19px;
    border-top: 2px solid #e3e3e3;
}

.orgchart>ul>li>ul li>.node::before {
    background-color: #e3e3e3;
}

.orgchart .node:not(:only-child)::after {
    background-color: #e3e3e3;
}

.orgchart .node {
    margin: 0 20px 37px 20px;
    padding: 0;
}

.orgchart .btn {
    display: none;
    position: absolute;
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    width: 13px;
    height: 13px;
    text-align: center;
    line-height: 12px;
    background: #fff;
    overflow: hidden;
}

.orgchart .btn:hover {
    color: #5582F3;
}

.orgchart [show='true'] .btn {
    display: block;
}

.orgchart .btn.add {
    display: none;
    line-height: 14px;
    overflow: visible;
}

.orgchart .isChildrenCollapsed [show='true'] .btn.add {
    display: block;
}

.orgchart .orgFocused {
    background-color: #e7f2fe;
    border-color: #5582F3 !important;
}

.orgchart > ul > li > ul li > .node::before {
    top: var(--top, -18px);
    height: var(--height, 17px);
    background-color: #D9D9D9;
}

.orgchart .hierarchy::before {
    border-top: 2px solid #D9D9D9;
}

}
