@font-face {
  font-family: "wtcicon"; /* Project id 4584578 */
  src: url('../font/wtcicon.woff2?t=1718286370716') format('woff2'),
       url('../font/wtcicon.woff?t=1718286370716') format('woff'),
       url('../font/wtcicon.ttf?t=1718286370716') format('truetype');
}

.wtcicon {
  font-family: "wtcicon", serif !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wtcicon-jiabanshenqing:before {
  content: "\e672";
}

.wtcicon-xiujia:before {
  content: "\e67a";
}

.wtcicon-chuchai:before {
  content: "\e671";
}

.wtcicon-icn_yidongchuqinjilu:before {
  content: "\e731";
}

