.wtc-calendar-yearMonth[data-v-305e1d9e] {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 14px;
  color: #212121;
  background-color: #fff;
}
.wtc-calendar-yearMonth-btns[data-v-305e1d9e] {
  display: flex;
  padding: 10px 0;
}
.wtc-calendar-yearMonth-btns > div[data-v-305e1d9e] {
  flex: 1;
  color: var(--kd-cq-theme-color, #276ff5);
  text-align: center;
}
.wtc-calendar-yearMonth-year[data-v-305e1d9e] {
  text-align: center;
  padding: 10px 0 6px 0;
  border-top: 1px solid #e5e5e5;
}
.wtc-calendar-yearMonth-year > div[data-v-305e1d9e] {
  display: inline-block;
  padding: 4px;
  vertical-align: bottom;
}
.wtc-calendar-yearMonth-months[data-v-305e1d9e] {
  width: 100%;
  padding-bottom: 6px;
}
.wtc-calendar-yearMonth-months .wtc-calendar-yearMonth-month-item[data-v-305e1d9e] {
  display: inline-block;
  width: 25%;
  padding: 10px 0;
  text-align: center;
  box-sizing: border-box;
}
.wtc-calendar-yearMonth-months .wtc-yearMonth-month-checked[data-v-305e1d9e] {
  color: var(--kd-cq-theme-color, #276ff5);
}
.wtc-calendar-yearMonth .wtc-calendar-yearMonth-year-left-disable[data-v-305e1d9e] {
  color: #ccc;
}
.wtc-calendar-yearMonth .wtc-calendar-yearMonth-month-item-disable[data-v-305e1d9e] {
  color: #ccc;
}
.wtc-yearMonth-slide-bottom-enter-active[data-v-305e1d9e],
.wtc-yearMonth-slide-bottom-leave-active[data-v-305e1d9e] {
  transition: transform 0.5s;
}
.wtc-yearMonth-slide-bottom-enter[data-v-305e1d9e],
.wtc-yearMonth-slide-bottom-leave-to[data-v-305e1d9e] {
  transform: translateY(100%);
}
.wtc-dialog-wrap[data-v-5e159fea] {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  z-index: 9999;
  -webkit-transform: translateZ(1px);
  -moz-transform: translateZ(1px);
  -o-transform: translateZ(1px);
  transform: translateZ(1px);
}
.wtc-dialog-fade-enter-active[data-v-5e159fea],
.wtc-dialog-fade-leave-active[data-v-5e159fea] {
  transition: opacity 0.5s;
}
.wtc-dialog-fade-enter[data-v-5e159fea],
.wtc-dialog-fade-leave-to[data-v-5e159fea] {
  opacity: 0;
}
.wtc-choose-calendar[data-v-160c63d7] {
  /*position: relative;*/
  width: 100%;
  max-width: 770px;
  overflow: hidden;
}
.wtc-choose-calendar .wtc-choose-calendar-week[data-v-160c63d7] {
  display: flex;
  font-size: 12px;
  /*border-top: 1px solid #e5e5e5;*/
  padding: 10px 0;
  color: #212121;
  background: #F5F5F5;
}
.wtc-choose-calendar .weekend[data-v-160c63d7] {
  color: #FF991C;
}
.wtc-choose-calendar-week .wtc-choose-calendar-week-item[data-v-160c63d7] {
  flex: 1;
  text-align: center;
}
.wtc-choose-calendar .wtc-choose-calendar-head[data-v-160c63d7] {
  text-align: center;
  padding: 10px 0;
}
.wtc-choose-calendar .wtc-choose-calendar-head .wtc-choose-calendar-cur-month[data-v-160c63d7] {
  font-weight: 500;
  font-size: 14px;
  color: #212121;
}
.wtc-choose-calendar-head > div[data-v-160c63d7] {
  display: inline-block;
  padding: 0 10px;
  font-size: 20px;
  vertical-align: bottom;
}
.wtc-choose-calendar-head .wtc-choose-calendar-left-month-btn-disable[data-v-160c63d7] {
  color: #ccc;
}
.wtc-choose-calendar .wtc-choose-calendar-content-wrap[data-v-160c63d7] {
  width: 300%;
  display: flex;
}
.wtc-choose-calendar .wtc-choose-calendar-content[data-v-160c63d7] {
  font-size: 0;
  width: 100%;
}
.wtc-choose-calendar-content .wtc-choose-calendar-content-date-wrap[data-v-160c63d7] {
  position: relative;
  font-size: 14px;
  display: inline-block;
  width: 14.2%;
  height: 14.2vw;
  /*height: 54px;
    padding: 5px 0px;*/
  margin: 4px 0px;
  box-sizing: border-box;
  cursor: pointer;
  padding: 5px 0;
}
@media (min-width: 767px) {
.wtc-choose-calendar-content .wtc-choose-calendar-content-date-wrap[data-v-160c63d7] {
    width: 110px;
    height: 110px;
}
}
.wtc-choose-calendar-content .pre-date[data-v-160c63d7],
.wtc-choose-calendar-content .next-date[data-v-160c63d7] {
  /*opacity: 0.5;*/
  opacity: 0;
  color: #fff;
}
.wtc-choose-calendar-content .choosed-date .wtc-choose-calendar-content-date[data-v-160c63d7] {
  border: 0px solid var(--kd-cq-theme-color, #276ff5) !important;
  border-radius: 50% !important;
  background-color: var(--kd-cq-theme-color, #276ff5) !important;
  color: #ffffff !important;
  margin: 0 5px;
}
.wtc-choose-calendar-content .choosed-date .wtc-choose-calendar-content-date-wrapper[data-v-160c63d7]:before {
  content: '';
  width: 50%;
  height: 100%;
  display: block;
  background-color: #fff;
  position: absolute;
}
.wtc-choose-calendar-content .choosed-date.middle-end-choosed-date .wtc-choose-calendar-content-date-wrapper[data-v-160c63d7]:before {
  right: 0;
}
.wtc-choose-calendar-content .middle-start-choosed-date[data-v-160c63d7] {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.wtc-choose-calendar-content .middle-end-choosed-date[data-v-160c63d7] {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.wtc-choose-calendar-content .middle-choosed-date .wtc-choose-calendar-content-date-wrapper[data-v-160c63d7] {
  background-color: #E0EFFF;
}
.wtc-choose-calendar-content .choosed-date .wtc-choose-calendar-content-date .wtc-choose-calendar-content-date-apply .wtc-choose-calendar-content-date-apply-inner[data-v-160c63d7] {
  background-color: #fffff1 !important;
}
/* .wtc-choose-calendar-content .wtc-choose-calendar-content-date {
      width: 24px;
      height: 24px;
      line-height: 24px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -12px;
      margin-top: -12px;
      border-radius: 50%;
      overflow: hidden;
      text-align: center;
    } */
.wtc-choose-calendar-content .wtc-choose-calendar-content-date-wrapper[data-v-160c63d7] {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
.wtc-choose-calendar-content .wtc-choose-calendar-content-date[data-v-160c63d7] {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
.wtc-choose-calendar-content .wtc-cld-date-today[data-v-160c63d7] {
  color: var(--kd-cq-theme-color, #276ff5);
}
.wtc-choose-calendar-content .wtc-cld-date-actual-off[data-v-160c63d7] {
  color: #999;
}
.wtc-choose-calendar-content .wtc-cld-date-rest[data-v-160c63d7] {
  color: #999;
}
.wtc-choose-calendar-content .wtc-cld-date-actual-work[data-v-160c63d7] {
  color: #212121;
}
.wtc-choose-calendar-content .wtc-cld-date-actual-off .wtc-choose-calendar-content-date-mark[data-v-160c63d7] {
  background-color: #ff854d;
}
.wtc-choose-calendar-content .wtc-cld-date-actual-work .wtc-choose-calendar-content-date-mark[data-v-160c63d7] {
  background-color: #16b8b1;
}
.wtc-choose-calendar-content-date .wtc-choose-calendar-content-date-mark[data-v-160c63d7] {
  position: absolute;
  right: 0;
  top: 0;
  /* height: 18px; */
  font-size: 12px;
  width: 16px;
  height: 16px;
  color: #fff;
  border-radius: 2px;
  text-align: center;
}
.wtc-choose-calendar-content-date .wtc-choose-calendar-content-date-text[data-v-160c63d7] {
  line-height: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.wtc-choose-calendar-content-date .wtc-choose-calendar-content-date-apply[data-v-160c63d7] {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
}
.wtc-choose-calendar-content-date .wtc-choose-calendar-content-date-apply .wtc-choose-calendar-content-date-apply-inner[data-v-160c63d7] {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--kd-cq-theme-color, #276ff5);
}
/*.wtc-choose-calendar-content-date .wtc-choose-calendar-content-date-apply .wtc-choose-calendar-content-date-apply-inner {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #ff5257;
}*/
.wtc-choose-calendar-wrap {
  width: 100%;
  font-size: 14px;
  color: #212121;
  overflow: hidden;
  background-color: #fff;
}
.wtc-choose-calendar-wrap .wtc-choose-calendar-fold-btn {
  text-align: center;
  padding: 6px 0;
}
.wtc-choose-calendar-wrap .wtc-choose-calendar-fold-btn > span {
  font-size: 30px;
}
.wtc-calendar-slide-enter-active,
.wtc-calendar-slide-leave-active {
  transition: max-height 0.5s;
}
.wtc-calendar-slide-enter,
.wtc-calendar-slide-leave-to {
  max-height: 0;
}
.wtc-calendar-slide-enter-to,
.wtc-calendar-slide-leave {
  max-height: 40rem;
}
