._1_ikMpgtaTmXvGwBYQWzQd .uSZDVGYwPlm22g_JtSutf {
  padding: 10px 0px;
}
._1_ikMpgtaTmXvGwBYQWzQd .uSZDVGYwPlm22g_JtSutf ._1EXjZU-XmBdAeueGv_V9q3 {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  flex-wrap: nowrap;
}
._1_ikMpgtaTmXvGwBYQWzQd .uSZDVGYwPlm22g_JtSutf ._1EXjZU-XmBdAeueGv_V9q3 ._1eGjcKPHw0UqkmcrQymw4r {
  width: 14px;
  height: 15px;
  flex-shrink: 0;
}
._1_ikMpgtaTmXvGwBYQWzQd .uSZDVGYwPlm22g_JtSutf ._1EXjZU-XmBdAeueGv_V9q3 ._1eGjcKPHw0UqkmcrQymw4r img {
  width: 100%;
  height: 100%;
}
._1_ikMpgtaTmXvGwBYQWzQd .uSZDVGYwPlm22g_JtSutf ._1EXjZU-XmBdAeueGv_V9q3 ._1UqI9eoRq8q0kSAb7QcEd9 {
  font-family: MicrosoftYaHeiSemibold;
  font-size: 12px;
  color: #212121;
  letter-spacing: 0;
  line-height: 18px;
  font-weight: 600;
  padding-left: 9px;
}
._1_ikMpgtaTmXvGwBYQWzQd .uSZDVGYwPlm22g_JtSutf ._1moXy--zsGKazO6k1jrIyg {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  flex-wrap: nowrap;
  margin-top: 10px;
}
._1_ikMpgtaTmXvGwBYQWzQd .uSZDVGYwPlm22g_JtSutf ._1moXy--zsGKazO6k1jrIyg ._3oTyscb8uvvINPnHgNDqRX {
  width: 14px;
  height: 15px;
  flex-shrink: 0;
}
._1_ikMpgtaTmXvGwBYQWzQd .uSZDVGYwPlm22g_JtSutf ._1moXy--zsGKazO6k1jrIyg ._3oTyscb8uvvINPnHgNDqRX img {
  width: 100%;
  height: 100%;
}
._1_ikMpgtaTmXvGwBYQWzQd .uSZDVGYwPlm22g_JtSutf ._1moXy--zsGKazO6k1jrIyg ._3ece-IHhpag51AC3FbCMOg {
  font-family: MicrosoftYaHei;
  font-size: 12px;
  color: #212121;
  letter-spacing: 0;
  font-weight: 400;
  padding-left: 9px;
}
