.lfjy0pUnkLJCYnGm0A_8S {
  flex-grow: 1;
}
.lfjy0pUnkLJCYnGm0A_8S .r2uAAHHagIAJU_9jxdI0q {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}
.lfjy0pUnkLJCYnGm0A_8S .r2uAAHHagIAJU_9jxdI0q ._353gWDYl_TxtdTiSHGISOh {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.lfjy0pUnkLJCYnGm0A_8S .r2uAAHHagIAJU_9jxdI0q ._353gWDYl_TxtdTiSHGISOh > span {
  font-family: "MicrosoftYaHei";
  font-size: 14px;
  color: #999999;
  letter-spacing: 0;
  text-align: center;
  line-height: 21px;
  font-weight: 400;
}
.lfjy0pUnkLJCYnGm0A_8S ._1GuvOAsdUQLUDwtBrwWtD0 {
  display: flex;
  height: 100%;
  border-bottom: 1px solid #d9d9d9;
}
.lfjy0pUnkLJCYnGm0A_8S ._1GuvOAsdUQLUDwtBrwWtD0 .BtJ-56uihX_v2Z34bG6Ll {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  padding: 0 16px;
  font-family: "MicrosoftYaHei";
  font-size: 14px;
  color: #212121;
  letter-spacing: 0;
  font-weight: 400;
  height: 36px;
  width: 100%;
  flex-shrink: 0;
}
.lfjy0pUnkLJCYnGm0A_8S ._1GuvOAsdUQLUDwtBrwWtD0 ._27kyLqrvxlIA5vqucCYkjp {
  flex-grow: 1;
  height: calc(100% - 51px);
}
.lfjy0pUnkLJCYnGm0A_8S ._1GuvOAsdUQLUDwtBrwWtD0 ._27kyLqrvxlIA5vqucCYkjp ._1ra_4XFhvYrovFuXBVN2Ej {
  height: calc(100% - 48px);
  overflow: auto;
  padding: 0 16px;
}
.lfjy0pUnkLJCYnGm0A_8S ._1GuvOAsdUQLUDwtBrwWtD0 ._27kyLqrvxlIA5vqucCYkjp ._1ra_4XFhvYrovFuXBVN2Ej > ul {
  display: flex;
  flex-direction: column;
}
.lfjy0pUnkLJCYnGm0A_8S ._1GuvOAsdUQLUDwtBrwWtD0 ._27kyLqrvxlIA5vqucCYkjp ._1ra_4XFhvYrovFuXBVN2Ej > ul > .GL4vS742AmiXwRV61k4JA {
  font-family: "MicrosoftYaHei";
  font-size: 12px;
  color: #212121;
  letter-spacing: 0;
  line-height: 18px;
  font-weight: 400;
}
.lfjy0pUnkLJCYnGm0A_8S ._1GuvOAsdUQLUDwtBrwWtD0 ._3LsxWxY8Dev29ROB31VnBd {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 0 16px;
  overflow: auto;
}
.lfjy0pUnkLJCYnGm0A_8S ._1GuvOAsdUQLUDwtBrwWtD0 ._2hrgm9VhPoRSXefgsFB-QI {
  font-family: "MicrosoftYaHei";
  font-size: 14px;
  color: #999999;
  letter-spacing: 0;
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lfjy0pUnkLJCYnGm0A_8S ._1GuvOAsdUQLUDwtBrwWtD0 ._2ygKCC0_VGK192MjkmD2iO,
.lfjy0pUnkLJCYnGm0A_8S ._1GuvOAsdUQLUDwtBrwWtD0 .eeRaJubipc3msg24m3fJM {
  width: 260px;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}
.lfjy0pUnkLJCYnGm0A_8S ._1GuvOAsdUQLUDwtBrwWtD0 ._2M-TkLW71t0s-M7_6myf7A {
  flex-grow: 1;
  position: relative;
  border-right: 1px solid #d9d9d9;
}
.lfjy0pUnkLJCYnGm0A_8S ._1GuvOAsdUQLUDwtBrwWtD0 ._2M-TkLW71t0s-M7_6myf7A ._1GHiob_ZHG9CWRVwudIz0l {
  height: calc(100% - 36px);
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  overflow: auto;
  align-content: flex-start;
}
.lfjy0pUnkLJCYnGm0A_8S ._1GuvOAsdUQLUDwtBrwWtD0 ._2M-TkLW71t0s-M7_6myf7A ._1GHiob_ZHG9CWRVwudIz0l ._3V3yUzzKtxMuk70dyKznZ4 {
  font-family: "MicrosoftYaHei";
  width: 50%;
  font-size: 12px;
  color: #212121;
  letter-spacing: 0;
  line-height: 18px;
  font-weight: 400;
  margin-bottom: 16px;
}
.lfjy0pUnkLJCYnGm0A_8S ._1GuvOAsdUQLUDwtBrwWtD0 .eeRaJubipc3msg24m3fJM {
  border-right: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
}
.lfjy0pUnkLJCYnGm0A_8S ._1GuvOAsdUQLUDwtBrwWtD0 ._3aZVlO8WYRi1ba4urrYadO {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.lfjy0pUnkLJCYnGm0A_8S ._1GuvOAsdUQLUDwtBrwWtD0 ._3aZVlO8WYRi1ba4urrYadO > div {
  height: 68px;
  width: 60px;
  background: var(--theme-color);
  border-radius: 2px;
  font-family: "MicrosoftYaHei";
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
  display: flex;
  font-weight: 400;
  align-items: center;
  text-align: center;
  cursor: pointer;
  padding: 0 16px;
  flex-direction: column;
  justify-content: center;
}
