.lapp-foot-bar
{
	display: -webkit-flex;
	display: flex;
	flex-wrap: nowrap;
	position: absolute;
	bottom: 0px;
	height: 47px;
	width: 100%;
	border-top: 1px solid #E5E5E5;
	color: #666;
    background: white;
}

.lapp-foot-bar-praise-container
{
	position: absolute;
	width: 60px;
	height: 47px;
	left: 15px;
	line-height: 47px;
}

.lapp-foot-bar-praise-icon
{
	position: absolute;
	width: 18px;
    height: 18px;
	top: 50%;
	margin-top: -9px;
	background-image: url(./resource/icon_praise.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.lapp-foot-bar-praised-icon
{
	background-image: url(./resource/icon_praised.png);
}

.lapp-foot-bar-praise-text
{
    position: absolute;
    width: 25px;
    height: 47px;
    left: 23px;
    line-height: 47px;
}

.lapp-foot-bar-comment-container
{
	position: absolute;
	width: 60px;
	height: 47px;
	left: 85px;
}

.lapp-foot-bar-comment-icon
{
	position: absolute;
    width: 18px;
    height: 18px;
    top: 50%;
    margin-top: -7px;
    background-image: url(./resource/icon_comment.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.lapp-foot-bar-comment-text
{
    position: absolute;
    width: 25px;
    height: 47px;
    left: 23px;
    line-height: 47px;
}

.lapp-foot-bar-right-side
{
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    height: 26px;
    top: 50%;
    right: 6px;
    margin-top: -13px;
    border-left: 1px solid #E5E5E5;
}

.right-side-praise-icon
{
    width: 18px;
    height: 18px;
    margin: 4px auto 4px 6px;
    background-image: url(./resource/icon_praise.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.right-side-praise-text
{
    margin: 4px;
}

.right-side-comment-icon
{
    width: 18px;
    height: 18px;
    margin-top: 4px;
    margin-bottom: 4px;
    background-image: url(./resource/icon_comment.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.right-side-comment-text
{
	margin: 4px;
}

.comment-input-container
{
	position: absolute;
	bottom: 0;
	margin: 0;
	width: 100%;
	min-height: 40px;
	max-height: 120px;
	background-color: #fafafa;
	display: -webkit-flex;
	flex-flow: row nowrap;
	z-index: 9999;
}

.comment-div-input
{
	min-height: 20px;
	max-height: 100px;
	flex: 1;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #fcfcfc;
	border: 1px solid #ccc;
	padding: 3px;
	outline: 0;
	font-size: 15px;
	line-height: 20px;
	word-wrap: break-word;
	overflow-x: hidden;
	overflow-y: auto;
	user-select: auto;
	-webkit-user-select: auto;/*恢复手机浏览器的用户选择功能 */  
	-moz-user-select: auto;
}

.comment-div-input-placeholder::after
{
	content: attr(placeholder);
	color: #BBBBBB;
}

.comment-btn-send
{
	width: 50px;
	height: 26px;
	margin-right: 10px;
	margin-bottom: 10px;
	color: rgba(120,120,120,.3);
	background: #fff;
	border: 1px solid #ccc;
	text-align: center;
	outline: 0;
	font-size: 15px;
	line-height: 26px;
	align-self: flex-end;
	cursor: pointer;
}

.comment-btn-send-enable
{
	color: #fff;
	background: #ff8200;
	border: 1px solid #ff8200;
}

.reply-container
{
	position: absolute;
	width: 100%;
	background-color: #fff;
	z-index: 999;
	height: 50%;
	overflow: auto;
}

.reply-item-container
{
	width: 100%;
	height: 250px;
	margin-bottom: 48px;
	/*overflow-x: hidden;
	overflow-y: auto;*/
}

.comment-reply-item
{
	margin-left: 16px;
	margin-right: 16px;
	display: -webkit-flex;
	flex-flow: row wrap;
	border-top: 1px solid rgba(229,229,229,0.40);
}

.comment-author-head
{
	width: 40px;
	height: 40px;
	margin-left: 16px;
	margin-top: 16px;
	margin-bottom: 16px;
	border-radius: 20px;
	background-position: center;
	background-repeat: no-repeat;
    background-size: cover;
}

.comment-replyer-head
{
	margin-left: 0;
	margin-top: 12px;
	margin-bottom: 12px;
}

.comment-content-right
{
	flex-grow: 1;
	width: 30px;
	margin-left: 14px;
	margin-top: 16px;
	margin-right: 16px;
	flex-flow: column nowrap;
}

.comment-reply-right
{
	margin-top: 12px;
	margin-bottom: 12px;
	margin-right: 0;
}

.comment-head-time
{
	display: -webkit-flex;
	flex-flow: row nowrap;
}

.comment-author-name
{
	flex-grow: 1;
	height: 15px;
	font-family: PingFangSC-Regular;
	font-size: 13px;
	color: #2B87F3;
	letter-spacing: -0.31px;
	line-height: 15px;
}

.comment-publish-time
{
	width: 120px;
	height: 15px;
	font-family: PingFangSC-Regular;
	font-size: 13px;
	color: #999999;
	letter-spacing: 0;
	line-height: 15px;
	text-align: right;
}

.comment-reply-content
{
	margin-top: 12px;
	font-family: PingFangSC-Regular;
	font-size: 13px;
}

.comment-reply
{
	margin-right: 6px;
	color: #3F3F3F;
	letter-spacing: -0.31px;
	line-height: 13px;
}

.comment-recevier-name
{
	font-size: 13px;
	color: #2B87F3;
	letter-spacing: -0.27px;
	line-height: 13px;
}

.comment-reply-text
{
	color: #000000;
	letter-spacing: -0.27px;
	line-height: 15px;
}

.comment-delete-dialog-modallayer
{
	z-index: 999999;
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
}

.comment-delete-dialog
{
	position: fixed;
	display: none;
	background-color: #fff;
	bottom: 0;
	width: 100%;
	display: -webkit-flex;
	flex-flow: column nowrap;
}

.comment-delete-dialog-btn-delete
{
	width: 100%;
	height: 55px;
	color: #E95D5B;
	font-size: 15px;
	text-align: center;
	line-height: 55px;
}

.comment-delete-dialog-line
{
	width: 100%;
	height: 5px;
	background-color: #eee;
}

.comment-delete-dialog-btn-cancel
{
	width: 100%;
	height: 55px;
	color: #000;
	font-size: 15px;
	text-align: center;
	line-height: 55px;
}

.comment-ctrl-pullupscroller-loading
{
	bottom: 0px;
    height: 40px;
    padding: 10px 0;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}

.comment-ctrl-pullupscroller-loading-icon
{
    width: 40px;
    height: 40px;
    background-size: contain;
}

.comment-ctrl-pullupscroller-loading-text
{
	margin-left: 10px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #373737;
}

.comment-layer
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99999;
    background: rgba(0,0,0,0.5);
}

.praise-list
{
	margin-left: 16px;
	margin-right: 16px;
	display: -webkit-flex;
	flex-flow: row wrap;
	align-items: center;
	max-height: 100px;
	overflow: hidden;
}

.praise-name
{
	max-height: 90px;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 10px;
	white-space: pre-wrap;
	font-family: PingFangSC-Regular;
	font-size: 13px;
	color: #999999;
	letter-spacing: -0.31px;
	line-height: 18px;
	text-align: justify;
}

.share-no-data-container
{
	width: 240px;
	height: 210px;
	position: absolute;
	margin: auto;
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.share-no-data-img
{
	width: 182px;
	height: 182px;
	margin : 0 auto;
	background-size: 100%;
	background-image: url("./resource/icon_no_data.png");
}

.share-no-data-text
{
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #999999;
	line-height: 16px;
	text-align: center;
	width: 240px;
}