.dm-entity-list-item-notexist
{
	position: absolute;
	left: 4px;
	top: 25%;
}
.sa-qing-publish-email-manager-op-query
{
	position: absolute;
	width: 54px;
	height: 28px;
	line-height: 28px;
}

.sa-qing-publish-email-manager-op-edit
{
	position: absolute;
	left: 58px;
	width: 40px;
	height: 28px;
	line-height: 28px;
}

.sa-qing-publish-email-manager-op-delete
{
	position: absolute;
	left: 102px;
	width: 40px;
	height: 28px;
	line-height: 28px;
}

.sa-qing-publish-email-manager-op-push
{
	position: absolute;
	left: 146px;
	width: 56px;
	height: 28px;
	line-height: 28px;
}

.sa-qing-publish-email-publishinfo-manager-op-open
{
	position: absolute;
	left: 20px;
    width: 40px;
    height: 28px;
    line-height: 28px;
}

.sa-qing-publish-email-publishinfo-manager-op-delete
{
	position: absolute;
	left: 65px;
    width: 40px;
    height: 28px;
    line-height: 28px;
}


.push-schedule-state-btn
{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 31px;
    height: 19px;
    border-radius: 9px;
	margin-top: -10px;
	margin-left: -17px;
}

.push-record-detail
{
	position: absolute;
	width: 54px;
	height: 28px;
	line-height: 28px;
}

.edit-push-config
{
	position: absolute;
	left: 58px;
	width: 40px;
	height: 28px;
	line-height: 28px;
}

.delete-push-config-and-pushrecord
{
	position: absolute;
	left: 102px;
	width: 40px;
	height: 28px;
	line-height: 28px;
}

.push-immediately
{
	position: absolute;
	left: 146px;
	width: 54px;
	height: 28px;
	line-height: 28px;
}

.push-failure-detail
{
	position: absolute;
    left: 70px;
    width: 44px;
    height: 30px;
    line-height: 30px;
}

.lapp-push-failure-detail
{
	position: absolute;
	left: 70px;
	width: 44px;
	height: 30px;
	line-height: 30px;
}

.delete-push-record
{
	position: absolute;
	width: 40px;
	height: 28px;
	line-height: 28px;
}

.fail-send-message-webhook-dialog-tips
{
	position: absolute;
	font-size: 12px;
	color: #4e5667;
	line-height: 12px;
	left: 2px;
}

.fail-send-message-webhook-table
{
	position: absolute;
	top: 26px;
	height: 400px;
	width: 648px;
}

.no-data-image
{
	position: absolute;
    width: 220px;
    height: 220px;
    top: 50%;
    left: 50%;
    margin-top: -160px;
    margin-left: -110px;
}

.no-push-config-data
{
	position: absolute;
    width: 120px;
    height: 23px;
    left: 50%;
    top: 50%;
    margin-top: 70px;
    margin-left: -60px;
    font-size: 18px;
    color: rgb(102,102,102);
    text-align: center;
}

.no-search-push-config-data
{
	position: absolute;
	width: 198px;
	height: 23px;
	left: 50%;
	top: 50%;
	margin-top: 70px;
	margin-left: -92px;
	font-size: 18px;
	color: rgb(102,102,102);
	text-align: center;
}

.sa-qing-publish-lapp-preview-container
{
	z-index: 2;
    border-width: 2px;
    border-style: solid;
    border-color: #88a7f6 !important;
    border-color: var(--color-lightish, #88a7f6) !important;
	box-shadow: 0 2px 4px 0 rgba(59,182,251,0.53);
}
.sa-qing-publish-lapp-preview-head-triangle
{
	float: left;
	width: 10px;
	height: 10px;
	margin: 9px 38px 10px 9px;
	border-top: 1px solid #535353;
	border-right: 1px solid #535353;
	transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
}
.sa-qing-publish-lapp-preview-head-title
{
	position: absolute;
	left: 50px;
	right: 50px;
	height: 28px;
	line-height: 28px;
	font-size: 12px;
	color: #000;
	letter-spacing: -0.36px;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
	text-overflow: ellipsis;
}

.sa-qing-publish-lapp-preview-iframe
{
	position:absolute;
	width: 100%;
	height: 420px;
	border-width: 0;
	top: 28px;
}

.sa-qing-publish-lapp-logo-header
{
	cursor: pointer;
}

.sa-qing-publish-lapp-logo-header:hover
{
	border-bottom: 1px solid #4ad5ff;
}

.sa-qing-publish-lapp-logo-triangle-left
{
    border: 1px solid #e5e5e5;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    height: 12px;
    width: 12px;
    border-left-width: 0px;
    border-top-width: 0px;
    float: left;
    left: 2px;
    top: 10px;
    position: relative;
    margin-right: 5px;
    cursor: pointer;
    z-index: 2;
}

.sa-qing-publish-lapp-logo-triangle-left:hover
{
	border-color: #2B87F3;
	border-color: var(--color-main, #2B87F3);  
}

.sa-qing-publish-lapp-logo-triangle-right
{
    border: 1px solid #e5e5e5;
    transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    height: 12px;
    width: 12px;
    border-left-width: 0px;
    border-top-width: 0px;
    float: right;
    right: -10px;
    top: 10px;
	position: relative;
	cursor: pointer;
	z-index: 2;
}

.sa-qing-publish-lapp-logo-triangle-right:hover
{
	border-color: #2B87F3;
	border-color: var(--color-main, #2B87F3); 
}

.sa-qing-publish-lapp-logo-triangle-down
{
	position: absolute;
	display: inline-block;
	right: 12px;
    top: 50%;
    margin-top: -3px;
	border-right: 1px solid rgba(52, 140, 244, 1);
	border-top: 1px solid rgba(52, 140, 244, 1);
	transform: translate(1px, -1px) rotate(135deg);
	-webkit-transform: translate(1px, -1px) rotate(135deg);
    -ms-transform: translate(1px, -1px) rotate(135deg);
    -moz-transform: translate(1px, -1px) rotate(135deg);
    -o-transform: translate(1px, -1px) rotate(135deg);
	height: 6px;
	width: 6px;
}

.sa-qing-publish-lapp-logo-triangle-up
{
	position: absolute;
	display: inline-block;
	right: 12px;
    top: 50%;
	border-right: 1px solid rgba(52, 140, 244, 1);
	border-top: 1px solid rgba(52, 140, 244, 1);
	transform: translate(1px, -1px) rotate(-45deg);
	-webkit-transform: translate(1px, -1px) rotate(-45deg);
    -ms-transform: translate(1px, -1px) rotate(-45deg);
    -moz-transform: translate(1px, -1px) rotate(-45deg);
    -o-transform: translate(1px, -1px) rotate(-45deg);
	height: 6px;
	width: 6px;
}

.sa-qing-publish-lapp-logo-pane
{
	position: absolute;
	border-radus: 2px;
	z-index: 99;
	box-shadow: 0 1px 6px 0 #ccc;
	background: #fff;
	cursor: pointer;
}

.sa-qing-publish-lapp-setting
{
	font-family: ΢���ź�;
	cursor: pointer;
	color: #5582f3;
	font-size: 14px;
}
.sa-qing-publish-lapp-setting-selector
{
	position: absolute;
	border-radus: 2px;
	z-index: 99;
	box-shadow: 0 1px 6px 0 #ccc;
	background: #fff;
	min-width: 132px;
}
.sa-qing-publish-lapp-setting-selector-item
{
	color: #828282;
	z-index: 99;
	cursor: pointer;
	font-size:12px;
	height: 26px;
	line-height: 26px;
	padding-left: 10px;
	padding-right: 10px;
}
.sa-qing-publish-lapp-setting-selector-item:hover
{
	background-color: #eff3fd;
	background-color: var(--color-pale, #eff3fd);
	color: #5582f3;
	color: var(--color-main, #5582f3);
}
.sa-qing-publish-lapp-setting-config-tool
{
	height: 18px;
	width: 18px;
	margin-right: 12px;
	float: right;
	cursor: pointer;
}
.sa-qing-publish-lapp-setting-text
{
	position: absolute;
	right: 6px;
	width: 30px;
	top: -28px;
	top: -26px\0;
	height: 26px;
}
.sa-qing_publish-lapp-thirdparty-config
{
	cursor: pointer;
	border: #E5E5E5 1px solid;
}
.sa-qing_publish-lapp-thirdparty-config:hover
{
	border: 1px dashed var(--color-main, #5582f3);
}
.sa-qing_publish-lapp-thirdparty-config-add
{
	color: #999999;
	z-index: 1;
}
.sa-qing_publish-lapp-thirdparty-config-add::before
{
	content: '';
	position: absolute;
	top: 50%;
	width: 100%;
	border-top: 2px solid;
}
.sa-qing_publish-lapp-thirdparty-config-add::after
{
	content: '';
	position: absolute;
	left: 44%;
	top: 6%;
	height: 100%;
	border-left: 2px solid;
}
.history-publish-name
{
	position: absolute;
	z-index: 9999;
	color: #c5c5c5;
}

/*定时推送管理界面*/
.push-record-storage-left-text
{
	position: absolute;
	width: 82px;
	height: 17px;
	right: 0px;
	top: 9px;
	color: #23c8fb;;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.push-record-set-content
{
	color: rgb(102, 102, 102);
	font-size: 13px;
}
.each-record-set
{
	margin-bottom: 15px;
}
.push-record-icon-setting
{
	width: 16px;
	height: 16px;
	position: absolute;
	top: 9px;
	right: 83px;
	cursor: pointer;
}
.first-choice-set-item-left
{
	position: absolute;
	left: 41px;
	top: 60px;
}
.first-choice-set-item-right
{
	position: absolute;
	top: 53px;
	left: 60px;
}
.second-choice-set-item
{
	position: absolute;
}
.second-choice-set-item-left
{
	position: absolute;
	left: 26px;
	top: 50px;
}
.save-recent-record-sec
{
	position: absolute;
	left: 45px;
	top: 42px;
	width: 52px;
	height: 17px;
	white-space: nowrap;
}
.third-choice-set-item-left
{
	position: absolute;
	left: 41px;
	top: 136px;
}
.save-recent-record-trd
{
	position: absolute;
	top: 128px;
	left: 60px;
}
.total-checkbox-ctrl
{
	position: absolute;
	left: 10px;
	top: 1px;
}
.push-detail-name-left
{
	position: absolute;
	left: 10px;
	top: 4px;
}
.push-detail-name-right
{
	position: absolute;
	top: 6px;
	left: 30px;
}
.total-row-number
{
	position: absolute;
	top: 37px;
	left: 11px;
}
.push-record-storage-right
{
	position: absolute;
	right: 109px;
	top: 9px;
}
.batch-del-item-left-right
{
	position: absolute;
	right: 12px;
	top: 37px;
}
.warning-rule-item-notexist
{
	position: absolute;
	top: 5px;
	left: 0px;
	cursor: default;
}

.resourceinfo-detaillist-sort-box
{
	z-index: 65535;
	position: absolute;
	border: 1px solid transparent;
	cursor: pointer;
}

.resourceinfo-detaillist-sort-box_clickable
{
	border: 1px solid #3cf;
	background-color: #fff;
}

.lapp-webhook-textarea-real
{
	word-break: break-all;
}

.qing-push-webhook-input-tip
{
	color: gray;
	overflow: hidden;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}