<div class='smart-panel-wrapper'  data-flag='smart_inner'>
      <div class='smart-panel-inner-wrapper'>
              <div class='smart-panel-header'>
                      <!-- <img class='smart-panel-header-arrow' alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAJVJREFUGBljYKA2YIxreHOageG/CQGDbzEBFTwioIiBgZHhORMrH2sqkIVTMSMjw2s2DqYYprlF/O+YmBhCgIp/oZvMyMD4j5mJMWpOufATkNUMC+pETgMVF2IoZGRsmFcrsgckzogsCfTYUqDHoqASOxbUi3gxMjL+B/FZkBUK8wmnvP309gNQjIOdg6kIpghZDUE2AL9NIb4Eh7Z+AAAAAElFTkSuQmCC"/> -->
                      <!-- <img src="<%= cosmicK %>" alt="xiao k" style='width:37px;height:64px;'/> -->
					  <div id="<%= prefixLottie %>_lottie" style="display:inline-flex;width:64px;height:64px;justify-content: center;align-items: center">
						<img src="<%= cosmicK %>" alt="xiao k" style='width:38px;height:38px;'/>
					  </div>
                      <div class='smart-panel-header-content'>
                         <!-- <img src="<%= xiaoK %>" style='width:30px;height:30px;'/>
                         <span class='smart-panel-header-desc'>测试评分为90，建议你可以进行付款操作</span> -->
                      </div>
					  <img src="<%= refreshResult %>" alt="refresh" class="smart-panel-header-refresh"/>
                   </div>
                   <div class='smart-panel-body'>

              </div>
              <div class='smart-panel-popover'>
                    
              </div>
      </div>
  </div>