#customcontrolap #rightMainContent .kd-tree-root{
    width: 100%;
    /* overflow: hidden; */
}
#customcontrolap #rightMainContent .kd-tree-root .kd-tree-node-title-wrap{
    overflow: hidden;
}
#customcontrolap #rightMainContent .kd-tree-root .kd-tree-node-title-wrap .kd-checkbox-default{
    width: 100%;
    display: inline-flex;
}
#customcontrolap #rightMainContent .kd-tree-root .kd-tree-node-title-wrap .kd-checkbox-default .kd-checkbox-children{
    width: calc(100% - 24px);
    justify-content: flex-start !important;
}
#customcontrolap #rightMainContent .kd-tree-root .kd-tree-node-title-wrap .kd-checkbox-default .kd-checkbox-children .kd-tree-node-title{
    width: calc(100% - 40px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.kd-message-box {
    align-items: center;
}
#customcontrolap .kdOpEditSign {
    cursor: pointer !important;

}

