.dLIAizrvquU5Dqg_lI3Tf {
  padding-left: 16px;
  padding-top: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
  flex-flow: 0;
  overflow: auto;
  height: 100%;
}
.dLIAizrvquU5Dqg_lI3Tf ._16H5wNSd18u5MjI65a1XX {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-right: 16px;
}
.dLIAizrvquU5Dqg_lI3Tf ._2aHjjR8kfMN4S4_SPJbo72 {
  font-family: "MicrosoftYaHei";
  font-size: 16px;
  color: #212121;
  letter-spacing: 0;
  text-align: center;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 12px;
  align-self: flex-start;
}
.dLIAizrvquU5Dqg_lI3Tf ._3C_FyXkvTbhiTAMm9xRFPy {
  overflow: auto;
  width: 100%;
  display: flex;
  user-select: none;
}
._3p-lWQoUJAtQBsN9BthRom {
  flex-grow: 1;
  padding-top: 12px;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
._3p-lWQoUJAtQBsN9BthRom ._2Qk8bdIY2JjYuhZpQ0etJE {
  font-family: "MicrosoftYaHei";
  font-size: 16px;
  color: #212121;
  letter-spacing: 0;
  line-height: 24px;
  font-weight: 400;
}
._3p-lWQoUJAtQBsN9BthRom ._2G6WNXPAYhesvYwpekaEAD {
  display: flex;
  flex-grow: 1;
  width: 100%;
  overflow: auto;
  position: relative;
}
._3p-lWQoUJAtQBsN9BthRom ._2G6WNXPAYhesvYwpekaEAD .HdaoB4NmDHr0VTNE6awVF {
  display: flex;
  width: 120px;
  height: 100%;
  align-items: center;
}
._3p-lWQoUJAtQBsN9BthRom ._3lnW4vtc64-xsCsupSkj38 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  align-self: stretch;
  width: 120px;
}
._3p-lWQoUJAtQBsN9BthRom ._3lnW4vtc64-xsCsupSkj38 .BmpkV-biyUaJwGdiUmDq0 {
  height: 100%;
  display: flex;
  align-items: center;
}
._3p-lWQoUJAtQBsN9BthRom ._2N1COGz5CewOPGAvQa_Qqe {
  display: flex;
  align-self: stretch;
  width: 140px;
  flex-shrink: 0;
}
._3p-lWQoUJAtQBsN9BthRom ._2NfDucOaXh5wPmjAvtrnaa {
  stroke: #D9D9D9;
  fill: transparent;
  stroke-width: 1px;
}
._3p-lWQoUJAtQBsN9BthRom .wwWWvvNz2EmCcVnzzBiHE {
  cursor: pointer;
  opacity: 1 !important;
}
._3p-lWQoUJAtQBsN9BthRom .E0SeUAQWB99SSa1g0FRqa {
  border: 1px dashed #d9d9d9 !important;
  background-image: unset !important;
}
._3p-lWQoUJAtQBsN9BthRom .E0SeUAQWB99SSa1g0FRqa ._2Y3WzP7F3KC47w2UUDiKDg {
  color: #999999 !important;
}
._3p-lWQoUJAtQBsN9BthRom .WfhFKmW8LYZGoykylVeHp {
  height: 40px;
  width: 120px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  text-align: center;
  margin: 0;
  padding: 0 10px;
  position: absolute;
  background-image: linear-gradient(179deg, #F3F5F8 0%, #FFFFFF 100%);
}
._3p-lWQoUJAtQBsN9BthRom .WfhFKmW8LYZGoykylVeHp ._2Y3WzP7F3KC47w2UUDiKDg {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 38px;
  font-weight: 400;
  font-family: "MicrosoftYaHei";
  font-size: 12px;
  color: #666666;
  letter-spacing: 0;
  display: inherit;
}
._3p-lWQoUJAtQBsN9BthRom .WfhFKmW8LYZGoykylVeHp .SJksyrNomXWC69gwoOkmf {
  position: absolute;
  top: -8px;
  right: -8px;
  cursor: pointer;
  color: #666666;
}
._3p-lWQoUJAtQBsN9BthRom .WfhFKmW8LYZGoykylVeHp .SJksyrNomXWC69gwoOkmf:hover {
  color: red;
}
._3p-lWQoUJAtQBsN9BthRom .mVzN-OxfcGUiRbroQxwKp {
  height: 40px;
  width: 120px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  text-align: center;
  margin: 16px 0;
  padding: 0 10px;
  position: relative;
  background-color: #FFA500;
}
._3p-lWQoUJAtQBsN9BthRom .mVzN-OxfcGUiRbroQxwKp ._2Y3WzP7F3KC47w2UUDiKDg {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 38px;
  font-weight: 400;
  font-family: "MicrosoftYaHei";
  font-size: 12px;
  color: #666666;
  letter-spacing: 0;
  display: inherit;
}
._3p-lWQoUJAtQBsN9BthRom ._1DcIs49D7crJI3r75QJ0ox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  height: 100%;
}
._3p-lWQoUJAtQBsN9BthRom ._1DcIs49D7crJI3r75QJ0ox ._331kpKpNMlIJZff-_6Ry_I {
  font-family: "MicrosoftYaHei";
  font-size: 14px;
  color: #666666;
  letter-spacing: 0;
  text-align: center;
  line-height: 20px;
  font-weight: 400;
}
._12vzwJv3mZeWYFdeQfJhsC {
  min-width: 264px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  overflow: auto;
  height: 100%;
}
._12vzwJv3mZeWYFdeQfJhsC ._2dQhp4uRA1r_p4mcdZNm4o {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}
._12vzwJv3mZeWYFdeQfJhsC ._2dQhp4uRA1r_p4mcdZNm4o ._3OSfcCVwfFLZVhbjRx2JD5 {
  line-height: 24px;
  font-family: "MicrosoftYaHei";
  font-size: 12px;
  color: var(--theme-color);
  letter-spacing: 0;
  font-weight: 400;
  cursor: pointer;
}
._12vzwJv3mZeWYFdeQfJhsC ._3LZEnoV4Fs1myKQ3KPS8fY {
  font-family: "MicrosoftYaHei";
  font-size: 16px;
  color: #212121;
  letter-spacing: 0;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 8px;
}
._12vzwJv3mZeWYFdeQfJhsC .OK-FHeQo28RCuvoHPgAMw {
  flex-grow: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
._12vzwJv3mZeWYFdeQfJhsC ._1iZFSP0hZOQ9O8FIRA9tJj {
  text-align: center;
  align-self: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
._12vzwJv3mZeWYFdeQfJhsC ._1iZFSP0hZOQ9O8FIRA9tJj .uXZto4jQElJaz7yEBwAJO {
  font-family: "MicrosoftYaHei";
  font-size: 14px;
  color: #666666;
  letter-spacing: 0;
  text-align: center;
  line-height: 20px;
  font-weight: 400;
}
._3AR0rEqmggiD8D60L_Tsae {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}
