.sa-statusbar-message
{
    position: relative;
    float: right;
    margin-right: 10px;
    height: 18px;
    line-height: 18px;
    min-width: 50px;
    max-width: 100px;
    cursor: pointer;
    z-index: 99;
}

.sa-dialog-view
{
    position: absolute;
    height: 500px;
    bottom: 3px;
    right: 5px;
    width: 200px;
}

.sa-statusbar-messageicon
{
    width: 18px;
    height: 16px;
    background-repeat: no-repeat;
    position: relative;
    float: right;
    background-position: center;
}

.sa-statusbar-messagetip
{
    /*font-size: 12px;*/
    color: #666;
    position: relative;
    float: right;
    height: 16px;
    line-height: 18px;
    margin-right: 5px;
}

.sa-statusbar-message:hover .sa-statusbar-messagetip
{
	color: #2B87F3;
}

.sa-statusbar-message:hover
{
    filter: drop-shadow(#2B87F3 0px 0px);
}

.sa-ctrl-modallayer
{
   	z-index: 999999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(226,231,239,0.5);
}

.sa-ctrl-loading-modallayer
{
	z-index: 999999;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.4);
}
.sa-ctrl-loading-icon
{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 40px;
	height: 40px;
	margin-left: -20px;
	margin-top: -20px;
	border-radius: 10px;
	background-color: #f7f7f7;
	background-repeat: no-repeat;
	background-position: center center;
}
.sa-ctrl-loading-text
{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 120px;
	height: 20px;
	margin-left: -60px;
	margin-top: 28px;
	text-align: center;
	/*font-size: 14px;*/
}

.sa-messagecontentbox
{
	background: #FFFFFF;
	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.10);
	border-radius: 6px;
	position: absolute;
	width: 581px;
	height: 286px;
	top: 50%;
	left: 50%;
 	margin-top: -143px;
    margin-left: -290px;
}

.sa-networkanomaly-icon
{
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    margin-top: -16px;
    left: 50%;
    margin-left: -115px;
}

.sa-networkanomaly-text
{
	position: absolute;
	width: 220px;
    height: 14px;
    top: 50%;
    left: 50%;
    color: rgb(55, 55, 55);
    /*font-style: normal;*/
    /*font-variant: normal;*/
    /*font-weight: normal;*/
    /*font-stretch: normal;*/
    /*font-size: 14px;*/
    line-height: 14px;
    /*font-family: 微软雅黑;*/
    margin: -7px;
    margin-left: -65px;
}

.message-notice
{
    width:4px;
    height:4px;
    line-height:4px;
    text-align:center;
    background-color:#f00;
    border-radius:50%;
    position:absolute;
    right:1px;
    top:1px;
}

.message-type-notice
{
    width:8px;
    height:8px;
    line-height:8px;
    text-align:center;
    background-color:#f00;
    border-radius:50%;
    float:right;
    margin-right:5px;
    top:1px;
}

.message-search-view
{
    height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
}

.message-content-container
{
    overflow: hidden;
}
.message-ctrl-dialog-contentpane {
    position: absolute;
    left: 0;
    width: 100%;
    top: 40px;
    bottom: 0;
    overflow: hidden;
}
.message-ctrl-dialog-padding
{
    position: absolute;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
    overflow: hidden;
}
.message-ctrl-common-modallayer
{
    position: absolute;
    left: 0;
    top: 45px;
    width: 100%;
    bottom: 0;
}
.message-content-view
{
    display:block;
    display:-webkit-box;
    display: -moz-box;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow:hidden;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    height: 40px;
    line-height: 20px;
}

.message-search-box
{
    left: 210px;
    height: 40px;
    float: right;
    right: 10px;
    position: absolute;
    line-height: 40px;
}

.message-searching-icon
{
    right: 10px;
    width: 20px;
    height: 16px;
    top: 20px;
    margin-top: -8px;
    position: absolute;
    cursor: pointer;
}

.message-searching-icon:hover
{
    border: 1px solid #5582f3;
    border: 1px solid var(--color-main, #5582f3);
    border-radius: 2px;
    color: #5582f3;
    color: var(--color-main, #5582f3);
    background-color: #eff3fd;
    background-color: var(--color-pale, #eff3fd);
}

.message-search-icon
{
    left: 180px;
    float: left;
    width: 16px;
    height: 16px;
    top: 10px;
    position: absolute;
}

.message-searchtype-combobox
{
    width: 80px;
    float: left;
    height: 44px;
    position: relative;
    box-shadow: 0 0px 0px #ccc;
    margin-top: -4px;
}

.message-content-container
{
    left: 5px;
    right: 5px;
}

.message-group-list
{
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    padding-top: 10px;
    width: 100%;
    height: 70px;
    margin: 0px 0px;
    overflow: hidden;
}
.message-group-item-nodata
{
    background-color: #fff;
    width: 100%;
    height: 60px;
    margin: 0px 0px;
    line-height: 60px;
    text-align: center;
    color: #888888;
}
.message-group-item-moredata
{
    background-color: #fff;
    width: 100%;
    height: 60px;
    margin: 0px 0px;
    line-height: 60px;
    text-align: center;
    color: #02A7F0;
    cursor: pointer;
}
.message-group-title-span
{
    height: 15px;
    line-height: 15px;
}
.message-group-list .message-group-title-span
{
    display: block;
    margin-top: 5px;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    float: left;
}
.message-type-icon-view
{
    float: left;
    height: 100%;
    width: 50px;
}
.message-type-icon-container
{
    width:100%;
    height:100%;
    position:relative;
    margin-top:-25px;
    top: 50%;
}
.message-oper-icon-view
{
    float: right;
    text-align: center;
    font-size:14px;
    color:#666;
    cursor: pointer;
    margin-top: 2px;
    margin-left: 5px;
}
.message-spot-icon
{
    border:1.5px solid #999;
    background-color: gray;
    -webkit-border-radius: 100px;
    margin-top: 3px;
}
.message-see-btn
{
    float: left;
    left: 5px;
    bottom: 5px;
    color: #02A7F0;
    cursor: pointer;
    line-height: 15px;
    text-align: center;
}
.message-time-label
{
    float: right;
    right: 5px;
    bottom: 5px;
    line-height: 15px;
    text-align: center;
}

.footer-pane-message-type-btn
{
    height: 50px;
    border-top:1px solid rgba(215, 215, 215, 1);
}

.biz-label-btn
{
    color: #5582f3;
    color: var(--color-main, #5582f3);
    float: left;
    text-align: center;
    width: 100px;
    line-height: 50px;
    margin-left: 10px;
    height: 100%;
}
.publish-label-btn
{
    margin: 0 120px;
    text-align: center;
    color: #989898;
    line-height: 50px;
}
.system-label-btn
{
    float: right;
    color: #5582f3;
    color: var(--color-main, #5582f3);
    line-height: 50px;
    margin-right: 10px;
    text-align: center;
    width: 100px;
    height: 100%;
}
.no-message-icon-view
{
    height: 260px;
    margin-top: 40px;
}

.no-message-label-view
{
    text-align: center;
    width: 100%;
    color: #02A7F0;
}

.close-label-btn
{
    background: inherit;
    background-color: rgba(85, 130, 243, 1);
    border: none;
    border-radius: 5px;
    /*font-size: 16px;*/
    cursor:pointer;
    border-bottom: 1px solid #44bbfc;
    line-height: 40px;
    margin: 5px 220px 5px 220px;
    text-align: center;
    color: white;
}

.message-detail-dialog-time
{
    margin-bottom: 10px;
    position: absolute;
    float: left;
}

.message-clear-all-icon
{
    position: absolute;
    margin-left: 110px;
    top: 50%;
    margin-top: -11px;
    height: 26px;
    width: 30px;
    cursor: pointer;
    transform: scale(0.6);
    -ms-transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -o-transform: scale(0.6);
    -moz-transform: scale(0.6);
}

.message-clear-tips
{
   position: absolute;
   margin-left: 135px;
   color: #7F7F7F;
   text-align: left;
   font-size: 13px;
   top: 50%;
   margin-top: -18px;
}

.message-clear-all-ui
{
    color: #7F7F7F;
    text-align: left;
    font-size: 13px;
    margin-left: 15px;
}
.message-clear-all-ui:hover
{
    color: #4494f3;
    cursor: pointer;
}
.message-type-icon
{
    width: 40px;
    height: 40px;
    position: absolute;
}

.management-message-dialog
{
    width:330px;
    height:260px;
    position:fixed;
    bottom: -310px;
    right: 10px;
    transition: all .5s linear;
    box-sizing: border-box;
    box-shadow: none;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .15);
    border-radius: 2px;
    z-index: 999;
}

.management-message-titleBar
{
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    height: 40px;
    width: 100%;
    background-color: #88a7f6 !important;
    background-color: var(--color-lightish, #88a7f6) !important;
}

.management-message-title
{
    cursor: default;
    position: absolute;
    left: 5px;
    right: 0;
    top: 0;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.59px;
    font-weight: 700;
    padding-left: 32px;
    padding-right: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.management-message-close-btn
{
    position: absolute;
    right: 11px;
    width: 20px;
    top: 8px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
}

.management-message-content
{
    overflow:auto;
    margin:8px 20px 8px 20px;
    overflow-x:hidden;
    overflow-y: auto;
    height: 160px;
    font-size: 14px;
    word-break: break-all;
}
.message-footer
{
    margin-left: -50px;
}
.message-title-notice-icon
{
    position: absolute;
    float: left;
    width: 32px;
    height: 32px;
    top: 4px;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);    /* for Chrome || Safari */
    -moz-transform: scale(0.8);       /* for Firefox */
    -ms-transform: scale(0.8) ;        /* for IE */
    -o-transform: scale(0.8);         /* for Opera */
}
.message-spot-icon-ui
{
    margin: 0 7px;
    width: 20px;
    height: 30px;
}

.message-detail-turn
{
    position: relative;
    float: right;
}
.message-detail-turn-last
{
    float: left;
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin: 4px;
}
.message-detail-turn-next
{
    float: left;
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin: 4px;
}

.message-no-data-bg-container
{
    position: relative;
    background: #FFFFFF;
    top: calc(50% - 48px);
    left: calc(50% - 85px);
    bottom: 0px;
    width: 170px;
    height: 120px;
    text-align: center;
    overflow: visible;
}

.message-no-search-display-icon
{
    width: 170px;
    height: 96px;
    position: absolute;
}

.message-sa-ctrl-dialog
{
    z-index: 999999;
    position: absolute;
    min-width: 350px;
    height: 360px;
    background-color: #fff;
    box-shadow: 0px 0px 20px #666;
    border-radius: 4px;
}

.message-container
{
    overflow: hidden;
    left: 5px;
    right: 5px;
}