/*todo 年选择器*/
.wtc_datepicker-year-wrap {
    width: 240px;
}

.wtc_datepicker-year-title {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #e4e4e4;
    line-height: 14px;
}

.wtc_datepicker-year-text {
    font-size: 14px;
    font-weight: 700;
    color: #606266;
}

.wtc_datepicker-year-btn-left, .wtc_datepicker-year-btn-right {
    cursor: pointer;
    font-size: 14px;
    color: #999;
    /*margin-top: 3px;*/
}

.wtc_datepicker-year-btn-left:hover, .wtc_datepicker-year-btn-right:hover {
    color: var(--theme-color);
}

.wtc_datepicker-year-list {
    width: 100%;
    font-size: 0;
}

.wtc_datepicker-year-item {
    display: inline-block;
    font-size: 12px;
    width: 33.3%;
    height: 36px;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
}

.wtc_datepicker-year-item:hover {
    color: var(--theme-color);
}

.wtc_datepicker-year-item-active {
    color: var(--theme-color);
}


/*todo 月选择器*/
.wtc_datepicker-month-wrap {
    width: 240px;
}

.wtc_datepicker-month-title {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #e4e4e4;
    line-height: 14px;
}

.wtc_datepicker-month-text {
    font-size: 14px;
    font-weight: 700;
    color: #606266;
    cursor: pointer
}

.wtc_datepicker-month-btn-left, .wtc_datepicker-month-btn-right {
    cursor: pointer;
    font-size: 14px;
    color: #999;
    /*margin-top: 3px;*/
}

.wtc_datepicker-month-btn-left:hover, .wtc_datepicker-month-btn-right:hover, .wtc_datepicker-month-text:hover {
    color: var(--theme-color);
}

.wtc_datepicker-month-list {
    width: 100%;
    font-size: 0;
}

.wtc_datepicker-month-item {
    display: inline-block;
    font-size: 12px;
    width: 33.3%;
    height: 36px;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
}

.wtc_datepicker-month-item:hover {
    color: var(--theme-color);
}

.wtc_datepicker-month-item-active {
    color: var(--theme-color);
}