.programmeBox--3KNoq {
  width: 100%;
  min-width: 785px;
  height: 100%;
  max-height: 633px;
  min-height: 600px;
  background: #ffffff;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  color: #333333;
}
.programmeBox--3KNoq select {
  color: #666666;
  background-color: #fbfbfc;
  border: 1px solid #cccccc;
  border-radius: 6px;
}
.subject--UP1o0 {
  height: 100%;
  position: relative;
}
.programmeNavSelect--1jl0P {
  display: flex;
  height: 37px;
  justify-content: space-between;
}
.programmeNavSelect--1jl0P > select {
  top: 20px;
  width: 320px;
  height: 26px;
  background: #ffffff;
  border-radius: 2px;
  border: 1px solid #cccccc;
}
.white--3EwTd {
  display: block;
  height: 34px;
  border: 1px solid #cccccc;
  background: #f3f3f5;
}
.white--3EwTd .distinguishFieldNav--cyzSA {
  float: left;
  margin-left: 40px;
  margin-top: 7px;
  font-size: 14px;
}
.white--3EwTd .businessFieldNav--3umY1 {
  float: left;
  margin-left: 301px;
  margin-top: 7px;
  font-size: 14px;
}
.programme--1MG6C {
  width: 100%;
  height: 100%;
  min-height: 536px;
  max-height: 545px;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  overflow: auto;
}
.oneProgramme--12gHf {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.programmeItemDis--3eWBm {
  margin-left: 30px;
  width: 300px;
  height: 40px;
  background: #fbfbfc;
  border-radius: 4px;
  border: 1px solid #cccccc;
}
.middleImage--3UG-8 {
  margin-left: 15px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #a7b5d3;
  position: relative;
}
.middleImage--3UG-8 > img {
  -webkit-user-drag: none;
  width: 18px;
  height: 18px;
  /* display: inline-table; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.programmeItemBus--2iJfc {
  width: 300px;
  height: 40px;
  background: #fbfbfc;
  border-radius: 4px;
  border: 1px solid #cccccc;
  margin-left: 15px;
}
.addAndDelete--15N_0 {
  width: 150px;
  height: 32px;
  float: right;
  display: flex;
  justify-content: space-around;
  font-size: 14px;
}
.addAndDelete--15N_0 > button {
  outline: none;
  border: 0;
  color: #5582f3;
  background-color: #ffffff;
  align-self: center;
}
.addAndDelete--15N_0 > button:hover {
  cursor: pointer;
}
.colLine--1PVxY {
  display: inline-block;
  width: 1px;
  height: 22px;
  background: #e6e8ee;
  align-self: center;
}
.selectList--3Mzex {
  display: inline-block;
  width: 300px;
  height: 40px;
}
.selectListInput--3NplC {
  display: inline-block;
  width: 290px;
  height: 32px;
  outline: none;
}
.selectListInput--3NplC:hover {
  border: 1px solid #1890ff;
  border-radius: 2px;
}
.businessFieldList--2Iys2 {
  position: absolute;
  background-color: black;
  width: 298px;
  height: auto;
}

.selectSearchBox--2u4o8 {
  background: #fbfbfc;
  border-radius: 4px;
  border: 1px solid #cccccc;
  margin-left: 23px;
}
.selectSearchBox--2u4o8:hover {
  border: 1px solid #5582F3;
  box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.15);
  cursor: text;
}
.selectSearchInput--19IFN {
  display: flex;
  width: 90%;
  height: 100%;
}
.selectSearchInput--19IFN > input {
  margin: 0;
  padding: 0;
  background: 0 0;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 100%;
}
.selectSearchInput--19IFN ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #333333 !important;
}
.selectSearchInput--19IFN :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #333333 !important;
  opacity: 1 !important;
}
.selectSearchInput--19IFN ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #333333 !important;
  opacity: 1 !important;
}
.selectSearchInput--19IFN :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #333333 !important;
}
.selectImg--2ejzB {
  width: 15px;
  height: 15px;
  align-self: center;
}
.selectSearchBoxValue--1IZS6 {
  display: inline-block;
  width: 90%;
  position: relative;
}
.antSelect--DJ7_M {
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.antSelect--DJ7_M > img {
  -webkit-user-drag: none;
  user-select: none;
}
.antSelect--DJ7_M:hover {
  cursor: text;
}
.optionListBox--3PQ4N {
  max-height: 200px;
  overflow: scroll;
  margin-top: 5px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  position: relative;
  font-size: 12px;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}
.optionListBox--3PQ4N::-webkit-scrollbar {
  display: none;
  /* Chrome Safari */
}
.optionListBox--3PQ4N:hover {
  cursor: pointer;
}
.onceOption--21LL- {
  height: 40px;
}
.onceOption--21LL- > span {
  line-height: 40px;
  display: inline-block;
  margin-left: 10px;
}
.onceOption--21LL-:hover {
  background-color: #F5F5F5;
}

.selectSearchBox--SRN-d {
  background: white;
  border-radius: 2px;
  border: 1px solid #cccccc;
  font-size: 13px;
  display: flex;
}
.selectSearchBox--SRN-d:hover {
  border: 1px solid #5582f3;
  box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.15);
}
.selectBoxValue--TL2Bv {
  width: 100%;
  height: 100%;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.selectBoxValue--TL2Bv > span {
  user-select: none;
}
.selectBoxValue--TL2Bv > img {
  -webkit-user-drag: none;
  user-select: none;
}
.selectSearchBoxValue--lQW1S {
  display: inline-block;
  width: 90%;
  position: relative;
}
.selectPic--VQZXp {
  width: 15px;
  height: 15px;
}
.antSelect--17n-v {
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.antSelect--17n-v:hover {
  cursor: pointer;
}
.optionListBox--1Wlq4 {
  max-height: 200px;
  overflow: auto;
  margin-top: 2px;
  border: 1px solid #cccccc;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.15);
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}
.optionListBox--1Wlq4::-webkit-scrollbar {
  display: none;
  /* Chrome Safari */
}
.optionListBox--1Wlq4:hover {
  cursor: pointer;
}
.onceOption--1hMK6 {
  width: 100%;
  height: 40px;
  background-color: white;
}
.onceOption--1hMK6 > span {
  line-height: 40px;
  display: inline-block;
  margin-left: 10px;
  user-select: none;
}
.onceOption--1hMK6:hover {
  background-color: #f5f5f5;
}

