._1ggc-StFmasuyweM7u0Bnj ._3IZPtFTphwjtTsN4Rqykpw {
  color: #bbbbbb;
  font-size: 12px;
}
._1ggc-StFmasuyweM7u0Bnj ._3EoTfbmAdJHdVB1JVtx68U {
  font-size: 14px;
}
._1ggc-StFmasuyweM7u0Bnj ._2IIvyq4vayB9iBcnu9Ck5i {
  font-size: 10px;
  border: 1px solid black;
  border-radius: 100%;
  padding: 0px 3px;
  width: 10px;
  height: 10px;
  line-height: 10px;
  text-align: center;
  display: inline;
  color: black;
}
._1ggc-StFmasuyweM7u0Bnj ._3KNNjAZzfqAUqcI3S8oT3P {
  background-color: #F2F9FF;
  min-height: 40px;
  width: 100%;
  bottom: 30px;
  margin-bottom: 20px;
  margin-top: 15px;
  line-height: 40px;
  border-radius: 2px;
  border: 1px solid #A8CFFF;
}
._1ggc-StFmasuyweM7u0Bnj ._3KNNjAZzfqAUqcI3S8oT3P span,
._1ggc-StFmasuyweM7u0Bnj ._3KNNjAZzfqAUqcI3S8oT3P label {
  font-size: 12px !important;
  color: black !important;
  font-family: 600;
}
._1ggc-StFmasuyweM7u0Bnj ._3KNNjAZzfqAUqcI3S8oT3P label,
._1ggc-StFmasuyweM7u0Bnj ._3KNNjAZzfqAUqcI3S8oT3P abbr {
  margin-left: 20px;
}
._1ggc-StFmasuyweM7u0Bnj ._3KNNjAZzfqAUqcI3S8oT3P abbr {
  font-weight: 100;
  color: #D9D9D9;
  position: relative;
  top: -2px;
}
._1ggc-StFmasuyweM7u0Bnj ._11DGcstCflwh9P9eVxt-ZP {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-left: 10px solid #D9D9D9;
  border-bottom: 6px solid transparent;
  margin-right: 20px;
}
._1ggc-StFmasuyweM7u0Bnj ._1-smq95hXY2Hu8TqCYBu3y {
  color: #5582F3;
  font-size: 20px;
  margin-left: 20px;
}
._1ggc-StFmasuyweM7u0Bnj ._3EoTfbmAdJHdVB1JVtx68U::before {
  content: "";
  background-color: #5582F3;
  padding-right: 2px;
  margin-right: 10px;
  border-radius: 2px;
}
._1ggc-StFmasuyweM7u0Bnj ._2wM4KbZiLBcHKXn-hFLoxX {
  padding: 8px 0px;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: wrap;
}
._1ggc-StFmasuyweM7u0Bnj ._2wM4KbZiLBcHKXn-hFLoxX ._1YHYS84GSOniVw4OKTU1td {
  background-color: #F2F9FF;
  border-radius: 2px;
  border: 1px solid #A8CFFF;
  width: 239px;
  padding: 16px;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  flex: 0 0 auto;
  flex-shrink: 0;
}
._1ggc-StFmasuyweM7u0Bnj ._2wM4KbZiLBcHKXn-hFLoxX ._1YHYS84GSOniVw4OKTU1td ._3ZH16TYD5Rg-jppkYjg4MV {
  width: 14px;
  height: 14px;
}
._1ggc-StFmasuyweM7u0Bnj ._2wM4KbZiLBcHKXn-hFLoxX ._1YHYS84GSOniVw4OKTU1td ._1-kFoKzTGA-PhFeLgCBW1D {
  padding-left: 8px;
  padding-right: 16px;
  width: -webkit-fill-available;
  max-width: 210px;
  flex-shrink: 0;
}
._1ggc-StFmasuyweM7u0Bnj ._2wM4KbZiLBcHKXn-hFLoxX ._1YHYS84GSOniVw4OKTU1td ._1-kFoKzTGA-PhFeLgCBW1D .CfTZ07NJXC_tk-SgDmaS7 {
  font-family: MicrosoftYaHeiSemibold;
  font-size: 14px;
  color: #212121;
  letter-spacing: 0;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: break-word;
}
._1ggc-StFmasuyweM7u0Bnj ._2wM4KbZiLBcHKXn-hFLoxX ._1YHYS84GSOniVw4OKTU1td ._1-kFoKzTGA-PhFeLgCBW1D ._3GT4RblZXMm9hMgjQSTy-v {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #666666;
  letter-spacing: 0;
  font-weight: 400;
  margin-top: 18px;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  height: 36px;
  line-height: 18px;
  width: 185px;
}
._1ggc-StFmasuyweM7u0Bnj ._2wM4KbZiLBcHKXn-hFLoxX ._1YHYS84GSOniVw4OKTU1td ._1-kFoKzTGA-PhFeLgCBW1D ._30ngsqH9kGCNBv267mJzE6 {
  margin-top: 8px;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
}
._1ggc-StFmasuyweM7u0Bnj ._2wM4KbZiLBcHKXn-hFLoxX ._1YHYS84GSOniVw4OKTU1td ._1-kFoKzTGA-PhFeLgCBW1D ._30ngsqH9kGCNBv267mJzE6 ._3a6WKIJUw4c-5T2ASykHu0 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: MicrosoftYaHei;
  font-size: 12px;
  color: #276FF5;
  letter-spacing: 0;
  font-weight: 400;
}
._1ggc-StFmasuyweM7u0Bnj ._2wM4KbZiLBcHKXn-hFLoxX ._1YHYS84GSOniVw4OKTU1td ._1-kFoKzTGA-PhFeLgCBW1D ._30ngsqH9kGCNBv267mJzE6 .bEPR3HMmCgV4WKrOXZol {
  color: #276FF5;
}
._1ggc-StFmasuyweM7u0Bnj ._2wM4KbZiLBcHKXn-hFLoxX ._1YHYS84GSOniVw4OKTU1td:hover {
  border: #276FF5 1px solid;
}
._1ggc-StFmasuyweM7u0Bnj ._2wM4KbZiLBcHKXn-hFLoxX ._1BdIzDdRfGt1OAYoWqkrtR {
  width: 100%;
  padding: 20px 0px;
}
._1ggc-StFmasuyweM7u0Bnj ._1VXeZHMfbDe_VdupVZqGXP {
  padding: 8px 0px;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: wrap;
}
._1ggc-StFmasuyweM7u0Bnj ._1VXeZHMfbDe_VdupVZqGXP ._1YHYS84GSOniVw4OKTU1td {
  background-color: #FCFCFC;
  border-radius: 6px;
  width: 239px;
  padding: 16px;
  display: flex;
  display: -webkit-flex;
  border: 1px solid #E5E5E5;
  border-radius: 2px;
  flex-direction: row;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  flex: 0 0 auto;
  flex-shrink: 0;
}
._1ggc-StFmasuyweM7u0Bnj ._1VXeZHMfbDe_VdupVZqGXP ._1YHYS84GSOniVw4OKTU1td ._3ZH16TYD5Rg-jppkYjg4MV {
  width: 14px;
  height: 14px;
}
._1ggc-StFmasuyweM7u0Bnj ._1VXeZHMfbDe_VdupVZqGXP ._1YHYS84GSOniVw4OKTU1td ._1-kFoKzTGA-PhFeLgCBW1D {
  padding-left: 8px;
  padding-right: 16px;
  width: -webkit-fill-available;
  max-width: 210px;
  flex-shrink: 0;
}
._1ggc-StFmasuyweM7u0Bnj ._1VXeZHMfbDe_VdupVZqGXP ._1YHYS84GSOniVw4OKTU1td ._1-kFoKzTGA-PhFeLgCBW1D .CfTZ07NJXC_tk-SgDmaS7 {
  font-family: MicrosoftYaHeiSemibold;
  font-size: 14px;
  color: #212121;
  letter-spacing: 0;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: break-word;
}
._1ggc-StFmasuyweM7u0Bnj ._1VXeZHMfbDe_VdupVZqGXP ._1YHYS84GSOniVw4OKTU1td ._1-kFoKzTGA-PhFeLgCBW1D ._3GT4RblZXMm9hMgjQSTy-v {
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #666666;
  letter-spacing: 0;
  font-weight: 400;
  margin-top: 18px;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  height: 36px;
  line-height: 18px;
  width: 185px;
}
._1ggc-StFmasuyweM7u0Bnj ._1VXeZHMfbDe_VdupVZqGXP ._1YHYS84GSOniVw4OKTU1td ._1-kFoKzTGA-PhFeLgCBW1D ._30ngsqH9kGCNBv267mJzE6 {
  margin-top: 8px;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
}
._1ggc-StFmasuyweM7u0Bnj ._1VXeZHMfbDe_VdupVZqGXP ._1YHYS84GSOniVw4OKTU1td ._1-kFoKzTGA-PhFeLgCBW1D ._30ngsqH9kGCNBv267mJzE6 ._3a6WKIJUw4c-5T2ASykHu0 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: MicrosoftYaHei;
  font-size: 12px;
  color: #276FF5;
  letter-spacing: 0;
  font-weight: 400;
}
._1ggc-StFmasuyweM7u0Bnj ._1VXeZHMfbDe_VdupVZqGXP ._1YHYS84GSOniVw4OKTU1td ._1-kFoKzTGA-PhFeLgCBW1D ._30ngsqH9kGCNBv267mJzE6 .bEPR3HMmCgV4WKrOXZol {
  color: #276FF5;
}
._1ggc-StFmasuyweM7u0Bnj ._1VXeZHMfbDe_VdupVZqGXP ._1YHYS84GSOniVw4OKTU1td:hover {
  border: #276FF5 1px solid;
}
._1ggc-StFmasuyweM7u0Bnj ._1VXeZHMfbDe_VdupVZqGXP ._1BdIzDdRfGt1OAYoWqkrtR {
  width: 100%;
  padding: 20px 0px;
}
._1ggc-StFmasuyweM7u0Bnj .QRAsb740Ix4oi753bIS30 {
  font-family: MicrosoftYaHei;
  font-size: 12px;
  color: #5582F3;
  letter-spacing: 0;
  line-height: 18px;
  font-weight: 400;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  cursor: pointer;
}
._1ggc-StFmasuyweM7u0Bnj .QRAsb740Ix4oi753bIS30 .G4QRGpXNSY1gyALj4BKDL {
  margin-left: 5px;
}
