#tdcstalentsearchresult .kd-table thead tr th {
    position: relative;
}

#tdcstalentsearchresult .kd-btn {
    border: none;
}

#tdcstalentsearchresult .kd-table thead tr div {
    overflow: visible !important;
}

#tdcstalentsearchresult .kd-table thead th.kd-last {
    border-right: none !important
}

#tdcstalentsearchresult .kd-checkbox-default-no-child {
    height: 100%;
    width: 100%;
}

#tdcstalentsearchresult .kd-table-body tbody tr td {
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    padding: 0 12px;
    border: none;
    border-bottom: 1px solid #D9D9D9;
}

#tdcstalentsearchresult .kd-input-wrapper-size-middle {
    padding: 0 9px !important;
}

#tdcstalentsearchresult .kd-table-body tbody tr td div {
    /* padding: 0 8px; */
    /* width: 100%;
    height: 100%; */
    /* line-height: 40px; */
}

#tdcstalentsearchresult .kd-table-body tbody tr td div.kd-leaf span {
    width: 100% !important;
    margin-left: 0 !important;
    height: 100% !important;
}

#tdcstalentsearchresult .kd-table-body tbody tr td:last-child {
    border-right: 0 !important;
}

#tdcstalentsearchresult .kd-table-body tbody tr td:not(:last-child)::after {
    /* content: "";
    position: absolute;
    display: block;
    width: 1px;
    height: 100%;
    right: 0;
    top: 0;
    background-color: var(--border-color); */
}

#tdcstalentsearchresult .kd-table thead tr th::after {
    /* content: "";
    position: absolute;
    display: block;
    width: 1px;
    height: 100%;
    right: 0;
    top: 0;
    background-color: var(--border-color); */
}

#tdcstalentsearchresult .kd-table th .kd-table-header-cell-resize {
    /* display: flex !important; */
}

#tdcstalentsearchresult .kd-modal-footer {
    height: 50px !important;
    border-radius: 2px;
    background-color: #fff;
}

#tdcstalentsearchresult .empty td {
    border-bottom: none !important;
}

#tdcstalentsearchresult .empty .kd-empty-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.kd-message-box {
    align-items: center;
}

#tdcstalentsearchresult .kd-split-vertical>.kd-split-trigger-con {
    width: 80% !important;
}

#tdcstalentsearchresult .kd-split-vertical>.kd-split-trigger-con>.kd-split-trigger {
    background-image: url('../staticImg/split.png');
    height: 10px;
    background-color: #fff;
    background-size: 100% 100%;
    user-select: none;
}

.ui-state-highlight {
    height: 20px;
    width: 80px;
    border: 1px dashed rgba(85, 130, 243, 1);
    margin-right: 8px;
    border-radius: 2px;
}



#tdcstalentsearchresult .kd-split-wrapper .kd-tabs-tab-list {
    display: flex !important;
    width: 100%;
    left: 0 !important;
    /* justify-content: center; */
}

#tdcstalentsearchresult .kd-split-wrapper .kd-tabs-tab-list .kd-tab-pane-type-line {
    padding: 0;
    width: 50%;
    text-align: center;
}

#tdcstalentsearchresult .kd-split-wrapper .kd-tabs-tab-list .kd-tab-pane-type-line>span {
    display: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#tdcstalentsearchresult #HRReportFormsAppWrap .bottomLeft {
    z-index: 1051 !important;
}

#tdcstalentsearchresult .kd-split-wrapper .kd-tabs-right-arrows-line {
    display: none !important;
}

#tdcstalentsearchresult .kd-table-header-cell-content>span {
    margin-left: 0 !important;
    width: 100%;
    align-items: center;
    height: 100%;
}

#tdcstalentsearchresult .kd-tabs .kd-tabs-navs-line {
    width: calc(100% - 16px) !important;
}


#kdColorPickerDialog_haedStyle_HRReport .kd-tabs-right-arrows.kd-tabs-right-arrows-card.kd-tabs-right-arrows-noshadow {
    display: none !important;
}

#kdColorPickerDialog_haedStyle_HRReport .kd-tabs-tab-list {
    width: 100%;
}

#kdColorPickerDialog_haedStyle_HRReport .kd-tabs-navs.kd-tabs-navs-card.kd-tabs-navs-middle {
    height: 36px !important;
}

.kd-color-picker-pop {
    z-index: 1050;
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
    width: 302px;

}

.kd-color-picker-pop .kd-color-picker-panel-chrome {
    box-shadow: none !important;
    width: 100% !important;
}

#tdcstalentsearchresult .betweenWrap .kd-select-wrapper {
    padding-right: 8px !important;
    min-width: 27px;
}

#jumpSettingModalBody thead tr th:first-child {
    padding: 0 !important;
}

#jumpSettingModalBody tbody tr td {
    padding: 0 !important;
    height: 40px;
    border-bottom: 1px solid #d9d9d9;
    /* border-right: 1px solid #d9d9d9; */
}

#jumpSettingModalBody tbody tr td:first-child {
    border-right: none !important;
}

#tdcstalentsearchresult .kd-select-size-middle {
    /* height: 32px !important; */
    justify-content: center;
    padding-right: 24px;
}

#tdcstalentsearchresult .kd-select-suffix {
    margin-right: 8px;
}

#jumpSettingModalBody .empty td {
    display: none;
}

#jumpSettingModalBody thead th {
    padding: 0 !important;
}

#jumpSettingModalBody thead th:nth-child(3) {
    border-right: 1px solid #d9d9d9;
    padding-left: 6px !important;
}

#jumpSettingModalBody thead th:nth-child(2) {
    border-right: 1px solid #d9d9d9;
}

#jumpSettingModalBody thead th:nth-child(4) {
    padding-left: 6px !important;
}

#kd-message .kd-message {
    min-width: 1px !important;
}

.kd-select-dropdown {
    width: 100% !important;
}

#kdDrillIngAndJump_Menu_HRReport div {
    display: flex;
    flex-direction: column;
    display: flex;
    position: absolute;
    background: #fff;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%);
    padding: 12px 0 8px 0;
}

#kdDrillIngAndJump_Menu_HRReport div span {
    height: 32px;
    padding: 0 20px;
    line-height: 32px;
    cursor: pointer;
}

#kdDrillIngAndJump_Menu_HRReport div span:hover {
    background: #F2F6FF;
}

.tdsc-Tabs-container {
    width: 100%;
    height: 34px;
    margin-top: 11px;
}

.tdsc-Tabs-container .kd-tab-pane-text {
    font-size: 12px;
    color: #666;
}

.tdsc-Tabs-container .kd-dropdown-trigger.kd-tabs-more-btn .kdicon.kdicon-arrow-down:before {
    content: "…";
}

.tdsc-Tabs-container .kd-tabs-left-arrows.kd-tabs-left-arrows-line.kd-tabs-left-arrows-noshadow {
    margin-bottom: 2px;
}

.tdsc-Tabs-container .kd-tabs-navs.kd-tabs-navs-line.kd-tabs-navs-middle {
    margin-top: 7px;
    border: none;
}

.tdsc-Tabs-container .kd-tabs-right-arrows.kd-tabs-right-arrows-line {
    margin-bottom: 2px;
    box-shadow: none;
}

.tdsc-Tabs-container .kd-arrow-button-line {
    width: 20px;
    height: 28px;
    background: #E5E5E5;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2px;
}

.modalContent-t2 .kd-form.kd-form-field {
    margin-bottom: 12px !important;
}

.modalContent-t2 .kd-form-field-label {
    margin-right: 12px;
}

.tdsc-multiple-option-box {
    position: relative;
}

.tds-table-box .kd-table .kd-sort-icon {
    display: block;
}

/* multiple.css */
.tdsc-multiple-container .tdsc-multiple-option-box {
    position: absolute;
}

.tdsc-select-wrapper .kd-select-selection-tag,
.tdsc-multiple-wrapper .kd-select-selection-tag {
    width: 250px;
    height: 24px;
    position: absolute;
    display: inline-block;
    line-height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tdsc-option-wrapper .kd-select-item-option,
.tdsc-select-wrapper .kd-select-item-option {
    justify-content: start;
}

.tdsc-multiple-container {
    width: 230px;
    position: relative;
}

.tdsc-multiple-select-tag {
    width: 200px;
    height: 30px;
    position: absolute;
    line-height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* top: 0; */
    left: 8px;
}

.tdsc-multiple-wrapper .kd-tag-shape-edit {
    display: none;
}

.tdsc-multiple-tag {
    align-items: center;
}

.tdsc-multiple-tag .close {
    display: none;
}

.tdsc-multiple-tag:hover .close {
    display: inline;
}

.tdsc-multiple-input-box {
    display: flex;
    align-items: center;
    padding: 8px;
}

.tdsc-multiple-popper:after {
    content: "";
    display: block;
    width: 540px;
    height: 280px;
    background: transparent;
}

.tdsc-multiple-popper .kd-select-dropdown {
    width: 294px;
}

.tdsc-multiple-option-box .kd-select-item-option {
    justify-content: start;
}

#tdcstalentsearchresult .tdsc-multiple-container .kd-select-size-middle {
    justify-content: start;
    background-color: #fff;
}

.tdsc-select-wrapper {
    background-color: #fff;
}

.tdsc2Form .kd-form-field-label {
    margin-right: 12px;
}

/* 临时补充下缺失文件 */
.kd-tooltip.hidden {
    opacity: 0;
    visibility: hidden;
}