html,body
{
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #E2E7EF;
}

.source-manage-main
{
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.source-manage-toolbar
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    overflow: visible;
    padding-left: 14px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
    background-color: #fff;
    width: 100%;
    height: 45px;
}

.source-manage-toolbar-title
{
    position: absolute;
    color: #333333;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    font-weight: 400;
    top: 10px;
    left: 40px;
}

.source-manage-toolbar-search-icon
{
    right: 120px;
    float: right;
    width: 16px;
    height: 16px;
    top: 14px;
    position: absolute;
}

.source-manage-toolbar-searchBox
{
    width: 230px;
    height: 30px;
    top: 5px;
    float: right;
    right: 120px;
    position: absolute;
}

.source-manage-toolbar-searchtype-combobox
{
    width: 90px;
    height: 30px;
    top: 5px;
    float: right;
    right: 20px;
    position: relative;
}

.source-manage-content
{
    overflow-x: hidden;
    overflow-y: auto;
    top: 45px;
    button: 20px;
    position: absolute;
    width: 100%;
}

.source-manage-content-card
{
    position: relative;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .15);
    box-sizing: content-box;
    height: 130px;
    width: 316px;
    float: left;
    border: 1px solid #fff;
    border-radius: 4px;
    margin: 20px 0px 10px 20px;
    background: #fff;
    display: inline-block;
    user-select:none;
}

.source-manage-content-card-selected
{
    border: 1px solid #5582f3;
    border: 1px solid var(--color-main, #5582f3);
}

.source-manage-content-card-creator
{
    position: absolute;
    text-align: center;
    font-size: 17px;
    line-height: 200px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    color: #999999;
    text-overflow: ellipsis;
    cursor: pointer;
}
.source-manage-content-card-creator:hover
{
    color: #2b87f3;
}

.source-manage-content-card-creator-icon
{
    position: absolute;
    margin: auto;
    width: 52px;
    height: 52px;
    top: 22px;
    left: 0px;
    right: 0px;
    cursor: pointer;
}

.source-manage-content-card-head
{
    position: absolute;
    top: 0px;
    left: 75px;
    /*width = 300 - 65 px;*/
    width: 225px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333333;
}

.source-manage-content-card-head-title
{
    position: relative;
    float: left;
    width: 150px;
    height: 40px;
    line-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.source-manage-content-card-head-operator
{
    position: relative;
    float: right;
    width: 47px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 20px;
}

.source-manage-content-card-head-operator-edit
{
    width: 16px;
    height: 16px;
    float: right;
    cursor: pointer;
}

.source-manage-content-card-head-operator-delete
{
    width: 16px;
    height: 16px;
    float: right;
    margin-left: 14px;
    cursor: pointer;
}
.source-manage-content-card .edit-icon
{
    display: none;
}
.source-manage-content-card:hover .edit-icon
{
    display: block;
}

.source-manage-content-card .delete-icon
{
    display: none;
}
.source-manage-content-card:hover .delete-icon
{
    display: block;
}

.source-manage-content-card-icon
{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0px;
    left: -13px;
    transform: scale(0.5);
    -ms-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
}

.source-manage-content-card-body
{
    position: absolute;
    left: 75px;
    width: 220px;
    top: 45px;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    height: 70px;
    line-height: 22px;
}

.source-manage-content-card-text
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.source-manage-content-card-notice-icon
{
    position: absolute;
    width: 100px;
    height: 100px;
    left: -10px;
    top: -20px;
    transform: scale(0.3);
    -webkit-transform: scale(0.3);    /* for Chrome || Safari */
    -moz-transform: scale(0.3);       /* for Firefox */
    -ms-transform: scale(0.3) ;        /* for IE */
    -o-transform: scale(0.3);         /* for Opera */
}

.source-manage-content-card-notice-title
{
    position: absolute;
    width: 210px;
    height: 25px;
    left: 65px;
    top: 20px;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: black;
}

.source-manage-content-card-notice-body-creator
{
    position: absolute;
    width: 250px;
    height: 20px;
    left: 25px;
    top: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: black;
}

.source-manage-content-card-body-ref-source-creator
{
    position: absolute;
    width: 250px;
    height: 20px;
    left: 25px;
    top: 85px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: black;
}

.source-manage-content-card-body-source
{
    position: absolute;
    width: 250px;
    height: 20px;
    left: 25px;
    top: 110px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: black;
}

.source-manage-content-card-error-icon
{
    position: absolute;
    width: 200px;
    height: 100px;
    top: 0px;
    left: 60px;
    transform: scale(0.5);
    -ms-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
}

.source-manage-content-card-error-message
{
    position: absolute;
    width: 210px;
    height: 35px;
    top: 90px;
    left: 50px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2
}

.source-manage-source-type-main
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
}

.source-manage-source-db-split-line
{
    position: absolute;
    border-right: 1px solid #CBCBCB;
    height: 100%;
    width: 1px;
    top: 0px;
    left: 50%;
}

.source-manage-source-db-source-type
{
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    color: #666;
}

.source-manage-source-file-connect-name
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 60px;
    height: 25px;
    line-height: 25px;
}

.source-manage-source-file-connect-name-value
{
    position: absolute;
    top: 0px;
    left: 50px;
    width: 280px;
    height: 25px;
    line-height: 25px;
}

.source-manage-source-public-no-source-container
{
    width: 100%;
    height: 192px;
    position: relative;
}

.source-manage-source-public-no-source-icon
{
    width: 168px;
    height: 96px;
    position: absolute;
    left: 380px;
    top: 140px;
}

.source-manage-source-public-no-source-text
{
    position: absolute;
    top: 250px;
    left: 360px;
    font-size: 13px;
    color: #999999;
    letter-spacing: 1px;
    width: 210px;
    text-align: center
}

.dm-source-file-upload-prompt_new
{
    position: absolute;
    top: 40px;
    left: 120px;
    width: 250px;
    height: 25px;
    line-height: 25px;
}

.dm-source-file-upload-area_new
{
    position: absolute;
    top: 80px;
    left: 0px;
    width: 99%;
    height: 340px;
    border-style: dashed;
    border-color: #E5E5E5;
    border-width: 1px;
    border-spacing: 2px;
    background: #FAFAFA;
}

.dm-source-file-upload-btn_new
{
    position: absolute;
    top: 40px;
    left: 0px;
    width: 100px;
    height: 23px;
    background-color: #5582f3;
    background-color: var(--color-main, #5582f3);
    border-radius: 2px;
    text-decoration: none;
    line-height: 19px;
    cursor: pointer;
}

.dm-source-db-file-upload-detail_new
{
    position: absolute;
    left: 20px;
    height: 23px;
    top: 100px;
    width: 100%;
}

.dm-source-file-upload-setting-reload_new
{
    position: absolute;
    top: 140px;
    left: 0px;
    width: 99%;
    height: 200px;
    border-top: 1px solid #ddd;
}

.dm-source-file-upload-detail_new
{
    position: absolute;
    left: 20px;
    height: 16px;
    top: 100px;
    width: 100%;
}

.source-manage-openApi-left-side
{
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width: 30%;
    border-right: 1px solid #CBCBCB;
}

.source-manage-openApi-right-side
{
    position: absolute;
    top:0px;
    right:0px;
    height: 100%;
    width: 70%;
}

.source-manage-openApi-notice-icon
{
    position: absolute;
    float: left;
    width: 32px;
    height: 32px;
    top: 5px;
    transform: scale(0.85);
    -webkit-transform: scale(0.85);    /* for Chrome || Safari */
    -moz-transform: scale(0.85);       /* for Firefox */
    -ms-transform: scale(0.85) ;        /* for IE */
    -o-transform: scale(0.85);         /* for Opera */
}

.modelset-type-select-main {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden auto;
}

.modelset-type-typelist-title
{
    font-size: 12px;
    height: 26px;
    line-height: 20px;
    font-weight: bold;
    color: #666;
}

.modelset-type-typelist-list .sa-ctrl-list-owner
{
    position: relative;
}

.modelset-type-no-source-container {
    position: absolute;
    width: 170px;
    height: 110px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #999999;
    text-align: center;
}

.modelset-type-no-source-icon {
    width: 170px;
    height: 98px;
}