/*!*******************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/controls/swcdetaillistpc/components/payDetailList.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************/
.pay-detail-list {
  display: flex;
  padding: 6px 12px;
  background: #fff;
  flex-direction: column;
  border-radius: 4px;
}
.pay-detail-list .pay-group {
  display: flex;
  flex-direction: column;
  margin-top: 6px;
  margin-bottom: 12px;
}
.pay-detail-list .group-header {
  display: flex;
  margin-bottom: 6px;
}
.pay-detail-list .group-container {
  display: flex;
  flex-wrap: wrap;
}
.pay-detail-list .header-name-container {
  display: flex;
  align-items: center;
}
.pay-detail-list .header-prefix {
  width: 4px;
  height: 12px;
  background: #276ff5;
  margin-right: 8px;
}
.pay-detail-list .header-name {
  font-size: 14px;
  color: #212121;
  letter-spacing: 0;
  line-height: 20px;
  font-weight: 600;
}
.pay-detail-list .header-pay {
  display: flex;
  font-size: 16px;
  color: #212121;
  letter-spacing: 0;
  line-height: 24px;
  font-weight: 600;
}
.pay-detail-list .pay-item {
  display: flex;
  justify-content: space-between;
  padding: 5px 32px 5px 12px;
  flex-basis: 33.333333%;
  max-width: 33.33333%;
}
.pay-detail-list .pay-item {
  border-right: 1px solid #e2e7ef;
}
.pay-detail-list .pay-item:nth-child(3n) {
  padding-left: 32px;
  border-right: none;
}
.pay-detail-list .pay-item:nth-child(3n-1) {
  padding-left: 32px;
}
.pay-detail-list .item-name {
  font-size: 14px;
  color: #666666;
  letter-spacing: 0;
  line-height: 20px;
  font-weight: 400;
  margin-right: 16px;
  max-width: 60%;
}
.pay-detail-list .item-pay {
  font-size: 14px;
  font-size: 14px;
  color: #212121;
  letter-spacing: 0;
  line-height: 20px;
  font-weight: 400;
  flex: 1;
  text-align: right;
  max-width: 40%;
}
.pay-detail-list .item-text {
  display: flex;
  flex-direction: row-reverse;
  font-size: 14px;
  color: #212121;
  letter-spacing: 0;
  line-height: 20px;
  font-weight: 400;
  max-width: 40%;
  flex: 1;
}
.pay-detail-list .adm-divider-horizontal {
  margin: 6px 0;
}
