.collaboration-space-switch-container
{
    background-color: white;
}
.collaboration-space-container
{
    max-height: 440px;
    overflow-x: hidden;
    overflow-y: auto;
}
.collaboration-space-mgmt-button
{
    cursor: pointer;
    height: 34px;
    background-color: white;
}
.collaboration-space-mgmt-text
{
    line-height: 30px;
    color: #666;
    margin-left: 27px;
    display: inline-block;
}
.collaboration-space-mgmt-text:hover
{
    color: #2B87F3 !important;
}
.collaboration-space-mgmt-icon
{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 3px;
    margin-top: 5px;
}
.collaboration-space-split-line
{
    border-bottom: solid #d9d9d9 1px;
    float: left;
    width: 100%;
}
.collaboration-search-space-box
{
    position: relative;
    width: 100%;
    height: 30px;
    transition: width 0.12s ease-in 0s;
    color: #666;
}
.collaboration-group-space-list
{
    position: relative;
    top: 0px;
    bottom: 34px;
    left: 0px;
    right: 0px;
}
.collaboration-space-list
{
    width: 241px;
}
.collaboration-group-head
{
    background-color: #f0f0f0;
    border-bottom: 1px solid rgba(225, 225, 225, 1);
    cursor: pointer;
}
.collaboration-group-head-text
{
    position: relative;
    line-height: 30px;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    left: 15px;
    display: inline-block;
    color: #666666;
}
.collaboration-group-head-icon
{
    width: 20px;
    height: 15px;
    float: right;
    margin-top: 8px;
    margin-right: 8px;
    display: inline-block;
}
.collaboration-group-item
{
    height: 34px;
    cursor: pointer;
}
.collaboration-group-item-name
{
    margin-top: 5px;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 22px;
}
.collaboration-group-item-selected
{
    background-color: #5582f3;
    background-color: var(--color-lightish, #5582f3);
    color: #fff;
}
.collaboration-group-item-selected:hover
{
    background-color: #5582f3;
    background-color: var(--color-lightish, #5582f3);
    color: #fff;
}

.qing-space-manage-toolbar {
    position: relative;
    height: 30px;
    top: -3px;
}

.qing-space-manage-toolbar-btn {
    position: relative;
    height: 15px;
    display: inline-block;
    line-height: 15px;
    cursor: pointer;
    color: #5582F3;
    color: var(--color-main, #5582f3);
    top: 4px;
    letter-spacing: 1px;
}

.qing-vertical-separator {
    border-right: solid 1px #ccc;
    margin: 0px 10px;
    height: 15px;
    display: inline-block;
    width: 1px;
    position: relative;
    top: 7px;
}

.qing-space-manage-search-box {
    position: relative;
    display: inline-block;
    height: 23px;
    width: 200px;
    float: right;
    margin-right: 10px;
}

.qing-space-manage-sort-selector
{
    position: relative;
    display: inline-block;
    height: 23px;
    width: 80px;
    float: right;
}

.qing-space-manage-content {
    position: relative;
    height: calc(100% - 30px);
}

.qing-space-card-panel {
    border: solid 1px #dbdbdb;
    padding: 10px;
    overflow-y: auto;
}

.qing-space-card-panel-expand
{
    max-height: calc(100% - 90px);
}

.qing-space-card-panel-top {
    position: relative;
    height: 20px;
    cursor: pointer;
}

.qing-space-card-panel-triangle {
    width: 0px;
    height: 0px;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 5px solid rgb(51, 51, 51);
    display: inline-block;
    position: relative;
    top: -2px;
}

.qing-space-card-panel-title {
    font-size: 14px;
    font-weight: 700;
    white-space: normal;
    color: rgb(51, 51, 51);
    letter-spacing: 0.57px;
    display: inline-block;
}

.qing-space-card-panel-triangle-right {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #333333;
    display: inline-block;
}

.qing-space-card-panel-no-data {
    position: relative;
    width: 100%;
    height: 200px;
}

.qing-space-card-panel-no-data-icon {
    width: 170px;
    height: 97px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}

.qing-space-card-panel-no-data-text {
    position: relative;
    text-align: center;
    color: gray;
    top: 65px;
}

.qing-space-card-member-no-data {
    position: relative;
    height: 100%;
    width: 100%;
}

.qing-space-card-member-no-data-icon {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}

.qing-space-card-member-no-data-text {
    position: relative;
    text-align: center;
    color: gray;
    top: 195px;
}

.qing-space-card-item {
    border: solid 1px #dbdbdb;
    position: relative;
    display: inline-block;
    width: 300px;
    height: 150px;
    margin: 10px 10px 0px 0px;
    overflow: hidden;
    padding: 10px 10px 0px 10px;
    box-sizing: border-box;
    color: #666666;
    border-radius: 3px;
}

.qing-space-card-head {
    position: relative;
    height: 36px;
    overflow: hidden;
}

.qing-space-card-head-icon {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

.qing-space-card-create-time {
    margin: 8px 0px;
}

.qing-space-card-head-name {
    position: relative;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    display: inline-block;
    color: #333333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100% - 50px);
}

.qing-space-card-description
{
    overflow: hidden;
    position: relative;
    height: 36px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
    word-break: break-all;
}

.qing-space-card-toolbar {
    position: absolute;
    width: 100%;
    height: 25px;
    background-color: #F9FBFD;
    left: 0px;
    bottom: 0px;
    padding: 0px 10px;
    box-sizing: border-box;
}

.qing-space-card-toolbar-btn {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 16px;
    height: 16px;
    top: 4px;
}

.qing-space-card-toolbar-btn-right {
    margin-left: 10px;
    float: right;
}

.qing-space-card-panel-search-count {
    position: relative;
    display: inline-block;
}

.qing-space-member-manage-search-box {
    position: absolute;
    right: 3px;
    top: 4px;
    width: 200px;
    height: 23px;
}

.qing-space-member-card {
    display: inline-block;
    width: 150px;
    height: 160px;
    overflow: hidden;
    margin: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    position: relative;
    font-size: 12px;
    color: rgb(102, 102, 102);
}

.qing-space-member-card-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: auto;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: white;
    margin-top: 15px;
}

.qing-space-member-card-no-exist {
    margin-top: 15px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    overflow: hidden;
}

.qing-space-warning-icon {
    display: inline-block;
    margin-right: 5px;
    position: relative;
    top: -5px;
}

.qing-space-member-card-no-exist-text {
    display: inline-block;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.qing-space-member-card-name {
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    color: black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0px 4px;
}

.qing-space-member-card-account {
    text-align: center;
    margin-top: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0px 4px;
}

.qing-space-member-card-role-icon {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}

.qing-space-member-card-role-text {
    display: inline-block;
    position: relative;
    margin-left: 5px;
}

.qing-space-member-card-role {
    position: relative;
    display: inline-block;
}

.qing-space-member-card-role-selector {
    width: 61px;
    height: 20px;
    display: inline-block;
    position: relative;
    text-align: right;
    top: 5px;
}

.qing-space-member-card-remove-btn {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
}

.qing-space-member-card-bottom {
    position: absolute;
    bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.qing-space-member-card-bottom-line
{
    height: 12px;
    position: relative;
    display: inline-block;
    color: #d9d9d9;
    margin-right: 5px;
}

.qing-space-member-delete-tips {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow-wrap: break-word;
}

.qing-space-ref-data-detail-btn {
    font-size: 12px;
    text-align: center;
    margin-top: 3px;
    cursor: pointer;
    color: #5582F3;
    color: var(--color-main, #5582f3);
}

.qing-space-member-card-add-icon {
    width: 56px;
    height: 50px;
    margin: auto;
    top: 51px;
    position: relative;
}

.qing-space-member-card-add-text
{
    color: #5582F3;
    color: var(--color-main, #5582f3);
    font-size: 16px;
    top: 60px;
    left: 40px;
    position: relative;
}

.qing-space-member-card-no-exists-remove-btn {
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.qing-view-member-panel-no-data
{
    position: relative;
    width: 100%;
    height: 100%;
}
.qing-view-member-panel-no-data-icon
{
    width: 170px;
    height: 97px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}
.qing-view-member-panel-no-data-text
{
    position: relative;
    text-align: center;
    color: gray;
    top: 40%;
}
.qing-view-member-table-cell-item
{
    line-height: 28px;
    font-weight: 400;
    color: #333333;
    letter-spacing: 0;
    padding-left: 10px;
    padding-right: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.qing-space-card-panel-triangle-wrapper
{
    position: relative;
    display: inline-block;
    width: 15px;
}

.qing-space-member-manage-tab-content
{
    overflow-y: scroll;
}
.qing-space-default-icon
{
    position: absolute;
    right: 12px;
    height: 16px;
    width: 16px;
    top: 50%;
    margin-top: -8px;
    cursor: pointer;
}
.qing-space-default-icon-hide
{
    display: none;
}