@CHARSET "UTF-8";

.sa-qing-publish-fontfamily
{
	font-family: "Microsoft YaHei",PingFangSC-Regular,"Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;
}

.sa-qing-publish-hidden-export
{
	position: relative;
	height: 28px !important;
	width: 20px;
	margin-left: 10px;
}

.sa-qing-publish-init-tips
{
	position: absolute;
	width: 280px;
	height: 230px;
	top: 50%;
	left: 50%;
	margin-top: -160px;
	margin-left: -120px;
	transform: scaleX(0.85) scaleY(0.85);
	-ms-transform: scaleX(0.85) scaleY(0.85);
	-moz-transform: scaleX(0.85) scaleY(0.85);
	-webkit-transform: scaleX(0.85) scaleY(0.85);
	-o-transform: scaleX(0.85) scaleY(0.85);
}
.sa-qing-publish-no-data-tips
{
	position: absolute;
	width: 220px;
	height: 220px;
	top: 50%;
	left: 50%;
	margin-top: -160px;
	margin-left: -111px;
	transform: scaleX(0.85) scaleY(0.85);
	-ms-transform: scaleX(0.85) scaleY(0.85);
	-moz-transform: scaleX(0.85) scaleY(0.85);
	-webkit-transform: scaleX(0.85) scaleY(0.85);
	-o-transform: scaleX(0.85) scaleY(0.85);
}

.sa-qing-publish-edit-star 
{
	top: 2px;
	width: 5px;
	height: 18px;
	color: #FF0000;
}

.sa-qing-publish-edit-icon {
	margin-top: 24px;
	width: 19px;
	height: 19px;
	float: left;
	background-repeat: no-repeat;
	cursor: pointer;
}

/* 下拉选择器 */
.sa-qing-publish-dropdown-selector
{
	position: absolute;
	background-color: #fff;
	z-index: 99;
}

/* 刷新图标 */
.sa-qing-publish-menuRefresh
{
    z-index: 3;
	cursor: pointer;
	position: absolute;
	right: 15px;
	bottom:4px;
	width:16px;
	height:16px;
}

/*列表下拉选择器*/
.sa-qing-publish-dropdown-selector-list-item 
{
	position: relative !important;
	height: 30px !important;
	line-height: 30px !important;
}

/*弹出窗口选择器-回显框*/
.sa-qing-publish-dialog-selector-input
{
	position: absolute;
	left: 1px;
	right: 1px;
	bottom: 1px;
	top: 1px;
	font-size: 12px;
	color: rgb(102, 102, 102);
	padding-left: 4px;
}
/*弹出窗口选择器-弹出按钮*/
.sa-qing-publish-dialog-selector-input-icon
{
	position: absolute;
	width: 15px;
	height: 15px;
	right: 5px;
	bottom: 6px;
	cursor: pointer;
	z-index: 1;
}

.sa-qing-publish-manager-content-container
{
	position: absolute;
	left: 0px;
	right:0px;
	top: 0px;
	bottom: 0px;
	width:100%;
	overflow-x: hidden;
	overflow-y: auto;
}
.sa-publish-item-list-head
{
	padding-left: 2px;
}
.sa-publish-item-list-head-name
{
	line-height: 28px;
	padding-left: 2px;
	padding-right: 2px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.sa-qing-publish-titlebar
{
	height: 39px;
	position: relative;
	border-bottom: 1px solid #E5E5E5;
}
.sa-qing-publish-manager-op-edit-workButton
{
	position: absolute;
	line-height: 28px;
	color: transparent;
	z-index: 9999;
	cursor: pointer;
	left: 50%;
	width: 18px;
	height: 18px;
	margin-top: 6px;
	margin-left: -9px;
}

.sa-qing-publish-manager-op-delete-workButton
{
	position: absolute;
	line-height: 28px;
	color: transparent;
	z-index: 9999;
	cursor: pointer;
	left: 50%;
	width: 18px;
	height: 18px;
	margin-top: 6px;
	margin-left: 5px;
}

.sa-qing-publish-manager-card-pic-type
{
	width: 16px;
	height: 16px;
	margin-top: 15px;
	float: left;
	margin-left: 10px;
	margin-right: -7px;
}
.sa-qing-publish-manager-searchBox
{
	width: 190px;
	height: 25px;
	float: left;
	left: 15px;
	top: 8px;
	position: relative;
}

.sa-qing-publish-manager-card-list-type
{
	width: 16px;
	height: 16px;
	padding: 1px 2px;
	margin-top: 7px;
	float: left;
	margin-left: 10px;
}

.sa-qing-publish-manager-dir-operator-right-titleBar-card2pic
{
	position: relative;
	width: 18px;
	height: 18px;
	float: right;
	right: -45px;
	top: 13px;
	cursor: pointer;
}

.sa-qing-publish-manager-dir-operator-right-titleBar-card2list
{
	position: relative;
	width: 18px;
	height: 18px;
	float: right;
	right: -105px;
	top: 13px;
	cursor: pointer;
}
.sa-qing-publish-detail-message-panel
{
	position: absolute;
	width: 268px;
	height: 100%;
	right: -1px;
	top: 0px;
	border-left: 1px solid #cccccc;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #fff;
	z-index: 999
}
.qing-publish-detail-message-container
{
	position: absolute;
	width: 100%;
	height: 100%;
}
.sa-qing-publish-item-source-promt
{
	margin-right: 4px;
	color:red;
}
.sa-qing-publish-detail-message-title
{
	color: rgb(102, 102, 102);
	font-weight: bold;
}
.sa-qing-publish-manager-card-detail-message-open {
	position: relative;
	float: right;
	width: 14px;
	height: 17px;
	z-index: 9999;
	cursor: pointer;
}

.sa-qing-publish-manager-card-detail-message-close
{
	position: relative;
	z-index: 9999;
	float: right;
	width: 14px;
	height: 17px;
	margin-right: 254px;
	cursor: pointer;
}

.sa-qing-publish-manager-content-table
{
	position: absolute;
	left: 0px;
	right:0px;
	top: 0px;
	bottom: 0px;
	width:100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.sa-qing-publish-manager-content-emptytip
{
	margin-top: 51px;
	color:#BBBBBB;
	position: absolute;
	text-align: center;
	top: 50%;
	font-size: 16px;
	z-index: 1;
	width: 100%;
}

.qing-publish-lapp-user-empty-tip
{
	position: absolute;
	text-align: center;
	font-size: 16px;
	width: 100%;
}

.sa-ctrl-common-single-selected-row
{
	background-color: #f7f7f7;
	background-color: var(--color-pale, #eff3fd);
}

.sa-qing-publish-manager-op-edit
{
	position: absolute;
    left: 50%;
    width: 40px;
    height: 28px;
    line-height: 28px;
    margin-left: -40px;
}

.sa-qing-publish-manager-op-delete
{
	position: absolute;
    left: 50%;
    width: 40px;
    height: 28px;
    line-height: 28px;
}


/*发布管理中的目录编辑器*/
.sa-qing-publish-manager-dir-editor-container
{
	position: absolute;
	left: 0px;
	top: 34px;
	bottom: 0px;
	width: 219px;
	border-right: 1px solid #E5E5E5;
	overflow-x: hidden;
	overflow-y: auto;
}

.sa-qing-publish-manager-dir-empty
{
	margin-top: 10px;
	color: #BBBBBB;
	position: absolute;
	text-align: center;
	width: 100%;
	font-size: 14px;
}

.sa-qing-publish-manager-dir-item
{
	height: 30px;
	align-items: center;
	color: #828282;
}
.sa-qing-publish-manager-dir-item-newDir
{
	position: absolute;
    height: 33px;
    border-bottom: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
    align-items: center;
    color: #828282;
	width: 219px;
}
.sa-qing-publish-manager-dir-item:hover
{
	background-color: #eff3fd;
	background-color: var(--color-pale, #eff3fd);
	color: #2B87F3 !important;
	color: var(--color-main, #2B87F3) !important;
}
.sa-qing-publish-manager-dir-item-icon 
{
	position: absolute;
	background-position-y: center;
	background-repeat: no-repeat;
	width: 17px;
	height: 15px;
	margin-left: 20px;
	margin-top: 13px;
}

.sa-qing-publish-manager-dir-item-name 
{
	position : absolute;
	margin-left: 20px;
	margin-top: 5px;
	margin-right: 21px;
	height: 20px;
	width : 125px;
	line-height: 21px;
	font-size: 12px;
	letter-spacing: -0.36px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.sa-qing-publish-manager-Card-Lapp-Search-Number-with-color
{
	position : absolute;
	margin-left: 190px;
	margin-top: 5px;
	margin-right: 0px;
	right: 10px;
	height: 20px;
	line-height: 21px;
	font-size: 12px;
	letter-spacing: -0.36px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: var(--color-main, #2B87F3) !important;
}
.sa-qing-publish-manager-Card-Lapp-Search-Number
{
	position : absolute;
	margin-left: 190px;
	margin-top: 5px;
	margin-right: 0px;
	right: 10px;
	height: 20px;
	line-height: 21px;
	font-size: 12px;
	letter-spacing: -0.36px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.sa-qing-publish-manager-Center-Search-Number-with-Color
{
	position : absolute;
	margin-top: -26px;
	margin-right: 5px;
	height: 20px;
	line-height: 21px;
	font-size: 12px;
	letter-spacing: -0.36px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	float: right;
	right: 0px;
	color: var(--color-main, #2B87F3) !important;
}
.sa-qing-publish-manager-Center-Search-Number
{
	position : absolute;
	margin-top: -26px;
	margin-right: 5px;
	height: 20px;
	line-height: 21px;
	font-size: 12px;
	letter-spacing: -0.36px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	float: right;
	right: 0px;
}
.sa-qing-publish-manager-App-menu-Search-Number-with-color
{
	position : relative;
	margin-top: 8px;
	margin-right: 15px;
	height: 20px;
	line-height: 21px;
	font-size: 12px;
	letter-spacing: -0.36px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	float: right;
	/*right: 15px;*/
	color: var(--color-main, #2B87F3) !important;
}
.sa-qing-publish-manager-App-menu-Search-Number
{
	position : relative;
	margin-top: 8px;
	margin-right: 15px;
	height: 20px;
	line-height: 21px;
	font-size: 12px;
	letter-spacing: -0.36px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	float: right;
	/*right: 15px;*/
}
.sa-qing-publish-manager-newDir-item-name
{
	position : absolute;
	margin-left: 20px;
	margin-top: 6px;
	margin-right: 21px;
	height: 20px;
	width : 100px;
	line-height: 21px;
	font-size: 12px;
	color: #828282;
	font-weight: bold;
	letter-spacing: -0.36px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.sa-qing-publish-manager-dir-item-name-edit 
{
	position : absolute;
	margin-left: 20px;
	margin-top: 1px;
	height: 27px;
	width : 198px;
	line-height: 21px;
	font-size: 12px;
	color: #777;
	letter-spacing: -0.36px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.sa-qing-publish-manager-dir-item-name-selected 
{
	width: 220px;
	color: #fff;
	height: 30px;
	align-items: center;
	background-color: #88a7f6;
	background-color: var(--color-lightish, #88a7f6);
}

.sa-qing-publish-manager-dir-item-name-selected:hover
{
	width: 220px;
	background: #2B87F3 !important;
	background: var(--color-main, #2B87F3) !important;
	color: #fff;
	height: 30px;
	align-items: center;
}

.sa-qing-publish-manager-dir-op
{
	float: right;
	width: 50px;
	margin-left: 5px;
	margin-right: 15px;
	display: none;
}

.sa-qing-publish-manager-dir-op-item 
{
	margin-top: 9px;
	margin-left: 2px;
	margin-right: 3px;
	width: 19px;
	height: 19px;
	float: right;
	background-repeat: no-repeat;
	cursor: pointer;
}

.sa-qing-publish-menu-content-emptytip
{
	margin-top: 10px;
	color:#BBBBBB;
	position: absolute;
	text-align: center;
	width: 100%;
	font-size: 16px;
}

.sa-qing-publish-menu-item 
{
	line-height: 36px;
	font-size: 12px;
	color: #828282;
	padding-left: 7px;
	margin-top: -2px;
}

.sa-qing-publish-menu-item:hover 
{
	background-color: #eff3fd;
	background-color: var(--color-pale, #eff3fd);
	color: #2B87F3;
	color: var(--color-main, #2B87F3) ;
}
.sa-qing-publish-list-item-promt
{
	color:red;
	margin-left: 8px;
}
.sa-qing-publish-menu-item-promt
{
	color:red;
	margin-left: 8px;
	margin-right: 8px;
}
.sa-qing-publish-menu-item-selected 
{ 
	background-color: #88a7f6 !important;
	background-color: var(--color-lightish, #88a7f6) !important;
	color: #FFFFFF !important;
}

.sa-qing-publish-menu-item-selected:hover
{
	background: #2B87F3 !important;
	background: var(--color-main, #2B87F3) !important;
	color: #FFFFFF !important;
}


.sa-qing-publish-list-selected-row
{
	background-color: #2b87f3;
	background-color: var(--color-main, #2B87F3) !important;
	opacity: 0.1;
}

.sa-publish-thumbnailcut
{
	border: 1px solid #dbdbdb;
	border-radius: 2px;
}
.sa-publish-thumbnailcut-img
{
	position: absolute;
	width: 100%;
	height: 100%;
	border-width :0px;
}
.sa-publish-thumbnailcut-texttips
{
	position: absolute;
	width: 185px;
	height: 28px;
	left: 50%;
	margin-left: -92.5px;
	bottom: 0;
	z-index: 998;
	text-align: center;
	line-height: 28px; 
	font-size: 12px;
	color: #333;
}
.sa-publish-thumbnailcut-plus-icon
{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 40px;
	height: 40px;
	margin-top: -25px;
	margin-left: -20px;
	border-radius: 50%;
	border: 1px solid rgb(219, 219, 219);
}
.sa-publish-thumbnailcut-cover
{
	position: absolute;
	left: 0;
	top: 0;
	bottom:0;
	right:0;
	cursor: pointer;
	background-color: rgba(115, 178, 250, 0.7);
}
.sa-publish-thumbnailcut-setting
{
	border: solid 1px #ccc;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	background-color: white;
	top: -1px !important;
	bottom: -2px !important;
	left: -2px !important;
	right: -2px !important;
}
.sa-publish-thumbnailcut-container
{
	position: absolute;
	width: 760px;
	height: 380px;
	top: -1px;
	left: 0px;
	right: 0px;
	padding-left: 3px;
	padding-right: 3px;
	border: 1px solid #ccc;
	background-color: #E9ECF1;
}
.sa-publish-thumbnailcut-iframe
{
	position: absolute;
	width: 760px;
	height: 380px;
	top: 0px;
	left: 0px;
	right: 0px;
	border-width: 0px;
}
.sa-publish-thumbnailcut-aperture
{
	position: absolute;
	border: 2px solid #5582f3;
	border: 2px solid var(--color-main, #5582f3);
	box-shadow: 0 2px 4px 0 #5582f3;
	box-shadow: 0 2px 4px 0 var(--color-main, #5582f3);
	z-index: 99;
	cursor: move;
}

.sa-publish-thumbnailcut-shield
{
	position: absolute;
	background: rgba(0, 0, 0, .3);
	z-index: 2;
}
.sa-publish-thumbnailcut-dragchunk
{
	position: absolute;
	right: -2px;
	bottom: -2px;
	width: 12px;
	height: 12px;
	cursor: se-resize;
	background-repeat:no-repeat;
	-moz-background-size:100% 100%;
}

.sa-publish-lapp-item:hover
{
	background-color: #eff3fd;
	background-color: var(--color-pale, #eff3fd);
}


.sa-publish-item
{
	position: relative;
	height: 170px;
	width: 250px;
	float: left;
	border: 1px solid #cccccc;
	border-radius: 2px;
	margin: 10px 5px 3px 5px;
}
.sa-publish-item-head
{
	position: absolute;
	height: 45px;
	width: 100%;
	top: 0;
	left: 0;
}
.sa-publish-item-head-name
{
	/*不要改变宽度width，如果要请考虑预置*/
	width: 135px;
    height: 45px;
    top: 0;
    left: 0;
    font-size: 14px;
    color: #333333;
    line-height: 45px;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
    float: left;
}

.sa-publish-detail-desc-item-head-name
{
	/*不要改变宽度width，如果要请考虑预置*/
	float: right;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: default;
}


.sa-publish-item-head-op-container
{
	position: relative;
	float: right;
	margin-left: 5px;
	margin-right: 25px;
	z-index: 2;
}

.sa-publish-item-head-op-item
{
	position: relative;
	width: 19px;
	height: 19px;
	cursor: pointer;
}

.sa-publish-item-head-op-layout
{
	float: right;
	margin-top: 13px;
	margin-right: 5px;
}

.sa-publish-item-img
{
	position: absolute;
	height: 115px;
	width: 230px;
	bottom: 10px;
	left: 10px;
}

.sa-publish-item-desc-container
{
	position: absolute;
	bottom: 10px;
	width: 230px;
	border: none;
	left: 50%;
	margin-left: -115px;
	font-size: 12px;
	color: rgb(255, 255, 255);
	padding: 8px 12px;
	box-sizing: border-box;
	opacity: 0.7;
	background: #7e8fcb;
	border-radius: 4px;
}

.sa-publish-item-desc-text
{
	display: inline-block;
	text-align: left;
	word-break: break-all;
}

.sa-qing-card-selector-tab-head
{
	border-bottom: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
}

.sa-qing-card-selector-tab-head-text
{
	line-height: 34px;
	font-size: 14px;
	cursor: pointer;
	text-align: center;
	width: 105px;
	position: relative;
	float: left;
	margin-left:-1px;
	border-bottom: 1px solid #E5E5E5;
}

.sa-qing-card-selector-tab-head-selected
{
	line-height: 33px;
	color:  #2B87F3 !important;
	color:  var(--color-main, #2B87F3);
	border-bottom: 2px solid #2B87F3 !important;
	border-bottom: 2px solid var(--color-main, #2B87F3)
}

.sa-qing-card-selector-tab-head-icon
{
	width: 14px;
	height: 14px;
	border-radius: 10px;
	background-color: #5582f3;
	background-color: var(--color-main, #5582f3);
}

.sa-qing-publish-card-content
{
	position: absolute;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
}

.sa-qing-publish-card-main
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
}

.sa-qing-publish-card-icon
{
	cursor: pointer;
	width: 16px;
	height: 16px;
}

.sa-qing-publish-card-extraicon-text
{
	font-family: PingFangSC-Regular;
	height: 15px;
	line-height: 15px;
	font-size: 15px;
	color: #777777;
	letter-spacing: -0.36px;
	cursor: pointer;
}

.sa-qing-publish-card-extraicon-border
{
	border-right: 1px solid #D5DAE6;
}

.sa-qing-publish-card-showmoreicon
{
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 5px;
	width: 16px;
	height: 16px;
}

.sa-qing-publish-card-iconcontainer
{
	position: absolute;
	width: 90px;
	height: 22px;
	border-radius: 2px;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
	border: 1px solid rgb(229, 229, 229);
	background: #fff;
	z-index: 66666;
}

.sa-qing-public-card-iconimplicit
{
	position: relative;
	float: right;
	margin: 2px 7px 2px 7px;
}

.sa-qing-public-card-arrow
{
	position: absolute;
	z-index: 66667;
	border-top: 1px solid rgb(229, 229, 229);
	border-left: 1px solid rgb(229, 229, 229);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #fff;
}

.sa-qing-public-card-container
{
	position: absolute;
	overflow: hidden;
}

.sa-qing-publish-card-head
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 30px;
}

.sa-qing-publish-card-title
{
	position: relative;
	font-size: 14px;
	height: 20px;
	width: 60%;
	line-height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: default;
	white-space: nowrap;
	display: inline-block;
}
.sa-qing-publish-ur-label-selected
{
	position: relative;
    height: 23px;
    display: inline-block;
    left: 5px;
    width: 100px;
}
.sa-qing-publish-ur-label-clear
{
	position: relative;
    width: 50px;
    height: 23px;
    cursor: pointer;
    color: #0097f0;
    float: right;
    display: inline-block;
}
.sa-qing-publish-ur-selected-pane
{
	overflow: auto;
	height: 94%
}
.sa-qing-publish-ur-selected-item
{
	position: relative;
	padding-left: 5px;
	padding-top: 23px;
}
.sa-qing-publish-ur-selected-item:hover
{
	background-color: #d0eeff;
}
.sa-qing-publish-ur-selected-del-icon
{
	position: absolute;
    right: 0px;
    top: 0px;
    height: 16px;
    width: 16px;
    cursor: pointer;
    display: none;
}

.sa-qing-publish-email-manager-schedule-switchbutton
{
	position: absolute;
    top: 50%;
    width: 31px;
    height: 19px;
    border-radius: 9px;
    margin-top: -10px;
    margin-left: 10px;
}

.sa-qing-publish-email-manager-schedule-switchbutton-tips {
    position: absolute;
    top: 50%;
    width: 31px;
    height: 19px;
    border-radius: 9px;
    margin-top: -9px;
    padding-left: 37px;
    color: red;
}

.sa-role-permission-tip
{
	display: none;
	position: absolute;
    left: 350px;
    top: 128px;
	margin: 4px;
	width: 16px;
	height: 16px;
	border-radius: 10px;
	color: #eee;
	text-align: center;
	line-height: 16px;
	font-size: 12px;
	font-weight: bold;
	background-color: #f93;
}

.sa-role-permission-tip-text
{
	box-shadow: 0px 0px 3px 1px #aaa;
    background-color: white;
    z-index: 65536;
   	padding: 3px;
   	color: #666;
   	overflow: auto;
}

.sa-qing-publish-tab-container
{
	width: 100%;
	height: 36px;
	border-bottom: 1px solid #E5E5E5;
}

.sa-qing-publish-tabpane-container
{
	position: absolute;
	top: 36px;
	bottom: 0;
	width: 100%;
}

.sa-qing-publish-tab
{
	position: relative;
    float: left;
	width: 78px;
	height: 30px;
	margin: 0 4px 4px;
}

.sa-qing-publish-tab-border
{
	position: relative;
    float: left;
    width: 1px;
    height: 20px;
    margin-top: 5px;
    background-color: #E5E5E5;
}

.sa-qing-publish-tab_selected
{
	position: absolute;
	top: 35px;
	width: 60px;
	height: 2px;
	background-color: #5582f3;
	background-color: var(--color-main, #5582f3);
}

.sa-qing-publish-manager-editcontent-selector
{
	position: absolute;
	border-radius: 2px;
	z-index: 99;
	box-shadow: 0 1px 6px 0 #ccc;
	background: #fff;
}

.sa-qing-publish-manager-editcontent-selector-item
{
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	color: #666;
	z-index: 99;
	cursor: pointer;
	font-size: 12px;
}
.sa-qing-publish-manager-editcontent-selector-item:hover
{
	background-color: #eff3fd;
	background-color: var(--color-pale, #eff3fd);
	color: #5582f3;
	color: var(--color-main, #5582f3);
}
.sa-qing-publish-manager-name-preset-tag
{
	color: #5582f3;
	color: var(--color-main, #5582f3);
	border: 1px solid #5582f3;
	border: 1px solid var(--color-main, #5582f3);
	padding: 1px 2px;
	margin-top: 5px;
	margin-right: 2px;
	border-radius: 2px;
	float: left;
}

.sa-qing-publish-manager-card-name-preset-tag
{
	color: #5582f3;
	color: var(--color-main, #5582f3);
	border: 1px solid #5582f3;
	border: 1px solid var(--color-main, #5582f3);
	padding: 1px 2px;
	margin-top: 13px;
	border-radius: 2px;
	float: left;
	margin-left: 10px;
}

.sa-qing-publish-manager-menuPanel-preset-tag
{
	color: #b2b2b2;
	border: 1px solid #b2b2b2;
	padding: 1px 2px;
	margin-top: 5px;
	border-radius: 2px;
	float: left;
	margin-left: 20px;
}
.sa-qing-publish-manager-menuPanel-preset-tag-Selected
{
	color: white;
	border: 1px solid white;
	padding: 1px 2px;
	margin-top: 5px;
	border-radius: 2px;
	float: left;
	margin-left: 20px;
}

.sa-qing-publish-manager-group-preset
{
	position: relative;
	right: -140px;
	top: -50px;
	transform: rotate(-35deg);
	-webkit-transform: rotate(-35deg);
	-ms-transform: rotate(-35deg);
	-moz-transform: rotate(-35deg);
	-o-transform: rotate(-35deg);
}

.sa-qing-publish-manager-group-preset-span
{
	position: absolute;
    width: 40px;
    height: 38px;
    text-align: center;
    color: #b2b2b2;
    line-height: 38px;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -o-transform: scale(0.7);
}

.sa-qing-publish-manager-group-preset-icon
{
    position: absolute;
    width: 40px;
    height: 38px;
}

.sa-qing-publish-manager-editcontent-selector
{
	position: absolute;
	border-radius: 2px;
	z-index: 99;
	box-shadow: 0 1px 6px 0 #ccc;
	background: #fff;
}

.sa-qing-publish-manager-editcontent-selector-item
{
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	color: #828282;
	z-index: 99;
	cursor: pointer;
	font-size: 12px;
}
.sa-qing-publish-manager-editcontent-selector-item:hover
{
	background-color: #eff3fd;
	background-color: var(--color-pale, #eff3fd);
	color: #5582f3;
	color: var(--color-main, #5582f3);
}
.sa-qing-publish-manager-dir-editing
{
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: -2px;
    padding-right: 0px;
    position: relative;
    height: 31px;
    left: 0px;
    border: 1px solid rgba(0,0,0,.15);
}
.sa-qing-publish-manager-dir-editing input
{
    top: 0px;
    height: 100%;
    font-size: 12px;
    border: 0;
    margin: 0;
    padding: 0;
}
.sa-qing-publish-manager-dir-operator
{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 60px;
	height: 30px;
	font-size: 12px;
	position: relative;
	margin-top: 2px;
	padding-left: 12px;
	line-height: 30px;
	top: 1px;
	color: #828282;
	font-weight: bold;
	border-bottom: 1px solid #E5E5E5;
	align-items: center;
	letter-spacing: -0.36px;
}
.sa-qing-publish-manager-dir-operator-del
{
	position: absolute;
	right: 5px;
	top: 3px;
	width: 19px;
	height: 19px;
	margin-top: 6px;
	float: right;
	cursor: pointer;
}

.sa-qing-publish-manager-newDir-item-add {
	position: absolute;
	right: 56px;
	top: 3px;
	width: 19px;
	height: 19px;
	margin-top: 7px;
	float: right;
	cursor: pointer;
}
.sa-qing-publish-manager-dir-operator-edit
{
    position: absolute;
    right: 30px;
    top: 3px;
    width: 19px;
    height: 19px;
    margin-top: 6px;
    float: right;
	cursor: pointer;
}
.sa-qing-publish-manager-dir-operator-add-next
{
    position: absolute;
    right: 60px;
    top: 2px;
    width: 19px;
    height: 19px;
    margin-top: 6px;
    float: right;
}
.sa-qing-publish-manager-dir-operator-add-current
{
    position: absolute;
    right: 90px;
    top: 2px;
    width: 19px;
    height: 19px;
    margin-top: 6px;
    float: right;
}

.sa-qing-publish-menu-lists-dir
{
    height: 33px;
    line-height: 33px;
    font-size: 12px;
    padding-left: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
}
.sa-qing-publish-menu-lists-dir-icon 
{
    position: absolute;
    background-position-y: center;
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    margin-left: 12px;
    top: 10px;
    float: left;
}
.sa-qing-publish-menu-lists-dir-text {
    position: relative;
    height: 33px;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	left: 23px;
	top: -1px;
	width: 75%;
}
.sa-publish-menu-lists-item-selected
{
	color: white;
}
.sa-qing-publish-menu-lists-dir-preset
{
	position: absolute;
    padding: 1px 1px;
    margin-top: -27px;
    float: left;
    margin-right: 5px;
    font-size: 12px;
    color: #b2b2b2;
    border: 1px solid #b2b2b2;
    border-radius: 2px;
    line-height: 16px;
}
.sa-qing-publish-menu-lists-dir-preset-selected 
{
   	color: white;
	border-color: white;
	background-color: #88a7f6; 
    background-color: var(--color-lightish, #88a7f6); 
}
.sa-qing-publish-manager-dir-container-analysiscenter
{
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 100%;
	border-right: 1px solid #E5E5E5;
	overflow-y: auto;
}
.sa-qing-publish-menu-lists-dir-opt-icon
{
    left: 7px;
    top: 12px;
    width: 9px;
    height: 9px;
    border: 1px solid rgb(138, 158, 191);
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    float: left;
    font-size: 13px;
    text-align: center;
    line-height: 7px;
	color: black;
}
.sa-qing-publish-menu-lists-dir-opt-icon-selected
{
	border: 1px solid white;
	color: white;
	background-color: #88a7f6; 
    background-color: var(--color-lightish, #88a7f6);
}
.sa-qing-publish-menu-lists-dir-text-edit
{
	position: absolute;
    height: 30px;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    right: 1px;
    line-height: 30px;
    top: 1px;
}

.progress-background
{
	width: 350px;
	margin: 65px 49px 0px 49px;
	height: 10px;
	background-color: #DEEAF2;
	border-radius: 10px;
}

.pushing-tips
{
	font-size: 12px;
	margin-top: 20px;
	text-align: center;
}

.dialog-footer-close
{
	margin-left: -50px;
}

.publish-card-selected
{
	border: 1px solid #5582f3;
	border: 1px solid var(--color-main, #5582f3);
}

.publish-content-table-row-selected
{
	background-color: #5582f3;
	background-color: var(--color-main, #5582f3);
	color: #FFFFFF;
}



@keyframes fade {
	from {
		opacity: 1.0;
	}
	50% {
		opacity: 0.4;
	}
	to {
		opacity: 1.0;
	}
}

@-webkit-keyframes fade {
	from {
		opacity: 1.0;
	}
	50% {
		opacity: 0.4;
	}
	to {
		opacity: 1.0;
	}
}
.publish-card-blink {
	color: #fff;
	animation: fade 500ms infinite;
	-webkit-animation: fade 500ms infinite;
}
.sa-qing-publish-advance-set-ui
{
	border-left: 1px solid #ccc;
}
.sa-qing-publish-advance-set-btn
{
	color: #5582f3;
	color: var(--color-main, #5582f3);
	cursor: pointer;
	text-align: right;
	position: absolute;
	right: 0px;
}
.sa-qing-publish-view-tools
{
	background-color: silver;
}
.sa-qing-publish-select-user-ui
{
	border:1px solid #e6e6e6;
	position: absolute;
	background-color: white;
	z-index: 99;
}
.sa-qing-publish-search-head-ui
{
	left: 10px;
	right: 10px;
	border-bottom: 1px solid #e6e6e6;
	position: absolute;
	height: 21px;
}
.sa-qing-publish-search-box
{
	left: 30px;
	height: 20px;
	float: right;
	right: 0px;
	position: absolute;
	line-height: 18px;
}
.sa-qing-publish-select-user-search-icon
{
	left: 10px;
	width: 20px;
	height: 16px;
	margin-top: 2px;
	position: absolute;
}
.sa-qing-publish-select-user-middle
{
	padding: 10px;
	position: absolute;
	width: 90%;
	top: 25px;
	bottom: 25px;
	overflow-y: auto;
}
.sa-qing-publish-select-user-bottom-ui
{
	bottom: 5px;
	height: 20px;
	width: 100%;
	position: absolute;
	border-top: 1px solid #e6e6e6;
}
.sa-qing-publish-select-user-ok-btn
{

}
.sa-qing-publish-advance-analysis-ui
{
	background-color: #f5f5f5;
}
.sa-qing-publish-select-user-clear-btn
{
	cursor: pointer;
	color: #5582f3;
	color: var(--color-main, #5582f3);
}
.sa-qing-publish-carry-user-selector-user-cbox
{
	position: relative
}
.sa-qing-publish-card-refreshicon-right
{
	cursor: pointer;
	position: absolute;
	right: 0px;
	top: 5px;
	width: 16px;
	height: 16px;
}
.public-icon-hide
{
	display: none;
}
.public-setdefault-icon
{
	width: 16px;
	height: 16px;
	position: absolute;
	right: 40px;
	margin-top: -20px;
}
.public-edit-icon
{
	width: 16px;
	height: 16px;
	position: absolute;
	right: 12px;
	margin-top: -20px;
}
.pubilc-input-text
{
	width: 302px;
	height: 22px;
	line-height: 22px;
	border: none;
	margin-top: -3px;
	margin-left: -10px;
}
.sa-qing-publish-ctrl-textfield-input
{
	position: absolute;
	left: 1px;
	width: 90%;
	top: 0px;
	height: 100%;
	font-size: 12px;
	border: 0;
	margin: 0;
	padding: 0;
	padding-left: 4px;
	background-color: rgba(255,255,255,0);
	outline: none;
	cursor: pointer;
}
.history-publish-name
{
	position: absolute;
	/*right: 52px;*/
	/*top: 124px;*/
	z-index: 9999;
	color: #c5c5c5;
}
.publish-manage-left
{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
}
.sa-qing-publish-workbutton
{
	/*text-align: center;*/
	border-radius: 2px;
	cursor: pointer;
	color: #5582f3;
	color: var(--color-main, #5582f3);
	pointer-events: auto;
}
.publish-no-data-tips
{
	text-align: center;
	color: #666;
	width: 100%;
	height: 100%;
	background-position: center !important;
}
.publish-no-data-tips-span
{
	position: relative;
	top: 310px;
}
.publish-permission-label-cell-text
{
	vertical-align: middle;
	padding-left: 4px;
	padding-right: 4px;
	line-height: 28px;
}

.publish-permission-label-edit-icon {
	height: 18px;
	width: 18px;
	position: relative;
	top: calc(50% - 8px);
	left: calc(50% - 8px);
	cursor: pointer;
}

.publish-info-wrapper
{
	position: absolute;
	height: 100%;
	overflow: auto;
}

.publish-info-wrapper-right
{
	border-left: 1px solid rgb(204, 204, 204);
	right: 0px;
	box-sizing: border-box;
	padding-left: 10px;
}

.publish-perm-label-setting-split-pane
{
	width: 100%;
	height: 100%;
}

.publish-perm-label-setting
{
	height: 50%;
	position: relative;
	padding-left: 10px;
	width: calc(100% - 10px);
}

.publish-perm-label-setting-editor
{
	position: absolute;
	width: calc(100% - 10px);
	height: calc(100% - 30px);
}

.publish-permission-label-manage-icon
{
	height: 18px;
	width: 18px;
	cursor: pointer;
	position: absolute;
	right: 0px;
	top: 5px;
}
.publish-content-tabel-checkbox-cell
{
	position: absolute;
	width: 23px;
	height: 23px;
	left: calc(50% - 7px);
	top: 5px;
}

.publish-reference-cell
{
	height: 100%;
	width: 100%;
}

.publish-reference-type-icon
{
	display: inline-block;
}

.publish-reference-name
{
	display: inline-block;
	height: 100%;
	margin-left: 5px;
	position: relative;
	line-height: 30px;
	top: -5px;
}

.publish-permission-label-editor
{
	height: 88px;
	margin-top: 10px;
	width: calc(100% - 14px);
	left: 10px;
	position: relative;
}

.publish-permission-container
{
	position: relative;
	width: calc(100% - 12px);
	border: #ccc solid 1px;
	box-sizing: border-box;
	padding: 10px;
	height: calc(100% - 125px);
	left: 10px;
}

.publish-permission-item-container
{
	position: relative;
	width: 100%;
	height: 30px;
	margin-bottom: 5px;
}

.publish-permission-item-title
{
	position: relative;
	display: inline-block;
	width: 75px;
	height: 20px;
	vertical-align: top;
	top: 6px;
}

.publish-permission-item-setting-area
{
	position: relative;
	display: inline-block;
	width: calc(100% - 75px);
	height: 30px;
}

.publish-permission-operate-container
{
	height: calc(100% - 70px);
	width: 100%;
	position: relative;
}

.publish-permission-operate-setting-area
{
	position: relative;
	display: inline-block;
	width: calc(100% - 75px);
	height: calc(100% - 5px);
	top: 5px;
}

.publish-permission-label-operate-cell
{
	position: relative;
	top: 50%;
	left: 50%;
	width: 18px;
	transform: translate(-50%, -50%);
	height: 18px;
}

.publish-permission-label-operate-cell-btn
{
	height: 18px;
	width: 18px;
	position: relative;
	cursor: pointer;
	display: inline-block;
}

.publish-perm-label-ref-content
{
	position: absolute;
	width: calc(100% - 2px);
	height: calc(100% - 35px);
	border: 1px solid rgb(204, 204, 204);
	top: 33px;
}

.publish-perm-label-ref-publish-table
{
	position: absolute;
	width: 100%;
	height: calc(100% - 32px);
	top: 32px;
}

.publish-perm-label-ref-no-data
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.publish-perm-label-ref-publish-type-icon
{
	width: 16px;
	height: 16px;
	display: inline-block;
	position: relative;
}

.publish-perm-label-ref-publish-cell
{
	width: 100%;
	position: relative;
	padding: 0px 4px;
	box-sizing: border-box;
	top: 50%;
	transform: translateY(-50%);
	color: rgb(102, 102, 102);
	font-family: "Microsoft YaHei";
	font-size: 12px;
}
.publish-perm-label-ref-publish-cell-name
{
	display: inline-block;
	margin-left: 5px;
	position: relative;
	top: -3px;
}
.publish-batch-operate-btn
{
	position: relative;
	display: inline-block;
	cursor: pointer;
	color: #5582f3;
	color: var(--color-main, #5582f3);
	pointer-events: auto;
	border: 1px solid;
	border-color: #5582f3;
	border-color: var(--color-main, #5582f3);
	padding: 0px 2px;
}
.publish-batch-operate-cell-content
{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: "Microsoft YaHei";
	font-size: 12px;
	width: 115px;
	/*visibility: hidden;*/
}

/*.publish-batch-operate-cell:hover .publish-batch-operate-cell-content*/
/*{*/
/*	visibility: visible !important;*/
/*}*/

.publish-batch-manager-btn
{
	width: 18px;
	height: 18px;
	cursor: pointer;
}

.qing-publish-warning
{
	position: relative;
	top: 50%;
	left: 2px;
	transform: translateY(-50%);
}

.qing-publish-batch-tips
{
	color: #666;
}

/*激活单元格显示单元格的初始状态是隐藏*/
.qing-publish-table-cell-active-show
{
	visibility: hidden;
}
/*激活单元格隐藏单元格的初始状态是显示*/
.qing-publish-table-cell-active-hide
{
	visibility: visible;
}
/*激活单元格显示单元格*/
.qing-publish-table-cell:hover .qing-publish-table-cell-active-show
{
	visibility: visible !important;
}
/*激活单元格隐藏单元格*/
.qing-publish-table-cell:hover .qing-publish-table-cell-active-hide
{
	visibility: hidden !important;
}


.qing-publish-info-wrapper
{
	position: relative;
	width: 50%;
	height: 100%;
	float: left;
	overflow: hidden;
	box-sizing: border-box;
}

.qing-publish-info-label
{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.qing-publish-info-items-block
{
	position: relative;
	margin-top: 10px;
	width: 100%;
	border: 1px solid #ccc;
	box-sizing: border-box;
	padding: 0px 10px 15px 10px;
}

.qing-publish-info-item
{
	position: relative;
	margin-top: 15px;
	height: 25px;
	width: 100%;
}

.qing-publish-permission-panel
{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.qing-publish-permission-label-editor
{
	position: relative;
	margin-top: 10px;
	height: 107px;
	width: 100%;
	box-sizing: border-box;
}

.publish-perm-label-setting-tips
{
	position: absolute;
	width: 170px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.qing-publish-ellipsis-text
{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}