.analysiscenter-body
{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background: #E7EAED;
}
.analysiscenter-pane
{
	position: absolute;
	left: 10px;
	right: 10px;
	top: 10px;
	bottom: 10px;
}
.analysiscenter-leftpane
{
	overflow: hidden;
	background: #FFFFFF;
	margin-top: 32px;
}
.analysiscenter-leftpane-tool-label
{
	position: relative;
	height: 32px;
	width: 200px;
	z-index: 2;
	background-color: #F4F4F4;
}
.analysiscenter-leftpane-searchbox
{
	position: relative;
	height: 25px;
	width: 220px;
	z-index: 2;
}
.analysiscenter-leftpane-search-nothing
{
	height: 40px;
	width: 200px;
	margin-top: 60px;
	text-align: center;
	z-index: 2;
	position: relative;
}
.analysiscenter-rightpane
{
	border: 1px solid rgba(0,0,0,.15);
	background: #FFFFFF;
}
.analysiscenter-leftpane-collapse
{
	width: 10px;
	height: 16px;
	float: right;
	margin-right: 20px;
	margin-top: 24px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
}
.analysiscenter-collapse
{
	width: 25px;
}
.analysiscenter-message 
{
	position: absolute;
    width: 370px;
    height: 370px;
    left: 50%;
    top: 50%;
    margin-left: -185px;
    margin-top: -185px;
    text-align: center;
}
.analysiscenter-message-background 
{
	height: 200px;
	width: 280px;
	position: absolute;
	left: 50%;
	top: 30%;
	margin-left: -140px;
	margin-top: -100px;
}
.analysiscenter-empty-background 
{
	position: relative;
	height: 200px;
	width: 200px;
	left: 0px;
	margin: 0 auto;
}
.analysiscenter-message-text
{
	position: absolute;
    width: 100%;
	top: 210px;
    font-size: 16px;
    text-align: center;
    color: #353C45;
}
.analysiscenter-collapse-icon
{
    position: absolute;
    right: 16px;
    top: 8px;
    width: 16px;
    height: 16px;
}
.analysiscenter-collapse-icon-right 
{
	left: -8px;
    width: 16px;
    height: 16px;
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}

.analysiscenter-rightpane-iframe
{
	width: 100%;
	height: 100%;
	border: 0px;
	overflow: hidden;
}

.analysiscenter-search-icon
{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 8px;
    right: 88px;
}


.analysiscenter-menu-lists
{
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	position: relative;
	overflow: hidden;
	height: 99.9%;
}
.analysiscenter-menu-lists-dir
{
	height: 33px;
	line-height: 33px;
}

.analysiscenter-menu-lists-dir-icon {
    position: absolute;
    background-position-y: center;
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    margin-left: 12px;
    top: 8px;
    float: left;
}

.analysiscenter-menu-lists-dir-text {
    position: relative;
    height: 33px;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.analysiscenter-menu-lists-item-icon 
{
    position: absolute;
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    margin-top: -25px;
    float: left;
}
.analysiscenter-menu-lists-item-preset-tag
{
	position: absolute;
    padding: 1px 1px;
    margin-top: -27px;
    float: left;
    margin-right: 5px;
    font-size: 12px;
    color: #b2b2b2;
    border: 1px solid #b2b2b2;
    border-radius: 2px;
    line-height: 16px;
}
.analysiscenter-menu-lists-item-selected
{
	color: white;
	background-color: #88a7f6; 
    background-color: var(--color-lightish, #88a7f6); 
}
.analysiscenter-menu-lists-item-preset-selected
{
    color: white;
    border: 1px solid white;
}
.analysiscenter-order-icon
{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 8px;
    right: 40px;
}
.analysiscenter-order-moveup
{
   	left: 705px;
   	float: left;
   	color: #88a7f6;
  	color: var(--color-main, #88a7f6);
}
.analysiscenter-order-moveup:hover
{
	color: white; 
	background-color: #88a7f6;
	background-color: var(--color-main, #88a7f6);
	cursor: pointer;
}
.analysiscenter-order-movedown
{
   	right: 20px;
   	float: right;
   	color: #88a7f6;
   	color: var(--color-main, #88a7f6);
}
.analysiscenter-order-movedown:hover
{
	color: white; 
	background-color: #88a7f6;
	background-color: var(--color-main, #88a7f6);
	cursor: pointer;
}
.analysiscenter-refresh-icon
{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 8px;
    right: 64px;
}
